﻿@model Erp.Core.Services.Merchandising.VMStyleView
@using (Html.BeginForm("StyleView", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ActionId)
    @Html.HiddenFor(model => model.vmBOM.ID)
    @Html.HiddenFor(model => model.vmBOM.Common_RawCategoryFK)
    @Html.HiddenFor(model => model.vmBOM.Merchandising_StyleFK)
    @Html.HiddenFor(model => model.vmBOM.Merchandising_CBSSlaveFK)
    @Html.HiddenFor(model => model.vmBOM.TotalPiece)
    @Html.HiddenFor(model => model.vmBOM.TypeID)

    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead>
                <tr class="bg-success">
                    <th colspan="2">Charge Item</th>
                    <th>Total Cost</th>
                    <th>Description / Remarks</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="2">
                        <div class="form-group remove_Pad">
                            @Html.DropDownListFor(model => model.vmBOM.Common_RawItemFK, ViewBag.SubCategoryList1 as SelectList, "Select Item", new { id = "ItemFK_" + @Model.vmBOM.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.vmBOM.Common_RawItemFK, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        <div class="form-group remove_Pad">
                            @Html.TextBoxFor(model => model.vmBOM.UnitPrice, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.vmBOM.UnitPrice, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        <div class="form-group remove_Pad">
                            @Html.TextBoxFor(model => model.vmBOM.Description, new { @class = "form-control", @style = "width:100%;", placeholder = "Description / Remarks" })
                            @Html.ValidationMessageFor(model => model.vmBOM.Description, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        <button type="submit" id="btnsave" class="btn btn-primary btn-flat">ADD</button>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

}