﻿@model Erp.Core.Services.Merchandising.VMStyleView
@using (Html.BeginForm("StyleView", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ActionId)
    @Html.HiddenFor(model => model.vmBOM.ID)
    @Html.HiddenFor(model => model.vmBOM.Common_RawCategoryFK)
    @Html.HiddenFor(model => model.vmBOM.Merchandising_StyleFK)
    @Html.HiddenFor(model => model.vmBOM.Merchandising_CBSSlaveFK)
    @Html.HiddenFor(model => model.vmBOM.TotalPiece)
    @Html.HiddenFor(model => model.vmBOM.TypeID)
    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead>
                <tr class="bg-success">
                    <th>Item Name</th>
                    <th colspan="2"> @Html.DisplayFor(model => model.vmBOM.RawCategory) Type</th>
                    @*<th>GSM  </th>*@
                    <th>Consumption (Per Dz)</th>
                    <th>Consumption Pcs</th>
                    <th>Tolerance (%)</th>
                    <th>Item Cost (Per Unit)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                        <div class="form-group remove_Pad">
                            @Html.DropDownListFor(model => model.vmBOM.SelfReferenceFK, ViewBag.FabricList as SelectList, "Select Fabric", new { @class = "searchingDropdown form-control", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.vmBOM.SelfReferenceFK, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th colspan="2">
                        <div class="form-group remove_Pad">
                            @Html.DropDownListFor(model => model.vmBOM.Common_RawItemFK, ViewBag.SubCategoryList1 as SelectList,"Select "+ @Model.vmBOM.RawCategory +" Type", new { id = "ItemFK_" + @Model.vmBOM.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.vmBOM.Common_RawItemFK, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    @*<th>
                        <div class="form-group remove_Pad">
                            @Html.TextBoxFor(model => model.vmBOM.GSM, new { id = "txt5", @class = "form-control", required = "true", @style = "width:80px;" })
                            @Html.ValidationMessageFor(model => model.vmBOM.GSM, "", new { @class = "text-danger" })
                        </div>
                    </th>*@
                    <th>
                        <div class="form-group remove_Pad">
                            @Html.TextBoxFor(model => model.vmBOM.Consumption, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.vmBOM.Consumption, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        <div class="form-group remove_Pad">
                            @Html.TextBoxFor(model => model.vmBOM.ConRequiredQty, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.vmBOM.ConRequiredQty, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        <div class="form-group remove_Pad">
                            @Html.TextBoxFor(model => model.vmBOM.Tolerance, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.vmBOM.Tolerance, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        <div class="form-group remove_Pad">
                            @Html.TextBoxFor(model => model.vmBOM.UnitPrice, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100%;" })
                            @Html.ValidationMessageFor(model => model.vmBOM.UnitPrice, "", new { @class = "text-danger" })
                        </div>
                    </th>
                    <th>
                        <button type="submit" id="btnsave" class="btn btn-primary btn-block btn-flat">ADD</button>
                    </th>
                </tr>
                <tr>
                    <th colspan="8">
                        <div class="form-group remove_Pad">
                            @Html.TextBoxFor(model => model.vmBOM.Description, new { @class = "form-control", @style = "width:100%;", placeholder = "Description / Remarks" })
                            @Html.ValidationMessageFor(model => model.vmBOM.Description, "", new { @class = "text-danger" })
                        </div>
                    </th>
                </tr>
            </tbody>
        </table>
    </div>

}