﻿@model Erp.Core.Services.Production.VMSectionLine

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @using (Html.BeginForm("SectionLine", "Production", FormMethod.Post, new { id = "SectionLine", @class = "formValidator" }))
        {
            <div class="box-body">
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.ActionId)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Production Floor</label>
                            <select asp-for="FloorFk" asp-items="@ViewBag.Floor" class="form-control searchingDropdown" required>
                                <option>Select Production Floor</option>
                            </select>
                            <span asp-validation-for="FloorFk" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Floor Unit Name</label>
                            <input asp-for="Name" type="text" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Floor Unit Code</label>
                            <input asp-for="Code" type="text" maxlength="1" minlength="1" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="Code" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-top:25px">
                        <button type="submit" id="btnsave" class="btn btn-primary btn-block">ADD</button>
                    </div>
                </div>
   
            </div>
        }
    </div>
</div>
