﻿@model Erp.Core.Services.Production.VMSectionLine
@{
    var tdId = "tdId";
    int sl = 0;
}
<div class="box-body">
    <div class="table-responsive">
        <table id="tableABC" class="table table-striped text-nowrap">
            <thead>
                <tr>
                    <th>SL</th>
                    <th class="hidden"></th>
                    <th>Floor Unit Name</th>
                    <th>Floor Unit Code</th>
                    <th>Production Floor</th>
                    <th>Production Unit</th>
                    <th>Business Unit</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Datalist)
                {
                <tr>
                    <td>@(++sl).</td>
                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                    <td>@item.Name</td>
                    <td>@item.Code</td>
                    <td>@item.Floor</td>
                    <td>@item.Building</td>
                    <td>@item.Unit</td>
                    <td>
                        <a data-modal="" class="linkPointer" asp-action="SectionEdit" asp-controller="Production" asp-route-ID="@item.ID"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a> &nbsp;
                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>


                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>