body {
    font-family: Arial;
    background: #f7f7f7 url(../images/inner_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.englishfont {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.mdl-chip__text {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

.headerBlockfirst {
    background-color: #ea2448;
    color: #fff;
    text-align: center;
    padding: 20px 20px 55px 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.headerBlockLogin {
    min-height: 110px;
}

.loginbg .mdl-textfield__label {
    color: #fefefe
}

.loginbg .mdl-textfield__input {
    border: 1px solid #e4e4e4;
    background-color: #fff
}

.headerBlockLogin .bgimg {
    width: 100%;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
}

.headerBlockLogin .infobtn {
    padding: 10px;
    float: left;
    z-index: 1000;
    position: relative
}

.headerBlockLogin .logobtn {
    padding: 20px 20px 10px 10px;
    float: right;
    z-index: 1;
}

.loginbg .headerBlockLogin .infobtn {
    padding: 0px 13px;
    float: left;
    z-index: 1000;
    position: relative
}

.loginbg .headerBlockLogin .logobtn {
    padding: 0px 10px 10px 10px;
    float: right;
    z-index: 1;
}

.header1 {
    font-weight: bold;
    font-size: 20px;
    padding: 30px 10px 20px 20px;
    font-weight: 400;
}

.headerBlockLogin .header1 {
    font-weight: 400;
    font-size: 20px;
    padding: 20px 10px 20px 17px;
    color: #fff;
}

.accinfo {
    padding: 0px 16px;
}

    .accinfo a {
        text-decoration: none
    }

    .accinfo div {
        color: #282828;
        font-size: 12px
    }

.heading {
    text-align: center;
    color: #606cb4;
    font-size: 16px;
    padding: 23px 7px 7px 7px;
    font-weight: bold;
    min-height: 60px;
}

.smallf {
    font-size: 0.7em;
    color: #aaa;
    border: 1px dashed #455adb;
    padding: 4px;
    margin-bottom: 10px;
    border-radius: 0.3em;
}

.headingb {
    text-align: center;
    color: #4b4b4b;
    font-size: 18px;
    padding: 23px 7px 7px 7px;
    min-height: 60px
}

.pageborder {
    box-shadow: 0px 0px 5px #a3a3a3;
}

.gap1 {
    min-height: 48px;
    width: 100%
}

.gap2 {
    min-height: 40px;
    width: 100%
}

.gap3 {
    min-height: 10px;
    width: 100%
}

.iconbtn {
    margin: 10px 20px 60px 20px;
    text-align: center;
}

    .iconbtn button {
        cursor: pointer;
        z-index: 1000;
    }

        .iconbtn button:nth-child(1) {
            float: left;
        }

        .iconbtn button:nth-child(3) {
            float: right;
        }

.logoMiddle {
    font-size: 25px;
}

.skip_btn_right {
    text-align: right;
}

    .skip_btn_right a {
        color: #fff;
        text-decoration: none;
        z-index: 900;
        position: relative
    }

    .skip_btn_right i {
        vertical-align: middle;
        font-size: 18px;
    }

.textHeader3 {
    font-size: 12px;
    margin-top: 10px
}

.mdl-card {
    width: 100%;
}

.instruction {
    color: #606cb4;
    box-shadow: 0px -8px 20px #f8f8f8;
}

.smlInstruction {
    color: #606cb4;
    font-size: 14px;
    margin-top: 18px;
}

.item ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .item ul li {
        border-bottom: 1px solid #ccc;
        padding: 12px 0
    }

        .item ul li:last-child {
            border-bottom: none
        }

.carousel-indicators li {
    background-color: #ccc;
    border: 1px solid #ccc;
}

.carousel-indicators .active {
    background-color: red;
    border: 1px solid red;
}

.iconbtn .mdl-button--fab {
    border-radius: 10%;
    box-shadow: 5px 5px 3px #ece7e8;
    background-color: #fff;
}

.mdl-card__supporting-text {
    width: 100%;
}

.mdl-layout__header {
    background-color: #e81d4e
}

.mdl-card {
    min-height: 80px;
    border-radius: 6px;
    -moz-box-shadow: 0px 5px 10px #ccc;
    -webkit-box-shadow: 0 5px 10px #ccc;
    box-shadow: 0 5px 10px #ccc;
}

.btntxt .micon {
    text-align: right
}

.btntxt .miconc {
    text-align: center
}

    .btntxt .miconc i {
        text-align: center;
        vertical-align: middle;
    }

.btntxt .micon i {
    font-size: 3.5em;
    vertical-align: middle;
}

.btntxt .micon img {
    margin-bottom: 7px
}

.btntxt .mtext {
    font-size: 1.1em;
    text-align: left;
}

.btntxt .mtextc {
    font-size: 0.8em;
    text-align: center;
}

.btntxt a {
    display: block;
    color: #606cb4;
    text-decoration: none;
}

.mdl-textfield__input {
    border: 1px solid rgba(0,0,0,.12);
    padding: 10px;
    border-radius: 0.2em;
}

.mdl-textfield__label {
    padding-left: 0px
}

.mdl-textfield__label {
    top: 0;
    font-size: 13px;
    font-weight: 300;
}
/*Menu page css*/
.mdl-navigation__link {
    font-size: 12px;
    font-weight: bold;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
    color: #606cb4;
    text-decoration: none;
}

.mdl-navigation__link img {
    height: 25px;
    margin-right: 15px
}

.mainmenu {
    background-color: #ea2448;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-height: 150px;
}

    .mainmenu .infobtn {
        padding: 10px;
        float: right;
        z-index: 1000;
        position: relative;
    }

        .mainmenu .infobtn a {
            color: #fff
        }

    .mainmenu .logobtn {
        padding: 20px 20px 0px 20px;
        float: left;
        z-index: 1;
    }

.userimg {
    text-align: right;
    margin-right: 20px
}

    .userimg .mdl-button--fab {
        background-color: #fff;
    }

.mdl-layout__drawer {
    border-right: 0;
}

.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active {
    background-color: #455adb;
    color: #fff;
    border-radius: 0.2em;
    box-shadow: 0 0 18px #ccc;
    text-decoration: none;
    width: 100%;
}

.mdl-tabs__tab {
    width: 100%;
    background-color: #9c9ead;
    color: #fff;
    border-radius: 0.2em;
    box-shadow: 0 0 18px #ccc;
    text-decoration: none;
}

    .mdl-tabs__tab:nth-child(odd) {
        margin: 0px 8px 0 0px;
    }

    .mdl-tabs__tab:nth-child(even) {
        margin: 0px 0px 0 8px;
    }

.mdl-tabs .mdl-cell:nth-child(odd) {
    margin: 10px 15px 10px 0;
}

.mdl-tabs .mdl-cell:nth-child(even) {
    margin: 10px 0px 10px 15px;
}

.mdl-tabs .mdl-grid {
    padding: 8px 0;
}

.mdl-tabs__tab-bar {
    border-bottom: none;
}

.mdl-tabs__tab a:hover, a:focus {
    text-decoration: none;
}

.ctbl td {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #ccc;
    color: #232323;
}

.mdl-card__supporting-text {
    line-height: 18px;
}

.mdl-list__item {
    font-size: 13px;
    min-height: 24px;
    padding: 8px;
}

.mdl-list {
    padding: 0;
}

    .mdl-list span {
        /* font-family: "Roboto","Helvetica","Arial",sans-serif;*/
        text-align: justify;
    }

    .mdl-list .material-icons {
        margin-right: 7px;
    }

.mdl-list__item-primary-content {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}

@media screen and (min-width: 990px) {
    body {
        background: #f7f7f7 url(../images/bgimg.png) no-repeat center center fixed;
    }
}

@media screen and (min-width: 320px) {
    .loggrid {
        margin-top: 35px
    }
}

@media screen and (min-width: 384px) {
    .loggrid {
        margin-top: 110px
    }
}

@media (max-width: 320px) {
    .mdl-cell {
        margin: 5px;
        width: calc(100% - 12px);
    }
}

@media only screen and (max-width: 479px) and (min-width: 400px) {
    .loggrid {
        margin-top: 144px;
    }
}

@media only screen and (max-width: 700px) and (min-width: 480px) {
    .mdl-cell {
        margin: 5px;
        width: calc(90% - 12px);
    }

    .loggrid {
        margin-top: 163px;
    }
}

@media screen and (min-width: 360px ) and (max-width: 399px) {
    .loggrid {
        margin-top: 94px
    }
}

@media screen and (min-width: 768px) {
    .loggrid {
        margin-top: 135px
    }
}

@media screen and (min-width: 800px) {
    .loggrid {
        margin-top: 155px
    }
}

@media screen and (min-width: 900px) {
    .loggrid {
        margin-top: 62px
    }
}

@media screen and (min-width: 980px) {
    .loggrid {
        margin-top: 100px
    }
}

@media screen and (min-width: 1000px) {
    .loggrid {
        margin-top: 55px
    }
}

@media screen and (min-width: 1200px) {
    .loggrid {
        margin-top: 65px
    }
}

@media screen and (min-width: 768px) and (max-width: 839px) {
    .loginbg .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
        width: calc(50% - 16px);
    }
}

@media screen and (min-width: 603px) and (max-width: 767px) {
    .loginbg .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
        width: calc(75% - 16px);
    }
}


@media screen and (min-width: 1200px) and (max-width: 1280px) {
    .loginbg .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
        width: calc(28% - 16px);
    }
}

@media screen and (min-width: 1280px) {
    .loginbg .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
        width: calc(26% - 23px);
    }
}

@media screen and (min-width: 1920px) {
    .loginbg .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
        width: calc(17.6% - 16px);
    }
}

@media screen and (min-width: 840px) and (max-width: 979px) {
    .mdl-cell--4-col, .mdl-cell--4-col-desktop.mdl-cell--4-col-desktop {
        width: calc(48.3333333333% - 70px);
    }
    .loggrid {
        margin-top: 100px
    }
}
@media screen and (min-width: 980px) and (max-width: 1000px) {
    .loggrid {
        margin-top: 50px
    }
}
/*///Loading svg*/
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
}

/* Transparent Overlay */

.loader:before {
    content: '';
    display: block;
    padding-top: 100%;
}

.loader {
    position: relative;
    margin: 0 auto;
    width: 100px;
}

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 350px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}


@keyframes color {
    100%, 0% {
        stroke: #ff0000;
    }

    40% {
        stroke: #ff0000;
    }

    66% {
        stroke: #ff0000;
    }

    80%, 90% {
        stroke: #ff0000;
    }
}
/*///Loading svg*/


.accountant-body {
    background: none !important;
}