﻿@font-face {
    font-family: 'SolaimanLipiNormal';
    src: url('SolaimanLipiNormal.eot');
    src: url('SolaimanLipiNormal.eot?#iefix') format('embedded-opentype'), url('SolaimanLipiNormal.woff2') format('woff2'), url('SolaimanLipiNormal.woff') format('woff'), url('SolaimanLipiNormal.ttf') format('truetype'), url('SolaimanLipiNormal.svg#SolaimanLipiNormal') format('svg');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+0980-09FF;

}

* {
    font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif ;
    -webkit-text-stroke: 0.2px;
   
}


.field-validation-error {
    visibility: visible;
}

.input-validation-error {
    visibility: visible;
}

.validation-summary-errors {
    visibility: visible;
}

.large {
    font-size: 45px !important;
}
.mdl-button {
    font-family: SolaimanLipiNormal, Nikosh2, SolaimanLipi, Nikosh, NikoshBAN, Georgia, sans-serif;
}


