﻿@model Erp.Core.Services.Production.VMProductionReference
<style type="text/css">
    .box-header > .box-tools {
        position: absolute;
        left: 10px;
        top: 5px;
    }
</style>

<div class="box box-info collapsed-box">
    <div class="box-header with-border">
        <h4 class="box-title"></h4>
        <div class="box-tools">
            <button type="button" class="btn btn-block btn-primary" data-widget="collapse">
                <i class="fa fa-plus"></i> Create Cutting Layer
            </button>
        </div>
    </div>
        <div class="box-body" style="display:none">
            @using (Html.BeginForm("CuttingStep", "Production", new { @class = "form-horizontal", role = "form" }))
            {
                <input type="hidden" asp-for="vmDailyProduction.Prod_ReferenceFK" />
                <input type="hidden" asp-for="vmDailyProduction.Prod_LineChiefFK" id="Prod_LineChiefFk" />
                <input type="hidden" asp-for="vmDailyProduction.Prod_SuperVisorFK" id="Prod_SVNameFk" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-lg-3 col-md-3">
                        <div id="divddlLineName" class="form-group" style="display:block">
                            <label for="recipient-name" class="col-form-label">Cutting Table:</label>
                            @Html.DropDownListFor(model => model.vmDailyProduction.Plan_ProductionLineFk, ViewBag.LineList as SelectList, "Select a Table", new { id = "ProductionLineFk", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.vmDailyProduction.Plan_ProductionLineFk, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div id="divddlStyleName" class="form-group" style="display:block">
                            <label for="recipient-name" class="col-form-label">Order Style:</label>
                            @Html.DropDownListFor(model => model.vmDailyProduction.Merchandising_StyleFK, ViewBag.StyleList as SelectList, "Select a Style", new { id = "Merchandising_StyleFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.vmDailyProduction.Merchandising_StyleFK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div id="divddlSubsetName" class="form-group" style="display:block">
                            <label for="recipient-name" class="col-form-label">Style Subset:</label>
                            @Html.DropDownListFor(model => model.vmDailyProduction.Merchandising_StyleSetPackFK, new SelectList(string.Empty, "Value", "Text"), "---Select Subset---", new { id = "Merchandising_StyleSetPackFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.vmDailyProduction.Merchandising_StyleSetPackFK, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div id="divddlColorName" class="form-group" style="display:block">
                            <label for="recipient-name" class="col-form-label">Fabric Color:</label>
                            @Html.DropDownListFor(model => model.vmDailyProduction.Common_ColorFK, new SelectList(string.Empty, "Value", "Text"), "---Select Color---", new { id = "Common_ColorFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.vmDailyProduction.Common_ColorFK, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Cutting No:</label>
                            <input asp-for="vmDailyProduction.CuttingNumber" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="vmDailyProduction.CuttingNumber" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">GSM:</label>
                            <input asp-for="vmDailyProduction.GSM" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="vmDailyProduction.GSM" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Line Chief:</label>
                            @Html.EditorFor(model => model.vmDailyProduction.LineChiefSupervisor, new { htmlAttributes = new { @id = "LineChiefSupervisor", @readonly = "readonly", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.vmDailyProduction.LineChiefSupervisor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Super Visor:</label>
                            @Html.EditorFor(model => model.vmDailyProduction.SuperVisor, new { htmlAttributes = new { @id = "SuperVisor", @readonly = "readonly", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.vmDailyProduction.SuperVisor, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Extra Cutting(%):</label>
                            <input asp-for="vmDailyProduction.CuttingExtra" class="form-control" placeholder="Cutting Extra" required autocomplete="off" />
                            <span asp-validation-for="vmDailyProduction.CuttingExtra" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Layer:</label>
                            <input asp-for="vmDailyProduction.Layer" class="form-control" placeholder="Layer" required autocomplete="off" />
                            <span asp-validation-for="vmDailyProduction.Layer" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Per Layer Weight(Kg):</label>
                            <input asp-for="vmDailyProduction.PerLayerWeight" class="form-control" placeholder="Per Layer Weight" required autocomplete="off" />
                            <span asp-validation-for="vmDailyProduction.PerLayerWeight" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Marker Piece:</label>
                            <input asp-for="vmDailyProduction.MarkerPiece" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="vmDailyProduction.MarkerPiece" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Marker Length(Inch):</label>
                            <input asp-for="vmDailyProduction.MarkerLength" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="vmDailyProduction.MarkerLength" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Marker Width(Inch):</label>
                            <input asp-for="vmDailyProduction.MarkerWidth" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="vmDailyProduction.MarkerWidth" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-xs-12">
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Remarks:</label>
                            @Html.EditorFor(model => model.vmDailyProduction.Remarks, new { htmlAttributes = new { @id = "Remarks", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.vmDailyProduction.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <input id="btnCreate" type="submit" value="ADD" class="btn btn-primary btn-block" />
                    </div>
                </div>
            }
        </div>
    
</div>