﻿@model Erp.Core.Services.Production.VMProductionReference
<div class="box-body">
    @using (Html.BeginForm("CuttingStep", "Production", new { @class = "form-horizontal", role = "form" }))
    {
        <input type="hidden" asp-for="vmDailyProduction.Prod_ReferencePlanFK" />
    <input type="hidden" asp-for="vmDailyProduction.Prod_ReferenceFK" />
    <input type="hidden" asp-for="ActionId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Cutting Table:</label>
                @Html.EditorFor(model => model.vmDailyProduction.LineName, new { htmlAttributes = new { @id = "LineName", @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vmDailyProduction.LineName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-6 col-md-6">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Order Style:</label>
                @Html.EditorFor(model => model.vmDailyProduction.Style, new { htmlAttributes = new { @id = "Style", @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vmDailyProduction.Style, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Style Subset:</label>
                @Html.EditorFor(model => model.vmDailyProduction.SubSetName, new { htmlAttributes = new { @id = "SubSetName", @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vmDailyProduction.SubSetName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Fabric Color:</label>
                @Html.EditorFor(model => model.vmDailyProduction.Color, new { htmlAttributes = new { @id = "Color", @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vmDailyProduction.Color, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">GSM:</label>
                <input type="text" asp-for="vmDailyProduction.GSM" class="form-control" required autocomplete="off" />
                <span asp-validation-for="vmDailyProduction.GSM" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Cutting Number:</label>
                <input type="text" asp-for="vmDailyProduction.CuttingNumber" class="form-control" required autocomplete="off" />
                <span asp-validation-for="vmDailyProduction.CuttingNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Line Chief:</label>
                @Html.EditorFor(model => model.vmDailyProduction.LineChiefSupervisor, new { htmlAttributes = new { @id = "LineChiefSupervisor", @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vmDailyProduction.LineChiefSupervisor, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Super Visor:</label>
                @Html.EditorFor(model => model.vmDailyProduction.SuperVisor, new { htmlAttributes = new { @id = "SuperVisor", @readonly = "readonly", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vmDailyProduction.SuperVisor, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Extra Cutting(%):</label>
                <input type="text" asp-for="vmDailyProduction.CuttingExtra" class="form-control" placeholder="Cutting Extra" required autocomplete="off" />
                <span asp-validation-for="vmDailyProduction.CuttingExtra" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Layer:</label>
                <input type="text" asp-for="vmDailyProduction.Layer" class="form-control" placeholder="Layer" required autocomplete="off" />
                <span asp-validation-for="vmDailyProduction.Layer" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Per Layer Weight(Kg):</label>
                <input type="text" asp-for="vmDailyProduction.PerLayerWeight" class="form-control" placeholder="Per Layer Weight" required autocomplete="off" />
                <span asp-validation-for="vmDailyProduction.PerLayerWeight" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Marker Piece:</label>
                <input type="text" asp-for="vmDailyProduction.MarkerPiece" class="form-control" required autocomplete="off" />
                <span asp-validation-for="vmDailyProduction.MarkerPiece" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Marker Length(Inch):</label>
                <input type="text" asp-for="vmDailyProduction.MarkerLength" class="form-control" required autocomplete="off" />
                <span asp-validation-for="vmDailyProduction.MarkerLength" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-2 col-md-2">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Marker Width(Inch):</label>
                <input type="text" asp-for="vmDailyProduction.MarkerWidth" class="form-control" required autocomplete="off" />
                <span asp-validation-for="vmDailyProduction.MarkerWidth" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xs-12">
            <div class="form-group">
                <label for="message-text" class="col-form-label">Remarks:</label>
                @Html.EditorFor(model => model.vmDailyProduction.Remarks, new { htmlAttributes = new { @id = "Remarks", @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vmDailyProduction.Remarks, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <input id="btnCreate" type="submit" value="ADD" class="btn btn-primary btn-block" />
        </div>
    </div>
}
</div>