﻿@model Erp.Core.Services.Production.VMProductionReference
<style type="text/css">
    .box-header > .box-tools {
        position: absolute;
        left: 10px;
        top: 5px;
    }
</style>
<div class="box box-info collapsed-box">
    <div class="box-header with-border">
        <h4 class="box-title"></h4>
        <div class="box-tools">
            <button type="button" class="btn btn-block btn-primary" data-widget="collapse">
                <i class="fa fa-plus"></i> Add Packing Style
            </button>
        </div>
    </div>
    <div class="box-body" style="display:none">
        @using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
        {
            <input type="hidden" asp-for="vmDailyProduction.Prod_ReferenceFK" />
            <div class="row">
                <div class="col-lg-7 col-md-7 col-xs-7">
                    <div id="divddlStyle" class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Order Style:</label>
                        @Html.DropDownListFor(model => model.vmDailyProduction.Merchandising_StyleFK, ViewBag.StyleList as SelectList, "---Select a Style---", new { @id = "Merchandising_StyleFK", @class = "form-control searchingDropdown", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.vmDailyProduction.Merchandising_StyleFK, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div id="divddlSubset" class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Style Subset:</label>
                        @Html.DropDownListFor(model => model.vmDailyProduction.Merchandising_StyleSetPackFK, new SelectList(string.Empty, "Value", "Text"), "---Select Subset---", new { id = "Merchandising_StyleSetPackFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.vmDailyProduction.Merchandising_StyleSetPackFK, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-12" style="padding-top:25px;">
                    <input id="btnCreate" type="submit" value="ADD" class="btn btn-primary btn-block" />
                </div>
            </div>
        }
    </div>
</div>
