﻿@model Erp.Core.Services.Production.VMProductionReference

<style type="text/css">
    .box-header > .box-tools {
        position: absolute;
        left: 10px;
        top: 5px;
    }
    .customTable,
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        padding: 3px !important;
    }

    .trclass {
        border: 1px solid thick;
        font-size: 12px;
        font-weight: 700;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box collapsed-box">
            <div class="box-header">
                <h4 class="box-title">Line wise hour occupied</h4>
                <div class="box-tools">
                    <button type="button" class="btn btn-block btn-primary" data-widget="collapse">
                        <i class="fa fa-plus"></i> Create Sewing Daily Plan
                    </button>
                </div>
            </div>
            <div class="box-body" style="display:none">
                <div class="table-responsive">
                    <table class="table table-bordered text-nowrap">
                        <thead>
                            <tr>
                                <th style="background-color:gray; color:white; text-align:center;">LEGEND</th>
                                <th style="width:20px;"></th>
                                <th style="background-color:green; color:white; text-align:center; width:25px;"></th>
                                <th>Free Hour</th>
                                <th style="background-color:darkred; color:white; text-align:center; width:25px;"></th>
                                <th>Occupied Hour</th>
                                <th style="background-color:orange; color:white; text-align:center; width:25px;"></th>
                                <th>Lunch Breack</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                @if (Model.LinePlanList.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-bordered customTable">
                            <thead class="bg-black">
                                <tr class="trclass">
                                    <th class="center">Line / Time</th>
                                    <th class="center">Work Hour</th>
                                    @for (int a = 0; a < Model.LinePlanList[0].HourList.Count(); a++)
                                    {
                                        <th class="center" style="text-align:center">@Html.DisplayFor(model => model.LinePlanList[0].HourList[a].Hour, new { @class = "form-control" })</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.LinePlanList.Count(); i++)
                                {
                                    <tr class="trclass">
                                        <td style="@Model.LinePlanList[i].DayColor">
                                            @Html.DisplayFor(model => model.LinePlanList[i].LineName, new { @class = "form-control" })
                                        </td>
                                        <td style="@Model.LinePlanList[i].DayColor">
                                            @Html.DisplayFor(model => model.LinePlanList[i].LineWorkingHour, new { @class = "form-control" })
                                        </td>
                                        @for (int j = 0; j < Model.LinePlanList[i].HourList.Count(); j++)
                                        {
                                            <td style="@Model.LinePlanList[i].HourList[j].DayColor">
                                                @*@Html.DisplayFor(model => model.vmDailyProduction.LinePlanList[i].HourList[j].DayColor, new { @class = "form-control" })*@
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
            <div class="box-body" style="display:none">
                @using (Html.BeginForm("SewingStep", "Production", new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.HiddenFor(model => model.vmDailyProduction.Prod_ReferenceFK)
                    @Html.HiddenFor(model => model.vmDailyProduction.Merchandising_StyleFK, new { @id = "StyleFK" })
                    @Html.HiddenFor(model => model.vmDailyProduction.Merchandising_StyleSetPackFK, new { @id = "SubsetFK" })
                    @Html.HiddenFor(model => model.vmDailyProduction.Prod_LineChiefFK, new { @id = "Prod_LineChiefFk" })
                    @Html.HiddenFor(model => model.vmDailyProduction.Prod_SuperVisorFK, new { @id = "Prod_SVNameFk" })
                    @Html.HiddenFor(model => model.vmDailyProduction.SectionID)
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div id="divddlCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Production Style:</label>
                                @Html.DropDownListFor(model => model.vmDailyProduction.Plan_SMVMasterLayoutFK, ViewBag.StyleList as SelectList, "---Select a Style---", new { @id = "SMVFK", @class = "form-control searchingDropdown", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.Plan_SMVMasterLayoutFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div id="divddlCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Production Line:</label>
                                @Html.DropDownListFor(model => model.vmDailyProduction.Plan_ProductionLineFk, ViewBag.LineList as SelectList, "---Select a Line---", new { @id = "ProductionLineFk", @class = "form-control searchingDropdown", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.Plan_ProductionLineFk, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Line Input Quantity:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.LineInputQty, new { htmlAttributes = new { @id = "LineInputQty", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.LineInputQty, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Style Type:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.LineTable, new { htmlAttributes = new { @id = "LineTable", @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.LineTable, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">SMV:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.SMV, new { htmlAttributes = new { @id = "SMV", @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.SMV, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Hourly Target:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.PerHourTarget, new { htmlAttributes = new { @id = "PerHourTarget", @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.PerHourTarget, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Line Chief:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.LineChiefSupervisor, new { htmlAttributes = new { @id = "LineChiefSupervisor", @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.LineChiefSupervisor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Super Visor:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.SuperVisor, new { htmlAttributes = new { @id = "SuperVisor", @readonly = "readonly", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.SuperVisor, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Machine Running:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.MachineRunning, new { htmlAttributes = new { @id = "MachineRunning", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.MachineRunning, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Working Hour:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.WorkingHour, new { htmlAttributes = new { @id = "WorkingHour", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.WorkingHour, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Present Operator:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.PresentOpt, new { htmlAttributes = new { @id = "PresentOpt", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.PresentOpt, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">No Of Helper:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.NoOfHelper, new { htmlAttributes = new { @id = "NoOfHelper", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.NoOfHelper, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Remarks:</label>
                                @Html.EditorFor(model => model.vmDailyProduction.Remarks, new { htmlAttributes = new { @id = "Remarks", @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <input id="btnCreate" type="submit" value="Save" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

