﻿
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.User.VMUser
<section class="content-header">
    <h1>
        User Registration
        <small>Sign up</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">User Registration</li>
    </ol>
</section>




<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("UserList", "User", FormMethod.Post, new { id = "userListformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="col-md-3">
                    <div class="box">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-danger">
                            <div class="box-header">
                                <h4>Add user menu item</h4>
                            </div>

                            <!-- /.box-header -->
                            <div class="box-body">
                                @Html.HiddenFor(model => model.Photo, new { Value = "", id = "txtPhoto" })

                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "userId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.HRMS_EmployeeFK, Model.HRMSEmployee as SelectList, new { id = "ddlHRMSEmployeeFK", @class = "searchingDropdown form-control", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.HRMS_EmployeeFK, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Name, new { id = "txtName", @class = "form-control input-sm", @placeholder = "Name", required = "true" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.UserName, new { id = "txtUserName", @class = "form-control input-sm", pattern = "^[_A-z0-9]{1,}$", @placeholder = "User Name", required = "true", maxlength = "15", minlength = "3", data_bv_message = "White space not allowed in user name.", data_bv_stringlength_message = "The User Name must be more than 1 and less than 15 characters", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input asp-for="Password" autocomplete="off" id="txtPassword" type="password" class="form-control input-sm" name="Password" maxlength="12" , minlength="6"
                                           data-bv-identical="true"
                                           placeholder="Password" required="required"
                                           data-bv-identical-field="ConfirmPassword"
                                           data-bv-identical-message="The password and its confirm are not the same" />

                                </div>
                                <div class="form-group">
                                    <input asp-for="ConfirmPassword" autocomplete="off" id="txtConfirmPassword" type="password"
                                           class="form-control input-sm" name="ConfirmPassword"
                                           placeholder="Confirm Password" required="required"
                                           data-bv-identical="true"
                                           data-bv-identical-field="Password"
                                           data-bv-identical-message="The password and its confirm are not the same" />

                                </div>

                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Mobile, new { id = "txtMobile", @class = "form-control input-sm", @placeholder = "Mobile" })
                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Email, new { type = "email", id = "txtEmail", @class = "form-control input-sm", @placeholder = "Email" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.Address, new { id = "txtAddress", @class = "form-control input-sm", @placeholder = "Address" })
                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.User_DepartmentFK, Model.UserDepartmentList as SelectList, "---Select User Department---", new { id = "ddlUserDepartmentFK", @class = "form-control input-sm", required = "true" })
                                    @Html.ValidationMessageFor(model => model.User_DepartmentFK, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.User_AccessLevelFK, Model.UserAccessLevelList as SelectList, "---Select User Accesslevel---", new { id = "ddlUserAccessLevelFK", @class = "form-control input-sm", required = "true" })
                                    @Html.ValidationMessageFor(model => model.User_AccessLevelFK, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.DropDownListFor(model => model.User_RoleFK, Model.UserRoleList as SelectList, "---Select User Role---", new { id = "ddlUserRoleFK", @class = "form-control input-sm", required = "true" })
                                    @Html.ValidationMessageFor(model => model.User_RoleFK, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <input name="File" asp-for="File" type="file" id="exampleInputFile">
                                        <p class="help-block">Choose a photo to upload.</p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-6">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                    </div>
                                    <div class="col-md-6">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add</button>

                                    </div>

                                </div>
                            </div>
                            <div class="box-footer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                    &times;
                                </button>
                                <h5 class="modal-title"><b>User Delete</b></h5>

                            </div>
                            <div class="modal-body">
                                <div style="text-align:center">
                                    <h3>Are you sure?</h3>
                                </div>

                            </div>

                            <div class="modal-footer">
                                <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

            <div class="col-md-9">
                <div class="box">
                    <div class="box-danger">
                        <div class="box-header">

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:5%">SL</th>
                                            <th style="width:10%">User Info</th>
                                           
                                            <th style="width:10%">Department</th>
                                            <th style="width:10%">Role</th>
                                            <th style="width:15%">Access Level</th>
                                            <th style="width:15%">Photo</th>
                                            <th style="width:10%" ;text-align:center;">Action</th>

                                        </tr>
                                    </thead>
                                    @{
                                        int sl = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataList)
                                        {

                                            <tr>
                                                <td>@(++sl)</td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)<br />
                                                    @Html.DisplayFor(modelItem => item.Email)<br />
                                                    @Html.DisplayFor(modelItem => item.Mobile)<br />
                                                    @Html.DisplayFor(modelItem => item.Address)

                                                </td>

                                                
                                                <td>@Html.DisplayFor(modelItem => item.UserDepartmentName)</td>

                                                <td>@Html.DisplayFor(modelItem => item.UserRoleName)</td>

                                                <td>@Html.DisplayFor(modelItem => item.UserAccessLevelName)</td>

                                                <td>
                                                    @if (item.Photo != null)
                                                    {
                                                        <img class="profile-user-img img-responsive img-circle" src="@Url.Content("~/User/" + item.Photo)" alt="User profile picture">
                                                    }
                                                    else
                                                    {
                                                        <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                                        </div>
                                                    }

                                                </td>
                                                <td>
                                                    @if (item.Locked == false)
                                                    {
                                                        @Html.ActionLink("Active", "UserUpdate", new { id = item.ID, actionId = 2, type = 1 }, new { title = "To Inactive User", @class = "linkActiveEdit btn btn-success btn-block" })

                                                        @*<span class="label label-success">Active</span>*@
                                                    }
                                                    else
                                                    {
                                                        @Html.ActionLink("Inactive", "UserUpdate", new { id = item.ID, actionId = 2, type = 1 }, new { title = "To Active User", @class = "linkActiveEdit btn btn-danger btn-block" })
                                                        @*<span class="label label-danger">Inactive</span>*@
                                                    }
                                                    @Html.ActionLink("User Edit", "UserUpdate", "User", new { id = item.ID, actionId = 2, type = 2 }, new { title = "Edit User", @class = "btn btn-primary btn-block" })

                                                    @Html.ActionLink("Access Control", "UserUpdate", "User", new { id = item.ID, actionId = 2, type = 3 }, new { title = "Define User Access", @class = "linkAssessControl btn btn-primary btn-block" })

                                                    @Html.ActionLink("Change Password", "UserUpdate", "User", new { id = item.ID, actionId = 2, type = 4 }, new { title = "To Change User Password", @class = "AdminPasswordEdit btn btn-warning btn-block" })

                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>




                        </div>
                        <div class="box-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>









@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('#txtUserName').val('');
            $('#txtPassword').val('');

            $('#txtPassword').show();
            $('#txtConfirmPassword').show();
            $('.formValidator').bootstrapValidator();
         });

        $("#ddlHRMSEmployeeFK").change(function () {
            var empId = $("#ddlHRMSEmployeeFK").val();
             $.ajax({
                type: "GET",
                url: "@Url.Action("GetEmployeeInfo", "User")",
                datatype: "Json",
                 data: { id: empId},
                 success: function (data) {
                    // debugger;
                     var items = "";
                     if (data) {
                         $('#txtName').val(data.name);
                         $('#txtMobile').val(data.mobile);
                         $('#txtEmail').val(data.email);
                         $('#txtAddress').val(data.address);
                         $('#ddlUserDepartmentFK').val(data.departmentId);
                         $('#txtPhoto').val(data.imagePath);
                     }
                    }
                });
        })
        function makeEditble(id) {
            if (id !== null) {
                $.ajax({
                type: "get",
                url: "@Url.Action("GetUserById", "User")",
                    data: { id: id },
                    datatype: "json",
                    traditional: true,
                    success: function (data) {
                        console.log(data);
                        $('#ActionId').val(2);
                        $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                        //$('#txtPassword').attr("data-bv-result", "VALID");
                        $('#txtConfirmPassword').val($('#txtPassword').val());

                        $('#userId').val(data.id);
                        $('#ActionId').val(2);
                        $('#txtName').val(data.name);
                        $('#txtUserName').val(data.userName);
                        $('#txtMobile').val(data.mobile);
                        $('#txtEmail').val(data.email);
                        $('#txtAddress').val(data.address);
                        $('#ddlUserDepartmentFK').val(data.user_DepartmentFK);
                        $('#ddlUserAccessLevelFK').val(data.user_AccessLevelFK);
                        $('#ddlUserRoleFK').val(data.user_RoleFK);
                        window.scrollTo({ top: 0, behavior: 'smooth' });

                        //$('#exampleInputFile').val(data.photo);

                        //$('#txtPassword').hide();
                        //$('#txtConfirmPassword').hide();
                }
            });
            }
        }
        function resetForm() {
            $('#userListFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
            $('#txtPassword').show();
            $('#txtConfirmPassword').show();
        }

                                    //function makeDeletable(id) {
                                    //    if (id !== null) {
                                    //        $('#userId').val(id);
                                    //        $('#ActionId').val(3);

                                    //    }
                                    //}


    </script>
}
