﻿
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.User.VMUser
<section class="content-header">
    <h1>
      @Html.DisplayFor(model => model.HeaderInfo) 
        
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/User/UserList">User List</a></li>
        <li class="active">@Html.DisplayFor(model => model.HeaderInfo)</li>
    </ol>
</section>




<section class="content">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("UserList", "User", FormMethod.Post, new { id = "userListformId", @class = "formValidator", @enctype = "multipart/form-data" }))
            {
                <div class="box">
                    <div class="box-danger">
                        <div class="box-header">

                        </div>
                        <div class="box-body">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-6">
                                <div class="box">
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="box-danger">
                                        <div class="box-header">
                                            @if (Model.TypeId == 1)
                                            {
                                            <h4>This user is active now in this software, if you want to inactive him, check the checkbox</h4>
                                            }
                                            @if (Model.TypeId == 2)
                                            {
                                                <h4>Update User Info</h4>
                                            }
                                            @if (Model.TypeId == 3)
                                            {
                                                <h4>Change Role</h4>
                                            }
                                            @if (Model.TypeId == 4)
                                            {
                                                <h4>Change Password</h4>
                                            }

                                        </div>

                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "userId" })
                                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Name, new { id = "txtName", @class = "form-control", @placeholder = "Name", required = "true", maxlength = "50", minlength = "3", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>

                                            @if (Model.TypeId == 1)
                                            {
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input name="Locked" asp-for="Locked" type="checkbox" id="Locked">
                                                        Check box
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <button type="button" onclick="resetForm()" style="width:100%" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                                    </div>
                                                    <div class="col-md-9">
                                                        @if (Model.Locked == false)
                                                        {
                                                            <button type="submit" id="btnSave" style="width:100%" class="btn btn-primary btn-block"><i class='fa fa-close'></i>&nbsp;Inactive now</button>

                                                        }
                                                        else
                                                        {
                                                            <button type="submit" id="btnSave" style="width:100%" class="btn btn-primary btn-block"><i class='fa fa-openid'></i>&nbsp;Active Now</button>

                                                        }

                                                    </div>

                                                </div>
                                            }
                                            @if (Model.TypeId == 2)
                                            {

                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Mobile, new { id = "txtMobile", @class = "form-control", @placeholder = "Mobile" })
                                                    @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Email, new { type = "email", id = "txtEmail", @class = "form-control", @placeholder = "Email" })
                                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.Address, new { id = "txtAddress", @class = "form-control", @placeholder = "Address" })
                                                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.User_DepartmentFK, Model.UserDepartmentList as SelectList, "---Select User Department---", new { id = "ddlUserDepartmentFK", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.User_DepartmentFK, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.User_AccessLevelFK, Model.UserAccessLevelList as SelectList, "---Select User Accesslevel---", new { id = "ddlUserAccessLevelFK", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.User_AccessLevelFK, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.User_RoleFK, Model.UserRoleList as SelectList, "---Select User Role---", new { id = "ddlUserRoleFK", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.User_RoleFK, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <div class="form-group">
                                                        <input name="File" asp-for="File" type="file" id="exampleInputFile">
                                                        <p class="help-block">Choose a photo to upload.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <button type="submit" style="width:100%" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i>&nbsp;Update</button>

                                                    </div>

                                                </div>
                                            }
                                            @if (Model.TypeId == 3)
                                            {
                                                <div class="form-group">
                                                    @Html.DropDownListFor(model => model.User_RoleFK, Model.UserRoleList as SelectList, "---Select User Role---", new { id = "ddlUserRoleFK", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.User_RoleFK, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <button type="submit" style="width:100%" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i>&nsub;Assign New Role</button>

                                                    </div>

                                                </div>
                                            }
                                            @if (Model.TypeId == 4)
                                            {
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.UserName, new { id = "txtUserName", @class = "form-control", @placeholder = "User Name", required = "true", maxlength = "50", minlength = "3", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="form-group">
                                                    <input asp-for="Password" autocomplete="off" id="txtPassword" type="password" class="form-control" name="Password" maxlength="12" , minlength="6"
                                                           data-bv-identical="true"
                                                           placeholder="Password" required="required"
                                                           data-bv-identical-field="ConfirmPassword"
                                                           data-bv-identical-message="The password and its confirm are not the same" />

                                                </div>
                                                <div class="form-group">
                                                    <input asp-for="ConfirmPassword" autocomplete="off" id="txtConfirmPassword" type="password"
                                                           class="form-control" name="ConfirmPassword"
                                                           placeholder="Confirm Password" required="required"
                                                           data-bv-identical="true"
                                                           data-bv-identical-field="Password"
                                                           data-bv-identical-message="The password and its confirm are not the same" />

                                                </div>
                                                <div class="form-group">
                                                    <div class="col-md-3">
                                                        <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                                    </div>
                                                    <div class="col-md-9">
                                                        <button type="submit" style="width:100%" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i>&nbsp;Change Password</button>

                                                    </div>

                                                </div>
                                            }





                                        </div>
                                        <div class="box-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">

                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                       
                    </div>
                </div>
               
            }

        </div>

    </div>
</section>









@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

            //function resetForm() {
            //    $('#userListFormId')[0].reset();
            //    $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
            //    $('#txtPassword').show();
            //    $('#txtConfirmPassword').show();
            //}


    </script>
}
