﻿
@{
    ViewData["Title"] = "User Submenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.User.VMUserSubMenu
<section class="content-header">
    <h1>
        User Menu
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/User/UserList">User</a></li>
        <li class="active">User Submenu</li>
    </ol>
</section>
@using (Html.BeginForm("UserSubMenu", "User", FormMethod.Post, new { id = "userSubmenuFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content">
        <div class="row">
            
                <div class="col-md-12">
                    <div class="col-md-3">
                        <div class="box">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="box-danger">
                                <div class="box-header">
                                    <h4>Add User Menu</h4>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "userSubmenuId" })
                                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                    <div class="form-group">
                                        @Html.DropDownListFor(model => model.User_MenuFk, Model.UserMenuList as SelectList, "---Select User Menu---", new { id = "ddlUserMenuFk", @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.User_MenuFk, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.Name, new { id = "txtSubmenuName", @class = "form-control input-sm", @placeholder = "Submenu Name" })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-6">
                                            <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Reset</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="submit" id="btnSave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Add</button>

                                        </div>

                                    </div>
                                   
                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="box">

                            <div class="box-danger">
                                <div class="box-header">
                                    <h4>User Menu List</h4>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">

                                    <div class="table-responsive col-md-12">
                                        <table id="tableX" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Menu</th>
                                                    <th>Submenu</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataList)
                                                {

                                                    <tr>
                                                        <td>@(++sl)</td>
                                                        <td>
                                                            <input type="hidden" id="inputUserMenuFk_@item.ID" name="User_MenuFk" value="@item.User_MenuFk" />
                                                            @item.UserMenuName
                                                        </td>
                                                        <td id="tdSubmenuName_@item.ID">@item.Name</td>

                                                        <td>
                                                            <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                            <a id="@item.ID" onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                                <div class="box-footer">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
          
        </div>
    </section>

    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>User Submenu Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#userSubmenuId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlUserMenuFk').val($('#inputUserMenuFk_' + rowId).val().trim()).trigger('change');
                $('#txtSubmenuName').val($('#tdSubmenuName_' + rowId).text().trim());
                window.scrollTo({ top: 0, behavior: 'smooth' });

            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#userSubmenuId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            $('#userSubmenuFormId')[0].reset();
            $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Add");
        }

    </script>
}

