﻿@using Erp.Core.Services.Common
@model Erp.Core.Services.Accounting.VMJournalSlave
@{
    Layout = null;
    ViewData["Title"] = "Voucher Print";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voucher Report</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        .voucherHeader {
            border: 1px solid #000000;
            border-radius: 10px;
            background-color: #c0c0c0;
            font-weight: 700
        }

        @@media print {
            .voucherHeader {
                border: 1px solid #000000 !important;
                border-radius: 10px;
                background-color: #c0c0c0 !important;
                font-weight: 700
            }

            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div>

            @*-----------------Report Header-----------------*@
            <div class="text-center">
                <div class="row">
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 30%"></td>
                            <td style="width: 40%" class="text-center">
                                <h3 class="voucherHeader">
                                    @{
                                        var vouchertype = "";
                                        if (Model.vMJournal.JournalType == 1)
                                        {
                                            vouchertype = "Journal";
                                        }
                                        else if (Model.vMJournal.JournalType == 2)
                                        {
                                            vouchertype = "Debit";
                                        }
                                        else if (Model.vMJournal.JournalType == 3)
                                        {
                                            vouchertype = "Credit";
                                        }
                                        else if (Model.vMJournal.JournalType == 4)
                                        {
                                            vouchertype = "Contra";
                                        }
                                        else if (Model.vMJournal.JournalType == 5)
                                        {
                                            vouchertype = "Purchase";
                                        }
                                        else if (Model.vMJournal.JournalType == 6)
                                        {
                                            vouchertype = "Sells";
                                        }
                                        else if (Model.vMJournal.JournalType == 7)
                                        {
                                            vouchertype = "Integrated";
                                        }
                                        else if (Model.vMJournal.JournalType == 8)
                                        {
                                            vouchertype = "Quick Journal";
                                        }
                                        else if (Model.vMJournal.JournalType == 9)
                                        {
                                            vouchertype = "Realisation";
                                        }
                                    }
                                    @vouchertype  Voucher
                                </h3>
                            </td>
                            <td style="width: 30%; text-align: right;">
                                <strong>DATE: @Model.vMJournal.Date.ToString("dd-MM-yyyy")</strong>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <table style="width: 100%">
                        <tr>
                            <td style="width:5%"></td>
                            <td style="width:20%">
                                <img style="width: 130px;" src="~/Content/ROMO_Group_Logo.JPG" />
                            </td>
                            <td style="font-weight: 800; font-family: initial; width:60%; text-align:center">
                                <h3>  ROMO Fashion Today Limited</h3>
                            </td>
                            <td style="width:15%"></td>
                        </tr>
                        <tr>
                            <td style="width:5%"></td>
                            <td style="width:20%"></td>
                            <td style="width:60%; text-align:center">
                                <p style="margin: -10px 0 10px;">Vannera Road, Mouchak, Kaliakoir, Gazipur, Bangladesh.</p>
                            </td>
                            <td style="width:15%"></td>
                        </tr>

                    </table>
                </div>
                <div class="row">
                    <table style="width: 100%">
                        <tr>
                            <td style="width:5%"></td>
                            <td style="width:50%">
                                <label>Voucher No: </label>
                                @Model.vMJournal.CID
                            </td>
                            <td style="width:45%">
                                <label>Cost Center: </label>
                                @Model.vMJournal.Accounting_CostCenterName
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="row">
                    <table style="width: 100%">
                        <tr>
                            <td style="width:5%"></td>
                            <td style="width:95%; text-align:left">
                                <label>Title: </label>
                                @Model.vMJournal.Title
                            </td>
                        </tr>
                        <tr>
                            <td style="width:5%"></td>
                            <td style="width:95%">
                                <label>Description: </label>
                                @Model.vMJournal.Description
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @{
                CommonCurrency commonCurrency = new CommonCurrency();
                var inword = commonCurrency.CurrencyConverter(Model.TotalCredit, CurrencyType.BDT);
                var commaAmount = commonCurrency.NumberToComma(Model.TotalCredit);
            }
            <div>
                <table style="width: 100%" cellspacing="10" rules="all" border="1">
                    <thead>
                        <tr>
                            <th style="width: 5%; text-align: center">SL</th>
                            <th style="width: 35%; text-align: center">A/C Head </th>
                            <th style="width: 40%; text-align: center">Description</th>
                            <th style="width: 15%; text-align: center">Debit</th>
                            <th style="width: 15%; text-align: center">Credit</th>
                        </tr>
                    </thead>
                    @{
                        int sl = 0;
                    }
                    @foreach (var item in Model.DataList1)
                    {
                        <tbody>
                            <tr>
                                <td style="text-align:center">@(++sl)</td>
                                <td style="text-align:left;">
                                    @item.Accounting_HeadName
                                </td>
                                <td style="text-align:left">
                                    @item.Description
                                </td>
                                <td style="text-align:right">@item.Debit</td>
                                <td style="text-align:right">@item.Credit</td>
                            </tr>
                        </tbody>
                    }
                    <tfoot>
                        <tr>
                            <th colspan="3" style="text-align:right">Total:</th>
                            <th style="text-align:right">
                                @Model.TotalDebit
                            </th>
                            <th style="text-align:right">
                                @Model.TotalCredit
                            </th>
                            <th style="text-align:left">
                            </th>
                        </tr>
                    </tfoot>
                </table>
            </div>



            <div style="padding:10px 0 10px 0">
                <div>
                    <table style="width: 100%">
                        <tr>
                            <td style="width: 12%">
                                <strong>Taka in Words :</strong>
                            </td>
                            <td style="width: 88%; border-bottom: 1px solid #000000">
                                <strong>@inword</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div style="padding:50px 0 20px 0">
                <div>
                    <table style="width: 100%; text-align: center">
                        <tr>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Prepared By</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Accountant</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Checked By</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Approved By</strong></td>
                            <td style="width: 20%"><strong style="border-top: 1px solid #000000">Received By</strong></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

