﻿@{
    ViewData["Title"] = "Account Head";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdname = "tdname";
    var tdremark = "tdremark";
    var tdaccounttype = "tdaccounttype";
    var tdchartonename = "tdchartonename";
    var tdcharttwoname = "tdcharttwoname";
}
@model Erp.Core.Services.Accounting.VMAccountHead
@using (Html.BeginForm("AccountHeadWithDetails", "AccountingController", FormMethod.Post, new { id = "AccountHeadWithDetails", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Account Head:
                            &nbsp;&nbsp;
                            @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Chart"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>*@
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->

                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Account Type ID</th>
                                        <th>Account Type</th>
                                        <th>Chart One ID</th>
                                        <th>Chart One</th>
                                        <th>Chart Two ID</th>
                                        <th>Chart Two</th>
                                        <th>Head ID</th>
                                        <th>Account Head</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                    <tr>
                                        <td>@(++sl)</td>
                                        <td>@item.Accounting_TypeFK</td>
                                        <td id="@tdaccounttype@item.ID">@item.Accounting_TypeName</td>
                                        <td>@item.Accounting_Chart1FK</td>
                                        <td id="@tdchartonename@item.ID">@item.Accounting_Chart1Name</td>
                                        <td>@item.Accounting_Chart2FK</td>
                                        <td id="@tdcharttwoname@item.ID">@item.Accounting_Chart2Name</td>
                                        <td>@item.ID</td>
                                        <td id="@tdname@item.ID">@item.Name</td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>

            </div>



        </div>
    </section>
}

