﻿
@{
    ViewData["Title"] = "Supplier List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Home.VMSupplier

<section class="content-header">
    <h1>
        Supplier
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
        <li class="active">Supplier List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <!-- /.box-header -->
                <div class="box-header">

                </div>
                <div class="box-body">
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:5%">SL</th>
                                    <th style="width:25%">Supplier Name</th>
                                    <th style="width:20%">Address</th>
                                    <th style="width:15%">Phone</th>
                                    <th style="width:15%">Email</th>

                                    <th style="width:20%">LC List</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td>@(++sl).</td>
                                        <td>@item.Name</td>
                                        <td>@item.Address</td>
                                        <td>@item.Phone</td>
                                        <td>@item.Email</td>
                                        <td>
                                            <a href="~/Accounting/SupplierBBLCwiseDocument/@item.ID" target="_blank" class="btn btn-success" style="padding:0px;width:70px">LC List</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>




@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                //$('.formValidator').bootstrapValidator();
            });

    </script>
}