﻿@model Erp.Core.Services.Shipment.VMShipmentBillOfExchange
@{
    ViewData["Title"] = "Bill of Exchanges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Bill of Exchange
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
        <li class="active"> Bill of Exchange List</li>
    </ol>
</section>
@using (Html.BeginForm("BillofExchanges", "Accounting", FormMethod.Post, new { id = "billofexchanges", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            List:
                            &nbsp;&nbsp;
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Bill no</th>
                                        <th>Bill Value</th>
                                        <th>BOE Date</th>
                                        <th>ECINO</th>
                                        <th>FDBC NO</th>
                                        <th>FDBC Date</th>
                                        <th>Courier NO</th>
                                        <th>Courier Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl).</td>

                                            <td id="tdBoECID_@item.ID">@item.BoECID</td>
                                            <td id="tdBillValue_@item.ID">@item.BillValue</td>
                                            <td id="tdBoEDate_@item.ID">@item.BoEDate.ToString("yyyy/MM/dd")</td>
                                            <td id="tdECINO_@item.ID">@item.ECINO</td>
                                            <td id="tdFDBCNO_@item.ID">@item.FDBCNO</td>
                                            <td id="tdCourierNO_@item.ID">@item.FDBCDate.ToString("yyyy/MM/dd")</td>
                                            <td id="tdcid_@item.ID">@item.CourierNO</td>
                                            <td id="tdCourierDate_@item.ID">@item.CourierDate.ToString("yyyy/MM/dd")</td>
                                            <td>
                                                @*<a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>*@
                                                <a href="~/Accounting/RealisationVoucher/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();
            });

             function makeEditble(elem) {
                if (elem !== null) {
                    var rowId = elem.id;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleBillOfExchange", "Shipment")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#billOfExchangeId').val(rowId);
                            $('#txtBoECID').val(data.boECID);
                            var boEDate = data.boEDate;
                            $('#txtBoEDate').val(boEDate.substr(0, 10));
                            $('#txtCourierNO').val(data.courierNO);
                            var courierDate = data.courierDate;
                            $('#txtCourierDate').val(courierDate.substr(0, 10));
                            $('#txtFDBCNO').val(data.fdbcno);
                            var fdbcDate = data.fdbcDate;
                            $('#txtFDBCDate').val(fdbcDate.substr(0, 10));
                            $('#ddlCommercial_ECIFK').val(data.commercial_ECIFK);
                            $('#ddlReceivedType').val(data.receivedType);
                            $('#txtDescription').val(data.description);

                            $('#ActionId').val(2);

                        }
                    });


                }
            }
            function makeDeletable(id) {
                if (id !== null) {
                    $('#billOfExchangeId').val(id);
                    $('#ActionId').val(3);

                }
            }
            function resetForm() {
                $('#shipmentBillofExchangesFormId')[0].reset();
                $('#ActionId').val(1);
            }

    </script>
}