﻿@model Erp.Core.Services.Accounting.VMCashFlow
@{
    ViewData["Title"] = "Cash Flow Report";
}
<section class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>
                    Cash Flow:
                    &nbsp;&nbsp;
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#exampleModal1"> Cash Flow</button>
                    </div>
                </div>
                @if (Model.FromDate.ToString("MM/dd/yyyy") != "01/01/0001")
                {
                    <div class="row float:right">
                        <div class="col-md-8">
                            <b>
                                <label id="SearchLabel">
                                    Date :From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                                </label>
                            </b>
                        </div>
                        <div class="col-md-4 text-right">
                            @Html.ActionLink(" Print", "CashFlow", new { fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy") }, new { @class = "glyphicon glyphicon-print btn btn-info btn-md", @target = "_blank" });

                        </div>
                    </div>
                    <br />
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableReport" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align: center"><strong>Particulars</strong></th>
                                    <th style="text-align: right"><strong>Amount In Taka</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left"><strong>A. Cash flows from operating activities</strong></td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <b>Profit for the Year</b>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ProfitfortheYearafterTax)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Adjustment for non-cash items to determine cash flows from operating activities:</td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Depreciation</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.Depreciation)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  Changes in working capital:</strong>
                                    </td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accounts Receivables
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountsReceivable)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Inventory
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.Inventory)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Advances, Deposits & Prepayments
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AdvanceDepositandPrePayment)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Other Current Assets
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.OthersCurrentAssets)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accounts Payable
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountsPayable)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Loan
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermLoan)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermLiabilities)</td>
                                </tr>
                                
                                <tr>
                                    <td style="text-align: left">
                                        Accepted Bills Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AcceptedBillLiabilities)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Provision for Expenses
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ProvisionforExpenses)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"><b>@String.Format("{0:0,0.00}", Model.TotalChangesInWorkingCapital)</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong> Net cash from/(used in) operating activities (A)</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.NetCashFromOperatingActivities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong> B. Cash flows from investing activities</strong>
                                    </td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Acquisition of property, plant and equipment
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AcquisitionofPropertyPlantandEquipment)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  Net cash used in investing activities (B)</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.NetCashUsedinInvestingActivities)</strong></td>
                                </tr>

                                <tr>
                                    <td style="text-align: left">
                                        <strong> C. Cash flows from financing activities</strong>
                                    </td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Long term loan</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.LongTermLoan)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  Net cash from financing activities (C)</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.NetCashFromFinancingActivities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>D. Net changes in cash and cash equivalents (A+B+C)</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.NetChangesinCashandCashEquivalents)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  E. Opening cash and cash equivalents</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.OpeningCashandCashEquivalents)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  F. Closing cash and cash equivalents</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ClosingCashandCashEquivalents)</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("CashFlowSearch", "Accounting", FormMethod.Post, new { id = "CashFlowSearch" }))
{
    <div class="modal fade" id="exampleModal1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Cash Flow</b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">From Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="FromDate" type="text" class="form-control pull-right datePicker" value="@ViewBag.FromDate" id="FromDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">To Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="ToDate" type="text" class="form-control pull-right datePicker" id="ToDate" value="@ViewBag.ToDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}



@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var serchval = $("#SearchLabel").text();
            $('#tableReport').DataTable({

                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                pageLength: 40,
                "ordering": false,
                buttons: [
                    'copy',
                    {
                        extend: 'excel',
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'print',
                        messageTop: serchval,
                    }
                ]
            });
        });
    </script>
}