﻿@model Erp.Core.Services.Accounting.VMCashFlow
@{
    Layout = null;
    ViewData["Title"] = "Cash Flow";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cash Flow</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            text-transform: uppercase !important;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
        .doubleUnderline {
            text-decoration: underline;
            border-bottom: 1px solid #000;
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            @*<div class="text-center">
                    <div class="row">
                        <h3>
                            <span style="float: left">
                                <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                            </span>
                            <span style="text-align:center" ; color: #AA57FF">
                                Romo Fashion Today Ltd.
                            </span>
                        </h3>

                    </div>
                </div>*@
            @*<hr style="width: 100%; color: black; height: 2px; background-color: black;">*@
            <br />
            <div class="text-center">
                <div class="form-group">
                    <h4>
                        Statement of Cash Flows
                    </h4>
                </div>
                <div class="form-group">
                    <b>
                        <b>Date :</b> From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                    </b>
                    @*<h5>
            For the year ended June 30, 2018.
        </h5>*@
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty">
                    <div class="table-responsive">
                        <table id="tableReport" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align: center"><strong>Particulars</strong></th>
                                    <th style="text-align: right"><strong>Amount In Taka</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left"><strong>A. Cash flows from operating activities</strong></td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <b>Profit for the Year</b>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ProfitfortheYearafterTax)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Adjustment for non-cash items to determine cash flows from operating activities:</td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Depreciation</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.Depreciation)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  Changes in working capital:</strong>
                                    </td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accounts Receivables
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountsReceivable)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Inventory
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.Inventory)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Advances, Deposits & Prepayments
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AdvanceDepositandPrePayment)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Other Current Assets
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.OthersCurrentAssets)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accounts Payable
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountsPayable)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Loan
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermLoan)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermLiabilities)</td>
                                </tr>

                                <tr>
                                    <td style="text-align: left">
                                        Accepted Bills Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AcceptedBillLiabilities)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Provision for Expenses
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ProvisionforExpenses)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"><b>@String.Format("{0:0,0.00}", Model.TotalChangesInWorkingCapital)</b></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong> Net cash from/(used in) operating activities (A)</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.NetCashFromOperatingActivities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong> B. Cash flows from investing activities</strong>
                                    </td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Acquisition of property, plant and equipment
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AcquisitionofPropertyPlantandEquipment)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  Net cash used in investing activities (B)</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.NetCashUsedinInvestingActivities)</strong></td>
                                </tr>

                                <tr>
                                    <td style="text-align: left">
                                        <strong> C. Cash flows from financing activities</strong>
                                    </td>
                                    <td style="text-align: right"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Long term loan</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.LongTermLoan)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  Net cash from financing activities (C)</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.NetCashFromFinancingActivities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>D. Net changes in cash and cash equivalents (A+B+C)</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.NetChangesinCashandCashEquivalents)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  E. Opening cash and cash equivalents</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.OpeningCashandCashEquivalents)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>  F. Closing cash and cash equivalents</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ClosingCashandCashEquivalents)</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="text-center">
                <div class="row">
                    <span style="text-align:center" ; color: #AA57FF">
                        The annexed notes are an integral part of these Financial Statements.
                    </span>
                </div>
            </div>
            <br />
            <br />
            <br />
            <table style="width: 100%; float:right">
                <tr>
                    <td style="text-align:left"><strong>Chairman</strong></td>
                    <td style="text-align:right"><strong>Director</strong></td>
                    <td style="text-align:right"><strong>Managing Director</strong></td>
                </tr>
            </table>
            <br />
            <div class="text-center">
                <div class="row">
                    <span style="text-align:center" ; color: #AA57FF">
                        Signed as per our annexed report of even date.
                    </span>
                </div>
            </div>
            <br />
        </div>

    </div>
</body>
</html>


