﻿
@{
    ViewData["Title"] = "ChartThreeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">

        <div class="box box-primary">
            <div class="box-header">
                <h3>
                    Accounts Chart-3:
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"><i class="glyphicon glyphicon-plus"></i></button>
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="panel-body">
                <!--Body Will by Start Here-->

                <div class="row">
                    <table id="tableX" class="table table-striped">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Account Type</th>
                                <th>Chart One</th>
                                <th>Chart Two</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1</th>
                                <td>LIABILITIES</td>
                                <td>Current Liability</td>
                                <td>Time Loan</td>
                                <td>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-trash"></i></button>

                                </td>
                            </tr>
                            <tr>
                                <th>2</th>
                                <td>EXPENSES</td>
                                <td>Trading & Manufacturing Cost R-2</td>
                                <td>Trading & Manufacturing Cost R-2</td>
                                <td>
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal"><i class="glyphicon glyphicon-pencil"></i></button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Accounts Chart2 Create</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Account Type:</label>
                                <select class="form-control">
                                    <option> ASSETS </option>
                                    <option> LIABILITIES</option>
                                    <option> OWNER'S EQUITY</option>
                                    <option> INCOME</option>
                                    <option> EXPENSES</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Chart One:</label>
                                <select class="form-control">
                                    <option> Fixed Asset </option>
                                    <option> Current Asset</option>
                                    <option> Fixed Liabilities</option>
                                    <option> Current Liabilities</option>
                                    <option> Revenue</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Chart Two:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

