﻿@{
    ViewData["Title"] = "Chart Two";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdname = "tdname";
    var tdremark = "tdremark";
    var tdaccounttype = "tdaccounttype";
    var tdchartonename = "tdchartonename";
}
@model Erp.Core.Services.Accounting.VMChart2
@using (Html.BeginForm("ChartTwo", "AccountingController", FormMethod.Post, new { id = "ChartTwo", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Accounts Chart-2:
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Chart"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->

                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th>Account Type</th>
                                        <th>Chart One</th>
                                        <th>Chart Two</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                            <td id="@tdaccounttype@item.ID">@item.Accounting_TypeName</td>
                                            <td id="@tdchartonename@item.ID">@item.Accounting_Chart1Name</td>
                                            <td id="@tdname@item.ID">@item.Name</td>
                                            <td id="@tdremark@item.ID">@item.Remark</td>
                                            <td>
                                                <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                                   data-placement="top">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>

            </div>



        </div>
    </section>

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Chart2 Create</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div id="divddlAccountType" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Account Type:</label>
                                @Html.DropDownListFor(model => model.Accounting_TypeFK, ViewBag.AccountTypeList as SelectList, "Please Select", new { id = "ddlAccountType", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Accounting_TypeFK, "", new { @class = "text-danger" })
                            </div>
                            <div id="divtxtAccountType" class="form-group" style="display:none" )>
                                <label for="recipient-name" class="col-form-label">Account Type:</label>
                                <input type="text" name="Accounting_TypeFK" id="txtAccounting_TypeFK" placeholder="Account Type" readonly="readonly" , required
                                       class="form-control text-left" data-fv-notempty="true" data-fv-notempty-message="Please Enter the required field"
                                       data-fv-stringlength="true" data-fv-trigger="blur" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="divddlChartOneFk" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Chart One:</label>
                                @Html.DropDownListFor(model => model.Accounting_Chart1FK, ViewBag.ChartOneList as SelectList, "Please Select", new { id = "ddlAccounting_Chart1FK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Accounting_Chart1FK, "", new { @class = "text-danger" })
                            </div>
                            <div id="divtxtChartOneFk" class="form-group" style="display:none" )>
                                <label for="recipient-name" class="col-form-label">Chart One:</label>
                                <input type="text" name="Accounting_Chart1FK" id="txtAccounting_Chart1FK" placeholder="Chart One" readonly="readonly" , required
                                       class="form-control text-left" data-fv-notempty="true" data-fv-notempty-message="Please Enter the required field"
                                       data-fv-stringlength="true" data-fv-trigger="blur" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Chart 2 Name:</label>
                        @Html.TextBoxFor(model => model.Name, new { id = "txtName", placeholder = "Name", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Remarks:</label>
                        @Html.TextBoxFor(model => model.Remark, new { id = "txtRemark", placeholder = "Remarks", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Remark, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Chart2 Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    @*@Html.ActionLink("", "ChartTwoDelete", new { id = "" }, new { @class = "deleteId glyphicon glyphicon-trash", data_placement = "top", title = "Delete" }) &nbsp;*@
                    <button type="submit" id="btnsave" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;&nbsp;Yes</button>&nbsp;&nbsp;&nbsp;
                    @*<a href="" class="deleteId btn btn-primary">Yes</a>*@
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        /*
             This is used for cascding dropdown. Which will change upon Business Unit. If Business Unit is selected
             then the Units will appear according to selected Busines Unit.
             */
        $("#ddlAccountType").change(function () {
            $("#ddlAccounting_Chart1FK").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChartOneDropDownSpecific")",
                    datatype: "Json",
                    data: { id: $("#ddlAccountType").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text  + '</option>');
                        });
                        $("#ddlAccounting_Chart1FK").html(items);
                    }
                });
            });

        //

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtName').val($('#tdname' + r).text().trim());
                $('#txtRemark').val($('#tdremark' + r).text().trim());
                $('#txtAccounting_Chart1FK').val($('#tdchartonename' + r).text().trim());
                var val = $('#tdaccounttype' + r).text().trim();
                $('#txtAccounting_TypeFK').val($('#tdaccounttype' + r).text().trim());

                $('#divddlAccountType').css({ 'display': 'none' });
                $('#divtxtAccountType').css({ 'display': 'block' });
                $('#divddlChartOneFk').css({ 'display': 'none' });
                $('#divtxtChartOneFk').css({ 'display': 'block' });
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
        $(".btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#divddlAccountType').css({ 'display': 'block' });
            $('#divtxtAccountType').css({ 'display': 'none' });
            $('#divddlChartOneFk').css({ 'display': 'block' });
            $('#divtxtChartOneFk').css({ 'display': 'none' });
            $('#ChartTwo').bootstrapValidator("resetForm", true);
        });

        //$("#btncloseandreset").click(function (e) {
        //    e.preventDefault();
        //    $('#hidId').empty();
        //    $('#ActionId').val(1);
        //    $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
        //    $('#ChartTwo').trigger("reset");
        //    //$('#txtName').empty();
        //    //$('#txtRemark').empty();
        //    //$('#txtAccounting_Chart1FK').empty();

        //    $('#divddlAccountType').css({ 'display': 'block' });
        //    $('#divtxtAccountType').css({ 'display': 'none' });
        //    $('#divddlChartOneFk').css({ 'display': 'block' });
        //    $('#divtxtChartOneFk').css({ 'display': 'none' });
        //})

    </script>


}
