﻿@{
    ViewData["Title"] = "Check Approval Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Accounting.VMAccountingTransaction
@using (Html.BeginForm("CheckApprovalCreate", "AccountingController", FormMethod.Post, new { id = "CheckApprovalCreate", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Bank Withdraw :
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Journal"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th>Date</th>
                                        <th>Cost Center</th>
                                        <th>Voucher No</th>
                                        <th>Cheque No</th>
                                        <th>Cheque Date</th>
                                        <th>From Account</th>
                                        <th>To Account</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                    <tr>
                                        <td>@(++sl)</td>
                                        <td id="tdId_@item.ID" class="hidden">
                                            @item.ID
                                        </td>
                                        <td id="tddate_@item.ID">@item.Date.ToString("yyyy-MM-dd")</td>
                                        <td id="tdaccountingcostcenter_@item.ID">
                                            @item.Accounting_CostCenterName
                                            <input type="hidden" id="tdaccountingcostcenterid_@item.ID" value="@item.Accounting_CostCenterFK" />
                                        </td>
                                        <td id="tdcid_@item.ID">@item.CID</td>
                                        <td id="tdchequeno_@item.ID">@item.ChequeNo</td>
                                        <td id="tdchequedate_@item.ID">@item.ChequeDate?.ToString("yyyy-MM-dd")</td>
                                        <td id="tdfromaccname_@item.ID">
                                            @item.From_Acc_Name
                                            <input type="hidden" id="tdfromaccid_@item.ID" value="@item.From_Acc_NameFK" />
                                        </td>
                                        <td id="tdtoaccname_@item.ID">
                                            @item.To_Acc_Name
                                            <input type="hidden" id="tdtoaccid_@item.ID" value="@item.To_Acc_NameFK" />
                                        </td>
                                        <td id="tdamount_@item.ID">@item.Amount</td>
                                        <td id="tddescription_@item.ID">@item.Description</td>
                                        <td id="tddescription_@item.ID">
                                            @if (item.Status == 1)
                                            {
                                                <span class="badge badge-gray-alt">Pending</span>
                                            }
                                            @if (item.Status == 2)
                                            {
                                                <span class="badge bg-blue">Approved</span>
                                            }
                                            @if (item.Status == 3)
                                            {
                                                <span class="badge bg-blue-grey">Hold</span>
                                            }
                                            @if (item.Status == 4)
                                            {
                                                <span class="badge  bg-red">Reject</span>
                                            }
                                        </td>
                                        <td id="tdaction_@item.ID">
                                            @if (item.Status == 2)
                                            {
                                                @Html.ActionLink(".", "AccountingTransactionPrint", new { id = item.ID }, new { @class = "glyphicon glyphicon-print", @title = "Print", target = "_blank" })
                                            }
                                            else
                                            {
                                                <a id="@item.ID" onclick="makeeditable(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                                   data-placement="top">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                                <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                </a>
                                            }

                                        </td>

                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Bank Withdraw</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Voucher No:</label>
                                @Html.TextBoxFor(model => model.CID, new { id = "txtCID", placeholder = "Voucher No", @class = "form-control", @readonly = "readonly" })
                                @Html.ValidationMessageFor(model => model.CID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="divddlAccounting_CostCenterFK" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Cost Center:</label>
                                @Html.DropDownListFor(model => model.Accounting_CostCenterFK, ViewBag.AccountCostCenterList as SelectList, "Please Select", new { id = "ddlAccounting_CostCenterFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Accounting_CostCenterFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="divddlAccounting_CostCenterFK" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">From Account:</label>
                                @Html.DropDownListFor(model => model.From_Acc_NameFK, ViewBag.FromAccountignList as SelectList, "Please Select", new { id = "ddlFrom_Acc_NameFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.From_Acc_NameFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="divddlAccounting_CostCenterFK" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">To Account:</label>
                                @Html.DropDownListFor(model => model.To_Acc_NameFK, ViewBag.ToAccountignList as SelectList, "Please Select", new { id = "ddlTo_Acc_NameFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.To_Acc_NameFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Cheque No:</label>
                                @Html.TextBoxFor(model => model.ChequeNo, new { id = "txtChequeNo", placeholder = "Cheque No", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.ChequeNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label"> Cheque Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="ChequeDate" type="text" class="form-control pull-right datePicker" id="ChequeDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Amount:</label>
                                @Html.TextBoxFor(model => model.Amount, new { id = "txtAmount", placeholder = "Amount", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea name="Description"  type="text" class="form-control pull-right" id="txtDescription"></textarea>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>

   <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Delete Bank Withdraw</b></h5>

                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                        <button type="submit" id="btndelete" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;&nbsp;Yes</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function makeeditable(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlAccounting_CostCenterFK').val($('#tdaccountingcostcenterid_' + r).val().trim()).trigger('change');
                $('#txtCID').val($('#tdcid_' + r).text().trim());
                $('#ddlFrom_Acc_NameFK').val($('#tdfromaccid_' + r).val().trim()).trigger('change');
                $('#ddlTo_Acc_NameFK').val($('#tdtoaccid_' + r).val().trim()).trigger('change');
                $('#txtChequeNo').val($('#tdchequeno_' + r).text().trim());
                $('#ChequeDate').val($('#tdchequedate_' + r).text().trim());
                $('#txtAmount').val($('#tdamount_' + r).text().trim());
                $('#txtDescription').val($('#tddescription_' + r).text().trim());
            }
        }


        
        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }

        function journalApprovedInfo(id) {
            if (id !== null) {
                var debit = $('#hidTotalDebit').val();
                var credit = $('#hidTotalCredit').val();
                var hr = "/../../Accounting/JournalApprove/" + id;
                //if (debit == credit) {
                $("#actionApprove").removeClass('hidden');
                $("#actionApprove").attr("href", hr);

                //}
                //else {
                //    $("#journalMessage").text("Debit and Credit not match yet.")
                //}
            }
        }
        $(".btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#Journal').bootstrapValidator("resetForm", true);
        })

    </script>
}
