﻿@{
    ViewData["Title"] = "Cheque List Waiting for Approval";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Accounting.VMAccountingTransaction
@using (Html.BeginForm("ChequeListWaitingforApproval", "AccountingController", FormMethod.Post, new { id = "ChequeListWaitingforApproval", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Bank Withdraw :
                            &nbsp;&nbsp;
                            @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Journal"
                                        data-placement="top">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>*@
                        </h3>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                @*<label for="message-text" class="col-form-label"> Checque Date:</label>*@
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group date">
                                <input name="Date" type="text" class="form-control pull-right datePicker" id="Date" autocomplete="off" required="required">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tablezyx" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th>Date</th>
                                        <th>Cost Center</th>
                                        <th>Voucher No</th>
                                        <th>Cheque No</th>
                                        <th>Cheque Date</th>
                                        <th>From Account</th>
                                        <th>To Account</th>
                                        <th>Amount</th>
                                        <th>Description</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                    <tr>
                                        <td>@(++sl)</td>
                                        <td id="tdId_@item.ID" class="hidden">
                                            @item.ID
                                        </td>
                                        <td id="tddate_@item.ID">@item.Date.ToString("yyyy-MM-dd")</td>
                                        <td id="tdaccountingcostcenter_@item.ID">
                                            @item.Accounting_CostCenterName
                                            <input type="hidden" id="tdaccountingcostcenterid_@item.ID" value="@item.Accounting_CostCenterFK" />
                                        </td>
                                        <td id="tdcid_@item.ID">@item.CID</td>
                                        <td id="tdchequeno_@item.ID">@item.ChequeNo</td>
                                        <td id="tdchequedate_@item.ID">@item.ChequeDate?.ToString("yyyy-MM-dd")</td>
                                        <td id="tdfromaccname_@item.ID">
                                            @item.From_Acc_Name
                                            <input type="hidden" id="tdfromaccid_@item.ID" value="@item.From_Acc_NameFK" />
                                        </td>
                                        <td id="tdtoaccname_@item.ID">
                                            @item.To_Acc_Name
                                            <input type="hidden" id="tdtoaccid_@item.ID" value="@item.To_Acc_NameFK" />
                                        </td>
                                        <td id="tdamount_@item.ID">@item.Amount</td>
                                        <td id="tddescription_@item.ID">@item.Description</td>
                                        <td id="tddescription_@item.ID">
                                            @if (item.Status == 1)
                                            {
                                                <span class="badge badge-gray-alt">Pending</span>
                                            }
                                            @if (item.Status == 2)
                                            {
                                                <span class="badge bg-blue">Approved</span>
                                            }
                                            @if (item.Status == 3)
                                            {
                                                <span class="badge bg-blue-grey">Hold</span>

                                            }
                                            @if (item.Status == 4)
                                            {
                                                <span class="badge  bg-red">Reject</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.Status == 2)
                                            {
                                                @Html.ActionLink(".", "AccountingTransactionPrint", new { id = item.ID }, new { @class = "glyphicon glyphicon-print", @title = "Print", target = "_blank" })
                                            }
                                        </td>

                                    </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="8" style="text-align:right"></th>
                                        <th colspan="4" style="text-align:left"></th>
                                        
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });
    </script>
}


