﻿@{
    ViewData["Title"] = "Comprehensive Income Report";
}
<section class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>
                    Comprehensive Income:
                    &nbsp;&nbsp;
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#exampleModal1"> Comprehensive Income </button>
                    </div>
                </div>
                @if (Model.FromDate.ToString("MM/dd/yyyy") != "01/01/0001")
                {
                    <div class="row float:right">
                        <div class="col-md-8">
                            <b>
                                <label id="SearchLabel">
                                    Date :From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                                </label>
                            </b>
                        </div>
                        <div class="col-md-4 text-right">

                            @Html.ActionLink(" Print", "ComprehensiveIncome", new { fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy") }, new { @class = "glyphicon glyphicon-print btn btn-info btn-md", @target = "_blank" });

                        </div>
                    </div>
                    <br />
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableReport" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align: center"><strong>Particulars</strong></th>
                                    <th style="text-align: right"><strong>Amount In Taka</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left">
                                        Export Sales
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ExportSales)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Subcontract Income
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.SubContractIncome)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>
                                            Total Revenue Income
                                        </strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalRevenueIncome)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cost of Goods Sold
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.CostofGoodsSold)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>Gross Profit</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.GrossProfit)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>
                                            Operating expenses
                                        </strong>
                                    </td>
                                    <td style="text-align: left"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Administrative Expenses
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.AdministrativeExpense)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Selling & Distribution Expenses
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.SellingAndDistribuionExpense)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalOperatingExpense)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><b>Operating Profit</b></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.OperatingProfit)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Financial Expenses
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.FinancialExpense)</strong></td>
                                </tr>
                                @*<tr>
                                        <td style="text-align: left">
                                            <b>Profit Before Tax</b>
                                        </td>
                                        <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ProfitBeforeTax</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left">
                                            Income Tax Expenses
                                        </td>
                                        <td style="text-align: right">@String.Format("{0:0,0.00}", Model.IncomeTaxExpense</td>
                                    </tr>*@
                                <tr>
                                    <td style="text-align: left">
                                        <b>Profit for the Year</b>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ProfitfortheYearafterTax)</strong></td>
                                </tr>
                                @*<tr>
                                    <td style="text-align: left">
                                        Accumulated Depreciation
                                    </td>
                                    <td style="text-align: right">
                                        @String.Format("{0:0,0.00}", Model.AccumulatedDepreciation)
                                    </td>
                                </tr>*@
                                <tr>
                                    <td style="text-align: left">
                                        Other Comprehensive Income
                                    </td>
                                    <td style="text-align: right">
                                        @String.Format("{0:0,0.00}", Model.OtherComprehensiveIncome)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>
                                            Total Comprehensive Income
                                        </strong>
                                    </td>
                                    <td style="text-align: right">
                                        <strong>
                                            @String.Format("{0:0,0.00}", Model.TotalComprehensiveIncome)
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("ComprehensiveIncomeSearchNew", "Accounting", FormMethod.Post, new { id = "ComprehensiveIncomeSearchNew", target = "_blank" }))
{
    <div class="modal fade" id="exampleModal1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Statement of Comprehensive Income</b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">From Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="FromDate" type="text" class="form-control pull-right datePicker" value="@ViewBag.FromDate" id="FromDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">To Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="ToDate" type="text" class="form-control pull-right datePicker" id="ToDate" value="@ViewBag.ToDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}



@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var serchval = $("#SearchLabel").text();
            $('#tableReport').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                //"dom" : 'lrtip',
                pageLength: 40,
                "ordering": false,
                buttons: [
                    'copy',
                    {
                        extend: 'excel',
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'print',
                        messageTop: serchval,
                    }
                ]
            });
        });
    </script>
}