﻿@{
    ViewData["Title"] = "ContraVoucher";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdtitle = "tdtitle";
    var tddescription = "tddescription";
    var tddate = "tddate";
    var tdfinalize = "tdfinalize";
}
@model Erp.Core.Services.Accounting.VMJournal
@using (Html.BeginForm("ContraVoucher", "AccountingController", FormMethod.Post, new { id = "ContraVoucher", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Contra Voucher :
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Journal"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th>Code</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Cost Center</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="@tdId@item.ID" class="hidden">
                                                @item.ID
                                                <input type="hidden" id="JournalType_@item.ID" value="@item.JournalType" />
                                            </td>
                                            <td>@item.CID</td>
                                            <td id="@tdtitle@item.ID">@item.Title</td>
                                            <td id="@tddescription@item.ID">@item.Description</td>
                                            <td id="@tddate@item.ID">@item.Date.ToString("yyyy-MM-dd")</td>

                                            <td id="@tddate@item.ID">
                                                <input type="hidden" id="Accounting_HeadFk_@item.ID" value="@item.Accounting_CostCenterFK" />
                                                @item.Accounting_CostCenterName
                                            </td>
                                            <td id="@tdfinalize@item.ID">
                                                @if (item.Finalized == false && item.Approved == false)
                                                {
                                                    <span class="label label-info">Not Finalized</span>
                                                    <span class="label label-info">Not Approved</span>
                                                }
                                                @if (item.Finalized == true && item.Approved == true)
                                                {
                                                    <span class="label label-success">Finalized</span>
                                                    <span class="label label-success">Approved</span>
                                                }
                                                @if (item.Finalized == false && item.Approved == true)
                                                {
                                                    <span class="label label-info">Not Finalized</span>
                                                    <span class="label label-success">Approved</span>
                                                }
                                                @if (item.Finalized == true && item.Approved == false)
                                                {
                                                    <span class="label label-success">Finalized</span>
                                                    <span class="label label-info">Not Approved</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Finalized == true && item.Approved == false)
                                                {
                                                    <a onclick="journalApprovedInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#journalApproveModal" title="Approve"
                                                       data-placement="top">
                                                        Approve
                                                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                    </a>


                                                    <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                @if (item.Finalized == false && item.Approved == false)
                                                {
                                                    <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                @if (item.Finalized == true && item.Approved == true)
                                                {
                                                    @Html.ActionLink(".", "AccountingVoucherPrint", new { id = item.ID }, new { @class = "glyphicon glyphicon-print", @title = "Print", target = "_blank" })
                                                }
                                                <a class="glyphicon glyphicon-zoom-in" href="~/Accounting/ContraVoucherDetails/@item.ID" target="_blank" title="Journal Details">.</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Contra Voucher Create</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Title:</label>
                        @Html.TextBoxFor(model => model.Title, new { id = "txtTitle", placeholder = "Title", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label"> Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="Date" type="text" class="form-control pull-right datePicker" id="Date" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="divddlAccounting_CostCenterFK" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Cost Center:</label>
                                @Html.DropDownListFor(model => model.Accounting_CostCenterFK, ViewBag.AccountCostCenterList as SelectList, "Please Select", new { id = "ddlAccounting_CostCenterFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Accounting_CostCenterFK, "", new { @class = "text-danger" })
                            </div>
                            <div id="divtxtAccounting_CostCenterFK" class="form-group" style="display:none" )>
                                <label for="recipient-name" class="col-form-label">Cost Center:</label>
                                <input type="text" name="Accounting_CostCenterFK" id="txtAccounting_CostCenterFK" placeholder="Account Type" readonly="readonly" , required
                                       class="form-control text-left" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <textarea name="Description" type="text" class="form-control pull-right" id="Description"></textarea>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;


                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Contra Voucher Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btndelete" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;&nbsp;Yes</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="journalApproveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Contra Voucher Approve</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3><label id="journalMessage">Are You Sure Approve Contra Voucher ?</label></h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <a class="hidden btn btn-success" id="actionApprove">Approve</a>

                </div>
            </div>
        </div>
    </div>


}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });
        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtTitle').val($('#tdtitle' + r).text().trim());
                $('#Description').val($('#tddescription' + r).text().trim());
                $('#Date').val($('#tddate' + r).text().trim());
                $('#ddlAccounting_CostCenterFK').val($('#Accounting_HeadFk_' + r).val().trim()).trigger('change');

            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }

        function journalApprovedInfo(id) {
            if (id !== null) {
                var debit = $('#hidTotalDebit').val();
                var credit = $('#hidTotalCredit').val();
                var hr = "/../../Accounting/ContraVoucherApprove/" + id;
                //if (debit == credit) {
                    $("#actionApprove").removeClass('hidden');
                    $("#actionApprove").attr("href", hr);

                //}
                //else {
                //    $("#journalMessage").text("Debit and Credit not match yet.")
                //}
            }
        }

        $(".btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#ContraVoucher').bootstrapValidator("resetForm", true);
        });

    </script>
}


