﻿@model Erp.Core.Services.Accounting.VMCogs
@{
    Layout = null;
    ViewData["Title"] = "Cost of Goods Sold";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cost of Goods Sold</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            text-transform: uppercase !important;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            @*<div class="text-center">
            <div class="row">
                <h3>
                    <span style="float: left">
                        <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                    </span>
                    <span style="text-align:center" ; color: #AA57FF">
                            Romo Fashion Today Ltd.
                        </span>
                </h3>
            </div>
        </div
        <hr style="width: 100%; color: black; height: 2px; background-color: black;">>*@
            <br />
            <div class="text-left">
                <div class="form-group">
                    <h4><b>Cost of Goods Sold </b></h4>
                </div>
                <div class="form-group">
                    <h5>
                        <b>Date :</b> From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                    </h5>
                </div>
                <div class="form-group">
                    <p id="printdate"></p>
                </div>
            </div>
            <div style="width: 100%;">
                <div id="viewparty">
                    <div>
                        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 13px">
                            <tr>
                                <td style="text-align: center"><strong>Particulars</strong></td>
                                <td style="text-align:right">
                                    <strong>Amount In Taka</strong>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">Begining Raw materials Inventory:</td>
                                <td style="text-align: right">
                                    <label>@String.Format("{0:0,0.00}", Model.RawMaterialOpeningStock)</label>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">Purchase Raw materials</td>
                                <td style="text-align: right">  @String.Format("{0:0,0.00}", Model.RawMaterialPurchase) </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">Ending Raw materials Inventory </td>
                                <td style="text-align: right"> @*(-)*@@String.Format("{0:0,0.00}", Model.RawMaterialClosing) </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    @*Raw materials consumed*@
                                    Direct Materials used in Production
                                </td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.RawMaterialConsumed)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    @*Factory overhead*@
                                    Manufacturing Overhead
                                </td>
                                <td style="text-align: right"> @String.Format("{0:0,0.00}", Model.FactoryOverhead) </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Cost of goods manufactured
                                </td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.CostofGoodsManufactured)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Begining WIP Inventory
                                </td>
                                <td style="text-align: right"> @String.Format("{0:0,0.00}", Model.OpeningStockWorkinProcess) </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Ending WIP Inventory
                                </td>
                                <td style="text-align: right"> @*(-)*@@String.Format("{0:0,0.00}", Model.ClosingStockWorkinProcess) </td>

                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Cost of Good Manufactured for the Year
                                </td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.CostofGoodsAvaiableforSales)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Begining Finished Goods Inventory
                                </td>
                                <td style="text-align: right"> @String.Format("{0:0,0.00}", Model.OpeningStockofFinishGoods) </td>
                            </tr>

                            <tr>
                                <td style="text-align: left">
                                    Ending Finished Goods Inventory
                                    @*Closing stock of finished goods*@
                                </td>
                                <td style="text-align: right">@*(-)*@ @String.Format("{0:0,0.00}", Model.ClosingStockofFinishGoods) </td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Cost of goods sold
                                </td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.CostofGoodsSold)</strong></td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
            
            <br />
            <br />
            <br />
            <br />
            <br />
            @*<div class="text-center">
            <div class="row">
                <span style="text-align:center" ; color: #AA57FF">
                    The annexed notes are an integral part of these Financial Statements.
                </span>
            </div>
        </div>*@
            <br />
            <br />
            <br />
            @*<table style="width: 100%; float:right">
            <tr>
                <td style="text-align:left"><strong>Chairman</strong></td>
                <td style="text-align:right"><strong>Director</strong></td>
                <td style="text-align:right"><strong>Managing Director</strong></td>
            </tr>
        </table>*@
            <br />
            @*<div class="text-center">
            <div class="row">
                <span style="text-align:center" ; color: #AA57FF">
                    Signed as per our annexed report of even date.
                </span>
            </div>
        </div>*@
            <br />
        </div>
        @*<div style="text-align: left">
                Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
            </div>*@
    </div>
</body>

</html>



