﻿@model Erp.Core.Services.Accounting.VMCogs
@{
    ViewData["Title"] = "Cost of Goods Sold";
}
<section class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>
                    Cost of Goods Sold:
                    &nbsp;&nbsp;
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#exampleModal1"> Cost of Goods Sold </button>
                    </div>
                </div>
                @if (Model.FromDate.ToString("MM/dd/yyyy") != "01/01/0001")
                {
                    <div class="row float:right">
                        <div class="col-md-8">
                            <b>
                                <label id="SearchLabel">
                                    Date :From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                                </label>
                            </b>
                        </div>
                        <div class="col-md-4 text-right">
                            @Html.ActionLink(" Print", "CostofGoodsSoldNew", new { fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy") }, new { @class = "glyphicon glyphicon-print btn btn-info btn-md", @target = "_blank" });
                        </div>
                    </div>
                    <br />
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableReport" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align: center"><strong>Particulars</strong></th>
                                    <th style="text-align: right"><strong>Amount In Taka</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left">Begining Raw materials Inventory:</td>
                                    <td style="text-align: right">
                                        <label>@String.Format("{0:0,0.00}", Model.RawMaterialOpeningStock)</label>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Purchase Raw materials</td>
                                    <td style="text-align: right">  @String.Format("{0:0,0.00}", Model.RawMaterialPurchase) </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Ending Raw materials Inventory </td>
                                    <td style="text-align: right"> @*(-)*@@String.Format("{0:0,0.00}", Model.RawMaterialClosing) </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        @*Raw materials consumed*@
                                        Direct Materials used in Production
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.RawMaterialConsumed)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        @*Factory overhead*@
                                        Manufacturing Overhead
                                    </td>
                                    <td style="text-align: right"> @String.Format("{0:0,0.00}", Model.FactoryOverhead) </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cost of goods manufactured
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.CostofGoodsManufactured)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Begining WIP Inventory
                                    </td>
                                    <td style="text-align: right"> @String.Format("{0:0,0.00}", Model.OpeningStockWorkinProcess) </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Ending WIP Inventory
                                    </td>
                                    <td style="text-align: right"> @*(-)*@@String.Format("{0:0,0.00}", Model.ClosingStockWorkinProcess) </td>

                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cost of Good Manufactured for the Year
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.CostofGoodsAvaiableforSales)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Begining Finished Goods Inventory
                                    </td>
                                    <td style="text-align: right"> @String.Format("{0:0,0.00}", Model.OpeningStockofFinishGoods) </td>
                                </tr>

                                <tr>
                                    <td style="text-align: left">
                                        Ending Finished Goods Inventory
                                        @*Closing stock of finished goods*@
                                    </td>
                                    <td style="text-align: right">@*(-)*@ @String.Format("{0:0,0.00}", Model.ClosingStockofFinishGoods) </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cost of goods sold
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.CostofGoodsSold)</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("CostofGoodsSoldSearch", "Accounting", FormMethod.Post, new { id = "CostofGoodsSoldSearch", target = "_blank" }))
{
    <div class="modal fade" id="exampleModal1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Cost of Good Sold</b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">From Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="FromDate" type="text" class="form-control pull-right datePicker" value="@ViewBag.FromDate" id="FromDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">To Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="ToDate" type="text" class="form-control pull-right datePicker" id="ToDate" value="@ViewBag.ToDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}



@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var serchval = $("#SearchLabel").text();
            $('#tableReport').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                pageLength: 40,
                "ordering": false,
                buttons: [
                    'copy',
                    {
                        extend: 'excel',
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'print',
                        messageTop: serchval,
                    }
                ]
            });
        });
    </script>
}