﻿@{
    Layout = null;
    ViewData["Title"] = "Equity";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Equity</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            text-transform: uppercase !important;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            @*<img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />*@
                        </span>
                        <span style="text-align:center" ; color: #AA57FF">
                            Romo Fashion Today Ltd.
                        </span>
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">
                    <h4>
                        Statement of Changes in Equity
                    </h4>
                </div>
                <div class="form-group">
                    <h5>
                        For the year ended June 30, 2018.
                    </h5>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty">
                    <div>
                        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 13px">
                            <tr style="text-align:center">
                                <td colspan="5" rowspan="2">
                                    <strong>
                                        Particulars
                                    </strong>
                                </td>
                                <td colspan="2">
                                    <strong>
                                        Share capital
                                    </strong>
                                </td>
                                <td colspan="2">
                                    <strong>
                                        General Reserve
                                    </strong>
                                </td>
                                <td colspan="2">
                                    <strong>
                                        Revaluation Reserve
                                    </strong>
                                </td>
                                <td colspan="2">
                                    <strong>
                                        Retained Earnings
                                    </strong>
                                </td>
                                <td colspan="2">
                                    <strong>
                                        Total
                                    </strong>
                                </td>
                            </tr>
                            <tr style="text-align:center">
                                <td colspan="2">
                                    Amount in Taka
                                </td>
                                <td colspan="2">
                                    Amount in Taka
                                </td>
                                <td colspan="2">
                                    Amount in Taka
                                </td>
                                <td colspan="2">
                                    Amount in Taka
                                </td>
                                <td colspan="2">
                                    Amount in Taka
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    Balance at 01 July 2017
                                </td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    Net profit for the year
                                </td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            </tr>
                            <tr>
                                <td colspan="5">
                                    Balance at 30 June 2018
                                </td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                                <td colspan="2"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="text-center">
                    <div class="row">
                        <span style="text-align:center" ; color: #AA57FF">
                            The annexed notes are an integral part of these Financial Statements.
                        </span>
                    </div>
                </div>
            <br />
            <br />
            <br />
            <table style="width: 100%; float:right">
                    <tr>
                        <td style="text-align:left"><strong>Chairman</strong></td>
                        <td style="text-align:right"><strong>Director</strong></td>
                        <td style="text-align:right"><strong>Managing Director</strong></td>
                    </tr>
                </table>
            <br />
            <div class="text-center">
                    <div class="row">
                        <span style="text-align:center" ; color: #AA57FF">
                            Signed as per our annexed report of even date.
                        </span>
                    </div>
                </div>
            <br />
        </div>
       
    </div>
</body>
</html>


