﻿
<div class="box box-default">
    <form>
        <div class="box-header with-border" style="text-align:center">
            <h3 class="box-title"><b>Equity Search</b></h3>
           
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Date:</label>
                        <input class="form-control datepicker" id="message-text" />
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-3"></div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <div class="box-footer with-border">          
            <div class="box-tools pull-right">
                <a class="btn btn-primary" href="~/Accounting/Equity" target="_blank">Show</a>              
            </div>
        </div>
        <!-- /.box-body -->
    </form>
</div>
                      
                  