﻿@model Erp.Core.Services.Accounting.VMFinancialPosition
@{
    Layout = null;
    ViewData["Title"] = "Financial Position";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Balance Sheet Report</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 20px auto;
            padding: 0 30px;
            font-size: 12px;
            text-transform: uppercase !important;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
        .doubleUnderline {
            text-decoration: underline;
            border-bottom: 1px solid #000;
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            @*@<div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: left">
                            <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                        </span>
                        <span style="text-align:center" ; color: #AA57FF">
                            Romo Fashion Today Ltd.
                        </span>
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">*@
            <br />
            <div class="text-center">
                <div class="form-group">
                    <h4>Statement of Financial Position </h4>
                </div>
                <div class="form-group">
                    <b>Date :</b> As at &nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                    @*<h5>As at 30 June 2018</h5>*@
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty">
                    <div>
                        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 13px">
                            <tr>
                                <td style="text-align: left"><strong>Particulars</strong></td>
                                <td style="text-align:right">
                                   <strong>Amount In Taka</strong>    
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Assets</strong></td>
                                <td style="text-align: left"><strong></strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Fixed Asset</strong></td>
                                <td style="text-align: left"><strong></strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">Property, Plant & Equipment</td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.PropertyPlantandEquipment)</td>
                            </tr>
                            @*<tr>
            <td style="text-align: left">Less: Accumulated Depreciation</td>
            <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccumulatedDepreciation</td>
        </tr>*@
                            <tr>
                                <td style="text-align: left"><strong>Total Fixed Asset</strong></td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalFixedAsset)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Current Asset</strong></td>
                                <td style="text-align: left"><strong></strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">Accounts Receivables</td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountReceivable)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Inventory
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.Inventory)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Advances, Deposits & Prepayments
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AdvanceDepositandPrePayments)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Cash in Hand
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.CashinHand)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Cash at Bank
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.CashatBank)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Other Current Assets
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.OthersCurrentAssets)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    <strong>Total current assets</strong>
                                </td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalCurrentAssets)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    <strong>Total assets</strong>
                                </td>
                                <td style="text-align: right"><span class="doubleUnderline"><strong>@String.Format("{0:0,0.00}", Model.TotalAssets)</strong></span></td>
                            </tr>

                            <tr>
                                <td style="text-align: left"><strong>Equity</strong></td>
                                <td style="text-align: left"><strong></strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Share capital
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShareCapital)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    General Reserve
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.GeneralReserve)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Accumulated Depreciation
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccumulatedDepreciation)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Revaluation Reserve
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.RevaluationReserve)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Retained Earnings
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.RetainedEarnings)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong> Total equity</strong></td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalEquity)</strong></td>
                            </tr>
                            @*<tr>
            <td style="text-align: left"><strong></strong></td>
            <td style="text-align: right"><strong></strong></td>
        </tr>*@
                            <tr>
                                <td style="text-align: left"><strong> Liabilities</strong></td>
                                <td style="text-align: left"><strong></strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Long-Term Loan
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.LongTermLoan)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Total Long-Term Liabilities</strong></td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalLongTermLiabilities)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Current Liabilities</strong></td>
                                <td style="text-align: left"><strong></strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Accounts Payable
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountPayable)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Short-Term Loan
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermLoan)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Short-Term Liabilities
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermliabilities)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Accepted Bills Liabilities
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AcceptedBillLiabilities)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Provision for Expenses
                                </td>
                                <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ProvisionforExpense)</td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Total current liabilities</strong></td>
                                <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalCurrentLiabilities)</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left"><strong>Total equity and liabilities</strong></td>
                                <td style="text-align: right"><span class="doubleUnderline"><strong>@String.Format("{0:0,0.00}", Model.TotalEquityandLiabilities)</strong></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            @*<div class="text-center">
                <div class="row">
                    <span style="text-align:center" ; color: #AA57FF">
                        The annexed notes are an integral part of these Financial Statements.
                    </span>
                </div>
            </div>
            <br />
            <br />
            <br />
            <table style="width: 100%; float:right">
                <tr>
                    <td style="text-align:left"><strong>Chairman</strong></td>
                    <td style="text-align:right"><strong>Director</strong></td>
                    <td style="text-align:right"><strong>Managing Director</strong></td>
                </tr>
            </table>*@
            @*<div class="text-center">
                    <div class="row">
                        <div class="col-md-4">Chairman</div>
                        <div class="col-md-4"> Director </div>
                        <div class="col-md-4">Managing Director</div>
                    </div>
                </div>*@
            @*<br />
            <div class="text-center">
                <div class="row">
                    <span style="text-align:center" ; color: #AA57FF">
                        Signed as per our annexed report of even date.
                    </span>
                </div>
            </div>
            <br />
        </div>*@
        @*<div style="text-align: left">
                Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
            </div>*@
    </div>
</body>
</html>


