﻿@model Erp.Core.Services.Accounting.VMFinancialPosition
@{
    ViewData["Title"] = "Financial Position Report";
}
<section class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>
                    Financial Position:
                    &nbsp;&nbsp;
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#exampleModal1"> Financial Position</button>
                    </div>
                </div>
                @if (Model.FromDate.ToString("MM/dd/yyyy") != "01/01/0001")
                {
                    <div class="row float:right">
                        <div class="col-md-8">
                            <b>
                                <label id="SearchLabel">
                                    Date as at @Model.ToDate.ToString("yyyy-MM-dd")
                                </label>
                            </b>
                        </div>
                        <div class="col-md-4 text-right">
                            @Html.ActionLink(" Print", "FinancialPosition", new { fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy") }, new { @class = "glyphicon glyphicon-print btn btn-info btn-md", @target = "_blank" });

                        </div>
                    </div>
                    <br />
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableReport" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align: center"><strong>Particulars</strong></th>
                                    <th style="text-align: right"><strong>Amount In Taka</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left"><strong>Assets</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Fixed Asset</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Property, Plant & Equipment</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.PropertyPlantandEquipment)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total Fixed Asset</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalFixedAsset)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Current Asset</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Accounts Receivables</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountReceivable)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Inventory
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.Inventory)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Advances, Deposits & Prepayments
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AdvanceDepositandPrePayments)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cash in Hand
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.CashinHand)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cash at Bank
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.CashatBank)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Other Current Assets
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.OthersCurrentAssets)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>Total current assets</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalCurrentAssets)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>Total assets</strong>
                                    </td>
                                    <td style="text-align: right"><strong><u> @String.Format("{0:0,0.00}", Model.TotalAssets)</u></strong></td>
                                </tr>

                                <tr>
                                    <td style="text-align: left"><strong>Equity</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Share capital
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShareCapital)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        General Reserve
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.GeneralReserve)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accumulated Depreciation
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccumulatedDepreciation)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Revaluation Reserve
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.RevaluationReserve)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Retained Earnings
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.RetainedEarnings)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong> Total equity</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalEquity)</strong></td>
                                </tr>
                                @*<tr>
            <td style="text-align: left"><strong></strong></td>
            <td style="text-align: right"><strong></strong></td>
        </tr>*@
                                <tr>
                                    <td style="text-align: left"><strong> Liabilities</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Long-Term Loan
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.LongTermLoan)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total Long-Term Liabilities</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalLongTermLiabilities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Current Liabilities</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accounts Payable
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountPayable)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Loan
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermLoan)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermliabilities)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accepted Bills Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AcceptedBillLiabilities)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Provision for Expenses
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ProvisionforExpense)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total current liabilities</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalCurrentLiabilities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total equity and liabilities</strong></td>
                                    <td style="text-align: right"><strong><u>@String.Format("{0:0,0.00}", Model.TotalEquityandLiabilities)</u></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("FinancialPositionSearch", "Accounting", FormMethod.Post, new { id = "FinancialPositionSearch" }))
{
    <div class="modal fade" id="exampleModal1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Financial Position</b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        @*<div class="col-md-6">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">From Date:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input name="FromDate" type="text" class="form-control pull-right datePicker" value="@ViewBag.FromDate" id="FromDate" autocomplete="off" required="required">
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">To Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="ToDate" type="text" class="form-control pull-right datePicker" id="ToDate" value="@ViewBag.ToDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}



@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
           
            var serchval = $("#SearchLabel").text();
            // $('#tableLedger').append('<caption style="caption-side: bottom">Ledger Information.</caption>');
            $('#tableReport').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                //"dom" : 'lrtip',
                pageLength: 40,
                "ordering": false,
                buttons: [
                    'copy',
                    {
                        extend: 'excel',
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'print',
                        messageTop: serchval,
                    }
                ]
            });
            
        });
    </script>
}