﻿@{
    Layout = null;
    ViewData["Title"] = "Financial Analysis";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Financial Analysis</title>
    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 2000px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            text-transform: uppercase !important;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <h3>
                        <span style="float: right; font-size:small">
                            Annex A
                        </span>
                        <span style="text-align:center" ; color: #AA57FF">
                            Romo Fashion Today Ltd.
                        </span>
                    </h3>

                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">
                    <h4>
                        Details of Property, Plant and Equipment
                    </h4>
                </div>
                <div class="form-group">
                    <h5>
                        As at 30 June 2018
                    </h5>
                </div>
            </div>
            <br />
            <div style="width: 100%;">
                <div id="viewparty">
                    <div>
                        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 13px">
                            <tr>
                                <td style="text-align: center" , colspan="2" rowspan="3"><strong>Particulars</strong></td>
                                <td style="text-align:center" colspan="4">Cost</td>
                                <td style="text-align:center" rowspan="3">Rate</td>
                                <td style="text-align:center" colspan="4">
                                    Depreciation
                                </td>
                                <td style="text-align:center" rowspan="3">
                                    Written down value at
                                    30 Jun 2018
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center">
                                    Balance at
                                    01 Jul 2017
                                </td>
                                <td style="text-align:center">
                                    Addition
                                </td>
                                <td style="text-align:center">Sale / disposal</td>
                                <td style="text-align:center">
                                    Total at
                                    30 Jun 2018
                                </td>
                                <td style="text-align:center">
                                    Opening Balance to
                                    July 01, 2017
                                </td>
                                <td style="text-align:center">
                                    Charge
                                    for the year
                                </td>
                                <td style="text-align:center">
                                    Adjustment
                                </td>
                                <td style="text-align:center">
                                    Total at
                                    30 Jun 2018
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:center" colspan="4">
                                    Amount in Taka
                                </td>
                                
                                <td style="text-align:center" colspan="4">
                                    Amount in Taka
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Land and land development
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">0%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left"colspan="2">
                                    Building and other construction
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">20%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Plant and machinery
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">20%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Furniture and fixtures
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">10%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    IT hardware and software
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">10%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Electric Installation and Electrical Equipment.
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">20%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Fire Hydrant & Fire Fighting Equipment
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">20%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Generator
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">15%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Bioler
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">15%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Office Decoration
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">10%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Spare Parts/Tools.
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">10%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Vehicle
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center">10%</td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    Total at 30 June 2018
                                </td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                                <td style="text-align:center"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="text-center">
                <div class="row">
                    <span style="text-align:center" ; color: #AA57FF">
                        The annexed notes are an integral part of these Financial Statements.
                    </span>
                </div>
            </div>
            <br />
            <br />
            <br />
            <table style="width: 100%; float:right">
                <tr>
                    <td style="text-align:left"><strong>Chairman</strong></td>
                    <td style="text-align:right"><strong>Director</strong></td>
                    <td style="text-align:right"><strong>Managing Director</strong></td>
                </tr>
            </table>
            <br />
            <div class="text-center">
                <div class="row">
                    <span style="text-align:center" ; color: #AA57FF">
                        Signed as per our annexed report of even date.
                    </span>
                </div>
            </div>
            <br />
        </div>

    </div>
</body>
</html>