﻿@{
    ViewData["Title"] = "Accounting Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Erp.Core.Services.Procurement.VMPurchaseOrder
<div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">

        <div class="box box-primary">
            <div class="box-header">
                <i class="ion ion-clipboard"></i>
                <h3 class="box-title">Dashboard</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="box box-widget widget-user-2">
                            <!-- Widget: user widget style 1 -->
                            <div class="widget-user-header bg-light-blue-gradient center">
                                <center>
                                    <h3><b>Approved Purchase Order List</b></h3>
                                </center>
                            </div>
                            <!-- Add the bg color to the header using any of the bg-* classes -->
                            <div class="box-footer no-padding">
                                @{
                                    if (ViewBag.POList != null)
                                    {
                                        <table class="table table-hover table-responsive table-bordered nowrap font-black">
                                            <tr>
                                                <th style="width:5%">SL</th>
                                                <th style="width:20%">PO No</th>
                                                <th style="width:25%">Supplier Name</th>
                                                <th style="width:25%">Order Date</th>
                                                <th style="width:25%">Amount</th>
                                            </tr>
                                            @{
                                                var i = 0;
                                            }

                                            @foreach (var item in ViewBag.POList)
                                            {
                                                i = i + 1;
                                                <tr>

                                                    <td><span class="badge badge-gray-alt">@i</span></td>
                                                    <td><span class="badge badge-gray-alt">@item.CID</span></td>
                                                    <td><span class="badge bg-blue">@item.VMSupplierName</span></td>
                                                    <td><span class="badge bg-green-active">@item.OrderDate.ToString("d")</span></td>
                                                    <td><span class="badge bg-green-active">@item.TotalPOValue</span></td>
                                                </tr>
                                            }
                                        </table>
                                    }
                                }
                            </div>
                        </div>
                        <!-- /.widget-user -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>




