﻿@model Erp.Core.Services.Accounting.VMJournalSlave
@{
    ViewData["Title"] = "Integrated Journal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("IntegratedJournalDetails", "AccountingController", FormMethod.Post, new { id = "IntegratedJournalDetails", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Integrated Journal Details:
                            &nbsp;&nbsp;
                            @*@if (Model.vMJournal.Approved == false)
                                {
                                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Debit Voucher Details"
                                            data-placement="top">
                                        <i class="glyphicon glyphicon-plus"></i>
                                    </button>
                                }*@
                        </h3>
                    </div>
                    @*<div class="panel-body">*@
                    <!--Body Will by Start Here-->
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3></h3>
                            </div>
                            <div class="row">
                                @Html.HiddenFor(model => model.vMJournal.Approved, new { Value = "", id = "hidApproved" })
                                @Html.HiddenFor(model => model.vMJournal.Finalized, new { Value = "", id = "hidFinalized" })
                                @Html.HiddenFor(model => model.vMJournal.ID, new { Value = "", id = "hidJournalId" })
                                <div class="box-body col-md-12">
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Voucher No</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.CID">
                                    </div>
                                    @*<div class="input-group">
                                            <span style="width:130px;" class="input-group-addon"></span>
                                            <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Description">
                                        </div>*@
                                </div>
                                <div class="box-body col-md-6">
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Title</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Title">
                                    </div>
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Description</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Description">
                                    </div>
                                </div>
                                <div class="box-body col-md-6">
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Date</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Date.ToString("yyyy/MM/d")">
                                    </div>
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Cost Center</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Accounting_CostCenterName">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th>A/C Head </th>
                                        <th>Description</th>
                                        <th style="text-align:right">Debit</th>
                                        <th style="text-align:right">Credit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                @foreach (var item in Model.DataList1)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="tdId_@item.ID" , class="hidden">

                                                <input type="hidden" id="Accounting_TypeFK_@item.ID" value="@item.Accounting_TypeFK" />
                                                <input type="hidden" id="Accounting_Chart1FK_@item.ID" value="@item.Accounting_Chart1FK" />
                                                <input type="hidden" id="Accounting_Chart2FK_@item.ID" value="@item.Accounting_Chart2FK" />
                                                <input type="hidden" id="Accounting_HeadFk_@item.ID" value="@item.Accounting_HeadFK" />
                                                <input type="hidden" id="Accounting_JournalFK_@item.ID" value="@item.Accounting_JournalFK" />
                                            </td>
                                            <td id="tdtitle_@item.ID">
                                                @item.Accounting_HeadName
                                            </td>
                                            <td id="tddescription_@item.ID">
                                                @item.Description
                                                <input type="hidden" id="tdremarks_@item.ID" value="@item.Remark" />
                                            </td>
                                            <td id="tddebit_@item.ID" style="text-align:right">@item.Debit</td>
                                            <td id="tdcredit_@item.ID" style="text-align:right">@item.Credit</td>
                                            <td>
                                                @if (item.Finalized == false)
                                                {
                                                    <a id="@item.ID" onclick="makeeditable(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>

                                    </tbody>
                                }
                                <tfoot>
                                    <tr>
                                        <th colspan="3" style="text-align:right">Total:</th>
                                        <th style="text-align:right">
                                            @Model.TotalDebit
                                            <input type="hidden" id="hidTotalDebit" value="@Model.TotalDebit" />
                                        </th>
                                        <th style="text-align:right">
                                            @Model.TotalCredit
                                            <input type="hidden" id="hidTotalCredit" value="@Model.TotalCredit" />
                                        </th>
                                        <th style="text-align:left">

                                            @*@if (Model.vMJournal.Finalized != true && Model.vMJournal.Approved != true && (@Model.TotalDebit == @Model.TotalCredit) && (@Model.TotalDebit != 0 && @Model.TotalCredit != 0))
                                                {
                                                    <a onclick="journalFinalizeInfo(@Model.Accounting_JournalFK);" class="linkPointer" data-toggle="modal" data-target="#journalFinalizeModal" title="Finalize"
                                                       data-placement="top">
                                                        Finalize
                                                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                    </a>
                                                }*@
                                        </th>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <!--Body Will by Start Here-->

                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>


        </div>
    </section>

}


@section scripts {

    <script type="text/javascript">

    </script>
}



