﻿@{
    ViewData["Title"] = "Integrated Journal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdtitle = "tdtitle";
    var tddescription = "tddescription";
    var tddate = "tddate";
    var tdfinalize = "tdfinalize";
}
@model Erp.Core.Services.Accounting.VMJournal
@using (Html.BeginForm("IntegratedJournal", "AccountingController", FormMethod.Post, new { id = "IntegratedJournal", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Integrated Journal :
                            @*&nbsp;&nbsp;
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Debit Voucher"
                                        data-placement="top">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>*@
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th>Code</th>
                                        <th>Title</th>
                                        <th>Description</th>
                                        <th>Date</th>
                                        <th>Cost Center</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="@tdId@item.ID" class="hidden">
                                                @item.ID
                                                <input type="hidden" id="JournalType_@item.ID" value="@item.JournalType" />
                                            </td>
                                            <td>@item.CID</td>
                                            <td id="@tdtitle@item.ID">@item.Title</td>
                                            <td id="@tddescription@item.ID">@item.Description</td>
                                            <td id="@tddate@item.ID">@item.Date.ToString("MM/dd/yyyy")</td>

                                            <td id="@tddate@item.ID">
                                                <input type="hidden" id="Accounting_HeadFk_@item.ID" value="@item.Accounting_CostCenterFK" />
                                                @item.Accounting_CostCenterName
                                            </td>
                                            <td id="@tdfinalize@item.ID">
                                                @if (item.Finalized == false && item.Approved == false)
                                                {
                                                    <span class="label label-info">Not Finalized</span>
                                                    <span class="label label-info">Not Approved</span>
                                                }
                                                @if (item.Finalized == true && item.Approved == true)
                                                {
                                                    <span class="label label-success">Finalized</span>
                                                    <span class="label label-success">Approved</span>
                                                }
                                                @if (item.Finalized == false && item.Approved == true)
                                                {
                                                    <span class="label label-info">Not Finalized</span>
                                                    <span class="label label-success">Approved</span>
                                                }
                                                @if (item.Finalized == true && item.Approved == false)
                                                {
                                                    <span class="label label-success">Finalized</span>
                                                    <span class="label label-info">Not Approved</span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Finalized == true && item.Approved == true)
                                                {
                                                    @Html.ActionLink(".", "AccountingVoucherPrint", new { id = item.ID }, new { @class = "glyphicon glyphicon-print", @title = "Print", target = "_blank" })
                                                }
                                                <a class="glyphicon glyphicon-zoom-in" href="~/Accounting/IntegratedJournalDetails/@item.ID" target="_blank" title="Integrated Journal Details">.</a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
  
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

    </script>
}

