﻿@{
    ViewData["Title"] = "Ledger Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <!-- Left col -->
    <section class="col-lg-12 connectedSortable">

        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">
                    Ledger Reports
                    &nbsp;&nbsp;

                </h3>
            </div>
            <!-- /.box-header -->
            <div class="panel-body">
                <!--Body Will by Start Here-->
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#balanceSheetModal"> Financial Position </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#IncomeStatementModal">Comprehensive Income</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#TrialBalanceModal">Trial Balance </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#equityModal">Equity</button>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#cashflowModal"> Cash Flow </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#financialAnalysisModal">Financial Analysis </button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#costofgoodsoldModal">COGS</button>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#aitadjustmentModal">AIT Adjustment</button>
                    </div>
                </div>
                <p></p>
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#provisionfortaxadjustmentModal"> Provision for Tax Adjustment </button>
                    </div>
                    <div class="col-md-3">
                        @*<button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#financialAnalysisModal">Financial Analysis </button>*@
                    </div>
                    <div class="col-md-3">
                        @*<button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#costofgoodsoldModal">COGS</button>*@
                    </div>
                    <div class="col-md-3">
                        @*<button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#aitadjustmentModal">AIT Adjustment</button>*@
                    </div>
                </div>
            </div>

        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Journal Create</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Title:</label>
                                <input class="form-control" id="message-text" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Date:</label>
                                <input class="form-control datepicker" id="message-text" />

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal for Balance Sheet-->
        <div class="modal fade" id="balanceSheetModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Financial Position </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Date:</label>
                                <input class="form-control datepicker" id="message-text" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-primary">Show</button>*@
                        <a class="btn btn-primary" href="~/Accounting/BalanceSheet" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <!--Modal for Income Statement-->
        <div class="modal fade" id="IncomeStatementModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Comprehensive Income </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">From Date:</label>
                                <input class="form-control datepicker" id="fromdate" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">To Date:</label>
                                <input class="form-control datepicker" id="todate" />
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-primary">Show</button>*@
                        <a class="btn btn-primary" href="~/Accounting/IncomeStatement" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <!--Modal for Trial Balance-->
        <div class="modal fade" id="TrialBalanceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Trial Balance </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Chart of Account Head No:</label>
                                <select class="form-control">
                                    <option> Chart of 1 Account Head </option>
                                    <option> Chart of 2 Account Head</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Currency Type:</label>
                                <select class="form-control">
                                    <option> BDT </option>
                                    <option> USD</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">From Date:</label>
                                <input class="form-control datepicker" id="fromdate" />
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">To Date:</label>
                                <input class="form-control datepicker" id="todate" />
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-primary">Show</button>*@
                        <a class="btn btn-primary" href="~/Accounting/TrialBalance" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>

        <!--Modal for Equity Sheet-->
        <div class="modal fade" id="equityModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Equity </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Date:</label>
                                <input class="form-control datepicker" id="message-text" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="~/Accounting/Equity" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


        <!--Modal for Cash Flow-->
        <div class="modal fade" id="cashflowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cash Flow </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Date:</label>
                                <input class="form-control datepicker" id="message-text" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="~/Accounting/CashFlow" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal for Cash Flow-->
        <div class="modal fade" id="financialAnalysisModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Financial Analysis </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Date:</label>
                                <input class="form-control datepicker" id="message-text" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="~/Accounting/FinancialAnalysis" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal for Cash Flow-->
        <div class="modal fade" id="costofgoodsoldModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cost of Goods Sold </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Date:</label>
                                <input class="form-control datepicker" id="message-text" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="~/Accounting/CostofGoodsSold" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal for AIT Adjustment -->
        <div class="modal fade" id="aitadjustmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adjustment of Advance Income Tax </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Date:</label>
                                <input class="form-control datepicker" id="message-text" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="~/Accounting/AitAdjustment" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal for AIT Adjustment -->
        <div class="modal fade" id="provisionfortaxadjustmentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Adjustment of Advance Income Tax </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Date:</label>
                                <input class="form-control datepicker" id="message-text" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" href="~/Accounting/ProvisionforTaxAdjustment" target="_blank">Show</a>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

