﻿@model Erp.Core.Services.Accounting.VMLedger
@using Erp.Core.Services.Accounting
@{
    ViewData["Title"] = "Ledger Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>
                    Ledger Report:
                    &nbsp;&nbsp;
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#exampleModal"> Ledger Report </button>
                    </div>
                </div>
                @if (ViewBag.LedgerData != null)
                {
                    <div class="row float:right">
                        <div class="col-md-8">
                            <b>
                                <label id="SearchLabel">
                                    Account Type : @Model.DataList.Select(x => x.Accounting_HeadName).FirstOrDefault(),&nbsp;
                                    Date :From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                                </label>
                            </b>
                        </div>
                        @*<div class="col-md-4"> <b></b></div>
                <div class="col-md-4"> <b>Date :</b> From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")</div>*@
                        <div class="col-md-4 text-right">
                            @Html.ActionLink(" Print", "LedgerReportView", new { cid = Model.Accounting_HeadId, fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy") }, new { @class = "glyphicon glyphicon-print btn btn-info btn-md", @target = "_blank" }) &nbsp;
                        </div>
                    </div>
                    <br />
                    <!--Body Will by Start Here-->
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                decimal tottaldebit = 0;
                                decimal totalcredit = 0;
                            }
                            <div class="table-responsive">
                                <table id="tableReport" class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th rowspan="2">SL</th>
                                            <th rowspan="2">Value Date</th>
                                            <th rowspan="2">Posted Date</th>
                                            <th rowspan="2">Cost Center</th>
                                            <th rowspan="2">Description</th>
                                            <th colspan="3" style="text-align:center">Amount in Taka</th>

                                        </tr>
                                        <tr>
                                            <th style="text-align:right">Debit</th>
                                            <th style="text-align:right">Credit</th>
                                            <th style="text-align:right">Balance</th>
                                        </tr>
                                        <tr>
                                            <td colspan="7" style="text-align:right"><b>Opening Balance</b></td>
                                            <td style="text-align:right"><b>@String.Format("{0:0,0.00}", Model.OpeningBalance)</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*<tr>
            <td style="text-align:right"></td>
            <td style="text-align:right"></td>
            <td style="text-align:right"></td>
            <td style="text-align:right"></td>
            <td style="text-align:right"></td>
            <td style="text-align:right"><b>Opening Balance</b></td>
            <td style="text-align:right">
                <b>
                    @String.Format("{0:0,0.00}", Model.OpeningBalance)
                </b>
            </td>
            <td style="text-align:right"></td>
        </tr>*@
                                        @if (Model.DataList.Any())
                                        {


                                            foreach (var data in Model.DataList)
                                            {
                                                <tr>
                                                    <td>@data.Sl</td>
                                                    <td>@data.Date.ToString("yyyy-MM-dd")</td>
                                                    <td>@data.PostedDate.ToString("yyyy-MM-dd")</td>
                                                    <td>@data.Accounting_CostCenterName</td>
                                                    <td>@data.Description</td>
                                                    <td style="text-align:right">
                                                        @if (data.Debit.ToString() != "0.00")
                                                        {
                                                            @String.Format("{0:0,0.00}", data.Debit)
                                                        }
                                                    </td>
                                                    <td style="text-align:right">
                                                        @if (data.Credit.ToString() != "0.00")
                                                        {
                                                            @String.Format("{0:0,0.00}", data.Credit)
                                                        }
                                                    </td>
                                                    <td style="text-align:right">
                                                        @if (data.Balance.ToString() != "0.00")
                                                        {
                                                            @String.Format("{0:0,0.00}", data.Balance)
                                                        }

                                                    </td>
                                                    @{
                                                        tottaldebit += data.Debit;
                                                        totalcredit += data.Credit;

                                                    }
                                                </tr>
                                            }
                                        }
                                        <tr>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"><b>Total</b></td>
                                            <td style="text-align:right">
                                                <b>
                                                    @String.Format("{0:0,0.00}", tottaldebit)
                                                </b>
                                            </td>
                                            <td style="text-align:right">
                                                <b>
                                                    @String.Format("{0:0,0.00}", totalcredit)
                                                </b>
                                            </td>
                                            <td style="text-align:right"></td>
                                        </tr>
                                        @*<tr>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"></td>
                                            <td style="text-align:right"><b>Closing Balance</b></td>
                                            <td style="text-align:right">
                                                <b>
                                                    @String.Format("{0:0,0.00}", Model.ClosingBalance)
                                                </b>
                                            </td>
                                        </tr>*@
                                    </tbody>
                                    <tbody>
                                        <tr>
                                            <td colspan="7" style="text-align:right"><b>Closing Balance</b></td>
                                            <td style="text-align:right"><b> @String.Format("{0:0,0.00}", Model.ClosingBalance)</b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>

    </div>
</section>

@using (Html.BeginForm("LedgerReport", "Accounting", FormMethod.Post, new
{
    id = "LedgerReport",@*@class = "formValidator",*@ @*target = "_blank"*@
}))
{
    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Ledger Report</b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6">
                            <div id="divddlAccountType" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Account Type:</label>
                                @Html.DropDownListFor(model => model.Accounting_TypeFK, ViewBag.AccountTypeList as SelectList, "Please Select", new { id = "ddlAccountType", @class = "searchingDropdown form-control", style = "width:100%" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div id="divddlChartOneFk" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Chart One:</label>
                                @Html.DropDownListFor(model => model.Accounting_Chart1FK, ViewBag.ChartOneList as SelectList, "Please Select", new { id = "ddlAccounting_Chart1FK", @class = "searchingDropdown form-control", style = "width:100%" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="divddlChartTwoFk" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Chart Two:</label>
                                @Html.DropDownListFor(model => model.Accounting_Chart2FK, ViewBag.ChartTwoList as SelectList, "Please Select", new { id = "ddlAccounting_Chart2FK", @class = "searchingDropdown form-control", style = "width:100%" })

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Account Head Name:</label>
                                @Html.DropDownListFor(model => model.Accounting_HeadId, ViewBag.AccountHeadList as SelectList, "Please Select", new { id = "ddlAccounting_HeadId", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Accounting_HeadId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">From Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="FromDate" type="text" class="form-control pull-right datePicker" id="FromDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">To Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="ToDate" type="text" class="form-control pull-right datePicker" id="ToDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>

}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var serchval = $("#SearchLabel").text();
           $('#tableReport').DataTable({
               sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                pageLength: 40,
                "ordering": false,
                buttons: [
                    'copy',
                    {
                        extend: 'excel',
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'print',
                        messageTop: serchval,
                    }
                ]
            });
        });

         /*
             This is used for cascding dropdown. Which will change upon Account Type. If Account Type is selected
             then the Chart One will appear according to selected Account Type.
             */
        $("#ddlAccountType").change(function () {
            $("#ddlAccounting_Chart1FK").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChartOneDropDownSpecific")",
                    datatype: "Json",
                    data: { id: $("#ddlAccountType").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text  + '</option>');
                        });
                        $("#ddlAccounting_Chart1FK").html(items);
                    }
                });
        });


        /*
             This is used for cascding dropdown. Which will change upon Chart One. If Chart One is selected
             then the Chart Two will appear according to selected Chart One.
             */
        $("#ddlAccounting_Chart1FK").change(function () {
            $("#ddlAccounting_Chart2FK").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChartTwoDropDownSpecific")",
                    datatype: "Json",
                    data: { id: $("#ddlAccounting_Chart1FK").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text  + '</option>');
                        });
                        $("#ddlAccounting_Chart2FK").html(items);
                    }
                });
        });

         /*
             This is used for cascding dropdown. Which will change upon Chart Two. If Chart Two is selected
             then the Account Head will appear according to selected Chart Two.
             */
        $("#ddlAccounting_Chart2FK").change(function () {
            $("#ddlAccounting_HeadId").empty();
            var val = $("#ddlAccounting_Chart2FK").val();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AccountHeadDropDownSpecific")",
                    datatype: "Json",
                    data: { id: $("#ddlAccounting_Chart2FK").val() },
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text  + '</option>');
                        });
                        $("#ddlAccounting_HeadId").html(items);
                    }
                });
        });

        $(".btncloseandreset").click(function (e) {
            e.preventDefault();

            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Search");
            $('#LedgerReportView').trigger("reset");
            //$("#ddlAccountType").prop("selectedIndex", 0);
          // $("select#elem").prop('selectedIndex', 0);
           // $("#select#ddlAccountType").prop('selectedIndex', -1);
            //$("#ddlAccountType").empty();
            //$("#ddlAccounting_Chart1FK").empty();
            //$("#ddlAccounting_Chart2FK").empty();
            //$("#ddlAccounting_HeadId").empty();
        })


    </script>
}



