﻿@model Erp.Core.Services.Accounting.VMLedger
@{
    Layout = null;
    ViewData["Title"] = "Ledger Report View";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ledger Report</title>
    <style>
        h4 {
            /*border-bottom: 2px solid black;
            display: inline;*/
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            /*text-transform: uppercase !important;*/
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            @*<div class="text-center">
                    <div class="row">
                        <h3>
                            <span style="float: left">
                                <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                            </span>
                            <span style="text-align:center" ; color: #AA57FF">
                                    Romo Fashion Today Ltd.
                                </span>
                        </h3>
                    </div>
                </div>
                <hr style="width: 100%; color: black; height: 2px; background-color: black;">*@
            <br />
            <div class="text-left">
                <div class="form-group">
                    <h4><b>Ledger Report</b></h4>
                </div>
                <div class="form-group">
                    <h5>
                        <b> Account Type :</b>  @*@Model.DataList.Select(x => x.Accounting_TypeName).FirstOrDefault() &nbsp;/
                         @Model.DataList.Select(x => x.Accounting_Chart1Name).FirstOrDefault()&nbsp;/
                            @Model.DataList.Select(x => x.Accounting_Chart2Name).FirstOrDefault()&nbsp;/*@
                           @Model.DataList.Select(x => x.Accounting_HeadName).FirstOrDefault()
                    </h5>
                </div>
                <div class="form-group">
                    <h5>
                        <b>Date :</b> From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                    </h5>
                </div>
                <div class="form-group">
                    <p id="printdate"></p>
                </div>
                @*<div class="form-group">
                        <h5>
                            @Model.DataList.Select(x => x.Accounting_TypeName).First() &nbsp;/
                            @Model.DataList.Select(x => x.Accounting_Chart1Name).First()&nbsp;/
                            @Model.DataList.Select(x => x.Accounting_Chart2Name).First()&nbsp;/
                            @Model.DataList.Select(x => x.Accounting_HeadName).First()
                        </h5>
                    </div>*@
            </div>
            @*<br />*@
            <div style="width: 100%;">
                <div id="viewparty">
                    <div>
                        @{
                            decimal openingbalance = 0;
                            openingbalance = @Model.OpeningBalance;
                            decimal tottaldebit = 0;
                            decimal totalcredit = 0;
                        }
                        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 13px">

                            <tr>
                                <th rowspan="2">SL</th>
                                <th rowspan="2">Value Date</th>
                                <th rowspan="2">Posted Date</th>
                                <th rowspan="2">Cost Center</th>
                                <th rowspan="2">Description</th>
                                <th colspan="3" style="text-align:center">Amount in Taka</th>

                            </tr>
                            <tr>
                                <th style="text-align:right">Debit</th>
                                <th style="text-align:right">Credit</th>
                                <th style="text-align:right">Balance</th>
                            </tr>
                            <tr>
                                <td colspan="7" style="text-align:right">Opening Balance</td>
                                <td style="text-align:right"> @String.Format("{0:0,0.00}", Model.OpeningBalance)</td>
                            </tr>

                            @if (Model.DataList.Any())
                            {


                                foreach (var data in Model.DataList)
                                {
                                    <tr>
                                        <td>@data.Sl</td>
                                        <td>@data.Date.ToString("yyyy-MM-dd")</td>
                                        <td>@data.PostedDate.ToString("yyyy-MM-dd")</td>
                                        <td>@data.Accounting_CostCenterName</td>
                                        <td>@data.Description</td>
                                        <td style="text-align:right">
                                            @if (data.Debit.ToString() != "0.00")
                                            {
                                                @String.Format("{0:0,0.00}", data.Debit)
                                            }
                                        </td>
                                        <td style="text-align:right">
                                            @if (data.Credit.ToString() != "0.00")
                                            {
                                                @String.Format("{0:0,0.00}", data.Credit)
                                            }
                                        </td>
                                        <td style="text-align:right">
                                            @if (data.Balance.ToString() != "0.00")
                                            {
                                                @String.Format("{0:0,0.00}", data.Balance)
                                            }

                                        </td>
                                        @{
                                            tottaldebit += data.Debit;
                                            totalcredit += data.Credit;

                                        }
                                    </tr>
                                }
                            }
                            <tr>
                                <td style="text-align:right"></td>
                                <td style="text-align:right"></td>
                                <td style="text-align:right"></td>
                                <td style="text-align:right"></td>
                                <td style="text-align:right"><b>Total</b></td>
                                <td style="text-align:right"><b> @String.Format("{0:0,0.00}", tottaldebit)</b></td>
                                <td style="text-align:right"><b> @String.Format("{0:0,0.00}", totalcredit)</b></td>
                                <td style="text-align:right"></td>
                            </tr>
                            <tr>
                                <td colspan="7" style="text-align:right">Closing Balance</td>
                                <td style="text-align:right"> @String.Format("{0:0,0.00}", Model.ClosingBalance)</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            @*<div class="text-center">
                    <div class="row">
                        <span style="text-align:center" ; color: #AA57FF">
                            The annexed notes are an integral part of these Financial Statements.
                        </span>
                    </div>
                </div>*@
            <br />
            <br />
            <br />
            @*<table style="width: 100%; float:right">
                    <tr>
                        <td style="text-align:left"><strong>Chairman</strong></td>
                        <td style="text-align:right"><strong>Director</strong></td>
                        <td style="text-align:right"><strong>Managing Director</strong></td>
                    </tr>
                </table>*@
            <br />
            @*<div class="text-center">
                    <div class="row">
                        <span style="text-align:center" ; color: #AA57FF">
                            Signed as per our annexed report of even date.
                        </span>
                    </div>
                </div>*@
            <br />
        </div>
        @*<div style="text-align: left">
                Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
            </div>*@
    </div>
</body>
</html>
<script>
    var d = new Date();
    document.getElementById("printdate").innerHTML = "Print Date: " + d;
</script>



