﻿@{
    ViewData["Title"] = "Notifier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Accounting.VMAccountingTransaction
@using (Html.BeginForm("Notifier", "AccountingController", FormMethod.Post, new { id = "Notifier", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div>
                <div class="box">
                    <div class="box-header">
                        <center><b>Party Payment/LC/Doc</b></center>
                    </div>
                    <div class="box-body">
                        <div>

                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li id="presentation1" role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cheque</a></li>
                                <li id="presentation2" role="presentation"><a href="#lcopen" aria-controls="messages" role="tab" data-toggle="tab">L/C Open</a></li>
                                <li id="presentation3" role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Doc Payment</a></li>
                                @*<li role="presentation"><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab">Cheque v-2</a></li>*@
                            </ul>
                            <br />
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade" id="home">
                                    <table class="table table-striped tableX">
                                        <thead>
                                            <tr>
                                                <th class="text-center" style="width: 5%">SL</th>
                                                <th class="hidden"></th>
                                                <th class="text-center" style="width: 10%">Cheque Amount</th>
                                                <th class="text-center" style="width: 20%">Supplier Name</th>
                                                <th class="text-center" style="width: 10%"> Supplier Payable Balance</th>
                                                <th class="text-center" style="width: 10%">Account Balance </th>
                                                <th class="text-center" style="width: 20%">Cheque Information</th>
                                                <th class="text-center" style="width: 10%">Status</th>
                                                <th class="text-center" style="width: 15%">Action</th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataList)
                                            {
                                                <tr>
                                                    <td class="text-center">@(++sl)</td>
                                                    <td id="tdId_@item.ID" class="hidden">
                                                        @item.ID
                                                    </td>
                                                    <td id="tdamount_@item.ID" class="text-right">@item.Amount</td>
                                                    <td id="tdtoaccname_@item.ID" class="text-left">
                                                        @item.To_Acc_Name
                                                    </td>
                                                    <td id="tdtoaccname_@item.ID" class="text-right">
                                                        @item.ToAccountBalance
                                                    </td>
                                                    <td id="tdtoaccname_@item.ID" class="text-right">
                                                        @item.FromAccountBalance
                                                    </td>
                                                    <td id="tdcid_@item.ID" class="text-left">Chq No: ||@item.ChequeNo || @item.From_Acc_Name </td>
                                                    <td id="tddescription_@item.ID">
                                                        @if (item.Status == 1)
                                                        {
                                                            <span class="badge badge-gray-alt">Pending</span>
                                                        }
                                                        @if (item.Status == 2)
                                                        {
                                                            <span class="badge bg-blue">Approved</span>
                                                        }
                                                        @if (item.Status == 3)
                                                        {
                                                            <span class="badge bg-blue-grey">Hold</span>
                                                        }
                                                        @if (item.Status == 4)
                                                        {
                                                            <span class="badge  bg-red">Reject</span>
                                                        }
                                                    </td>
                                                    <td id="tddescription_@item.ID" class="text-left">
                                                        <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 1 })" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                        <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 2 })" data-toggle="tooltip" data-placement="bottom" title="Hold" class="btn btn-sm btn-warning" role="button"><span class="glyphicon glyphicon-pause"></span></a>
                                                        <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 3 })" data-toggle="tooltip" data-placement="bottom" title="Reject" class="btn btn-sm btn-danger" role="button"><span class="glyphicon glyphicon-trash"></span></a>
                                                    </td>
                                                </tr>
                                            }

                                        </tbody>
                                        @*<tfoot>
                                                <tr>
                                                    <th colspan="5" style="text-align:right">Total:</th>
                                                    <th></th>
                                                </tr>
                                            </tfoot>*@
                                    </table>
                                </div>
                                @*<div role="tabpanel" class="tab-pane fade" id="lcopen">
                                        <table class="table table-striped tableX">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 5%">SL</th>
                                                    <th class="hidden"></th>
                                                    <th class="text-center" style="width: 10%">Cheque Amount</th>
                                                    <th class="text-center" style="width: 20%">Supplier Name</th>
                                                    <th class="text-center" style="width: 10%"> Supplier Payable Balance</th>
                                                    <th class="text-center" style="width: 10%">Account Balance </th>
                                                    <th class="text-center" style="width: 20%">Cheque Information</th>
                                                    <th class="text-center" style="width: 10%">Status</th>
                                                    <th class="text-center" style="width: 15%">Action</th>
                                                </tr>
                                            </thead>
                                            @{int sl1 = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataListDocPayment)
                                                {
                                                    <tr>
                                                        <td class="text-center">@(++sl1)</td>
                                                        <td id="tdId_@item.ID" class="hidden">
                                                            @item.ID
                                                        </td>
                                                        <td id="tdamount_@item.ID" class="text-right">@item.Amount</td>
                                                        <td id="tdtoaccname_@item.ID" class="text-left">
                                                            @item.To_Acc_Name
                                                        </td>
                                                        <td id="tdtoaccname_@item.ID" class="text-right">
                                                            @item.ToAccountBalance
                                                        </td>
                                                        <td id="tdtoaccname_@item.ID" class="text-right">
                                                            @item.FromAccountBalance
                                                        </td>
                                                        <td id="tdcid_@item.ID" class="text-left">Chq No: ||@item.ChequeNo || @item.From_Acc_Name </td>
                                                        <td id="tddescription_@item.ID">
                                                            @if (item.Status == 1)
                                                            {
                                                                <span class="badge badge-gray-alt">Pending</span>
                                                            }
                                                            @if (item.Status == 2)
                                                            {
                                                                <span class="badge bg-blue">Approved</span>
                                                            }
                                                            @if (item.Status == 3)
                                                            {
                                                                <span class="badge bg-blue-grey">Hold</span>
                                                            }
                                                            @if (item.Status == 4)
                                                            {
                                                                <span class="badge  bg-red">Reject</span>
                                                            }
                                                        </td>
                                                        <td id="tddescription_@item.ID" class="text-left">
                                                            <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 1 })" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                            <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 2 })" data-toggle="tooltip" data-placement="bottom" title="Hold" class="btn btn-sm btn-warning" role="button"><span class="glyphicon glyphicon-pause"></span></a>
                                                            <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 3 })" data-toggle="tooltip" data-placement="bottom" title="Reject" class="btn btn-sm btn-danger" role="button"><span class="glyphicon glyphicon-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>*@
                                @*<div role="tabpanel" class="tab-pane fade" id="messages">
                                        <table class="table table-striped tableX">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" style="width: 5%">SL</th>
                                                    <th class="hidden"></th>
                                                    <th class="text-center" style="width: 10%">Cheque Amount</th>
                                                    <th class="text-center" style="width: 20%">Supplier Name</th>
                                                    <th class="text-center" style="width: 10%"> Supplier Payable Balance</th>
                                                    <th class="text-center" style="width: 10%">Account Balance </th>
                                                    <th class="text-center" style="width: 20%">Cheque Information</th>
                                                    <th class="text-center" style="width: 10%">Status</th>
                                                    <th class="text-center" style="width: 15%">Action</th>
                                                </tr>
                                            </thead>
                                            @{int sl2 = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.DataListLcOpen)
                                                {
                                                    <tr>
                                                        <td class="text-center">@(++sl2)</td>
                                                        <td id="tdId_@item.ID" class="hidden">
                                                            @item.ID
                                                        </td>
                                                        <td id="tdamount_@item.ID" class="text-right">@item.Amount</td>
                                                        <td id="tdtoaccname_@item.ID" class="text-left">
                                                            @item.To_Acc_Name
                                                        </td>
                                                        <td id="tdtoaccname_@item.ID" class="text-right">
                                                            @item.ToAccountBalance
                                                        </td>
                                                        <td id="tdtoaccname_@item.ID" class="text-right">
                                                            @item.FromAccountBalance
                                                        </td>
                                                        <td id="tdcid_@item.ID" class="text-left">Chq No: ||@item.ChequeNo || @item.From_Acc_Name </td>
                                                        <td id="tddescription_@item.ID">
                                                            @if (item.Status == 1)
                                                            {
                                                                <span class="badge badge-gray-alt">Pending</span>
                                                            }
                                                            @if (item.Status == 2)
                                                            {
                                                                <span class="badge bg-blue">Approved</span>
                                                            }
                                                            @if (item.Status == 3)
                                                            {
                                                                <span class="badge bg-blue-grey">Hold</span>
                                                            }
                                                            @if (item.Status == 4)
                                                            {
                                                                <span class="badge  bg-red">Reject</span>
                                                            }
                                                        </td>
                                                        <td id="tddescription_@item.ID" class="text-left">
                                                            <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 1 })" data-toggle="tooltip" data-placement="bottom" title="Accept" class="btn btn-sm btn-info" role="button"><span class="glyphicon glyphicon-eye-open"></span></a>
                                                            <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 2 })" data-toggle="tooltip" data-placement="bottom" title="Hold" class="btn btn-sm btn-warning" role="button"><span class="glyphicon glyphicon-pause"></span></a>
                                                            <a href="@Url.Action("BankWithDrawallUpdate", "Accounting", new {id = item.ID, type= 3 })" data-toggle="tooltip" data-placement="bottom" title="Reject" class="btn btn-sm btn-danger" role="button"><span class="glyphicon glyphicon-trash"></span></a>
                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>*@
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });


        $(function () {
            var url_string = window.location.href;
            //console.log(url_string);
            var url = new URL(url_string);
            //console.log(url);
            var c = url.searchParams.get("type");
            //console.log(c);
            if (c === "cheque") {
                var element = document.getElementById("home");
                element.classList.add("in");
                element.classList.add("active");
                var presentation1 = document.getElementById("presentation1");
                presentation1.classList.add("active");
            }
            else if (c === "lcopen") {
                var element = document.getElementById("lcopen");
                element.classList.add("in");
                element.classList.add("active");
                var presentation1 = document.getElementById("presentation2");
                presentation1.classList.add("active");
            }
            else if (c === "lcpayment") {
                var element = document.getElementById("messages");
                element.classList.add("in");
                element.classList.add("active");
                var presentation1 = document.getElementById("presentation3");
                presentation1.classList.add("active");
            } else {
                var element = document.getElementById("home");
                element.classList.add("in");
                element.classList.add("active");
                var presentation1 = document.getElementById("presentation1");
                presentation1.classList.add("active");
            }
        });

    </script>
}


