﻿@model Erp.Core.Services.Accounting.VMJournalSlave
@{
    ViewData["Title"] = "Quick Journal Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("QuickJournalDetails", "AccountingController", FormMethod.Post, new { id = "QuickJournalDetails", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Journal Details:
                            &nbsp;&nbsp;
                            @if (Model.vMJournal.Approved == false)
                            {
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Journal Details"
                                        data-placement="top">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>
                            }
                        </h3>
                    </div>
                    @*<div class="panel-body">*@
                    <!--Body Will by Start Here-->
                    <div class="panel-body">
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <h3></h3>
                            </div>
                            <div class="row">
                                @Html.HiddenFor(model => model.vMJournal.Approved, new { Value = "", id = "hidApproved" })
                                @Html.HiddenFor(model => model.vMJournal.Finalized, new { Value = "", id = "hidFinalized" })
                                @Html.HiddenFor(model => model.vMJournal.ID, new { Value = "", id = "hidJournalId" })
                                <div class="box-body col-md-6">
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Title</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Title">
                                    </div>
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Description</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Description">
                                    </div>
                                </div>
                                <div class="box-body col-md-6">
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Date</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Date.ToString("yyyy-MM-dd")">
                                    </div>
                                    <div class="input-group">
                                        <span style="width:130px;" class="input-group-addon">Cost Center</span>
                                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Model.vMJournal.Accounting_CostCenterName">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="tbl" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th>A/C Head </th>
                                        <th>Description</th>
                                        <th style="text-align:right">Debit</th>
                                        <th style="text-align:right">Credit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                @foreach (var item in Model.DataList1)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="tdId_@sl" , class="hidden">
                                                <input type="hidden" id="ID_@sl" value="@item.ID" />
                                                <input type="hidden" id="Accounting_TypeFK_@sl" value="@item.Accounting_TypeFK" />
                                                <input type="hidden" id="Accounting_Chart1FK_@sl" value="@item.Accounting_Chart1FK" />
                                                <input type="hidden" id="Accounting_Chart2FK_@sl" value="@item.Accounting_Chart2FK" />
                                                <input type="hidden" id="Accounting_HeadFk_@sl" value="@item.Accounting_HeadFK" />
                                                <input type="hidden" id="Accounting_JournalFK_@sl" value="@item.Accounting_JournalFK" />
                                            </td>
                                            <td id="tdtitle_@sl">
                                                @item.Accounting_HeadName
                                            </td>
                                            <td id="tddescription_@sl">
                                                @item.Description
                                                <input type="hidden" id="tdremarks_@sl" value="@item.Remark" />
                                            </td>
                                            <td id="tddebit_@sl" style="text-align:right">@item.Debit</td>
                                            <td id="tdcredit_@sl" style="text-align:right">@item.Credit</td>
                                            <td>
                                                @if (item.Finalized == false && sl !=2)
                                                {
                                                    <a id="@sl" onclick="makeeditable(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@sl" onclick="deleteItemInfo(this);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                }
                                            </td>
                                        </tr>

                                    </tbody>
                                }
                                <tfoot>
                                    <tr>
                                        <th colspan="3" style="text-align:right">Total:</th>
                                        <th style="text-align:right">
                                            @Model.TotalDebit
                                            <input type="hidden" id="hidTotalDebit" value="@Model.TotalDebit" />
                                        </th>
                                        <th style="text-align:right">
                                            @Model.TotalCredit
                                            <input type="hidden" id="hidTotalCredit" value="@Model.TotalCredit" />
                                        </th>
                                        <th style="text-align:left">

                                            @if (Model.vMJournal.Finalized != true && Model.vMJournal.Approved != true && (@Model.TotalDebit == @Model.TotalCredit) && (@Model.TotalDebit != 0 && @Model.TotalCredit != 0))
                                            {
                                                <a onclick="journalFinalizeInfo(@Model.Accounting_JournalFK);" class="linkPointer" data-toggle="modal" data-target="#journalFinalizeModal" title="Finalize" data-placement="top">
                                                    Finalize
                                                    <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                </a>
                                                //
                                                @*@Html.ActionLink("Finalize", "JournalFinalize", new { id = Model.Accounting_JournalFK }, new { @class = "glyphicon glyphicon-ok", data_placement = "top", title = "Finalize" })*@
                                            }
                                        </th>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                        <!--Body Will by Start Here-->

                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog" role="document" style="width: 65%;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" id="btncloseandreset" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Journal Details Add</b></h5>
                        </div>
                        <div class="modal-body">
                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                            @Html.HiddenFor(model => model.ID1, new { Value = "", id = "hidId1" })
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                            @Html.HiddenFor(model => Model.Accounting_JournalFK, new { Value = "", id = "Accounting_JournalFK" })
                            @Html.HiddenFor(model => Model.AmountType, new { Value = "", id = "hidAmountType" })
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="panel panel-info content-box border-top border-green">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Credit</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Account Type:</label>
                                                @Html.DropDownListFor(model => model.Accounting_TypeFK, ViewBag.AccountTypeList as SelectList, "Please Select", new { id = "ddlAccountType", @class = "searchingDropdown form-control", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Accounting_TypeFK, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Chart One:</label>
                                                @Html.DropDownListFor(model => model.Accounting_Chart1FK, ViewBag.ChartOneList as SelectList, "Please Select", new { id = "ddlAccounting_Chart1FK", @class = "searchingDropdown form-control", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Accounting_Chart1FK, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Chart Two:</label>
                                                @Html.DropDownListFor(model => model.Accounting_Chart2FK, ViewBag.ChartTwoList as SelectList, "Please Select", new { id = "ddlAccounting_Chart2FK", @class = "searchingDropdown form-control", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Accounting_Chart2FK, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Account Head:</label>
                                                @Html.DropDownListFor(model => model.Accounting_HeadFK, ViewBag.AccountHeadList as SelectList, "Please Select", new { id = "ddlAccounting_HeadFK", @class = "searchingDropdown form-control", style = "width:100%", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Accounting_HeadFK, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Amount:</label>
                                                @Html.TextBoxFor(model => model.Amount, "{0:#.#}", new { Value = "", id = "Amount", @class = "form-control", required = "true", type = "Number", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters", autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info content-box border-top border-green">
                                <div class="panel-heading">
                                    <h5 class="panel-title">Debit</h5>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Account Type:</label>
                                                @Html.DropDownListFor(model => model.Accounting_TypeFK1, ViewBag.AccountTypeList as SelectList, "Please Select", new { id = "ddlAccountType1", @class = "searchingDropdown form-control", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Accounting_TypeFK1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Chart One:</label>
                                                @Html.DropDownListFor(model => model.Accounting_Chart1FK1, ViewBag.ChartOneList as SelectList, "Please Select", new { id = "ddlAccounting_Chart1FK1", @class = "searchingDropdown form-control", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Accounting_Chart1FK1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Chart Two:</label>
                                                @Html.DropDownListFor(model => model.Accounting_Chart2FK1, ViewBag.ChartTwoList as SelectList, "Please Select", new { id = "ddlAccounting_Chart2FK1", @class = "searchingDropdown form-control", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Accounting_Chart2FK1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="recipient-name" class="col-form-label">Account Head:</label>
                                                @Html.DropDownListFor(model => model.Accounting_HeadFK1, ViewBag.AccountHeadList as SelectList, "Please Select", new { id = "ddlAccounting_HeadFK1", @class = "searchingDropdown form-control", style = "width:100%", required = "required" })
                                                @Html.ValidationMessageFor(model => model.Accounting_HeadFK1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Amount:</label>
                                                @Html.TextBoxFor(model => model.Amount1, "{0:#.#}", new { Value = "", id = "Amount1", @class = "form-control", required = "true", type = "Number", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters", autocomplete = "off" })
                                                @Html.ValidationMessageFor(model => model.Amount1, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Description:</label>
                                        @*<textarea id="txtDescription" name="@Model.Description"  placeholder = "Description" class = "form-control"  />*@
                                        @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", placeholder = "Description", row = 2, @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                            <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Journal Details Delete</b></h5>

                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure to delete?</h3>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                            <button type="submit" id="btndelete" class="btn btn-primary"><i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;&nbsp;Yes</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="journalFinalizeModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Journal Finalize</b></h5>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3><label id="journalMessage">Are You Sure to Finalize this Journal ?</label></h3>
                                @*<h3>Are you sure to delete?</h3>*@
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                            <a class="hidden btn btn-success" id="actionFinalize">Finalize</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

         /*
             This is used for cascding dropdown. Which will change upon Account Type. If Account Type is selected
             then the Chart One will appear according to selected Account Type.
             */
        $("#ddlAccountType").change(function () {
            var Id = $("#ddlAccountType").val();
            if (Id !== "") {
                $("#ddlAccounting_Chart1FK").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChartOneDropDownSpecific")",
                    datatype: "Json",
                    data: { id: Id },
                    async: false,
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text  + '</option>');
                        });
                        $("#ddlAccounting_Chart1FK").html(items);
                    }
                });
            }
        });


        /*
             This is used for cascding dropdown. Which will change upon Account Type. If Account Type is selected
             then the Chart One will appear according to selected Account Type.
             */
        $("#ddlAccountType1").change(function () {
            var Id = $("#ddlAccountType1").val();
            if (Id !== "") {
                $("#ddlAccounting_Chart1FK1").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChartOneDropDownSpecific")",
                    datatype: "Json",
                    data: { id: Id },
                    async: false,
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text  + '</option>');
                        });
                        $("#ddlAccounting_Chart1FK1").html(items);
                    }
                });
            }
        });


        /*
             This is used for cascding dropdown. Which will change upon Chart One. If Chart One is selected
             then the Chart Two will appear according to selected Chart One.
             */
        $("#ddlAccounting_Chart1FK").change(function () {
            var Id = $("#ddlAccounting_Chart1FK").val();
            if (Id !== "") {
                $("#ddlAccounting_Chart2FK").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChartTwoDropDownSpecific")",
                    datatype: "Json",
                    data: { id: Id },
                    async: false,
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text + '</option>');
                        });
                        $("#ddlAccounting_Chart2FK").html(items);
                    }
                });
            }
        });


        /*
             This is used for cascding dropdown. Which will change upon Chart One. If Chart One is selected
             then the Chart Two will appear according to selected Chart One.
             */
        $("#ddlAccounting_Chart1FK1").change(function () {
            var Id = $("#ddlAccounting_Chart1FK1").val();
            if (Id !== "") {
                $("#ddlAccounting_Chart2FK1").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChartTwoDropDownSpecific")",
                    datatype: "Json",
                    data: { id: Id },
                    async: false,
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text + '</option>');
                        });
                        $("#ddlAccounting_Chart2FK1").html(items);
                    }
                });
            }
        });
        //
        /*
             This is used for cascding dropdown. Which will change upon Chart One. If Chart One is selected
             then the Chart Two will appear according to selected Chart One.
             */
        $("#ddlAccounting_Chart2FK").change(function () {
            var Id = $("#ddlAccounting_Chart2FK").val();
            if (Id !== "") {
                $("#ddlAccounting_HeadFK").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AccountHeadDropDownSpecific")",
                    datatype: "Json",
                    data: { id: Id },
                    async: false,
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text + '</option>');
                        });
                        $("#ddlAccounting_HeadFK").html(items);
                    }
                });
            }
        });


        /*
             This is used for cascding dropdown. Which will change upon Chart One. If Chart One is selected
             then the Chart Two will appear according to selected Chart One.
             */
        $("#ddlAccounting_Chart2FK1").change(function () {
            var Id = $("#ddlAccounting_Chart2FK1").val();
            if (Id !== "") {
                $("#ddlAccounting_HeadFK1").empty();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("AccountHeadDropDownSpecific")",
                    datatype: "Json",
                    data: { id: Id },
                    async: false,
                    success: function (data) {
                        var items = "";
                        items += "<option value = '' disabled selected>Please Select</option>";
                        $.each(data, function (index, value) {
                            items += ('<option value="' + value.value + '">'
                                + value.text + '</option>');
                        });
                        $("#ddlAccounting_HeadFK1").html(items);
                    }
                });
            }
        });

        //

        function deleteItemInfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                console.log(r);
                var id = $('#ID_' + r).val().trim()
                var id1 = $('#ID_' + 2).val().trim()
                $('#hidId').val(id);
                $('#hidId1').val(id1);
                $('#ActionId').val(3);
            }
        }


        function journalFinalizeInfo(id) {
            if (id !== null) {
                var debit = $('#hidTotalDebit').val();
                var credit = $('#hidTotalCredit').val();
                var hr = "/../../Accounting/QuickJournalFinalize/" + id;


                if (debit == credit) {
                    $("#actionFinalize").removeClass('hidden');
                    $("#actionFinalize").attr("href", hr);
                }
                else {
                    $("#journalMessage").text("Debit and Credit not match yet.")
                }
            }
        }

       

        function makeeditable(elem) {
            if (elem !== null) {
                var r = elem.id;
                console.log(r);
                var id = $('#ID_' + r).val().trim()
                var id1 = $('#ID_' + 2).val().trim()
                $('#hidId').val(id);
                $('#hidId1').val(id1);
                $('#ActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                //$('#hidId').val($('#tdId_' + r).text().trim());
                $('#ddlAccountType').val($('#Accounting_TypeFK_' + r).val().trim()).trigger('change');
                $('#ddlAccounting_Chart1FK').val($('#Accounting_Chart1FK_' + r).val().trim()).trigger('change');
                $('#ddlAccounting_Chart2FK').val($('#Accounting_Chart2FK_' + r).val().trim()).trigger('change');
                $('#ddlAccounting_HeadFK').val($('#Accounting_HeadFk_' + r).val().trim()).trigger('change');


                $('#ddlAccountType1').val($('#Accounting_TypeFK_' + 2).val().trim()).trigger('change');
                $('#ddlAccounting_Chart1FK1').val($('#Accounting_Chart1FK_' + 2).val().trim()).trigger('change');
                $('#ddlAccounting_Chart2FK1').val($('#Accounting_Chart2FK_' + 2).val().trim()).trigger('change');
                $('#ddlAccounting_HeadFK1').val($('#Accounting_HeadFk_' + 2).val().trim()).trigger('change');

                console.log('', $('#ddlAccounting_HeadFK').val());
                $('#txtTitle').val($('#tdtitle_' + r).text().trim());
                $('#txtDescription').val($('#tddescription_' + r).text().trim());
                $('#Remark').val($('#tdremarks_' + r).text().trim());
                $('#Amount1').val($('#tddebit_' + 2).text().trim());
                $('#Amount').val($('#tdcredit_' + r).text().trim());          
            }
        }

        $(".btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('input.chkbox').not(this).prop('checked', false);
            $('#Amount').val("");
            $('#txtDescription').val("");
            $('#JournalDetails').bootstrapValidator("resetForm", true);
        });
    </script>
}







