﻿
@{
    ViewData["Title"] = "Bill of Exchange";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
@model Erp.Core.Services.Accounting.VMJournal
<section class="content-header">
    <h1>
        Details
        @if (Model.ID > 0)
        {
            <a href="~/Shipment/ShipmentBillOfExchangePrint/@Model.vMShipmentBillOfExchangeSlave.Shipment_BillOfExchangeFk"><i class="fa fa-print"></i></a>
        }
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/Shipment/ShipmentBillofExchanges">Realization Details</a></li>
    </ol>
</section>
@using (Html.BeginForm("", "Shipment", FormMethod.Post, new { id = "", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        @if (Model.vMShipmentBillOfExchangeSlave.ID > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>BOE ID</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.vMShipmentBillOfExchangeSlave.BoECID</td>

                                        <td width="18%"><b>BOE Date</b></td>
                                        <td width="5%"></td>
                                        <td width="27%">@Model.vMShipmentBillOfExchangeSlave.BoEDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Courier NO</b></td>
                                        <td>:</td>
                                        <td>@Model.vMShipmentBillOfExchangeSlave.CourierNO</td>

                                        <td><b>Courier Date</b></td>
                                        <td>:</td>
                                        <td>@Model.vMShipmentBillOfExchangeSlave.CourierDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>FDBC NO</b></td>
                                        <td>:</td>
                                        <td>@Model.vMShipmentBillOfExchangeSlave.FDBCNO</td>

                                        <td><b>FDBC Date</b></td>
                                        <td>:</td>
                                        <td>@Model.vMShipmentBillOfExchangeSlave.FDBCDate.ToString("dd/MM/yyyy")</td>
                                    </tr>

                                    <tr>
                                        <td><b>Remarks</b></td>
                                        <td>:</td>
                                        <td colspan="4">@Model.vMShipmentBillOfExchangeSlave.Remarks</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>
                        }
                        else
                        {

                        }
                        <br />
                        @{
                            if (Model.vMShipmentBillOfExchangeSlave.ID > 0)
                            {

                                <div class="table-responsive col-md-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>

                                                <th>Invoice No</th>
                                                <th>Invoice Date</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.vMShipmentBillOfExchangeSlave.DataListSlave)
                                            {
                                                <tr>
                                                    <td>@(++sl)</td>

                                                    <td id="tdRawItemName_@item.ID">@item.InvoiceNo</td>
                                                    <td id="tdRawItemName_@item.ID">@item.InvoiceDate.ToString("yyyy/MM/dd")</td>
                                                    <td id="tdRawItemName_@item.ID">@item.Value</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        }

                    </div>

                    @*<div class="box-footer">
                        @if (Model.vMShipmentBillOfExchangeSlave.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/ShipmentBillOfExchangePrint/@Model.vMShipmentBillOfExchangeSlave.Shipment_BillOfExchangeFk" style="width:100%" class="btn btn-primary"><i>Print</i></a>

                        }

                    </div>*@
                </div>

            </div>



        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Bill of Exchange Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();

                //$.ajaxSetup({ cache: false });
                @*$("#ddlMerchandising_StyleFk").change(function (e) {
                    var StyleId = $("#ddlMerchandising_StyleFk").val();
                     $.ajax({
                        type: "POST",
                        url: "@Url.Action("StyleInvoicePartial", "Shipment")",
                        datatype: "Json",
                         data: { StyleId: StyleId},
                         success: function (data) {
                             $("#addSize").html(data);
                        }
                    });
                    return false;
                });*@
            });


            function makeDeletable(id) {
                if (id !== null) {
                    $('#txtBillOfExchangeSlaveId').val(id);
                    $('#ActionId').val(3);

                }
            }
            function resetForm() {
                //$('#CMEarned').trigger("reset");
                $('#shipmentBillofExchangeSlaveFormId')[0].reset();
                $('#ActionId').val(1);
            }

    </script>
}