﻿
@{
    ViewData["Title"] = "Bill of Exchanges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Erp.Core.Services.Accounting.VMJournal
<section class="content-header">
    <h1>
        Realization
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active"> Realization List</li>
    </ol>
</section>
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>FDBC NO</th>
                                        <th>Bill no</th>
                                        <th>Bill Value</th>
                                        <th>BOE Date</th>
                                        <th>ECINO</th>
                                        <th>Buyer Name</th>
                                        <th>FDBC Date</th>
                                        <th>Courier NO</th>
                                        <th>Courier Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                            <tbody>

                                @foreach (var item in Model.vMShipmentBillOfExchanges)
                                {
                                    <tr>
                                        @Html.HiddenFor(model => item.AccID, new { @id = "AccID" })
                                        <td>@(++sl).</td>
                                        <td id="tdFDBCNO_@item.ID">@item.FDBCNO</td>
                                        <td id="tdBoECID_@item.ID">@item.BoECID</td>
                                        <td id="tdBillValue_@item.ID">@item.BillValue</td>
                                        <td id="tdBoEDate_@item.ID">@item.BoEDate.ToString("yyyy/MM/dd")</td>
                                        <td id="tdECINO_@item.ID">@item.ECINO</td>
                                        <td id="tdBuyerName_@item.ID">@item.BuyerName</td>
                                        <td id="tdCourierNO_@item.ID">@item.FDBCDate.ToString("yyyy/MM/dd")</td>
                                        <td id="tdcid_@item.ID">@item.CourierNO</td>
                                        <td id="tdCourierDate_@item.ID">@item.CourierDate.ToString("yyyy/MM/dd")</td>
                                        <td>
                                            @if (item.AccFinalize == false && item.AccApproved == false)
                                            {
                                                <span class="label label-info">Not Finalized</span>
                                                <span class="label label-info">Not Approved</span>
                                            }
                                            @if (item.AccFinalize == null && item.AccApproved == null)
                                            {
                                                <span class="label label-info">Not Finalized</span>
                                                <span class="label label-info">Not Approved</span>
                                            }
                                            @if (item.AccFinalize == true && item.AccApproved == true)
                                            {
                                                <span class="label label-success">Finalized</span>
                                                <span class="label label-success">Approved</span>
                                            }
                                            @if (item.AccFinalize == false && item.AccApproved == true)
                                            {
                                                <span class="label label-info">Not Finalized</span>
                                                <span class="label label-success">Approved</span>
                                            }
                                            @if (item.AccFinalize == true && item.AccApproved == false)
                                            {
                                                <span class="label label-success">Finalized</span>
                                                <span class="label label-info">Not Approved</span>
                                            }
                                        </td>
                                        <td>
                                            @if (item.AccFinalize == true && item.AccApproved == false)
                                            {
                                                <a onclick="journalApprovedInfo(@item.AccID);" class="linkPointer" data-toggle="modal" data-target="#journalApproveModal" title="Approve"
                                                   data-placement="top">
                                                    Approve
                                                    <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                </a>
                                                <a class="glyphicon glyphicon-zoom-in" title="Realization Voucher Details" id="@item.ID" onload="RealisationVoucherIDs(this)" onclick="RealisationVoucherDetails(this)">.</a>
                                            }
                                            @if (item.AccFinalize == null && item.AccApproved == null)
                                            {
                                                <a id="@item.ID" onclick="addRealizationAmount(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            }
                                            @if (item.AccFinalize == false && item.AccApproved == false)
                                            {
                                                @*<a id="@item.ID" onclick="addRealizationAmount(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>*@
                                                <a class="glyphicon glyphicon-zoom-in" title="Realization Voucher Details" id="@item.ID" onload="RealisationVoucherIDs(this)" onclick="RealisationVoucherDetails(this)">.</a>
                                            }
                                            @if (item.AccFinalize == true && item.AccApproved == true)
                                            {
                                                <a class="glyphicon glyphicon-zoom-in" title="Realization Voucher Details" id="@item.ID" onload="RealisationVoucherIDs(this)" onclick="RealisationVoucherDetails(this)">.</a>
                                            }
                                            <a href="~/Accounting/RealizationForBOMDetails/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>


    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        @using (Html.BeginForm("RealisationVoucher", "AccountingController", FormMethod.Post, new { id = "RealisationVoucher", @class = "formValidator" }))
        {
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Realization Voucher Create</b></h5>
                    </div>
                    <div class="modal-body">

                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                        @Html.HiddenFor(model=>model.isRealization, new { id="isRealization"})
                        @Html.HiddenFor(model => model.Remark)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Title:</label>
                            @Html.TextBoxFor(model => model.Title, new { id = "Title", placeholder = "Title", @class = "form-control", @readonly = "readonly" })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                        <div class="row">

                            <div class="col-md-6">
                                <div id="divddlAccounting_CostCenterFK" class="form-group" style="display:block">
                                    <label for="recipient-name" class="col-form-label">Cost Center:</label>
                                    @Html.DropDownListFor(model => model.Accounting_CostCenterFK, ViewBag.AccountCostCenterList as SelectList, "Please Select", new { id = "ddlAccounting_CostCenterFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.Accounting_CostCenterFK, "", new { @class = "text-danger" })
                                </div>
                                <div id="divtxtAccounting_CostCenterFK" class="form-group" style="display:none" )>
                                    <label for="recipient-name" class="col-form-label">Cost Center:</label>
                                    <input type="text" name="Accounting_CostCenterFK" id="txtAccounting_CostCenterFK" placeholder="Account Type" readonly="readonly" , required
                                           class="form-control text-left" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Account Head:</label>
                                    @Html.DropDownListFor(model => model.ERAccounting_HeadFK, ViewBag.AccountHeadList as SelectList, "Please Select", new { id = "ERAccounting_HeadFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.ERAccounting_HeadFK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label"> Date:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input name="Date" type="text" class="form-control pull-right datePicker" id="Date" autocomplete="off" required="required">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Amount:</label>
                                    @Html.TextBoxFor(model => model.CreditAmount, "{0:#.#}", new { Value = "", id = "CreditAmount", @class = "form-control", required = "true", type = "Number", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters", autocomplete = "off", @readonly="readonly" })
                                    @Html.ValidationMessageFor(model => model.CreditAmount, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ConversionRateToBDT" class="col-form-label">Currency Rate:</label>
                                    @Html.DropDownListFor(model => model.ConversionRateToBDT, ViewBag.CurrencyList as SelectList, "Please Select", new { id = "ConversionRateToBDT", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.ConversionRateToBDT, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Description:</label>
                            <textarea name="Description" type="text" class="form-control pull-right" id="Description"></textarea>
                        </div>
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>

        }
    </div>


    <div class="modal fade" id="journalApproveModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Realization Approve</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3><label id="journalMessage">Are You Sure Approve BOE Realisation?</label></h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <a class="hidden btn btn-success" id="actionApprove">Approve</a>

                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

             function addRealizationAmount(elem) {
                if (elem !== null) {
                    var rowId = elem.id;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleBillOfExchange", "Shipment")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);

                            var title = data.fdbcno + " / " + data.boECID + " / " + data.buyerName;
                            document.getElementById("Title").value = title;
                            document.getElementById("Remark").value = rowId;
                            document.getElementById("CreditAmount").value = data.billValue;
                            console.log(data.billValue);
                            $("#ERAccounting_HeadFK").val(data.accHead);
                            $("#ERAccounting_HeadFK").trigger('change');

                            $("#isRealization").val(true);
                            console.log(data.accHead);
                            console.log(title);
                        }
                    });
                 };
        }

            function makeDeletable(id) {
                if (id !== null) {
                    $('#billOfExchangeId').val(id);
                    $('#ActionId').val(3);

                }
            }
            function resetForm() {
                $('#shipmentBillofExchangesFormId')[0].reset();
                $('#ActionId').val(1);
            }

        //function titleHeading(elem) {
        //    var ID = elem.id;
        //    var FDBCNO = $("#tdFDBCNO_" + ID).val();
        //    var BillNo = $("#tdBoECID_" + ID).val();
        //    var BuyerName = $("#tdBuyerName_" + ID).val();

        //    $("#Title").val() = FDBCNO / BillNo / BuyerName;
        //}


        document.onload = function RealisationVoucherIDs(elem) {
            alert(1);
                var rowId = elem.id;
                console.log(elem);
                console.log(elem.id);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("JsonRealisationVoucherDetails", "Accounting")",
                    datatype: "Json",
                    data: { id: rowId },
                    success: function (data) {
                        console.log("Success");
                        console.log(data.success);
                        console.log(data.id);
                        document.getElementById("AccID").value = data.id;
                    }
                });
        };

                function journalApprovedInfo(id) {
            if (id !== null) {
                var debit = $('#hidTotalDebit').val();
                var credit = $('#hidTotalCredit').val();
                var hr = "/../../Accounting/RealisationVoucherApprove/" + id;
                //if (debit == credit) {
                $("#actionApprove").removeClass('hidden');
                $("#actionApprove").attr("href", hr);

                //}
                //else {
                //    $("#journalMessage").text("Debit and Credit not match yet.")
                //}
                    };
        };

        function RealisationVoucherDetails(elem) {

            var rowId = elem.id;
            console.log(elem);
            console.log(elem.id);
            $.ajax({
                type: "POST",
                url: "@Url.Action("JsonRealisationVoucherDetails", "Accounting")",
                datatype: "Json",
                data: { id: rowId },
                success: function (data) {
                    console.log("Success");
                    console.log(data.success);
                    window.location.href = "/Accounting/RealisationVoucherDetails/" + data.id;
                }
            });
        }

    </script>
}