﻿
@{
    ViewData["Title"] = "BBLC Payment Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



@model Erp.Core.Services.Commercial.VMCommercial_BBLCPaymentInformation

<section class="content-header">
    <h1>
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
        <li class="active">BBLC Payment Information</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <!-- /.box-header -->
                <div class="box-header">
                    <div class="col-md-1 col-lg-1 col-sm-1"></div>
                    <div class="col-md-10 col-lg-10 col-sm-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="6" style="text-align:center;font-family:'Arial Rounded MT'">
                                        BBLC Information
                                    </th>
                                </tr>
                                <tr>
                                    <th>BB No</th>
                                    <th>:</th>
                                    <th>@Model.VmBBLC.BBNo</th>

                                    <th>BB Date</th>
                                    <th>:</th>
                                    <th>@Model.VmBBLC.LCDate.ToString("dd/MM/yyyy")</th>
                                </tr>

                                <tr>
                                    <th>Supplier</th>
                                    <th>:</th>
                                    <th>@Model.VmBBLC.Common_Supplier</th>

                                    <th>Remarks</th>
                                    <th>:</th>
                                    <th>@Model.VmBBLC.Remarks</th>
                                </tr>
                                <tr>
                                    <th>BB Total Value</th>
                                    <th>:</th>
                                    <th>@Model.VmBBLC.CurrentTotalValue</th>

                                    <th>Total Payment Value</th>
                                    <th>:</th>
                                    <th>@Model.VmBBLC.TotalPaymentValue</th>
                                </tr>
                                @if (Model.B2bLCPayment>0)
                                {
                                    @using (Html.BeginForm("SupplierSpecificBBLCWisePaymentInformation", "Accounting", FormMethod.Post, new { id = "SupplierSpecificBBLCWisePaymentInformationId", @class = "formValidator" }))
                                    {
                                        <tr>
                                            <td colspan="2">

                                                @Html.HiddenFor(model => model.VmBBLC.ID)

                                                @Html.EditorFor(model => model.B2bLCPayment, new { htmlAttributes = new { id = "txtB2bLCPayment", @class = "form-control", required = "required" } })

                                            </td>
                                            <td colspan="1">
                                                <label for="recipient-name" class="col-form-label">Account Head:</label>
                                            </td>
                                            <td colspan="2">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        @Html.DropDownListFor(model => model.Accounting_HeadFK, ViewBag.AccountHeadList as SelectList, "Please Select", new { id = "Accounting_HeadFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                        @Html.ValidationMessageFor(model => model.Accounting_HeadFK, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-money"></i>&nbsp; Pay Now</button>
                                            </td>
                                        </tr>
                                    }
                                }
                            </thead>


                        </table>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1"></div>



                </div>
                <div class="box-body">
                    <h3>
                        BBLC Payment Information
                    </h3>
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Date</th>
                                    <th style="text-align:center;">Paid Value</th>

                                </tr>
                            </thead>
                            @{int sl = 0;
                                decimal bblcPayment = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    bblcPayment += item.B2bLCPayment;

                                    <tr>
                                        <td>@(++sl).</td>
                                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                        <td style="text-align:center;">@item.B2bLCPayment</td>

                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td><b>Total</b></td>
                                    <td style="text-align:center;"><b>@bblcPayment</b></td>

                                </tr>

                                <tr>

                                    <td colspan="3">&nbsp;</td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>




@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //$('.formValidator').bootstrapValidator();

        });

    </script>
}