﻿@{
    ViewData["Title"] = "BBLC List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Commercial.VmBBLC

<section class="content-header">
    <h1>
        &nbsp;
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
        <li class="active">BBLC List</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <!-- /.box-header -->
                <div class="box-header">
                    <div class="col-md-1 col-lg-1 col-sm-1"></div>
                    <div class="col-md-10 col-lg-10 col-sm-10">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th colspan="6" style="text-align:center;font-family:'Arial Rounded MT'">
                                        Supplier Info
                                    </th>
                                </tr>
                                <tr>
                                    <th>Supplier Name</th>
                                    <th>:</th>
                                    <th>@Model.VMSupplier.Name</th>

                                    <th>Address</th>
                                    <th>:</th>
                                    <th>@Model.VMSupplier.Address</th>
                                </tr>

                                <tr>
                                    <th>Phone</th>
                                    <th>:</th>
                                    <th>@Model.VMSupplier.Phone</th>

                                    <th>Email</th>
                                    <th>:</th>
                                    <th>@Model.VMSupplier.Email</th>
                                </tr>
                            </thead>


                        </table>
                    </div>
                    <div class="col-md-1 col-lg-1 col-sm-1"></div>



                </div>
                <div class="box-body">
                    <h3>
                        BBLC List
                    </h3>
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>BB No</th>
                                    <th>Date</th>
                                    <th>Remarks</th>
                                    <th>UD No</th>
                                    <th style="text-align:center;">LC Value</th>
                                    <th style="text-align:center;">Total Payment Value</th>
                                    <th>
                                        Payment BBLC
                                    </th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                                decimal totalPaymentValue = 0;
                                decimal currentTotalValue = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    totalPaymentValue += item.TotalPaymentValue;
                                    currentTotalValue += item.CurrentTotalValue;
                                    <tr>
                                        <td>@(++sl).</td>
                                        <td>@item.BBNo</td>
                                        <td>@item.LCDate.ToString("dd/MM/yyyy")</td>
                                        <td>@item.Remarks</td>
                                        <td>@item.Common_UDNo</td>
                                        <td style="text-align:center;">@item.CurrentTotalValue</td>
                                        <td style="text-align:center;">@item.TotalPaymentValue</td>


                                        <td>
                                            <a href="~/Accounting/SupplierSpecificBBLCWisePaymentInformation/@item.ID">Payment Document</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td colspan="4"><b>Total</b></td>
                                    <td style="text-align:center;"><b>@currentTotalValue</b></td>
                                    <td style="text-align:center;"><b>@totalPaymentValue</b></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td colspan="5"><b>Remaining</b></td>
                                    <td style="text-align:center;"><b>@(currentTotalValue - totalPaymentValue)</b></td>
                                    <td></td>
                                </tr>
                                <tr>

                                    <td colspan="8">&nbsp;</td>

                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>




@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            //$('.formValidator').bootstrapValidator();
        });

    </script>
}