﻿@model Erp.Core.Services.Accounting.VMTrialBalance
@{
    Layout = null;
    ViewData["Title"] = "Trial Balance Report View";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Trial Balance</title>
    <style>
        h4 {
            /*border-bottom: 2px solid black;
            display: inline;*/
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 1000px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            /*text-transform: uppercase !important;*/
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            @*<div class="text-center">
            <div class="row">
                <h3>
                    <span style="float: left">
                        <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                    </span>
                    <span style="text-align:center" ; color: #AA57FF">
                        Romo Fashion Today Ltd.
                    </span>
                </h3>
            </div>
        </div>
        <hr style="width: 100%; color: black; height: 2px; background-color: black;">*@
            <br />
            <div class="text-left">
                <div class="form-group" >
                    <h4><b>Trial Balance </b></h4>
                </div>
                <div class="form-group">
                    <h5>
                        <b>Date :</b> From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                    </h5>
                </div>
                <div class="form-group">
                    <p id="printdate"></p>
                </div>
            </div>
            <div style="width:100%;">
                <div id="viewparty">
                        @{
                            decimal openingbalance = 0;
                            openingbalance = @Model.OpeningBalance;
                            decimal totalopeningbalanceDr = 0;
                            decimal totalopeningbalanceCr = 0;
                            decimal totalclosingbalanceDr = 0;
                            decimal totalclosingbalanceCr = 0;
                            decimal tottaldebit = 0;
                            decimal totalcredit = 0;
                            decimal totalentry = 0;
                        }
                        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 13px">
                            <thead>
                                <tr>
                                    <td rowspan="3" style="text-align:center"><b>Parent Head</b></td>
                                    <td rowspan="3" style="text-align:center"><b>Account Head</b></td>
                                    <th colspan="2" style="text-align:center">Opening Balance</th>
                                    <th colspan="2" style="text-align:center">Transaction</th>
                                    <th colspan="2" style="text-align:center">Closing Balance</th>
                                </tr>
                                <tr>
                                    @*<th></th>*@
                                    <th colspan="2" style="text-align:center">Amount in Taka</th>
                                    <th colspan="2" style="text-align:center">Amount in Taka</th>
                                    <th colspan="2" style="text-align:center">Amount in Taka</th>
                                </tr>
                                <tr>
                                    @*<th></th>*@
                                    <td style="text-align:center">Debit</td>
                                    <td style="text-align:center">Credit</td>
                                    <td style="text-align:center">Debit</td>
                                    <td style="text-align:center">Credit</td>
                                    <td style="text-align:center">Debit</td>
                                    <td style="text-align:center">Credit</td>
                                </tr>
                            </thead>
                            @if (Model.DataList.Any())
                            {
                                foreach (var data in Model.DataList)
                                {
                            <tr>
                                <td>@data.AccountHeadDetails</td>
                                <td>@data.Accounting_HeadName</td>
                                <td style="text-align:right">
                                    @String.Format("{0:0,0.00}", data.OpeningBalanceDr)
                                </td>
                                <td style="text-align:right">
                                    @String.Format("{0:0,0.00}", data.OpeningBalanceCr)
                                </td>
                                <td style="text-align:right">
                                    @String.Format("{0:0,0.00}", data.Debit)
                                </td>
                                <td style="text-align:right">
                                    @String.Format("{0:0,0.00}", data.Credit)
                                </td>
                                <td style="text-align:right">
                                    @String.Format("{0:0,0.00}", data.ClosingBalanceDr)
                                </td>
                                <td style="text-align:right">
                                    @String.Format("{0:0,0.00}", data.ClosingBalanceCr)
                                </td>

                                @{
                                    totalopeningbalanceDr += data.OpeningBalanceDr;
                                    totalopeningbalanceCr += data.OpeningBalanceCr;
                                    totalclosingbalanceDr += data.ClosingBalanceDr;
                                    totalclosingbalanceCr += data.ClosingBalanceCr;
                                    tottaldebit += data.Debit;
                                    totalcredit += data.Credit;
                                    totalentry += data.EntryCount;
                                }
                            </tr>
                                }
                            }
                            <tr>
                                <td colspan="2" style="text-align:right"><b>Total</b></td>
                                <td style="text-align:right"><b>@String.Format("{0:0,0.00}", totalopeningbalanceDr)</b></td>
                                <td style="text-align:right"><b>@String.Format("{0:0,0.00}", totalopeningbalanceCr)</b></td>
                                <td style="text-align:right"><b>@String.Format("{0:0,0.00}", tottaldebit)</b></td>
                                <td style="text-align:right"><b> @String.Format("{0:0,0.00}", totalcredit)</b></td>
                                <td style="text-align:right"> <b>@String.Format("{0:0,0.00}", totalclosingbalanceDr)</b> </td>
                                <td style="text-align:right"> <b>@String.Format("{0:0,0.00}", totalclosingbalanceCr)</b> </td>
                            </tr>
                        </table>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            @*<div class="text-center">
            <div class="row">
                <span style="text-align:center" ; color: #AA57FF">
                    The annexed notes are an integral part of these Financial Statements.
                </span>
            </div>
        </div>*@
            <br />
            <br />
            <br />
            @*<table style="width: 100%; float:right">
            <tr>
                <td style="text-align:left"><strong>Chairman</strong></td>
                <td style="text-align:right"><strong>Director</strong></td>
                <td style="text-align:right"><strong>Managing Director</strong></td>
            </tr>
        </table>*@
            <br />
            @*<div class="text-center">
            <div class="row">
                <span style="text-align:center" ; color: #AA57FF">
                    Signed as per our annexed report of even date.
                </span>
            </div>
        </div>*@
            <br />
        </div>
        @*<div style="text-align: left">
                Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
            </div>*@
    </div>
</body>
</html>
<script>
    var d = new Date();
    document.getElementById("printdate").innerHTML = "Print Date: " + d;//.toString("YYYY-MM-DDThh:mm:ssTZD");
</script>



