﻿@model Erp.Core.Services.Accounting.VMTrialBalance
@{
    ViewData["Title"] = "Trial Balance Report";
}
<section class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3>
                    Trial Balance:
                    &nbsp;&nbsp;
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#exampleModal1"> Trial Balance </button>
                    </div>
                </div>
                @if (ViewBag.TrialBalanceData != null)
                {
                    <div class="row float:right">
                        <div class="col-md-8">
                            <b>
                                <label id="SearchLabel">
                                    Date :From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                                </label>
                            </b>
                        </div>
                        <div class="col-md-4 text-right">
                            @Html.ActionLink(" Print", "TrialBalance", new { fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy"), searchTypeId = Model.SearchTypeId }, new { @class = "glyphicon glyphicon-print btn btn-info btn-md", @target = "_blank" }) &nbsp;
                        </div>
                    </div>
                    <br />
                    <!--Body Will by Start Here-->
                    <div class="row">
                        <div class="col-md-12">
                            @{
                                decimal openingbalance = 0;
                                openingbalance = @Model.OpeningBalance;
                                decimal totalopeningbalanceDr = 0;
                                decimal totalopeningbalanceCr = 0;
                                decimal totalclosingbalanceDr = 0;
                                decimal totalclosingbalanceCr = 0;
                                decimal tottaldebit = 0;
                                decimal totalcredit = 0;
                                decimal totalentry = 0;
                            }
                            <div class="table-responsive">
                                <table id="tableReport" class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <td rowspan="3" style="text-align:center"><b>Parent Head</b></td>
                                            <td rowspan="3" style="text-align:center"><b>Account Head</b></td>
                                            <th colspan="2" style="text-align:center">Opening Balance</th>
                                            <th colspan="2" style="text-align:center">Transaction</th>
                                            <th colspan="2" style="text-align:center">Closing Balance</th>
                                        </tr>
                                        <tr>
                                            @*<th></th>*@
                                            <th colspan="2" style="text-align:center">Amount in Taka</th>
                                            <th colspan="2" style="text-align:center">Amount in Taka</th>
                                            <th colspan="2" style="text-align:center">Amount in Taka</th>
                                        </tr>
                                        <tr>
                                            @*<th></th>*@
                                            <td style="text-align:center">Debit</td>
                                            <td style="text-align:center">Credit</td>
                                            <td style="text-align:center">Debit</td>
                                            <td style="text-align:center">Credit</td>
                                            <td style="text-align:center">Debit</td>
                                            <td style="text-align:center">Credit</td>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model.DataList.Any())
                                        {

                                            foreach (var data in Model.DataList)
                                            {
                                                <tr>
                                                    <td>@data.AccountHeadDetails</td>
                                                    <td>
                                                        @if (Model.SearchTypeId == 3)
                                                        {
                                                            @Html.ActionLink(data.Accounting_HeadName, "LedgerReportView", new { cid = data.ID, fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy") }, new { @target = "_blank" });
                                                        }
                                                        else
                                                        {
                                                            @data.Accounting_HeadName
                                                        }

                                                    </td>
                                                    <td style="text-align:right">
                                                        @String.Format("{0:0,0.00}", data.OpeningBalanceDr)
                                                    </td>
                                                    <td style="text-align:right">
                                                        @String.Format("{0:0,0.00}", data.OpeningBalanceCr)
                                                    </td>
                                                    <td style="text-align:right">
                                                        @String.Format("{0:0,0.00}", data.Debit)
                                                    </td>
                                                    <td style="text-align:right">
                                                        @String.Format("{0:0,0.00}", data.Credit)
                                                    </td>
                                                    <td style="text-align:right">
                                                        @String.Format("{0:0,0.00}", data.ClosingBalanceDr)
                                                    </td>
                                                    <td style="text-align:right">
                                                        @String.Format("{0:0,0.00}", data.ClosingBalanceCr)
                                                    </td>
                                                    @*<td style="text-align:center">@data.EntryCount</td>*@
                                                    @{
                                                        totalopeningbalanceDr += data.OpeningBalanceDr;
                                                        totalopeningbalanceCr += data.OpeningBalanceCr;
                                                        totalclosingbalanceDr += data.ClosingBalanceDr;
                                                        totalclosingbalanceCr += data.ClosingBalanceCr;
                                                        tottaldebit += data.Debit;
                                                        totalcredit += data.Credit;
                                                        totalentry += data.EntryCount;
                                                    }
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2" style="text-align:right"><b>Total</b></td>
                                            <td style="text-align:right"><b>@String.Format("{0:0,0.00}", totalopeningbalanceDr)</b></td>
                                            <td style="text-align:right"><b>@String.Format("{0:0,0.00}", totalopeningbalanceCr)</b></td>
                                            <td style="text-align:right"><b>@String.Format("{0:0,0.00}", tottaldebit)</b></td>
                                            <td style="text-align:right"><b> @String.Format("{0:0,0.00}", totalcredit)</b></td>
                                            <td style="text-align:right"> <b>@String.Format("{0:0,0.00}", totalclosingbalanceDr)</b> </td>
                                            <td style="text-align:right"> <b>@String.Format("{0:0,0.00}", totalclosingbalanceCr)</b> </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("TrialBalanceNew", "Accounting", FormMethod.Post, new { id = "TrialBalanceNew", target = "_blank" }))
{
    <div class="modal fade" id="exampleModal1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right btncloseandreset" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Trial  Balance </b></h5>
                </div>
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-4">
                            <div id="divddlChartTwoFk" class="form-group">
                                <label for="recipient-name" class="col-form-label">Chart:</label>
                                @Html.DropDownListFor(model => model.SearchTypeId, ViewBag.AccountTypeList as SelectList, "Please Select", new { @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">From Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="FromDate" type="text" class="form-control pull-right datePicker" id="FromDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">To Date:</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input name="ToDate" type="text" class="form-control pull-right datePicker" id="ToDate" autocomplete="off" required="required">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary btncloseandreset" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSubmit" class="btn btn-primary"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}



@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            var serchval = $("#SearchLabel").text();
            $('#tableReport').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                pageLength: 40,
                "ordering": false,
                buttons: [
                    'copy',
                    {
                        extend: 'excel',
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'print',
                        messageTop: serchval,
                    }
                ]
            });
        });
    </script>
}