﻿
<div class="box box-default">
    <form>
        <div class="box-header with-border" style="text-align:center">
            <h3 class="box-title"><b>Trial Balance Search </b></h3>
           
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Chart of Account Head No:</label>
                        <select class="form-control">
                            <option> Chart of 1 Account Head </option>
                            <option> Chart of 2 Account Head</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Currency Type:</label>
                        <select class="form-control">
                            <option> BDT </option>
                            <option> USD</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">From Date:</label>
                        <input class="form-control datepicker" id="fromdate" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">To Date:</label>
                        <input class="form-control datepicker" id="todate" />
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-md-3"></div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <div class="box-footer with-border">          
            <div class="box-tools pull-right">
                <a class="btn btn-primary" href="~/Accounting/TrialBalance" target="_blank">Show</a>              
            </div>
        </div>
        <!-- /.box-body -->
    </form>
</div>
                      
                  