﻿@model Erp.Core.Services.Production.VMProductionReport
@{
    ViewData["Title"] = "DailyReport";
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
@{
    int sl = 0;
}
<h4 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Sewing Report</h4>
<h6 style="text-align:right; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:10px"> Production Date: @Model.FromDate.ToString("yyyy-MM-dd") </h6>
<div style="overflow-x:auto">
    <table class="design" align="center" border="1">
        <thead>
            <tr>
                <th>SL</th>
                <th>Order</th>
                <th>Style</th>
                <th>Color</th>
                <th>Size</th>
                <th>Quantity</th>
                <th>Today Sewing</th>
                <th>Total Sewing</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.DataList)
            {
                <tr>
                    <td><b>@(++sl).</b></td>
                    <td class="text-navy text-bold">
                        @Html.DisplayFor(modelItem => item.BuyerPO)
                    </td>
                    <td class="text-navy text-bold">
                        @Html.DisplayFor(modelItem => item.StyleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ColorName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AchiveQty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalSewing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BalanceQty)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>