﻿@model Erp.Core.Services.Production.VMShipmentProductionPlan
<div class="row" id="autoPlan">
    <div class="col-lg-12 col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Line</th>
                    <th>Start Date</th>
                    <th>Finish Date</th>
                    <th style="text-align:center;">Day</th>
                    <th style="text-align:center;">Occupied Hour</th>
                    <th style="text-align:center;">Production Qty</th>
                    <th style="text-align:center;">Remaining Qty</th>

                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.ListLinePlan.Count(); i++)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(model => model.ListLinePlan[i].ProdOrderPlanningFK)
                        @Html.HiddenFor(model => model.ListLinePlan[i].ProductionLineFK)
                        @Html.HiddenFor(model => model.ListLinePlan[i].Merchandising_StyleFK)
                        @Html.HiddenFor(model => model.ListLinePlan[i].Plan_SMVLayoutFK)
                        @Html.HiddenFor(model => model.ListLinePlan[i].MachineQuantity)
                        @Html.HiddenFor(model => model.ListLinePlan[i].Description)
                        @Html.HiddenFor(model => model.ListLinePlan[i].RemainQty)
                        @Html.HiddenFor(model => model.ListLinePlan[i].OccupiedHour)
                        @Html.HiddenFor(model => model.ListLinePlan[i].StartDate)
                        @Html.HiddenFor(model => model.ListLinePlan[i].FinishDate)
                        @Html.HiddenFor(model => model.ListLinePlan[i].TargetDays)
                        @Html.HiddenFor(model => model.ListLinePlan[i].TargetOutputQty)
                        @Html.HiddenFor(model => model.ListLinePlan[i].WorkingHour)
                        @Html.HiddenFor(model => model.ListLinePlan[i].Capacity)
                        @Html.HiddenFor(model => model.ListLinePlan[i].DayOutputQty)
                        @Html.DisplayFor(model => model.ListLinePlan[i].LineName, new { @class = "form-control" })
                    </td>
                    <td>@Html.DisplayFor(model => model.ListLinePlan[i].StartDate, new { @class = "form-control" })</td>
                    <td>@Html.DisplayFor(model => model.ListLinePlan[i].FinishDate, new { @class = "form-control" })</td>
                    <td style="text-align:center;">@Model.ListLinePlan[i].TargetDays.ToString("0")</td>
                    <td style="text-align:center;">@Model.ListLinePlan[i].OccupiedHour.ToString("0")</td>
                    <td style="text-align:center;">@Model.ListLinePlan[i].TargetOutputQty.ToString("0")</td>
                    <td style="text-align:center;">@Model.ListLinePlan[i].RemainQty.ToString("0")</td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <button type="button" id="btncloseandreset" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <button type="submit" id="btnsave" class="btn btn-primary btn-block">Save</button>
                            </div>
                        </div>
                    </th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>