﻿@model Erp.Core.Services.Production.VMOrderStep

<div class="row" id="autoPlan">
    <div class="col-lg-12 col-md-12">
        <table class="table table-bordered">
            <thead class="bg-green">
                <tr>
                    <th>Add</th>
                    <th>Action Name</th>
                    <th>Action Step</th>
                    <th>Plan Start Date</th>
                    <th>Plan Finish Date</th>
                    <th>Actual Start Date</th>
                    <th>Actual Finish Date</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.StepList.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.HiddenFor(model => model.StepList[i].Merchandising_StyleFK)
                            @Html.HiddenFor(model => model.StepList[i].Plan_OrderActionStepFK)
                            @Html.CheckBoxFor(model => model.StepList[i].IsTaken)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.StepList[i].ActionName, new { @class = "form-control", @style = "width:100px;" })
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.StepList[i].ActionStepName, new { @class = "form-control", @style = "width:100px;" })
                        </td>
                        <td>@Html.TextBoxFor(model => model.StepList[i].PlanStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", @style = "width:100px;" })</td>
                        <td>@Html.TextBoxFor(model => model.StepList[i].PlanFinishDate, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", @style = "width:100px;" })</td>
                        <td>@Html.TextBoxFor(model => model.StepList[i].ActualStartDate, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", @style = "width:100px;" })</td>
                        <td>@Html.TextBoxFor(model => model.StepList[i].ActualFinishDate, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", @style = "width:100px;" })</td>
                    </tr>
                }
            </tbody>
            @if (Model.StepList.Count() > 0)
            {
                <tfoot>
                    <tr>
                        <th colspan="7">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <button type="submit" id="btnsave" class="btn btn-primary btn-block btn-flat">Save</button>
                                </div>
                            </div>
                        </th>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
</div>

<div class="row" id="autoPlan">
    <div class="col-lg-12 col-md-12">
        @using (Html.BeginForm("OrderStepUpdate", "Production", FormMethod.Post, new { id = "OrderStepUpdate", @class = "formValidator" }))
        {
            @Html.HiddenFor(model => model.ID)
            <table class="table table-bordered">
                <thead class="bg-green">
                    <tr>
                        <th>Remove</th>
                        <th>Action Name</th>
                        <th>Action Step</th>
                        <th>Plan Start Date</th>
                        <th>Plan Finish Date</th>
                        <th>Actual Start Date</th>
                        <th>Actual Finish Date</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.SaveDataList.Count(); i++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.SaveDataList[i].Merchandising_StyleFK)
                                @Html.HiddenFor(model => model.SaveDataList[i].Plan_OrderActionStepFK)
                                @Html.CheckBoxFor(modelItem => Model.SaveDataList[i].IsTaken)
                            </td>
                            <td>
                                <label>@Html.DisplayFor(model => model.SaveDataList[i].ActionName)</label>
                            </td>
                            <td>
                                <label>@Html.DisplayFor(model => model.SaveDataList[i].ActionStepName)</label>
                            </td>
                            <td>
                                <label class="display" id="lblPlanStartDate">@Html.DisplayFor(modelItem => Model.SaveDataList[i].PlanStartDate)</label>
                                @Html.TextBoxFor(item => Model.SaveDataList[i].PlanStartDate, "{0:yyyy-MM-dd}", new { @id = "txtPlanStartDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                            </td>
                            <td>
                                <label class="display" id="lblPlanFinishDate">@Html.DisplayFor(modelItem => Model.SaveDataList[i].PlanFinishDate)</label>
                                @Html.TextBoxFor(item => Model.SaveDataList[i].PlanFinishDate, "{0:yyyy-MM-dd}", new { @id = "txtPlanFinishDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                            </td>
                            <td>
                                <label class="display" id="lblActualStartDate">@Html.DisplayFor(modelItem => Model.SaveDataList[i].ActualStartDate)</label>
                                @Html.TextBoxFor(item => Model.SaveDataList[i].ActualStartDate, "{0:yyyy-MM-dd}", new { @id = "txtActualStartDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                            </td>
                            <td>
                                <label class="display" id="lblActualFinishDate">@Html.DisplayFor(modelItem => Model.SaveDataList[i].ActualFinishDate)</label>
                                @Html.TextBoxFor(item => Model.SaveDataList[i].ActualFinishDate, "{0:yyyy-MM-dd}", new { @id = "txtActualFinishDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                            </td>
                            <td>
                                <a class="edit-book display glyphicon glyphicon-pencil" id="@Model.SaveDataList[i].ID"></a>
                                <a class="save-book edit glyphicon glyphicon-ok" id="@Model.SaveDataList[i].ID"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>
                            </td>
                        </tr>

                    }
                </tbody>
                @if (Model.SaveDataList.Count() > 0)
                {
                    <tfoot>
                        <tr>
                            <th colspan="8">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <button type="submit" id="btnsave" class="btn btn-danger btn-block btn-flat btn-sm">Confirm Changes</button>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </tfoot>
                }
            </table>
        }
    </div>
</div>

<script type="text/javascript">

    $(function () {
        $('.datePicker').datepicker({
            format: "yyyy/mm/dd",
            autoclose: true
        });

        $.ajaxSetup({ cache: false });
        $("#btnAddSize").on("click", function (e) {
            var StyleId = $("#StyleFK").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetOrderStep")",
                datatype: "Json",
                data: { sid: StyleId },
                success: function (data) {
                    $("#loadActionStep").html(data);
                }
            });
            return false;
        });

        $.ajaxSetup({ cache: false });
        $("a[data-modal]").on("click", function (e) {
            $('#updateStyle').load(this.href);
            $('#createStyle').remove();
            return false;
        });



        var buttonId = '';
        $('.edit').hide();
        $('.edit-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            buttonId = 1;
        });

        $('.update-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            buttonId = 2;
        });

        $('.cancel-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });

        $('.save-book').on('click', function () {

            var tr = $(this).parents('tr:first');
            var ID = $(this).prop('id');
            var PlanStartDate = tr.find("#txtPlanStartDate").val();
            var PlanFinishDate = tr.find("#txtPlanFinishDate").val();

            var ActualStartDate = tr.find("#txtActualStartDate").val();
            var ActualFinishDate = tr.find("#txtActualFinishDate").val();
            var SewingStartDate = tr.find("#txtSewingStartDate").val();

            tr.find("#lblPlanStartDate").text(PlanStartDate);
            tr.find("#lblPlanFinishDate").text(PlanFinishDate);

            tr.find("#lblActualStartDate").text(ActualStartDate);
            tr.find("#lblActualFinishDate").text(ActualFinishDate);

            tr.find('.edit, .display').toggle();
        });


    });



        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            //$('.datePicker').datepicker({
            //    format: "yyyy/mm/dd",
            //    // format: "d/m/yy",
            //    autoclose: true
            //});
        });
</script>