﻿@model Erp.Core.Services.Production.VMProductionReference
<form class="formValidator" method="post" role="form">
    <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"></span><span class="sr-only"></span></button>
        <h5 class="modal-title"><b>Production Reference</b></h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 col-lg-12">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="ActionId" type="hidden" />
                <input asp-for="ID" type="hidden" />

                <div class="form-group">
                    <label asp-for="ReferenceDate" class="control-label"></label>
                    <input type="date" asp-for="ReferenceDate" asp-format="{0:dd/MM/yyyy}" class="form-control" />
                    <span asp-validation-for="ReferenceDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Remarks" class="control-label"></label>
                    <input asp-for="Remarks" class="form-control" />
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
                
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <input type="button" id="btncloseandreset" class="btn btn-warning btn-block" data-dismiss="modal" value="Close" />
            </div>
            <div class="col-lg-6 col-md-6">
                <input type="submit" id="btnsave" class="btn btn-primary btn-block" value="Save" />
            </div>
        </div>
    </div>
</form>