﻿@{
    ViewData["Title"] = "AutoPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Production.VMAutoPlan
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Production Auto Plan Configuration:
                </h4>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-body bg-grey">
                            <form asp-action="AutoPlanView" asp-controller="Merchandising" method="post" , new { id="formData" class="formValidator" }>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input asp-for="ID" type="hidden" class="form-control" />
                                <input asp-for="ActionId" type="hidden" class="form-control" />

                                <div class="form-group">
                                    <label asp-for="CuttingBFShip" class="control-label"></label>
                                    <input asp-for="CuttingBFShip" class="form-control" , required, autocomplete="off" />
                                    <span asp-validation-for="CuttingBFShip" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="SewingAFCutting" class="control-label"></label>
                                    <input asp-for="SewingAFCutting" class="form-control" ,required, autocomplete="off" />
                                    <span asp-validation-for="SewingAFCutting" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="AccessoriesINBFCutting" class="control-label"></label>
                                    <input asp-for="AccessoriesINBFCutting" class="form-control" ,required, autocomplete="off" />
                                    <span asp-validation-for="AccessoriesINBFCutting" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FabricINBFCutting" class="control-label"></label>
                                    <input asp-for="FabricINBFCutting" class="form-control" ,required, autocomplete="off" />
                                    <span asp-validation-for="FabricINBFCutting" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PPSampleBFCutting" class="control-label"></label>
                                    <input asp-for="PPSampleBFCutting" class="form-control" ,required, autocomplete="off" />
                                    <span asp-validation-for="PPSampleBFCutting" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Remarks" class="control-label"></label>
                                    <input asp-for="Remarks" class="form-control" />
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                                <div class="row pull-right">
                                    <div class="col-lg-12">
                                        <button type="submit" id="btnsave" class="btn btn-primary"><i class='fa fa-edit'></i> Save</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
