﻿@model Erp.Core.Services.Production.VMProductionReference
@{
    ViewData["Title"] = "Cutting Followup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Cutting Followup
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Cutting Followup</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
        <div class="box">
            <div class="box-header custom bg-success">
                <div class="row">
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon">Reference No</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceNo)">
                        </div>
                    </div>
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon">Cutting Date</span>
                            <input style="width: 130px;" type="text" class="form-control bg-yellow" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceDate)">
                        </div>
                    </div>
                    <div class="box-body col-md-6">
                        <div class="input-group">
                            <span style="width: 140px;" class="input-group-addon">Remarks</span>
                            <input style="width: 400px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Remarks)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CuttingFollowup", "Production", new { @class = "form-horizontal", role = "form" }))
                {
                    <input type="hidden" asp-for="ID" id="Prod_ReferenceFK" />
                    <input type="hidden" asp-for="vmDailyProduction.Prod_ReferencePlanFK" id="Prod_ReferencePlanFK" />
                    <input type="hidden" asp-for="vmDailyProduction.Merchandising_StyleFK" id="Merchandising_StyleFK" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div id="divddlCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Order Style:</label>
                                @Html.DropDownListFor(model => model.vmDailyProduction.MultiFK, ViewBag.StyleList as SelectList, "Select a Style", new { id = "MultiFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.MultiFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        
                        <div class="col-lg-4 col-md-4">
                            <div id="divddlCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Fabric Color:</label>
                                @Html.DropDownListFor(model => model.vmDailyProduction.Common_ColorFK, new SelectList(string.Empty, "Value", "Text"), "---Select Color---", new { id = "Common_ColorFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.Common_ColorFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">GSM:</label>
                                <input asp-for="vmDailyProduction.GSM" class="form-control" , required, autocomplete="off" readonly id="GSM" />
                            </div>
                        </div>
                    </div>
                    @*<div class="row">
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Extra Cutting:</label>
                        <input asp-for="vmDailyProduction.CuttingExtra" class="form-control" placeholder="Cutting Extra" , required, autocomplete="off" readonly />
                        <span asp-validation-for="vmDailyProduction.CuttingExtra" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Layer:</label>
                        <input asp-for="vmDailyProduction.Layer" class="form-control" placeholder="Layer" , required, autocomplete="off" readonly />
                        <span asp-validation-for="vmDailyProduction.Layer" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Per Layer Weight:</label>
                        <input asp-for="vmDailyProduction.PerLayerWeight" class="form-control" placeholder="Per Layer Weight" , required, autocomplete="off" readonly />
                        <span asp-validation-for="vmDailyProduction.PerLayerWeight" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Marker Piece:</label>
                        <input asp-for="vmDailyProduction.MarkerPiece" class="form-control" , required, autocomplete="off" readonly />
                        <span asp-validation-for="vmDailyProduction.MarkerPiece" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Marker Length:</label>
                        <input asp-for="vmDailyProduction.MarkerLength" class="form-control" ,required, autocomplete="off" readonly />
                        <span asp-validation-for="vmDailyProduction.MarkerLength" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Marker Width:</label>
                        <input asp-for="vmDailyProduction.MarkerWidth" class="form-control" ,required, autocomplete="off" readonly />
                        <span asp-validation-for="vmDailyProduction.MarkerWidth" class="text-danger"></span>
                    </div>
                </div>
            </div>*@
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <input id="btnCreate" type="submit" value="ADD" class="btn btn-primary btn-block" />
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="box">
            <div class="box-body table-responsive">
                <table id="" class="table table1 table-hover table-bordered text-nowrap">
                    <thead>
                        <tr>
                            <th>Shipment Date</th>
                            <th>Order Number</th>
                            <th>GSM</th>
                            <th>Layer</th>
                            <th>Port</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Order Qty</th>
                            <th>Extra Cut</th>
                            <th>Remain Qty</th>
                            <th>Done Qty </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.vmDailyProduction.DataList.Count(); i++)
                        {
                        <tr>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].EntryDate)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].OrderNo)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].GSM)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].Layer)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].Port)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].Color)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].Size)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].OrderQty)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].CuttingExtra) %</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].RemainQty)</label></td>
                            <td>
                                <label class="display" id="lblCuttingDoneQuantity">@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].DoneQty)</label>
                                @Html.TextBoxFor(item => Model.vmDailyProduction.DataList[i].DoneQty, new { id = "tbxDoneQty", @class = "edit form-control", @style = "width:70px;" })
                            </td>
                            <td>
                                <a class="edit-book display glyphicon glyphicon-pencil" id="@Model.vmDailyProduction.DataList[i].ID"></a>
                                <a class="save-book edit glyphicon glyphicon-ok" id="@Model.vmDailyProduction.DataList[i].ID"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-header custom bg-success">
                <a asp-action="DeleteZeroFollowup" asp-controller="Production" asp-route-Id="@Model.ID" asp-route-SId="1" class="btn btn-danger btn-xs btn-block">Delete Zero Followup</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $("#MultiFK").change(function () {
                var MultiFK = $("#MultiFK").val();

                console.log(MultiFK);
                var ValueID = MultiFK.split("/");
                var StyleId = ValueID[0];
                var PlanFK = ValueID[1];

                $('#Merchandising_StyleFK').val(StyleId);
                $('#Prod_ReferencePlanFK').val(PlanFK);
                console.log(PlanFK);
                var RefId = $("#Prod_ReferenceFK").val();
                $("#Common_ColorFK").empty();
                if (StyleId != '' && RefId !='') {
                    $.get('@Url.Action("GetCuttingStyleColor", "Helper")', { StyleID: StyleId, RefID: RefId }, function (data) {
                        $("#Common_ColorFK").append("<option value ='' selected>Select a Color</option>")
                        $.each(data, function (index, row) {
                            $("#Common_ColorFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });
                }
                else {
                    $("#Common_ColorFK").append("<option value ='' selected>Select a Color</option>")
                }
            });


            @*$("#Merchandising_StyleFK").change(function () {
                var StyleId = $("#Merchandising_StyleFK").val();
                var RefId = $("#Prod_ReferenceFK").val();
                $("#Common_ColorFK").empty();
                if (StyleId != '') {

                    $.get('@Url.Action("GetCuttingStyleColor", "Helper")', { StyleID: StyleId, RefID: RefId }, function (data) {
                        $("#Common_ColorFK").append("<option value ='' selected>Select a Color</option>")
                        $.each(data, function (index, row) {
                            $("#Common_ColorFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });
                }
                else {
                    $("#Common_ColorFK").append("<option value ='' selected>Select a Color</option>")
                }
            });*@

            $("#Common_ColorFK").change(function () {
                var StyleId = $("#Merchandising_StyleFK").val();
                var RefId = $("#Prod_ReferenceFK").val();
                var ColorId = $("#Common_ColorFK").val();
                
                if (StyleId != '' && RefId != '' && ColorId !='') {
                    $.get('@Url.Action("GetCuttingPlan", "Production")', { RefID: RefId, StyleID: StyleId, ColorID: ColorId }, function (data) {
                        //console.log(data.prod_ReferencePlanFK);
                        //$('#Prod_ReferencePlanFK').val(data.prod_ReferencePlanFK);
                        $('#GSM').val(data.gsm);
                        $('#TargetQty').val(data.targetQty);
                    });
                }
                else {
                    $('#Prod_ReferencePlanFK').val('');
                    $('#GSM').val('');
                    $('#TargetQty').val('');
                }
            });

        });
        $(function () {

            var buttonId = '';
            $('.edit').hide();
            $('.edit-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 1;
            });

            $('.update-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 2;
            });

            $('.cancel-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
            });

            $('.save-book').on('click', function () {

                var tr = $(this).parents('tr:first');

                var Prod_ReferencePlanFollowupFK = $(this).prop('id');
                var CuttingDoneQuantity = tr.find("#tbxDoneQty").val();
                //var tbxPlanProductionLineFk = tr.find("#tbxPlanProductionLineFk").val();
                
                tr.find("#lblCuttingPlanQuantity").text(CuttingDoneQuantity);

                var isSuccess = -1;
                var TotalQty = 0;

                $.get('@Url.Action("FollowupUpdate", "Production")', { Id: Prod_ReferencePlanFollowupFK, Qty: CuttingDoneQuantity }, function (data) {
                    TotalQty = data.qty;
                    isSuccess = data.result;
                    tr.find("#lblCuttingDoneQuantity").text(TotalQty);
                    //tr.find("#lblLineChiefSupervisor").text(CheifSVName);
                    tr.find('.edit, .display').toggle();
                });

            });
        });

    </script>
}