﻿@model Erp.Core.Services.Production.VMProductionReference
@{
    ViewData["Title"] = "CuttingStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Cutting Step
    </h1>

    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Cutting Step</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header custom bg-success">
                <div class="row">
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon">Reference No</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceNo)">
                        </div>
                    </div>
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon bg-yellow">Cutting Date</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceDate)">
                        </div>
                    </div>
                    <div class="box-body col-md-6">
                        <div class="input-group">
                            <span style="width: 140px;" class="input-group-addon">Remarks</span>
                            <input style="width: 400px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Remarks)">
                        </div>
                    </div>
                </div>
            </div>
            <div id="updateForm"></div>
            <div id="createForm">
                @await Component.InvokeAsync("ProductionUI", new { RID = Model.ID, ModeID = 0, SectionID = 1 })
            </div>
        </div>

        <div class="box">
            <div class="box-body table-responsive">
                <table id="tableABC" class="table table-hover table-bordered text-nowrap">
                    <thead>
                        <tr>
                            <th>Cutting Ref.</th>
                            <th>Order Number</th>
                            <th>GSM</th>
                            <th>Layer</th>
                            <th>Color</th>
                            <th>Order Qty</th>
                            <th>Extra Cutting(%)</th>
                            <th>Remaining Qty</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.vmDailyProduction.DataList)
                        {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Code)</td>
                            <td>@Html.DisplayFor(modelItem => item.OrderNo)</td>
                            <td>@Html.DisplayFor(modelItem => item.GSM)</td>
                            <td>@Html.DisplayFor(modelItem => item.Layer)</td>
                            <td>@Html.DisplayFor(modelItem => item.Color)</td>
                            <td>@Html.DisplayFor(modelItem => item.OrderQty)</td>
                            <td>@Html.DisplayFor(modelItem => item.CuttingExtra) %</td>
                            <td>@Html.DisplayFor(modelItem => item.RemainQty)</td>
                            <td>
                                <a data-modal="" class="linkPointer" asp-action="ProductionForm" asp-controller="Production" asp-route-rid="@Model.ID" asp-route-modeid="@item.Prod_ReferencePlanFK" asp-route-sectionid="1"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a> &nbsp;
                                <a onclick="deleteItemInfo(@item.Prod_ReferencePlanFK,@Model.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        @using (Html.BeginForm("CuttingPlanDelete", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
        {
            @Html.HiddenFor(model => model.ID, new { id = "DeleteId" })
            @Html.HiddenFor(model => model.vmDailyProduction.Prod_ReferenceFK, new { id = "ReferenceFK" })
            @Html.HiddenFor(model => model.vmDailyProduction.Prod_ReferencePlanFK, new { id = "ReferencePlanFK" })
            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-red">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Plan Order Delete</b></h5>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure to delete?</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="btnsave" class="btn btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts {
    <script type="text/javascript">


        function deleteItemInfo(id, refId) {
            if (id !== null) {
                $('#ReferencePlanFK').val(id);
                $('#ReferenceFK').val(refId);
            }
        }

        $(document).ready(function () {

            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#updateForm').load(this.href);
                $('#createForm').remove();
                return false;
            });

            $("#Merchandising_StyleFK").change(function () {
                var StyleID = $("#Merchandising_StyleFK").val();
                $("#Common_ColorFK").empty();
                $("#Merchandising_StyleSetPackFK").empty();
                if (StyleID != '') {

                    $.get('@Url.Action("GetStyleColor", "Helper")', { ID: StyleID }, function (data) {
                        $("#Common_ColorFK").append("<option value ='' selected>Select a Color</option>")
                        $.each(data, function (index, row) {
                            $("#Common_ColorFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });

                    $.get('@Url.Action("GetStyleSubset", "Helper")', { ID: StyleID }, function (data) {
                        $("#Merchandising_StyleSetPackFK").append("<option value ='' selected>Select Subset</option>")
                        $.each(data, function (index, row) {
                            $("#Merchandising_StyleSetPackFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });
                }
                else {
                    $("#Common_ColorFK").append("<option value ='' selected>Select a Color</option>")
                    $("#Merchandising_StyleSetPackFK").append("<option value ='' selected>Select Subset</option>")
                }
            });

            $("#ProductionLineFk").change(function () {
            var lineId = $("#ProductionLineFk").val();
            console.log(lineId);
            if (lineId != null) {
                $.get('@Url.Action("GetLineWiseChiefSupervisor", "Helper")', { LineId: lineId }, function (data) {
                    $('#LineChiefSupervisor').val(data.lineChiefSupervisor);
                    $('#SuperVisor').val(data.superVisor);
                    $('#Prod_LineChiefFk').val(data.prod_LineChiefFK);
                    $('#Prod_SVNameFk').val(data.prod_SuperVisorFK);
                });
            }
            else {
                $('#LineChiefSupervisor').val('');
                $('#SuperVisor').val('');
                $('#Prod_LineChiefFk').val('');
                $('#Prod_SVNameFk').val('');
            }
        });
        });
        $(function () {
            var buttonId = '';
            $('.edit').hide();
            $('.edit-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 1;
            });

            $('.update-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 2;
            });

            $('.cancel-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
            });

            $('.save-book').on('click', function () {

                var tr = $(this).parents('tr:first');

                var PlanRefOrderFK = $(this).prop('id');
                var CuttingPlanQuantity = tr.find("#tbxCuttingPlanQuantity").val();
                var tbxPlanProductionLineFk = tr.find("#tbxPlanProductionLineFk").val();

                tr.find("#lblCuttingPlanQuantity").text(CuttingPlanQuantity);

                var ProductionDailyPlan =
                {
                    "Prod_PlanReferenceOrderFk": PlanRefOrderFK,
                    "Prod_ReferenceFk": 0,
                    "CuttingPlanQuantity": CuttingPlanQuantity,
                    "Plan_ProductionLineFk": tbxPlanProductionLineFk
                };

                var isSuccess = -1;
                var TotalQty = 0;
                var LineName = '';
                var CheifSVName = '';

                $.ajax({
                    url: '@Url.Action("VmProd_PlanReferenceOrderItemEdit", "Production")',
                    data: JSON.stringify(ProductionDailyPlan),
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    success: function (result) {
                        isSuccess = result.result;
                        LineName = result.lineName;
                        CheifSVName = result.cheifsupervisor;
                    },
                    error: function (result) {
                        isSuccess = result;
                    }
                }).done(function () {
                    if (isSuccess == "1") {
                        tr.find("#lblPlanProductionLineFk").text(LineName);
                        tr.find("#lblLineChiefSupervisor").text(CheifSVName);
                        tr.find('.edit, .display').toggle();
                    }
                    else {
                        alert("Error. Please, check the data");
                    }
                });

            });
        });
    </script>
    }