﻿@model Erp.Core.Services.Production.VMProductionReport
@{
    ViewData["Title"] = "DailyProductionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Daily Production Reports
            </h1>
            <ol class="breadcrumb">
                <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Daily Production Reports</li>
            </ol>
        </section>
        <div class="box box-info">
            <div class="box-header custom bg-success with-border">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="box-body col-md-6 col-sm-12 col-lg-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">Production Step</span>
                                @Html.DropDownListFor(model => model.SectionId, ViewBag.ProductionStep as SelectList, "--Select a Production Step--", new { @id = "SectionId", @class = "form-control searchingDropdown" })
                                @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="box-body col-md-4 col-sm-12 col-lg-4">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">From Date:</span>
                                @Html.TextBoxFor(model => model.FromDate, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", required = "true", style = "width:100%", @autocomplete = "off" })

                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="row" style="padding-top:10px;">
                                <input type="submit" value="Generate" formtarget="_blank" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>