﻿@model Erp.Core.Services.Production.VMProductionReport
@{
    ViewData["Title"] = "DailyAchievement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="content-header">
            <h1>
                Production Achievement Followup:
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Report</a></li>
                <li class="active">Achievement</li>
            </ol>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box box-success">
            <div class="box-header bg-success">
                @using (Html.BeginForm("DailyAchievement", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(item => item.ProdReferenceId)
                    <div class="row">
                        @*<div class="col-lg-2 col-md-2 col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.FromDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "From Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-xs-12">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                                    @Html.TextBoxFor(model => model.ToDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "To Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                                    @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductionUnitID)
                                @Html.DropDownListFor(model => model.ProductionUnitID, ViewBag.ProductionUnit as SelectList, "Production Unit", new { @id = "ProductionUnitID", @class = "form-control searchingDropdown", style = "width:100%" })

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductionFloorID)
                                @Html.DropDownListFor(model => model.ProductionFloorID, ViewBag.ProductionFloor as SelectList, "Production Floor", new { @id = "ProductionFloorID", @class = "form-control searchingDropdown", style = "width:100%" })

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12" style="padding-top:25px;">
                            <input type="submit" value="Generate" class="btn btn-success btn-block btn-flat" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box">
                    <div class="box">
                        @using (Html.BeginForm("AddAchievement", "Production", FormMethod.Post))
                        {
                            @Html.HiddenFor(item => item.ProdReferenceId)
                            <div class="box-header">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sx-12 col-sm-12">
                                        <input type="submit" value="Save Remarks" class="btn btn-block btn-flat btn-primary" />
                                    </div>
                                </div>
                            </div>
                            <div class="box-body table-responsive">
                                <table class="table table1 table-striped table-hover table-bordered text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>LineNo</th>
                                            <th>PerLine M/C</th>
                                            <th>Order</th>
                                            <th>Style</th>
                                            <th>Mach. Running</th>
                                            <th>Opt.Pre.</th>
                                            <th>No.of HP</th>
                                            <th>TotalWorker</th>
                                            <th>SizeMan</th>
                                            <th>Supervisor</th>
                                            <th>InputCount</th>
                                            <th>SMV</th>
                                            <th>HourTarget</th>
                                            <th>TotalTarget</th>
                                            <th>WorkHour</th>
                                            <th>PerHourAchv.</th>
                                            <th>TotalAchv.</th>
                                            <th>Tar.Effic.</th>
                                            <th>Achv.Effic.</th>
                                            <th>TargetBalance</th>
                                            <th class="hidden">Remarks</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.DataList.Count; i++)
                                        {
                                            <tr>
                                                <td class="text-navy text-bold">
                                                    @Html.HiddenFor(model => model.DataList[i].ID)
                                                    @Html.HiddenFor(model => model.DataList[i].ProdReferenceId)
                                                    @Html.HiddenFor(model => model.DataList[i].ProdReferencePlanId)
                                                    @Html.HiddenFor(model => model.DataList[i].StyleID)
                                                    @Html.HiddenFor(model => model.DataList[i].LineId)

                                                    @Html.HiddenFor(model => model.DataList[i].AchiveQty)
                                                    @Html.HiddenFor(model => model.DataList[i].TargetEffi)
                                                    @Html.HiddenFor(model => model.DataList[i].AchiveEffi)
                                                    @Html.HiddenFor(model => model.DataList[i].TargetBalance)
                                                    @Html.HiddenFor(model => model.DataList[i].FromDate)
                                                    @Html.DisplayFor(model => model.DataList[i].LineName)
                                                </td>
                                                <td class="text-navy text-bold">
                                                    @Html.DisplayFor(model => model.DataList[i].QtyLineMachine)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].BuyerPO)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].StyleName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].QtyLineMachine)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].QtyPresentOP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].QtyPresentHP)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].QtyTotalWorker)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].QtySizeMan)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].QtyLineMan)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].QtyInputMan)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].SMV)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].HourlyTarget)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].TotalTarget)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].WorkingHour)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].HourlyAchivement)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].AchiveQty)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].TargetEffi)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].AchiveEffi)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(model => model.DataList[i].TargetBalance)
                                                </td>
                                                <td class="hidden">
                                                    @Html.DisplayFor(model => model.DataList[i].Remarks)
                                                </td>
                                                <td>
                                                    @Html.DropDownListFor(model => model.DataList[i].RemarksID, ViewBag.RemarkList as SelectList, "Select Remarks", new { id = "RemarksID" + Model.DataList[i].ID, @class = "searchingDropdown form-control", style = "width:100%" })
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                        <!-- /.box-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
    $(document).ready(function () {
        $('.searchingDropdown').select2();
        $('.formValidator').bootstrapValidator();
    });
    </script>
}