﻿@model Erp.Core.Services.Production.VMProductionReference
@{
    ViewData["Title"] = "IroningStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Ironing Step
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Ironing Step</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <div class="row">
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon">Reference No</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceNo)">
                        </div>
                    </div>
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon bg-yellow">Iron Date</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceDate)">
                        </div>
                    </div>
                    <div class="box-body col-md-6">
                        <div class="input-group">
                            <span style="width: 140px;" class="input-group-addon">Remarks</span>
                            <input style="width: 400px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Remarks)">
                        </div>
                    </div>
                </div>
            </div>
            <div id="updateForm"></div>
            <div id="createForm">
                @await Component.InvokeAsync("ProductionUI", new { RID = Model.ID, ModeID = 0, SectionID = 3 })
            </div>
        </div>
        <div class="box box-success">
            <div class="box-body table-responsive">
                <table id="tableABC" class="table table-hover table-bordered text-nowrap">
                    <thead class="bg-success">
                        <tr>
                            <th>Order Number</th>
                            <th>Order Qty</th>
                            <th>Cutting Qty</th>
                            <th>Sewing Qty</th>
                            <th>Iron Qty</th>
                            <th>Remain Qty</th>
                            @*<th>Action</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.vmDailyProduction.DataList.Count(); i++)
                        {
                            <tr>
                                <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].OrderNo)</label></td>
                                <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].OrderQty)</label></td>
                                <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].CuttingDoneQuantity)</label></td>
                                <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].SewingDoneQuantity)</label></td>
                                <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].DoneQty)</label></td>
                                <td class="bg-danger mdl-color-text--blue-100"><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].RemainQty)</label></td>
                                @*<td>
                                        <a class="edit-book display glyphicon glyphicon-pencil" id="@Model.vmDailyProduction.DataList[i].Prod_PlanReferenceOrderFk"></a>
                                        <a class="save-book edit glyphicon glyphicon-ok" id="@Model.vmDailyProduction.DataList[i].Prod_PlanReferenceOrderFk"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                        <a class="cancel-book edit glyphicon glyphicon-remove"></a>
                                    </td>*@
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        function deleteItemInfo(id, refId) {
            if (id !== null) {
                $('#ReferencePlanFK').val(id);
                $('#ReferenceFK').val(refId);
            }
        }

        $(document).ready(function () {

            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#updateForm').load(this.href);
                $('#createForm').remove();
                return false;
            });

            $("#Merchandising_StyleFK").change(function () {
                var StyleID = $("#Merchandising_StyleFK").val();
                //$("#Common_ColorFK").empty();
                $("#Merchandising_StyleSetPackFK").empty();
                if (StyleID != '') {

                    @*$.get('@Url.Action("GetStyleColor", "Helper")', { ID: StyleID }, function (data) {
                        $("#Common_ColorFK").append("<option value ='' selected>Select a Color</option>")
                        $.each(data, function (index, row) {
                            $("#Common_ColorFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });*@

                    $.get('@Url.Action("GetStyleSubset", "Helper")', { ID: StyleID }, function (data) {
                        $("#Merchandising_StyleSetPackFK").append("<option value ='' selected>Select Subset</option>")
                        $.each(data, function (index, row) {
                            $("#Merchandising_StyleSetPackFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });
                }
                else {
                    //$("#Common_ColorFK").append("<option value ='' selected>Select a Color</option>")
                    $("#Merchandising_StyleSetPackFK").append("<option value ='' selected>Select Subset</option>")
                }
            });

        });

    </script>
}