﻿@model Erp.Core.Services.Production.VMLineDevice
@{
    ViewData["Title"] = "LineDevice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var tdId = "tdId";
    //var tdname = "tdname";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>Line Device</h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Device</li>
            </ol>
        </section>
        <div class="box box-primary">
            <div id="updateForm"></div>
            <div id="createForm">
                @await Component.InvokeAsync("QCUI", new { ID = 0, UINo=1 })
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>Device ID</th>
                                <th>Device Name</th>
                                <th>Line Name</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td>@item.DeviceID</td>
                                <td>@item.Name</td>
                                <td>@item.ProductionLine</td>
                                <td>@item.Remarks</td>
                                <td>
                                    <a data-modal="" class="linkPointer" asp-action="LineDeviceUpdateEdit" asp-controller="Production" asp-route-id="@item.ID"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                    <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    @*@Html.ActionLink("Add Bank", "BuyerBank", new { ID = item.ID }, new { @class = "label " + item.Exist, target = "_blank", title = "Add Bank" })*@
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("Buyer", "Home", FormMethod.Post, new { id = "Buyer", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
    @Html.HiddenFor(model => model.ID, new { id = "hidId" })

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">&times;</button>
                    <h5 class="modal-title"><b>Device Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure you want to delete this item?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('.searchingDropdown').select2();
        });
        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#updateForm').load(this.href);
                $('#createForm').remove();
                return false;
            });
        });

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
        $("#btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txtName').empty();
            $('#Buyer').bootstrapValidator("resetForm", true);
        })
    </script>
}