﻿
@{
    ViewData["Title"] = "LinePlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Production.VMPlanningView
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success with-border">
                <h4>
                    Order Planning Summary :
                </h4>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">Order Number</span>
                        <textarea style="width:310px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.vmOrderPlanning.OrderNumber)</textarea>
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">Style Name</span>
                        <textarea style="width:310px;   background-color: #e5e5e5; cursor: no-drop;color: navy;font-weight: bold;" class="form-control" readonly="readonly">@Html.DisplayFor(x => x.vmOrderPlanning.StyleNo)</textarea>
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Order Qty")</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrderPlanning.OrderPlanQty)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Achive Qty")</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrderPlanning.OrderPlanAchiveQty)">
                    </div>
                </div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:175px;" class="input-group-addon">@Html.DisplayName("Shipment Date")</span>
                        <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrderPlanning.ShipmentDate)">
                    </div>
                    <div class="input-group">
                        <span style="width:175px;" class="input-group-addon">@Html.DisplayName("Sample Approved Date")</span>
                        <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrderPlanning.SampleApprovedDate)">
                    </div>
                    <div class="input-group">
                        <span style="width:175px;" class="input-group-addon">@Html.DisplayName("Fabric Inhouse Date")</span>
                        <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrderPlanning.FabricInhouseDate)">
                    </div>
                    <div class="input-group">
                        <span style="width:175px;" class="input-group-addon">@Html.DisplayName("Access Inhouse Date")</span>
                        <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrderPlanning.AccessoriesInhouseDate)">
                    </div>
                    <div class="input-group">
                        <span style="width:175px;" class="input-group-addon">@Html.DisplayName("Cutting Start Date")</span>
                        <input style="width:210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrderPlanning.CuttingStartDate)">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Production Line Planning:
                </h4>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @using (Html.BeginForm("LinePlan", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                    {
                        @Html.HiddenFor(model => model.ActionId)
                        @Html.HiddenFor(model => model.ID)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Line:</label>
                                        @Html.DropDownListFor(model => model.vmLinePlanning.ProductionLineFK, ViewBag.StyleList as SelectList, "-- Select Order --", new { @id = "Mkt_BOMFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.vmLinePlanning.ProductionLineFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Machine Quantity:</label>
                                        @Html.EditorFor(model => model.vmLinePlanning.MachineQuantity, new { htmlAttributes = new { @id = "PlanQty", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.vmLinePlanning.MachineQuantity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Start Date:</label>
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.vmLinePlanning.StartDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "Shipment Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.vmLinePlanning.StartDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Finish Date:</label>
                                        <div class="input-group date">
                                            @Html.TextBoxFor(model => model.vmLinePlanning.FinishDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "Shipment Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.vmLinePlanning.FinishDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Working Hour:</label>
                                        @Html.EditorFor(model => model.vmLinePlanning.WorkingHour, new { htmlAttributes = new { @id = "PlanQty", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.vmLinePlanning.WorkingHour, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Per Hour Capacity:</label>
                                        @Html.TextBoxFor(model => model.vmLinePlanning.Capacity, new { @class = "form-control", required = "true", autocomplete = "off" })
                                        @Html.ValidationMessageFor(model => model.vmLinePlanning.Capacity, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <input type="submit" value="ADD" class="btn btn-success btn-block" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            @*<div id="updateStyle"></div>
                <div id="createStyle">
                    @await Component.InvokeAsync("CommonUI", new { ID = Model.vmOrder.ID, Name = "Style" })
                </div>*@
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th id="td1" class="hidden"></th>
                                <th>Line Name</th>
                                <th>Machine Quantity</th>
                                <th>Start Date</th>

                                <th>Finish Date</th>
                                <th>Per Hour Capacity</th>

                                <th>Working Hour</th>
                                <th>Target Days</th>
                                <th>Daily Target</th>

                                <th>Total Quantity</th>
                                <th>Remain Quantity</th>
                                <th>Target Remain</th>
                                <th>Remarks</th>

                                <th>Status</th>
                                <th class="center">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.vmLinePlanning.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="" class="hidden">@item.ID</td>
                                    <td>@item.LineName</td>
                                    <td>@item.MachineQuantity</td>
                                    <td>@item.StartDate.ToString("yyyy/MM/dd")</td>
                                    <td>@item.FinishDate.ToString("yyyy/MM/dd")</td>

                                    <td>@item.Capacity</td>
                                    <td>@item.WorkingHour</td>
                                    <td>@item.TargetDays</td>

                                    <td>@item.DayOutputQty</td>
                                    <td>@item.TargetOutputQty</td>
                                    <td>@item.RemainQty</td>
                                    <td>0</td>

                                    <td>@item.Description</td>
                                    <td>Running</td>
                                    <td>
                                        <a data-modal="" class="linkPointer" asp-action="#" asp-controller="Production" asp-route-Id="@item.ID"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>&nbsp;
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>&nbsp;
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

    function deleteItemInfo(id) {
        if (id !== null) {
            $('#hidId').val(id);
            $('#ActionId').val(3);
        }
    }

    $(document).ready(function () {
        $('.searchingDropdown').select2();
        $('.formValidator').bootstrapValidator();

        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#updateStyle').load(this.href);
                $('#createStyle').remove();
                return false;
            });
        });

        
    });
    </script>
}