﻿@model Erp.Core.Services.Production.VMLineChief

@{ ViewData["Title"] = "LineChief";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var tdId = "tdId";
    var td1 = "td1";
    //var td2 = "td2";
    //var td3 = "td3";
   // var td4 = "td4";
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Line Chief Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("LineChief", "Production", FormMethod.Post, new { id = "LineChief", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            <div class="box-body">
                                <!--Body Will by Start Here-->
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Name:</label>
                                            @Html.TextBoxFor(model => model.Name, new { id = "txt1", placeholder = "Name", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="col-lg-3 col-md-3 pull-right" style="padding-top:25px">
                                        <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                        <button type="button" id="btnClose" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>

                              
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }

                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                     <td id="@td1@item.ID">@item.Name</td>
                                     <td>
                                         <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                             <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                         </a>

                                         @if (item.IsReference)
                                         {
                                             @Html.ActionLink("Add Line", "ProductionLineChief", new { ID = item.ID }, new { @class = "label label-success", target = "_blank", title = "Production Line Details" })
                                         }
                                         else
                                         {
                                             <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                                 <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                             </a>
                                             @Html.ActionLink("Add Line", "ProductionLineChief", new { ID = item.ID }, new { @class = "label label-danger", target = "_blank", title = "Production Line Details" })

                                         }

                                     </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("LineChief", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "HDFId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "HDFActionId" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete LineChief</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });
        function menuinfo(elem) {
            
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html(" Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txt1').val($('#td1' + r).text().trim());


            }
        }
        function deleteItemInfo(id) {
            
            if (id !== null) {
                $('#HDFId').val(id);
                $('#HDFActionId').val(3);
            }
        }

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");

            $('.ddlReset').val('').trigger('change');
            $('#LineChief').bootstrapValidator("resetForm", true);

        }

        $("#btnClose").click(function (e) {
            $('#LineChief').trigger("reset");
        });
    </script>
}



