﻿@model Erp.Core.Services.Production.VMLineChiefLine

@{ ViewData["Title"] = "LineChiefLine";
    Layout = "~/Views/Shared/_Layout.cshtml";

   // var tdLineChiefFk = "tdLineChiefFk";
   // var tdLineSuperVisorFk = "tdLineSuperVisorFk";
   // var tdProductionLineFk = "tdProductionLineFk";
    var tdId = "tdId";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Line Wise Chief and Supervisor Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        @using (Html.BeginForm("LineChiefLine", "Production", FormMethod.Post, new { id = "ChiefLine", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            <div class="box-body">
                                <!--Body Will by Start Here-->
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group" style="display:block">
                                            <label for="recipient-name" class="col-form-label">Production Line:</label>
                                            @Html.DropDownListFor(model => model.Common_ProductionLineFk, ViewBag.ProductionLine as SelectList, "Select a Production Line", new { id = "ProductionLineFK", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Common_ProductionLineFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group" style="display:block">
                                            <label for="recipient-name" class="col-form-label">Line SuperVisor:</label>
                                            @Html.DropDownListFor(model => model.LineManTypeFK, ViewBag.LineChiefORSV as SelectList, "Select Line Chief Or SuperVisor", new { id = "LineManTypeFK", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.LineManTypeFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group" style="display:block">
                                            <label for="recipient-name" class="col-form-label">Line Chief/SuperVisor:</label>
                                            @Html.DropDownListFor(model => model.LineChiefOrSVFK, new SelectList(string.Empty, "Value", "Text"), "Line Chief/SuperVisor", new { id = "LineChiefOrSVFK", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.LineChiefOrSVFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    @*<div class="col-lg-3 col-md-3">
                                        <div class="form-group" style="display:block">
                                            <label for="recipient-name" class="col-form-label">Line SuperVisor:</label>
                                            @Html.DropDownListFor(model => model.Common_LineSuperVisorFk, ViewBag.LineSuperVisor as SelectList, "Select a Line SuperVisor", new { id = "LineSuperVisorFK", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Common_LineSuperVisorFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@

                                    @*<div class="col-lg-2 col-md-2">
            <div class="form-group" style="display:block">
                <label for="recipient-name" class="col-form-label">Is Line Chief:</label>
                @Html.CheckBoxFor(model => model.IsLineChief, new { id = "drIsLineChief" })
                @Html.ValidationMessageFor(model => model.IsLineChief, "", new { @class = "text-danger" })
            </div>
        </div>*@

                                </div>

                                <div class="col-lg-3 col-md-3 pull-right" style="padding-top:25px">
                                    <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                    <button type="button" id="btnClose" class="btn btn-danger" >Cancel</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th class="hidden"></th>
                                @*<th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>*@
                                <th>Line Chief</th>
                                <th>Line SuperVisor</th>
                                <th>Production Line</th>
                                <th>Is Line Chief</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }

                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    @*<td class="hidden">
                                        <input type="hidden" id="@tdLineChiefFk@item.ID" value="@item.Common_LineChiefFk" />
                                    </td>
                                    <td class="hidden">
                                        <input type="hidden" id="@tdLineSuperVisorFk@item.ID" value="@item.Common_LineSuperVisorFk" />
                                    </td>
                                    <td class="hidden">
                                        <input type="hidden" id="@tdProductionLineFk@item.ID" value="@item.Common_ProductionLineFk" />
                                    </td>*@

                                    <td id="@td1@item.ID">@item.LineChief</td>
                                    <td id="@td2@item.ID">@item.LineSuperVisor</td>
                                    <td id="@td3@item.ID">@item.ProductionLine</td>
                                    <td id="@td4@item.ID">
                                        <div>
                                            @if (item.IsLineChief == true)
                                            {
                                                <span class="label label-success">Yes</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">NO</span>
                                            }
                                        </div>
                                    
                                   </td>
                                    <td>
                                        <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("LineChiefLine", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "HDFId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "HDFActionId" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                    <button type="button"  class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $("#LineManTypeFK").change(function () {
                var TypeID = $("#LineManTypeFK").val();
                if (TypeID != '') {
                    $("#LineChiefOrSVFK").empty();
                    if (TypeID == 1) {
                        $.get('@Url.Action("GetLineChiefOrSV", "Production")', { ID: TypeID }, function (data) {
                            $("#LineChiefOrSVFK").append("<option value ='' selected>Select Line Chief</option>")
                            $.each(data, function (index, row) {
                                $("#LineChiefOrSVFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                            });
                        })
                    }
                    else if (TypeID == 2) {
                        $.get('@Url.Action("GetLineChiefOrSV", "Production")', { ID: TypeID }, function (data) {
                            $("#LineChiefOrSVFK").append("<option value ='' selected>Select Line Supervisor</option>")
                            $.each(data, function (index, row) {
                                $("#LineChiefOrSVFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                            });
                        })
                    }
                }
                else {
                    $("#LineChiefOrSVFK").empty();
                    $("#LineChiefOrSVFK").append("<option value ='' selected>Line Chief / Supervisor</option>")
                }
            });

        });
        
        function menuinfo(elem) {
            
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html(" Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#LineChiefFK').val($('#tdLineChiefFk' + r).val().trim()).trigger('change');
                $('#LineSuperVisorFK').val($('#tdLineSuperVisorFk' + r).val().trim()).trigger('change');
                $('#ProductionLineFK').val($('#tdProductionLineFk' + r).val().trim()).trigger('change');

                if ($('#td4' + r).text().trim() == "True") {
                    $("#drIsLineChief").prop("checked", true);
                }

            }
        }
        function deleteItemInfo(id) {
            
            if (id !== null) {
                $('#HDFId').val(id);
                $('#HDFActionId').val(3);
            }
        }

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");

            $('.ddlReset').val('').trigger('change');
            $('#ChiefLine').bootstrapValidator("resetForm", true);

        }

        $("#btnClose").click(function (e) {
            $('#ChiefLine').trigger("reset");
        });
    </script>
}

