﻿@{
    ViewData["Title"] = "OrderPlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Production.VMPlanView

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Execution-Plan
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Execution-Plan</li>
            </ol>
        </section>
        <div class="box box-primary">
            <div class="box-header custom bg-success">
                <h4>
                    Style Pre-Plan:
                </h4>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    @if (Model.ListOrderPlan != null && Model.ListOrderPlan.Any())
                    {
                        @using (Html.BeginForm("OrderPlan", "Production", FormMethod.Post, new { id = "formData" }))
                        {
                            <table id="" class="table table1 table-hover table-bordered text-nowrap">
                                <thead class="bg-info">
                                    <tr>
                                        <th style="background-color:#A9CCE3;">.</th>
                                        <th style="background-color:#A9CCE3;">Order No / Style</th>
                                        <th style="background-color:#A9CCE3;">Delivery Qty</th>
                                        <th style="background-color:#85C1E9;">Delivery</th>
                                        <th style="background-color:#85C1E9;">Sub-Set Name</th>
                                        <th style="background-color:#85C1E9;">PP Approved</th>
                                        <th style="background-color:#7FB3D5;">Accessories</th>
                                        <th style="background-color:#7FB3D5;">Fabric</th>
                                        <th style="background-color:#5DADE2;">Cutting</th>
                                        <th style="background-color:#5DADE2;">Extra Cutting(%)</th>
                                        <th style="background-color:#5DADE2;">Sewing</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.ListOrderPlan.Count(); i++)
                                    {
                                    <tr>
                                        <td>
                                            @Html.HiddenFor(item => Model.ListOrderPlan[i].ID)
                                            @Html.HiddenFor(item => Model.ListOrderPlan[i].Merchandising_StyleFK)
                                            @Html.HiddenFor(item => Model.ListOrderPlan[i].Merchandising_SetPackFK)
                                            @Html.CheckBoxFor(modelItem => Model.ListOrderPlan[i].IsReference)
                                        </td>
                                        <td>
                                            <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].StyleNo)</label>
                                        </td>
                                        <td>
                                            <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].OrderPlanQty)</label>
                                            @Html.HiddenFor(item => Model.ListOrderPlan[i].OrderPlanQty)
                                        </td>
                                        <td>
                                            <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].ShipmentDate)</label>
                                            @Html.HiddenFor(item => Model.ListOrderPlan[i].ShipmentDate)
                                        </td>
                                        <td>
                                            <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].ItemName)</label>
                                        </td>
                                        <td>
                                            <label class="display" id="lblSampleApprovedDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].SampleApprovedDate)</label>
                                            @Html.TextBoxFor(item => Model.ListOrderPlan[i].SampleApprovedDate, "{0:yyyy-MM-dd}", new { @id = "txtSampleApprovedDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                        </td>
                                        <td>
                                            <label class="display" id="lblAccessoriesInhouseDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].AccessoriesInhouseDate)</label>
                                            @Html.TextBoxFor(item => Model.ListOrderPlan[i].AccessoriesInhouseDate, "{0:yyyy-MM-dd}", new { @id = "txtAccessoriesInhouseDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                        </td>
                                        <td>
                                            <label class="display" id="lblFabricInhouseDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].FabricInhouseDate)</label>
                                            @Html.TextBoxFor(item => Model.ListOrderPlan[i].FabricInhouseDate, "{0:yyyy-MM-dd}", new { @id = "txtFabricInhouseDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                        </td>
                                        <td>
                                            <label class="display" id="lblCuttingStartDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].CuttingStartDate)</label>
                                            @Html.TextBoxFor(item => Model.ListOrderPlan[i].CuttingStartDate, "{0:yyyy-MM-dd}", new { @id = "txtCuttingStartDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                        </td>
                                        <td>
                                            <label class="display" id="lblExtraCutting">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].ExtraRate) %</label>
                                            @Html.TextBoxFor(item => Model.ListOrderPlan[i].ExtraRate, new { @id = "txtExtraCutting", @class = "edit form-control", @style = "width:100px;" })
                                        </td>
                                        <td>
                                            <label class="display" id="lblSewingStartDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].SewingStartDate)</label>
                                            @Html.TextBoxFor(item => Model.ListOrderPlan[i].SewingStartDate, "{0:yyyy-MM-dd}", new { @id = "txtSewingStartDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                        </td>
                                        <td>
                                            <a class="edit-book display glyphicon glyphicon-pencil" id="@Model.ListOrderPlan[i].ID"></a>
                                            <a class="save-book edit glyphicon glyphicon-ok" id="@Model.ListOrderPlan[i].ID"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <a class="cancel-book edit glyphicon glyphicon-remove"></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="11">
                                            <input type="submit" value="ADD" class="btn btn-primary btn-block" />
                                        </th>
                                    </tr>
                                </tfoot>
                            </table>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom bg-success">
                <h4>
                    Style Execution Plan:
                </h4>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="" class="table table1 table-striped table-bordered text-nowrap">
                        <thead class="bg-info">
                            <tr>
                                <th style="background-color:#A9CCE3;">Order No / Style</th>
                                <th style="background-color:#A9CCE3;">Delivery Qty</th>
                                <th style="background-color:#85C1E9;">Delivery</th>
                                <th style="background-color:#85C1E9;">Sub-Set Name</th>
                                <th style="background-color:#85C1E9;">PP Approved</th>
                                <th style="background-color:#7FB3D5;">Accessories</th>
                                <th style="background-color:#7FB3D5;">Fabric</th>
                                <th style="background-color:#5DADE2;">Cutting</th>
                                <th style="background-color:#5DADE2;">Extra Cutting</th>
                                <th style="background-color:#5DADE2;">Sewing</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @if (Model.vmOrderPlanning.DataList != null)
                        {
                            <tbody>
                                @foreach (var item in Model.vmOrderPlanning.DataList)
                                {
                                <tr>
                                    <td>@item.StyleNo</td>
                                    <td>@item.OrderPlanQty</td>
                                    <td>@item.ShipmentDate.ToString("yyyy/MM/dd")</td>
                                    <td>@item.ItemName</td>
                                    <td>@item.SampleApprovedDate.ToString("yyyy/MM/dd")</td>
                                    <td>@item.AccessoriesInhouseDate.ToString("yyyy/MM/dd")</td>
                                    <td>@item.FabricInhouseDate.ToString("yyyy/MM/dd")</td>
                                    <td>@item.CuttingStartDate.ToString("yyyy/MM/dd")</td>
                                    <td>@item.ExtraRate.ToString("0.00")</td>
                                    <td>@item.SewingStartDate.ToString("yyyy/MM/dd")</td>
                                    <td>
                                        @if (item.IsReference)
                                        {
                                            <a data-modal="modal" class="linkPointer label label-success" asp-action="LinePlan" asp-controller="Production" asp-route-SId="@item.Merchandising_StyleFK" asp-route-Id="@item.ID">Line Plan</a>
                                        }
                                        else
                                        {
                                            <a data-modal="modal" class="linkPointer label label-danger" asp-action="LinePlan" asp-controller="Production" asp-route-SId="@item.Merchandising_StyleFK" asp-route-Id="@item.ID">Line Plan</a>
                                        }
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            @using (Html.BeginForm("OrderPlan", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
            {
                @Html.HiddenFor(model => model.ID, new { id = "DeleteId" })
                @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })
                <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                    &times;
                                </button>
                                <h5 class="modal-title"><b>Delete Shipment Execution-Plan Order</b></h5>
                            </div>
                            <div class="modal-body">
                                <div style="text-align:center">
                                    <h3>Are you sure to delete?</h3>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div id='popUpModal' class="modal fade ">
    <div class="modal-dialog modal-xlg">
        <div class="modal-content">
            <div id='popUpModalContent'></div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $(function () {
            $('.formValidator').bootstrapValidator();

            var buttonId = '';
            $('.edit').hide();
            $('.edit-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 1;
            });

            $('.update-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 2;
            });

            $('.cancel-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
            });

            $('.save-book').on('click', function () {

                var tr = $(this).parents('tr:first');
                var ID = $(this).prop('id');
                var CuttingStartDate = tr.find("#txtCuttingStartDate").val();
                var ExtraCutting = tr.find("#txtExtraCutting").val();
                var SampleApprovedDate = tr.find("#txtSampleApprovedDate").val();
                var FabricInhouseDate = tr.find("#txtFabricInhouseDate").val();
                var AccessoriesInhouseDate = tr.find("#txtAccessoriesInhouseDate").val();
                var SewingStartDate = tr.find("#txtSewingStartDate").val();
                tr.find("#lblCuttingStartDate").text(CuttingStartDate);
                tr.find("#lblExtraCutting").text(ExtraCutting);
                tr.find("#lblSampleApprovedDate").text(SampleApprovedDate);
                tr.find("#lblAccessoriesInhouseDate").text(AccessoriesInhouseDate);
                tr.find("#lblFabricInhouseDate").text(FabricInhouseDate);
                tr.find("#lblSewingStartDate").text(SewingStartDate);
                tr.find('.edit, .display').toggle();
            });

            $.ajaxSetup({ cache: false });
            $("a[data-modal=modal]").on("click", function (e) {
                $('#popUpModalContent').load(this.href, function () {
                    var options = { "backdrop": "static", keyboard: true };
                    $('#popUpModal').modal(options, 'show');
                    bindForm(this);
                });
                return false;
            });
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#popUpModal').modal('hide');
                            location.reload();
                        }
                        else {
                            $('#popUpModalContent').html(result);
                            bindForm();
                        }
                    }
                });
                return false;
            });
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#DeleteId').val(id);
                $('#DeleteActionId').val(3);
            }
        }

    </script>
}