﻿@model Erp.Core.Services.Production.VMOrderActionStep
@{
    ViewData["Title"] = "Order Action Step";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdname = "tdname";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Manage @Model.OrderActionName Action Step
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a asp-action="OrderAction" asp-controller="Production"><i class="fa fa-dashboard"></i>Order Action</a></li>
                <li class="active">Action Step</li>
            </ol>
        </section>
        <div class="box-danger">
            <div id="updateForm"></div>
            <div id="createForm">
                @await Component.InvokeAsync("TimeAction", new { ID = 0,FID= @Model.Plan_OrderActionFK, ViewName = "ActionStep" })
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial</th>
                                <th class="hidden"></th>
                                <th>Step Short Name</th>
                                <th>Action Step Name</th>
                                <th>Step Serial</th>
                                <th>Range in Day</th>
                                <th>Critical Rate in %</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{ int sl = 0;}
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <th>@(++sl)</th>
                                <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                <td>@item.StepCode</td>
                                <td id="@tdname@item.ID">@item.Name</td>
                                <td>@item.Priority</td>
                                <td>@item.DefaultRange</td>
                                <td>@item.ExtendedRange</td>
                                <td>
                                    <a data-modal="" class="linkPointer" asp-action="GetUpdateForm" asp-controller="Production" asp-route-id="@item.ID" asp-route-fid="@item.Plan_OrderActionFK" asp-route-vn="ActionStep"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                    <a onclick="deleteItemInfo(@item.ID,@item.Plan_OrderActionFK);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("OrderActionStep", "Production", FormMethod.Post, new { id = "orderActionStep", @class = "formValidator" }))
    {
        @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })
        @Html.HiddenFor(model => model.Plan_OrderActionFK, new { id = "OrderActionFK" })
        @Html.HiddenFor(model => model.ID, new { id = "hidId" })
        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Action Step Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center; color:red;">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnsave" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });
        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {

                $('#updateForm').load(this.href);
                $('#createForm').remove();
                return false;
            });
        });
        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtName').val($('#tdname' + r).text().trim());
            }
        }

        function deleteItemInfo(id,oid) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#OrderActionFK').val(oid);
                $('#DeleteActionId').val(3);
            }
        }
        $("#btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txtName').empty();
            $('#Buyer').bootstrapValidator("resetForm", true);
        })
    </script>
}
