﻿@*@model List<Erp.Core.Services.Production.VMOrderStepReport>*@
@model Erp.Core.Services.Production.VMOrderStepReport

@{
    ViewData["Title"] = "OrderStepReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style type="text/css">

    .customTable,
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        padding: 2px !important;
    }

    .trclass {
        border: 1px solid thick;
        font-size: 10px;
        font-weight: 700;
    }
</style>

@*<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section class="content-header">
                <h1>
                    Production Plan Chart:
                </h1>
                <ol class="breadcrumb">
                    <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Report</a></li>
                    <li class="active">Plan Chart</li>
                </ol>
            </section>
        </div>
    </div>*@

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Production Plan Chart:
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Report</a></li>
                <li class="active">Plan Chart</li>
            </ol>
        </section>
        <div class="box box-success">
            <div class="box-body">
                @using (Html.BeginForm("OrderStepReport", "Production", FormMethod.Post, new { id = "OrderStepReport", @class = "formValidator" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-xs-12">
                            <div class="form-group">
                                <label asp-for="ID" class="control-label">Style Name</label>
                                <select id="StyleFK" asp-for="ID" asp-items="ViewBag.StyleList" class="form-control searchingDropdown" required="required">
                                    <option value=""> Select a Style </option>
                                </select>
                                <span asp-validation-for="ID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                                <div class="form-group" style="padding-top:25px">
                                    <button type="submit" id="btnsave" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                    </div>

                }
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box">
                    <div class="box-header custom bg-success">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap">
                                <thead>
                                    <tr>
                                        <th style="background-color:gray; color:white; text-align:center;">LEGEND</th>
                                        <th style="width:20px;"></th>
                                        <th style="background-color:green; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Meet</th>
                                        <th style="background-color:red; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Failed</th>
                                        <th style="background-color:orange; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Critical</th>
                                        <th style="background-color:blue; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Followup</th>
                                        <th style="background-color:yellow; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Followup</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="box-body">
                        @if (Model.DataList.Any())
                        {
                            <div class="table-responsive">
                                <table class="table customTable text-nowrap">
                                    <thead class="bg-black">
                                        <tr class="trclass">
                                            <th>Step / Date</th>
                                            @for (int a = 0; a < Model.DataList[0].DataList.Count(); a++)
                                            {
                                                <th class="center" style="text-align:center">@Html.DisplayFor(model => model.DataList[0].DataList[a].HeadDate, new { @class = "form-control" })</th>
                                            }
                                        </tr>
                                    </thead>
                                    @{
                                        int count = 0;
                                        int cnt = 0;
                                     }
                                    <tbody>
                                        @for (int i = 0; i < Model.DataList.Count(); i++)
                                        {
                                            count++;
                                            cnt = 0;
                                        <tr class="trclass">
                                            @if (count == 1)
                                            {
                                                <th rowspan="2">
                                                    @Html.DisplayFor(model => model.DataList[i].StepName, new { @class = "form-control" })
                                                </th>
                                            }
                                            else { count = 0; }

                                            @for (int j = 0; j < Model.DataList[i].DataList.Count(); j++)
                                            {

                                                <td style="text-align:center; @Model.DataList[i].DataList[j].DayColor">
                                                    @Html.DisplayFor(model => model.DataList[i].DataList[j].ViewName, new { @class = "form-control" })
                                                </td>

                                                @*if (!Model.DataList[i].DataList[j].ViewName.Equals(string.Empty))
                                                {
                                                    ++cnt;
                                                    if (cnt == 1)
                                                    {
                                                        <td style="text-align:center; @Model.DataList[i].DataList[j].DayColor" colspan="@Model.DataList[i].DataList[j].ColSpan">
                                                            @Html.DisplayFor(model => model.DataList[i].DataList[j].ViewName, new { @class = "form-control" })
                                                        </td>
                                                    }
                                                }
                                                else
                                                {
                                                    <td style="text-align:center; @Model.DataList[i].DataList[j].DayColor">
                                                        @Html.DisplayFor(model => model.DataList[i].DataList[j].ViewName, new { @class = "form-control" })
                                                    </td>
                                                }*@

                                            }
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box">
                    <div class="box-header custom bg-success">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap">
                                <thead>
                                    <tr>
                                        <th style="background-color:gray; color:white; text-align:center;">LEGEND</th>
                                        <th style="width:20px;"></th>
                                        <th style="background-color:green; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Meet</th>
                                        <th style="background-color:red; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Failed</th>
                                        <th style="background-color:orange; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Critical</th>
                                        <th style="background-color:blue; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Followup</th>
                                        <th style="background-color:yellow; color:white; text-align:center; width:25px;"></th>
                                        <th>Timeline Followup</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="box-body">
                        @if (Model.Any())
                        {
                            <div class="table-responsive">
                                <table class="table customTable text-nowrap">
                                    <thead class="bg-black">
                                        <tr class="trclass">
                                            <th>Step / Date</th>
                                            @for (int a = 0; a < Model[0].DataList.Count(); a++)
                                            {
                                                <th class="center" style="text-align:center">@Html.DisplayFor(model => model[0].DataList[a].HeadDate, new { @class = "form-control" })</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.Count(); i++)
                                        {
                                            <tr class="trclass">
                                                <th class="headcol">
                                                    @Html.DisplayFor(model => model[i].StepName, new { @class = "form-control" })
                                                </th>
                                                @for (int j = 0; j < Model[i].DataList.Count(); j++)
                                                {
                                                    @*if (j == 0 && j <= Model[i].DataList[j].ColSpan)
                                                        {
                                                            <td style="text-align:center; @Model[i].DataList[j].DayColor" colspan="@Model[i].DataList[j].ColSpan">
                                                                @Html.DisplayFor(model => model[i].DataList[j].ViewName, new { @class = "form-control" })
                                                            </td>
                                                        }
                                                        else if (j > Model[i].DataList[j].ColSpan)
                                                        {
                                                            <td style="text-align:center; @Model[i].DataList[j].DayColor">
                                                                @Html.DisplayFor(model => model[i].DataList[j].ViewName, new { @class = "form-control" })
                                                            </td>
                                                        }
<td style="text-align:center; @Model[i].DataList[j].DayColor">
    @Html.DisplayFor(model => model[i].DataList[j].ViewName, new { @class = "form-control" })
</td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@