﻿@model Erp.Core.Services.Production.VMOrderStep
@{
    ViewData["Title"] = "Plan Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";

   //var tdId = "tdId";
   //var tdStyleID = "tdStyleID";
   //var td1 = "td1";
   //var td2 = "td2";
   //var td3 = "td2";
   //var td4 = "td2";
   //var td5 = "td2";
   //var td6 = "td2";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Style Plan Confirmation
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Plan Confirmation</li>
            </ol>
        </section>
        <div class="box box-success">
            <div class="box-body">
                @using (Html.BeginForm("OrderPlanProcess", "Production", FormMethod.Post, new { id = "orderPlanProcess", @class = "formValidator" }))
                {
                    @Html.HiddenFor(model => model.ID, new { id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-xs-12">
                            <div class="form-group">
                                <label asp-for="ID" class="control-label">Style Name</label>
                                <select id="StyleFK" asp-for="ID" asp-items="ViewBag.StyleList" class="form-control searchingDropdown" required="required">
                                    <option value=""> Select a Style </option>
                                </select>
                                <span asp-validation-for="ID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12" style="padding-top:25px;">
                            <input type="button" id="btnAddSize" class="btn btn-primary" value="Load Step" name="Load Step" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                            <div id="loadActionStep"></div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
                <h5 class="modal-title"> <b>Finish Item Create</b></h5>
            </div>
            @using (Html.BeginForm("OrderPlanProcess", "Production", FormMethod.Post, new { id = "orderPlanProcess", @class = "formValidator" }))
            {
            <div class="modal-body">

                @Html.HiddenFor(model => model.ID, new { id = "hidId" })
                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                @Html.HiddenFor(model => model.Merchandising_StyleFK, new { id = "StyleFK" })
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Action Name:</label>
                    @Html.TextBoxFor(model => model.vmOrderProcess.ActionName, new { id = "txt1", @class = "form-control" })
                </div>
                <div class="form-group" style="display:block">
                    <label for="recipient-name" class="col-form-label">Step Name:</label>
                    @Html.TextBoxFor(model => model.vmOrderProcess.ActionStepName, new { id = "txt2", @class = "form-control" })
                </div>

                <div class="form-group">
                    <label for="message-text" class="col-form-label">Plan Start Date:</label>
                    @Html.TextBoxFor(model => model.vmOrderProcess.PlanStartDate, "{0:yyyy-MM-dd}", new { id = "dt1", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.vmOrderProcess.PlanStartDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Plan Finish Date:</label>
                    @Html.TextBoxFor(model => model.vmOrderProcess.PlanFinishDate, "{0:yyyy-MM-dd}", new { id = "dt2", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.vmOrderProcess.PlanFinishDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Actual Start Date:</label>
                    @Html.TextBoxFor(model => model.vmOrderProcess.ActualStartDate, "{0:yyyy-MM-dd}", new { id = "dt3", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.vmOrderProcess.ActualStartDate, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Actual Finish Date:</label>
                    @Html.TextBoxFor(model => model.vmOrderProcess.ActualFinishDate, "{0:yyyy-MM-dd}", new { id = "dt4", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                    @Html.ValidationMessageFor(model => model.vmOrderProcess.ActualFinishDate, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-warning fa fa-close" data-dismiss="modal"> Close </button>
                    <button type="submit" id="btnsave" class="btn btn-primary fa fa-floppy-o"> Save </button>
                </div>
            }
            </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
    $(document).ready(function () {
        $('.formValidator').bootstrapValidator();
    });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#StyleFK').val($('#tdStyleID' + r).text().trim());

                $('#txt1').val($('#td1' + r).text().trim());
                $('#txt2').val($('#td2' + r).text().trim());
                $('#dt1').val($('#td3' + r).text().trim());
                $('#dt2').val($('#td4' + r).text().trim());
                $('#dt3').val($('#td5' + r).text().trim());
                $('#dt4').val($('#td6' + r).text().trim());
            }
        }
        $('.datePicker').datepicker({
            format: "yyyy/mm/dd",
            autoclose: true
        });
        //$('.datePicker').datepicker({
        //    format: "yyyy-mm-dd",
        //    autoclose: true
        //});
    $(function () {
        $.ajaxSetup({ cache: false });
        $("#btnAddSize").on("click", function (e) {
            var StyleId = $("#StyleFK").val();
            $.ajax({
                type: "POST",
                url: "@Url.Action("GetOrderStep")",
                datatype: "Json",
                data: { sid: StyleId },
                success: function (data) {
                    $("#loadActionStep").html(data);
                }
            });
            return false;
        });

        $.ajaxSetup({ cache: false });
        $("a[data-modal]").on("click", function (e) {
            $('#updateStyle').load(this.href);
            $('#createStyle').remove();
            return false;
        });



        var buttonId = '';
        $('.edit').hide();
        $('.edit-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            buttonId = 1;
        });

        $('.update-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            buttonId = 2;
        });

        $('.cancel-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });

        $('.save-book').on('click', function () {

            var tr = $(this).parents('tr:first');
            var ID = $(this).prop('id');
            var PlanStartDate = tr.find("#txtPlanStartDate").val();
            var PlanFinishDate = tr.find("#txtPlanFinishDate").val();

            var ActualStartDate = tr.find("#txtActualStartDate").val();
            var ActualFinishDate = tr.find("#txtActualFinishDate").val();
            var SewingStartDate = tr.find("#txtSewingStartDate").val();

            tr.find("#lblPlanStartDate").text(PlanStartDate);
            tr.find("#lblPlanFinishDate").text(PlanFinishDate);

            tr.find("#lblActualStartDate").text(ActualStartDate);
            tr.find("#lblActualFinishDate").text(ActualFinishDate);

            tr.find('.edit, .display').toggle();
        });


    });
    </script>
    }