﻿@{
    ViewData["Title"] = "OrderPrePlan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Production.VMPlanView

<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="box box-primary box-border">
            <div class="box-header bg-success custom">
                <h4>
                    Pre-Plan Order Style:
                </h4>
            </div>
            <div class="box-body bg-success">
                @using (Html.BeginForm("OrderPrePlan", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.ID, ViewBag.StyleList as SelectList, "--Select a Style--", new { @id = "Mkt_BOMFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <input type="submit" class="btn btn-primary" value="Search" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-lg-3"></div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom bg-success">
                <h4>
                    All Style Shipment Pending For Pre-Planning
                </h4>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="" class="table table-hover table-bordered text-nowrap">
                        <thead class="bg-info">
                            <tr>
                                <th colspan="3" style="text-align:center;">Shipment Schedule</th>
                                <th colspan="6" style="text-align:center;">Plan Date</th>
                                <th>.</th>
                            </tr>
                            <tr>
                                <th>.</th>
                                <th>OrderNo/Style</th>
                                <th>Delivery Qty</th>
                                <th>Delivery</th>
                                <th>PP Approved</th>
                                <th>Accessories Inhouse</th>
                                <th>Fabric Inhouse</th>
                                <th>Cutting</th>
                                <th>Sewing</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @if (Model.ListOrderPlan != null && Model.ListOrderPlan.Any())
                        {
                            @using (Html.BeginForm("StylePrePlan", "Production", FormMethod.Post, new { id = "formData" }))
                            {
                                <tbody>
                                    @for (int i = 0; i < Model.ListOrderPlan.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(item => Model.ListOrderPlan[i].Merchandising_StyleFK)
                                                @Html.HiddenFor(item => Model.ListOrderPlan[i].Merchandising_StyleShipmentScheduleFK)
                                                @Html.CheckBoxFor(modelItem => Model.ListOrderPlan[i].IsReference)
                                            </td>
                                            <td>
                                                <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].OrderNumber)/@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].StyleNo)</label>
                                            </td>
                                            <td>
                                                <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].OrderPlanQty)</label>
                                                @Html.HiddenFor(item => Model.ListOrderPlan[i].OrderPlanQty)
                                            </td>
                                            <td>
                                                <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].ShipmentDate)</label>
                                                @Html.HiddenFor(item => Model.ListOrderPlan[i].ShipmentDate)
                                            </td>
                                            <td>
                                                <label class="display" id="lblSampleApprovedDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].SampleApprovedDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].SampleApprovedDate, "{0:yyyy-MM-dd}", new { @id = "txtSampleApprovedDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <label class="display" id="lblAccessoriesInhouseDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].AccessoriesInhouseDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].AccessoriesInhouseDate, "{0:yyyy-MM-dd}", new { @id = "txtAccessoriesInhouseDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <label class="display" id="lblFabricInhouseDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].FabricInhouseDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].FabricInhouseDate, "{0:yyyy-MM-dd}", new { @id = "txtFabricInhouseDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <label class="display" id="lblCuttingStartDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].CuttingStartDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].CuttingStartDate, "{0:yyyy-MM-dd}", new { @id = "txtCuttingStartDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <label class="display" id="lblSewingStartDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].SewingStartDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].SewingStartDate, "{0:yyyy-MM-dd}", new { @id = "txtSewingStartDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <a class="edit-book display glyphicon glyphicon-pencil" id="@Model.ListOrderPlan[i].ID"></a>
                                                <a class="save-book edit glyphicon glyphicon-ok" id="@Model.ListOrderPlan[i].ID"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="10">
                                            <input type="submit" value="ADD" class="btn btn-primary btn-block" />
                                        </th>
                                    </tr>
                                </tfoot>
                            }
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom bg-success">
                <h4>
                    Style SMV Layout:
                </h4>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("PlanSMV", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(item => item.ID);
                    <table class="table">
                        <thead class="bg-info">
                            <tr>
                                <th>Style Type</th>
                                <th>Operator</th>
                                <th>Helper</th>
                                <th>O/P SMV</th>
                                <th>H/P SMV</th>
                                <th>Work Hour</th>
                                <th>Efficiency</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.Description, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                                <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.NoOfOperator, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                                <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.NoOfHelper, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                                <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.OperatorSMV, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                                <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.HelperSMV, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                                <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.WorkingHour, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                                <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.Efficiency, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                                <td><input type="submit" class="btn btn-primary" value="ADD" /></td>
                            </tr>
                        </tbody>
                    </table>
                }
                @if (Model.vmSMVLayout.DataList != null)
                {
                    <table id="" class="table table-hover table-bordered text-nowrap">
                        <thead class="bg-success">
                            <tr>
                                <th>Style Type</th>
                                <th>Total Operator</th>
                                <th>Total Helper</th>
                                <th>Operator SMV</th>
                                <th>Helper SMV</th>
                                <th>Total Worker</th>
                                <th>SMV</th>
                                <th>Working Hour</th>
                                <th>Hour Target</th>
                                <th>Efficiency</th>
                                @*<th>Action</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.vmSMVLayout.DataList)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfOperator)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NoOfHelper)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OperatorSMV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.HelperSMV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalWorker)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TotalSMV)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.WorkingHour)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PerHourTarget)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Efficiency)
                                    </td>
                                    @*<td>
                                        @Html.ActionLink(".", "SewingPlanUpdate", new { OId = item.ID }, new { @title = "Plan Order Update", @class = "lnkEdit glyphicon glyphicon-pencil" })&nbsp;&nbsp;
                                        @Html.ActionLink(".", "SewingPlanDelete", new { OId = item.ID }, new { @title = "Plan Order Delete", @class = "lnkDelete glyphicon glyphicon-trash" })
                                    </td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom bg-success">
                <h4>
                    Style Pending For Planning
                </h4>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="" class="table table-hover table-bordered text-nowrap">
                        <thead class="bg-info">
                            <tr>
                                <th colspan="3" style="text-align:center;">Shipment Schedule</th>
                                <th colspan="6" style="text-align:center;">Plan Date</th>
                                <th>.</th>
                            </tr>
                            <tr>
                                <th>.</th>
                                <th>OrderNo/Style</th>
                                <th>Delivery Qty</th>
                                <th>Delivery</th>
                                <th>PP Approved</th>
                                <th>Accessories Inhouse</th>
                                <th>Fabric Inhouse</th>
                                <th>Cutting</th>
                                <th>Sewing</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @if (Model.ListOrderPlan != null && Model.ListOrderPlan.Any())
                        {
                            @using (Html.BeginForm("StylePrePlan", "Production", FormMethod.Post, new { id = "formData" }))
                            {
                                <tbody>
                                    @for (int i = 0; i < Model.ListOrderPlan.Count(); i++)
                                    {
                                        <tr>
                                            <td>
                                                @Html.HiddenFor(item => Model.ListOrderPlan[i].Merchandising_StyleFK)
                                                @Html.HiddenFor(item => Model.ListOrderPlan[i].Merchandising_StyleShipmentScheduleFK)
                                                @Html.CheckBoxFor(modelItem => Model.ListOrderPlan[i].IsReference)
                                            </td>
                                            <td>
                                                <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].OrderNumber)/@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].StyleNo)</label>
                                            </td>
                                            <td>
                                                <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].OrderPlanQty)</label>
                                                @Html.HiddenFor(item => Model.ListOrderPlan[i].OrderPlanQty)
                                            </td>
                                            <td>
                                                <label>@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].ShipmentDate)</label>
                                                @Html.HiddenFor(item => Model.ListOrderPlan[i].ShipmentDate)
                                            </td>
                                            <td>
                                                <label class="display" id="lblSampleApprovedDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].SampleApprovedDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].SampleApprovedDate, "{0:yyyy-MM-dd}", new { @id = "txtSampleApprovedDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <label class="display" id="lblAccessoriesInhouseDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].AccessoriesInhouseDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].AccessoriesInhouseDate, "{0:yyyy-MM-dd}", new { @id = "txtAccessoriesInhouseDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <label class="display" id="lblFabricInhouseDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].FabricInhouseDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].FabricInhouseDate, "{0:yyyy-MM-dd}", new { @id = "txtFabricInhouseDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <label class="display" id="lblCuttingStartDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].CuttingStartDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].CuttingStartDate, "{0:yyyy-MM-dd}", new { @id = "txtCuttingStartDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <label class="display" id="lblSewingStartDate">@Html.DisplayFor(modelItem => Model.ListOrderPlan[i].SewingStartDate)</label>
                                                @Html.TextBoxFor(item => Model.ListOrderPlan[i].SewingStartDate, "{0:yyyy-MM-dd}", new { @id = "txtSewingStartDate", @class = "edit form-control datePicker", @style = "width:100px;" })
                                            </td>
                                            <td>
                                                <a class="edit-book display glyphicon glyphicon-pencil" id="@Model.ListOrderPlan[i].ID"></a>
                                                <a class="save-book edit glyphicon glyphicon-ok" id="@Model.ListOrderPlan[i].ID"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="10">
                                            <input type="submit" value="ADD" class="btn btn-primary btn-block" />
                                        </th>
                                    </tr>
                                </tfoot>
                            }
                        }
                    </table>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom bg-success">
                <h4>
                    Style Pre-Planning:
                </h4>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="" class="table table-striped text-nowrap">
                        <thead class="bg-info">
                            <tr>
                                <th colspan="2" style="text-align:center;">Shipment Schedule</th>
                                <th colspan="6" style="text-align:center;">Plan Date</th>
                                <th>.</th>
                            </tr>
                            <tr>
                                <th>OrderNo/Style</th>
                                <th>Delivery Qty</th>
                                <th>Delivery</th>
                                <th>PP Approved</th>
                                <th>Accessories Inhouse</th>
                                <th>Fabric Inhouse</th>
                                <th>Cutting</th>
                                <th>Sewing</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @if (Model.vmOrderPlanning.DataList != null)
                        {
                            <tbody>
                                @foreach (var item in Model.vmOrderPlanning.DataList)
                                {
                                    <tr>
                                        <td>@item.OrderNumber/@item.ItemName</td>
                                        <td><a href="@Url.Action("LinePlan","Production",new { Id=item.ID })" class="linkPointer" title="Bill Of Materials" data-placement="top" target="_blank">@item.OrderPlanQty</a></td>
                                        <td>@item.ShipmentDate.ToString("yyyy/MM/dd")</td>
                                        <td>@item.SampleApprovedDate.ToString("yyyy/MM/dd")</td>
                                        <td>@item.AccessoriesInhouseDate.ToString("yyyy/MM/dd")</td>
                                        <td>@item.FabricInhouseDate.ToString("yyyy/MM/dd")</td>
                                        <td>@item.CuttingStartDate.ToString("yyyy/MM/dd")</td>
                                        <td>@item.SewingStartDate.ToString("yyyy/MM/dd")</td>
                                        <td>
                                            <a data-modal="modal" class="linkPointer" asp-action="PreLinePlan" asp-controller="Production" asp-route-SId="@item.Merchandising_StyleFK" asp-route-Id="@item.ID">Add Line</a> &nbsp;
                                            @*@if (!item.IsReference)
                                            {
                                                <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                            }*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id='popUpModal' class="modal fade ">
    <div class="modal-dialog modal-xlg" >
        <div class="modal-content">
            <div id='popUpModalContent'></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            @using (Html.BeginForm("OrderPlan", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
            {
                @Html.HiddenFor(model => model.ID, new { id = "DeleteId" })
                @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })
                <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                    &times;
                                </button>
                                <h5 class="modal-title"><b>Order Delete</b></h5>
                            </div>
                            <div class="modal-body">
                                <div style="text-align:center">
                                    <h3>Are you sure to delete?</h3>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {

            $('.formValidator').bootstrapValidator();

            var buttonId = '';
            $('.edit').hide();
            $('.edit-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 1;
            });

            $('.update-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 2;
            });

            $('.cancel-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
            });

            $('.save-book').on('click', function () {

                var tr = $(this).parents('tr:first');
                var ID = $(this).prop('id');
                var CuttingStartDate = tr.find("#txtCuttingStartDate").val();
                var SampleApprovedDate = tr.find("#txtSampleApprovedDate").val();
                var FabricInhouseDate = tr.find("#txtFabricInhouseDate").val();
                var AccessoriesInhouseDate = tr.find("#txtAccessoriesInhouseDate").val();
                var SewingStartDate = tr.find("#txtSewingStartDate").val();
                tr.find("#lblCuttingStartDate").text(CuttingStartDate);
                tr.find("#lblSampleApprovedDate").text(SampleApprovedDate);
                tr.find("#lblAccessoriesInhouseDate").text(AccessoriesInhouseDate);
                tr.find("#lblFabricInhouseDate").text(FabricInhouseDate);
                tr.find("#lblSewingStartDate").text(SewingStartDate);
                tr.find('.edit, .display').toggle();
            });

            $.ajaxSetup({ cache: false });
            $("a[data-modal=modal]").on("click", function (e) {
                $('#popUpModalContent').load(this.href, function () {
                    var options = { "backdrop": "static", keyboard: true };
                    $('#popUpModal').modal(options, 'show');
                    bindForm(this);
                });
                return false;
            });
        });

        function bindForm(dialog) {
            $('form', dialog).submit(function () {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        if (result.success) {
                            $('#popUpModal').modal('hide');
                            location.reload();
                        }
                        else {
                            $('#popUpModalContent').html(result);
                            bindForm();
                        }
                    }
                });
                return false;
            });
        }
    </script>
}
