﻿
@model Erp.Core.Services.Production.VMDailyProduction
@{
    Layout = "";
}

@using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
{
    <div class="modal-header bg-primary">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                <h3 class="modal-title">Daily Packing Order</h3>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-2">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
        </div>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Prod_ReferenceFK)
        <div class="row">
            
            <div class="col-lg-6 col-md-6">
                <div id="divddlCategoryName" class="form-group" style="display:block">
                    <label for="recipient-name" class="col-form-label">Style:</label>
                    @Html.DropDownListFor(model => model.Merchandising_StyleFK, ViewBag.StyleList as SelectList, "---Select a Style---", new { @id = "BOMFk", @class = "form-control SerchingDropDown", required = "required", style = "width:100%" })
                    @Html.ValidationMessageFor(model => model.Merchandising_StyleFK, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-lg-6">
                <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
            </div>
            <div class="col-lg-6 pull-right">
                <input id="btnCreate" type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
@*<script src="~/Scripts/site/formvalidation.js"></script>*@
