﻿@model Erp.Core.Services.Production.VMShipmentProductionPlan
@{
    ViewData["Title"] = "Production Plan Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .customTable,
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        padding: 2px !important;
    }

    .trclass {
        border: 1px solid thick;
        font-size: 10px;
        font-weight: 700;
    }
</style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="content-header">
            <h1>
                Production Plan Chart:
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Report</a></li>
                <li class="active">Plan Chart</li>
            </ol>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box box-success">
            <div class="box-header bg-success">
                @using (Html.BeginForm("PlanScheduleChart", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-12">
                            <div class="form-group">
                                @Html.Label("Plan Type")
                                @Html.DropDownListFor(model => model.ID, ViewBag.PlanType as SelectList, "Plan Type", new { @id = "PlanTypeID", @class = "form-control searchingDropdown", required = "true", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.FromDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "From Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ToDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "To Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductionUnitID)
                                @Html.DropDownListFor(model => model.ProductionUnitID, ViewBag.ProductionUnit as SelectList, "Production Unit", new { @id = "ProductionUnitID", @class = "form-control searchingDropdown", style = "width:100%" })
                                
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ProductionFloorID)
                                @Html.DropDownListFor(model => model.ProductionFloorID, ViewBag.ProductionFloor as SelectList, "Production Floor", new { @id = "ProductionFloorID", @class = "form-control searchingDropdown", style = "width:100%" })
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-xs-12">
                            <input type="submit" value="Generate" class="btn btn-success btn-block btn-flat" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box">
                    <div class="box-header custom bg-success">
                        <div class="table-responsive">
                            <table class="table table-bordered text-nowrap">
                                <thead>
                                    <tr>
                                        <th style="background-color:gray; color:white; text-align:center;">LEGEND</th>
                                        <th style="width:20px;"></th>
                                        <th style="background-color:green; color:white; text-align:center; width:25px;"></th>
                                        <th>Free Day</th>
                                        <th style="background-color:firebrick; color:white; text-align:center; width:25px;"></th>
                                        <th>Occupied Day</th>
                                        <th style="background-color:orange; color:white; text-align:center; width:25px;"></th>
                                        <th>Weekend</th>
                                        <th style="background-color:blue; color:white; text-align:center; width:25px;"></th>
                                        <th>Holiday</th>
                                        <th style="background-color:yellow; color:white; text-align:center; width:25px;"></th>
                                        <th>Weekend & Holiday</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="box-body">
                        @if (Model.LinePlanChart.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-bordered customTable">
                                    <thead class="bg-black">
                                        <tr class="trclass">
                                            <th>Line / Date</th>
                                            @for (int a = 0; a < Model.LinePlanChart[0].ListLinePlan.Count(); a++)
                                            {
                                                <th class="center" style="text-align:center">@Html.DisplayFor(model => model.LinePlanChart[0].ListLinePlan[a].HeadDate, new { @class = "form-control" })</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.LinePlanChart.Count(); i++)
                                        {
                                            <tr class="trclass">
                                                <td style="@Model.LinePlanChart[i].LineColor">
                                                    @Html.DisplayFor(model => model.LinePlanChart[i].LineName, new { @class = "form-control" })
                                                </td>
                                                @for (int j = 0; j < Model.LinePlanChart[i].ListLinePlan.Count(); j++)
                                                {
                                                    <td style="text-align:center; @Model.LinePlanChart[i].ListLinePlan[j].DayColor">
                                                        @Html.DisplayFor(model => model.LinePlanChart[i].ListLinePlan[j].ViewName, new { @class = "form-control" })
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>