﻿@model Erp.Core.Services.Production.VMPlanConfig
@{
    ViewData["Title"] = "PlanConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    label.input-group-addon.bg-custom {
        background-color: #808080 !important;
        color: white;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Shipment Pre-Plan Configuration:
                </h4>
            </div>
            <div class="box-body bg-grey">
                <form method="post" , new { id="formData" class="formValidator" }>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ID" type="hidden" class="form-control" />
                    <input asp-for="ActionId" type="hidden" class="form-control" />
                    <div class="row">
                        <div class="col-lg-2 col-md-2">
                        </div>
                        <div class="col-lg-8 col-md-8">
                            <div class="box-body input-group">
                                <label style="width:450px; text-align:left;" asp-for="CuttingBFShip" class="input-group-addon bg-custom"></label>
                                <input asp-for="CuttingBFShip" type="number" step="1" min=1 class="form-control" required />
                                <span class="input-group-addon">Days</span>
                                <span asp-validation-for="CuttingBFShip" class="text-danger"></span>
                            </div>
                            <div class="box-body input-group">
                                <label style="width:450px; text-align:left;" asp-for="AccessoriesINBFCutting" class="input-group-addon bg-custom"></label>
                                <input asp-for="AccessoriesINBFCutting" type="number" step="1" min=1 class="form-control" required />
                                <span class="input-group-addon">Days</span>
                                <span asp-validation-for="AccessoriesINBFCutting" class="text-danger"></span>
                            </div>
                            <div class="box-body input-group">
                                <label style="width:450px; text-align:left;" asp-for="FabricINBFCutting" class="input-group-addon bg-custom"></label>
                                <input asp-for="FabricINBFCutting" type="number" step="1" min=1 class="form-control" required />
                                <span class="input-group-addon">Days</span>
                                <span asp-validation-for="FabricINBFCutting" class="text-danger"></span>
                            </div>
                            <div class="box-body input-group">
                                <label style="width:450px; text-align:left;" asp-for="PPSampleBFCutting" class="input-group-addon bg-custom"></label>
                                <input asp-for="PPSampleBFCutting" type="number" step="1" min=1 class="form-control" required />
                                <span class="input-group-addon">Days</span>
                                <span asp-validation-for="PPSampleBFCutting" class="text-danger"></span>
                            </div>
                            <div class="box-body input-group">
                                <label style="width:450px; text-align:left;" asp-for="SewingAFCutting" class="input-group-addon bg-custom"></label>
                                <input asp-for="SewingAFCutting" type="number" step="1" min=1 class="form-control" required />
                                <span class="input-group-addon">Days</span>
                                <span asp-validation-for="SewingAFCutting" class="text-danger"></span>
                            </div>
                            <div class="box-body input-group">
                                <label style="width:450px; text-align:left;" asp-for="ReservedDay" class="input-group-addon bg-custom"></label>
                                <input asp-for="ReservedDay" type="number" step="1" min=1 class="form-control" required />
                                <span class="input-group-addon">Days</span>
                                <span asp-validation-for="ReservedDay" class="text-danger"></span>
                            </div>
                            <div class="box-body input-group">
                                <label style="width:450px; text-align:left;" asp-for="ExtraRate" class="input-group-addon bg-custom"></label>
                                <input asp-for="ExtraRate" type="text" class="form-control" required />
                                <span class="input-group-addon">(%) Rate</span>
                                <span asp-validation-for="ExtraRate" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" id="btnsave" class="btn btn-primary btn-block btn-flat">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>