﻿@model Erp.Core.Services.Production.VMOrderPlanning
@{
    ViewData["Title"] = "Plan Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
        .customTable,
        .table > tbody > tr > td,
        .table > tbody > tr > th,
        .table > tfoot > tr > td,
        .table > tfoot > tr > th,
        .table > thead > tr > td,
        .table > thead > tr > th {
            padding: 2px !important;
        }

        .trclass {
            border: 1px solid thick;
            font-size: 10px;
            font-weight: 700;
        }
    </style>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="content-header">
            <h1>
                Production Plan Schedule:
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Report</a></li>
                <li class="active">Plan Schedule</li>
            </ol>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box box-success">
            <div class="box-header bg-success">
                @using (Html.BeginForm("PlanReport", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <div class="form-group">
                            @Html.Label("Plan Type")
                            @Html.DropDownListFor(model => model.ID, ViewBag.PlanType as SelectList, "Plan Type", new { @id = "PlanTypeID", @class = "form-control searchingDropdown", required = "true", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <div class="form-group">
                            @Html.Label("From Date")
                            @Html.TextBoxFor(model => model.SewingStartDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "From Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.SewingStartDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <div class="form-group">
                            @Html.Label("To Date")
                            @Html.TextBoxFor(model => model.ShipmentDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "To Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.ShipmentDate, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12" style="padding-top:25px;">
                        <input type="submit" value="Generate" class="btn btn-success btn-block btn-flat" />
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box">
                    <div class="box-header custom bg-success">
                    </div>
                    <div class="box-body">
                        @if (Model.DataList.Any())
                        {
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped table1 text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>Order/Style</th>
                                            <th>Order Qty</th>
                                            <th>Plan Qty</th>
                                            <th>Delevery Date</th>
                                            <th>PP.Sample Approved Date</th>
                                            <th>Fabric In Date</th>
                                            <th>Accessories In Date</th>
                                            <th>Cutting Date</th>
                                            <th>Sewing Date</th>
                                            <th>Production Plan</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var v in Model.DataList)
                                        {
                                        <tr>
                                            <td>@Html.DisplayFor(model => v.StyleNo)</td>
                                            <td>@Html.DisplayFor(model => v.OrderPlanQty)</td>
                                            <td>@v.PlanQty.ToString("0")</td>
                                            <td>@Html.DisplayFor(model => v.ShipmentDate)</td>
                                            <td>@Html.DisplayFor(model => v.SampleApprovedDate)</td>
                                            <td>@Html.DisplayFor(model => v.FabricInhouseDate)</td>
                                            <td>@Html.DisplayFor(model => v.AccessoriesInhouseDate)</td>
                                            <td>@Html.DisplayFor(model => v.CuttingStartDate)</td>
                                            <td>@Html.DisplayFor(model => v.SewingStartDate)</td>
                                            <td>
                                                <table class="table table-bordered table-striped text-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>Line Name</th>
                                                            <th>No of OPT.</th>
                                                            <th>Start Date</th>
                                                            <th>Finish Date</th>
                                                            <th>Total Days</th>
                                                            <th>Occupied Hour</th>
                                                            <th>Working Hour</th>
                                                            <th>Hourly Target</th>
                                                            <th>Daily Production</th>
                                                            <th>Target Production</th>
                                                            <th>Balance(+/-)</th>
                                                            <th>Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @foreach (var v1 in v.LinePlanList)
                                                        {
                                                            <tr>
                                                                <td>@Html.DisplayFor(model => v1.LineName)</td>
                                                                <td style="text-align:center;">@Html.DisplayFor(model => v1.MachineQuantity)</td>
                                                                <td>@Html.DisplayFor(model => v1.StartDate)</td>
                                                                <td>@Html.DisplayFor(model => v1.FinishDate)</td>
                                                                <td style="text-align:center;">@v1.TargetDays.ToString("0")</td>
                                                                <td style="text-align:center;">@v1.OccupiedHour.ToString("0")</td>
                                                                <td style="text-align:center;">@v1.WorkingHour.ToString("0")</td>
                                                                <td style="text-align:center;">@v1.Capacity.ToString("0")</td>
                                                                <td style="text-align:center;">@v1.DayOutputQty.ToString("0")</td>
                                                                <td style="text-align:center;">@v1.TargetOutputQty.ToString("0")</td>
                                                                <td style="text-align:center;">@v1.RemainQty.ToString("0")</td>
                                                                <td>@Html.DisplayFor(model => v1.Status)</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>

                                            </td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>