﻿<style>
    .customTable,
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        padding: 2px !important;
    }
    .trclass {
        border: 1px solid thick;
        font-size: 10px;
        font-weight: 700;
    }
</style>

@model Erp.Core.Services.Production.VMShipmentProductionPlan
@using (Html.BeginForm("PreLinePlan", "Production", FormMethod.Post, new { id = "PreLinePlan", @class = "formValidator" }))
{
<div class="modal-header bg-success">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h5 class="modal-title"><b>Pre-Plan Style Production Line</b></h5>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-header custom bg-success">
                    @*<h4>
                        Line wise Date occupied
                    </h4>*@
                    <div class="table-responsive">
                        <table class="table table-bordered text-nowrap">
                            <thead>
                                <tr>
                                    <th style="background-color:gray; color:white; text-align:center;">LEGEND</th>
                                    <th style="width:20px;"></th>
                                    <th style="background-color:green; color:white; text-align:center; width:25px;"></th>
                                    <th><b>Free Day</b></th>
                                    <th style="background-color:firebrick; color:white; text-align:center; width:25px;"></th>
                                    <th>Occupied Day</th>
                                    <th style="background-color:orange; color:white; text-align:center; width:25px;"></th>
                                    <th>Weekend</th>
                                    <th style="background-color:blue; color:white; text-align:center; width:25px;"></th>
                                    <th>Holiday</th>
                                    <th style="background-color:yellow; color:white; text-align:center; width:25px;"></th>
                                    <th>Weekend & Holiday</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                   
                </div>
                <div class="box-body">
                    
                    @if (Model.LinePlanChart.Any())
                    {
                        <div class="table-responsive">
                            <table class="table table-bordered customTable">
                                <thead class="bg-black">
                                    <tr class="trclass">
                                        <th>Line / Date</th>
                                        @for (int a = 0; a < Model.LinePlanChart[0].ListLinePlan.Count(); a++)
                                        {
                                            <th class="center" style="text-align:center">@Html.DisplayFor(model => model.LinePlanChart[0].ListLinePlan[a].HeadDate, new { @class = "form-control" })</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.LinePlanChart.Count(); i++)
                                    {
                                        <tr class="trclass">
                                            <td style="@Model.LinePlanChart[i].LineColor">
                                                @Html.DisplayFor(model => model.LinePlanChart[i].LineName, new { @class = "form-control" })
                                            </td>
                                            @for (int j = 0; j < Model.LinePlanChart[i].ListLinePlan.Count(); j++)
                                            {
                                                <td style="@Model.LinePlanChart[i].ListLinePlan[j].DayColor">
                                                    @Html.DisplayFor(model => model.LinePlanChart[i].ListLinePlan[j].ViewName)
                                                </td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <input asp-for="ID" type="hidden" id="shipPlanFK" />
    <input asp-for="ActionId" type="hidden" />
    <input asp-for="SewingDate" type="hidden" />
    <input asp-for="DeliveryDate" type="hidden" />
    <input asp-for="PlanQty" type="hidden" />
    <input asp-for="Merchandising_StyleFK" type="hidden" />

    <div class="row">
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Sewing Start Date</label>
                    </div>
                    @Html.TextBoxFor(model => model.SewingDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Production Finish Date</label>
                    </div>
                    @Html.TextBoxFor(model => model.DeliveryDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Plan Quantity</label>
                    </div>
                    @Html.TextBoxFor(model => model.PlanQty, new { @id = "PlanQty", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Total Worker</label>
                    </div>
                    @Html.EditorFor(model => model.TotalWorker, new { htmlAttributes = new { id = "TotalWorker", @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Total Operator</label>
                    </div>
                    @Html.EditorFor(model => model.NoOfOperator, new { htmlAttributes = new { id = "NoOfOperator", @class = "form-control", @readonly = "readonly" } })

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Working Hour</label>
                    </div>
                    @Html.EditorFor(model => model.WorkingHour, new { htmlAttributes = new { id = "WorkingHour", @class = "form-control", @readonly = "readonly" } })

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Hourly Target</label>
                    </div>
                    @Html.EditorFor(model => model.PerHourTarget, new { htmlAttributes = new { id = "PerHourTarget", @class = "form-control", @readonly = "readonly" } })
                    <div class="input-group-addon">
                        <label>PCS</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Style SMV</label>
                    </div>
                    @Html.DropDownListFor(model => model.SMVLayoutFK, ViewBag.SMVList as SelectList, "Select a SMV", new { id = "SMVLayoutFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">
                        <label>Sewing Line</label>
                    </div>
                    @Html.DropDownListFor(model => model.LineIDs, Model.LineList as MultiSelectList, "Select a Production Line", new { id = "LineIds", @class = "searchingDropdown form-control", @multiple = "multiple", style = "width:100%" })
                </div>
            </div>
        </div>
        <div id="autoID" class="col-lg-12 col-md-12" style="padding-bottom:10px;">
            <input id="btnPPlan" type="button" value="Auto Plan" class="btn btn-sm btn-success btn-block btn-flat" />
        </div>
    </div>
    <div id="plan"></div>

    <div class="row">
        <div class="col-lg-12 col-md-12">
            <table class="table table-bordered">
                <thead class="bg-primary">
                    <tr>
                        <th>Line</th>
                        <th>Start Date</th>
                        <th>Finish Date</th>
                        <th>Day</th>
                        <th>Work Hour</th>
                        <th>Occupied Hour</th>
                        <th>Hourly Target</th>
                        <th>Production Qty</th>
                        <th>Remaining Qty</th>
                    </tr>
                </thead>
                @if (Model.PlanList != null)
                {
                    <tbody>
                        @for (int i = 0; i < Model.PlanList.Count(); i++)
                        {
                        <tr>
                            <td>
                                @Html.HiddenFor(model => model.PlanList[i].ID)
                                @Html.HiddenFor(model => model.PlanList[i].ProdOrderPlanningFK)
                                @Html.HiddenFor(model => model.PlanList[i].ProductionLineFK)
                                @Html.HiddenFor(model => model.PlanList[i].Merchandising_StyleFK)
                                @Html.HiddenFor(model => model.PlanList[i].Plan_SMVLayoutFK)
                                @Html.HiddenFor(model => model.PlanList[i].MachineQuantity)
                                @Html.HiddenFor(model => model.PlanList[i].Description)
                                @Html.HiddenFor(model => model.PlanList[i].RemainQty)
                                @Html.HiddenFor(model => model.PlanList[i].OccupiedHour)
                                @Html.HiddenFor(model => model.PlanList[i].StartDate)
                                @Html.HiddenFor(model => model.PlanList[i].FinishDate)
                                @Html.HiddenFor(model => model.PlanList[i].TargetDays)
                                @Html.HiddenFor(model => model.PlanList[i].TargetOutputQty)
                                @Html.HiddenFor(model => model.PlanList[i].WorkingHour)
                                @Html.HiddenFor(model => model.PlanList[i].Capacity)
                                @Html.HiddenFor(model => model.PlanList[i].DayOutputQty)
                                @Html.DisplayFor(model => model.PlanList[i].LineName, new { @class = "form-control" })
                            </td>
                            <td>@Html.DisplayFor(model => model.PlanList[i].StartDate, new { @class = "form-control" })</td>
                            <td>@Html.DisplayFor(model => model.PlanList[i].FinishDate, new { @class = "form-control" })</td>
                            <td>@Model.PlanList[i].TargetDays.ToString("0")</td>
                            <td>@Model.PlanList[i].WorkingHour.ToString("0")</td>
                            <td>@Model.PlanList[i].OccupiedHour.ToString("0")</td>
                            <td>@Model.PlanList[i].Capacity.ToString("0")</td>
                            <td>@Model.PlanList[i].TargetOutputQty.ToString("0")</td>
                            <td>@Model.PlanList[i].RemainQty.ToString("0")</td>
                        </tr>
                        }
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>
}
 
<script type="text/javascript">
    $('.searchingDropdown').select2();

    $(function () {

        $('#autoID').hide();
        $("#SMVLayoutFK").change(function () {
            var SMVID = $("#SMVLayoutFK").val();
            if (SMVID != '') {
                $.get('@Url.Action("GetPrePlanSMV", "Helper")', { Id: SMVID }, function (data) {

                    console.log(data.workingHour);
                    $('#TotalWorker').val(data.totalWorker);
                    $('#NoOfOperator').val(data.noOfOperator);
                    $('#WorkingHour').val(data.workingHour);
                    $('#PerHourTarget').val(data.perHourTarget);
                    $('#autoID').show();
                });
            }
            else
            {
                $('#TotalWorker').val('');
                $('#NoOfOperator').val('');
                $('#WorkingHour').val('');
                $('#PerHourTarget').val('');
                $('#autoID').hide();
            }
        });
        $("#SMVLayoutFK").trigger("change");

        $.ajaxSetup({ cache: false });
        $("#btnPPlan").on("click", function (e) {

            var SMVID = $("#SMVLayoutFK").val();
            var ShipPlanID = $("#shipPlanFK").val();
            var LineID = $("#LineIds").val();

                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetAutoLinePrePlan")",
                     datatype: "Json",
                     data: { Id: ShipPlanID , SID: SMVID, LID:LineID },
                     success: function (data) {
                         $("#plan").html(data);
                    }
                });
                return false;
        });

        $("#btnClear").on("click", function (e) {
            $("#autoPlan").remove();
        });
    });
</script>
