﻿@{
    ViewData["Title"] = "Production Line";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdFkId = "tdFkId";
    var tdsectionLineFk= "tdsectionLineFk";
    var td1 = "td1";
    var td2 = "td2";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";
}

@model Erp.Core.Services.Production.VMProductionLine

    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Production-Line List:
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Chart" data-placement="top"><i class="glyphicon glyphicon-plus"></i></button>
                        </h3>
                    </div>
                    <div class="box-body">

                        <div class="table-responsive">
                            <table id="tableABC" class="table table-striped text-nowrap ">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>Floor Unit</th>
                                        <th>Step Name</th>
                                        <th>Line Code</th>
                                        <th>Line/Table Name</th>
                                        <th>Line Number</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                    <tr>
                                        <td>@(++sl).</td>
                                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                        <td id="@tdsectionLineFk@item.ID" class="hidden">@item.Common_SectionLineFK</td>
                                        <td id="@tdFkId@item.ID" class="hidden">@item.Plan_ProductionStepFK</td>
                                        <td id="@td5@item.ID">@item.SectionLine</td>
                                        <td id="@item.ID">@item.Step</td>
                                        <td id="@td6@item.ID">@item.Code</td>
                                        <td id="@td1@item.ID">@item.Name</td>
                                        <td id="@td2@item.ID">@item.Priority</td>
                                        <td id="@td4@item.ID">@item.Description</td>
                                        <td>
                                            <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                               data-placement="top">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <form asp-controller="Production" asp-action="ProductionLine" method="post" id="ProductionLine">
        <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>ProductionLine Create</b></h5>
                    </div>
                    <div class="modal-body">

                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <label asp-for="Common_SectionLineFK" class="col-form-label">Floor Unit:</label>
                            <select asp-for="Common_SectionLineFK" asp-items="ViewBag.SectionLine" class="form-control searchingDropdown" id="DDLsectionLineFK" style="width:100%">
                                <option>Please Select Floor Unit</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Plan_ProductionStepFK" class="col-form-label">Step Name:</label>
                            <select asp-for="Plan_ProductionStepFK" asp-items="ViewBag.OrderProcess" class="form-control searchingDropdown" id="DDLOrderProcessFK" style="width:100%">
                                <option>Please Select Step</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="col-form-label">Line Name:</label>
                            <input type="text" asp-for="Name" class="form-control" data-val-required="Line Name field is required." data-val="true" id="text1" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Priority" class="col-form-label">Line Number:</label>
                            <input type="text" asp-for="Priority" class="form-control" id="text2" data-val-required="Line Number field is required." />
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="col-form-label">Line Description:</label>
                            <input type="text" asp-for="Description" class="form-control" id="text4" />

                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Production Line Delete</b></h5>

                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </div>

    </form>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });
        $('.searchingDropdown').select2();
        function menuinfo(elem) {
            
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#text1').val($('#td1' + r).text().trim());
                $('#text2').val($('#td2' + r).text().trim());
                $('#text3').val($('#td3' + r).text().trim());
                $('#text4').val($('#td4' + r).text().trim());
                $('#DDLsectionLineFK').val($('#tdsectionLineFk' + r).text().trim()).trigger('change');
                $('#DDLOrderProcessFK').val($('#tdFkId' + r).text().trim()).trigger('change');
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);

            }
        }
        $("#btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#text1').empty();
            $('#text2').empty();
            $('#text3').empty();
            $('#text4').empty();
           
            $('#ProductionLine').bootstrapValidator("resetForm", true);

        })

    </script>
}








