﻿@model Erp.Core.Services.Production.VMProductionFloor
@{
    ViewData["Title"] = "Production Floor";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    int sl = 0;
    var UnitId = "UnitId";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";


}


<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box box-success">
            <div class="box-header bg-success">
                <h4>
                    Production Floor:
                </h4>
            </div>
            <div class="box-body">
                <form asp-action="ProductionFloor" class="formValidator" method="post" role="form" id="productionUnit" onreset="resetDDL()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ActionId" type="hidden" />
                    <input asp-for="ID" type="hidden" id="PKId" />
                     <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ProductionUnitFK" class="col-form-label">Production Unit:</label>
                                <select asp-for="ProductionUnitFK" id="DDLUnitFk" asp-items="ViewBag.ProductionUnitList" class="form-control searchingDropdown" style="width:100%">
                                    <option>---------Select a Production Unit---------</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="Name" class="col-form-label">Name:</label>
                                <input asp-for="Name" id="text1" class="form-control" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="Code" class="col-form-label">Code:</label>
                                <input asp-for="Code" type="text" id="text2" maxlength="1" minlength="1" class="form-control" required autocomplete="off" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-md-9 col-lg-9">
                            <div class="form-group">
                                <label asp-for="Remarks" class="col-form-label">Remarks:</label>
                                <input asp-for="Remarks" id="address" class="form-control" />
                                <span asp-validation-for="Remarks" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 pull-right" style="padding-top:25px">
                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                            <button type="button" id="btnClose" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>



                </form>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Production Unit</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td class="hidden">
                                        <input type="hidden" id="@UnitId@item.ID" value="@item.ProductionUnitFK" />
                                    </td>
                                    <td id="@td1@item.ID">@item.Name</td>
                                    <td id="@td2@item.ID">@item.Code</td>
                                    <td>@item.ProductionUnit</td>
                                    <td id="@td3@item.ID">@item.Remarks</td>
                                    <td>
                                        <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("ProductionFloor", "Production", FormMethod.Post, new { id = "party", @class = "formValidator" }))
    {
        @Html.HiddenFor(model => model.ID, new { id = "deleteId" })
        @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })

        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Production Floor Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#PKId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html(" Update");
                $('#text1').val($('#td1' + r).text().trim());
                $('#text2').val($('#td2' + r).text().trim());
                $('#text3').val($('#td3' + r).text().trim());
                $('#DDLUnitFk').val($('#UnitId' + r).val().trim()).trigger('change');
            }
        }

        function deleteItemInfo(id) {

            console.log(id);
            if (id !== null) {
                $('#deleteId').val(id);
                $('#DeleteActionId').val(3);
            }
        }
        function resetDDL() {

            $('#PKId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");
            $('#DDLUnitFk').val('').trigger('change');
            $('#productionUnit').bootstrapValidator("resetForm", true);

        }


        $("#btnClose").click(function (e) {
            $('#productionUnit').trigger("reset");
        });

    </script>
}



