﻿
@{
    ViewData["Title"] = "ProductionStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Erp.Core.Services.Production.VMProductionReference

<section class="content-header">
    <h1>Production Step</h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Plan Reference</a></li>
        <li class="active">Production Step</li>
    </ol>
</section>
<div class="clearfix"></div>
<div class="row">
    <div class="box-body">
        <div class="col-md-1"></div>
        <div class="box-body col-md-3">
            <div class="input-group">
                <span style="width: 120px;" class="input-group-addon">Reference No</span>
                <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceNo)">
            </div>
        </div>
        <div class="box-body col-md-3">
            <div class="input-group">
                <span style="width: 120px;" class="input-group-addon bg-red">Production Date</span>
                <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceDate)">
            </div>
        </div>
        <div class="box-body col-md-5">
            <div class="input-group">
                <span style="width: 140px;" class="input-group-addon">Remarks</span>
                <input style="width: 210px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Remarks)">
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="box box-default box-solid">
            <div class="box-header">
                <h3 class="box-title center">
                    Production Section Plan
                </h3>
            </div>
            <div class="box-body">
                <div class="col-md-12" style="padding-bottom:10px;">
                    <div class="col-md-6">
                        @Html.ActionLink("Cutting", "CuttingStep", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Cutting Plan", @class = "btn btn-block btn-primary" })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Sewing", "SewingStep", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Sewing Plan", @class = "btn btn-block btn-success" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.ActionLink("Ironing", "IroningStep", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Ironing Plan", @class = "btn btn-block btn-warning" })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Packing", "PackingStep", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Packing Plan", @class = "btn btn-block btn-info" })
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="box box-default box-solid">
            <div class="box-header">
                <h3 class="box-title center">
                    Production Followup
                </h3>
            </div>
            <div class="box-body">
                <div class="col-md-12" style="padding-bottom:10px;">
                    <div class="col-md-6">
                        @Html.ActionLink("Cutting", "CuttingFollowup", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Cutting Followup", @class = "btn btn-block btn-primary" })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Sewing", "SewingFollowup", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Sewing Followup", @class = "btn btn-block btn-success" })
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-6">
                        @Html.ActionLink("Ironing", "IroningFollowup", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Ironing Followup", @class = "btn btn-block btn-warning" })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Packing", "PackingFollowup", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Packing Followup", @class = "btn btn-block btn-info" })
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="box box-default box-solid">
            <div class="box-header">
                <h3 class="box-title center">
                    Production Report
                </h3>
            </div>
            <div class="box-body">
                <div class="col-lg-12" style="padding-bottom:10px;">
                    <div class="col-md-12">
                        @Html.ActionLink("Daily Achievement", "DailyAchievement", "Production", new { id = Model.ID }, new { @target = "_blank", @title = "Daily Achievement Followup", @class = "btn btn-block btn-primary" })
                    </div>
                    @*<div class="col-md-6">
                        @Html.ActionLink("Hourly Production", "HourlyAchievement", "Production", new { id = Model.ID }, new { @target = "_blank", @title = "Hourly Achievement Followup", @class = "btn btn-block btn-primary" })
                    </div>*@
                </div>
                @*<div class="col-md-12">
                    <div class="col-md-6">
                        @Html.ActionLink("Ironing", "IroningFollowup", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Ironing Followup", @class = "btn btn-block btn-warning" })
                    </div>
                    <div class="col-md-6">
                        @Html.ActionLink("Packing", "PackingFollowup", "Production", new { rid = Model.ID }, new { @target = "_blank", @title = "Packing Followup", @class = "btn btn-block btn-info" })
                    </div>
                </div>*@
            </div>
            <!-- /.box-body -->
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
