﻿@model Erp.Core.Services.Production.VMLineChiefLine
@{
    ViewData["Title"] = "Production Supervisor Line";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    int sl = 0;
    var ProductionLineId = "ProductionLineId";
}


<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box box-success">
            <div class="box-header bg-success custom">
                <h4>
                    Production Line:
                </h4>
            </div>
            <div class="box-body">
                <form asp-action="ProductionSupervisorLine" class="formValidator" method="post" role="form" id="Supervisor" onreset="resetDDL()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ActionId" type="hidden" />
                    <input asp-for="ID" type="hidden" id="PKId" />
                    <input asp-for="Common_LineSuperVisorFk" type="hidden"/>

                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <label asp-for="LineSuperVisor" class="control-label">Name</label>
                            <input asp-for="LineSuperVisor" class="form-control" readonly />
                            <span asp-validation-for="LineSuperVisor" class="text-danger"></span>
                        </div>
                        <div class="col-md-5 col-lg-5">
                            <div class="form-group">
                                <label asp-for="Common_ProductionLineFk" class="col-form-label">Line Name:</label>
                                <select asp-for="Common_ProductionLineFk" id="DDLProductionLineFk" asp-items="ViewBag.LineList" class="form-control searchingDropdown" style="width:100%">
                                    <option>Please Select Line</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 pull-right" style="padding-top:25px">
                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                            <button type="button" id="btnClose" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Line Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td>@(++sl)</td>
                                <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                <td class="hidden">
                                    <input type="hidden" id="@ProductionLineId@item.ID" value="@item.Common_ProductionLineFk" />
                                </td>
                                <td>@item.ProductionLine</td>
                                <td>
                                    <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("ProductionSupervisorLine", "Production", FormMethod.Post, new { id = "ProdRef", @class = "formValidator" }))
        {
            @Html.HiddenFor(model => model.ID, new { id = "deleteId" })
            @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })

            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Product Line Delete</b></h5>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure to delete?</h3>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#PKId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html(" Update");
                //$('#hidId').val($('#tdId' + r).text().trim());
                $('#DDLProductionLineFk').val($('#ProductionLineId' + r).val().trim()).trigger('change');
            }
        }

        function deleteItemInfo(id) {

            console.log(id);
            if (id !== null) {
                $('#deleteId').val(id);
                $('#DeleteActionId').val(3);
            }
        }

 

        function resetDDL() {

            $('#PKId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");
            $('#DDLProductionLineFk').val('').trigger('change');
            $('#Supervisor').bootstrapValidator("resetForm", true);

        }


        $("#btnClose").click(function (e) {
            $('#Supervisor').trigger("reset");
        });

    </script>
}

