﻿@{
    ViewData["Title"] = "Production Reference";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Erp.Core.Services.Production.VMProductionReference
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box box-success">
            <div class="box-header bg-success custom">
                <h4>
                    Production Reference:
                </h4>
            </div>
            <div class="box-body">
                <form asp-action="ProductionReference" class="formValidator" method="post" role="form">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ActionId" type="hidden" />
                    <input asp-for="ID" type="hidden" />
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label asp-for="ReferenceDate" class="control-label"></label>
                                <input type="text" asp-for="ReferenceDate" asp-format="{0:yyyy-MM-dd}" class="form-control datePicker" />
                                <span asp-validation-for="ReferenceDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-8">
                            <div class="form-group">
                                <label asp-for="Remarks" class="control-label"></label>
                                <input asp-for="Remarks" class="form-control" />
                                <span asp-validation-for="Remarks" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-1 col-lg-1" style="padding-top:25px;">
                            <input type="submit" id="btnsave" class="btn btn-primary btn-block" value="ADD" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>Serial</th>
                                <th>Reference Date</th>
                                <th>Reference Number</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td>@item.ReferenceDate.ToString("yyyy/MM/dd")</td>
                                    <td>@item.ReferenceNo</td>
                                    <td>@item.Remarks</td>
                                    <td>
                                        @Html.ActionLink(".", "ProductionStep", new { ID = item.ID }, new { @class = "glyphicon glyphicon-new-window", target = "_blank", title = "Plan Reference Details" })&nbsp;&nbsp;
                                        @*<a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("ProductionReference", "Production", FormMethod.Post, new { id = "ProdRef", @class = "formValidator" }))
    {
        @Html.HiddenFor(model => model.ID, new { id = "deleteId" })
        @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })

        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Reference Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;

                $('#hidId').val(r);
                $('#ActionId').val(2);

                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#ReferenceNoFK').val($('#td1' + r).text().trim());
                $('#txt2').val($('#td2' + r).text().trim());
                $('#txt3').val($('#td3' + r).text().trim());

                $('#divtxtReference').css({ 'display': 'block' });
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#deleteId').val(id);
                $('#DeleteActionId').val(3);
            }
        }

        $("#btncloseandreset").click(function (e) {
            $('#divtxtReference').css({ 'display': 'none' });
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txt1').empty();
            $('#txt2').empty();
            $('#txt3').empty();
        })

    </script>
}