﻿@model Erp.Core.Services.Merchandising.VMStyle
@{
    ViewData["Title"] = "Style QC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Style Wise QC
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Style QC</li>
            </ol>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Style Basic Information:
                </h4>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th>Action</th>
                                <th>Style ID</th>
                                <th>Style Name</th>
                                <th>Reference</th>
                                <th>Item Name</th>
                                <th>Fabrication</th>
                                <th>Size Range</th>

                                <th>Pack Quantity</th>
                                <th>Set Per Pack</th>
                                <th>Sub-Set</th>
                                <th>Total Quantity</th>
                            </tr>
                        </thead>
                        @{int sl = 0;}
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td>
                                        @Html.ActionLink("QC Type", "OrderQC", new { Id = item.ID }, new { @title = "Style CQ", @class = "label " + item.RefBOM })
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.CID)</td>
                                    <td>@item.Style</td>
                                    <td>@item.Reference</td>
                                    <td>@item.ItemName</td>

                                    <td>@item.Fabrication</td>
                                    <td>@item.SizeName</td>

                                    <td style="text-align:right">@item.PackQty</td>
                                    <td style="text-align:center">@item.PackPieceQty</td>
                                    <td style="text-align:center">@item.SetQuantity</td>
                                    <td style="text-align:right">@item.PieceQty</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>