﻿
@{
    ViewData["Title"] = "Remarks";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tdId = "tdId";

}
@model Erp.Core.Services.Production.VMRemarks

<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div id="updateForm"></div>
        <div id="createForm">
            @await Component.InvokeAsync("Remarks", new { ID = 0, view = "" })
        </div>
        <div class="box box-success">
            @await Component.InvokeAsync("Remarks", new { ID = 0, view = "List" })
        </div>
    </div>
</section>

<form asp-controller="Production" asp-action="Remarks" method="post" id="Remarks">
    @Html.HiddenFor(model => model.ID, new { id = "HDFId" })
    @Html.HiddenFor(model => model.ActionId, new { id = "HDFActionId" })

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remarks Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>


<form asp-controller="Production" asp-action="Remarks" method="post" id="Remark">
    @Html.HiddenFor(model => model.ID, new { id = "REId" })
    @Html.HiddenFor(model => model.ActionId, new { id = "REActionId" })

    <div class="modal fade" id="LockModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remarks Stop</b></h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="Name" control-label">Remarks Type</label>
                                <input asp-for="Name" id="txtremark" type="text" class="form-control" readonly />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        @*@if (Model.IsClose == false)
                            {*@

                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">

                                <span style="color:red">
                                    <b>  Are you sure to Lock this Remarks Type. Please Check the Box.</b>
                                    <input asp-for="IsClose" type="checkbox" />
                                </span>
                                <span asp-validation-for="IsClose" class="text-danger"></span>
                            </div>

                        </div>
                        @*}*@
                        @*else
                            {
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label asp-for="IsClose" class="col-md-2 control-label">IsClose</label>
                                        <span style="color:red">
                                            <b>Are you sure to Unlock this Remarks Type. Please Uncheck the Box.</b>
                                            <input asp-for="IsClose" type="checkbox" />
                                        </span>
                                        <span asp-validation-for="IsClose" class="text-danger"></span>
                                    </div>

                                </div>

                            }*@

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });
        $('.searchingDropdown').select2();

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#HDFId').val(id);
                $('#HDFActionId').val(3);
            }
        }

        function LockModalInfo(elem) {
            if (elem !== null) {
                $('#REActionId').val(7);
                $('#REId').val(elem);
                $('#txtremark').val($('#tdRemark' + elem).text());



            }
        }

        $(function () {
            $.ajaxSetup({ cache: false });

            $("a[data-modal]").on("click", function (e) {

                $('#updateForm').load(this.href);
                $('#createForm').remove();
                return false;
            });
        });
    </script>
}










