﻿@{
    ViewData["Title"] = "SectionLine";
    Layout = "~/Views/Shared/_Layout.cshtml";
   

}
@model Erp.Core.Services.Production.VMSectionLine

<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <section class="content-header">
         
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Floor Unit</li>
            </ol>
        </section>
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                  Production  Floor Unit :
                </h4>
            </div>
            <div id="createForm">
                @await Component.InvokeAsync("SectionLine", new { ID = 0, view = "" })
            </div>
            <div id="updateForm"></div>
        </div>
        
        
        <div class="box box-success">
            @await Component.InvokeAsync("SectionLine", new { ID = 0, view = "List" })
        </div>
    </div>
</section>

<form asp-controller="Production" asp-action="SectionLine" method="post" id="SectionLine">
    @Html.HiddenFor(model => model.ID, new { id = "HDFId" })
    @Html.HiddenFor(model => model.ActionId, new { id = "HDFActionId" })

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Section Line Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });
        $('.searchingDropdown').select2();

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#HDFId').val(id);
                $('#HDFActionId').val(3);
            }
        }
        $(function () {
            $.ajaxSetup({ cache: false });

            $("a[data-modal]").on("click", function (e) {
                
                $('#updateForm').load(this.href);
                $('#createForm').remove();
                return false;
            });
        });
    </script>
}








