﻿
@model Erp.Core.Services.Production.VMProductionReference
@{
    ViewData["Title"] = "SewingFollowup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Sewing Followup
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sewing Followup</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header custom bg-success">
                <div class="row">
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon">Reference No</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceNo)">
                        </div>
                    </div>
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon bg-yellow">Sewing Date</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceDate)">
                        </div>
                    </div>
                    <div class="box-body col-md-6">
                        <div class="input-group">
                            <span style="width: 140px;" class="input-group-addon">Remarks</span>
                            <input style="width: 400px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Remarks)">
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-body">
                @using (Html.BeginForm("SewingFollowup", "Production", new { @class = "form-horizontal", role = "form" }))
                {
                    <input type="hidden" asp-for="ID" id="Prod_ReferenceFK" />
                    <input type="hidden" asp-for="vmDailyProduction.Prod_ReferencePlanFK" id="Prod_ReferencePlanFK" />
                    <input type="hidden" asp-for="vmDailyProduction.Merchandising_StyleFK" id="Merchandising_StyleFK" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Production Style:</label>
                                @Html.DropDownListFor(model => model.vmDailyProduction.MultiFK, ViewBag.StyleList as SelectList, "---Select a Style---", new { @id = "MultiFK", @class = "form-control searchingDropdown", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.MultiFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-lg-2 col-md-2">
                            <div class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Production Line:</label>
                                @Html.DropDownListFor(model => model.vmDailyProduction.Plan_ProductionLineFk, new SelectList(string.Empty, "Value", "Text"), "---Select a Line---", new { @id = "Plan_ProductionLineFk", @class = "form-control searchingDropdown", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.Plan_ProductionLineFk, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Style Color:</label>
                                @Html.DropDownListFor(model => model.vmDailyProduction.Common_ColorFK, new SelectList(string.Empty, "Value", "Text"), "---Select a Color---", new { @id = "Common_ColorFK", @class = "form-control searchingDropdown", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmDailyProduction.Common_ColorFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2" style="padding-top:25px;">
                            <input id="btnCreate" type="submit" value="ADD" class="btn btn-primary btn-block btn-flat" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="box">
            <div class="box-body table-responsive">
                <table class="table table1 table-hover table-bordered text-nowrap">
                    <thead>
                        <tr>
                            <th>Shipment Date</th>
                            <th>Order Number</th>
                            <th>Port</th>
                            <th>Color</th>
                            <th>Size</th>
                            <th>Line</th>
                            <th>Order Qty</th>
                            <th>Remain Qty</th>
                            <th>Done Qty </th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.vmDailyProduction.DataList.Count(); i++)
                        {
                        <tr>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].EntryDate)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].OrderNo)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].Port)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].Color)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].Size)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].LineName)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].OrderQty)</label></td>
                            <td><label>@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].RemainQty)</label></td>
                            <td>
                                <label class="display" id="lblSewingDoneQuantity">@Html.DisplayFor(item => Model.vmDailyProduction.DataList[i].DoneQty)</label>
                                @Html.TextBoxFor(item => Model.vmDailyProduction.DataList[i].DoneQty, new { id = "tbxDoneQty", @class = "edit form-control", @style = "width:70px;" })
                            </td>
                            <td>
                                <a class="edit-book display glyphicon glyphicon-pencil" id="@Model.vmDailyProduction.DataList[i].ID"></a>
                                <a class="save-book edit glyphicon glyphicon-ok" id="@Model.vmDailyProduction.DataList[i].ID"></a>&nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="box-header custom bg-success">
                <a asp-action="DeleteZeroFollowup" asp-controller="Production" asp-route-Id="@Model.ID" asp-route-SId="2" class="btn btn-danger btn-xs btn-block">Inspection Confirmation</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#MultiFK").change(function () {
                var MultiFK = $("#MultiFK").val();
                var ValueID = MultiFK.split("/");
                var StyleId = ValueID[0];
                var PlanFK = ValueID[1];

                $('#Merchandising_StyleFK').val(StyleId);
                $('#Prod_ReferencePlanFK').val(PlanFK);

                var RefId = $("#Prod_ReferenceFK").val();

                console.log("RefId"+ RefId);
                console.log("StyleId" + StyleId);
                console.log("PlanFK" + PlanFK);
                //$("#Plan_ProductionLineFk").empty();
                $("#Common_ColorFK").empty();
                if (StyleId != '' && RefId !='') {
                    @*$.get('@Url.Action("GetLineSewingByStyleID", "Helper")', { RefID: RefId, SID: StyleId }, function (data) {
                        $("#Plan_ProductionLineFk").append("<option value ='' selected>--Select a Line--</option>")
                        $.each(data, function (index, row) {
                            $("#Plan_ProductionLineFk").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });*@

                    $.get('@Url.Action("GetStyleColor", "Helper")', { ID:StyleId }, function (data) {
                        
                        $("#Common_ColorFK").append("<option value ='' selected>--Select a Color--</option>")
                        $.each(data, function (index, row) {
                            $("#Common_ColorFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });
                }
                else {
                    $("#Plan_ProductionLineFk").append("<option value ='' selected>--Select a Line--</option>")
                }
            });

        });


        $(function () {

            var buttonId = '';
            $('.edit').hide();
            $('.edit-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 1;
            });

            $('.update-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
                buttonId = 2;
            });

            $('.cancel-book').on('click', function () {
                var tr = $(this).parents('tr:first');
                tr.find('.edit, .display').toggle();
            });

            $('.save-book').on('click', function () {

                var tr = $(this).parents('tr:first');

                var Prod_ReferencePlanFollowupFK = $(this).prop('id');
                var DoneQuantity = tr.find("#tbxDoneQty").val();
                //var tbxPlanProductionLineFk = tr.find("#tbxPlanProductionLineFk").val();

                tr.find("#lblSewingDoneQuantity").text(DoneQuantity);

                var isSuccess = -1;
                var TotalQty = 0;
                $.get('@Url.Action("FollowupUpdate", "Production")', { Id: Prod_ReferencePlanFollowupFK, Qty : DoneQuantity }, function (data) {
                    TotalQty = data.qty;
                    isSuccess = data.result;
                    tr.find("#lblSewingDoneQuantity").text(TotalQty);
                    //tr.find("#lblLineChiefSupervisor").text(CheifSVName);
                    tr.find('.edit, .display').toggle();
                });
                
            });
        });
    </script>
}
