﻿@model Erp.Core.Services.Production.VMProductionReference
@{
    ViewData["Title"] = "SewingStep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content-header">
    <h1>
        Sewing Step
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Sewing Step</li>
    </ol>
</section>
<div class="clearfix"></div>


<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header custom bg-success">
                <div class="row">
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon">Reference No</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceNo)">
                        </div>
                    </div>
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width: 120px;" class="input-group-addon bg-yellow">Sewing Date</span>
                            <input style="width: 130px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.ReferenceDate)">
                        </div>
                    </div>
                    <div class="box-body col-md-6">
                        <div class="input-group">
                            <span style="width: 140px;" class="input-group-addon">Remarks</span>
                            <input style="width: 400px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(m => m.Remarks)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <a asp-action="AddSewingPreviousPlan" asp-controller="Production" asp-route-rid="@Model.ID" class="btn btn-primary btn-xs btn-block btn-flat">Recall Previous Plan</a>
                    </div>
                </div>
            </div>
            <div id="updateForm"></div>
            <div id="createForm">
                @await Component.InvokeAsync("ProductionUI", new { RID = Model.ID, ModeID = 0, SectionID = 2 })
            </div>
        </div>
        <div class="box">
            <div class="box-body table-responsive">
                <table id="tableABC" class="table table-hover table-bordered text-nowrap">
                    <thead class="bg-success">
                        <tr>
                            <th>
                                ReferenceNo
                            </th>
                            <th>
                                Order/Style
                            </th>
                            <th>
                                SMV
                            </th>
                            <th>
                                Line
                            </th>
                            <th>
                                Opterator
                            </th>
                            <th>
                                Helper
                            </th>
                            <th>
                                LineChief|SuperVisor
                            </th>
                            <th>
                                Machine
                            </th>
                            <th>
                                Work Hour
                            </th>
                            <th>
                                Line Input Qty
                            </th>
                            <th>
                                Target Qty
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.vmDailyProduction.DataList)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.OrderNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SMV)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LineTable)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PresentOpt)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NoOfHelper)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LineChiefSupervisor)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.MachineRunning)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.WorkingHour)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LineInputQty)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.TargetQty)
                            </td>
                            <td>
                                <a data-modal="" class="linkPointer" asp-action="ProductionForm" asp-controller="Production" asp-route-rid="@Model.ID" asp-route-modeid="@item.Prod_ReferencePlanFK" asp-route-sectionid="2"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a> &nbsp;
                                <a onclick="deleteItemInfo(@item.Prod_ReferencePlanFK,@Model.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="box">
        @using (Html.BeginForm("SewingPlanDelete", "Production", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
        {
            @Html.HiddenFor(model => model.ID, new { id = "DeleteId" })
            @Html.HiddenFor(model => model.vmDailyProduction.Prod_ReferenceFK, new { id = "ReferenceFK" })
            @Html.HiddenFor(model => model.vmDailyProduction.Prod_ReferencePlanFK, new { id = "ReferencePlanFK" })
            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-red">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Plan Order Delete</b></h5>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure to delete?</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="btnsave" class="btn btn-danger">Delete</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {
<script type="text/javascript">

    function deleteItemInfo(id,refId) {
        if (id !== null) {
            $('#ReferencePlanFK').val(id);
            $('#ReferenceFK').val(refId);
        }
    }
    $(document).ready(function () {

        $.ajaxSetup({ cache: false });
        $("a[data-modal]").on("click", function (e) {
            $('#updateForm').load(this.href);
            $('#createForm').remove();
            return false;
        });

        $("#SMVFK").change(function () {
            var SMVId = $("#SMVFK").val();
            if (SMVId != '') {
                $.get('@Url.Action("GetSMVPaperByID", "Helper")', { Id: SMVId }, function (data) {
                    $('#StyleFK').val(data.merchandising_StyleFK);
                    $('#SubsetFK').val(data.merchandising_StyleSetPackFK);
                    $('#MachineRunning').val(data.presentOpt);
                    $('#NoOfHelper').val(data.noOfHelper);
                    $('#SMV').val(data.smv);
                    $('#PerHourTarget').val(data.perHourTarget);
                    $('#PresentOpt').val(data.presentOpt);
                    $('#WorkingHour').val(data.workingHour);
                    $('#LineTable').val(data.style); 
                });
            }
            else {
                $('#StyleFK').val('');
                $('#MachineRunning').val('');
                $('#NoOfHelper').val('');
                $('#SMV').val('');
                $('#PerHourTarget').val('');
                $('#PresentOpt').val('');
                $('#WorkingHour').val('');
                $('#LineTable').val('');
            }
        });
        
        $("#ProductionLineFk").change(function () {
            var lineId = $("#ProductionLineFk").val();
            console.log(lineId);
            if (lineId != null) {
                $.get('@Url.Action("GetLineWiseChiefSupervisor", "Helper")', { LineId: lineId }, function (data) {
                    $('#LineChiefSupervisor').val(data.lineChiefSupervisor);
                    $('#SuperVisor').val(data.superVisor);
                    $('#Prod_LineChiefFk').val(data.prod_LineChiefFK);
                    $('#Prod_SVNameFk').val(data.prod_SuperVisorFK);
                });
            }
            else {
                $('#LineChiefSupervisor').val('');
                $('#SuperVisor').val('');
                $('#Prod_LineChiefFk').val('');
                $('#Prod_SVNameFk').val('');
            }
        });
    });
</script>
}
