﻿@{
    ViewData["Title"] = "SMVLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdFkId = "tdFkId";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";
    var td7 = "td7";
    var td8 = "td8";
    var td9 = "td9";
    var td10 = "td10";
  

}

@model Erp.Core.Services.Production.VMSMVLayout

@using (Html.BeginForm("SMVLayout", "Production", FormMethod.Post, new { id = "SMVLayout", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            SMVLayout List:
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Chart"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->

                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped text-nowrap ">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>Style</th>
                                        <th>Total O/P</th>
                                        <th>Total H/P</th>
                                        <th>Total Worker</th>
                                        <th>Work Hour</th>
                                        <th>Hour Target</th>
                                        <th>O/P SMV</th>
                                        <th>H/P SMV</th>
                                        <th>SMV</th>
                                        <th>Efficiency</th>
                                        <th>Description</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                    <tr>
                                        <td>@(++sl).</td>
                                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                        <td id="@tdFkId@item.ID" class="hidden">@item.Merchandising_StyleFk</td>
                                        <td id="@item.ID">@item.Style</td>
                                        <td id="@td1@item.ID">@item.NoOfOperator</td>
                                        <td id="@td2@item.ID">@item.NoOfHelper</td>
                                        <td id="@td3@item.ID">@item.TotalWorker</td>
                                        <td id="@td4@item.ID">@item.WorkingHour</td>
                                        <td id="@td5@item.ID">@item.PerHourTarget</td>
                                        <td id="@td6@item.ID">@item.OperatorSMV</td>
                                        <td id="@td7@item.ID">@item.HelperSMV</td>
                                        <td id="@td8@item.ID">@item.TotalSMV</td>
                                        <td id="@td9@item.ID">@item.Efficiency</td>
                                        <td id="@td10@item.ID">@item.Description</td>

                                        <td>
                                            <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                               data-placement="top">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>

            </div>



        </div>
    </section>

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>SMVLayout Create</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Style:</label>
                        <select asp-for="Merchandising_StyleFk" asp-items="ViewBag.StyleList"class="form-control" id="DDLStyleFk">
                            <option>Please Select Style</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Total O/P:</label>
                        <input type="text" asp-for="NoOfOperator" class="form-control" id="text1"/>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Total H/P:</label>
                        <input type="text" asp-for="NoOfHelper" class="form-control" id="text2"/>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Total Worker:</label>
                        <input type="text" asp-for="TotalWorker" class="form-control" id="text3" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Work Hour:</label>
                        <input type="text" asp-for="WorkingHour" class="form-control" id="text4" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Hour Target:</label>
                        <input type="text" asp-for="PerHourTarget" class="form-control" id="text5" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">O/P SMV:</label>
                        <input type="text" asp-for="OperatorSMV" class="form-control" id="text6" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">H/P SMV:</label>
                        <input type="text" asp-for="HelperSMV" class="form-control" id="text7"/>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">SMV:</label>
                        <input type="text" asp-for="TotalSMV" class="form-control"id="text8" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Efficiency:</label>
                        <input type="text" asp-for="Efficiency" class="form-control"id="text9" />
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        <input type="text" asp-for="Description" class="form-control" id="text10"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                    </div>
                </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>SMVLayout Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();

            });

            function menuinfo(elem) {
                if (elem !== null) {
                    var r = elem.id;
                    $('#hidId').val(r);
                    $('#ActionId').val(2);
                    $('#btnsave').html("&nbsp;Update");
                    $('#hidId').val($('#tdId' + r).text().trim());
                    $('#text1').val($('#td1' + r).text().trim());
                    $('#text2').val($('#td2' + r).text().trim());
                    $('#text3').val($('#td3' + r).text().trim());
                    $('#text4').val($('#td4' + r).text().trim());
                    $('#text5').val($('#td5' + r).text().trim());
                    $('#text6').val($('#td6' + r).text().trim());
                    $('#text7').val($('#td7' + r).text().trim());
                    $('#text8').val($('#td8' + r).text().trim());
                    $('#text9').val($('#td9' + r).text().trim());
                    $('#text10').val($('#td10' + r).text().trim());
                    $('#DDLStyleFk').val($('#tdFkId' + r).val().trim()).trigger('change');

                }
            }

            function deleteItemInfo(id) {
                if (id !== null) {
                    $('#hidId').val(id);
                    $('#ActionId').val(3);

                }
            }
            $("#btncloseandreset").click(function (e) {
                e.preventDefault();
                $('#hidId').empty();
                $('#ActionId').val(1);
                $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
                $('#text1').empty();
                $('#text2').empty();
                $('#text3').empty();
                $('#text4').empty();
                $('#text5').empty();
                $('#text6').empty();
                $('#text7').empty();
                $('#text8').empty();
                $('#text9').empty();
                $('#text10').empty();
                $('#SMVLayout').bootstrapValidator("resetForm", true);

            })

    </script>


}







