﻿@model Erp.Core.Services.Production.VMPlanView
@{
    ViewData["Title"] = "StylePreSMV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Style's SMV
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a asp-action="Order" asp-controller="Merchandising">Order</a></li>
                <li><a asp-action="OrderView" asp-controller="Merchandising" asp-route-Id="@Model.VmStyle.Merchandising_BuyerOrderFK">Style</a></li>
                <li class="active">Style SMV</li>
            </ol>
        </section>
        <div class="box box-info">
            <div class="box-header custom with-border bg-success">
                <h4>
                    Style Summary :
                </h4>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="box-body col-md-6">
                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmStyle.CID)</span>
                        @*<a style="width:310px;" class="btn btn-block btn-primary" asp-action="OrderView" asp-controller="Merchandising" asp-route-Id="@Model.VmStyle.Merchandising_BuyerOrderFK">@Html.DisplayFor(x => x.VmStyle.CID)</a>*@
                        <input style="width:360px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmStyle.CID)">
                    </div>
                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmStyle.Style)</span>
                        <input style="width:360px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmStyle.Style)">
                    </div>
                    <div class="input-group">
                        <span style="width:120px;" class="input-group-addon">@Html.DisplayName("Size Range")</span>
                        <input style="width:360px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmStyle.SizeName)">
                    </div>
                </div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Item Name")</span>
                        <input style="width:280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmStyle.ItemName)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmStyle.Fabrication)</span>
                        <input style="width:280px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.VmStyle.Fabrication)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VmStyle.PackQty)</span>
                        <input style="width:280px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VmStyle.PackQty)">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom bg-success">
                <h4>
                    Style SMV Layout:
                </h4>
            </div>
            <div class="box-body">
                <div id="updateForm"></div>
                <div id="createForm">
                    @await Component.InvokeAsync("SMVLayout", new { ID = 0, StyleId = Model.VmStyle.ID, TypeID = 1 })
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered text-nowrap">
                        <thead class="bg-success">
                            <tr>
                                <th>Subset Name</th>
                                <th>Style Type</th>
                                <th>Total Operator</th>
                                <th>Total Helper</th>
                                <th>Operator SMV</th>
                                <th>Helper SMV</th>
                                <th>Total Worker</th>
                                <th>SMV</th>
                                <th>Working Hour</th>
                                <th>Hourly Target</th>
                                <th>Efficiency (%)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @if (Model.vmSMVLayout.DataList != null && Model.vmSMVLayout.DataList.Any())
                        {
                            <tbody>
                                @foreach (var item in Model.vmSMVLayout.DataList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Subset)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoOfOperator)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoOfHelper)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OperatorSMV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HelperSMV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalWorker)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalSMV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkingHour)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PerHourTarget)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Efficiency)
                                        </td>
                                        <td>
                                            <a data-modal="" class="linkPointer" asp-action="UpdateSMV" asp-controller="Production" asp-route-Id="@item.ID" asp-route-styleId="@item.Merchandising_StyleFk" asp-route-typeID="1"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            @*@Html.ActionLink(".", "SewingPlanDelete", new { OId = item.ID }, new { @title = "Plan Order Delete", @class = "lnkDelete glyphicon glyphicon-trash" })*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.searchingDropdown').select2();
            $('.formValidator').bootstrapValidator();

            $(function () {
                $.ajaxSetup({ cache: false });
                $("a[data-modal]").on("click", function (e) {
                    $('#updateForm').load(this.href);
                    $('#createForm').remove();
                    return false;
                });
            });

        });
    </script>
        
        }