﻿@model Erp.Core.Services.Production.VMProductionReport
@{
    ViewData["Title"] = "StyleWiseProductionReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Style Wise Production Reports
            </h1>
            <ol class="breadcrumb">
                <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Style Wise Production Report</li>
            </ol>
        </section>
        <div class="box box-info">
            <div class="box-header custom bg-success with-border">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="box-body col-md-6 col-sm-12 col-lg-5">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">Style</span>
                                @Html.DropDownListFor(model => model.StyleID, ViewBag.Style as SelectList, "--Select a Style--", new { @id = "StyleId", @class = "form-control searchingDropdown" })
                                @Html.ValidationMessageFor(model => model.StyleID, "", new { @class = "text-danger" })
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="row" style="padding-top:10px;">
                                <input type="submit" value="Generate" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <!-- /.box -->
        <div class="box">
           
            <!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="tableX" class="table table-striped nowrap">
                    <thead>
                        <tr>
                        
                            <th>Buyer PO</th>
                            <th>Reference Date</th>
                            <th>SubSet</th>
                            <th>Color</th>
                            @*<th class="center">Total Quantity</th>*@
                            @*@for (int a = 0; a < Model.vmColorSizeSummary[0].SizeList.Count(); a++)
                                {
                                    <th class="center">@Html.DisplayFor(model => model.vmColorSizeSummary[0].SizeList[a].Size, new { @class = "form-control" })</th>
                             }*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.DataList)
                        {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.BuyerPO)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ReferenceDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subset)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ColorName)
                            </td>
                            @*<td>
            @Html.DisplayFor(model => model.vmColorSizeSummary[i].SubSetName, new { @class = "form-control" })
        </td>
        <td>
            @Html.DisplayFor(model => model.vmColorSizeSummary[i].Color, new { @class = "form-control" })
        </td>
        <td>
            @Html.DisplayFor(model => model.vmColorSizeSummary[i].Quantity, new { @class = "form-control" })
        </td>
        @for (int j = 0; j < Model.vmColorSizeSummary[i].SizeList.Count(); j++)
        {
            <td>
                @Html.DisplayFor(model => model.vmColorSizeSummary[i].SizeList[j].Quantity, new { @class = "form-control" })
            </td>
        }*@
                        </tr>
                        }
                    </tbody>

                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>

