﻿@model Erp.Core.Services.Production.VMPlanView
@{
    ViewData["Title"] = "StylePreSMV";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom bg-success">
                <h4>
                    Style Master SMV Layout:
                </h4>
            </div>
            <div class="box-body">
                <div id="updateForm"></div>
                @*<div id="createForm">
                    @await Component.InvokeAsync("SMVLayout", new { ID = 0, StyleId = 0, TypeID = 2 })
                </div>*@
                <div class="table-responsive">
                    <table id="" class="table table-hover table-bordered text-nowrap">
                        <thead class="bg-success">
                            <tr>
                                <th>Subset Name</th>
                                <th>Style Type</th>
                                <th>Total Operator</th>
                                <th>Total Helper</th>
                                <th>Operator SMV</th>
                                <th>Helper SMV</th>
                                <th>Total Worker</th>
                                <th>SMV</th>
                                <th>Working Hour</th>
                                <th>Hourly Target</th>
                                <th>Efficiency (%)</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @if (Model.vmSMVLayout.DataList != null && Model.vmSMVLayout.DataList.Any())
                        {
                            <tbody>
                                @foreach (var item in Model.vmSMVLayout.DataList)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Subset)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Description)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoOfOperator)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.NoOfHelper)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OperatorSMV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.HelperSMV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalWorker)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TotalSMV)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkingHour)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PerHourTarget)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Efficiency)
                                        </td>
                                        <td>
                                            <a data-modal="" class="linkPointer" asp-action="UpdateSMV" asp-controller="Production" asp-route-Id="@item.ID" asp-route-styleId="@item.Merchandising_StyleFk" asp-route-typeID="2"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                            @*@Html.ActionLink(".", "SewingPlanDelete", new { OId = item.ID }, new { @title = "Plan Order Delete", @class = "lnkDelete glyphicon glyphicon-trash" })*@
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.searchingDropdown').select2();
            $('.formValidator').bootstrapValidator();

            $(function () {
                $.ajaxSetup({ cache: false });
                $("a[data-modal]").on("click", function (e) {
                    $('#updateForm').load(this.href);
                    return false;
                });
            });

        });
    </script>
}
