﻿
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}



@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
@*<div class="box box-primary">
        <div class="box-body">
            <form>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputEmail1">From Date</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control datepicker" id="exampleInputEmail1" placeholder="Form Date">
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="exampleInputPassword1">To Date</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input type="text" class="form-control datepicker" id="exampleInputPassword1" placeholder="To Date">
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row pull-right"></div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>

            </form>
        </div>
    </div>*@


@{

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewData["Title"] = "AttendanceReport";
}
@*<div class="row">
        <div class="box box-primary">
            <div class="box-body">
                <form class="form-horizontal">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputEmail1">From Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker" id="exampleInputEmail1" placeholder="Form Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="exampleInputPassword1">To Date</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control datepicker" id="exampleInputPassword1" placeholder="To Date">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row pull-right"></div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>*@




<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                    Accepted Bill Amount
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>

                                <th style="width:20%;text-align:center;">L/C No</th>
                                <th style="width:20%;text-align:center;">Order No</th>
                                <th style="width:20%;text-align:center;">Buyer</th>
                                <th style="width:20%;text-align:center;">Order Value</th>
                                <th style="width:20%;text-align:center;">Accepted Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    RFTL/GEBR/19/01
                                </td>
                                <td>P84658 </td>
                                <td>PRIMARK LIMITED</td>
                                <td><span>345623</span></td>
                                <td>325623</td>
                            </tr>
                            <tr>
                                <td>
                                    RFTL/GEBR/19/01
                                </td>
                                <td>P85719</td>
                                <td>KHQ INVESTMENT LLC</td>
                                <td><span>709980</span></td>
                                <td>700980</td>
                            </tr>
                            <tr>
                                <td>
                                    866-IO-025778
                                </td>
                                <td>0462067</td>
                                <td>MILES GMBH</td>
                                <td>509945</td>
                                <td>507945</td>
                            </tr>
                            <tr>
                                <td>
                                    866-IO-025778
                                </td>
                                <td>0458691</td>
                                <td>CALVIN KLEIN</td>
                                <td>329909</td>
                                <td>329909</td>
                            </tr>
                            <tr>
                                <td>
                                    866-IO-025778
                                </td>
                                <td>4500146116</td>
                                <td>HIRAKI CO.,LTD</td>
                                <td><span>770989</span></td>
                                <td><span>670900</span></td>
                            </tr>




                            <tr>
                                <td>
                                    866-IO-025778
                                </td>
                                <td>0442243</td>
                                <td>HIRAKI CO.,LTD</td>
                                <td><span>770989</span></td>
                                <td><span>330989</span></td>
                            </tr>
                            <tr>
                                <td>

                                    866-IO-025778

                                </td>
                                <td>A46572 </td>
                                <td>PRIMARK LIMITED</td>
                                <td><span>7565766</span></td>
                                <td><span>3965766</span></td>
                            </tr>
                            <tr>
                                <td>

                                    LCI18111683

                                </td>
                                <td>4500110297</td>
                                <td>KIK TEXTILIEN</td>
                                <td><span>70990</span></td>
                                <td><span>70990</span></td>

                            </tr>
                            <tr>
                                <td>

                                    786LC41800979


                                </td>
                                <td>4500107675</td>
                                <td>HIRAKI CO.,LTD</td>
                                <td><span>770989</span></td>
                                <td><span>770900</span></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>









