﻿@model Erp.Core.Services.MIS.VMMis_DailyAttendance

@{

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewData["Title"] = "AttendanceReport";
}



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                    Attendance Report
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="text-align:center;width:15%">
                                    Date
                                </th>
                                <th style="text-align:center;width:15%">
                                   Today's duty hour
                                </th>
                                <th style="text-align:center;width:15%">
                                    Total Employee
                                </th>

                                <th style="text-align:center;width:15%">
                                    Present
                                </th>
                                <th style="text-align:center;width:10%">
                                    Absent
                                </th>
                                <th style="text-align:center;width:15%">
                                    On Leave
                                </th>
                                <th style="text-align:center;width:15%">
                                    Off
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.Date.ToString("dd/MM/yy"), "DepartmentWiseAttendanceReport", "Mobile", new { id = item.Date.ToString("yyyy-MM-d") })

                                    </td>
                                    <td>@item.WorkingHour</td>
                                    <td>@item.TotalEmployee</td>
                                    <td>@item.Present</td>
                                    <td>@item.Absent</td>
                                    <td>@item.OnLeave</td>
                                    <td>@item.Off</td>
                                </tr>
                            }
                           

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>









