﻿@*@model Erp.Core.Services.MIS.VMMis_BalanceSheet*@

@*@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}*@

@model Erp.Core.Services.Accounting.VMFinancialPosition
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

    ViewData["Title"] = "Financial Position Report";
}
<section class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    Financial Position
                   
                </h3>
            </div>
            <div class="box-body">
                <div class="row">
                    @*<div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#exampleModal1"> Financial Position</button>
                    </div>*@
                </div>
                @if (Model.FromDate.ToString("MM/dd/yyyy") != "01/01/0001")
                {
                    @*<div class="row float:right">
                        <div class="col-md-8">
                            <b>
                                <label id="SearchLabel">
                                    Date as at @Model.ToDate.ToString("yyyy-MM-dd")
                                </label>
                            </b>
                        </div>
                        <div class="col-md-4 text-right">
                            @Html.ActionLink(" Print", "FinancialPosition", new { fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy") }, new { @class = "glyphicon glyphicon-print btn btn-info btn-md", @target = "_blank" });

                        </div>
                    </div>*@
                    <br />
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableReport" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align: center"><strong>Particulars</strong></th>
                                    <th style="text-align: right"><strong>Amount In Taka</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left"><strong>Assets</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Fixed Asset</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Property, Plant & Equipment</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.PropertyPlantandEquipment)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total Fixed Asset</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalFixedAsset)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Current Asset</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Accounts Receivables</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountReceivable)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Inventory
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.Inventory)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Advances, Deposits & Prepayments
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AdvanceDepositandPrePayments)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cash in Hand
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.CashinHand)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cash at Bank
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.CashatBank)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Other Current Assets
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.OthersCurrentAssets)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>Total current assets</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalCurrentAssets)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>Total assets</strong>
                                    </td>
                                    <td style="text-align: right"><strong><u> @String.Format("{0:0,0.00}", Model.TotalAssets)</u></strong></td>
                                </tr>

                                <tr>
                                    <td style="text-align: left"><strong>Equity</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Share capital
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShareCapital)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        General Reserve
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.GeneralReserve)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accumulated Depreciation
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccumulatedDepreciation)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Revaluation Reserve
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.RevaluationReserve)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Retained Earnings
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.RetainedEarnings)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong> Total equity</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalEquity)</strong></td>
                                </tr>
                                @*<tr>
                                        <td style="text-align: left"><strong></strong></td>
                                        <td style="text-align: right"><strong></strong></td>
                                    </tr>*@
                                <tr>
                                    <td style="text-align: left"><strong> Liabilities</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Long-Term Loan
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.LongTermLoan)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total Long-Term Liabilities</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalLongTermLiabilities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Current Liabilities</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accounts Payable
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AccountPayable)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Loan
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermLoan)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ShortTermliabilities)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accepted Bills Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.AcceptedBillLiabilities)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Provision for Expenses
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.ProvisionforExpense)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total current liabilities</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalCurrentLiabilities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total equity and liabilities</strong></td>
                                    <td style="text-align: right"><strong><u>@String.Format("{0:0,0.00}", Model.TotalEquityandLiabilities)</u></strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("FinancialPositionSearch", "Accounting", FormMethod.Post, new { id = "FinancialPositionSearch" }))
{
    
}



@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

            var serchval = $("#SearchLabel").text();
            // $('#tableLedger').append('<caption style="caption-side: bottom">Ledger Information.</caption>');
            $('#tableReport').DataTable({
                sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                //"dom" : 'lrtip',
                pageLength: 40,
                "ordering": false,
                buttons: [
                    'copy',
                    {
                        extend: 'excel',
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'pdf',
                        messageBottom: null,
                        messageTop: serchval,
                        footer: true,
                    },
                    {
                        extend: 'print',
                        messageTop: serchval,
                    }
                ]
            });

        });
    </script>
}



@*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header" style="background-color:#6495ED;color:white;">
                    <h3 style="text-align:center;">
                        <strong>
                            Balance Sheet
                        </strong>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="tableReport" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align: center"><strong>Particulars</strong></th>
                                    <th style="text-align: right"><strong>Amount In Taka</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left"><strong>Assets</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Fixed Asset</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Property, Plant & Equipment</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 3 && x.ChartTableId == 1).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total Fixed Asset</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalFixedAsset)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Current Asset</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">Accounts Receivables</td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1289 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault()) </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Inventory
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1290 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Advances, Deposits & Prepayments
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1291 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cash in Hand
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1287 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cash at Bank
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1288 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Other Current Assets
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1292 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>Total current assets</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalCurrentAssets)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>Total assets</strong>
                                    </td>
                                    <td style="text-align: right"><strong><u> @String.Format("{0:0,0.00}", Model.TotalAssets)</u></strong></td>
                                </tr>

                                <tr>
                                    <td style="text-align: left"><strong>Equity</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Share capital
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 6 && x.ChartTableId == 1).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        General Reserve
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1295 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accumulated Depreciation
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1294 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Revaluation Reserve
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1296 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Retained Earnings
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.RetainedEarnings)</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong> Total equity</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalEquity)</strong></td>
                                </tr>

                                <tr>
                                    <td style="text-align: left"><strong> Liabilities</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Long-Term Loan
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 8 && x.ChartTableId == 1).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total Long-Term Liabilities</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalLongTermLiabilities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Current Liabilities</strong></td>
                                    <td style="text-align: left"><strong></strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accounts Payable
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1300 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Loan
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1304 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Short-Term Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1305 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Accepted Bills Liabilities
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1302 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Provision for Expenses
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", Model.DataList.Where(x => x.BaseHeadId == 1303 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault())</td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total current liabilities</strong></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalCurrentLiabilities)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><strong>Total equity and liabilities</strong></td>
                                    <td style="text-align: right"><strong><u>@String.Format("{0:0,0.00}", Model.TotalEquityandLiabilities)</u></strong></td>
                                </tr>
                                @foreach (var item in Model.DataList.Where(x => x.BaseHeadId == 0))
                                {
                                    <tr>
                                        <td style="text-align: left">
                                            @item.Accounting_HeadName
                                        </td>
                                        <td style="text-align: right">@String.Format("{0:0,0.00}", item.Value)</td>
                                    </tr>

                                }
                            </tbody>
                        </table>

                    </div>


                </div>

            </div>

        </div>
    </div>*@

