﻿@model Erp.Core.Services.MIS.VMMis_BTBLCStatus

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                    BTB L/C Details
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:20%;text-align:center;">UD No</th>
                                <th style="width:20%;text-align:center;">ECI Value</th>
                                <th style="width:15%;text-align:center;">BTB Limit</th>
                                <th style="width:15%;text-align:center;">BTB L/C Issued</th>
                                <th style="width:15%;text-align:center;">BTB L/C Liabilites</th>
                                <th style="width:15%;text-align:center;">BTB L/C Accepted Value</th>


                            </tr>
                        </thead>
                        @{
                            int sl = 0;

                            decimal ttlMasterLCValue = 0;
                            decimal ttlTBIssued = 0;
                            decimal ttlBTBLiabilites = 0;
                            decimal ttlBTBAcceptedValue = 0;
                            decimal ttlbTBLimit = 0;

                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                ttlMasterLCValue += item.MasterLCTotalValue;
                                ttlTBIssued += item.BTBIssued;
                                ttlBTBLiabilites += item.BTBLiabilites;
                                ttlBTBAcceptedValue += item.BTBAcceptedValue;
                                ttlbTBLimit += item.BTBLimit;
                                <tr>

                                    <td> @String.Format("{0:0}", item.UdNo) </td>
                                    <td>
                                        @String.Format("{0:0}", item.MasterLCTotalValue)
                                    </td>
                                    <td>
                                        @if (item.BTBLimit > item.BTBIssued)
                                        {
                                            @String.Format("{0:0}", item.BTBLimit)
                                        }
                                        else
                                        {
                                        <span style="color:red">
                                            @String.Format("{0:0}", item.BTBLimit)
                                        </span>
                                        }

                                    </td>
                                    <td>@String.Format("{0:0}", item.BTBIssued)</td>
                                    <td>@String.Format("{0:0}", item.BTBLiabilites) </td>
                                    <td>@String.Format("{0:0}", item.BTBAcceptedValue) </td>
                                </tr>
                            }



                        </tbody>
                        <tfoot style="border-top:thin;border-top-color:black">
                            <tr>
                                <th style="text-align:center;">Total</th>
                                <th style="text-align:center;">@String.Format("{0:0}", ttlMasterLCValue)</th>
                                <th style="text-align:center;">@String.Format("{0:0}", ttlbTBLimit)</th>
                                <th style="text-align:center;">@String.Format("{0:0}", ttlTBIssued)</th>
                                <th style="text-align:center;">@String.Format("{0:0}", ttlBTBLiabilites)</th>
                                <th style="text-align:center;">@String.Format("{0:0}", ttlBTBAcceptedValue)</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>









