﻿
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}




<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                    L/C wise BTB Limit
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:25%;text-align:center;">Master L/C No</th>
                                <th style="width:25%;text-align:center;">L/C Value</th>
                                <th style="width:25%;text-align:center;">BTB Amount</th>
                                <th style="width:25%;text-align:center;">BTB Limit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    RFTL/GEBR/19/01

                                </td>
                                <td>47634.00 </td>
                                <td>
                                    25725.5
                                </td>
                                <td>
                                    35725.5
                                </td>
                                <td>
                                    60%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    RFTL/GEBR/19/01

                                </td>
                                <td>1130423.21</td>
                                <td>
                                    813817.4075
                                </td>
                                <td>
                                    847817.4075
                                </td>
                                <td>
                                    60%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    866-IO-025778
                                </td>
                                <td>
                                    3139175.40
                                </td>
                                <td>
                                    2054381.55
                                </td>
                                <td>
                                    2354381.55
                                </td>
                                <td>
                                    60%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    RFTL/GEBR/18/11
                                </td>
                                <td>363862.66</td>
                                <td>
                                    271096.995
                                </td>
                                <td>
                                    272896.995
                                </td>


                            </tr>
                            <tr>
                                <td>
                                    RFTL/PMK/18/10
                                </td>
                                <td>3139175.40</td>
                                <td>
                                    1354300.55
                                </td>
                                <td>
                                    2354381.55
                                </td>
                                <td>
                                    60%
                                </td>

                            </tr>




                            <tr>
                                <td>
                                    786LC41801187
                                </td>
                                <td>363862.66</td>
                                <td>
                                    230896.995
                                </td>

                                <td>
                                    272896.995
                                </td>
                                <td>
                                    60%
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    LBW18IA100911
                                </td>
                                <td>273649.15 </td>
                                <td>
                                    201006.8625
                                </td>
                                <td>
                                    205236.8625
                                </td>
                                <td>
                                    60%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5948424284
                                </td>
                                <td>179850.00</td>
                                <td>
                                    101887.5
                                </td>
                                <td>
                                    134887.5
                                </td>
                                <td>
                                    60%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    600LCA1800354

                                </td>
                                <td>98384.00	</td>
                                <td>
                                    40788
                                </td>
                                <td>
                                    73788
                                </td>
                                <td>
                                    60%
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    786LC41800851

                                </td>
                                <td>1124928.64</td>
                                <td> 807696.48</td>
                                <td> 843696.48</td>
                                <td>
                                    60%
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>









