﻿@model Erp.Core.Services.MIS.VMMis_CashInHand

    @{
        Layout = "~/Views/Shared/_LayoutMobile.cshtml";
        decimal value = 0;
    }



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                    <h3>
                        Cash In Hand
                    </h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="tableX" class="table  table-striped" style="text-align:center">
                            <thead>
                                <tr>

                                    <th style="text-align:center">Head Name</th>
                                    <th style="text-align:center">Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    value += item.Value;
                                    <tr>
                                        <td>
                                            @item.Accounting_HeadName
                                        </td>

                                        <td>@String.Format("{0:0}", item.Value)</td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>                                   
                                    <th style="text-align:center">Total</th>
                                    <th style="text-align:center">@String.Format("{0:0}", value)</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>









