﻿@model Erp.Core.Services.MIS.VMMis_CMEarned


@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        CM Earned Report
                    </strong>
                </h3>

            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" style="text-align:center;">

                        <thead>
                            <tr>
                                <th style="text-align:center;" width="35%;">Month </th>
                                <th style="text-align:center;" width="35%">Qty</th>
                                <th style="text-align:center;" width="30%">CM Earned</th>
                            </tr>
                        </thead>
                        @{ decimal value = 0; decimal qty = 0;}
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                value += item.Value;
                                qty += item.Quantity;
                                <tr>
                                    <td>@item.Month/@item.Year</td>
                                    <td>@item.Quantity</td>
                                    <td>@String.Format("{0:0}", 0)</td>
                                </tr>
                            }
                        </tbody>


                        <tfoot>
                            <tr>
                                <th style="text-align:center;">TOTAL</th>
                                <th style="text-align:center;" width="35%;">
                                  @qty
                                </th>
                                <th style="text-align:center;" width="35%;">
                                    @String.Format("{0:0}", 0)
                                </th>
                            </tr>
                        </tfoot>


                    </table>


                </div>


            </div>
            <!-- /.box-body -->

        </div>

    </div>
</div>