﻿@model Erp.Core.Services.MIS.VMMis



@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";

}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
    #btnback {
        display: none
    }

    canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- small box -->
        <a href="~/Mobile/CMEarned">
            <div class="small-box bg-blue">
                <div class="box-header" style="color:white;text-align:center">
                    <strong>Current Month</strong>
                </div>
                <div class="inner" style="text-align:center">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td style="width:45%"><b>CM Earned</b></td>
                                <td style="width:10%"><b>:</b></td>
                                <td style="width:45%"><b>@String.Format("{0:0}", 0)</b></td>
                            </tr>
                            <tr>
                                <td><b>Production Qty</b></td>
                                <td><b>:</b></td>
                                <td>
                                    <b> @String.Format("{0:0}", Model.CMEarnedQty)</b>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>

            </div>
        </a>

    </div>

</div>

@*<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <a href="~/Mobile/CMEarned">
            <div class="small-box bg-blue">
                <div class="box-header" style="color:white;text-align:center">
                    @{
                        decimal currentAsset = Model.CashInHand + Model.CashAtBank;
                    }
                    <strong>Current Asset (@String.Format("{0:0}", currentAsset))</strong>
                </div>
                <div class="inner" style="text-align:center">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td style="width:45%"><b>Cash In Hand</b></td>
                                <td style="width:10%"><b>:</b></td>
                                <td style="width:45%"><b>@String.Format("{0:0}", Model.CashInHand)</b></td>
                            </tr>
                            <tr>
                                <td><b>Cash at Bank</b></td>
                                <td><b>:</b></td>
                                <td>
                                    <b> @String.Format("{0:0}", Model.CashAtBank)</b>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>

            </div>
        </a>

    </div>

</div>*@

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="box box-success">
            <div class="box-header with-border" style="text-align:center">
                @{
                    decimal currentAsset = Model.CashInHand + Model.CashAtBank;
                }
                <h3 class="box-title">
                    Current Asset Value : @String.Format("{0:0}", currentAsset)
                </h3>

                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div style="text-align:center" class="box-body">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <!-- small box -->
                    <a href="~/Mobile/CashInHand">
                        <div class="small-box bg-blue">
                            <div class="box-header" style="color:white;text-align:center">
                                <strong>Cash In Hand</strong>
                            </div>
                            <div class="inner" style="text-align:center">
                                @String.Format("{0:0}", Model.CashInHand)
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>

                        </div>
                    </a>

                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <!-- small box -->
                    <a href="~/Mobile/CashAtBank">
                        <div class="small-box bg-blue">
                            <div class="box-header" style="color:white;text-align:center">
                                <strong>Cash At Bank</strong>
                            </div>
                            <div class="inner" style="text-align:center">
                                @String.Format("{0:0}", Model.CashAtBank)

                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>

                        </div>
                    </a>

                </div>
            </div>
            <!-- /.box-body -->






        </div>


        <!-- /.box -->
    </div>

</div>

<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <!-- small box -->
        <a href="~/Mobile/Receivable">
            <div class="small-box bg-blue">
                <div class="box-header" style="color:white;text-align:center">
                    <strong>Receivable</strong>
                </div>
                <div class="inner" style="text-align:center">
                    @String.Format("{0:0}", Model.Receivable)

                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>

            </div>
        </a>

    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <!-- small box -->
        <a href="~/Mobile/Payable">
            <div class="small-box bg-blue">
                <div class="box-header" style="color:white;text-align:center;">
                    <strong> Payable</strong>
                </div>
                <div class="inner" style="text-align:center;">
                    @String.Format("{0:0}", Model.Payable)

                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>

            </div>
        </a>

    </div>

</div>


<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <a class="btn bg-blue" style="width:100%;" href="~/Mobile/BalanceSheet"><strong>Balance Sheet</strong></a>
        <!-- /.info-box -->
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <a class="btn bg-blue" style="width:100%;" href="~/Mobile/IncomeStatement"><strong>Income Statement</strong></a>

        <!-- /.info-box -->
    </div>
</div>
<br />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border" style="text-align:center;">
                <h3 class="box-title">Orders In Hand</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>

            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive table-striped">
                    <table class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:20%;text-align:center;">Buyer</th>
                                @*<th style="width:20%;text-align:center;">Final Delivery Date</th>*@
                                <th style="width:20%;text-align:center;">Quantity</th>
                                <th style="width:20%;text-align:center;">Order Value</th>
                                <th style="width:20%;text-align:center;">CM Value</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.VMMis_OrderConfirm.DataList)
                            {
                                <tr>


                                    <td><a href="~/Mobile/ExportOrderInHandDetails/@item.Common_BuyerFk">@item.Common_BuyerName</a></td>
                                    @*<td><span>@item.FinalDeliveryDate.ToString("yyyy/MM/d")</span></td>*@
                                    <td><span>@item.OrderQty</span></td>
                                    <td><span>@String.Format("{0:0}", item.OrderValue)</span></td>
                                    <td><span>@String.Format("{0:0}", item.CmValue)</span></td>

                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

                <div class="box-footer">
                    <a class="btn btn-primary" style="width:100%;" href="~/Mobile/ExportOrderInHand">See More >></a>

                </div>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
        </div>

    </div>
</div>



<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border" style="text-align:center;">
                <h3 class="box-title">BTB L/C Status</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive table-striped">
                    <table class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:45%;text-align:center;">BTB</th>
                                <th style="width:10%;text-align:center;"></th>
                                <th style="width:45%;text-align:center;">Value</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>BTB Limit</td>
                                <td>:</td>
                                <td>@String.Format("{0:0}", Model.BTBLimit)</td>
                            </tr>
                            <tr>
                                <td>BTB Issued</td>
                                <td>:</td>
                                <td>@String.Format("{0:0}", Model.BTBIssued)</td>
                            </tr>
                            <tr>
                                <td>BTB Liabilites</td>
                                <td>:</td>
                                <td>@String.Format("{0:0}", Model.BTBLiabilites)</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->

                <div class="box-footer">
                    <a class="btn btn-primary" style="width:100%;" href="~/Mobile/BtbLimit">Details >></a>

                </div>
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- small box -->
        <a href="~/Mobile/RawInventory">
            <div class="small-box bg-blue">
                <div class="box-header" style="color:white;text-align:center">
                    <strong>Inventory</strong>
                </div>
                <div class="inner" style="text-align:center">
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td style="width:45%"><b>Raw</b></td>
                                <td style="width:10%"><b>:</b></td>
                                <td style="width:45%"><b>@String.Format("{0:0}", Model.RawInventory)</b></td>
                            </tr>
                            <tr>
                                <td><b>WIP</b></td>
                                <td><b>:</b></td>
                                <td>
                                    <b> @String.Format("{0:0}", Model.WIPInventory)</b>
                                </td>
                            </tr>
                        </table>

                    </div>

                </div>

            </div>
        </a>

    </div>

</div>




<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border" style="text-align:center;">
                <h3 class="box-title">Shipment Status</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:15%;text-align:center;">Buyer</th>
                                <th style="width:10%;text-align:center;">Order</th>
                                <th style="width:15%;text-align:center;">Est. Finish Date</th>
                                <th style="width:15%;text-align:center;">Order Qty</th>
                                <th style="width:15%;text-align:center;">Due Qty</th>
                                <th style="width:15%;text-align:center;">Exfactory</th>
                                <th style="width:15%;text-align:center;">Realized Qty</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.VMMis_ShipmentStatus.DataList)
                            {
                                <tr>
                                    <td><a href="~/Mobile/ShipmentStatusBuyerWise/@item.Common_BuyerFk">@item.Common_BuyerName</a></td>
                                    <td>@item.Common_OrderNo</td>
                                    <td>@item.Date?.ToString("dd/MM/yy")</td>
                                    <td>@item.OrderQuantity</td>
                                    <td>@item.DueQuantity</td>
                                    <td>@item.Exfactory</td>
                                    <td>@item.DeliveredQuantity</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-primary" style="width:100%;" href="~/Mobile/OrderList">See More >></a>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
            <div class="box-header with-border" style="text-align:center;">
                <h3 class="box-title">Daily Production Status</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:15%;text-align:center;">Date</th>
                                <th style="width:15%;text-align:center;">Buyer</th>
                                <th style="width:10%;text-align:center;">Order</th>
                                <th style="width:10%;text-align:center;">SMV</th>
                                <th style="width:10%;text-align:center;">Knitting</th>
                                <th style="width:10%;text-align:center;">Dyeing</th>
                                <th style="width:10%;text-align:center;">Cutting</th>
                                <th style="width:10%;text-align:center;">Sewing</th>
                                <th style="width:10%;text-align:center;">Ironing</th>
                                <th style="width:10%;text-align:center;">Finishing</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.VMMis_DailyProduction.DataList)
                            {
                            <tr>

                                <td id="tdDate_@item.ID">
                                    @item.Date.ToString("dd/MM/yy")
                                </td>
                                <td id="tdCommonBuyerName_@item.ID">
                                    <input type="hidden" id="tdCommon_BuyerFk_@item.ID" value="@item.Common_BuyerFk" />
                                    @item.Common_BuyerName
                                </td>
                                <td id="tdCommonOrderNo_@item.ID">

                                    @item.Common_OrderNo
                                </td>
                                <td id="tdSMV_@item.ID">

                                    @item.SMV
                                </td>
                                <td>
                                    @{
                                        int knittingDone = item.KnittingDone;
                                        int knitting = item.Knitting;
                                        if (knittingDone >= knitting)
                                        {
                                            <span style="color:green" id="tdKnittingDone_@item.ID">
                                                @item.KnittingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdKnittingDone_@item.ID">
                                                @item.KnittingDone
                                            </span>
                                        }

                                    }

                                    <span id="tdKnitting_@item.ID">
                                        /@item.Knitting
                                    </span>
                                </td>
                                <td>
                                    @{
                                        int dyeingDone = item.DyeingDone;
                                        int dyeing = item.Dyeing;
                                        if (dyeingDone >= dyeing)
                                        {
                                            <span style="color:green" id="tdDyeingDone_@item.ID">
                                                @item.DyeingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdDyeingDone_@item.ID">
                                                @item.DyeingDone
                                            </span>
                                        }

                                    }
                                    <span style="color:black" id="tdDyeing_@item.ID">
                                        /@item.Dyeing
                                    </span>
                                </td>
                                <td>
                                    @{
                                        int cuttingDone = item.CuttingDone;
                                        int cutting = item.Cutting;
                                        if (cuttingDone >= cutting)
                                        {
                                            <span style="color:green" id="tdCuttingDone_@item.ID">
                                                @item.CuttingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdCuttingDone_@item.ID">
                                                @item.CuttingDone
                                            </span>
                                        }
                                    }
                                    <span id="tdCutting_@item.ID">
                                        /@item.Cutting
                                    </span>
                                </td>
                                <td>
                                    @{
                                        int sewingDone = item.SewingDone;
                                        int sewing = item.Sewing;
                                        if (sewingDone >= sewing)
                                        {
                                            <span style="color:green" id="tdSewingDone_@item.ID">
                                                @item.SewingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdSewingDone_@item.ID">
                                                @item.SewingDone
                                            </span>
                                        }
                                    }
                                    <span id="tdSewing_@item.ID">
                                        /@item.Sewing
                                    </span>

                                </td>
                                <td>
                                    @{
                                        int ironingDone = item.IroningDone;
                                        int ironing = item.Ironing;
                                        if (ironingDone >= ironing)
                                        {
                                            <span style="color:green" id="tdIroningDone_@item.ID">
                                                @item.IroningDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdIroningDone_@item.ID">
                                                @item.IroningDone
                                            </span>
                                        }

                                    }
                                    <span id="tdIroning_@item.ID">
                                        /@item.Ironing
                                    </span>

                                </td>
                                <td>
                                    @{
                                        int finishingDone = item.FinishingDone;
                                        int finishing = item.Finishing;
                                        if (sewingDone >= sewing)
                                        {
                                            <span style="color:green" id="tdFinishingDone_@item.ID">
                                                @item.FinishingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdFinishingDone_@item.ID">
                                                @item.FinishingDone
                                            </span>
                                        }

                                    }

                                    <span id="tdFinishing_@item.ID">
                                        /@item.Finishing
                                    </span>

                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-primary" style="width:100%;" href="~/Mobile/ProductionReport">See More >></a>

            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-success">
            <div class="box-header with-border" style="text-align:center;">
                <h3 class="box-title"><strong>Attendance Report</strong></h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="text-align:center;width:15%">
                                    Date
                                </th>
                                <th style="text-align:center;width:15%">
                                    Today's duty hour
                                </th>
                                <th style="text-align:center;width:15%">
                                    Total Employee
                                </th>
                                <th style="text-align:center;width:15%">
                                    Present
                                </th>
                                <th style="text-align:center;width:15%">
                                    On Leave
                                </th>
                                <th style="text-align:center;width:15%">
                                    Off
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.VMMis_DailyAttendance.DataList)
                            {
                                <tr>
                                    <td>
                                        @Html.ActionLink(item.Date.ToString("dd/MM/yy"), "DepartmentWiseAttendanceReport", "Mobile", new { id = item.Date.ToString("yyyy-MM-d") })

                                    </td>
                                    <td>@item.WorkingHour</td>
                                    <td>@item.TotalEmployee</td>
                                    <td>@item.Present</td>
                                    <td>@item.OnLeave</td>
                                    <td>@item.Off</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <a class="btn btn-primary" style="width:100%;" href="~/Mobile/AttendanceReport">See More >></a>

            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-info">
            <!-- /.box-header -->
            <div class="box-body">
                <div style="width:100%;">
                    <canvas id="canvas"></canvas>
                </div>
                <br>
                <br>

                <script>


                    var lebel = [];
                    var Inflow = [];
                    var Outflow = [];
                    var RevenueProjection = [];
                    var ExpenditureProjection = [];

                @foreach (var item in Model.VMMis_FinancialStatus.DataList)
                {
                     <text>
                         lebel.push(['@item.Month/@item.Year']);
                         Inflow.push(['@Convert.ToString(item.Inflow)']);
                         Outflow.push(['@Convert.ToString(item.Outflow)']);
                         RevenueProjection.push(['@Convert.ToString(item.RevenueProjection)']);
                         ExpenditureProjection.push(['@Convert.ToString(item.ExpenditureProjection)']);
                     </text>
                }







                   // var MONTHS = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
                    var config = {
                        type: 'line',
                        data: {
                            labels: lebel,
                            datasets: [{
                                label: 'Inflow', //Export Bill Realization
                                backgroundColor: 'red',
                                borderColor: 'red',
                                data: Inflow,
                                fill: false,
                            }, {
                                label: 'Outflow',
                                fill: false,
                                backgroundColor: 'blue',
                                borderColor: 'blue',
                                    data: Outflow,
                            },
                            {
                                label: 'Revenue Projection',
                                backgroundColor: 'yellow',
                                borderColor: 'yellow',
                                data: RevenueProjection,
                                fill: false,
                            }, {
                                label: 'Expenditure Projection',
                                backgroundColor: 'green',
                                borderColor: 'green',
                                data: ExpenditureProjection,
                                fill: false,
                            }]
                        },
                        options: {
                            responsive: true,
                            title: {
                                display: true,
                                text: 'Financial Status'
                            },
                            tooltips: {
                                mode: 'index',
                                intersect: false,
                            },
                            hover: {
                                mode: 'nearest',
                                intersect: true
                            },
                            scales: {
                                xAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Month'
                                    }
                                }],
                                yAxes: [{
                                    display: true,
                                    scaleLabel: {
                                        display: true,
                                        labelString: 'Value'
                                    }
                                }]
                            }
                        }
                    };

                    window.onload = function () {
                        var ctx = document.getElementById('canvas').getContext('2d');
                        window.myLine = new Chart(ctx, config);
                    };





                </script>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
</div>


@*<div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="box box-info">
                <div class="box-header with-border" style="text-align:center;">
                    <h3 class="box-title">T&A Alert</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table table-striped" style="text-align:center">
                            <thead>
                                <tr>
                                    <th style="width:20%;text-align:center;">Step</th>
                                    <th style="width:80%;text-align:center;">Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Sample Approval
                                    </td>
                                    <td>
                                        <a href="~/Mobile/TimeAndActionAlert">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                                    <span>92%</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Knitting/ Weaving
                                    </td>
                                    <td>
                                        <a href="~/Mobile/TimeAndActionAlert">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                                    <span>80%</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Dyeing
                                    </td>
                                    <td>

                                        <a href="~/Mobile/TimeAndActionAlert">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">
                                                    <span>55%</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Sewing
                                    </td>
                                    <td>
                                        <a href="~/Mobile/TimeAndActionAlert">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                                    <span>85%</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Cutting
                                    </td>
                                    <td>
                                        <a href="~/Mobile/TimeAndActionAlert">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                                    <span>40%</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Finishing
                                    </td>
                                    <td>
                                        <a href="~/Mobile/TimeAndActionAlert">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100" style="width: 27%">
                                                    <span>27%</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Shipping
                                    </td>
                                    <td>
                                        <a href="~/Mobile/TimeAndActionAlert">
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="38" aria-valuemin="0" aria-valuemax="100" style="width: 38%">
                                                    <span>38%</span>
                                                </div>
                                            </div>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>*@

