﻿@model Erp.Core.Services.MIS.VMMis_DailyAttendance
@{

    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewData["Title"] = "AttendanceReport";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                    Department wise Attendance Report
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableX" class="table  table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="text-align:center">
                                    Date
                                </th>
                                <th style="text-align:left">
                                    Department Name
                                </th>
                                <th style="text-align:center">
                                    Today's duty hour
                                </th>
                                <th style="text-align:center">
                                    Total Employee
                                </th>
                                <th style="text-align:center">
                                    Present
                                </th>                               
                                <th style="text-align:center">
                                    On Leave
                                </th>
                                <th style="text-align:center">
                                    Off
                                </th>

                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td>@item.Date.ToString("dd/MM/yy")</td>
                                <td style="text-align:left;">@item.Common_DepartmenName</td>
                                <td>@item.WorkingHour</td>
                                <td>@item.TotalEmployee</td>
                                <td>@item.Present</td>
                                
                                <td>@item.OnLeave</td>
                                <td>@item.Off</td>

                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="box-footer">

            </div>
        </div>
    </div>
</div>









