﻿@model Erp.Core.Services.MIS.VMMis_OrderConfirm

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                   Orders in hand of @Model.Common_BuyerName
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:30%;text-align:center;">Order No</th>
                                <th style="width:20%;text-align:center;">Final Delivery Date</th>
                                <th style="width:25%;text-align:center;">Order Value</th>
                                <th style="width:25%;text-align:center;">CM Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                               
                                <td>@item.Common_OrderNo </td>
                                <td><span>@item.FinalDeliveryDate?.ToString("MM/dd/yyyy")</span></td>
                                <td><span>@String.Format("{0:0}", item.OrderValue)</span></td>
                                <td><span>@String.Format("{0:0}", item.CmValue)</span></td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>









