﻿@model Erp.Core.Services.MIS.VMMis_OrderConfirm

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                    Orders in hand
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:20%;text-align:center;">Buyer</th>
                                <th style="width:20%;text-align:center;">Final Delivery Date</th>
                                <th style="width:20%;text-align:center;">Quantity</th>
                                <th style="width:20%;text-align:center;">Order Value</th>
                                <th style="width:20%;text-align:center;">CM Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td><a href="~/Mobile/ExportOrderInHandDetails/@item.Common_BuyerFk">@item.Common_BuyerName</a></td>
                                <td><span>@item.FinalDeliveryDate?.ToString("dd/MM/yy")</span></td>
                                <td><span>@item.OrderQty</span></td>
                                <td><span>@String.Format("{0:0}", item.OrderValue)</span></td>
                                <td><span>@String.Format("{0:0}", item.CmValue)</span></td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>









