﻿@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        Vraphical View
                    </strong>
                </h3>
            </div>
            <div class="box-body">
                <h3 style="text-align:center">
                    <span>
                        Order Status
                    </span>
                </h3>
                
               
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <canvas id="canvas"></canvas>
                </div>
                

            </div>


            <div class="box-body">
                <h3  style="text-align:center">
                    <span>
                        Company Progress Yearly
                    </span>
                </h3>

                
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div id="canvas-holder">
                        <canvas id="chart-area"/>


                    </div>
                </div>
               

            </div>
        </div>
    </div>
</div>

    <script>
        var randomScalingFactor = function () { return Math.round(Math.random() * 100) };

        var barChartData = {
            labels: ["Buyer 1", "Buyer 2", "Buyer 3", "Buyer 4", "Buyer 5", "Buyer 6", "Buyer 7", "Buyer 8", "Buyer 9", "Buyer 10", "Buyer 11", "Buyer 12"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data: [58000, 40000, 50000, 60000, 56000, 37000, 50000, 20000, 53000, 70000, 55000, 80000]
                },
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,0.8)",
                    highlightFill: "rgba(151,187,205,0.75)",
                    highlightStroke: "rgba(151,187,205,1)",
                
                    data: [50000, 30000, 48000, 53000, 50000, 30000, 30000, 11000, 50000, 65000, 52000, 49000]
                }
            ]

        }

        var options = {
            tooltips: {
                callbacks: {
                    label: function (tooltipItem) {
                        return "$" + Number(tooltipItem.yLabel) + " and so worth it !";
                    }
                }
            },
            title: {
                display: true,
                text: 'Ice Cream Truck',
                position: 'bottom'
            }
        };
      
             ///////////////////////
        var pieData = [
            {
                value: 52080,
                color: "#F7464A",
                highlight: "#FF5A5E",
                label: "2018"
            },
            {
                value: 40600,
                color: "#46BFBD",
                highlight: "#5AD3D1",
                label: "2019"
            },
            {
                value: 50200,
                color: "#FDB45C",
                highlight: "#FFC870",
                label: "2020"
            },
            {
                value: 50900,
                color: "#949FB1",
                highlight: "#A8B3C5",
                label: "2021"
            },
            {
                value: 56000,
                color: "#4D5360",
                highlight: "#616774",
                label: "2022"
            }

        ];



        window.onload = function () {
            var ctxBar = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctxBar).Bar(barChartData, {
                responsive: true

            });
            var ctxPai = document.getElementById("chart-area").getContext("2d");
            window.myPie = new Chart(ctxPai).Pie(pieData, {
                responsive: true

            });
        };



    </script>
