﻿@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        Finished goods in Stock
                    </strong>
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableX" class="table table-bordered">

                        <thead>
                            <tr>
                                <th>
                                    Order
                                </th>
                                <th>
                                    Item
                                </th>
                                <th>
                                    Qty
                                </th>
                                <th style="text-align:right">
                                    Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    SP7875
                                </td>
                                <td>
                                    Item 1
                                </td>
                               
                               <td>367875</td>
                                <td style="text-align:right">
                                    $30.00
                                </td>
                                
                            </tr>
                            <tr>
                                <td>
                                    TR87680
                                </td>
                                <td>
                                    Item 2
                                </td>
                                <td>607875</td>
                                <td style="text-align:right">
                                    $1,200.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    MK676554
                                </td>
                                <td>
                                    Item 3
                                </td>
                                <td>867875</td>
                                <td style="text-align:right">
                                    $50.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    YE98767
                                </td>
                                <td>
                                    Item 4
                                </td>
                                <td>627875</td>
                                <td style="text-align:right">
                                    $600.00
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    XR23423
                                </td>
                                <td>
                                    Item 5
                                </td>
                                <td>678475</td>
                                <td style="text-align:right">
                                    $312.00
                                </td>
                            </tr>
                        </tbody>
                        @*<tfoot>
                            <tr>
                                <th colspan="5" style="text-align:center">Total</th>
                                <th style="text-align:right">
                                    112
                                </th>
                                <th></th>
                                <th></th>
                                <th style="text-align:right">
                                    $2,762.00
                                </th>
                            </tr>
                        </tfoot>*@


                    </table>
                </div>


            </div>
            <!-- /.box-body -->

        </div>

    </div>
</div>

