﻿@*@model Erp.Core.Services.MIS.VMMis_IncomeStatement*@

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
    ViewData["Title"] = "Comprehensive Income Report";
}

<section class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    Comprehensive Income:
                    
                </h3>
            </div>
            <div class="box-body">
                @*<div class="row">
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" style="width:100%" data-toggle="modal" data-target="#exampleModal1"> Comprehensive Income </button>
                    </div>
                </div>*@
                @if (Model.FromDate.ToString("MM/dd/yyyy") != "01/01/0001")
                {
                    @*<div class="row float:right">
                        <div class="col-md-8">
                            <b>
                                <label id="SearchLabel">
                                    Date :From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                                </label>
                            </b>
                        </div>
                        <div class="col-md-4 text-right">

                            @Html.ActionLink(" Print", "ComprehensiveIncome", new { fromdate = Model.FromDate.ToString("MM/dd/yyyy"), todate = Model.ToDate.ToString("MM/dd/yyyy") }, new { @class = "glyphicon glyphicon-print btn btn-info btn-md", @target = "_blank" });

                        </div>
                    </div>*@
                    <br />
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableReport" class="table table-bordered table-condensed">
                            <thead>
                                <tr>
                                    <th style="text-align: center"><strong>Particulars</strong></th>
                                    <th style="text-align: right"><strong>Amount In Taka</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td style="text-align: left">
                                        Export Sales
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ExportSales)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Subcontract Income
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.SubContractIncome)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>
                                            Total Revenue Income
                                        </strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalRevenueIncome)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Cost of Goods Sold
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.CostofGoodsSold)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>Gross Profit</strong>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.GrossProfit)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>
                                            Operating expenses
                                        </strong>
                                    </td>
                                    <td style="text-align: left"></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Administrative Expenses
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.AdministrativeExpense)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Selling & Distribution Expenses
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.SellingAndDistribuionExpense)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.TotalOperatingExpense)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left"><b>Operating Profit</b></td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.OperatingProfit)</strong></td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        Financial Expenses
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.FinancialExpense)</strong></td>
                                </tr>
                                @*<tr>
                                        <td style="text-align: left">
                                            <b>Profit Before Tax</b>
                                        </td>
                                        <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ProfitBeforeTax</strong></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: left">
                                            Income Tax Expenses
                                        </td>
                                        <td style="text-align: right">@String.Format("{0:0,0.00}", Model.IncomeTaxExpense</td>
                                    </tr>*@
                                <tr>
                                    <td style="text-align: left">
                                        <b>Profit for the Year</b>
                                    </td>
                                    <td style="text-align: right"><strong>@String.Format("{0:0,0.00}", Model.ProfitfortheYearafterTax)</strong></td>
                                </tr>
                                @*<tr>
                                        <td style="text-align: left">
                                            Accumulated Depreciation
                                        </td>
                                        <td style="text-align: right">
                                            @String.Format("{0:0,0.00}", Model.AccumulatedDepreciation)
                                        </td>
                                    </tr>*@
                                <tr>
                                    <td style="text-align: left">
                                        Other Comprehensive Income
                                    </td>
                                    <td style="text-align: right">
                                        @String.Format("{0:0,0.00}", Model.OtherComprehensiveIncome)
                                    </td>
                                </tr>
                                <tr>
                                    <td style="text-align: left">
                                        <strong>
                                            Total Comprehensive Income
                                        </strong>
                                    </td>
                                    <td style="text-align: right">
                                        <strong>
                                            @String.Format("{0:0,0.00}", Model.TotalComprehensiveIncome)
                                        </strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
            </div>
            <div class="box-footer">
            </div>
        </div>
    </div>
</section>


@*<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        Income Statement
                    </strong>
                </h3>
            </div>
            <div class="box-body">
                <div class="responsive-table">
                    <table id="tableComprehensiveIncome" class="table table-bordered table-condensed">
                        <thead>
                            <tr>
                                <th style="text-align: center"><strong>Particulars</strong></th>
                                <th style="float:right"><strong>Amount In Taka</strong></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: left">
                                    Export Sales
                                </td>
                                <td style="text-align: right"><strong>@Model.DataList.Where(x => x.BaseHeadId == 1306 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault()</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Subcontract Income
                                </td>
                                <td style="text-align: right"><strong>@Model.DataList.Where(x => x.BaseHeadId == 1307 && x.ChartTableId == 2).Select(x => x.Value).FirstOrDefault()</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Other comprehensive income
                                </td>
                                <td style="text-align: right"><strong>@Model.DataList.Where(x => x.BaseHeadId == 11 && x.ChartTableId == 1).Select(x => x.Value).FirstOrDefault()</strong></td>
                            </tr>
                          
                            <tr>
                                <td style="text-align: left">
                                    <strong>
                                        Total Revenue Income
                                    </strong>
                                </td>
                                <td style="text-align: right"><strong>@Model.TotalRevenueIncome</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Cost of Goods Sold
                                </td>
                                <td style="text-align: right"><strong>@Model.CostofGoodsSold</strong></td>
                            </tr>
                          
                            <tr>
                                <td style="text-align: left">
                                    <strong>
                                        Operating expenses
                                    </strong>
                                </td>
                                <td style="text-align: left"></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Administrative Expenses
                                </td>
                                <td style="text-align: right"><strong>@Model.DataList.Where(x => x.BaseHeadId == 13 && x.ChartTableId == 1).Select(x => x.Value).FirstOrDefault()</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Selling & Distribution Expenses
                                </td>
                                <td style="text-align: right"><strong>@Model.DataList.Where(x => x.BaseHeadId == 14 && x.ChartTableId == 1).Select(x => x.Value).FirstOrDefault()</strong></td>
                            </tr>
                            <tr>
                                <td style="text-align: left">
                                    Financial Expenses
                                </td>
                                <td style="text-align: right"><strong>@Model.DataList.Where(x => x.BaseHeadId == 15 && x.ChartTableId == 1).Select(x => x.Value).FirstOrDefault()</strong></td>
                            </tr>
                           
                            <tr>
                                <td style="text-align: left">
                                    <strong>
                                        Total Expense
                                    </strong>
                                </td>
                                <td style="text-align: right">
                                    <strong>
                                        @Model.TotalExpense
                                    </strong>
                                </td>
                            </tr>
                            
                            <tr>
                                <td style="text-align: left">
                                    <strong>
                                        Net Profit
                                    </strong>
                                </td>
                                <td style="text-align: right">
                                    <strong>
                                        @Model.NetProfit
                                    </strong>
                                </td>
                            </tr>
                            @foreach (var item in Model.DataList.Where(x => x.BaseHeadId == 0))
                            {
                                <tr>
                                    <td style="text-align: left">
                                        @item.Accounting_HeadName
                                    </td>
                                    <td style="text-align: right">@String.Format("{0:0,0.00}", item.Value)</td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>


            </div>

        </div>

    </div>
</div>*@


