﻿@model Erp.Core.Services.Home.VMLogin
@{Layout = null;
}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>B ERP | Log in</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <link href="~/style/Site.css" rel="stylesheet" />
</head>
@using (Html.BeginForm("Index", "Mobile", FormMethod.Post, new { id = "Index", @class = "formValidator" }))
{
    <html>
    <body class="hold-transition login-page">
        <div class="login-box">
            @*<div class="login-logo">
                    <a href="../../index2.html"><b>Admin</b>LTE</a>
                </div>*@
            <!-- /.login-logo -->

            <div class="login-box-body1">

                <div class="box box-widget widget-user">
                    <!-- Add the bg color to the header using any of the bg-* classes -->
                    <div class="widget-user-header bg-aqua-active">
                        <h3 class="widget-user-username text-center">B ERP</h3>
                    </div>
                    <div class="widget-company-image">
                        <img class="img-circle" src="~/content/bLogo.jpg" alt="User Avatar">
                    </div>
                    <div class="login-box-body">
                        <p class="login-box-msg a">Sign in to start your session</p>
                        <form action="~/Home/Login" method="post">
                            @*<div class="form-group has-feedback">
                                    <input type="email" class="form-control" placeholder="Email">
                                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                                </div>*@
                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(model => model.UserName, new { id = "UserName", placeholder = "User Name", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>

                            <div class="form-group has-feedback">
                                @Html.TextBoxFor(model => model.Password, new { id = "Password", placeholder = "Password", type = "password", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                @*<input type="password" class="form-control" placeholder="Password">*@
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember Me
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                        @*<a href="#">I forgot my password</a><br>*@
                    </div>
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="description-block">

                                    <strong> &copy; <a href="B">B ERP</a></strong>
                                </div>
                                <!-- /.description-block -->
                            </div>

                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                </div>
            </div>
            <!-- /.login-box-body -->
        </div>
    </body>
</html>
}

<!-- /.login-box -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-checkbox/1.5.0/js/bootstrap-checkbox.js"></script>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $(':checkbox').checkboxpicker();
        });
    </script>
}
