﻿@model Erp.Core.Services.MIS.VMMis_DailyProduction

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        Daily Production Status
                    </strong>
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableX" class="table  table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:15%;text-align:center;">Date</th>
                                <th style="width:15%;text-align:center;">Buyer</th>
                                <th style="width:10%;text-align:center;">Order No</th>
                                <th style="width:10%;text-align:center;">SMV</th>
                                <th style="width:10%;text-align:center;">Knitting</th>
                                <th style="width:10%;text-align:center;">Dyeing</th>
                                <th style="width:10%;text-align:center;">Cutting</th>
                                <th style="width:10%;text-align:center;">Sewing</th>
                                <th style="width:10%;text-align:center;">Ironing</th>
                                <th style="width:10%;text-align:center;">Finishing</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td id="tdDate_@item.ID">
                                    @item.Date.ToString("dd/MM/yy")
                                </td>
                                <td id="tdCommonBuyerName_@item.ID">
                                    <input type="hidden" id="tdCommon_BuyerFk_@item.ID" value="@item.Common_BuyerFk" />
                                    @item.Common_BuyerName
                                </td>
                                <td id="tdCommonOrderNo_@item.ID">

                                    @item.Common_OrderNo
                                </td>
                                <td id="tdSMV_@item.ID">

                                    @item.SMV
                                </td>
                                <td>
                                    @{
                                        int knittingDone = item.KnittingDone;
                                        int knitting = item.Knitting;
                                        if (knittingDone >= knitting)
                                        {
                                            <span style="color:green" id="tdKnittingDone_@item.ID">
                                                @item.KnittingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdKnittingDone_@item.ID">
                                                @item.KnittingDone
                                            </span>
                                        }

                                    }

                                    <span id="tdKnitting_@item.ID">
                                        /@item.Knitting
                                    </span>


                                </td>
                                <td>
                                    @{
                                        int dyeingDone = item.DyeingDone;
                                        int dyeing = item.Dyeing;
                                        if (dyeingDone >= dyeing)
                                        {
                                            <span style="color:green" id="tdDyeingDone_@item.ID">
                                                @item.DyeingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdDyeingDone_@item.ID">
                                                @item.DyeingDone
                                            </span>
                                        }

                                    }
                                    <span style="color:black" id="tdDyeing_@item.ID">
                                        /@item.Dyeing
                                    </span>

                                </td>
                                <td>
                                    @{
                                        int cuttingDone = item.CuttingDone;
                                        int cutting = item.Cutting;
                                        if (cuttingDone >= cutting)
                                        {
                                            <span style="color:green" id="tdCuttingDone_@item.ID">
                                                @item.CuttingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdCuttingDone_@item.ID">
                                                @item.CuttingDone
                                            </span>
                                        }

                                    }

                                    <span id="tdCutting_@item.ID">
                                        /@item.Cutting
                                    </span>


                                </td>
                                <td>
                                    @{
                                        int sewingDone = item.SewingDone;
                                        int sewing = item.Sewing;
                                        if (sewingDone >= sewing)
                                        {
                                            <span style="color:green" id="tdSewingDone_@item.ID">
                                                @item.SewingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdSewingDone_@item.ID">
                                                @item.SewingDone
                                            </span>
                                        }

                                    }

                                    <span id="tdSewing_@item.ID">
                                        /@item.Sewing
                                    </span>

                                </td>
                                <td>
                                    @{
                                        int ironingDone = item.IroningDone;
                                        int ironing = item.Ironing;
                                        if (ironingDone >= ironing)
                                        {
                                            <span style="color:green" id="tdIroningDone_@item.ID">
                                                @item.IroningDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdIroningDone_@item.ID">
                                                @item.IroningDone
                                            </span>
                                        }

                                    }
                                    <span id="tdIroning_@item.ID">
                                        /@item.Ironing
                                    </span>

                                </td>
                                <td>
                                    @{
                                        int finishingDone = item.FinishingDone;
                                        int finishing = item.Finishing;
                                        if (sewingDone >= sewing)
                                        {
                                            <span style="color:green" id="tdFinishingDone_@item.ID">
                                                @item.FinishingDone
                                            </span>
                                        }
                                        else
                                        {
                                            <span style="color:red" id="tdFinishingDone_@item.ID">
                                                @item.FinishingDone
                                            </span>
                                        }

                                    }
                                    <span id="tdFinishing_@item.ID">
                                        /@item.Finishing
                                    </span>

                                </td>
                            </tr>

                            }

                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->

        </div>

    </div>
</div>