﻿@model Erp.Core.Services.MIS.VMMis_RawMaterials


@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        RAW Material in Stock
                    </strong>
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Category
                                </th>
                                <th style="text-align:center">
                                    Raw Inventory Value
                                </th>

                                <th style="text-align:center">
                                    WIP Inventory Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>

                                    <td>
                                       @item.Common_RawCategoryName
                                    </td>
                                    <td style="text-align:center">
                                        @String.Format("{0:0}", item.RawValue)
                                      
                                    </td>

                                    <td style="text-align:center">
                                        @String.Format("{0:0}", item.WIPValue)
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>
            <!-- /.box-body -->

        </div>

    </div>
</div>

