﻿@model Erp.Core.Services.MIS.VMMis_AccountsReceivable

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        Accounts Receivable Ledger
                    </strong>
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered" style="text-align:center">

                        <thead>
                            <tr>

                                <th style="text-align:center">Buyer</th>
                                <th style="text-align:center">Date</th>
                                <th style="text-align:center">Total Amount</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@item.Common_BuyerName</td>
                                    <td>@item.Date.ToString("dd/MM/yy") </td>
                                    <td>@String.Format("{0:0}", item.Value)</td>
                                </tr>
                            }
                        </tbody>





                    </table>
                </div>


            </div>
            <!-- /.box-body -->

        </div>

    </div>
</div>