﻿@model Erp.Core.Services.MIS.VMMis_ShipmentStatus

@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        Shipment Status of @Model.Common_BuyerName
                    </strong>
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped" style="text-align:center">
                        <thead>
                            <tr>
                                <th style="width:20%;text-align:center;">Order</th>
                                <th style="width:20%;text-align:center;">Est. Finish Date</th>
                                <th style="width:15%;text-align:center;">Order Qty</th>
                                <th style="width:15%;text-align:center;">Due Qty</th>
                                <th style="width:15%;text-align:center;">Exfactory</th>
                                <th style="width:15%;text-align:center;">Realized Qty</th>
                            </tr>

                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@item.Common_OrderNo</td>
                                    <td>@item.Date?.ToString("dd/MM/yy")</td>
                                    <td>@item.OrderQuantity</td>
                                    <td>@item.DueQuantity</td>
                                    <td>@item.Exfactory</td>
                                    <td>@item.DeliveredQuantity</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            </div>
            <!-- /.box-body -->

        </div>

    </div>
</div>