﻿
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                    Time And Action
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table" style="text-align:center">
                        <thead>
                            <tr>

                                <th style="width:16%;text-align:center;">Order No</th>
                                <th style="width:12%;text-align:center;">1</th>
                                <th style="width:12%;text-align:center;">2</th>
                                <th style="width:12%;text-align:center;">3</th>
                                <th style="width:12%;text-align:center;">4</th>
                                <th style="width:12%;text-align:center;">5</th>
                                <th style="width:12%;text-align:center;">6</th>
                                <th style="width:12%;text-align:center;">7</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th rowspan="2">
                                   P8765678
                                </th>
                                <td colspan="4" style="background-color:blue"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="4" style="background-color:red"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                   K87645677

                                </th>
                                <td></td>
                                <td></td>
                                <td colspan="4" style="background-color:blue"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td colspan="4" style="background-color:red"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                   P09876567
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" style="background-color:blue"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="3" style="background-color:red"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    T5678765
                                </th>
                                <td></td>
                                <td></td>
                                <td colspan="3" style="background-color:blue"></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="4" style="background-color:red"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    U56788765
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="3" style="background-color:blue"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="3" style="background-color:red"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                   E987667098
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" style="background-color:blue"></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color:red"></td>

                            </tr>
                            <tr>
                                <th rowspan="2">
                                   B4567765
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color:blue"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>