﻿
@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            <div class="box-header" style="background-color:#6495ED;color:white;text-align:center;">
                <h3>
                    Time And Action
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered" style="text-align:center">
                        <thead>
                            <tr>

                                <th style="width:16%;text-align:center;"></th>
                                <th style="width:12%;text-align:center;">1</th>
                                <th style="width:12%;text-align:center;">2</th>
                                <th style="width:12%;text-align:center;">3</th>
                                <th style="width:12%;text-align:center;">4</th>
                                <th style="width:12%;text-align:center;">5</th>
                                <th style="width:12%;text-align:center;">6</th>
                                <th style="width:12%;text-align:center;">7</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th rowspan="2">
                                    Sample Approval (03/May)
                                </th>
                                <td colspan="4" style="background-color:blue"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td colspan="4" style="background-color:green"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    Knitting (03/May)

                                </th>
                                <td></td>
                                <td></td>
                                <td colspan="4" style="background-color:blue"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td colspan="4" style="background-color:red"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    Dyeing (03/May)
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" style="background-color:blue"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="3" style="background-color:green"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    Cutting (03/May)
                                </th>
                                <td></td>
                                <td></td>
                                <td colspan="3" style="background-color:blue"></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="4" style="background-color:red"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    Sewing (03/May)
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="3" style="background-color:blue"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="3" style="background-color:green"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <th rowspan="2">
                                    Finishing (03/May)
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td colspan="2" style="background-color:blue"></td>

                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color:green"></td>

                            </tr>
                            <tr>
                                <th rowspan="2">
                                    Shipping (03/May)
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td style="background-color:blue"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>