﻿@{
    Layout = "~/Views/Shared/_LayoutMobile.cshtml";
}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="box box-primary">
            <div class="box-header" style="background-color:#6495ED;color:white;">
                <h3 style="text-align:center;">
                    <strong>
                        Stock Work in Progress
                    </strong>
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table table-bordered">

                        <thead>
                            <tr>

                                <th>
                                    Name
                                </th>
                                <th>
                                    Category
                                </th>
                                <th>
                                    Available
                                </th>
                                <th>
                                    Time Checked
                                </th>
                                <th>
                                    Unit Price
                                </th>
                                <th>
                                    Inventory Value
                                </th>
                                <th>
                                    Reorder Point
                                </th>
                                <th>
                                    Movement Date
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Avocado
                                </td>
                                <td>
                                    Groceries
                                </td>
                                <td style="text-align:right">
                                    70
                                </td>
                                <td>
                                    2018-04-30 21:53
                                </td>
                                <td style="text-align:right">
                                    $1.00
                                </td>
                                <td style="text-align:right">
                                    $70.00
                                </td>
                                <td style="text-align:right">
                                    29
                                </td>
                                <td style="text-align:right">
                                    30-1-2019

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cantaloupe
                                </td>
                                <td>
                                    Groceries
                                </td>
                                <td style="text-align:right">
                                    231

                                </td>
                                <td>
                                    2018-04-30 21:53
                                </td>
                                <td style="text-align:right">
                                    $1.50

                                </td>
                                <td style="text-align:right">
                                    $346.50

                                </td>
                                <td style="text-align:right">
                                    231

                                </td>
                                <td style="text-align:right">
                                    30-1-2019


                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lotion
                                </td>
                                <td>
                                    Cosmetics
                                </td>
                                <td style="text-align:right">
                                    151
                                </td>
                                <td>
                                    2014-10-18 17:15
                                </td>
                                <td style="text-align:right">
                                    $8.50
                                </td>
                                <td style="text-align:right">
                                    $1,283.50
                                </td>
                                <td style="text-align:right">
                                    114
                                </td>
                                <td style="text-align:right">
                                    30-1-2019

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Toothpaste
                                </td>
                                <td>
                                    Cosmetics
                                </td>
                                <td style="text-align:right">
                                    177
                                </td>
                                <td>
                                    2018-04-30 20:11
                                </td>
                                <td style="text-align:right">
                                    $2.50
                                </td>
                                <td style="text-align:right">
                                    $442.50
                                </td>
                                <td style="text-align:right">
                                    158
                                </td>
                                <td style="text-align:right">
                                    30-1-2019

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pain Reliever

                                </td>
                                <td>
                                    Pharmacy
                                </td>
                                <td style="text-align:right">
                                    38
                                </td>
                                <td>
                                    2014-10-18 17:15
                                </td>
                                <td style="text-align:right">
                                    $6.75
                                </td>
                                <td style="text-align:right">
                                    $256.50

                                </td>
                                <td style="text-align:right">
                                    39
                                </td>
                                <td style="text-align:right">
                                    30-1-2019

                                </td>
                            </tr>
                        </tbody>



                    </table>
                </div>


            </div>
            <!-- /.box-body -->

        </div>

    </div>
</div>

