﻿
@{
    ViewData["Title"] = "Dashborad";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <section class="content-header">

            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Dashboard</li>
            </ol>
        </section>
        <div>
            
             @await Component.InvokeAsync("DashboardUI")
        </div>
    </div>
</section>
