﻿@model Erp.Core.Services.Merchandising.VMStyleView

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-info">
            <div class="box-header custom bg-info">
                <h4>
                    BOM Category : @Model.vmBOM.RawCategory
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="BomItemUpdate_@Model.vmBOM.Common_RawCategoryFK"></div>
                <div id="BomItemCreate_@Model.vmBOM.Common_RawCategoryFK">
                    @await Component.InvokeAsync("BOMItemUI", new { ID = 0, RawCategoryId = Model.vmBOM.Common_RawCategoryFK, StyleId = Model.vmBOM.Merchandising_StyleFK, TotalPeice = Model.vmBOM.TotalPiece, TypeID = 4 })
                </div>
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th>Sub-Category</th>
                                <th>Raw Item</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Consumption (Per Dz)</th>
                                <th>Consumption Qty</th>
                                <th>Required Qty</th>
                                <th>Tolerance (%)</th>
                                <th>Item Cost (Per Unit)</th>
                                <th>Total Cost</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody class="bg-cyan">
                            @foreach (var item in Model.vmBOM.DataList)
                            {
                            <tr>
                                <td>@(++sl).</td>
                                <td>@item.RawSubCategory</td>
                                <td>@item.RawItem</td>
                                <td>@item.Color</td>
                                <td>@item.Size</td>
                                <td>@item.Consumption</td>
                                <td>@item.ConRequiredQty</td>
                                <td>@item.RequiredQty @item.UnitName</td>
                                <td>@item.Tolerance</td>
                                <td>@item.Currency @item.UnitPrice</td>
                                <td>@item.Currency @item.TotalPrice</td>
                                <td>@item.Description</td>
                                <td>
                                    @if (item.IsLocked)
                                    {
                                        <a onclick="makeUnApproved(@item.ID,@item.Merchandising_StyleFK);" class="linkPointer" data-toggle="modal" data-target="#unApprovedModal" title="Unapproved" data-placement="top"><i class="fa fa-lock" aria-hidden="true"></i></a>
                                    }
                                    else
                                    {
                                        <a data-modal="@Model.vmBOM.Common_RawCategoryFK" class="linkPointer" asp-action="BOMForm" asp-controller="Merchandising" asp-route-Id="@item.ID" asp-route-RawCatId="@item.Common_RawCategoryFK" asp-route-StyleId="@item.Merchandising_StyleFK" asp-route-TotalPeice="@Model.vmBOM.TotalPiece" asp-route-typeID="4"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                        <a onclick="deleteItemInfo(@item.ID,@item.Merchandising_StyleFK);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                        <a onclick="makeApproved(@item.ID,@item.Merchandising_StyleFK);" class="linkPointer" data-toggle="modal" data-target="#approvedModal" title="Approved" data-placement="top"><i class="fa fa-unlock" aria-hidden="true"></i></a>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="4">.</th>
                                <th></th>
                                <th>Total Quantity</th>
                                @if (@Model.vmBOM.RequiredQty > 0)
                                {
                                    <th><span class="label label-primary">@Model.vmBOM.RequiredQty</span></th>
                                }
                                else
                                {
                                    <th><span class="label label-success">@Model.vmBOM.RequiredQty</span></th>
                                }
                                <th>.</th>
                                <th>Total Cost</th>
                                @if (@Model.vmBOM.RequiredQty > 0)
                                {
                                    <th><span class="label label-primary">@Model.vmBOM.TotalPrice</span></th>
                                }
                                else
                                {
                                    <th><span class="label label-success">@Model.vmBOM.TotalPrice</span></th>
                                }
                                <th>.</th>
                                <th>.</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>