﻿@model Erp.Core.Services.Home.VMBuyer
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-body bg-grey">
                <form asp-action="Buyer" asp-controller="Home" method="post" , new { id="formData" class="formValidator" }>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ID" type="hidden" class="form-control" />
                    <input asp-for="ActionId" type="hidden" class="form-control" />
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Buyer Code:</label>
                                @Html.TextBoxFor(model => model.BuyerID, new { id = "txtName", placeholder = "Inter 3 Letter Only", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.BuyerID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-9 col-sm-9">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Buyer Name:</label>
                                @Html.TextBoxFor(model => model.Name, new { id = "txtName", placeholder = "Name", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Buyer Country:</label>
                        @Html.DropDownListFor(model => model.Common_CountryFK, ViewBag.CountryList as SelectList, "Select Country", new { id = "Common_CountryFK", @class = "searchingDropdown form-control", required = "true", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Common_CountryFK, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-xs-5">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Buyer Email:</label>
                                @Html.TextBoxFor(model => model.Email, new { id = "txtName", placeholder = "Email", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-2">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Buyer Phone:</label>
                                @Html.TextBoxFor(model => model.Phone, new { id = "txtName", placeholder = "Phone", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-xs-5">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Contact Person:</label>
                                @Html.TextBoxFor(model => model.ContactPerson, new { id = "txtName", placeholder = "Contact Person", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Buyer Address:</label>
                        @Html.TextAreaFor(model => model.Address, new { id = "txtName", placeholder = "Address", @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block">ADD</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>