﻿@model Erp.Core.Services.Production.VMPlanView
@using (Html.BeginForm("", "", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(item => item.vmSMVLayout.Merchandising_StyleFk);
    @Html.HiddenFor(item => item.vmSMVLayout.ActionId);
    @Html.HiddenFor(item => item.vmSMVLayout.ID);
    <div class="table-responsive">
        <table class="table text-nowrap">
            <thead class="bg-info">
                <tr>
                    <th>Subset Name</th>
                    <th>Style Type</th>
                    <th>Operator</th>
                    <th>Helper</th>
                    <th>O/P SMV</th>
                    <th>H/P SMV</th>
                    <th>Work Hour</th>
                    <th>Efficiency (%)</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DropDownListFor(modelItem => modelItem.vmSMVLayout.Merchandising_StyleSetPackFK, ViewBag.SubSetList as SelectList, "Select Subset", new { @class = "searchingDropdown form-control", required = "required", style = "width:100%" })</td>
                    <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.Description, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                    <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.NoOfOperator, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                    <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.NoOfHelper, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                    <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.OperatorSMV, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                    <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.HelperSMV, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                    <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.WorkingHour, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                    <td>@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.Efficiency, new { @class = "form-control", required = "true", @style = "width:100px;" })</td>
                    <td><input type="submit" class="btn btn-primary" value="ADD" /></td>
                </tr>
            </tbody>
        </table>
    </div>

}