﻿@model Erp.Core.Services.Production.VMPlanView
@using (Html.BeginForm("StyleMasterSMV", "Production",FormMethod.Post, new { id = "formData", @class = "formValidator" }))
{
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(item => item.vmSMVLayout.ActionId);
    @Html.HiddenFor(item => item.vmSMVLayout.ID);
    @Html.HiddenFor(item => item.vmSMVLayout.PLan_SMVDraftLayoutFK);
    <div class="table-responsive">
        <table class="table table1 text-nowrap">
            <thead class="bg-info">
                <tr>
                    <th colspan="5">Style Name</th>
                    <th colspan="5">Subset Name</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="4">@Html.DropDownListFor(modelItem => modelItem.vmSMVLayout.Merchandising_StyleFk, ViewBag.StyleList as SelectList, "Select Style", new { @class = "searchingDropdown form-control", required = "required", style = "width:100%" })</td>
                    <td colspan="4">@Html.DropDownListFor(modelItem => modelItem.vmSMVLayout.Merchandising_StyleSetPackFK, ViewBag.SubSetList as SelectList, "Select Style Subset", new { @class = "searchingDropdown form-control", required = "required", style = "width:100%" })</td>
                </tr>
                <tr class="bg-info">
                    <th>Style Type</th>
                    <th>Operator</th>
                    <th>Helper</th>
                    <th>O/P SMV</th>
                    <th>H/P SMV</th>
                    <th>Work Hour</th>
                    <th>Efficiency (%)</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>
                        <div class="form-group remove_Pad">@Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.Description, new { @class = "form-control", required = "true", @style = "width:100%;" })</div> 
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.NoOfOperator, new { @class = "form-control", required = "true"})
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.NoOfHelper, new { @class = "form-control", required = "true" })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.OperatorSMV, new { @class = "form-control", required = "true" })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.HelperSMV, new { @class = "form-control", required = "true" })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.WorkingHour, new { @class = "form-control", required = "true" })
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.vmSMVLayout.Efficiency, new { @class = "form-control", required = "true" })
                    </td>
                    <td><input type="submit" class="btn btn-primary" value="ADD" /></td>
                </tr>
            </tbody>
        </table>
    </div>

}

<script type="text/javascript">
        $(document).ready(function () {
            $('.searchingDropdown').select2();
            $('.formValidator').bootstrapValidator();
        });
    </script>