﻿@model Erp.Core.Services.Merchandising.VMStyleView
@using (Html.BeginForm("CBSItem", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ActionId)
    @Html.HiddenFor(model => model.vmCBSSlave.ID)
    @Html.HiddenFor(model => model.vmCBSSlave.Common_RawCategoryFK)
    @Html.HiddenFor(model => model.vmCBSSlave.Merchandising_CBSFK)
    @Html.HiddenFor(model => model.vmCBSSlave.TotalPieceQty)
    @Html.HiddenFor(model => model.vmCBSSlave.TypeID)

<div class="table-responsive">
    <table class="table text-nowrap">
        <thead>
            <tr class="bg-success">
                <th colspan="2">Category Raw Item</th>
                <th>Consumption (Per Dz)</th>
                <th>Item Cost (Per Unit)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @*<th>
                        <div class="form-group remove_Pad" style="display:block">
                            @Html.DropDownListFor(model => model.vmCBSSlave.Common_RawSubCategoryFK, ViewBag.SubCategoryList as SelectList, "Select SubCategory", new { id = "SubCategoryFK_" + @Model.vmCBSSlave.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.vmCBSSlave.Common_RawSubCategoryFK, "", new { @class = "text-danger" })
                        </div>
                    </th>*@
                <th colspan="2">
                    <div class="form-group remove_Pad">
                        @Html.DropDownListFor(model => model.vmCBSSlave.Common_RawItemFK, ViewBag.SubCategoryList as SelectList, "Select Item", new { id = "ItemFK_" + @Model.vmCBSSlave.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.vmCBSSlave.Common_RawItemFK, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmCBSSlave.Consumption, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmCBSSlave.Consumption, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmCBSSlave.UnitPrice, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmCBSSlave.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                </th>
                @*<th>
                        <div class="form-group remove_Pad" style="display:block">
                            @Html.DropDownListFor(model => model.vmCBSSlave.Common_CurrencyFK, ViewBag.CurrencyList as SelectList, "Select", new { id = "CurrencyFK_" + Model.vmCBSSlave.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required" })
                            @Html.ValidationMessageFor(model => model.vmCBSSlave.Common_CurrencyFK, "", new { @class = "text-danger" })
                        </div>
                    </th>*@
                <th>
                    <button type="submit" id="btnsave" class="btn btn-primary btn-flat">Add</button>
                </th>
            </tr>
        </tbody>
    </table>
</div>
}