﻿@model Erp.Core.Services.Merchandising.VMStyleView
@using (Html.BeginForm("StyleView", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ActionId)
    @Html.HiddenFor(model => model.vmBOM.ID)
    @Html.HiddenFor(model => model.vmBOM.Common_RawCategoryFK)
    @Html.HiddenFor(model => model.vmBOM.Merchandising_StyleFK)
    @Html.HiddenFor(model => model.vmBOM.Merchandising_CBSSlaveFK)

    <table class="table">
        <thead>
            <tr class="bg-success">
                <th>Raw Sub-Category</th>
                <th>Raw Item</th>
                <th>Required Qty</th>
                <th>Tolerance(%)</th>
                <th>Item Cost</th>
                <th>Currency</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div class="form-group remove_Pad" style="display:block">
                        @Html.DropDownListFor(model => model.vmBOM.Common_RawSubCategoryFK, ViewBag.SubCategoryList as SelectList, "Select SubCategory", new { id = "SubCategoryFK_" + @Model.vmBOM.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.vmBOM.Common_RawSubCategoryFK, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad" style="display:block">
                        @Html.DropDownListFor(model => model.vmBOM.Common_RawItemFK, ViewBag.ItemList as SelectList, "Select Item", new { id = "ItemFK_" + @Model.vmBOM.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.vmBOM.Common_RawItemFK, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmBOM.RequiredQty, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmBOM.RequiredQty, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmBOM.Tolerance, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmBOM.Tolerance, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmBOM.UnitPrice, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmBOM.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad" style="display:block">
                        @Html.DropDownListFor(model => model.vmBOM.Common_CurrencyFK, ViewBag.CurrencyList as SelectList, "Select", new { id = "CurrencyFK_" + Model.vmBOM.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required" })
                        @Html.ValidationMessageFor(model => model.vmBOM.Common_CurrencyFK, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Add</button>
                </th>
            </tr>
        </tbody>
    </table>
}