﻿@model Erp.Core.Services.Merchandising.VMYarnCalculation

<div class="box-header">
    <h3 class="box-title">Locked Yarn List Added to Process BOF</h3>


</div>
    <div class="box-body">
        <div class="row">
            <div class="col-lg-12">
                @{
                    int bofListCount = Model.VMBOFViewList.Count();
                    if (bofListCount > 0)
                    {
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="bg-success">
                                        <th width="5%">SL</th>
                                        <th width="20%" class="center">Item</th>

                                        <th width="35%" class="center">Destination</th>
                                        <th class="center">Consumption</th>

                                        <th width="20%" class="center">
                                            Required Quantity (KG)

                                        </th>

                                        <th width="20%" class="right">Price Per Unit</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.VMBOFViewList.Count(); i++)
                                    {
                                        <tr>
                                            <th>
                                                @(i + 1)
                                            </th>
                                            <td>

                                                @Html.DisplayFor(model => model.VMBOFViewList[i].RawItem)
                                            </td>
                                            <td>

                                                @Html.DisplayFor(model => model.VMBOFViewList[i].Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.VMBOFViewList[i].Consumption)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(model => model.VMBOFViewList[i].RequiredQuantity)
                                            </td>
                                            <td>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => model.VMBOFViewList[i].Price, new { id = "txtPrice_" + i, @class = "form-control" })
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].Common_CurrencyFK)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].Common_RawItemFK)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].Common_UnitFK)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].Consumption)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].Description)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].ID)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].IsFabric)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].Merchandising_StyleFK)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].Merchandising_YarnCalculationFK)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].RequiredQuantity)
                                                    @Html.HiddenFor(model => model.VMBOFViewList[i].UserID)
                                                    <div class="input-group-addon">
                                                        <i>$</i>
                                                    </div>
                                                </div>


                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8">

                            </div>
                            <div class="col-lg-4 col-md-4">
                                <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Process BOF </button>
                            </div>

                        </div>

                    }
                    else
                    {
                        <div class="col-md-12">
                            <div class="box box-success box-solid">

                                <!-- /.box-header -->
                                <div class="box-body">

                                    <div class="form-group" style="text-align:center;">
                                        <h3>
                                            Process already done.
                                        </h3>
                                    </div>



                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                    }
                }

            </div>
        </div>
    </div>
    


    <script>
        $(document).ready(function () {
          

            $("#select_all").change(function () {  //"select all" change
                $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change
            $('.checkToInstruction').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#select_all").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                    $("#select_all").prop('checked', false);
                }
            });
        });


    </script>