﻿@model Erp.Core.Services.Merchandising.VMStyleView
<div class="row">
    @*<div class="col-lg-12">
        <div class="form-control label label-primary">Color size entry example:</div>
    </div>*@
    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table">
            <thead>
                <tr  class="bg-danger"><th colspan="6" style="text-align:center;"><div>Color size entry example</div></th></tr>
                <tr  class="bg-primary">
                    <th>Color</th>
                    <th>Color Qty</th>
                    <th>S</th>
                    <th>M</th>
                    <th>L</th>
                    <th>XL</th>
                </tr>
            </thead>
            <tbody class="bg-primary">
                <tr>
                    <td>Red</td>
                    <td>150</td>
                    <td>2</td>
                    <td>1</td>
                    <td>2</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="bg-success">
                        <th class="center">SubSet</th>
                        <th class="center">Color</th>
                        <th class="center">Total Quantity</th>
                        @for (int a = 0; a < Model.ListColorSize[0].SizeList.Count(); a++)
                        {

                            <th class="center">@Html.DisplayFor(model => model.ListColorSize[0].SizeList[a].Size, new { @class = "form-control" })</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.ListColorSize.Count(); i++)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.ListColorSize[i].SubSetName, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.HiddenFor(model => model.ListColorSize[i].ID, new { @class = "form-control" })
                            @Html.HiddenFor(model => model.ListColorSize[i].ColorId, new { @class = "form-control" })
                            @Html.DisplayFor(model => model.ListColorSize[i].Color, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.TextBoxFor(model => model.ListColorSize[i].Quantity, new { @class = "form-control" })
                        </td>
                        @for (int j = 0; j < Model.ListColorSize[i].SizeList.Count(); j++)
                        {

                            <td>
                                @*@Html.HiddenFor(model => model.ListColorSize[i].SizeList[j].ID, new { @class = "form-control" })*@
                                @Html.HiddenFor(model => model.ListColorSize[i].SizeList[j].SetPackFK, new { @class = "form-control" })
                                @Html.HiddenFor(model => model.ListColorSize[i].SizeList[j].SizeId, new { @class = "form-control" })
                                @Html.TextBoxFor(model => model.ListColorSize[i].SizeList[j].SizeRatio, new { @class = "form-control" })

                            </td>

                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12">
        <button type="submit" id="btnsave" class="btn btn-primary btn-block btn-flat">Add</button>
    </div>
</div>