﻿
@{
    ViewData["Title"] = "AllBOM";
}
@{
    ViewData["Title"] = "BOM";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdBomId = "tdBomId";
    var tdCategoryId = "tdCategoryId";
    var tdSubCategoryId = "tdSubCategoryId";
    var tdItemId = "tdItemId";
    var tdCurrencyId = "tdCurrencyId";
    var td1 = "td1";
    var td2 = "td2";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";
    var td7 = "td7";
}

@model Erp.Core.Services.Merchandising.VMBOM
@using (Html.BeginForm("OrderInProgress", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                          Closed  Bills Of Material (BOM):
                            &nbsp;&nbsp;
                            @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Item"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>*@
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>CategoryName</th>
                                        <th>ItemName</th>
                                        <th>Description</th>
                                        <th>Consumption</th>
                                        <th>RequiredQty</th>
                                        <th>ItemPrice</th>
                                        <th>TotalPrice</th>
                                        @*<th>Action</th>*@
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                            <td id="@tdBomId@item.ID" class="hidden">@item.Merchandising_StyleFK</td>
                                            <td id="@tdCategoryId@item.ID" class="hidden">@item.Common_RawCategoryFK</td>
                                            <td id="@tdSubCategoryId@item.ID" class="hidden">@item.Common_RawSubCategoryFK</td>
                                            <td id="@tdItemId@item.ID" class="hidden">@item.Common_RawItemFK</td>
                                            <td id="@tdCurrencyId@item.ID" class="hidden">@item.Common_CurrencyFK</td>
                                            <td id="@td1@item.ID">@item.RawCategory</td>
                                            <td id="@td2@item.ID">@item.RawItem</td>
                                            <td id="@td4@item.ID">@item.Tolerance</td>
                                            <td id="@td5@item.ID">@item.RequiredQty</td>
                                            <td id="@td6@item.ID">@item.UnitPrice</td>
                                            <td id="@td7@item.ID">@item.TotalPrice</td>
                                            
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());

                $('#txt2').val($('#td2' + r).text().trim());
                $('#txt3').val($('#td3' + r).text().trim());
                $('#txt4').val($('#td4' + r).text().trim());
                $('#txt5').val($('#td5' + r).text().trim());
                $('#txt6').val($('#td6' + r).text().trim());
                $('#txt7').val($('#td7' + r).text().trim());

                $('#txtCategoryName').val($('#td1' + r).text().trim());
                $('#divTxtCategoryName').css({ 'display': 'none' });

                $('#ddlBOM').val($('#tdBomId' + r).text()).trigger('change');
                $('#ddlCategoryName').val($('#tdCategoryId' + r).text()).trigger('change');
                $('#ddlSubCategoryName').val($('#tdSubCategoryId' + r).text()).trigger('change');
                $('#ddlItemName').val($('#tdItemId' + r).text()).trigger('change');
                $('#ddlSupplier').val($('#tdSupplierId' + r).text()).trigger('change');
                $('#ddlUnit').val($('#tdUnitId' + r).text()).trigger('change');
                $('#ddlCurrency').val($('#tdCurrencyId' + r).text()).trigger('change');
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
        $("#btncloseandreset").click(function (e) {

            $("#BOM").trigger("reset");
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txt1').empty();
            $('#txt2').empty();
            $('#txt3').empty();
            $('#txt4').empty();
            $('#txt5').empty();
            $('#txt6').empty();
            $('#txt7').empty();
        })
    </script>
}