﻿@{
    ViewData["Title"] = "Order In Progrees";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdBuyerId = "tdBuyerId";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";
    var td10 = "td10";
    var td11 = "td11";
    var td12 = "td12";
}

@model Erp.Core.Services.Merchandising.VMOrder
@using (Html.BeginForm("OrderInProgress", "Merchandising", FormMethod.Post, new { id = "Order", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Closed Order:
                            &nbsp;&nbsp;
                            @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Order"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>*@
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>Order ID</th>
                                        <th>Buyer PO </th>
                                        <th>Buyer Name</th>
                                        <th>Season/Year</th>
                                        <th>Order Date</th>
                                        <th>Agent Name</th>
                                        <th>Inspection Agent Name</th>
                                        <th>Buyer Commission</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                            <td id="@tdBuyerId@item.ID" class="hidden">@item.Mkt_BuyerFK</td>
                                            <td id="@td1@item.ID">@item.CID</td>
                                            <td id="@td4@item.ID">@item.BuyerPO</td>
                                            <td id="@td3@item.ID">@item.BuyerName</td>
                                            <td id="@td5@item.ID">@item.Season</td>
                                            <td id="@td2@item.ID">@item.OrderDate.ToString("dd/MM/yy")</td>
                                            <td id="@td10@item.ID">@item.Agent</td>
                                            <td id="@td11@item.ID">@item.InspectionAgent</td>
                                            <td id="@td12@item.ID">@item.Commission</td>
                                            <td id="@td6@item.ID">@item.Remarks</td>
                                            <td>
                                                @Html.ActionLink(".", "OrderView", new { Id = item.ID }, new { @title = "Order Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                                @*<a href="@Url.Action("OrderView","Order",new { Id=item.ID })" class="linkPointer" title="Details" data-placement="top" target="_blank">
                                    <i class="glyphicon glyphicon-new-window" aria-hidden="true"></i>
                                </a>*@
                                                <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                </a>
                                                <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;

                $('#hidId').val(r);
                $('#ActionId').val(2);

                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txt2').val($('#td2' + r).text().trim());
                $('#txt4').val($('#td4' + r).text().trim());
                $('#txt5').val($('#td5' + r).text().trim());
                $('#txt6').val($('#td6' + r).text().trim());
                $('#txt7').val($('#td7' + r).text().trim());
                $('#txt9').val($('#td9' + r).text().trim());
                $('#txt10').val($('#td10' + r).text().trim());
                $('#txt11').val($('#td11' + r).text().trim());
                $('#txt12').val($('#td12' + r).text().trim());
                $('#txt13').val($('#td13' + r).text().trim());

                $('#ddlBuyer').val($('#tdBuyerId' + r).text().trim()).trigger('change');
                $('#ddlCurrency').val($('#tdCurrencyId' + r).text().trim()).trigger('change');
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
        $("#btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txt2').empty();
            $('#txt4').empty();
            $('#txt5').empty();
            $('#txt6').empty();
            $('#txt7').empty();
            $('#txt9').empty();
            $('#txt10').empty();
            $('#txt11').empty();
            $('#txt12').empty();
            $('#txt13').empty();
        })

    </script>
}