﻿@{
    ViewData["Title"] = "Style";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdOrderId = "tdOrderId";
    var tdBuyerId = "tdBuyerId";
    var tdCurrencyId = "tdCurrencyId";
    var tdCategoryId = "tdCategoryId";
    var tdSubCategoryId = "tdSubCategoryId";
    var tdItemId = "tdItemId";

    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";
    var td7 = "td7";
    var td9 = "td9";
    var td10 = "td10";
    var td11 = "td11";
    var td12 = "td12";
    var td13 = "td13";
    var td14 = "td14";
    var td15 = "td15";
    var td16 = "td16";
    var td17 = "td17";
    var td18 = "td18";
    var td19 = "td19";
    var td20 = "td20";
}

@model Erp.Core.Services.Merchandising.VMStyle
@using (Html.BeginForm("Style", "Merchandising", FormMethod.Post, new { id = "Style", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                           Closed Styles:
                            &nbsp;&nbsp;
                            @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Order"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>*@
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->

                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>

                                        <th>StyleID</th>
                                        <th>Order</th>
                                        <th>Buyer Name</th>
                                        <th>Style Name</th>
                                        <th>Item Name</th>

                                        <th>First Move</th>
                                        <th>Update Date</th>

                                        <th>Class</th>
                                        <th>Fabrication</th>
                                        <th>Size Range</th>

                                        <th>Pack Piece Qty</th>
                                        <th>Set Quantity</th>
                                        <th>Pack Quantity</th>
                                        <th>Total Piece</th>

                                        <th>Unit</th>
                                        <th>Unit Price</th>
                                        <th>Pack Price</th>

                                        <th>Description</th>
                                        <th>IsComplete</th>
                                        @*<th>Action</th>*@
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                    <tr>
                                        <td>@(++sl).</td>
                                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                        <td id="@tdOrderId@item.ID" class="hidden">@item.Merchandising_BuyerOrderFK</td>
                                        <td id="@tdBuyerId@item.ID" class="hidden">@item.Common_BuyerFK</td>
                                        <td id="@tdCurrencyId@item.ID" class="hidden">@item.Common_CurrencyFK</td>
                                        <td id="@tdCategoryId@item.ID" class="hidden">@item.Mkt_CategoryFK</td>
                                        <td id="@tdSubCategoryId@item.ID" class="hidden">@item.Mkt_SubCategoryFK</td>
                                        <td id="@tdItemId@item.ID" class="hidden">@item.Mkt_ItemFK</td>

                                        <td id="@td1@item.ID">@item.CID</td>
                                        <td id="@td2@item.ID">@item.Order</td>
                                        <td id="@td3@item.ID">@item.BuyerName</td>
                                        <td id="@td4@item.ID">@item.Style</td>
                                        <td id="@td5@item.ID">@item.ItemName</td>

                                        <td id="@td6@item.ID">@item.FirstMove</td>
                                        <td id="@td7@item.ID">@item.UpdateDate</td>

                                        <td id="@td9@item.ID">@item.Class</td>
                                        <td id="@td10@item.ID">@item.Fabrication</td>
                                        <td id="@td11@item.ID">@item.SizeName</td>

                                        <td id="@td12@item.ID">@item.PackPieceQty</td>
                                        <td id="@td13@item.ID">@item.SetQuantity</td>
                                        <td id="@td14@item.ID">@item.PackQty</td>
                                        <td id="@td20@item.ID">@item.PieceQty</td>

                                        <td id="@td15@item.ID">@item.UnitName</td>
                                        <td id="@td16@item.ID">@item.UnitPrice</td>
                                        <td id="@td17@item.ID">@item.PackPrice</td>

                                        <td id="@td18@item.ID">@item.Description</td>
                                        <td id="@td19@item.ID">@item.IsComplete</td>
                                        @*<td>
            <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
               data-placement="top">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
               data-placement="top">
                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
            </a>
        </td>*@
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>

    @*<div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Order Style</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Order:</label>
                        @Html.DropDownListFor(model => model.Common_OrderFk, ViewBag.OrderList as SelectList, "Select a Order", new { id = "drOrderFk", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Common_OrderFk, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Buyer Name:</label>
                        @Html.DropDownListFor(model => model.Mkt_BuyerFK, ViewBag.BuyerList as SelectList, "Select a Buyer", new { id = "drBuyerFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Mkt_BuyerFK, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div id="divddlCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Category:</label>
                                @Html.DropDownListFor(model => model.Mkt_CategoryFK, ViewBag.OrderCategoryList as SelectList, "Select a Category", new { id = "drCategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Mkt_CategoryFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="divddlSubCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Sub-Category:</label>
                                @Html.DropDownListFor(model => model.Mkt_SubCategoryFK, ViewBag.OrderSubCategoryList as SelectList, "Select a SubCategory", new { id = "drSubCategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Mkt_SubCategoryFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div id="divddlItemName" class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Item:</label>
                        @Html.DropDownListFor(model => model.Mkt_ItemFK, ViewBag.OrderItemList as SelectList, "Select a Item", new { id = "drItemFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Mkt_ItemFK, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Style:</label>
                        @Html.TextBoxFor(model => model.Style, new { id = "txt4", placeholder = "Style", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                        @Html.ValidationMessageFor(model => model.Style, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">First Move:</label>
                                @Html.TextBoxFor(model => model.FirstMove, new { id = "txt6", placeholder = "First Move", @class = "form-control datePicker", required = "true" })
                                @Html.ValidationMessageFor(model => model.FirstMove, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Update Move:</label>
                                @Html.TextBoxFor(model => model.UpdateDate, new { id = "txt7", placeholder = "Update Move", @class = "form-control datePicker", required = "true" })
                                @Html.ValidationMessageFor(model => model.UpdateDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Reference:</label>
                        @Html.TextBoxFor(model => model.Reference, new { id = "txt8", placeholder = "Reference", @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Fabrication:</label>
                        @Html.TextBoxFor(model => model.Fabrication, new { id = "txt10", placeholder = "Fabrication", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                        @Html.ValidationMessageFor(model => model.Fabrication, "", new { @class = "text-danger" })
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Class:</label>
                                @Html.TextBoxFor(model => model.Class, new { id = "txt9", placeholder = "Class", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.Class, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Size Range:</label>
                                @Html.TextBoxFor(model => model.SizeRange, new { id = "txt11", placeholder = "Size Range", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.SizeRange, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Pack Qty:</label>
                                @Html.TextBoxFor(model => model.PackQty, new { id = "txt12", placeholder = "Pack Qty", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.PackQty, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">SetQuantity:</label>
                                @Html.TextBoxFor(model => model.SetQuantity, new { id = "txt13", placeholder = "Set Quantity", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.SetQuantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Quantity:</label>
                                @Html.TextBoxFor(model => model.Quantity, new { id = "txt14", placeholder = "Quantity", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Unit:</label>
                                @Html.DropDownListFor(model => model.Common_UnitFK, ViewBag.UnitList as SelectList, "Select a Unit", new { id = "drUnitFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Common_UnitFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Unit Price:</label>
                        @Html.TextBoxFor(model => model.UnitPrice, new { id = "txt16", placeholder = "Unit Price", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        @Html.TextBoxFor(model => model.Description, new { id = "txt18", placeholder = "Description", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Style Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>*@
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;

                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());

                $('#txt1').val($('#td1' + r).text().trim());
                $('#txt2').val($('#td2' + r).text().trim());
                $('#txt3').val($('#td3' + r).text().trim());
                $('#txt4').val($('#td4' + r).text().trim());
                $('#txt5').val($('#td5' + r).text().trim());
                $('#txt6').val($('#td6' + r).text().trim());
                $('#txt7').val($('#td7' + r).text().trim());
                $('#txt8').val($('#td8' + r).text().trim());
                $('#txt9').val($('#td9' + r).text().trim());
                $('#txt10').val($('#td10' + r).text().trim());
                $('#txt11').val($('#td11' + r).text().trim());
                $('#txt12').val($('#td12' + r).text().trim());
                $('#txt13').val($('#td13' + r).text().trim());
                $('#txt14').val($('#td14' + r).text().trim());
                $('#txt15').val($('#td15' + r).text().trim());
                $('#txt16').val($('#td16' + r).text().trim());
                $('#txt17').val($('#td17' + r).text().trim());
                $('#txt18').val($('#td18' + r).text().trim());

                $('#drOrderFk').val($('#drOrderId' + r).text().trim());
                $('#drBuyerFK').val($('#drBuyerId' + r).text().trim());
                $('#drUnitFK').val($('#tdUnitId' + r).text().trim());
                $('#drCategoryFK').val($('#tdCategoryId' + r).text().trim());
                $('#drSubCategoryFK').val($('#tdSubCategoryId' + r).text().trim());
                $('#drItemFK').val($('#tdItemId' + r).text().trim());
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
        $("#btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txt1').empty();
            $('#txt2').empty();
            $('#txt3').empty();
            $('#txt4').empty();
            $('#drOrderFk').empty();
            $('#drBuyerFK').empty();
            $('#txt5').empty();
            $('#drItemFK').empty();
            $('#txt6').empty();
            $('#txt7').empty();
            $('#txt8').empty();
            $('#txt8').empty();
            $('#txt9').empty();
            $('#txt10').empty();
            $('#txt11').empty();
            $('#drUnitFK').empty();
            $('#txt12').empty();
            $('#txt13').empty();
            $('#drUnitFK').empty();
            $('#txt14').empty();
            $('#txt15').empty();

        })

    </script>
}