﻿@{
    ViewData["Title"] = "ApprovedPurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Erp.Core.Services.Merchandising.VMPurchaseOrder
@{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                           All Purchase Requisition:
                            &nbsp;&nbsp;
                          
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>IPO ID</th>
                                        <th>Date</th>
                                        <th>PO Value</th>
                                        <th>Supplier</th>
                                        <th>Style No</th>
                                        <th>Status</th>

                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl).</td>
                                            <td>@item.CID</td>
                                            <td>@item.Date</td>
                                            <td>@item.POValue</td>
                                            <td>@item.Supplier</td>
                                            <td>@item.Style</td>
                                            <td style="color:green">@item.IsAuthorize</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>

   

}

@section scripts {

   
}





