﻿@{
    ViewData["Title"] = "Bill of Fabrics";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Merchandising.VMBOFView
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-info">
            <div class="box-header custom with-border bg-success">
                <h4>
                    Style Summary :
                </h4>
            </div>

            <div class="box-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th style="width:16%">@Html.DisplayNameFor(x => x.vmStyle.CID)</th>
                                    <th style="width:4%">:</th>
                                    <th style="width:30%">
                                        <a class="btn btn-primary" asp-action="OrderView" asp-controller="Merchandising" asp-route-Id="@Model.vmStyle.Merchandising_BuyerOrderFK">@Html.DisplayFor(x => x.vmStyle.CID)</a>
                                    </th>
                                    <th style="width:16%">@Html.DisplayNameFor(x => x.vmStyle.Style)</th>
                                    <th style="width:4%">:</th>
                                    <th style="width:30%">@Html.DisplayFor(x => x.vmStyle.Style)</th>

                                </tr>
                                <tr>
                                    <th>
                                        @Html.DisplayName("Pack Qty")
                                    </th>
                                    <th>:</th>
                                    <th>@Html.DisplayFor(x => x.vmStyle.PackQty)</th>
                                    <th>@Html.DisplayNameFor(x => x.vmStyle.ItemName)</th>
                                    <th>:</th>
                                    <th>@Html.DisplayFor(x => x.vmStyle.ItemName)</th>

                                </tr>
                                <tr>

                                    <th>@Html.DisplayName("Total Piece")</th>
                                    <th>:</th>
                                    <th>@Html.DisplayFor(x => x.vmStyle.PieceQty)</th>
                                    <th>@Html.DisplayName("Total Dozon")</th>
                                    <th>:</th>
                                    <th>@Html.DisplayFor(x => x.vmStyle.DozonQty)</th>
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                @Html.ActionLink("Add Yarn to proceed BOF", "YarnCalculation", "Merchandising", new { Id = Model.vmStyle.ID }, new { @class = "btn btn-success", @title = "Yarn Calculation" })

            </div>


            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Consumption</th>
                                <th>Required Quantity</th>
                                <th>Item Cost</th>
                                <th>Total Cost</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{
                            int sl = 0;

                        }
                        <tbody>
                            @foreach (var item in Model.BOFDataList)
                            {
                                decimal? total = (item.RequiredQuantity * item.Price);
                                <tr>
                                    <td>@(++sl).</td>
                                    <td>@item.RawItemName</td>
                                    <td>@item.Description</td>
                                    <td>

                                        @if (item.Consumption == 0)
                                        {
                                            <span style="text-decoration: line-through;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                @item.Consumption
                                            </span>
                                        }
                                    </td>
                                    <td>@item.RequiredQuantity</td>
                                    <td>@item.Price</td>
                                    <td>
                                        @String.Format("{0:0.00000}", total)
                                    </td>
                                    <td>
                                        <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        @*<a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>*@

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            @using (Html.BeginForm("BOF", "Merchandising", FormMethod.Post, new { id = "BOFFormId", @class = "formValidator" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="box box-info">
                                <div class="box-header custom with-border bg-success">
                                    <div class="modal-header">
                                        <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                            &times;
                                        </button>
                                        <h5 class="modal-title"><b>Bill of fabrics</b></h5>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="modal-body">
                                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "BOFId" })
                                        @Html.HiddenFor(model => model.Merchandising_StyleFK, new { Value = "", id = "merchandisingStyleFK" })
                                        @Html.HiddenFor(model => model.Merchandising_YarnCalculationFK, new { Value = "", id = "merchandisingYarnCalculationFK" })
                                        @Html.HiddenFor(model => model.Common_CurrencyFK, new { id = "commonCurrencyFK" })
                                        @Html.HiddenFor(model => model.Common_UnitFK, new { id = "txtcommonUnitFK" })
                                        @Html.HiddenFor(model => model.IsFabrics, new { id = "isFabrics" })


                                        @Html.HiddenFor(model => model.ActionId, new { id = "txtActionId" })

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div id="divddlCommonBuyerFk" class="form-group">
                                            <label>Item:</label>
                                            @Html.DropDownListFor(model => model.Common_RawItemFK, ViewBag.RawItems as SelectList, "Please Select Buyer", new { id = "commonRawItemFK", @class = " form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Common_RawItemFK, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label>Description:</label>
                                            @Html.TextBoxFor(model => model.Description, new { id = "txtDescription", placeholder = "Description", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Consumption:</label>
                                                @Html.TextBoxFor(model => model.Consumption, new { id = "txtConsumption", placeholder = "Description", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Consumption, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Required Quantity:</label>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => model.RequiredQuantity, new { id = "txtRequiredQuantity", placeholder = "Required Quantity", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.RequiredQuantity, "", new { @class = "text-danger" })
                                                    <div class="input-group-addon">

                                                        <i id="txtUnit"></i>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Price:</label>
                                                @Html.TextBoxFor(model => model.Price, new { id = "txtPrice", placeholder = "Price", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                            </div>
                                        </div>




                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="modal-footer">
                                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                                    </div>
                                </div>
                            </div>
                           



                           
                           
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                    &times;
                                </button>
                                <h5 class="modal-title"><b>Bill of Fabrics Delete</b></h5>
                            </div>
                            <div class="modal-body">
                                <div style="text-align:center">
                                    <h3>Are you sure to delete?</h3>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>





@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });


        function makeEditble(elem) {
            if (elem !== null) {
                    var rowId = elem.id;
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleBOF", "Merchandising")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#BOFId').val(data.id)
                            $('#merchandisingStyleFK').val(data.merchandising_StyleFK);
                            $('#merchandisingYarnCalculationFK').val(data.merchandising_YarnCalculationFK);
                            $('#commonCurrencyFK').val(data.common_CurrencyFK)
                            $('#commonRawItemFK').val(data.common_RawItemFK);
                            $('#txtDescription').val(data.description);
                            $('#txtUnit').text(data.unitName);
                            $('#txtcommonUnitFK').val(data.common_UnitFK);
                            $('#isFabrics').val(data.isFabric);
                            $('#txtConsumption').val(data.consumption);
                            $('#txtRequiredQuantity').val(data.requiredQuantity);
                            $('#txtPrice').val(data.price);
                            $('#txtActionId').val(2);
                        }
                    });


                }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#BOFId').val(id)
                $('#txtActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#BOFFormId')[0].reset();
            $('#txtActionId').val(1);
        }
    </script>


}



