﻿@{
    ViewData["Title"] = "BOM";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdBomId = "tdBomId";
    var tdCategoryId = "tdCategoryId";
    var tdSubCategoryId = "tdSubCategoryId";
    var tdItemId = "tdItemId";
    var tdCurrencyId = "tdCurrencyId";
    var td1 = "td1";
    var td2 = "td2";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";
    var td7 = "td7";
}

@model Erp.Core.Services.Merchandising.VMBOM
<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box box-danger">
            <div class="box-header bg-cyan">
                <h3>
                    Bill of Materials (BOM):
                    &nbsp;&nbsp;
                    @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Item"
                            data-placement="top">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>*@
                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr style="background-color:firebrick; color:white;">
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Category Name</th>
                                <th>Item Name</th>
                                <th>Consumption</th>
                                <th>Required Qty</th>
                                <th>Item Price</th>
                                <th>Total Price</th>
                                @*<th>Action</th>*@
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl).</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td id="@tdBomId@item.ID" class="hidden">@item.Merchandising_StyleFK</td>
                                    <td id="@tdCategoryId@item.ID" class="hidden">@item.Common_RawCategoryFK</td>
                                    <td id="@tdSubCategoryId@item.ID" class="hidden">@item.Common_RawSubCategoryFK</td>
                                    <td id="@tdItemId@item.ID" class="hidden">@item.Common_RawItemFK</td>
                                    <td id="@tdCurrencyId@item.ID" class="hidden">@item.Common_CurrencyFK</td>
                                    <td id="@td1@item.ID">@item.RawCategory</td>
                                    <td id="@td2@item.ID">@item.RawItem</td>
                                    <td id="@td4@item.ID">@item.Tolerance</td>
                                    <td id="@td5@item.ID">@item.RequiredQty</td>
                                    <td id="@td6@item.ID">@item.UnitPrice</td>
                                    <td id="@td7@item.ID">@item.TotalPrice</td>
                                    @*<td>
                                        <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                           data-placement="top">
                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                           data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @using (Html.BeginForm("OrderInProgress", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
        {
            <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Bills Of Material (BOM)</b></h5>
                        </div>
                        <div class="modal-body">

                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div id="divddlBOM" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Style:</label>
                                @Html.DropDownListFor(model => model.Merchandising_StyleFK, ViewBag.BOMList as SelectList, "Select a Style", new { id = "ddlBOM", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Merchandising_StyleFK, "", new { @class = "text-danger" })
                            </div>
                            <div id="divddlCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Category:</label>
                                @Html.DropDownListFor(model => model.Common_RawCategoryFK, ViewBag.CategoryList as SelectList, "Select a Raw Category", new { id = "ddlCategoryName", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Common_RawCategoryFK, "", new { @class = "text-danger" })
                            </div>
                            <div id="divddlSubCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Sub-Category:</label>
                                @Html.DropDownListFor(model => model.Common_RawSubCategoryFK, ViewBag.SubCategoryList as SelectList, "Select a Raw SubCategory", new { id = "ddlSubCategoryName", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Common_RawSubCategoryFK, "", new { @class = "text-danger" })
                            </div>
                            <div id="divddlItemName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Item:</label>
                                @Html.DropDownListFor(model => model.Common_RawItemFK, ViewBag.ItemList as SelectList, "Select a Raw Item", new { id = "ddlItemName", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Common_RawItemFK, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Item Price:</label>
                                        @Html.TextBoxFor(model => model.UnitPrice, new { id = "txt4", @class = "form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Required Qty:</label>
                                        @Html.TextBoxFor(model => model.RequiredQty, new { id = "txt5", @class = "form-control", required = "true" })
                                        @Html.ValidationMessageFor(model => model.RequiredQty, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div id="divddlCurrency" class="form-group" style="display:block">
                                        <label for="recipient-name" class="col-form-label">Currency:</label>
                                        @Html.DropDownListFor(model => model.Common_CurrencyFK, ViewBag.CurrencyList as SelectList, "Currency", new { id = "ddlCurrency", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.Common_CurrencyFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Order Delete</b></h5>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure to delete?</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());

                $('#txt2').val($('#td2' + r).text().trim());
                $('#txt3').val($('#td3' + r).text().trim());
                $('#txt4').val($('#td4' + r).text().trim());
                $('#txt5').val($('#td5' + r).text().trim());
                $('#txt6').val($('#td6' + r).text().trim());
                $('#txt7').val($('#td7' + r).text().trim());
                $('#txtCategoryName').val($('#td1' + r).text().trim());
                $('#divTxtCategoryName').css({ 'display': 'none' });
                $('#ddlBOM').val($('#tdBomId' + r).text()).trigger('change');
                $('#ddlCategoryName').val($('#tdCategoryId' + r).text()).trigger('change');
                $('#ddlSubCategoryName').val($('#tdSubCategoryId' + r).text()).trigger('change');
                $('#ddlItemName').val($('#tdItemId' + r).text()).trigger('change');
                $('#ddlSupplier').val($('#tdSupplierId' + r).text()).trigger('change');
                $('#ddlCurrency').val($('#tdCurrencyId' + r).text()).trigger('change');
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
        $("#btncloseandreset").click(function (e) {

            $("#BOM").trigger("reset");
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txt1').empty();
            $('#txt2').empty();
            $('#txt3').empty();
            $('#txt4').empty();
            $('#txt5').empty();
            $('#txt6').empty();
            $('#txt7').empty();
        })
    </script>
}