﻿@{
    ViewData["Title"] = "CBS";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
    var tdId = "tdId";
}

@model Erp.Core.Services.Merchandising.VMCBS

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Manage CBS
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">CBS</li>
            </ol>
        </section>
        <div class="box box-success">
            <div id="updateStyle"></div>
            <div id="createStyle">
                @await Component.InvokeAsync("CBSUI", new { ID = 0 })
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th>CBS ID</th>
                                <th>Style</th>
                                <th>Reference</th>
                                <th>Buyer Name</th>
                                <th>Order Qty</th>
                                <th>Dozen</th>
                                <th>Overhead</th>
                                <th>Buying Commission</th>
                                <th>Profit Margin</th>
                                <th>Remarks</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td>@(++sl)</td>
                                <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                <td><a href="@Url.Action("CBSView","Merchandising",new { Id=item.ID })" class="linkPointer" title="Details" data-placement="top">@item.CID</a></td>
                                <td>@item.StyleName</td>
                                <td>@item.Reference</td>
                                <td>@item.BuyerName</td>
                                <td style="text-align:center;">@item.OrderQty</td>
                                <td style="text-align:center;">Dz @String.Format("{0:0.00}", item.DozonQty)</td>
                                <td style="text-align:center;">@item.OverheadRate %</td>
                                <td style="text-align:center;">@item.BuyingCommission %</td>
                                <td style="text-align:center;">@item.ProfitMargin %</td>
                                <td>@item.Remarks</td>
                                <td>
                                    <a data-modal="" class="linkPointer" asp-action="UpdateCBS" asp-controller="Merchandising" asp-route-Id="@item.ID"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                    @*<a onclick="deleteInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>*@
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                @using (Html.BeginForm("CBS", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    @Html.HiddenFor(model => model.ID, new { id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })

                    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                        &times;
                                    </button>
                                    <h5 class="modal-title"><b>Delete CBS</b></h5>
                                </div>
                                <div class="modal-body">
                                    <div style="text-align:center">
                                        <h3>Are you sure to delete?</h3>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $("#CBSStyleFK").change(function () {
                var StyleId = $("#CBSStyleFK").val();
                if (StyleId != null) {

                    $.get('@Url.Action("GetCBSStyleInfo", "Merchandising")', { ID: StyleId }, function (data) {
                        $('#OrderQty').val(data.packQty);
                    });
                }
                else {
                    $('#OrderQty').val('');
                }
            });
        });

        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#updateStyle').load(this.href);
                $('#createStyle').remove();
                return false;
            });
        });

        function deleteInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
    </script>
}