﻿@{
    ViewData["Title"] = "CBSView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Merchandising.VMStyleView
<style type="text/css">
    span.input-group-addon.category {
        background-color: #d9edf7 !important;
        color: black;
    }

    span.input-group-addon.cost {
        background-color: #06209a !important;
        color: white;
    }

    span.input-group-addon.dollar {
        background-color: #eee !important;
        color: #06209a;
    }

    .table-condensed > tbody > tr > td, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > td, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > thead > tr > th {
        padding: 0px;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                CBS Category
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a asp-action="CBS" asp-controller="Merchandising">CBS</a></li>
                <li class="active">CBS Item</li>
            </ol>
        </section>
        <div class="box box-info">
            <div class="box-header custom with-border bg-info">
                <h4>CBS Summary :</h4>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width:210px;" class="input-group-addon">@Html.DisplayName("CBS ID")</span>
                            <input style="width:140px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmCBS.CID)">
                        </div>
                    </div>
                    <div class="box-body col-md-5">
                        <div class="input-group">
                            <span style="width:100px;" class="input-group-addon">@Html.DisplayName("Style Name")</span>
                            <input style="width:330px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmCBS.StyleName)">
                        </div>
                    </div>
                    <div class="box-body col-md-4">
                        <form asp-action="UpdateCBSQty" asp-controller="Merchandising" method="post" , new { id="formData" class="formValidator" }>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="ActionId" type="hidden" />
                            <input asp-for="vmCBS.ID" type="hidden" />
                            <div class="input-group">
                                <span style="width:160px;" class="input-group-addon">@Html.DisplayName("Order Quantity")</span>
                                <input asp-for="vmCBS.OrderQty" type="number" step="1" min=1 class="form-control" required style="width:100px;" />
                                @*<input style="width:100px;" type="text" class="form-control" value="@Html.EditorFor(x => x.vmCBS.OrderQty)">*@
                                <span class="input-group-addon bg-warning">Pcs</span>
                                <input type="submit" class="form-control btn btn-flat btn-primary" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="refForm">
    <div class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="box-body col-md-6 col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon"><input id="SRef" class="cSRef" name="ref" type="radio" value="IsBomCreate"></span>
                            <input style="width:120px;" type="text" class="form-control" readonly="readonly" value="Create New">
                        </div>
                    </div>
                    <div class="box-body col-md-6 col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon"><input id="ARef" class="cSRef" name="ref" type="radio" value="IsBom"></span>
                            <input style="width:120px;" type="text" class="form-control" readonly="readonly" value="Add Reference">
                        </div>
                    </div>
                </div>
                <div id="addForm" class="col-md-8 col-lg-8" style="padding-top:10px;">
                    <form asp-action="CBSView" asp-controller="Merchandising" method="post" , new { id="formData" class="formValidator" }>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="ActionId" type="hidden" />
                        <input asp-for="vmCBS.ID" type="hidden" />
                        <input asp-for="vmCBS.OrderQty" type="hidden" />
                        <div class="col-lg-4 col-md-4">
                            @Html.DropDownListFor(model => model.TypeID, ViewBag.ReferenceType as SelectList, "Select Reference", new { id = "ImportFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-5 col-md-5">
                            @Html.DropDownListFor(model => model.ImportID, new SelectList(string.Empty, "Value", "Text"), "Reference CBS/BOM", new { id = "ExportIDFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.ImportID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <input type="submit" class="form-control btn btn-primary" value="ADD">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom with-border bg-success" style="text-align:center;">
                <h4>Cost Summary</h4>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-condensed">
                    <thead>
                        @*<tr><th colspan="2" style="text-align:center">Cost Summary (Per Dozen)</th></tr>*@
                        <tr>
                            <th>Particulars</th>
                            <th>Cost Per Dozen</th>
                            <th>Cost For @Model.vmCBS.OrderQty Pcs</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Fabric</td>
                            <td>$ @Model.VMCBSSummary.CatFabric.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostFabric.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Trims and Accessories</td>
                            <td>$ @Model.VMCBSSummary.CatAccessories.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostAccessories.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Wash</td>
                            <td>$ @Model.VMCBSSummary.CatWash.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostWash.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Print</td>
                            <td>$ @Model.VMCBSSummary.CatPrint.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostPrint.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Embroidery</td>
                            <td>$ @Model.VMCBSSummary.CatEmbroidiry.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostEmbroidiry.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Charges</td>
                            <td>$ @Model.VMCBSSummary.CatCharges.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostCharges.ToString("0.0000")</td>
                        </tr>
                        <tr class="text-darken-1" style="font-weight:bold;">
                            <td>All Item Total Cost</td>
                            <td>$ @Model.VMCBSSummary.CatTotalValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostTotalValue.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Overhead in Value</td>
                            <td>$ @Model.VMCBSSummary.DzOverheadValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostOverheadValue.ToString("0.0000")</td>
                        </tr>
                        <tr class="text-darken-1 bg-blue-grey" style="font-weight:bold;">
                            <td>Total Cost</td>
                            <td>$ @Model.VMCBSSummary.DzOHValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostOHValue.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Profit Margin in Value</td>
                            <td>$ @Model.VMCBSSummary.DzProfitMarginValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostProfitMarginValue.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Buying Commission in Value</td>
                            <td>$ @Model.VMCBSSummary.DzBuyingComValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostBuyingComValue.ToString("0.0000")</td>
                        </tr>
                        <tr class="text-darken-1 bg-blue-grey" style="font-weight:bold;">
                            <td>Total Order Value</td>
                            <td>$ @Model.VMCBSSummary.DzOrderValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostOrderValue.ToString("0.0000")</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12">
        @await Component.InvokeAsync("RowCategory", new { RawCategoryId = 2, CBSId = Model.vmCBS.ID, TotalPeice = Model.vmCBS.OrderQty, TypeID = 2 })

        @await Component.InvokeAsync("RowCategory", new { RawCategoryId = 6, CBSId = Model.vmCBS.ID, TotalPeice = Model.vmCBS.OrderQty, TypeID = 1 })

        @await Component.InvokeAsync("RowCategory", new { RawCategoryId = 3, CBSId = Model.vmCBS.ID, TotalPeice = Model.vmCBS.OrderQty, TypeID = 1 })

        @await Component.InvokeAsync("RowCategory", new { RawCategoryId = 4, CBSId = Model.vmCBS.ID, TotalPeice = Model.vmCBS.OrderQty, TypeID = 1 })

        @await Component.InvokeAsync("RowCategory", new { RawCategoryId = 5, CBSId = Model.vmCBS.ID, TotalPeice = Model.vmCBS.OrderQty, TypeID = 1 })

        @await Component.InvokeAsync("RowCategory", new { RawCategoryId = 1023, CBSId = Model.vmCBS.ID, TotalPeice = Model.vmCBS.OrderQty, TypeID = 3 })

    </div>
</div>


@using (Html.BeginForm("CBSItem", "Merchandising", FormMethod.Post, new { id = "CBSItem", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.vmCBSSlave.ID, new { id = "PKID" })
    @Html.HiddenFor(model => model.ActionId, new { id = "DeleteItemID" })
    @Html.HiddenFor(model => model.vmCBSSlave.Merchandising_CBSFK, new { id = "CBSID" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">

        $('.searchingDropdown').select2();
        var cbsID = '@Model.vmCBS.ID';
        function deleteItemInfo(id, CId) {
            if (id !== null) {
                $('#PKID').val(id);
                $('#CBSID').val(CId);
                $('#DeleteItemID').val(3);
            }
        }

        $('#addForm').addClass('hidden');

        $('input[type=radio][name=ref]').change(function () {
            if (this.value == 'IsBomCreate') {
                $('#addForm').addClass('hidden');
            }
            else {
                $('#addForm').removeClass('hidden');
            }
        });

        $(document).ready(function () {

            $("#refForm").hide();
            if ('@Model.IsBomCreate' === 'False') {
                $("#refForm").show();
                $('#SRef').prop('checked', true);
            }

            ajaxCall(2, cbsID);
            ajaxCall(3, cbsID);
            ajaxCall(4, cbsID);
            ajaxCall(5, cbsID);
            ajaxCall(6, cbsID);
            ajaxCall(1023, cbsID);

            GetUpdateView(2)
            GetUpdateView(3)
            GetUpdateView(4)
            GetUpdateView(5)
            GetUpdateView(6)
            GetUpdateView(1023)

            $("#ImportFK").change(function () {
                var ImportID = $("#ImportFK").val();
                if (ImportID != '') {
                    $("#ExportIDFK").empty();
                    if (ImportID == 1) {
                        $.get('@Url.Action("GetBOMImport", "Helper")', { ID: ImportID }, function (data) {
                            $("#ExportIDFK").append("<option value ='' selected>Select CBS</option>")
                            $.each(data, function (index, row) {
                                $("#ExportIDFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                            });
                        })
                    }
                    else if (ImportID == 2) {
                        $.get('@Url.Action("GetBOMImport", "Helper")', { ID: ImportID }, function (data) {
                            $("#ExportIDFK").append("<option value ='' selected>Select BOM</option>")
                            $.each(data, function (index, row) {
                                $("#ExportIDFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                            });
                        })
                    }
                }
                else {
                    $("#ExportIDFK").empty();
                    $("#ExportIDFK").append("<option value ='' selected>Reference CBS/BOM</option>")
                }
            });
        });

       function ajaxCall(Id, cbsID)
        {
            $("#SubCategoryFK_" + Id).change(function () {
                var subCatId = $("#SubCategoryFK_" + Id).val();
                if (subCatId != '') {

                    $("#ItemFK_" + Id).empty();
                    $.get('@Url.Action("GetRawItemByRawSubCatWithCBSID", "Helper")', { ID: subCatId, CBSID: cbsID }, function (data) {
                        $("#ItemFK_" + Id).append("<option value ='' selected>Select RawItem</option>")
                        $.each(data, function (index, row) {
                            $("#ItemFK_" + Id).append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });
                } else {
                    $("#ItemFK_" + Id).empty();
                }
            });
        }

        function GetUpdateView(ID) {
            $(function () {
                $.ajaxSetup({ cache: false });

                $("a[data-modal=" + ID + "]").on("click", function (e) {
                    $('#BomItemUpdate_' + ID).load(this.href);
                    $('#BomItemCreate_' + ID).remove();
                    return false;
                });
            });
        }
    </script>
}