﻿@model Erp.Core.Services.Merchandising.VMOrderView
@{
    ViewData["Title"] = "Style";
    Layout = "~/Views/Shared/_Layout.cshtml";
     var tdId = "tdId";
}
<style type="text/css">
    .box-header > .box-tools {
        position: absolute;
        left: 10px;
        top: 5px;
    }

    .customTable,
    .table > tbody > tr > td,
    .table > tbody > tr > th,
    .table > tfoot > tr > td,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > thead > tr > th {
        padding: 3px !important;
    }

    .trclass {
        border: 1px solid thick;
        font-size: 12px;
        font-weight: 700;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Order's Style
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a asp-action="Order" asp-controller="Merchandising">Order</a></li>
                <li class="active">Style</li>
            </ol>
        </section>
        <div class="box box-success">
            <div class="box-header custom bg-success with-border">
                <h4>
                    Order Summary:
                </h4>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-body col-md-6 col-lg-6 col-sm-6 col-xs-12">
                        <div class="input-group">
                            <span style="width:120px;" class="input-group-addon">@Html.DisplayNameFor(x => x.vmOrder.CID)</span>
                            @*<a style="width:310px;" class="btn btn-block btn-primary" asp-action="Order" asp-controller="Merchandising">@Html.DisplayFor(x => x.vmOrder.CID)</a>*@
                            <input style="width:410px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrder.CID)">
                        </div>
                        <div class="input-group">
                            <span style="width:120px;" class="input-group-addon">@Html.DisplayName("Buyer Name")</span>
                            <input style="width:410px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrder.BuyerName)">
                        </div>
                        <div class="input-group">
                            <span style="width:120px;" class="input-group-addon">@Html.DisplayName("Agent Name")</span>
                            <input style="width:410px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrder.Agent)">
                        </div>
                    </div>
                    <div class="box-body col-md-6 col-lg-6 col-sm-7 col-xs-12">
                        <div class="input-group">
                            <span style="width:150px;" class="input-group-addon">@Html.DisplayName("PO Number")</span>
                            <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrder.BuyerPO)">
                        </div>
                        <div class="input-group">
                            <span style="width:150px;" class="input-group-addon">@Html.DisplayNameFor(x => x.vmOrder.OrderDate)</span>
                            <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrder.OrderDate)">
                        </div>
                        <div class="input-group">
                            <span style="width:150px;" class="input-group-addon">@Html.DisplayNameFor(x => x.vmOrder.BuyerPOValue)</span>
                            <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmOrder.BuyerPOValue)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box collapsed-box box-success" id="open">
                    <div class="box-header">
                        <h4 class="box-title">.</h4>
                        <div class="box-tools" id="btncollapse">
                            <button type="button" class="btn btn-block btn-primary" data-widget="collapse">
                                <i id="iconName" class="fa fa-plus"></i> Style
                            </button>
                        </div>
                    </div>
                    <div class="box-body" style="display:none">
                        <div id="updateStyle"></div>
                        <div id="createStyle">
                            @await Component.InvokeAsync("CommonUI", new { id = 0, oid = Model.vmOrder.ID, name = "Style" })
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Style Basic Information:
                </h4>
            </div>
           
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th class="hidden"></th>
                                <th>SL</th>
                                <th>Reference Action</th>
                                <th>Document</th>

                                <th>Style ID</th>
                                <th>Style</th>
                                <th>Reference</th>
                                <th>Item Name</th>

                                <th>First Move</th>
                                <th>Update Date</th>
                                <th>Fabrication</th>
                                <th>Size Range</th>

                                <th>Pack Quantity</th>
                                <th>Set Per Pack</th>
                                <th>Subset Types</th>
                                <th>Pack Per CTN</th>
                                <th>Total Quantity</th>

                                <th>Unit Price($)</th>
                                <th>Pack Price($)</th>
                                <th>Style Value($)</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.vmStyle.DataList)
                            {
                                <tr>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td>@(++sl)</td>
                                    <td>
                                        <a data-modal="" class="linkPointer" asp-action="UpdateFrom" asp-controller="Merchandising" asp-route-Id="@item.ID" asp-route-UI="Style"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                        <a onclick="deleteItemInfo(@item.ID,@item.Merchandising_BuyerOrderFK);" class="linkPointer @item.IsCanDelete" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>&nbsp;&nbsp;
                                        @Html.ActionLink("BOM", "StyleView", new { Id = item.ID }, new { @title = "Style BOM", @class = "label " + item.RefBOM })
                                        @Html.ActionLink("BOF", "YarnCalculation", "Merchandising", new { Id = item.ID }, new { @title = "Bill of Fabrics", @class = "label " + item.RefBOF })
                                        @Html.ActionLink("Style SMV", "StylePreSMV", "Production", new { Id = item.ID }, new { @title = "Style SMV", @class = "label " + item.RefSMV })
                                        @Html.ActionLink("Shipment Schedule", "StyleShipment", new { Id = item.ID }, new { @title = "Shipment Schedule", @class = "label " + item.RefShipment })&nbsp;&nbsp;
                                        @*@Html.ActionLink("Yarn Calculation", "YarnCalculation", "Merchandising", new { Id = item.ID }, new { @title = "Yarn Calculation", @target = "_blank" })
                                        @Html.ActionLink("Bill of Fabrics", "BOF", "Merchandising", new { Id = item.ID }, new { @title = "Bill of Fabrics", @target = "_blank", @style = "color:blueviolet" })*@

                                    </td>
                                    <td>
                                        <a class="linkPointer" asp-action="ReportBOM" asp-controller="Merchandising" asp-route-ID="@item.ID" asp-route-UI="Style" title="BOM Document" target="_blank"><i class="glyphicon glyphicon-print" aria-hidden="true"></i> BOM</a>
                                        <a class="linkPointer" asp-action="ReportBOF" asp-controller="Merchandising" asp-route-ID="@item.ID" title="BOF Document" target="_blank"><i class="glyphicon glyphicon-print" aria-hidden="true"></i> BOF</a>
                                    </td>
                                    <td><a href="@Url.Action("StyleView","Merchandising",new { Id=item.ID })" class="linkPointer" title="Bill Of Materials" data-placement="top">@Html.DisplayFor(modelItem => item.CID)</a></td>
                                    <td>@item.Style</td>
                                    <td>@item.Reference</td>
                                    <td>@item.ItemName</td>

                                    <td>@item.FirstMove.ToString("yyyy/MM/dd")</td>
                                    <td>@item.UpdateDate.ToString("yyyy/MM/dd")</td>

                                    <td>@item.Fabrication</td>
                                    <td>@item.SizeName</td>

                                    <td style="text-align:center">@item.PackQty</td>
                                    <td style="text-align:center">@item.PackPieceQty</td>
                                    <td style="text-align:center">@item.SetQuantity</td>
                                    <td style="text-align:center">@item.SetPackCarton</td>
                                    <td style="text-align:right">@item.PieceQty</td>

                                    <td style="text-align:center">@String.Format("{0:0.0000}", item.UnitPrice)</td>
                                    <td style="text-align:center">@item.PackPrice</td>
                                    <td style="text-align:right">@String.Format("{0:0.00000}", item.StylePrice)</td>
                                    <td>@item.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="box">
        @using (Html.BeginForm("OrderView", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
        {
            @Html.HiddenFor(model => model.ID, new { id = "DeleteId" })
            @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })
            @Html.HiddenFor(model => model.vmStyle.Merchandising_BuyerOrderFK, new { id = "OrderId" })
            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Style Delete</b></h5>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure to delete?</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="btnsave" class="btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section scripts {

<script type="text/javascript">

    function deleteItemInfo(id,oid) {
        if (id !== null) {
            $('#DeleteId').val(id);
            $('#OrderId').val(oid);
            $('#DeleteActionId').val(3);
        }
    }

    $(document).ready(function () {
        $('.searchingDropdown').select2();
        $('.formValidator').bootstrapValidator();

        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
               
                $('#updateStyle').load(this.href);
                $('#createStyle').remove();
                $("#open").removeClass('collapsed-box');
                $('.box-body').css("display", "block")
                $("#iconName").addClass('fa-minus');
                
                return false;
            });
        });
        
        $("#Mkt_CategoryFK").change(function () {
            var CatId = $("#Mkt_CategoryFK").val();

            if (CatId != null) {
                document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
                document.getElementById("Mkt_ItemFK").innerHTML = "";
                //------Load Sub-Category----
                $.get('@Url.Action("GetFinishSubCategory", "Helper")', { CatID: CatId }, function (data) {
                    $("#Mkt_SubCategoryFK").append("<option value ='' selected>Select a Sub-Category</option>")
                    $.each(data, function (index, row) {
                        $("#Mkt_SubCategoryFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                })
            }
            else {
                document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
                document.getElementById("Mkt_ItemFK").innerHTML = "";
            }
        });

        $("#Mkt_SubCategoryFK").change(function () {
            var SubCatId = $("#Mkt_SubCategoryFK").val();
            if (SubCatId != null) {
                document.getElementById("Mkt_ItemFK").innerHTML = "";
                $.get('@Url.Action("GetFinishItem", "Helper")', { SubCatID: SubCatId }, function (data) {

                    $("#Mkt_ItemFK").append("<option value ='' selected>Select a Finish Item</option>")
                    $.each(data, function (index, row) {
                        $("#Mkt_ItemFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Mkt_ItemFK").innerHTML = "";
            }
        });
    });
</script>
}