﻿@*@model Erp.Core.Services.Merchandising.VMPacking
@{
    ViewData["Title"] = "Packing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Manage Packing
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Packing List</li>
            </ol>
        </section>
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <div class="row">
                    <div class="box">
                        <div class="box-body bg-grey">
                            @using (Html.BeginForm("ShipmentSchedule", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                            {
                                @Html.HiddenFor(model => model.ID, new { id = "StyleFK" })
                                @Html.HiddenFor(model => model.Merchandising_StyleFK PieceQty)
                                @Html.HiddenFor(model => model.vmStyle.SetQuantity)
                                @Html.HiddenFor(model => model.ID, new { id = "hidId" })
                                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div id="divddlDestination" class="form-group" style="display:block">
                                            <label for="recipient-name" class="col-form-label">Order Style:</label>
                                            @Html.DropDownListFor(model => model.Merchandising_StyleFK, ViewBag.DestinationList as SelectList, "Select a Destination", new { id = "ddlCountryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Merchandising_StyleFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Delevery Date:</label>
                                            @Html.DropDownListFor(model => model.Merchandising_StyleShipmentScheduleFK, ViewBag.PortList as SelectList, "Select Destination Port", new { id = "ddlPortFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Merchandising_StyleShipmentScheduleFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Destination Number:</label>
                                            @Html.TextBoxFor(model => model.DestinationNo, new { @class = "form-control", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmShipmentSchedule.DestinationNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Shipment Date:</label>
                                            @Html.TextBoxFor(model => model.vmShipmentSchedule.Date, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", required = "true", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmShipmentSchedule.Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <label for="recipient-name" class="col-form-label">Color:</label>
                                        @Html.DropDownListFor(model => model.vmShipmentSchedule.ColorIds, ViewBag.ColorList as MultiSelectList, "Select Color", new { id = "ColorFK", multiple = "multiple", @class = "searchingDropdown form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.vmShipmentSchedule.ColorIds, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="recipient-name" class="col-form-label">Sub-Set Name:</label>
                                        @Html.DropDownListFor(model => model.vmShipmentSchedule.StyleSetPackFK, ViewBag.SubSetList as SelectList, "Select Sub-Set", new { id = "StyleSetPackFK", @class = "searchingDropdown form-control" })
                                        @Html.ValidationMessageFor(model => model.vmShipmentSchedule.StyleSetPackFK, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-2 col-md-2" style="padding-top:25px;">
                                        <input type="button" id="btnAddSize" class="btn btn-primary" value="Load Size" name="Load Size" />
                                    </div>
                                </div>
                                <div id="addSize"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Buyer Order:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div id="updateForm"></div>
                    <div id="createForm">
                        @await Component.InvokeAsync("CommonUI", new { ID = 0, Name = "Order" })
                    </div>
                    <div class="box">
                        @using (Html.BeginForm("Order", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                        {
                            @Html.HiddenFor(model => model.ID, new { id = "DeleteId" })
                            @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })
                            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                &times;
                                            </button>
                                            <h5 class="modal-title"><b>Order Delete</b></h5>
                                        </div>
                                        <div class="modal-body">
                                            <div style="text-align:center">
                                                <h3>Are you sure to delete?</h3>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th>Order ID</th>
                                <th>Buyer PO </th>
                                <th>Buyer Name</th>
                                <th>Season/Year</th>
                                <th>PO Date</th>
                                <th>Agent Name</th>
                                <th>Inspection Agent Name</th>
                                <th>Buying Commission (%)</th>
                                <th>Order Value</th>
                                <th>Remarks</th>
                                <th class="center">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td><a href="@Url.Action("OrderView","Merchandising",new { Id=item.ID })" class="linkPointer" title="Details" data-placement="top">@Html.DisplayFor(modelItem => item.CID)</a></td>
                                    <td>@item.BuyerPO</td>
                                    <td>@item.BuyerName</td>
                                    <td>@item.Season</td>
                                    <td>@item.OrderDate.ToString("yyyy/MM/dd")</td>
                                    <td>@item.Agent</td>
                                    <td>@item.InspectionAgent</td>
                                    <td>@item.Commission</td>
                                    <td>$ @item.BuyerPOValue</td>
                                    <td>@item.Remarks</td>
                                    <td>
                                        <a data-modal="" class="linkPointer" asp-action="CreateForm" asp-controller="Merchandising" asp-route-Id="@item.ID" asp-route-VId="Order"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a> &nbsp;
                                        @if (!item.IsReference)
                                        {
                                            <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@