﻿@{
    ViewData["Title"] = "PurchaseOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdBomId = "tdBomId";
    var tdCategoryId = "tdCategoryId";
    var tdSubCategoryId = "tdSubCategoryId";
    var tdItemId = "tdItemId";
    var tdSupplierId = "tdSupplierId";
    var tdUnitId = "tdUnitId";
    var tdCurrencyId = "tdCurrencyId";
    var tdStatusId = "tdStatusId";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";
    var td7 = "td7";
    var td8 = "td8";
}

@model Erp.Core.Services.Merchandising.VMPurchaseOrder
@using (Html.BeginForm("PurchaseOrder", "Merchandising", FormMethod.Post, new { id = "PO", @class = "formValidator" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            Purchase Order:
                            &nbsp;&nbsp;
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Item"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>IPO ID</th>
                                        <th>Date</th>
                                        <th>PO Value</th>
                                        <th>Supplier</th>
                                        <th>Style No</th>
                                        <th>Status</th>

                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                    <tr>
                                        <td>@(++sl).</td>
                                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                        <td id="@tdBomId@item.ID" class="hidden">@item.Mkt_BOMFK</td>
                                        <td id="@tdSupplierId@item.ID" class="hidden">@item.Common_SupplierFK</td>
                                        <td id="@tdCurrencyId@item.ID" class="hidden">@item.Common_CurrencyFK</td>
                                        <td id="@tdStatusId@item.ID" class="hidden">@item.StatusFK</td>
                                        <td id="@td1@item.ID">@item.CID</td>
                                        <td id="@td2@item.ID">@item.Date</td>
                                        <td id="@td3@item.ID">@item.POValue</td>
                                        <td id="@td4@item.ID">@item.Supplier</td>
                                        <td id="@td5@item.ID">@item.Style</td>
                                        <td id="@td6@item.ID"style="color:orangered">@item.IsAuthorize</td>
                                    
                                        <td>
                                            <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                            </a>
                                            <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </a>
                                            @Html.ActionLink(" ", "PurchaseOrderView", new { Id = item.ID }, new { @title = "Purchase Order Details", @target = "_blank", @class = "glyphicon glyphicon-new-window" })
                                            @Html.ActionLink(" ", "#", new { id = item.ID }, new { @title = "Authorize", @class = "lnkAuthorize AuthorizeCss glyphicon glyphicon-user" })
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Perchase Order</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="divddlBOM" class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Style:</label>
                        @Html.DropDownListFor(model => model.Mkt_BOMFK, ViewBag.BOMList as SelectList, "Select a Style", new { id = "ddlBOM", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Mkt_BOMFK, "", new { @class = "text-danger" })
                    </div>

                    <div id="divddlSupplier" class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Supplier Name:</label>
                        @Html.DropDownListFor(model => model.Common_SupplierFK, ViewBag.SupplierList as SelectList, "Select a Supplier", new { id = "ddlSupplier", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Common_SupplierFK, "", new { @class = "text-danger" })
                    </div>


                    <div id="divddlCurrency" class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Currency:</label>
                        @Html.DropDownListFor(model => model.Common_CurrencyFK, ViewBag.CurrencyList as SelectList, "Select a Currency", new { id = "ddlCurrency", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Common_CurrencyFK, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Date:</label>
                        @Html.TextBoxFor(model => model.Date, new { id = "txt2", placeholder = "Date", @class = "form-control datePicker", required = "true" })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Currency Rate:</label>
                        @Html.TextBoxFor(model => model.CurrencyRate, new { id = "txt3", @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.CurrencyRate, "", new { @class = "text-danger" })
                    </div>
                    <div id="divddlStatus" class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Status:</label>
                        @Html.DropDownListFor(model => model.StatusFK, ViewBag.StatusList as SelectList, "Select a Status", new { id = "ddlStatus", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.StatusFK, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Description:</label>
                        @Html.TextAreaFor(model => model.Description, new { id = "txt4", @class = "form-control", required = "true", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Purchase Order Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txt1').val($('#td2' + r).text().trim());
                $('#txt2').val($('#td2' + r).text().trim());
                //$('#txt3').val($('#td3' + r).text().trim());
                $('#ddlBOM').val($('#tdBomId' + r).text()).trigger('change');
                $('#ddlSupplier').val($('#tdSupplierId' + r).text()).trigger('change');
                $('#ddlCurrency').val($('#tdCurrencyId' + r).text()).trigger('change');
                $('#ddlStatus').val($('#tdStatusId' + r).text()).trigger('change');
                
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
        $("#btncloseandreset").click(function (e) {

            $("#BOM").trigger("reset");


            e.preventDefault();

            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txt1').empty();
            $('#txt2').empty();
            $('#txt3').empty();
            $('#txt4').empty();
            $('#txt5').empty();
            $('#txt6').empty();
            $('#txt7').empty();
        })
    </script>
}

