﻿@model Erp.Core.Services.Merchandising.VMStyleView
@{
    Layout = null;
    ViewData["Title"] = "Bill of Facric";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bill of Facric</title>
    <style type="text/css">
        h4 {
            /*border-bottom: 2px solid black;
            display: inline;*/
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        .table-condensed > tbody > tr > td,
        .table-condensed > tbody > tr > th,
        .table-condensed > tfoot > tr > td,
        .table-condensed > tfoot > tr > th,
        .table-condensed > thead > tr > td,
        .table-condensed > thead > tr > th {
            padding: 3px !important;
        }

        #page {
            background-color: #fff;
            width: 1000px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            /*text-transform: uppercase !important;*/
        }

        .labelcolor {
            -webkit-print-color-adjust: exact;
            background: #525659 !important;
            color: white;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script type="text/javascript">
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            @*<div class="text-center">
                    <div class="row">
                        <h3>
                            <span style="float: left">
                                <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                            </span>
                            <span style="text-align:center" ; color: #AA57FF">
                                Romo Fashion Today Ltd.
                            </span>
                        </h3>
                    </div>
                </div>
                <hr style="width: 100%; color: black; height: 2px; background-color: black;">*@
            <br />
            <div class="text-left">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="form-group" style="text-align:left">
                            <h4><b>BILL OF FABRIC</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group" style="text-align:right">
                            <p>Print Date: @DateTime.Now.ToString("MMM dd, yyyy hh:mm tt")</p>
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                        <h5>
                            <b>Date :</b> From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                        </h5>
                    </div>*@
            </div>
            <div style="width:100%;">
                <div id="viewparty">
                    <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                        <thead>
                            <tr><th colspan="10" style="width:95px; text-align:center; background-color:#4fa95c !important; color:white;">Style Details</th></tr>
                            <tr>
                                <th>Style ID</th>
                                <th>:</th>
                                <th>@Model.vmStyle.CID</th>
                                <th>Buyer PO</th>
                                <th>:</th>
                                <th>@Model.vmStyle.BuyerPO</th>
                                <th>Pack Quantity</th>
                                <th>:</th>
                                <th>@Model.vmStyle.PackQty</th>
                            </tr>
                            <tr>
                                <th>Buyer Name</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.BuyerName</th>
                                <th>Order Date</th>
                                <th>:</th>
                                <th>@Model.vmStyle.OrderDate.ToString("MMM dd, yyyy")</th>
                                <th style="width:95px;">Set Per Pack</th>
                                <th>:</th>
                                <th>@Model.vmStyle.PackPieceQty</th>
                            </tr>
                            <tr>
                                <th style="width:95px;">Style Name</th>
                                <th>:</th>
                                <th>@Model.vmStyle.Style</th>
                                <th>Session</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.Season</th>
                                <th>Unit Price</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.UnitPrice.ToString("0.00000")</th>
                            </tr>
                            <tr>
                                <th>Reference</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.Reference</th>
                                <th>Style Size</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.SizeName</th>
                                <th>Total Quantity</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.PieceQty</th>
                            </tr>
                            <tr>
                                <th>Item</th>
                                <th style="width:5px;">:</th>
                                <th colspan="4">@Model.vmStyle.ItemName</th>
                                <th>Total DZ.</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.DozonQty.ToString("0.00000")</th>
                            </tr>
                            <tr>
                                <th>Fabrication</th>
                                <th>:</th>
                                <th>@Model.vmStyle.Fabrication</th>
                                <th>Class</th>
                                <th>:</th>
                                <th>@Model.vmStyle.Class</th>
                                <th>Total Price</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.StylePrice.ToString("0.00000")</th>
                            </tr>
                            <tr>
                                <th>Merchandiser</th>
                                <th>:</th>
                                <th>@Model.vmStyle.User</th>
                                <th>First Move</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.FirstMove.ToString("MMM dd, yyyy")</th>
                                <th>Update Date</th>
                                <th style="width:5px;">:</th>
                                <th>@Model.vmStyle.UpdateDate.ToString("MMM dd, yyyy")</th>
                            </tr>
                        </thead>
                    </table>

                    <!-- Fabric -->
                    @*<table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                        <thead style="background-color:#525659 !important; color:white;">
                            <tr>
                                <th rowspan="5">Category : @Model.lstCat1.RawCategory </th>
                                <th style="text-align:right;">Total Required: @Model.lstCat1.RequiredQty</th>
                                <th style="text-align:right;">Total Cost: @Model.lstCat1.TotalPrice</th>
                            </tr>
                        </thead>
                    </table>*@
                    <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                        <thead>
                            <tr style="width:95px; text-align:center; background-color:#5465a7 !important; color:white;">
                                <th>SL</th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Consumption</th>
                                <th>Required Quantity</th>
                                <th>Item Cost</th>
                                <th>Total Cost</th>
                                <th>Item Status</th>
                            </tr>
                        </thead>
                        @{ int sls = 0; }
                        <tbody>
                            @foreach (var item in Model.BOFDataList)
                            {
                                decimal? total = (item.RequiredQuantity * item.Price);
                                <tr>
                                    <td>@(++sls).</td>
                                    <td>@item.RawItemName</td>
                                    <td>@item.Description</td>
                                    <td>
                                        @if (item.Consumption == 0)
                                        {
                                            <span style="text-decoration: line-through;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                @item.Consumption
                                            </span>
                                        }
                                    </td>
                                    <td>@item.RequiredQuantity</td>
                                    <td>@item.Price</td>
                                    <td>
                                        @String.Format("{0:0.00000}", total)
                                    </td>
                                    <td>
                                        @if (item.IsFabric == true)
                                        {
                                            <span class="badge bg-green">
                                                Finish Fabrics
                                            </span>
                                        }
                                        else
                                        {
                                            if (item.Common_RawCategoryFK == 1020)
                                            {
                                                <span class="badge bg-yellow">
                                                    Yarn
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-light-blue">
                                                    Grey Fibrics
                                                </span>
                                            }
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @if(Model.BOFDataList!=null)
                        {
                        <tfoot>
                            <tr>
                                <th colspan="6" style="text-align:right">Total:</th>
                                <th colspan="2" style="text-align:left">@Model.BOFDataList.Sum(a => a.RequiredQuantity * a.Price)</th>
                            </tr>
                        </tfoot>
                        }
                    </table>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <table style="width: 100%; float:right">
                        <tr>
                            <td style="text-align:left; border-top:1px solid">
                                <strong>Merchandiser Signature</strong>
                            </td>
                            <td style="text-align:right; border-top:1px solid">
                                <strong>Authorized Signature</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <br />
            <br />
            <br />


            <br />
            <br />
        </div>
        @*<div style="text-align: left">
                Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
            </div>*@
    </div>
</body>
</html>