﻿@{
    ViewData["Title"] = "SetPackView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Merchandising.VMStyleView

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Manage Style's Set
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a asp-action="Order" asp-controller="Merchandising">Order</a></li>
                <li><a asp-action="OrderView" asp-controller="Merchandising" asp-route-Id="@Model.vmStyle.Merchandising_BuyerOrderFK">Style</a></li>
                <li class="active">Set Pack</li>
            </ol>
        </section>
        <div class="box box-info">
            <div class="box-header custom with-border bg-success">
                <h4>
                    Style Summary :
                </h4>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.vmStyle.CID)</span>
                        @*<a style="width:310px;" class="btn btn-block btn-primary" asp-action="OrderView" asp-controller="Merchandising" asp-route-Id="@Model.vmStyle.Merchandising_BuyerOrderFK">@Html.DisplayFor(x => x.vmStyle.CID)</a>*@
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.CID)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.vmStyle.Style)</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.Style)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Size Range")</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.SizeName)">
                    </div>
                </div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.vmStyle.ItemName)</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.ItemName)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.vmStyle.Fabrication)</span>
                        <input style="width:310px;" type="text" class="form-control" readonly value="@Html.DisplayFor(x => x.vmStyle.Fabrication)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.vmStyle.PackQty)</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.PackQty)">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Style's SubSet Information:
                </h4>
            </div>
            <div id="updateStyle"></div>
            <div id="createStyle">
                    @await Component.InvokeAsync("SetPackUI", new { ID = 0, StyleId= Model.vmStyle.ID })
                </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th>Sub-Set Name</th>
                                <th>Color</th>
                                <th>Quantity</th>
                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.vmStyleSetPack.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td>@item.SetPackName</td>
                                    <td>@item.Color</td>
                                    <td>@item.Quantity</td>
                                    <td>
                                        <a data-modal="" class="linkPointer" asp-action="SetPackForm" asp-controller="Merchandising" asp-route-Id="@item.ID" asp-route-StyleID="@item.Merchandising_StyleFK"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                        @*<a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @using (Html.BeginForm("SetPackView", "Merchandising", FormMethod.Post, new { id = "SetPackView", @class = "formValidator" }))
    {
        @Html.HiddenFor(model => model.ID, new { id = "hidId" })
        @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Shipment Schedule Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@section scripts {

    <script type="text/javascript">

    function deleteItemInfo(id) {
        if (id !== null) {
            $('#hidId').val(id);
            $('#ActionId').val(3);
        }
    }

    $(document).ready(function () {
        $('.searchingDropdown').select2();
        $('.formValidator').bootstrapValidator();

        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#updateStyle').load(this.href);
                $('#createStyle').remove();
                return false;
            });
        });
    });
    </script>
}