﻿@model Erp.Core.Services.Merchandising.VMStyle
@{
    ViewData["Title"] = "ShipmentReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Sl = 0;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <section class="content-header">
            <h1>
                Shipment Delivery Report:
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Shipment Delivery</li>
            </ol>
        </section>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box box-success">
            <div class="box-header bg-success">
                @using (Html.BeginForm("ShipmentReport", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ReportID)
                                @Html.DropDownListFor(model => model.ReportID, ViewBag.ReportType as SelectList, "--Report Type--", new { @id = "reportTypeId", @class = "form-control searchingDropdown", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.ReportID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="form-group">
                                @Html.Label("Buyer Name")
                                @Html.DropDownListFor(model => model.ID, ViewBag.BuyerList as SelectList, "--All Buyer--", new { @id = "MktBOMFk", @class = "form-control searchingDropdown" })
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.FromDate, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.FromDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "From Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-12">
                            <div class="form-group">
                                @Html.LabelFor(model => model.ToDate, htmlAttributes: new { @class = "control-label" })
                                @Html.TextBoxFor(model => model.ToDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "To Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-xs-12" style="padding-top:25px;">
                            <input type="submit" value="Generate" class="btn btn-success btn-block btn-flat" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        @if (Model.DataList != null && Model.ReportID == 1)
        {
            <div class="box box-info">
                <div class="box-header bg-success custom">
                    <h4>Shipment Delivery Periodic Details Report</h4>
                </div>
                <div class="box-body table-responsive">
                    <table id="tableABC" class="table table-bordered table-hover jambo_table">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>@Html.DisplayName("Buyer Name")</th>
                                <th>@Html.DisplayName("Buyer PO")</th>
                                <th>@Html.DisplayName("Item Name")</th>
                                <th style="text-align:right;">@Html.DisplayName("Shipment Date")</th>
                                <th style="text-align:right;">@Html.DisplayName("Pack Qty")</th>
                                <th style="text-align:right;">@Html.DisplayName("Piece Qty")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++Sl)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BuyerName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BuyerPO)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Style)</td>
                                    <td style="text-align:right;">@item.ShipDate.ToString("dd/MM/yyyy")</td>
                                    <td style="text-align:right;">@Html.DisplayFor(modelItem => item.PackQty)</td>
                                    <td style="text-align:right;">@Html.DisplayFor(modelItem => item.PieceQty)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @if (Model.DataList != null && Model.ReportID == 2)
        {
            <div class="box box-info">
                <div class="box-header">
                    <h4>Shipment Delevery Periodic Summary Report</h4>
                </div>
                <div class="box-body table-responsive">
                    <table id="tableABC" class="table table-striped jambo_table">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>@Html.DisplayName("Buyer Name")</th>
                                <th>@Html.DisplayName("Buyer PO")</th>
                                <th>@Html.DisplayName("Item Name")</th>
                                <th style="text-align:right;">@Html.DisplayName("Total Pack")</th>
                                <th style="text-align:right;">@Html.DisplayName("Total Piece")</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++Sl)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BuyerName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.BuyerPO)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Style)</td>
                                    <td style="text-align:right;">@Html.DisplayFor(modelItem => item.PackQty)</td>
                                    <td style="text-align:right;">@Html.DisplayFor(modelItem => item.PieceQty)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>