﻿@{
    ViewData["Title"] = "StyleShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdBomId = "tdBomId";
    var tdDestinationId = "tdDestinationId";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";
    var td7 = "td7";
    var tdRId = "tdRId";

    var tdROrderDeliveryId = "tdROrderDeliveryId";
}
@model Erp.Core.Services.Merchandising.VMStyleView

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Shipment Schedule
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a asp-action="Order" asp-controller="Merchandising">Order</a></li>
                <li><a asp-action="OrderView" asp-controller="Merchandising" asp-route-Id="@Model.vmStyle.Merchandising_BuyerOrderFK">Style</a></li>
                <li class="active">Shipment Schedule</li>
            </ol>
        </section>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="box box-info">
            <div class="box-header custom bg-success">
                <h4>
                    Style's Sub-Set:
                </h4>
            </div>
            <div id="updateStyle"></div>
            <div id="createStyle">
                @await Component.InvokeAsync("SetPackUI", new { ID = 0, StyleId = Model.vmStyle.ID })
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th>Sub-Set Name</th>
                                <th>Piece</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.vmStyleSetPack.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td>@item.SetPackName</td>
                                    <td>@item.Quantity</td>
                                    <td>
                                        <a data-modal="" class="linkPointer" asp-action="SetPackForm" asp-controller="Merchandising" asp-route-Id="@item.ID" asp-route-StyleID="@item.Merchandising_StyleFK"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                        @*<a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="box">
            <div class="box-header custom with-border bg-success">
                <h4>
                    Order Style Summary :
                </h4>
            </div>
            <div class="box-body">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.vmStyle.CID)</th>
                            <td>@Html.DisplayFor(x => x.vmStyle.CID)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.vmStyle.Style)</th>
                            <td>@Html.DisplayFor(x => x.vmStyle.Style)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Size Range")</th>
                            <td>@Html.DisplayFor(x => x.vmStyle.SizeName)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.vmStyle.PackQty)</th>
                            <td>@Html.DisplayFor(x => x.vmStyle.PackQty)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Set Per Pack")</th>
                            <td>@Html.DisplayFor(x => x.vmStyle.PackPieceQty)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Subset Types")</th>
                            <td>@Html.DisplayFor(x => x.vmStyle.SetQuantity)</td>
                        </tr>
                        <tr>
                            <th>@Html.DisplayName("Total Production Qty")</th>
                            <td>@Html.DisplayFor(x => x.vmStyle.ProductionPieceQty)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Shipment Schedule:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body bg-grey">
                            @using (Html.BeginForm("ShipmentSchedule", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                            {
                                @Html.HiddenFor(model => model.vmStyle.ID, new { id = "StyleFK" })
                                @Html.HiddenFor(model => model.vmStyle.PackQty)
                                @Html.HiddenFor(model => model.vmStyle.SetQuantity)
                                @Html.HiddenFor(model => model.vmStyle.PieceQty)
                                @Html.HiddenFor(model => model.vmStyle.ProductionPieceQty)
                                @Html.HiddenFor(model => model.ID, new { id = "hidId" })
                                @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div id="divddlDestination" class="form-group" style="display:block">
                                            <label for="recipient-name" class="col-form-label">Destination Country:</label>
                                            @Html.DropDownListFor(model => model.vmShipmentSchedule.Common_CountryFK, ViewBag.DestinationList as SelectList, "Select a Destination", new { id = "ddlCountryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmShipmentSchedule.Common_CountryFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Destination Port:</label>
                                            @Html.DropDownListFor(model => model.vmShipmentSchedule.Common_CountryPortFK, ViewBag.PortList as SelectList, "Select Destination Port", new { id = "ddlPortFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmShipmentSchedule.Common_CountryPortFK, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Destination Number:</label>
                                            @Html.TextBoxFor(model => model.vmShipmentSchedule.DestinationNo, new { @class = "form-control", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmShipmentSchedule.DestinationNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Shipment Date:</label>
                                            @Html.TextBoxFor(model => model.vmShipmentSchedule.Date, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", required = "true", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmShipmentSchedule.Date, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <label for="recipient-name" class="col-form-label">Color:</label>
                                        @Html.DropDownListFor(model => model.vmShipmentSchedule.ColorIds, ViewBag.ColorList as MultiSelectList, "Select Color", new { id = "ColorFK", multiple = "multiple", @class = "searchingDropdown form-control", required = "required" })
                                        @Html.ValidationMessageFor(model => model.vmShipmentSchedule.ColorIds, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <label for="recipient-name" class="col-form-label">Sub-Set Name:</label>
                                        @Html.DropDownListFor(model => model.vmShipmentSchedule.StyleSetPackFK, ViewBag.SubSetList as SelectList, "Select Sub-Set", new { id = "StyleSetPackFK", @class = "searchingDropdown form-control" })
                                        @Html.ValidationMessageFor(model => model.vmShipmentSchedule.StyleSetPackFK, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-2 col-md-2" style="padding-top:25px;">
                                        <input type="button" id="btnAddSize" class="btn btn-primary" value="Load Size" name="Load Size" />
                                    </div>
                                </div>
                                <div id="addSize"></div>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableABC" class="table table-bordered table-hover text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Destination Country</th>
                                <th>Destination Port</th>
                                <th>Destination Number</th>
                                <th>Shipment Date</th>
                                <th>Pack Qty</th>
                                <th>Pack Set Qty</th>
                                <th>Production Qty</th>
                                <th>Details</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.vmShipmentSchedule.DataList)
                            {
                                <tr>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td id="@tdBomId@item.ID" class="hidden">@item.Merchandising_StyleFK</td>
                                    <td id="@tdDestinationId@item.ID" class="hidden">@item.Common_CountryFK</td>
                                    <td id="@td4@item.ID">@item.Destination</td>
                                    <td id="@td5@item.ID">@item.PortNo</td>
                                    <td id="@td6@item.ID">@item.DestinationNo</td>
                                    <td id="@td7@item.ID">@item.Date.ToString("yyyy/M/dd")</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.PackQuantity</td>
                                    <td>@item.PiecsQuantity</td>
                                    <td>@item.ColorSize</td>
                                    <td>
                                        <a id="@item.ID" onclick="updateShipmentDate(this);" class="linkPointer" data-toggle="modal" data-target="#exampleShipmentModal" title="Edit" data-placement="top"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <!--DeleteShipmentSchedule-->
            <div class="row">
                @using (Html.BeginForm("ShipmentSchedule", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    @Html.HiddenFor(model => model.ID, new { id = "DeletePK" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })
                    @Html.HiddenFor(model => model.vmStyle.ID)

                    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                        &times;
                                    </button>
                                    <h5 class="modal-title"><b>Delete All Shipment Port Schedule</b></h5>
                                </div>
                                <div class="modal-body">
                                    <div style="text-align:center">
                                        <h3>Are you sure to delete?</h3>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <!--UpdateShipmentScheduleDate-->
            <div class="row">
                @using (Html.BeginForm("ShipmentSchedule", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
                {
                    <div class="modal fade" id="exampleShipmentModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                        &times;
                                    </button>
                                    <h5 class="modal-title"><b>Update Shipment Delivery Date</b></h5>
                                </div>
                                <div class="modal-body">
                                    @Html.HiddenFor(model => model.vmStyle.ID, new { id = "StyleFK" })
                                    @Html.HiddenFor(model => model.vmShipmentSchedule.ID, new { id = "ShipmentId" })
                                    @Html.HiddenFor(model => model.ActionId, new { id = "UpdateActionId" })
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div id="divddlDestination" class="form-group" style="display:block">
                                        <label for="recipient-name" class="col-form-label">Country:</label>
                                        @Html.TextBoxFor(model => model.vmShipmentSchedule.Destination, new { id = "txt4", @class = "form-control", @readonly = "@readonly" })
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Discharge Port:</label>
                                        @Html.TextBoxFor(model => model.vmShipmentSchedule.PortNo, new { id = "txt15", @class = "form-control", @readonly = "@readonly" })
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Destination Number:</label>
                                        @Html.TextBoxFor(model => model.vmShipmentSchedule.DestinationNo, new { id = "txt6", @class = "form-control", @readonly = "@readonly" })
                                    </div>
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Shipment Date:</label>
                                        @Html.TextBoxFor(model => model.vmShipmentSchedule.Date, "{0:yyyy-MM-dd}", new { id = "txt7", @class = "form-control datePicker", required = "true" })
                                        @Html.ValidationMessageFor(model => model.vmShipmentSchedule.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="box box-success">
            <div class="box-header custom bg-success with-border">
                <h4>
                    Color Size Ratio:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="" class="table table-bordered table-hover text-nowrap table1">
                        <thead>
                            <tr class="bg-success">
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Destination Country</th>
                                <th>Destination Port</th>
                                <th>Destination Number</th>
                                <th>Color</th>
                                <th>Size</th>
                                <th>Set Quantity</th>
                                <th>Ratio</th>
                                <td>Production Qty</td>
                                <th>SubSet Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.vmColorSizeRatio)
                            {
                                <tr>
                                    <td id="@tdRId@item.ID" class="hidden">@item.ID</td>
                                    <td id="@tdROrderDeliveryId@item.ID" class="hidden">@item.OrderDeliveryScheduleFk</td>
                                    <td>@item.Destination</td>
                                    <td>@item.PortNo</td>
                                    <td>@item.DestinationNo</td>
                                    <td>@item.Color</td>
                                    <td>@item.Size</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Ratio</td>
                                    <td>@item.ProductionQty</td>
                                    <td>@item.SubSet</td>
                                    <td>
                                        @*<a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>*@
                                        <a onclick="deleteRatioItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteRatioModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        @using (Html.BeginForm("ColorSizeRatio", "Merchandising", FormMethod.Post, new { id = "ShipmentSchedule", @class = "formValidator" }))
        {
            @Html.HiddenFor(model => model.ID, new { id = "hidRId" })
            @Html.HiddenFor(model => model.ActionId, new { id = "ActionIdRatio" })
            @Html.HiddenFor(model => model.vmStyle.ID)

            <div class="modal fade" id="deleteRatioModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Port Color Size Delete</b></h5>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure to delete?</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header custom bg-success">
                <h4>
                    Shipment Color Size Summary:
                </h4>
            </div>
            <div class="box-body">
                @if (Model.vmColorSizeSummary.Any())
                {
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="bg-success">
                                    <th class="center">SubSet</th>
                                    <th class="center">Color</th>
                                    <th class="center">Total Quantity</th>
                                    @for (int a = 0; a < Model.vmColorSizeSummary[0].SizeList.Count(); a++)
                                    {
                                        <th class="center">@Html.DisplayFor(model => model.vmColorSizeSummary[0].SizeList[a].Size, new { @class = "form-control" })</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.vmColorSizeSummary.Count(); i++)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(model => model.vmColorSizeSummary[i].SubSetName, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.vmColorSizeSummary[i].Color, new { @class = "form-control" })
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.vmColorSizeSummary[i].Quantity, new { @class = "form-control" })
                                        </td>
                                        @for (int j = 0; j < Model.vmColorSizeSummary[i].SizeList.Count(); j++)
                                        {
                                            <td>
                                                @Html.DisplayFor(model => model.vmColorSizeSummary[i].SizeList[j].Quantity, new { @class = "form-control" })
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function updateShipmentDate(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ShipmentId').val($('#tdId' + r).text().trim());
                $('#UpdateActionId').val(2);
                $('#btnsave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txt4').val($('#td4' + r).text().trim());
                $('#txt15').val($('#td5' + r).text().trim());
                $('#txt6').val($('#td6' + r).text().trim());
                $('#txt7').val($('#td7' + r).text().trim());
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#DeletePK').val(id);
                $('#DeleteActionId').val(3);
            }
        }

        function deleteRatioItemInfo(id) {
            if (id !== null) {
                $('#hidRId').val(id);
                $('#ActionIdRatio').val(3);
            }
        }

        $("#btncloseandreset").click(function (e) {

            $("#ShipmentSchedule").trigger("reset");
            e.preventDefault();

            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txt1').empty();
            $('#txt2').empty();
            $('#txt3').empty();
            $('#txt4').empty();
            $('#txt5').empty();
            $('#txt6').empty();
            $('#txt7').empty();
        })

        $(function () {
            $.ajaxSetup({ cache: false });
            $("#btnAddSize").on("click", function (e) {
                var ColorId = $("#ColorFK").val();
                var StyleId = $("#StyleFK").val();
                var SetPackFK = $("#StyleSetPackFK").val();
                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("AddPortColorSize", "Merchandising")",
                    datatype: "Json",
                     data: { ColorIds: ColorId, StyleId: StyleId, SubSetId: SetPackFK},
                     success: function (data) {
                         $("#addSize").html(data);
                    }
                });
                return false;
            });

            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#updateStyle').load(this.href);
                $('#createStyle').remove();
                return false;
            });
        });

    </script>

    <script type="text/javascript">
        var $eventLog = $(".js-event-log");
        var $eventSelect = $(".selectDropdown");

        $eventSelect.on("select2:select", function (e) {
            $eventSelect.append('<option value="' + e.params.data.text + '">' + e.params.data.text + '</option>');
        });
        $eventSelect.on("select2:unselect", function (e) {
            e.params.data.element.remove();
        });

        function log(name, evt) {
            if (!evt) {
                var args = "{}";
            } else {
                var args = JSON.stringify(evt.params, function (key, value) {
                    if (value && value.nodeName) return "[DOM node]";
                    if (value instanceof $.Event) return "[$.Event]";
                    return value;
                });
            }
            var $e = $("<li>" + name + " -> " + args + "</li>");
            $eventLog.append($e);
            $e.animate({ opacity: 1 }, 50000, 'linear', function () {
                $e.animate({ opacity: 0 }, 2000, 'linear', function () {
                    $e.remove();
                });
            });
        }

        function formatResultData(data) {
            if (!data.id) return data.text;
            if (data.element.selected) return
            return data.text;
        };

        $eventSelect.select2({
            templateResult: formatResultData,
            tags: true
        });
    </script>
}