﻿@{
    ViewData["Title"] = "StyleReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Erp.Core.Services.Merchandising.VMStyleView
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="box box-success">
            <div class="box-body">
                @using (Html.BeginForm("StyleReport", "Merchandising", FormMethod.Post, new { id = "StyleReport", @class = "formValidator" }))
                {
                    @Html.HiddenFor(model => model.vmStyle.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-xs-12">

                            <div class="form-group">
                                <label asp-for="ID" class="control-label">Style Name</label>
                                <select asp-for="ID" asp-items="ViewBag.Style" class="form-control searchingDropdown" required="required">
                                    <option value=""> Select a Style </option>
                                </select>
                                <span asp-validation-for="ID" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="form-group" style="padding-top:25px">
                                <button type="submit" id="btnsave" class="btn btn-primary">Submit</button>

                            </div>
                        </div>
                    </div>

                }
            </div>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">

        <!DOCTYPE html>
        <html>
        <head>
            <meta name="viewport" content="width=device-width" />
            <title>Bill of Material</title>
            <style type="text/css">
                    h4 {
                        /*border-bottom: 2px solid black;
                display: inline;*/
                    }

                    .trclass {
                        border: 1px solid #000;
                        font-size: 12px;
                        font-weight: 800;
                        background-color: #C0C0C0;
                        line-height: 20px
                    }

                    .table-condensed > tbody > tr > td,
                    .table-condensed > tbody > tr > th,
                    .table-condensed > tfoot > tr > td,
                    .table-condensed > tfoot > tr > th,
                    .table-condensed > thead > tr > td,
                    .table-condensed > thead > tr > th {
                        padding: 3px !important;
                    }

                    #page {
                        background-color: #fff;
                        width: 1000px;
                        margin: 50px auto;
                        padding: 0 30px;
                        font-size: 12px;
                        /*text-transform: uppercase !important;*/
                    }

                    .labelcolor {
                        -webkit-print-color-adjust: exact;
                        background: #525659 !important;
                        color: white;
                    }

                    @@media print {
                        .trclass {
                            background-color: #C0C0C0 !important;
                            -webkit-print-color-adjust: exact;
                            line-height: 20px
                        }

                        #print, #print * {
                            display: none !important;
                        }
                    }
            </style>


            <script type="text/javascript">
                function printDiv() {
                    window.print();
                }
            </script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        </head>
        <body style=" background-color: #525659;">
            <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
                Print
            </span>
            <div id="page">
                <div style="min-height: 900px;">

                    @*-----------------Report Header-----------------*@

                    @*<div class="text-center">
                        <div class="row">
                            <h3>
                                <span style="float: left">
                                    <img style="width: 100px;" src="~/Content/Images/Client_Images/ROMO_Group_Logo.JPG" />
                                </span>
                                <span style="text-align:center" ; color: #AA57FF">
                                    Romo Fashion Today Ltd.
                                </span>
                            </h3>
                        </div>
                    </div>
                    <hr style="width: 100%; color: black; height: 2px; background-color: black;">*@
                    <br />
                    <div class="text-left">
                        <div class="row">
                            <div class="col-lg-9 col-md-9">
                                <div class="form-group" style="text-align:left">
                                    <h4><b>BILL OF MATERIALS</b></h4>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <div class="form-group" style="text-align:right">
                                    <p>Print Date: @DateTime.Now.ToString("MMM dd, yyyy hh:mm tt")</p>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                            <h5>
                                <b>Date :</b> From @Model.FromDate.ToString("yyyy-MM-dd")&nbsp;to&nbsp; @Model.ToDate.ToString("yyyy-MM-dd")
                            </h5>
                        </div>*@
                    </div>
                    <div style="width:100%;">
                        <div id="viewparty">
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead>
                                    <tr><th colspan="10" style="width:95px; text-align:center; background-color:#4fa95c !important; color:white;">Style Details</th></tr>
                                    <tr>
                                        <th>Style ID</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.CID</th>
                                        <th>Buyer PO</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.BuyerPO</th>
                                        <th>Pack Quantity</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.PackQty</th>
                                    </tr>
                                    <tr>
                                        <th>Buyer Name</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.BuyerName</th>
                                        <th>Order Date</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.PackPieceQty</th>
                                        <th style="width:95px;">Set Per Pack</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.PackPieceQty</th>
                                    </tr>
                                    <tr>
                                        <th style="width:95px;">Style Name</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.Style</th>
                                        <th>Session</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.StylePrice.ToString("0.00000")</th>
                                        <th>Unit Price</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.PackPrice.ToString("0.00000")</th>
                                    </tr>
                                    <tr>
                                        <th>Reference</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.Reference</th>
                                        <th>Style Size</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.SizeName</th>
                                        <th>Total Quantity</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.PieceQty</th>
                                    </tr>
                                    <tr>
                                        <th>Item</th>
                                        <th style="width:5px;">:</th>
                                        <th colspan="4">@Model.vmStyle.ItemName</th>
                                        <th>Total DZ.</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.DozonQty</th>
                                    </tr>
                                    <tr>
                                        <th>Fabrication</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.Fabrication</th>
                                        <th>Class</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.Class</th>
                                        <th>Total Price</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.StylePrice.ToString("0.00000")</th>
                                    </tr>
                                    <tr>
                                        <th>Merchandiser</th>
                                        <th>:</th>
                                        <th>@Model.vmStyle.User</th>
                                        <th>First Move</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.FirstMove.ToString("MMM dd, yyyy")</th>
                                        <th>Update Date</th>
                                        <th style="width:5px;">:</th>
                                        <th>@Model.vmStyle.UpdateDate.ToString("MMM dd, yyyy")</th>
                                    </tr>
                                </thead>
                            </table>

                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead>
                                    <tr><th colspan="10" style="width:95px; text-align:center; background-color:#5465a7 !important; color:white;">Style BOM Summary</th></tr>
                                    <tr>
                                        <th></th>
                                        <th>DZ Value</th>
                                        <th>Order Value</th>
                                        <th></th>
                                        <th>DZ Value</th>
                                        <th>Order Value</th>
                                        <th></th>
                                        <th>DZ Value</th>
                                        <th>Order Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>Production Cost</th>
                                        <th>$ @Model.VMCBSSummary.CatTotalValue.ToString("0.0000)")</th>
                                        <th>$ @Model.VMCBSSummary.CostTotalValue.ToString("0.0000")</th>
                                        <th>Overhead Cost</th>
                                        <th>$ @Model.VMCBSSummary.DzOverheadValue.ToString("0.0000")</th>
                                        <th>$ @Model.VMCBSSummary.CostOverheadValue.ToString("0.0000")</th>
                                        <th>Buying Commission</th>
                                        <th>$ @Model.VMCBSSummary.DzBuyingComValue.ToString("0.0000")</th>
                                        <th>$ @Model.VMCBSSummary.CostBuyingComValue.ToString("0.0000")</th>
                                    </tr>
                                    <tr>
                                        <th>Total Cost</th>
                                        <th>$ @Model.VMCBSSummary.DzCostOrderValue.ToString("0.0000")</th>
                                        <th>$ @Model.VMCBSSummary.CostOrderValue.ToString("0.0000")</th>
                                        <th>PO Value</th>
                                        <th>$ @Model.VMCBSSummary.DzStyleValue.ToString("0.0000")</th>
                                        <th>$ @Model.VMCBSSummary.DzStyleValue.ToString("0.0000")</th>
                                        <th>Estimated Profit</th>
                                        <th>$ @Model.VMCBSSummary.DzProductValueProfitValue.ToString("0.0000")</th>
                                        <th>$ @Model.VMCBSSummary.ProductValueProfitValue.ToString("0.0000") (@Model.VMCBSSummary.ProfitMarginRate.ToString("0.00")%)</th>
                                    </tr>
                                </tbody>
                            </table>

                            <!-- Fabric -->
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead style="background-color:#525659 !important; color:white;">
                                    <tr>
                                        <th rowspan="5">Category : @Model.lstCat1.RawCategory </th>
                                        <th style="text-align:right;">Total Required: @Model.lstCat1.RequiredQty</th>
                                        <th style="text-align:right;">Total Cost: @Model.lstCat1.TotalPrice</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead>
                                    <tr>
                                        <td style="text-align:center">SL.</td>
                                        <td style="text-align:center"><b>ITEM</b></td>
                                        <td style="text-align:center">COLOR</td>
                                        <td style="text-align:center">GSM</td>
                                        <td style="text-align:center">DESCRIPTION</td>
                                        <th style="text-align:center">CONS/DZ.</th>
                                        <th style="text-align:center">TOTAL REQ.</th>
                                        <th style="text-align:center">PRICE</th>
                                        <th style="text-align:center">TOTAL</th>
                                    </tr>
                                </thead>
                                @{ int sl = 0; }
                                <tbody>
                                    @if (Model.lstCat1.DataList != null)
                                    {
                                        foreach (var data in Model.lstCat1.DataList)
                                        {
                                            ++sl;
                                            <tr>
                                                <td style="text-align:center">
                                                    @sl
                                                </td>
                                                <td style="text-align:left">
                                                    @data.RawItem
                                                </td>
                                                <td style="text-align:left">
                                                    @data.Color
                                                </td>
                                                <td style="text-align:left">
                                                    @data.GSM.ToString("0.00")
                                                </td>
                                                <td style="text-align:left">
                                                    @data.Description
                                                </td>
                                                <td style="text-align:right">
                                                    @data.Consumption.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.RequiredQty.ToString("0.00000") @data.UnitName
                                                </td>
                                                <td style="text-align:right">
                                                    @data.UnitPrice.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.TotalPrice.ToString("0.00000")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <!-- Trims and Accessories -->
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead style="background-color:#525659 !important; color:white;">
                                    <tr>
                                        <th rowspan="5">Category : @Model.lstCat2.RawCategory </th>
                                        <th style="text-align:right;">Total Required: @Model.lstCat2.RequiredQty</th>
                                        <th style="text-align:right;">Total Cost: @Model.lstCat2.TotalPrice</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead>
                                    <tr>
                                        <td>SL.</td>
                                        <td style="text-align:center"><b>ITEM</b></td>
                                        <td style="text-align:center"><b>COLOR</b></td>
                                        <td style="text-align:center"><b>SIZE</b></td>
                                        <td style="text-align:center"><b>DESCRIPTION</b></td>
                                        <th style="text-align:center">CONS/DZ.</th>
                                        <th style="text-align:center">TOTAL REQ.</th>
                                        <th style="text-align:center">PRICE</th>
                                        <th style="text-align:center">TOTAL</th>
                                    </tr>
                                </thead>
                                @{ int sl1 = 0; }
                                <tbody>
                                    @if (Model.lstCat2.DataList != null)
                                    {
                                        foreach (var data in Model.lstCat2.DataList)
                                        {
                                            ++sl1;
                                            <tr>
                                                <td style="text-align:center">
                                                    @sl1
                                                </td>
                                                <td style="text-align:left">
                                                    @data.RawItem
                                                </td>
                                                <td style="text-align:left">
                                                    @data.Color
                                                </td>
                                                <td style="text-align:left">
                                                    @data.GSM.ToString("0.00")
                                                </td>
                                                <td style="text-align:left">
                                                    @data.Description
                                                </td>
                                                <td style="text-align:right">
                                                    @data.Consumption.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.RequiredQty.ToString("0.00") @data.UnitName
                                                </td>
                                                <td style="text-align:right">
                                                    @data.UnitPrice.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.TotalPrice.ToString("0.00000")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <!-- Wash -->
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead style="background-color:#525659 !important; color:white;">
                                    <tr>
                                        <th rowspan="5">Category : @Model.lstCat3.RawCategory </th>
                                        <th style="text-align:right;">Total Required: @Model.lstCat3.RequiredQty</th>
                                        <th style="text-align:right;">Total Cost: @Model.lstCat3.TotalPrice</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead>
                                    <tr>
                                        <td>SL.</td>
                                        <td style="text-align:center"><b>FABRIC</b></td>
                                        <td style="text-align:center"><b>ITEM</b></td>
                                        <td style="text-align:center"><b>GSM</b></td>
                                        <td style="text-align:center"><b>DESCRIPTION</b></td>
                                        <th style="text-align:center">CONS/DZ.</th>
                                        <th style="text-align:center">TOTAL REQ.</th>
                                        <th style="text-align:center">PRICE</th>
                                        <th style="text-align:center">TOTAL</th>
                                    </tr>
                                </thead>
                                @{ int sl2 = 0; }
                                <tbody>
                                    @if (Model.lstCat3.DataList != null)
                                    {
                                        foreach (var data in Model.lstCat3.DataList)
                                        {
                                            ++sl2;
                                            <tr>
                                                <td style="text-align:center">
                                                    @sl2
                                                </td>
                                                <td style="text-align:left">
                                                    @data.FabricName
                                                </td>
                                                <td style="text-align:left">
                                                    @data.RawItem
                                                </td>
                                                <td style="text-align:right">
                                                    @data.GSM.ToString("0.00")
                                                </td>
                                                <td style="text-align:left">
                                                    @data.Description
                                                </td>
                                                <td style="text-align:right">
                                                    @data.Consumption.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.RequiredQty.ToString("0.00000") @data.UnitName
                                                </td>
                                                <td style="text-align:right">
                                                    @data.UnitPrice.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.TotalPrice.ToString("0.00000")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <!-- Print -->
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead style="background-color:#525659 !important; color:white;">
                                    <tr>
                                        <th rowspan="5">Category : @Model.lstCat4.RawCategory </th>
                                        <th style="text-align:right;">Total Required: @Model.lstCat4.RequiredQty</th>
                                        <th style="text-align:right;">Total Cost: @Model.lstCat4.TotalPrice</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead>
                                    <tr>
                                        <td>SL.</td>
                                        <td style="text-align:center"><b>FABRIC</b></td>
                                        <td style="text-align:center"><b>ITEM</b></td>
                                        <td style="text-align:center"><b>GSM</b></td>
                                        <td style="text-align:center"><b>DESCRIPTION</b></td>
                                        <th style="text-align:center">CONS/DZ.</th>
                                        <th style="text-align:center">TOTAL REQ.</th>
                                        <th style="text-align:center">PRICE</th>
                                        <th style="text-align:center">TOTAL</th>
                                    </tr>
                                </thead>
                                @{ int sl3 = 0; }
                                <tbody>
                                    @if (Model.lstCat4.DataList != null)
                                    {
                                        foreach (var data in Model.lstCat4.DataList)
                                        {
                                            ++sl3;
                                            <tr>
                                                <td style="text-align:center">
                                                    @sl3
                                                </td>
                                                <td style="text-align:left">
                                                    @data.FabricName
                                                </td>
                                                <td style="text-align:left">
                                                    @data.RawItem
                                                </td>
                                                <td style="text-align:right">
                                                    @data.GSM.ToString("0.00")
                                                </td>
                                                <td style="text-align:left">
                                                    @data.Description
                                                </td>
                                                <td style="text-align:right">
                                                    @data.Consumption.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.RequiredQty.ToString("0.00000") @data.UnitName
                                                </td>
                                                <td style="text-align:right">
                                                    @data.UnitPrice.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.TotalPrice.ToString("0.00000")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead style="background-color:#525659 !important; color:white;">
                                    <tr>
                                        <th rowspan="5">Category : @Model.lstCat5.RawCategory </th>
                                        <th style="text-align:right;">Total Required: @Model.lstCat5.RequiredQty</th>
                                        <th style="text-align:right;">Total Cost: @Model.lstCat5.TotalPrice</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead>
                                    <tr>
                                        <td>SL.</td>
                                        <td style="text-align:center"><b>FABRIC</b></td>
                                        <td style="text-align:center"><b>ITEM</b></td>
                                        <td style="text-align:center"><b>GSM</b></td>
                                        <td style="text-align:center"><b>DESCRIPTION</b></td>
                                        <th style="text-align:center">CONS/DZ.</th>
                                        <th style="text-align:center">TOTAL REQ.</th>
                                        <th style="text-align:center">PRICE</th>
                                        <th style="text-align:center">TOTAL</th>
                                    </tr>
                                </thead>
                                @{ int sl4 = 0; }
                                <tbody>
                                    @if (Model.lstCat5.DataList != null)
                                    {
                                        foreach (var data in Model.lstCat5.DataList)
                                        {
                                            ++sl4;
                                            <tr>
                                                <td style="text-align:center">
                                                    @sl4
                                                </td>
                                                <td style="text-align:left">
                                                    @data.FabricName
                                                </td>
                                                <td style="text-align:left">
                                                    @data.RawItem
                                                </td>
                                                <td style="text-align:right">
                                                    @data.GSM.ToString("0.00")
                                                </td>
                                                <td style="text-align:left">
                                                    @data.Description
                                                </td>
                                                <td style="text-align:right">
                                                    @data.Consumption.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.RequiredQty.ToString("0.00000") @data.UnitName
                                                </td>
                                                <td style="text-align:right">
                                                    @data.UnitPrice.ToString("0.00000")
                                                </td>
                                                <td style="text-align:right">
                                                    @data.TotalPrice.ToString("0.00000")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead style="background-color:#525659 !important; color:white;">
                                    <tr>
                                        <th rowspan="5">Category : @Model.lstCat6.RawCategory </th>
                                        <th style="text-align:right;">Total Required: @Model.lstCat6.RequiredQty</th>
                                        <th style="text-align:right;">Total Cost: @Model.lstCat6.TotalPrice</th>
                                    </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                                <thead>
                                    <tr>
                                        <td>SL.</td>
                                        <td style="text-align:center"><b>ITEM</b></td>
                                        <td style="text-align:center"><b>DESCRIPTION</b></td>
                                        <th style="text-align:center">TOTAL</th>
                                    </tr>
                                </thead>
                                @{ int sl5 = 0; }
                                <tbody>
                                    @if (Model.lstCat6.DataList != null)
                                    {
                                        foreach (var data in Model.lstCat6.DataList)
                                        {
                                            ++sl5;
                                            <tr>
                                                <td style="text-align:center">
                                                    @sl5
                                                </td>
                                                <td style="text-align:left">
                                                    @data.RawItem
                                                </td>
                                                <td style="text-align:left">
                                                    @data.Description
                                                </td>
                                                <td style="text-align:right">
                                                    @data.TotalPrice.ToString("0.00000")
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>


                            <br />
                            <br />
                            <br />
                            <br />
                            <br />
                            <table style="width: 100%; float:right">
                                <tr>
                                    <td style="text-align:left; border-top:1px solid">
                                        <strong>Merchandiser Signature</strong>
                                    </td>
                                    <td style="text-align:right; border-top:1px solid">
                                        <strong>Authorized Signature</strong>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <br />
                    <br />
                    <br />


                    <br />
                    <br />
                </div>
                @*<div style="text-align: left">
                    Corporate Office: House# 62, Road #15, Sector #14, Uttara, Dhaka - 1230 <br />
                    Factory Address: Mouchak, Kaliakoir, Gazipur, Bangladesh<br />
                    Phone : 02-7914984, Mobile : +88 01678097490-99, E-mail : info@romofashion.com, Web : www.romofashion.com
                </div>*@
            </div>
        </body>
    </html>
    </div>

</div>
