﻿@model Erp.Core.Services.Merchandising.VMStyle
@{
    ViewData["Title"] = "Style";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sl = 0;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Manage Style
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Style</li>
            </ol>
        </section>

        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Style Basic Information:
                </h4>
            </div>
            <div id="updateStyle"></div>
            <div id="createStyle">
                @await Component.InvokeAsync("StyleCBSUI", new { ID = 0 })
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th>Style ID</th>
                                <th>Item Name</th>

                                <th>Fabrication</th>

                                <th>Pack Quantity</th>
                                <th>Set Per Pack</th>
                                <th>Subset Types</th>
                                <th>Total Quantity</th>

                                <th>Description</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td>@(++sl)</td>
                                <td>@Html.DisplayFor(modelItem => item.CID)</td>
                                <td>@item.ItemName</td>

                                <td>@item.Fabrication</td>

                                <td>@item.PackQty</td>
                                <td>@item.PackPieceQty</td>
                                <td>@item.SetQuantity</td>
                                <td>@item.PieceQty</td>

                                <td>@item.Description</td>
                                <td>
                                    <a data-modal="" class="linkPointer" asp-action="UpdateStyle" asp-controller="Merchandising" asp-route-Id="@item.ID"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                    @*<a onclick="deleteItemInfo(@item.ID);" class="linkPointer @item.IsCanDelete" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>*@
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

    function deleteItemInfo(id) {
        if (id !== null) {
            $('#hidId').val(id);
            $('#ActionId').val(3);
        }
    }

    $(document).ready(function () {
        $('.searchingDropdown').select2();
        $('.formValidator').bootstrapValidator();

        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {
                $('#updateStyle').load(this.href);
                $('#createStyle').remove();
                return false;
            });
        });

        $("#Mkt_CategoryFK").change(function () {
            var CatId = $("#Mkt_CategoryFK").val();

            if (CatId != null) {
                document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
                document.getElementById("Mkt_ItemFK").innerHTML = "";
                //------Load Sub-Category----
                $.get('@Url.Action("GetFinishSubCategory", "Helper")', { CatID: CatId }, function (data) {
                    $("#Mkt_SubCategoryFK").append("<option value ='' selected>Select a Sub-Category</option>")
                    $.each(data, function (index, row) {
                        $("#Mkt_SubCategoryFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                })
            }
            else {
                document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
                document.getElementById("Mkt_ItemFK").innerHTML = "";
            }
        });

        $("#Mkt_SubCategoryFK").change(function () {
            var SubCatId = $("#Mkt_SubCategoryFK").val();
            if (SubCatId != null) {
                document.getElementById("Mkt_ItemFK").innerHTML = "";
                $.get('@Url.Action("GetFinishItem", "Helper")', { SubCatID: SubCatId }, function (data) {

                    $("#Mkt_ItemFK").append("<option value ='' selected>Select a Finish Item</option>")
                    $.each(data, function (index, row) {
                        $("#Mkt_ItemFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                });
            }
            else {
                document.getElementById("Mkt_ItemFK").innerHTML = "";
            }
        });



        @*$(function () {
            $("#Mkt_CategoryFK").change(function () {

                var CatId = $("#Mkt_CategoryFK").val();

                if (CatId != null) {
                    document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
                    document.getElementById("Mkt_ItemFK").innerHTML = "";

                    $.get('@Url.Action("GetFinishSubCategory", "Merchandising")', { CatID: CatId }, function (data) {
                        document.getElementById("Mkt_ItemFK").innerHTML = "";
                        $("#Mkt_SubCategoryFK").append("<option value ='' selected>Select a Sub-Category</option>")
                        $.each(data, function (index, row) {
                            $("#Mkt_SubCategoryFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });

                        var SubCatId = $("#Mkt_SubCategoryFK").val();
                        if (SubCatId != null) {
                            document.getElementById("Mkt_ItemFK").innerHTML = "";
                            $.get('@Url.Action("GetFinishItem", "Merchandising")', { SubCatID: SubCatId }, function (data) {

                                $("#Mkt_ItemFK").append("<option value ='' selected>Select a Finish Item1</option>")
                                $.each(data, function (index, row) {
                                    $("#Mkt_ItemFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                                });
                            });


                            $("#Mkt_SubCategoryFK").change(function () {
                                var SubCatId = $("#Mkt_SubCategoryFK").val();
                                if (SubCatId != null) {
                                    document.getElementById("Mkt_ItemFK").innerHTML = "";
                                    $.get('@Url.Action("GetFinishItem", "Merchandising")', { SubCatID: SubCatId }, function (data) {

                                        $("#Mkt_ItemFK").append("<option value ='' selected>Select a Finish Item2</option>")
                                        $.each(data, function (index, row) {
                                            $("#Mkt_ItemFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                                        });
                                    });
                                }
                                else {
                                    document.getElementById("Mkt_ItemFK").innerHTML = "";
                                }
                            });
                        }
                        else {
                            document.getElementById("Mkt_ItemFK").innerHTML = "";
                        }
                    });
                }
                else {
                    document.getElementById("Mkt_SubCategoryFK").innerHTML = "";
                    document.getElementById("Mkt_ItemFK").innerHTML = "";
                }
            });
        });*@

    });
    </script>
}