﻿@{
    ViewData["Title"] = "BOM";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Merchandising.VMStyleView
<style type="text/css">
    span.input-group-addon.category {
        background-color: #d9edf7 !important;
        color: black;
    }

    span.input-group-addon.cost {
        background-color: #06209a !important;
        color: white;
    }

    span.input-group-addon.dollar {
        background-color: #eee !important;
        color: #06209a;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Bill of Materials [ <a asp-action="ReportBOM" asp-controller="Merchandising" asp-route-ID="@Model.vmStyle.ID" asp-route-UI="Style" target="_blank" class="linkPointer" title="BOM Report"><i class="glyphicon glyphicon-print" aria-hidden="true"></i></a> Report ]
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a asp-action="Order" asp-controller="Merchandising">Order</a></li>
                <li><a asp-action="OrderView" asp-controller="Merchandising" asp-route-Id="@Model.vmStyle.Merchandising_BuyerOrderFK">Style</a></li>
                <li class="active">BOM</li>
            </ol>
        </section>
        <div class="box box-info">
            <div class="box-header custom with-border bg-success">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <h4>
                            Style Summary : 
                        </h4>
                        </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="box-body col-md-6">
                        <div class="input-group">
                            <span style="width:110px;" class="input-group-addon">@Html.DisplayName("Style Name")</span>
                            <input style="width:425px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.CID)">
                        </div>
                    </div>
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width:110px;" class="input-group-addon">@Html.DisplayName("Pack Qty")</span>
                            <input style="width:140px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.PackQty)">
                        </div>
                    </div>
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width:110px;" class="input-group-addon">@Html.DisplayName("Total Quantity")</span>
                            <input style="width:140px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.PieceQty)">
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="box-body col-md-3">
                        <div class="input-group">
                            <span style="width:110px;" class="input-group-addon">@Html.DisplayName("Total Dozen")</span>
                            <input style="width:140px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.vmStyle.DozonQty)">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <form asp-action="UpdateStyleCMOverhead" asp-controller="Merchandising" method="post" , new { id="formData" class="formValidator" }>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input asp-for="ActionId" type="hidden" />
                            <input asp-for="vmStyle.ID" type="hidden" />
                            <div class="box-body col-md-6">
                                <div class="input-group">
                                    <span style="width:160px; background-color:royalblue; color:white;" class="input-group-addon">@Html.DisplayName("Making Cost Per Dozen")</span>
                                    <input asp-for="vmStyle.MakingCost" type="text" class="form-control" style="width:165px;" />
                                </div>
                            </div>
                            <div class="box-body col-md-4">
                                <div class="input-group">
                                    <span style="width:140px; background-color:royalblue; color:white;" class="input-group-addon">@Html.DisplayName("Overhead in %")</span>
                                    <input asp-for="vmStyle.OverheadRate" type="text" class="form-control" style="width:120px;" />
                                </div>
                            </div>
                            <div class="box-body col-md-2">
                                <input type="submit" class="form-control btn btn-flat btn-primary" value="Update">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-primary">
            <div class="box-header custom with-border bg-success" style="text-align:center;">
                <h4>Style Cost Summary</h4>
            </div>
            <div class="box-body">
                <table class="table table-bordered table-condensed">
                    <thead class="bg-green">
                        <tr>
                            <th>Particulars</th>
                            <th>Value Per Dozen</th>
                            <th>Value For @Model.vmStyle.PieceQty Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Fabric</td>
                            <td>$ @Model.VMCBSSummary.CatFabric.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostFabric.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Trims and Accessories</td>
                            <td>$ @Model.VMCBSSummary.CatAccessories.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostAccessories.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Wash</td>
                            <td>$ @Model.VMCBSSummary.CatWash.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostWash.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Print</td>
                            <td>$ @Model.VMCBSSummary.CatPrint.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostPrint.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Embroidery</td>
                            <td>$ @Model.VMCBSSummary.CatEmbroidiry.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostEmbroidiry.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Test And Others Cost</td>
                            <td>$ @Model.VMCBSSummary.CatCharges.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostCharges.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Style Making Cost </td>
                            <td>$ @Model.VMCBSSummary.DzMakingCost.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.OrderTotalMakingCost.ToString("0.0000")</td>
                        </tr>
                        <tr class="text-darken-1" style="font-weight:bold;">
                            <td>Total Production Cost</td>
                            <td>$ @Model.VMCBSSummary.CatTotalValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostTotalValue.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Overhead Cost</td>
                            <td>$ @Model.VMCBSSummary.DzOverheadValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostOverheadValue.ToString("0.0000")</td>
                        </tr>
                        <tr class="text-darken-1 bg-blue-grey" style="font-weight:bold;">
                            <td>Style Total Cost with overhead</td>
                            <td>$ @Model.VMCBSSummary.DzStyleCostingValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.StyleCostingValue.ToString("0.0000")</td>
                        </tr>
                        <tr>
                            <td>Buying Commission</td>
                            <td>$ @Model.VMCBSSummary.DzBuyingComValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.CostBuyingComValue.ToString("0.0000")</td>
                        </tr>
                        <tr class="text-darken-1 bg-blue-grey" style="font-weight:bold;">
                            <td>Style PO Value</td>
                            <td>$ @Model.VMCBSSummary.DzStyleValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.StyleValue.ToString("0.0000")</td>
                        </tr>
                        <tr class="text-darken-1 bg-blue-grey" style="font-weight:bold;">
                            <td>Estimated Profit</td>
                            <td>$ @Model.VMCBSSummary.DzProductValueProfitValue.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.ProductValueProfitValue.ToString("0.0000") ( @Model.VMCBSSummary.ProfitMarginRate.ToString("0.00")% )</td>
                        </tr>
                        @*<tr class="text-darken-1 bg-blue-grey" style="font-weight:bold;">
                            <td>Estimated Profit in %</td>
                            <td>$ @Model.VMCBSSummary.DzProfitMarginRate.ToString("0.0000")</td>
                            <td>$ @Model.VMCBSSummary.ProfitMarginRate.ToString("0.0000")</td>
                        </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row" id="refForm">
    <div class="col-lg-12 col-md-12">
        <div class="box box-info">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="box-body col-md-6 col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon"><input id="SRef" class="cSRef" name="ref" type="radio" value="IsBomCreate"></span>
                            <input style="width:120px;" type="text" class="form-control" readonly="readonly" value="Create New">
                        </div>
                    </div>
                    <div class="box-body col-md-6 col-lg-6">
                        <div class="input-group">
                            <span class="input-group-addon"><input id="ARef" class="cSRef" name="ref" type="radio" value="IsBom"></span>
                            <input style="width:120px;" type="text" class="form-control" readonly="readonly" value="Add Reference">
                        </div>
                    </div>
                </div>
                <div id="addForm" class="col-md-8 col-lg-8" style="padding-top:10px;">
                    <form asp-action="BOM" asp-controller="Merchandising" method="post" , new { id="formData" class="formValidator" }>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input asp-for="ActionId" type="hidden" />
                        <input asp-for="vmStyle.ID" type="hidden"/>
                        <input asp-for="vmStyle.PieceQty" type="hidden" />
                        <div class="col-lg-4 col-md-4">
                            @Html.DropDownListFor(model => model.TypeID, ViewBag.BOMType as SelectList, "Select Reference", new { id = "ImportFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.TypeID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-5 col-md-5">
                            @Html.DropDownListFor(model => model.ImportID, new SelectList(string.Empty, "Value", "Text"), new { id = "ExportIDFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.ImportID, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <input type="submit" class="form-control btn btn-flat btn-primary" value="ADD">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-12 col-md-12">
        @await Component.InvokeAsync("BOMCategoryUI", new { RawCategoryId = 2, StyleId = Model.vmStyle.ID, TotalPeice = Model.vmStyle.PieceQty, TypeID = 2 })

        @await Component.InvokeAsync("BOMCategoryUI", new { RawCategoryId = 6, StyleId = Model.vmStyle.ID, TotalPeice = Model.vmStyle.PieceQty, TypeID = 4 })

        @await Component.InvokeAsync("BOMCategoryUI", new { RawCategoryId = 3, StyleId = Model.vmStyle.ID, TotalPeice = Model.vmStyle.PieceQty, TypeID = 1 })
        @await Component.InvokeAsync("BOMCategoryUI", new { RawCategoryId = 1027, StyleId = Model.vmStyle.ID, TotalPeice = Model.vmStyle.PieceQty, TypeID = 1 })
        @await Component.InvokeAsync("BOMCategoryUI", new { RawCategoryId = 4, StyleId = Model.vmStyle.ID, TotalPeice = Model.vmStyle.PieceQty, TypeID = 1 })

        @await Component.InvokeAsync("BOMCategoryUI", new { RawCategoryId = 5, StyleId = Model.vmStyle.ID, TotalPeice = Model.vmStyle.PieceQty, TypeID = 1 })

        @await Component.InvokeAsync("BOMCategoryUI", new { RawCategoryId = 1023, StyleId = Model.vmStyle.ID, TotalPeice = Model.vmStyle.PieceQty, TypeID = 3 })
    </div>
</div>
<div id="deleteForm" class="row">
    <div class="col-lg-12 col-md-6 col-sm-12">
        <div class="box">
            <div class="box-body">
                <div class="row">
                    <div id="Btndelete" class="col-lg-6 col-md-6 col-sm-12">
                        <a onclick="deleteBOMItemInfo(@Model.vmStyle.ID);" class="linkPointer btn btn-flat btn-danger btn-block btn-sm" data-toggle="modal" data-target="#deleteBOMModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i> Delete All Item</a>
                    </div>
                    <div id="BtnApprove" class="col-lg-6 col-md-6 col-sm-6">
                        <a onclick="bomApproval(@Model.vmStyle.ID);" class="linkPointer btn btn-flat btn-primary btn-block btn-sm" data-toggle="modal" data-target="#approvedBOMModal" title="BOM Approval" data-placement="top"><i class="fa fa-lock" aria-hidden="true"></i> Approve All Item</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    @using (Html.BeginForm("StyleView", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
    {
        @Html.HiddenFor(model => model.vmBOM.ID, new { id = "PKID" })
        @Html.HiddenFor(model => model.ActionId, new { id = "DeleteItemID" })
        @Html.HiddenFor(model => model.vmBOM.Merchandising_StyleFK, new { id = "StyleID" })
        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Delete Item</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnsave" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteBOMModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header bg-danger">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Delete All BOM Item</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="btnsave" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row">
    @using (Html.BeginForm("ApprovalBOMItem", "Merchandising", FormMethod.Post, new { id = "approvalBOMItem" }))
    {
        @Html.HiddenFor(model => model.vmBOM.ID, new { @class = "bomItemId", })
        @Html.HiddenFor(model => model.ActionId, new { @class = "ActionId" })
        @Html.HiddenFor(model => model.vmBOM.Merchandising_StyleFK, new { @class = "bomStyleFk", })

        <div class="modal fade" id="approvedModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Approve BOM Item</b></h5>
                    </div>

                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to Approve this BOM item?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-lock"></i>&nbsp;OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="unApprovedModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Unapprove BOM Item</b></h5>
                    </div>

                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to Unapprove this BOM Item?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-unlock"></i>&nbsp;OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="approvedBOMModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Approve All BOM Item</b></h5>
                    </div>

                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to approve all BOM item?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-lock"></i>&nbsp;OK</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="unApprovedBOMModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Unapprove BOM</b></h5>
                    </div>

                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to Unapprove this BOM Item?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-unlock"></i>&nbsp;OK</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section scripts{
    <script type="text/javascript">
        $('.searchingDropdown').select2();

        var styleID = '@Model.vmStyle.ID';
        function deleteItemInfo(id,sId) {
            if (id !== null) {
                $('#PKID').val(id);
                $('#StyleID').val(sId);
                $('#DeleteItemID').val(3);
            }
        }

        function deleteBOMItemInfo(sid)
        {
            console.log(sid);
            if (sid !== null) {
                $('#StyleID').val(sid);
                $('#DeleteItemID').val(3);
            }
        }

        function makeApproved(id,styleId) {
            if (id !== null) {
                $('.bomItemId').val(id);
                $('.bomStyleFk').val(styleId)
                $('.ActionId').val(6);

            }
        }
        function makeUnApproved(id, styleId) {
            if (id !== null) {
                $('.bomItemId').val(id);
                $('.bomStyleFk').val(styleId)
                $('.ActionId').val(8);
            }
        }

        function bomApproval(styleId) {
            if (styleId !== null) {
                $('.bomStyleFk').val(styleId)
                $('.ActionId').val(6);
            }
        }

        $('#addForm').addClass('hidden');
        $('input[type=radio][name=ref]').change(function () {
            if (this.value == 'IsBomCreate') {
                $('#addForm').addClass('hidden');
            }
            else {
                $('#addForm').removeClass('hidden');
            }
        });

        $(document).ready(function () {
            $("#refForm").hide();
            $("#deleteForm").show();
            if ('@Model.IsBomCreate' === 'False') {
                $("#refForm").show();
                $('#SRef').prop('checked', true);
                $("#deleteForm").hide();
            }

            if ('@Model.vmStyle.IsComplete' === 'True')
            {
                $("#deleteForm").hide();
            }

            GetUpdateView(2)
            GetUpdateView(3)
            GetUpdateView(4)
            GetUpdateView(5)
            GetUpdateView(6)
            GetUpdateView(1023);

            ajaxCall(2, styleID);
            ajaxCall(3, styleID);
            ajaxCall(4, styleID);
            ajaxCall(5, styleID);
            ajaxCall(6, styleID);
            ajaxCall(1023, styleID);

            $("#ImportFK").change(function () {
                var ImportID = $("#ImportFK").val();
                if (ImportID != '') {
                    $("#ExportIDFK").empty();
                    if (ImportID == 1) {
                        $.get('@Url.Action("GetBOMImport", "Helper")', { ID: ImportID }, function (data) {
                            $("#ExportIDFK").append("<option value ='' selected>Select a CBS</option>")
                            $.each(data, function (index, row) {
                                $("#ExportIDFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                            });
                        })
                    }
                    else if (ImportID == 2) {
                        $.get('@Url.Action("GetBOMImport", "Helper")', { ID: ImportID }, function (data) {
                            $("#ExportIDFK").append("<option value ='' selected>Select a BOM</option>")
                            $.each(data, function (index, row) {
                                $("#ExportIDFK").append("<option value='" + row.value + "'>" + row.text + "</option>")
                            });
                        })
                    }
                }
                else {
                    $("#ExportIDFK").empty();
                }
            });

        });

        function ajaxCall(Id,StyleID)
        {
            $("#SubCategoryFK_" + Id).change(function () {
                var subCatId = $("#SubCategoryFK_" + Id).val();
                if (subCatId != '') {

                    $("#ItemFK_" + Id).empty();
                    $.get('@Url.Action("GetRawItemByRawSubCatWithStyleID", "Helper")', { ID: subCatId, StyleID: StyleID }, function (data) {
                        $("#ItemFK_" + Id).append("<option value ='' selected>Select RawItem</option>")
                        $.each(data, function (index, row) {
                            $("#ItemFK_" + Id).append("<option value='" + row.value + "'>" + row.text + "</option>")
                        });
                    });
                } else {
                    $("#ItemFK_" + Id).empty();
                }
            });
        }

        function GetUpdateView(ID)
        {
            $(function () {
                $.ajaxSetup({ cache: false });
                $("a[data-modal=" + ID + "]").on("click", function (e) {
                    $('#BomItemCreate_' + ID).remove();
                    $('#BomItemUpdate_' + ID ).load(this.href);
                    return false;
                });
            });
        }

    </script>
}