﻿@model Erp.Core.Services.Merchandising.VMStyleView
@{
    ViewData["Title"] = "Style PR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="box box-success">
            <div class="box-body">
                @using (Html.BeginForm("StyleReport", "Merchandising", FormMethod.Post, new { id = "StyleReport", @class = "formValidator" }))
                {
                    @Html.HiddenFor(model => model.vmStyle.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-9 col-md-9 col-xs-12">
                            <div class="form-group">
                                <label asp-for="ID" class="control-label">Style Name</label>
                                <select asp-for="ID" asp-items="ViewBag.StyleList" class="form-control searchingDropdown" required="required">
                                    <option value=""> Select a Style </option>
                                </select>
                                <span asp-validation-for="ID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="form-group" style="padding-top:25px">
                                <button type="submit" id="btnsave" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>