﻿@{
    ViewData["Title"] = "Yarn Calculation";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
@model Erp.Core.Services.Merchandising.VMYarnCalculation

<div class="row">
    <div class="col-lg-12">
        <div class="box box-info">
            <div class="box-header custom with-border bg-success">
                <h4>
                    Fabrication :
                </h4>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VMStyle.CID)</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VMStyle.CID)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VMStyle.Style)</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VMStyle.Style)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Size Range")</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VMStyle.SizeName)">
                    </div>
                </div>
                <div class="box-body col-md-5">
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayNameFor(x => x.VMStyle.PackQty)</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VMStyle.PackQty)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Piece PerPack")</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VMStyle.PackPieceQty)">
                    </div>
                    <div class="input-group">
                        <span style="width:130px;" class="input-group-addon">@Html.DisplayName("Total Piece")</span>
                        <input style="width:310px;" type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VMStyle.PieceQty)">
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
            <form asp-action="LoadExistingFabricsSpec" asp-controller="Merchandising" class="formValidator">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="box">
                    <div class="box-header">
                        <h3>
                            Add Fabric Spec From Existing Style <span style="color:green"> (If needed)</span>
                        </h3>
                       
                    </div>
                    @Html.HiddenFor(model => model.VMStyle.ID, new { id = "txtMerchandisingStyleid", Value = Model.VMStyle.ID })

                    <div class="box-body">
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.DropDownListFor(model => model.Merchandising_StyleFk, ViewBag.StyleList as SelectList, "--Select Style--", new { @id = "ddlMerchandisingStyleFk", @class = "searchingDropdown form-control" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <button type="submit" style="width:100%" class="btn btn-primary"><i class="fa fa-refresh"></i>&nbsp;Load Existing Fabrics Spec</button>
                            </div>
                        </div>
                    </div>
                </div>

            </form>

         
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Add Fabrics Spec
                    </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse" title="open yarn calculation form"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        @using (Html.BeginForm("YarnCalculation", "Merchandising", FormMethod.Post, new { id = "yarnCalculationFormId", @class = "formValidator" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ActionId, new { @class = "ActionId" })

                            @Html.HiddenFor(model => model.VMStyle.PackPieceQty)
                            @Html.HiddenFor(model => model.VMStyle.PackQty)
                            @Html.HiddenFor(model => model.VMStyle.ID)
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            @Html.HiddenFor(model => model.ID, new { @class = "yarnCalculationId", })
                            @Html.HiddenFor(model => model.Merchandising_StyleFk, new { @class = "txtMerchandisingStyleFk", })

                            @*<div class="form-group">
            <label>Reference No</label>
            @Html.EditorFor(model => model.ReferenceNo, new { htmlAttributes = new { id = "txtReferenceNo", @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ReferenceNo, "", new { @class = "text-danger" })
          @Html.EditorFor(model => model.Color, new { htmlAttributes = new { id = "txtColor", required = "required", @class = "form-control input-sm" } })
        @Html.ValidationMessageFor(model => model.Color, "", new { @class = "text-danger" })
        </div>*@
                            <div class="form-group">
                                <label>Fabrics Name</label>
                                <select asp-for="Merchandising_StyleSlaveFK_Fabric" asp-items="ViewBag.StyleSlaveFabricItemsList" class="form-control searchingDropdown" id="ddlMerchandisingStyleSlaveFKFabric" required="required">
                                    <option value="0"> ==Select Fabrics==</option>
                                </select>
                                <span asp-validation-for="Merchandising_StyleSlaveFK_Fabric" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Color of Fabrics</label>
                                <select asp-for="Common_ColorFK" asp-items="Model.VMStyle.ColorList" class="form-control searchingDropdown" id="txtCommonColorFK" required="required">
                                    <option value="0"> ==Select Color==</option>
                                </select>
                                <span asp-validation-for="Common_ColorFK" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label>Combo</label>
                                @Html.EditorFor(model => model.Combo, new { htmlAttributes = new { id = "txtCombo", @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.Combo, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                <label>GSM</label>
                                @Html.EditorFor(model => model.GSM, new { htmlAttributes = new { id = "txtGSM", required = "required", @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.GSM, "", new { @class = "text-danger" })

                            </div>
                            <div class="form-group">
                                <label>Fabrication</label>
                                @Html.TextAreaFor(model => model.Fabrication, new { id = "txtFabrication", placeholder = "Fabrication", @class = "form-control", Rows = 2 })
                                @Html.ValidationMessageFor(model => model.Fabrication, "", new { @class = "text-danger" })

                            </div>
                            @*<div class="form-group">
                                <label>Finish DIA</label>
                                <select asp-for="FinishDIA" asp-items="ViewBag.MachineDia" class="form-control searchingDropdown" id="ddlFinishDIA" required="required">
                                    <option value=""> ==Select Dia==</option>
                                </select>
                                <span asp-validation-for="FinishDIA" class="text-danger"></span>
                            </div>*@
                            <div class="form-group">
                                <label>Finish DIA</label>
                                @Html.EditorFor(model => model.FinishDIA, new { htmlAttributes = new { id = "txtFinishDIA", required = "required", @class = "form-control input-sm" } })
                                @Html.ValidationMessageFor(model => model.FinishDIA, "", new { @class = "text-danger" })
                            </div>


                            <!-- /.form-group -->
                        </div>

                            <div class="col-md-8 col-sm-8 col-xs-8">
                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label>Order Quantity</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.OrderQuantityPCS, new { htmlAttributes = new { id = "txtQntyPcs", required = "required", @class = "form-control input-sm" } })
                                            @Html.ValidationMessageFor(model => model.OrderQuantityPCS, "", new { @class = "text-danger" })
                                            <div class="input-group-addon">
                                                <i>PCS</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class=" col-md-6">
                                    <div class="form-group">
                                        <label>&nbsp;</label>

                                        <div class="input-group">
                                            @Html.EditorFor(model => model.OrderQuantityDZ, new { htmlAttributes = new { id = "txtQntyDZ", required = "required", @class = "form-control input-sm" } })
                                            @Html.ValidationMessageFor(model => model.OrderQuantityDZ, "", new { @class = "text-danger" })
                                            <div class="input-group-addon">
                                                <i>DZ</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Consumption Per DZ</label>
                                        @Html.EditorFor(model => model.Consumption, new { htmlAttributes = new { id = "txtConsumption", type = "number", min = 0.001, max = decimal.MaxValue, step = "0.001", required = "required", @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.Consumption, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    @*<div class="form-group">
                                    <label>Actual Yarn</label>
                                    <div class="input-group">
                                        @Html.EditorFor(model => model.ProcessLoss, new { htmlAttributes = new { id = "txtProcessLoss", required = "required", type = "number", min = 0.01, max = 0.99, step = "0.01", @title = "Like 0.90", @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.ProcessLoss, "", new { @class = "text-danger" })
                                        <div class="input-group-addon">
                                            <i>Like 0.90</i>
                                        </div>
                                    </div>
                                </div>*@
                                    <div class="form-group">
                                        <label>Process Loss</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.ProcessLoss, new { htmlAttributes = new { id = "txtProcessLoss", required = "required", @class = "form-control input-sm" } })
                                            @Html.ValidationMessageFor(model => model.ProcessLoss, "", new { @class = "text-danger" })
                                            <div class="input-group-addon">
                                                <i>%</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Yarn Category</label>
                                        @Html.DropDownListFor(model => model.Raw_SubCategoryFK, ViewBag.RawSubCategory as SelectList, "--Select Category--", new { @id = "RawSubCategoryFK", required = "required", @class = "searchingDropdown form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Raw_SubCategoryFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Yarn Count</label>
                                        @Html.DropDownListFor(model => model.Raw_ItemFK, ViewBag.RawItem as SelectList, "--Select Item--", new { @id = "RawItemFK", required = "required", @class = "searchingDropdown form-control input-sm ddlRawItemFKClass" })
                                        @Html.ValidationMessageFor(model => model.Raw_ItemFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Yarn Price</label>
                                        @Html.EditorFor(model => model.Price, new { htmlAttributes = new { id = "txtPrice", required = "required", type = "number", min = 0.001, max = decimal.MaxValue, step = "0.001", @class = "form-control input-sm" } })
                                        @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Lycra</label>
                                        <div class="input-group">
                                            @Html.EditorFor(model => model.Lycra, new { htmlAttributes = new { id = "txtLycra", @title = "Like 5", required = "required", @class = "form-control input-sm" } })
                                            @Html.ValidationMessageFor(model => model.Lycra, "", new { @class = "text-danger" })
                                            <div class="input-group-addon">
                                                <i>%</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Fabrics Type</label>
                                        @Html.DropDownListFor(model => model.Merchandising_YarnTypeFk, ViewBag.YarnType as SelectList, "--Select Yarn Type--", new { @id = "YarnTypeFk", required = "required", @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Merchandising_YarnTypeFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Currency</label>
                                        @Html.DropDownListFor(model => model.Common_CurrencyFK, ViewBag.Currency as SelectList, "---Select Currency---", new { id = "ddlCommonCurrencyFK", required = "required", @class = "form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Common_CurrencyFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Unit</label>
                                        @Html.DropDownListFor(model => model.Common_UnitFK, ViewBag.Unit as SelectList, "---Select Unit---", new { id = "ddlCommonUnitFK", required = "required", @class = "searchingDropdown form-control input-sm" })
                                        @Html.ValidationMessageFor(model => model.Common_UnitFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- /.form-group -->
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <button type="button" onclick="resetForm()" class="btn btn-warning" data-dismiss="modal">Reset</button>
                                </div>
                                <div class="col-md-8 pull-right">
                                    <button type="submit" style="width:100%" id="btnSave" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;Save</button>
                                </div>
                            </div>
                            <!-- /.col -->
                        }

                        @using (Html.BeginForm("ChangeYarnCalculationStatus", "Merchandising", FormMethod.Post, new { id = "approvalYarnCalculationFormId" }))
                        {
                            @Html.HiddenFor(model => model.ID, new { @class = "yarnCalculationId", })
                            @Html.HiddenFor(model => model.ActionId, new { @class = "ActionId" })
                            @Html.HiddenFor(model => model.Merchandising_StyleFk, new { @class = "txtMerchandisingStyleFk", })

                            <div class="modal fade" id="approvedModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                &times;
                                            </button>
                                            <h5 class="modal-title"><b>Approved & Proceed BOF</b></h5>
                                        </div>

                                        <div class="modal-body">
                                            <div style="text-align:center">
                                                <h3>Are you sure to Approve this yarn & Proceed Bill of Fabrics?</h3>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-lock"></i>&nbsp;OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade" id="unApprovedModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                &times;
                                            </button>
                                            <h5 class="modal-title"><b>Unapproved & Proceed BOF</b></h5>
                                        </div>

                                        <div class="modal-body">
                                            <div style="text-align:center">
                                                <h3>Are you sure to Unapprove this yarn. It can effect your Bill of Fabrics?</h3>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-unlock"></i>&nbsp;OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- /.row -->
                            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                &times;
                                            </button>
                                            <h5 class="modal-title"><b>Yarn Calculation Delete</b></h5>
                                        </div>

                                        <div class="modal-body">
                                            <div style="text-align:center">
                                                <h3>Are you sure to delete?</h3>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>


                </div>
                <!-- /.box-body -->
                <div class="box-footer">

                </div>
            </div>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Yarn List</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <div class="table-responsive">
                        <table id="tableABC" class="table table-striped text-nowrap">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Reference No</th>
                                    <th>Combo</th>
                                    <th>Yarn Type</th>
                                    <th>Color</th>
                                    <th>Fabrication</th>
                                    <th>GSM</th>
                                    <th>Yarn Count</th>
                                    <th>Finish DIA</th>
                                    <th>Order Quantity PCS</th>
                                    <th>Order Quantity DZ</th>
                                    <th>Consumption</th>
                                    <th>Finish Fabrics</th>
                                    <th>Process Loss</th>
                                    <th>Yarn Quantity</th>
                                    <th>Lycra (%)</th>
                                    <th>Total Lycra</th>
                                    <th>Total Yarn Quantity</th>
                                    <th>Yarn Price</th>
                                    <th>Total Yarn Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{
                                int sl = 0;
                                decimal ttlYarnPrice = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    ttlYarnPrice = (item.Price * item.TotalYarn);
                                    <tr>
                                        <td>@(++sl)</td>
                                        <td>@item.ReferenceNo</td>
                                        <td>@item.Combo</td>
                                        <td>@item.YarnTypeName</td>
                                        <td>@item.Color</td>
                                        <td>@item.Fabrication</td>
                                        <td>@item.GSM</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.FinishDIA</td>
                                        <td>@item.OrderQuantityPCS</td>
                                        <td>@String.Format("{0:0.00000}", item.OrderQuantityDZ)</td>
                                        <td>@item.Consumption</td>
                                        <td>@String.Format("{0:0.00000}", item.FinishFabric)</td>
                                        <td>@item.ProcessLoss</td>
                                        <td>@String.Format("{0:0.00000}", item.YarnQnty)</td>
                                        <td>@item.Lycra</td>
                                        <td>@String.Format("{0:0.00000}", item.TotalLycra)</td>
                                        <td>@String.Format("{0:0.00000}", item.TotalYarn)</td>
                                        <td>@item.Price</td>
                                        <td>@String.Format("{0:0.00000}", ttlYarnPrice)</td>


                                        <td>
                                            @if (item.IsApproved)
                                            {
                                                <a onclick="makeUnApproved(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#unApprovedModal" title="Unapproved" data-placement="top"><i class="fa fa-lock" aria-hidden="true"></i></a>

                                            }
                                            else
                                            {
                                                <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                                                <a onclick="makeApproved(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#approvedModal" title="Approved this item and Proceed BOF" data-placement="top"><i class="fa fa-unlock" aria-hidden="true"></i></a>

                                            }
                                            @*//This portion open after permition Shah Alom Bhai*@

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>



                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-md-12 col-sm-12 col-lg-12">
                        <a style="width:100%" onclick="GetBOFItemFromYC(@Model.VMStyle.ID)" class="btn btn-success linkPointer">Initiate BOF</a>

                    </div>
                    <hr />
                    @using (Html.BeginForm("AddMerchandisingBOF", "Merchandising", FormMethod.Post, new { id = "AddMerchandisingBOFFormId" }))
                    {
                        @*@Html.HiddenFor(model => model.ID, new { @class = "yarnCalculationId", })*@
                        @Html.HiddenFor(model => model.ActionId, new { @class = "ActionId" })
                        @Html.HiddenFor(model => model.Merchandising_StyleFk, new { @class = "txtMerchandisingStyleFk" })

                        <div id="loadBOFItem">

                        </div>

                    }

                    @*@Html.ActionLink("Proceed BOF", "BOF", "Merchandising", new { Id = Model.VMStyle.ID }, new { @class = "btn btn-success", @title = "Bill of Fabrics", @style = "width: 100%" })*@

                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-info">
            <div class="box-header">
                <h3>
                    Bill Of Fabrics
                </h3>
            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Item</th>
                                <th>Description</th>
                                <th>Consumption</th>
                                <th>Required Quantity</th>
                                <th>Item Cost</th>
                                <th>Total Cost</th>
                                <th>Item Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{
                            int sls = 0;

                        }
                        <tbody>
                            @foreach (var item in Model.vmBOFView.BOFDataList)
                            {
                                decimal? total = (item.RequiredQuantity * item.Price);
                                <tr>
                                    <td>@(++sls).</td>
                                    <td>@item.RawItemName</td>
                                    <td>@item.Description</td>
                                    <td>

                                        @if (item.Consumption == 0)
                                        {
                                            <span style="text-decoration: line-through;">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </span>
                                        }
                                        else
                                        {
                                            <span>
                                                @item.Consumption
                                            </span>
                                        }
                                    </td>
                                    <td>@item.RequiredQuantity</td>
                                    <td>@item.Price</td>
                                    <td>
                                        @String.Format("{0:0.00000}", total)
                                    </td>
                                    <td>

                                        @if (item.IsFabric == true)
                                        {
                                            <span class="badge bg-green">
                                                Finish Fabrics
                                            </span>
                                        }
                                        else
                                        {

                                            if (item.Common_RawCategoryFK == 1020)
                                            {
                                                <span class="badge bg-yellow">
                                                    Yarn
                                                </span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-light-blue">
                                                    Grey Fibrics
                                                </span>
                                            }

                                        }
                                    </td>
                                    <td>
                                        <a id="@item.ID" onclick=" makeEditbleBOF(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModalBOF" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        @*<a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>*@

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            @using (Html.BeginForm("BOF", "Merchandising", FormMethod.Post, new { id = "BOFFormId", @class = "formValidator" }))
            {
                @Html.AntiForgeryToken()

                <div class="modal fade" id="exampleModalBOF" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">

                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="box box-info">
                                <div class="box-header custom with-border bg-success">
                                    <div class="modal-header">
                                        <button type="button" onclick="resetFormBOF()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                            &times;
                                        </button>
                                        <h5 class="modal-title"><b>Bill of fabrics</b></h5>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <div class="modal-body">
                                        @Html.HiddenFor(model => model.vmBOFView.ID, new { Value = "", id = "BOFId" })
                                        @Html.HiddenFor(model => model.vmBOFView.Merchandising_StyleFK, new { Value = "", id = "BOFmerchandisingStyleFK" })
                                        @Html.HiddenFor(model => model.vmBOFView.Merchandising_YarnCalculationFK, new { Value = "", id = "BOFmerchandisingYarnCalculationFK" })
                                        @Html.HiddenFor(model => model.vmBOFView.Common_CurrencyFK, new { Value = "", id = "BOFcommonCurrencyFK" })
                                        @Html.HiddenFor(model => model.vmBOFView.ActionId, new { Value = "", id = "ActionIdBOF" })

                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div id="divddlCommonBuyerFk" class="form-group">
                                            <label>Item:</label>
                                            @Html.DropDownListFor(model => model.vmBOFView.Common_RawItemFK, ViewBag.RawItem as SelectList, "Please Select Item", new { id = "BOFcommonRawItemFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmBOFView.Common_RawItemFK, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label>Description:</label>
                                            @Html.TextBoxFor(model => model.vmBOFView.Description, new { id = "BOFtxtDescription", placeholder = "Description", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.vmBOFView.Description, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Consumption:</label>
                                                @Html.TextBoxFor(model => model.vmBOFView.Consumption, new { id = "BOFtxtConsumption", placeholder = "Description", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.vmBOFView.Consumption, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Required Quantity:</label>
                                                <div class="input-group">
                                                    @Html.TextBoxFor(model => model.vmBOFView.RequiredQuantity, new { id = "BOFtxtRequiredQuantity", placeholder = "Required Quantity", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.vmBOFView.RequiredQuantity, "", new { @class = "text-danger" })
                                                    <div class="input-group-addon">
                                                        <i id="BOFtxtUnit"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Price:</label>
                                                @Html.TextBoxFor(model => model.vmBOFView.Price, new { id = "BOFtxtPrice", placeholder = "Price", @class = "form-control" })
                                                @Html.ValidationMessageFor(model => model.vmBOFView.Price, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div class="modal-footer">
                                        <button type="button" onclick="resetFormBOF()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                </div>

                <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                    &times;
                                </button>
                                <h5 class="modal-title"><b>Bill of Fabrics Delete</b></h5>
                            </div>
                            <div class="modal-body">
                                <div style="text-align:center">
                                    <h3>Are you sure to delete?</h3>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
@section scripts {

    <script type="text/javascript">


        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();




            $("#txtQntyPcs").blur(function () {
                var orderQuantity = Number($("#txtQntyPcs").val());
                //console.log("releaseQty = ", additionalQty)

                $("#txtQntyDZ").val((orderQuantity / 12).toFixed(2));
            });
            $("#txtQntyDZ").blur(function () {
                var orderQuantity = Number($("#txtQntyDZ").val());
                //console.log("releaseQty = ", additionalQty)

                $("#txtQntyPcs").val((orderQuantity * 12).toFixed(2));
            });
             $("#RawSubCategoryFK").change(function () {
                var rawSubCategoryFK = $("#RawSubCategoryFK").val();
                if (rawSubCategoryFK != '') {
                    document.getElementById("RawItemFK").innerHTML = "";
                    $.get("@Url.Action("GetRawItemByRawSubCatID", "Merchandising")", { id: rawSubCategoryFK }, function (data) {
                        console.log(data);
                        $("#RawItemFK").append("<option value='0'>--Select item--</option>");
                        $.each(data, function (index, row) {
                            $("#RawItemFK").append("<option value='" + row.value + "'>" + row.text + "</option>");
                        });
                    });
                }
                else {
                    document.getElementById("RawItemFK").innerHTML = "";
                }

            })
        });
        //This portion open after permition Shah Alom Bhai
        function GetBOFItemFromYC(styleId) {
            $('.txtMerchandisingStyleFk').val(styleId);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("BOFItemPartial", "Merchandising")",
                    datatype: "Json",
                     data: {styleId: styleId },
                     success: function (data) {
                         $("#loadBOFItem").html(data);
                         $("#txtPrice_1").focus();
                    }
                });
           
                return false;
        }

         function makeEditbleBOF(elem) {
            if (elem !== null) {
                    var rowId = elem.id;
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleBOF", "Merchandising")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#BOFId').val(data.id)
                            $('#BOFmerchandisingStyleFK').val(data.merchandising_StyleFK);
                            $('#BOFmerchandisingYarnCalculationFK').val(data.merchandising_YarnCalculationFK);
                            $('#BOFcommonCurrencyFK').val(data.common_CurrencyFK)
                            $('#BOFcommonRawItemFK').val(data.common_RawItemFK).change();;
                            $('#BOFtxtDescription').val(data.description);
                            $('#BOFtxtUnit').text(data.unitName);

                            $('#BOFtxtConsumption').val(data.consumption);
                            $('#BOFtxtRequiredQuantity').val(data.requiredQuantity);
                            $('#BOFtxtPrice').val(data.price);
                            $('#ActionIdBOF').val(2);
                        }
                    });


                }
        }

        //function makeDeletableBOF(id) {
        //    if (id !== null) {
        //        $('#BOFId').val(id)
        //        $('#ActionIdBOF').val(3);

        //    }
        //}
        function resetFormBOF() {
            //$('#CMEarned').trigger("reset");
            $('#BOFFormId')[0].reset();
            $('#ActionIdBOF').val(1);
        }

        function makeEditble(elem) {
                if (elem !== null) {
                    var rowId = elem.id;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleYarnCalculation", "Merchandising")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('.txtMerchandisingStyleFk').val(data.merchandising_StyleFk)
                            $('.yarnCalculationId').val(data.id);
                            $('#txtReferenceNo').val(data.referenceNo);
                            $('#txtCombo').val(data.combo)
                           // $('#txtColor').val(data.color);
                            $('#txtFabrication').val(data.fabrication);
                            $('#txtGSM').val(data.gsm);
                            $('#txtFinishDIA').val(data.finishDIA);
                            $('#YarnTypeFk').val(data.merchandising_YarnTypeFk).change();
                            $('#RawSubCategoryFK').val(data.raw_SubCategoryFK).attr("selected", true);
                            $('#ddlCommonCurrencyFK').val(data.common_CurrencyFK).change();
                            $('#ddlCommonUnitFK').val(data.common_UnitFK).change();
                            $('#txtQntyPcs').val(data.orderQuantityPCS);
                            $('#txtQntyDZ').val(data.orderQuantityDZ);
                            $('#RawItemFK').val(data.raw_ItemFK).change();
                            $('#txtConsumption').val(data.consumption);
                            $('#txtProcessLoss').val(data.processLoss);
                            $('#txtLycra').val(data.lycra);
                            $('#txtPrice').val(data.price);
                            $('#txtFabrication').val(data.fabrication);
                            $('#txtCommonColorFK').val(data.common_ColorFK).change();
                            
                            $('.ActionId').val(2);
                        }
                    });


                }
            }


        function makeDeletable(id) {
            if (id !== null) {
                $('.yarnCalculationId').val(id);
                $('.txtMerchandisingStyleFk').val(@Model.VMStyle.ID)
                $('.ActionId').val(3);

            }
        }
        function makeApproved(id) {
            if (id !== null) {
                $('.yarnCalculationId').val(id);
                $('.txtMerchandisingStyleFk').val(@Model.VMStyle.ID)
                $('.ActionId').val(6);

            }
        }
        function makeUnApproved(id) {
            if (id !== null) {
                $('.yarnCalculationId').val(id);
                $('.txtMerchandisingStyleFk').val(@Model.VMStyle.ID)
                $('.ActionId').val(8);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#yarnCalculationFormId')[0].reset();
            $('.ActionId').val(1);
        }

    </script>
}