﻿.widget-user .widget-company-image > img {
    width: 120px;
    height: auto;
    border: 3px solid #fff;
}

.widget-user .widget-company-image {
    position: absolute;
    top: 55px;
    left: 45%;
    margin-left: -44px;
}

p.login-box-msg.a {
    padding-top: 35px;
}
.profile-user1-img {
    margin: 0 auto;
    /* width: 100px; */
    padding: 3px;
    border: 3px solid #d2d6de;
}
img.profile-user1-img.img-responsive {
    margin: 0 auto;
    /* width: 100px; */
    padding: 3px;
    border: 3px solid #d2d6de;
}
.round {
    border-radius: 14px !important;
}



body {
    padding: 15px;
}

.select-checkbox option::before {
    content: "\2610";
    width: 1.3em;
    text-align: center;
    display: inline-block;
}

.select-checkbox option:checked::before {
    content: "\2611";
}

.select-checkbox-fa option::before {
    font-family: FontAwesome;
    content: "\f096";
    width: 1.3em;
    display: inline-block;
    margin-left: 2px;
}

.select-checkbox-fa option:checked::before {
    content: "\f046";
}/**/
canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}





