﻿@model Erp.Core.Services.Home.VMPort
@using (Html.BeginForm("CountryPort", "Home", FormMethod.Post, new { id = "UpdateCPort", @class = "formValidator" }))
{
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close"></button>
            <h5 class="modal-title"><b>Country Port</b></h5>
        </div>
        <div class="modal-body">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.ActionId)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group" style="display:block">
                <label for="recipient-name" class="col-form-label">Country:</label>
                @Html.DropDownListFor(model => model.Common_CountryFK, ViewBag.Country as SelectList, "Select a Country", new { @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                @Html.ValidationMessageFor(model => model.Common_CountryFK, "", new { @class = "text-danger" })
            </div>
            
            <div class="form-group" id="Portid">
                <label for="message-text" class="col-form-label">Port:</label>
                @*@Html.DropDownListFor(model => model.PortList, ViewBag.PortList as IEnumerable<SelectListItem>, new { id = "ddlLeaveTypeId", @class = "form-control searchingDropdown", @multiple = "multiple", style = "width:100%" })*@
                @Html.DropDownListFor(model => model.PortList, Model.PortByList as MultiSelectList, new { @class = "selectDropdown form-control", multiple = "multiple", style = "width:100%" })
                @Html.ValidationMessageFor(model => model.PortList, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
        </div>
    </div>
}
    <script type="text/javascript">
        $('.searchingDropdown').select2();
        $('.selectDropdown').select2();
    </script>