﻿
@model Erp.Core.Services.Home.VMBank
@{
    ViewData["Title"] = "Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    int sl = 0;
    var tdFk1 = "tdFk1";
    var td1 = "td1";
    //var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";

}
<style type="text/css">
    .box-header > .box-tools {
        position: absolute;
        left: 10px;
        /*top: 3px;*/
    }

    
</style>
<section class="content-header">
    <h4>
        General Bank List:
    </h4>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">General Bank</li>
    </ol>
</section>
<div class="clearfix"></div>

<div class="col-lg-12 col-md-12 col-sm-12">

    <div class="row">

        <div class="box collapsed-box box-success" id="open">
            <div class="box-header" style="height:35px">
                <div class="box-tools" id="btncollapse">
                    <button type="button" class="btn-primary" data-widget="collapse" title=" Create General Bank">
                        <i id="iconName" class="fa fa-plus"></i> General Bank
                    </button>
                </div>
            </div>

            <div class="box-body" style="display:none">
                <form asp-action="Bank" class="formValidator" method="post" role="form" id="bank" onreset="resetDDL()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ActionId" type="hidden" />
                    <input asp-for="ID" type="hidden" id="PKId" />
                    <div class="box box-success">
                        <div class="row">
                            <div class="col-md-3 col-lg-3">
                                <div class="form-group">
                                    <label asp-for="Common_CountryFK" class="col-form-label">Country:</label>
                                    <select asp-for="Common_CountryFK" id="DDLFk1" asp-items="ViewBag.CountryList" class="form-control searchingDropdown" style="width:100%">
                                        <option>---------Select a Country---------</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <div class="form-group">
                                    <label asp-for="Name" class="col-form-label">Bank Name:</label>
                                    <input asp-for="Name" id="text1" class="form-control" required />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-3 col-lg-3" style="padding-top:25px;">
                                <div class="input-group">
                                    <span><b>Is Local Bank :</b><input type="checkbox" asp-for="Flag" id="flag" /></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 pull-right" style="padding-top:25px">
                            <button type="submit" id="btnSave" class="btn btn-primary btn-block btn-flat">Add</button>
                        </div>
                        <div class="col-lg-6 col-md-6 pull-right" style="padding-top:25px">
                            <button type="button" id="btnClose" class="btn btn-danger btn-block btn-flat">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
       
        <div class="box box-success">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Country</th>
                                <th>Bank</th>
                                @*<th>IBAN/Swift/Code</th>*@
                                <th>Bank Origin</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td class="hidden">
                                        <input type="hidden" id="@tdFk1@item.ID" value="@item.Common_CountryFK" />
                                    </td>
                                    <td id="@td4@item.ID" class="hidden">@item.Flag</td>
                                    <td>@item.Country</td>
                                    <td id="@td1@item.ID">@item.Name</td>
                                    @*<td id="@td2@item.ID">@item.SwiftCode</td>*@
                                    <td id="@td3@item.ID">
                                        <div>
                                            @if (@item.Flag == true)
                                            {
                                                <span class="label label-success">Local Bank</span>
                                            }
                                            else
                                            {
                                                <span class="label label-danger">Foreign Bank</span>
                                            }

                                        </div>
                                    </td>

                                    <td>
                                        <a onclick="menuinfo(@item.ID);" class="linkPointer" title="Edit" data-placement="top">
                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("Bank", "Home", FormMethod.Post, new { id = "party", @class = "formValidator" }))
    {
        @Html.HiddenFor(model => model.ID, new { id = "deleteId" })
        @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })

        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Bank Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(id) {
            //if () {
            //    var r = id;
            //    $('#PKId').val(r);
            //    $('#ActionId').val(2);
            //    $('#btnSave').html(" Update");
            //    $('#text1').val($('#td1' + r).text().trim());
            //    $('#text2').val($('#td2' + r).text().trim());
            //    $('#DDLFk1').val($('#tdFk1' + r).val().trim()).trigger('change');
            //    //console.log($('#td4' + r).text().trim());
            //    if ($('#td4' + r).text().trim() == "True") {
            //        $("#flag").prop("checked", true);
            //    }
            //    $("#open").removeClass('collapsed-box');
               
            //    //$("#iconName").removeClass('fa-plus').addClass('fa-minus');
            //    $("#btncollapse").hide();
            //}
            var r = id;
            $('#PKId').val(r);
            $('#ActionId').val(2);
            $('#btnSave').html(" Update");
            $('#text1').val($('#td1' + r).text().trim());
            $('#text2').val($('#td2' + r).text().trim());
            $('#DDLFk1').val($('#tdFk1' + r).val().trim()).trigger('change');
            //console.log($('#td4' + r).text().trim());
            if ($('#td4' + r).text().trim() == "True") {
                $("#flag").prop("checked", true);
            }
            $("#open").removeClass('collapsed-box');
            $('.box-body').css("display", "block")
            $("#iconName").addClass('fa-minus');
          
          

        }

        function deleteItemInfo(id) {

            console.log(id);
            if (id !== null) {
                $('#deleteId').val(id);
                $('#DeleteActionId').val(3);
            }
        }
        function resetDDL() {

            $('#PKId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");
            $('#DDLFk1').val('').trigger('change');
            $('#bank').bootstrapValidator("resetForm", true);

        }


        $("#btnClose").click(function (e) {
            $('#bank').trigger("reset");
            $("#open").addClass('collapsed-box');
            //$("#open").closest;
            //$("#btncollapse").show();
        });

    </script>
}





