﻿@{
    ViewData["Title"] = "Buyer";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdname = "tdname";
}

@model Erp.Core.Services.Home.VMBuyer

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Manage Buyer
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Buyer</li>
            </ol>
        </section>
        <div class="box-danger">
            @*<div class="box-header">
                    <h3>
                        Buyer List:
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Buyer" data-placement="top"><i class="glyphicon glyphicon-plus"></i></button>
                    </h3>
                </div>*@
            <div id="updateBuyer"></div>
            <div id="createBuyer">
                @await Component.InvokeAsync("SettingUI", new { ID = 0 })
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Buyer Code</th>
                                <th>Buyer Name</th>
                                <th>Country</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {

                                <tr>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td id="@tdId@item.Common_CountryFK" class="hidden">@item.Common_CountryFK</td>
                                    <td>@item.BuyerID</td>
                                    <td id="@tdname@item.ID">@item.Name</td>
                                    <td>@item.Country</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <a data-modal="" class="linkPointer" asp-action="SettingUpdateForm" asp-controller="Home" asp-route-Id="@item.ID"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                        @*<a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
           data-placement="top">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </a>*@
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                           data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>
                                        @Html.ActionLink("Notify Party", "BuyerNotifyParty", new { ID = item.ID }, new { @class = "label " + item.Exist1, target = "_blank", title = "Notify Party" })
                                        @Html.ActionLink("Add Bank", "BuyerBank", new { ID = item.ID }, new { @class = "label " + item.Exist, target = "_blank", title = "Add Bank" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



@using (Html.BeginForm("Buyer", "Home", FormMethod.Post, new { id = "Buyer", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ActionId, new { id = "ActionId1" })
    @Html.HiddenFor(model => model.ID, new { id = "hidId" })
    @*<div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Buyer Create</b></h5>
                    </div>
                    <div class="modal-body">


                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Buyer Code:</label>
                                    @Html.TextBoxFor(model => model.BuyerID, new { id = "txtName", placeholder = "Buyer Code", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters" })
                                    @Html.ValidationMessageFor(model => model.BuyerID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9">
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Buyer Name:</label>
                                    @Html.TextBoxFor(model => model.Name, new { id = "txtName", placeholder = "Name", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>

                        <div class="form-group" style="display:block">
                            <label for="recipient-name" class="col-form-label">Buyer Country:</label>
                            @Html.DropDownListFor(model => model.Common_CountryFK, ViewBag.CountryList as SelectList, "Select Country", new { id = "Common_CountryFK", @class = "searchingDropdown form-control", style = "width:100%" })
                            @Html.ValidationMessageFor(model => model.Common_CountryFK, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Buyer Phone:</label>
                            @Html.TextBoxFor(model => model.Phone, new { id = "txtName", placeholder = "Phone", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters" })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Buyer Email:</label>
                            @Html.TextBoxFor(model => model.Email, new { id = "txtName", placeholder = "Email", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Buyer Address:</label>
                            @Html.TextBoxFor(model => model.Address, new { id = "txtName", placeholder = "Address", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Contact Person:</label>
                            @Html.TextBoxFor(model => model.ContactPerson, new { id = "txtName", placeholder = "Contact Person", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 10 characters" })
                            @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnsave" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Buyer Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">Delete</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });
        $(function () {
            $.ajaxSetup({ cache: false });
            $("a[data-modal]").on("click", function (e) {

                $('#updateBuyer').load(this.href);
                $('#createBuyer').remove();

                return false;
            });
        });
        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtName').val($('#tdname' + r).text().trim());
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId1').val(3);
            }
        }
        $("#btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txtName').empty();
            $('#Buyer').bootstrapValidator("resetForm", true);
        })
    </script>
}