﻿@model Erp.Core.Services.Home.VMBuyerNotify
@{
    ViewData["Title"] = "Buyer Potify Party";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    int sl = 0;
    var CountryId = "CountryId";
    var tdName = "tdName";
    var tdContactPerson = "tdContactPerson";
    var tdPhone = "tdPhone";
    var tdEmail = "tdEmail";
    var tdAddress = "tdAddress";
}


<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box box-success">
            <div class="box-header bg-success custom">
                <h4>
                   Buyer Notify Party:
                </h4>
            </div>
            <div class="box-body">
                <form asp-action="BuyerNotifyParty" class="formValidator" method="post" role="form" id="notifyParty" onreset="resetDDL()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ActionId" type="hidden" />
                    <input asp-for="ID" type="hidden" id="PKId" />
                    <input asp-for="Common_BuyerFK" type="hidden" />

                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="BuyerName" class="control-label">Buyer Name:</label>
                                <input asp-for="BuyerName" class="form-control" readonly />
                                <span asp-validation-for="BuyerName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Name" class="col-form-label">Notify Party:</label>
                                <input asp-for="Name" id="name" class="form-control" required />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="ContactPerson" class="col-form-label">Contact Person:</label>
                                <input asp-for="ContactPerson" id="contactPerson"class="form-control" required/>
                                <span asp-validation-for="ContactPerson" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="Phone" class="col-form-label">Phone:</label>
                                <input asp-for="Phone" id="phone"class="form-control" required/>
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="Email" class="col-form-label">Email:</label>
                                <input asp-for="Email"id="email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="Common_CountryFK" class="col-form-label">Country:</label>
                                <select asp-for="Common_CountryFK" id="DDLCountryFk" asp-items="ViewBag.CountryList" class="form-control searchingDropdown" style="width:100%">
                                    <option>-----------Select a Country----------</option>
                                </select>
                            </div>
                        </div>
                        
                    </div>

                    <div class="row">
                        <div class="col-md-9 col-lg-9">
                            <div class="form-group">
                                <label asp-for="Address" class="col-form-label">Address:</label>
                                <input asp-for="Address" id="address" class="form-control" required />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 pull-right" style="padding-top:25px">
                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                            <button type="button" id="btnClose" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>



                </form>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Notify Party</th>
                                <th>Contact Person</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Country</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td>@(++sl)</td>
                                <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                <td class="hidden">
                                    <input type="hidden" id="@CountryId@item.ID" value="@item.Common_CountryFK" />
                                </td>
                                <td id="@tdName@item.ID">@item.Name</td>
                                <td id="@tdContactPerson@item.ID">@item.ContactPerson</td>
                                <td id="@tdPhone@item.ID">@item.Phone</td>
                                <td id="@tdEmail@item.ID">@item.Email</td>
                                <td>@item.CountryName</td>
                                <td id="@tdAddress@item.ID">@item.Address</td>
                                <td>
                                    <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("BuyerNotifyParty", "Home", FormMethod.Post, new { id = "party", @class = "formValidator" }))
    {
        @Html.HiddenFor(model => model.ID, new { id = "deleteId" })
        @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })

        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Notify Party Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#PKId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html(" Update");
                $('#name').val($('#tdName' + r).text().trim());
                $('#contactPerson').val($('#tdContactPerson' + r).text().trim());
                $('#phone').val($('#tdPhone' + r).text().trim());
                $('#email').val($('#tdEmail' + r).text().trim());
                $('#address').val($('#tdAddress' + r).text().trim());
                $('#DDLCountryFk').val($('#CountryId' + r).val().trim()).trigger('change');
            }
        }

        function deleteItemInfo(id) {

            console.log(id);
            if (id !== null) {
                $('#deleteId').val(id);
                $('#DeleteActionId').val(3);
            }
        }
       function resetDDL() {

            $('#PKId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");
            $('#DDLCountryFk').val('').trigger('change');
            $('#notifyParty').bootstrapValidator("resetForm", true);

        }


        $("#btnClose").click(function (e) {
            $('#notifyParty').trigger("reset");
        });

    </script>
}

