﻿@{
    ViewData["Title"] = "Finish Category";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var td1 = "td1";

}

@model Erp.Core.Services.Home.VMFinishCategory

@using (Html.BeginForm("FinishCategory", "Home", FormMethod.Post, new { id = "FinishCategory", @class = "formValidator" }))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success">
                    <h4>
                        Finish Category <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#exampleModal" title="Add New Chart"
                                                data-placement="top">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </h4>
                </div>
                <div class="box-body">
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th class="hidden"></th>

                                    <th>Finish Category</th>

                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                <tr>
                                    <td>@(++sl).</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td>@item.Code</td>
                                    <td id="@td1@item.ID">@item.Name</td>
                                    <td>
                                        <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                           data-placement="top">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                           data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Finish Category Create</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Category Name:</label>
                        @Html.TextBoxFor(model => model.Name, new { id = "txt1", placeholder = "Name", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-warning fa fa-close" data-dismiss="modal"> Close </button>
                    <button type="submit" id="btnsave" class="btn btn-primary fa fa-floppy-o"> Save </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b> Finish Category Delete </b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-warning fa fa-close" data-dismiss="modal"> Cancel </button>
                    <button type="submit" id="btnsave" class="btn btn-danger fa fa-trash-o"> Delete </button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txt1').val($('#td1' + r).text().trim());


            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);

            }
        }
        $("#btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#td1').empty();
            $('#FinishCategory').bootstrapValidator("resetForm", true);

        })

    </script>


}














