﻿@{
    ViewData["Title"] = "FinishItem";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var CategoryId = "CategoryId";
    var SubCategoryId = "SubCategoryId";
    var UnitId = "UnitId";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";


}

@model Erp.Core.Services.Home.VMFinishItem

@using (Html.BeginForm("FinishItem", "Home", FormMethod.Post, new { id = "FinishItem", @class = "formValidator" }))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success">
                        <h4>
                            Finish Item 
                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#exampleModal" title="Add New Chart"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>
                        </h4>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->

                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>Category</th>
                                        <th>SubCategory</th>
                                        <th>Code</th>
                                        <th>Item</th>
                                        <th>Unit</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                    <tr>
                                        <td>@(++sl).</td>
                                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                        <td id="@CategoryId@item.ID" class="hidden">@item.FinishCategoryFK</td>
                                        <td id="@SubCategoryId@item.ID" class="hidden">@item.FinishSubCategoryFK</td>
                                        <td id="@UnitId@item.ID" class="hidden">@item.Common_UnitFK</td>
                                        <td id="@td1@item.ID">@item.FinishCategory</td>
                                        <td id="@td2@item.ID">@item.FinishSubCategory</td>
                                        <td>@item.Code</td>
                                        <td id="@td3@item.ID">@item.Name</td>
                                        <td id="@td4@item.ID">@item.Unit</td>

                                        <td>
                                            <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                               data-placement="top">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </a>

                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>

            </div>
        </div>
    
    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"> <b>Finish Item Create</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.HiddenFor(model => model.FinishSubCategoryFK, new { Value = "", id = "RSubCategoryFK" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Category:</label>
                        @Html.DropDownListFor(model => model.FinishCategoryFK, ViewBag.FinishCategory as SelectList, "Select a Category", new { id = "ddlCategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.FinishCategoryFK, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">SubCategory:</label>
                        @Html.DropDownListFor(model => model.FinishSubCategoryFK, ViewBag.FinishSubCategory as SelectList, "Select a SubCategory", new { id = "ddlSubCategoryFK", @class = "searchingDropdown form-control", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.FinishSubCategoryFK, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Item Name:</label>
                        @Html.TextBoxFor(model => model.Name, new { id = "txt1", placeholder = "Name", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Unit:</label>
                        @Html.DropDownListFor(model => model.Common_UnitFK, ViewBag.Unit as SelectList, "Select a Unit", new { id = "ddlUnitFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Common_UnitFK, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-warning fa fa-close" data-dismiss="modal"> Close </button>
                    <button type="submit" id="btnsave" class="btn btn-primary fa fa-floppy-o"> Save </button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b> Finish Item Delete </b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-warning fa fa-close" data-dismiss="modal"> Cancel </button>
                    <button type="submit" id="btnsave" class="btn btn-danger fa fa-trash-o"> Delete </button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

           $("#ddlCategoryFK").change(function () {
               var Id = $("#ddlCategoryFK").val();

               if (Id != "")
               {
                  $.ajax({
                    type: "POST",
                    url: "@Url.Action("FinishSubCategoryDropDownSpecific")",
                    datatype: "Json",
                    data: { id: Id  },
                    success: function (data) {
                        var items = "";
                        items += "<option value ='' selected>Please Select</option>";
                        $.each(data, function (Index,value) {
                            items += ('<option value="' + value.value + '">' + value.text  + '</option>');
                        });
                        $("#ddlSubCategoryFK").html(items);

                    }
                  });
               }
        });

        $("#ddlSubCategoryFK").change(function () {
            var Id = $("#ddlSubCategoryFK").val();
            if (Id != "") {
                $("#RSubCategoryFK").val(Id);
            }
        });

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);

            }
        }

        function menuinfo(elem) {

            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#ddlCategoryFK').val($('#CategoryId' + r).text().trim());
                $('#ddlSubCategoryFK').val($('#SubCategoryId' + r).text().trim());
                $('#RSubCategoryFK').val($('#SubCategoryId' + r).text().trim());
                $('#txt1').val($('#td3' + r).text().trim());
                $('#ddlCategoryFK').val($('#CategoryId' + r).text().trim()).trigger('change');
                $('#ddlSubCategoryFK').val($('#SubCategoryId' + r).text().trim()).trigger('change');
                $('#ddlUnitFK').val($('#UnitId' + r).text().trim()).trigger('change');



            }
        }
        $("#btncloseandreset").click(function (e) {

            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#td3').empty();
            $('#FinishItem').bootstrapValidator("resetForm", true);


        });


    </script>


}















