﻿@model Erp.Core.Services.Home.VMInspectionAgent
@{ ViewData["Title"] = "InspectionAgent";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var tdId = "tdId";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
    var td5 = "td5";

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">

                <section class="content-header">
                    <h3>
                        Manage Inspection Agent
                    </h3>
                    <ol class="breadcrumb">
                        <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                        <li class="active">InspectionAgent</li>
                    </ol>
                </section>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("InspectionAgent", "Home", FormMethod.Post, new { id = "InspectionAgent", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            <div class="box-body">
                                <!--Body Will by Start Here-->
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="row">

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Inspection Agent:</label>
                                            @Html.TextBoxFor(model => model.Name, new { id = "txt1", placeholder = "Inspection Agent", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Phone:</label>
                                            @Html.TextBoxFor(model => model.Phone, new { id = "txt2", placeholder = "Phone", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Email:</label>
                                            @Html.TextBoxFor(model => model.Email, new { id = "txt3", placeholder = "Email", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Contact Person:</label>
                                            @Html.TextBoxFor(model => model.ContactPerson, new { id = "txt4", placeholder = "Contact Person", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Address:</label>
                                            @Html.TextAreaFor(model => model.Address, new { id = "txt5", placeholder = "Address", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <button type="button" id="btnClose" class="btn btn-danger btn-flat btn-block">Cancel</button>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <button type="submit" id="btnSave" class="btn btn-primary btn-flat btn-block">Add</button>
                                    </div>
                                </div>


                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th>Inspection Agent</th>
                                <th>Phone</th>
                                <th>Email</th>
                                <th>Contact Person</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }

                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td id="@td1@item.ID">@item.Name</td>
                                    <td id="@td2@item.ID">@item.Phone</td>
                                    <td id="@td3@item.ID">@item.Email</td>
                                    <td id="@td4@item.ID">@item.ContactPerson</td>
                                    <td id="@td5@item.ID">@item.Address</td>

                                    <td>
                                        <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>


                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("InspectionAgent", "Home", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "HDFId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "HDFActionId" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Inspection Agent</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });
        function menuinfo(elem) {
            
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html(" Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txt1').val($('#td1' + r).text().trim());
                $('#txt2').val($('#td2' + r).text().trim());
                $('#txt3').val($('#td3' + r).text().trim());
                $('#txt4').val($('#td4' + r).text().trim());
                $('#txt5').val($('#td5' + r).text().trim());


            }
        }
        function deleteItemInfo(id) {
            
            if (id !== null) {
                $('#HDFId').val(id);
                $('#HDFActionId').val(3);
            }
        }

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");

            $('.ddlReset').val('').trigger('change');
            $('#InspectionAgent').bootstrapValidator("resetForm", true);

        }

        $("#btnClose").click(function (e) {
            $('#InspectionAgent').trigger("reset");
        });
    </script>
}









