﻿
<link href="~/style/Site.css" rel="stylesheet" />
<div class="row">

    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-body box-profile">
                <div class="col-md-2">
                    <img class="profile-user1-img img-responsive" src="~/content/nopic.png" alt="User profile picture">

                </div>

                <div class="col-md-3">
                    <h3 class="profile-username text-center">Admin</h3>
                    <p class="text-muted text-center">System Admin</p>
                </div>
                <div class="col-md-3">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>In Time</b> <a class="pull-right">8:00 AM</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item">
                            <b>Out Time</b> <a class="pull-right">5:00 PM</a>
                        </li>

                    </ul>

                    <a href="#" class="btn btn-primary btn-block"><b>Attendance Details</b></a>
                </div>



            </div>
            <!-- /.box-body -->
        </div>
    </div>



</div>
<div class="row">
    <div class="col-md-12">

        <div class=" box box-primary">
            <div class="box-header with-border">
                <h3>Personal Information</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="">
                        <i class="fa fa-minus"></i>
                    </button>
                   
                </div>
                <div class="pull-right hidden-xs">
                    <button type="button" class="btn btn-info glyphicon glyphicon-pencil" data-toggle="modal" data-target="#mdl"></button>
                </div>
            </div>
           
            <div class="box-body">
                <div class="row">
                    <div class=" col-xs-12 col-sm-6 col-md-12">
                        <table class="table table-striped">
                            @*<tr>
                        <th style="width:30%"></th>
                        <th style="width:70%"></th>
                    </tr>*@
                            <tr>
                                <td>First Name</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td>Admin</td>
                            </tr>
                            <tr>
                                <td>Phone Number </td>
                                <td>0191555640</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>Admin.com</td>
                            </tr>

                        </table>
                    </div>
                </div>
                @*<dl>
                    <dt>First Name</dt>
                    <dd>Admin</dd>
                    <dt>Last Name</dt>
                    <dd>Admin</dd>
                    <dt>Phone Number</dt>
                    <dd>0191555640</dd>
                    <dt>Email</dt>
                    <dd>Admin.com</dd>
                </dl>*@
            </div>
        </div>


    </div>


</div>
<div class="row">
    <div class="col-md-12">
        <div class=" box box-primary">
            <div class="box-header with-border">
                <h3>Leave Information</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="">
                        <i class="fa fa-minus"></i>
                    </button>

                </div>
                <div class="pull-right hidden-xs">
                    <button type="button" class="btn btn-info glyphicon glyphicon-pencil" data-toggle="modal" data-target="#mdl"></button>
                </div>
            </div>
            <div class="box-body">

            </div>
        </div>


    </div>


</div>


<div id="mdl" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content round">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <from>
                    <div class="form-horizontal">
                        <div class="box-body" style="cursor:pointer">
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">First Name</label>
                                <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9">
                                    <input type="text" class="form-control" name="firstName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Last Name</label>

                                <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9">
                                    <input type="text" class="form-control" name="LastName">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Phone</label>

                                <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9">
                                    <input type="text" class="form-control" name="phone">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Email</label>

                                <div class="col-xs-9 col-sm-9 col-lg-9 col-md-9">
                                    <input type="email" class="form-control" name="email">
                                </div>
                            </div>
                        </div>

                    </div>
                </from>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>

            </div>
        </div>

    </div>
</div>
@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('.modal-dialog').draggable({
                handle: ".modal-header"
            });
            $('.modal-dialog').draggable({
                handle: ".box-body"
            });
        });
    </script>
}




