﻿@{
    ViewData["Title"] = "Company Bank";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    int sl = 0;
    var FKId1 = "FKId1";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";

}

@model Erp.Core.Services.Home.VmReceivingBank


<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <section class="content-header">
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li><a asp-action="ReceivingBank" asp-controller="Home">Company Bank Branch</a></li>

            </ol>
        </section>
        <div class="box box-success">
            <div class="box-header bg-success">
                <h4>
                    Company Bank Branch:
                </h4>
            </div>
            <div class="box-body">
                <form asp-action="ReceivingBank" class="formValidator" method="post" role="form" id="companyBank" onreset="resetDDL()">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ActionId" type="hidden" />
                    <input asp-for="ID" type="hidden" id="PKId" />
                    <input asp-for="Common_CountryFK" type="hidden" />
                    <input asp-for="Common_CompanySetupFK" type="hidden" />
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <label asp-for="CompanySetup" class="control-label">Company Name:</label>
                                <input asp-for="CompanySetup" class="form-control" readonly />
                                <span asp-validation-for="CompanySetup" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Common_BankFK" class="col-form-label">Bank:</label>
                                <select asp-for="Common_BankFK" id="DDLFk1" asp-items="ViewBag.BankList" class="form-control searchingDropdown" style="width:100%">
                                    <option>---------Select a Bank---------</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label asp-for="Name" class="col-form-label">Branch Name:</label>
                                <input asp-for="Name" id="text1" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="Address" class="col-form-label">Branch Address:</label>
                                <input asp-for="Address" type="text" id="text2" class="form-control" required autocomplete="off" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ContactPerson" class="col-form-label">Contact Person:</label>
                                <input asp-for="ContactPerson" type="text" id="text3" class="form-control" autocomplete="off" />
                                <span asp-validation-for="ContactPerson" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="ContactNo" class="col-form-label">Contact No:</label>
                                <input asp-for="ContactNo" type="text" id="text4" class="form-control" autocomplete="off" />
                                <span asp-validation-for="ContactNo" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="Email" class="col-form-label">Email:</label>
                                <input asp-for="Email" type="text" id="text6" class="form-control" autocomplete="off" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <div class="form-group">
                                <label asp-for="SwiftCode" class="col-form-label">IBAN/Swift/Code:</label>
                                <input asp-for="SwiftCode" type="text" id="text5" class="form-control" autocomplete="off" />
                                <span asp-validation-for="SwiftCode" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 pull-right" style="padding-top:25px">
                            <button type="submit" id="btnSave" class="btn btn-primary btn-block btn-flat">Add</button>
                        </div>
                        <div class="col-lg-6 col-md-6 pull-right" style="padding-top:25px">
                            <button type="button" id="btnClose" class="btn btn-danger btn-block btn-flat">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="box box-success">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Bank</th>
                                <th>Branch Name</th>
                                <th>Branch Address</th>
                                <th>Contact Person</th>
                                <th>Contact No</th>
                                <th>Email</th>
                                <th>IBAN/Swift/Code</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>

                                    <td class="hidden">
                                        <input type="hidden" id="@FKId1@item.ID" value="@item.Common_BankFK" />
                                    </td>
                                    <td>@item.BankName</td>
                                    <td id="@td1@item.ID">@item.Name</td>
                                    <td id="@td2@item.ID">@item.Address</td>
                                    <td id="@td3@item.ID">@item.ContactPerson</td>
                                    <td id="@td4@item.ID">@item.ContactNo</td>
                                    <td id="@td6@item.ID">@item.Email</td>
                                    <td id="@td5@item.ID">@item.SwiftCode</td>


                                    <td>
                                        <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                        </a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    @using (Html.BeginForm("ReceivingBank", "Home", FormMethod.Post, new { id = "party", @class = "formValidator" }))
    {
        @Html.HiddenFor(model => model.ID, new { id = "deleteId" })
        @Html.HiddenFor(model => model.ActionId, new { id = "DeleteActionId" })

        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b> Company Bank Branch Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function menuinfo(elem) {

            if (elem !== null) {
                var r = elem.id;

                $('#PKId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("Update");
                $('#text1').val($('#td1' + r).text().trim());
                $('#text2').val($('#td2' + r).text().trim());
                $('#text3').val($('#td3' + r).text().trim());
                $('#text4').val($('#td4' + r).text().trim());
                $('#text5').val($('#td5' + r).text().trim());
                $('#text6').val($('#td6' + r).text().trim());
                $('#DDLFk1').val($('#FKId1' + r).val().trim()).trigger('change');


            }
        }

        function deleteItemInfo(id) {

            console.log(id);
            if (id !== null) {
                $('#deleteId').val(id);
                $('#DeleteActionId').val(3);
            }
        }
        function resetDDL() {

            $('#PKId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");
            $('#DDLFk1').val('').trigger('change');

            $('#companyBank').bootstrapValidator("resetForm", true);

        }


        $("#btnClose").click(function (e) {
            $('#companyBank').trigger("reset");
        });

    </script>
}








