﻿@{
    ViewData["Title"] = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdName = "tdName";
    var tdCode = "tdCode";
    var tdCountryID = "tdCountryID";
    var tdCountryName = "tdCountryName";
    var tdSupplierType = "tdSupplierType";
    var tdEmail = "tdEmail";
    var tdContactPerson = "tdContactPerson";
    var tdPhone = "tdPhone";
    var tdIsForeign = "tdIsForeign";
    var tdAddress = "tdAddress";

}

@model Erp.Core.Services.Home.VMSupplier

<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <form id="Supplier" asp-action="Supplier" asp-controller="Home" asp-antiforgery="true" role="form" method="post" class="formValidator" onreset="resetDDL();">
            <div class="box">
                <div class="box-header">
                    <h3>
                        Supplier Info:

                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->
                    <input asp-for="ID" id="hidId" type="hidden" />
                    <input asp-for="ActionId" id="ActionId" type="hidden" />

                    <div class="col-md-12 no-padding">

                        <div class="form-group col-md-10">
                            <label asp-for="Name" class="col-form-label"></label>
                            <input asp-for="Name" id="txtName" placeholder="Name" class="form-control" required />
                            <span asp-validation-for="Name" class="text-danger"></span>

                        </div>
                        <div class="form-group col-md-2">
                            <label asp-for="Code" class="col-form-label"></label>
                            <input asp-for="Code" id="txtCode" placeholder="Code"  class="form-control" required />
                            <span asp-validation-for="Code" class="text-danger"></span>

                        </div>
                    </div>


                    <div class="col-md-12 no-padding">

                        <div class="form-group col-md-2">
                            <label asp-for="IsForeignSupplier" class="col-form-label"></label>
                            <input asp-for="IsForeignSupplier" id="chkIsForeignSupplier" />
                            <span asp-validation-for="IsForeignSupplier" class="text-danger"></span>

                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="SupplierType" class="col-form-label"></label>
                            <select asp-for="SupplierType" asp-items="Model.SupplierTypeList" required id="ddlSupplierType" class="searchingDropdown form-control ddlReset">
                                <option selected value="">Select Type</option>
                            </select>
                            <span asp-validation-for="SupplierType" class="text-danger"></span>

                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="VMCommon_CountryID" class="col-form-label"></label>
                            <select asp-for="VMCommon_CountryID" asp-items="Model.VMCommon_CountryList" required id="ddlCountryID" class="searchingDropdown form-control ddlReset">
                                <option selected value="">Select Country</option>
                            </select>
                            <span asp-validation-for="VMCommon_CountryID" class="text-danger"></span>

                        </div>
                    </div>

                    <div class="col-md-12 no-padding">
                        <div class="form-group col-md-4">
                            <label asp-for="ContactPerson" class="col-form-label"></label>
                            <input asp-for="ContactPerson" id="txtContactPerson" placeholder="Contact Person" class="form-control" />
                            <span asp-validation-for="ContactPerson" class="text-danger"></span>

                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Email" class="col-form-label"></label>
                            <input asp-for="Email" id="txtEmail" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>

                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Phone" class="col-form-label"></label>
                            <input asp-for="Phone" id="txtPhone" placeholder="Phone" class="form-control" />
                            <span asp-validation-for="Phone" class="text-danger"></span>

                        </div>
                    </div>



                    <div class="form-group col-md-12">
                        <label asp-for="Address" class="col-form-label"></label>
                        <input asp-for="Address" id="txtAddress" placeholder="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>

                    </div>
                    <div class="col-md-12 ">
                        <input type="submit" id="btnsave" class="btn btn-primary form-control" value="Save" />
                    </div>
                </div>

                <div class="box-footer">

                </div>

            </div>

        </form>

    </div>
</section>

<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3>
                    Supplier List:

                </h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--Body Will by Start Here-->

                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>

                                <th>Name</th>
                                <th>Code</th>
                                <th>Origin</th>
                                <th>Type</th>
                                <th>Country</th>
                                <th>Contact Person</th>
                                <th>Email</th>

                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {

                                <tr>
                                    <td>@(++sl).</td>
                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                    <td id="@tdSupplierType@item.ID" class="hidden">@((int)item.SupplierType)</td>
                                    <td id="@tdIsForeign@item.ID" class="hidden">@item.IsForeignSupplier</td>
                                    <td id="@tdCountryID@item.ID" class="hidden">@item.VMCommon_CountryID</td>
                                    <td id="@tdPhone@item.ID" class="hidden">@item.Phone</td>
                                    <td id="@tdAddress@item.ID" class="hidden">@item.Address</td>

                                    <td id="@tdName@item.ID">@item.Name</td>
                                    <td id="@tdCode@item.ID">@item.Code</td>
                                    <td>@item.Foreign</td>
                                    <td>@item.SupplierTypeName</td>
                                    <td id="@tdCountryName@item.ID">@item.VMCommon_CountryName</td>
                                    <td id="@tdContactPerson@item.ID">@item.ContactPerson</td>
                                    <td id="@tdEmail@item.ID">@item.Email</td>

                                    <td>
                                        <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                           data-placement="top">
                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                        </a>

                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="box-footer">

            </div>

        </div>



    </div>
</section>

<form id="DeleteSupplier" asp-action="Supplier" asp-controller="Home" asp-antiforgery="true" role="form" method="post" class="formValidator">
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <input asp-for="ID" id="hdfId" type="hidden" />
        <input asp-for="ActionId" id="hdfActionId" type="hidden" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Supplier Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btDelete" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>
</form>



@section scripts {

    <script type="text/javascript">
        
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function menuinfo(elem) {
            
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnsave').html("&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());


                $('#txtCode').val($('#tdCode' + r).text().trim());
                $('#txtName').val($('#tdName' + r).text().trim());
                $('#ddlCountryID').val($('#tdCountryID' + r).text().trim());
                if ($('#tdIsForeign' + r).text().trim() == "True") {
                    $("#chkIsForeignSupplier").prop("checked", true);
                }

                $('#ddlSupplierType').val($('#tdSupplierType' + r).text().trim());
                $("#txtContactPerson").val($('#tdContactPerson' + r).text().trim());
                $('#txtEmail').val($('#tdEmail' + r).text().trim());
                $('#txtPhone').val($('#tdPhone' + r).text().trim());
                $('#txtAddress').val($('#tdAddress' + r).text().trim());

                $('.ddlReset').trigger('change');
            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hdfId').val(id);
                $('#hdfActionId').val(3);

            }
        }
        $("#btncloseandreset").click(function (e) {
            e.preventDefault();
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnsave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('#txt1').empty();


            $('#Supplier').trigger("reset");
        })
        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#Supplier').bootstrapValidator("resetForm", true);

        }
    </script>


}