﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Server running version</title>
</head>
<body>
Deployment History By Commits<br>ossbdit@gmail.com : 4d7086e2970758e041d3a3b320c0a1156339b811<br>ossbdit@gmail.com : 9b665db4bac26739abe844a4af48c823150245ef<br>ossbdit@gmail.com : bdcc0e31fdf41abfb8825e076fa365cf499c18a8<br>Rafiqul Islam : 6d57fe380fdda66f22f583137791d9da75e323c0<br>Rafiqul Islam : 6d57fe380fdda66f22f583137791d9da75e323c0<br>Rezwan : 615cbb0ad954b97f88088f0bf67231c905a09493<br>Ziaul Kabir Fahad : d6a8655c1d4be7789b204c22990c0c0a1954f9b3<br>
</body>
</html>

