﻿@model Erp.Core.Services.Merchandising.VMCBS

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            @using (Html.BeginForm("CBS", "Merchandising", FormMethod.Post, new { id = "CBSForm", @class = "formValidator" }))
            {
                <div class="box-body bg-grey">
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.ActionId)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Style:</label>
                                @Html.DropDownListFor(model => model.Merchandising_CBSStyleFK, ViewBag.StyleList as SelectList, "Select Style", new { id = "CBSStyleFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Merchandising_CBSStyleFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Buyer Name:</label>
                                @Html.DropDownListFor(model => model.Common_BuyerFK, ViewBag.BuyerList as SelectList, "Select Buyer", new { id = "Common_BuyerFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Common_BuyerFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Reference:</label>
                                @Html.TextBoxFor(model => model.Reference, new { id = "txt6", placeholder = "Reference", @class = "form-control", autocomplete="off" })
                                @Html.ValidationMessageFor(model => model.Reference, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label asp-for="OrderQty" class="control-label"></label>
                                <input asp-for="OrderQty" type="number" step="1" min=1 class="form-control" required autocomplete="off"/>
                                <span asp-validation-for="OrderQty" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label asp-for="OverheadRate" class="control-label"></label>
                                <input asp-for="OverheadRate" type="text" class="form-control" required autocomplete="off"/>
                                <span asp-validation-for="OverheadRate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label asp-for="BuyingCommission" class="control-label"></label>
                                <input asp-for="BuyingCommission" type="text" class="form-control" required autocomplete="off"/>
                                <span asp-validation-for="BuyingCommission" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label asp-for="ProfitMargin" class="control-label"></label>
                                <input asp-for="ProfitMargin" type="text" class="form-control" required autocomplete="off"/>
                                <span asp-validation-for="ProfitMargin" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Remarks:</label>
                                @Html.TextBoxFor(model => model.Remarks, new { id = "txt6", placeholder = "Remarks", @class = "form-control", autocomplete="off" })
                                @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-angle-double-down'></i>ADD</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>