﻿
<style type="text/css">
    .design {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        font-size:10px;
        border-collapse: collapse;
        width: 100%;
    }

        .design td, .design th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        .design tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .design tr:hover {
            background-color: #ddd;
        }

        .design th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: cornflowerblue;
            color: white;
        }

    button {
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
        margin: 2px 1px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid cornflowerblue;
    }

        button:hover {
            background-color: cornflowerblue;
            color: white;
        }

    .page-header, .page-header-space {
        height: 70px;
        padding-bottom: 10px;
        margin-top: 0;
    }


    .page-footer, .page-footer-space {
        height: 40px;
    }

    .page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid black;
    }

    .page-header {
        position: fixed;
        top: 0;
        width: 100%;
        border-bottom: 1px solid black;
    }

    .page {
        page-break-after: always;
    }

    .conten {
        display: flex;
        margin-top: 0;
        align-items: center;
        width:100%;
     
        justify-content: center;

    }

    @@page {
        counter-increment: page;
        size: auto;
        margin: 10mm;
        color: #000 !important;

        @@bottom-right {
            content: counter(page) " of " counter(pages);
        }
    }

    @@media screen {
        .page-header, .page-header-space {
            display: none;
        }

        .page-footer, .page-footer-space {
            display: none;
        }
    }

    @@media print {
        .pri {
            display: table-header-group;
        }

        .prin {
            display: table-footer-group;
        }

        button {
            display: none;
        }

        body {
            margin: 0;
        }
    }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body class="conten">

    <div class="page-header">
        <img src="~/images/ReportHeader.JPG" alt="report header" style="text-align:center; width:100%" />
       
    </div>
  

    <div class="page-footer" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align:center">
        <h5>Address: House#62, Road#15, sector#14 Uttara, Dhaka-1230, Phone: +88-02-48964984, Email: ceo@romofashion.com</h5>
    </div>

    <table style="">
        <thead class="pri">
            <tr>
                <td>
                    <!--place holder for the fixed-position header-->
                    <div class="page-header-space"></div>
                </td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                    <div class="page">

                        <h1 style="text-align:center; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">@ViewBag.ReportName</h1>

                        <div>
                            <button type="button" onClick="window.print()">
                                PRINT
                            </button>
                        </div>
                        @RenderBody()
                    </div>
                </td>
            </tr>
        </tbody>

        <tfoot class="prin">
            <tr>
                <td>
                    <!--place holder for the fixed-position footer-->
                    <div class="page-footer-space"></div>
                </td>
            </tr>
        </tfoot>

    </table>

</body>
</html>
