﻿@model Erp.Core.Services.Merchandising.VMStyleView
@using (Html.BeginForm("SetPackView", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ActionId)
    @Html.HiddenFor(model => model.vmStyleSetPack.ID)
    @Html.HiddenFor(model => model.vmStyleSetPack.Merchandising_StyleFK)

    <table class="table table-bordered table-condensed">
        <thead>
            <tr class="bg-info">
                <th>Sub-Set Name</th>
                <th>Pieces</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmStyleSetPack.SetPackName, new { id = "txt5", @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.vmStyleSetPack.SetPackName, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th style="width:70px;">
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmStyleSetPack.Quantity, new { id = "txt5", @class = "form-control", required = "true" })
                        @Html.ValidationMessageFor(model => model.vmStyleSetPack.Quantity, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Add</button>
                </th>
            </tr>
        </tbody>
    </table>
}