﻿@model Erp.Core.Services.Shipment.VMStyleSchedule

<div class="row">
    <div class="col-lg-12">
        @{
            int styleScheduleCount = Model.StyleScheduleList.Count();
            if (styleScheduleCount > 0)
            {
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th class="center">Style</th>

                                <th class="center">Destination</th>
                                <th class="center">PortNo</th>

                                <th class="center">
                                    Schedule Quantity <i>(Pack)</i>
                                </th>
                                <th><input type="checkbox" id="select_all" />&nbsp;Check All</th>
                                @*<th class="center">Checkbox</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < Model.StyleScheduleList.Count(); i++)
                            {
                            <tr>
                                <th>
                                    @(i + 1)
                                </th>
                                <td>

                                    @Html.DisplayFor(model => model.StyleScheduleList[i].Style)
                                </td>
                                <td>

                                    @Html.DisplayFor(model => model.StyleScheduleList[i].Destination)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => model.StyleScheduleList[i].PortNo)
                                </td>

                                <td>
                                  
                                    <div class="input-group">
                                        @Html.HiddenFor(model => model.StyleScheduleList[i].Merchandising_StyleFK)

                                        @Html.HiddenFor(model => model.StyleScheduleList[i].ID)
                                        @Html.HiddenFor(model => model.StyleScheduleList[i].Quantity)
                                        @Html.DisplayFor(model => model.StyleScheduleList[i].Quantity)


                                    </div>

                                    @*<td>
                <div class="input-group">
                    @Html.CheckBoxFor(model => model.StyleScheduleList[i].IsSelected)
                </div>


            </td>*@
                                </td>
                                <td>
                                    @Html.CheckBoxFor(model => model.StyleScheduleList[i].Flag, new { @class = "checkbox checkToInstruction" })

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-lg-4 col-md-4">
                        <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add </button>
                    </div>

                </div>

            }
            else
            {
                <div class="col-md-12">
                    <div class="box box-success box-solid">

                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group" style="text-align:center;">
                                <h3>
                                    There are no Shipment Schedule yet.
                                </h3>
                            </div>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            }
        }

    </div>
</div>


<script>
     $(document).ready(function () {
           

            $("#select_all").change(function () {  //"select all" change 
                $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change 
            $('.checkToInstruction').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#select_all").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                    $("#select_all").prop('checked', false);
                }
            });
        });


</script>