﻿@model Erp.Core.Services.Shipment.VMStyleInstruction
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

<div class="row">
    <div class="col-lg-12">
        @{
            int styleInstructionCount = Model.StyleInstructionList.Count();
            if (styleInstructionCount > 0)
            {
                <div class="table-responsive">
                    <table id="tableABC" class="table table-bordered">
                        <thead>
                            <tr class="bg-success">
                                <th>
                                    SL
                                </th>
                                <th class="center">Instruction ID </th>
                                <th class="center">Shipment Date</th>
                                @*<th class="center">Style</th>*@
                                <th class="center">Destination Country</th>
                                <th class="center">Destination Port</th>
                                <th class="center">DestNo</th>
                                <th class="center">Shipment Quantity</th>
                                <th><input type="checkbox" id="select_all" />&nbsp;Check All</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < styleInstructionCount; i++)
                            {
                                <tr>
                                    <th>
                                        @(i + 1)
                                    </th>
                                    <td>

                                        @Model.StyleInstructionList[i].SICID
                                    </td>
                                    <td>
                                        @Model.StyleInstructionList[i].ShipmentDate.ToString("yyyy/MM/dd")
                                    </td>
                                    @*<td>

                                            @Model.StyleInstructionList[i].Style
                                        </td>*@
                                    <td>

                                        @Model.StyleInstructionList[i].Destination
                                    </td>
                                    <td>

                                        @Model.StyleInstructionList[i].PortNo
                                    </td>
                                    <td>

                                        @Model.StyleInstructionList[i].DestNo
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            @Html.HiddenFor(model => model.StyleInstructionList[i].Merchandising_StyleFk)
                                            @Html.HiddenFor(model => model.StyleInstructionList[i].Merchandising_StyleShipmentScheduleFk)

                                            @Html.HiddenFor(model => model.StyleInstructionList[i].ID)
                                            @Html.TextBoxFor(model => model.StyleInstructionList[i].InstructionQuantity, new { @class = "form-control" })
                                            <div class="input-group-addon">
                                                <i>Pack</i>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.StyleInstructionList[i].Flag, new { @class = "checkbox checkToInstruction" })

                                    </td>
                                    @*<td>
                                            <div class="input-group">
                                                @Html.TextBoxFor(model => model.StyleInstructionList[i].TotalCTN, new { @class = "form-control" })
                                                <div class="input-group-addon">
                                                    <i>CTN</i>
                                                </div>
                                            </div>
                                        </td>*@
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

            }
            else
            {
                <div class="col-md-12">
                    <div class="box box-success box-solid">

                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group" style="text-align:center;">
                                <h3>
                                    There are no Shipment Instruction yet.
                                </h3>
                            </div>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            }

        }
    </div>
</div>

<script>
    $(document).ready(function () {


        $("#select_all").change(function () {  //"select all" change
            $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
        });

        //".checkbox" change
        $('.checkToInstruction').change(function () {
            //uncheck "select all", if one of the listed checkbox item is unchecked
            if (false == $(this).prop("checked")) { //if this item is unchecked
                $("#select_all").prop('checked', false); //change "select all" checked status to false
            }
            //check "select all" if all checkbox items are checked
            if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                $("#select_all").prop('checked', false);
            }
        });
    });


</script>