﻿@model Erp.Core.Services.Shipment.VMStyleInvoiced

<div class="row">
    <div class="col-lg-12">
        @{
            int vmStyleInvoicedCount = Model.vmStyleInvoicedList.Count();
            if (vmStyleInvoicedCount > 0)
            {
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-success">
                                <th>
                                    SL
                                </th>
                                <th>Shipment Date</th>
                                <th class="center">Invoice ID </th>
                                <th class="center">Buyer PO</th>
                                <th class="center">Destination Country</th>
                                <th class="center">Destination Port</th>
                                <th class="center">Delivery Quantity(Pack)</th>
                                <th><input type="checkbox" id="select_all" />&nbsp;Check All</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < vmStyleInvoicedCount; i++)
                            {
                            <tr>
                                <th>
                                    @(i + 1)
                                </th>
                                <td>

                                    @Model.vmStyleInvoicedList[i].ShipmentDate.ToString("yyyy/MM/dd")
                                </td>
                                <td>

                                    @Model.vmStyleInvoicedList[i].InvoiceID
                                </td>
                                <td>
                                    @Model.vmStyleInvoicedList[i].BuyerPO
                                </td>
                                <td>

                                    @Model.vmStyleInvoicedList[i].Destination
                                </td>
                                <td>

                                    @Model.vmStyleInvoicedList[i].PortNo
                                </td>

                                <td>
                                    <div class="input-group">
                                        @Html.HiddenFor(model => model.vmStyleInvoicedList[i].Merchandising_StyleFk)
                                        @Html.HiddenFor(model => model.vmStyleInvoicedList[i].Merchandising_StyleShipmentScheduleFk)
                                        @Html.HiddenFor(model => model.vmStyleInvoicedList[i].Shipment_InstructionSlaveFk)
                                        @Html.HiddenFor(model => model.vmStyleInvoicedList[i].Shipment_InvoiceSlaveFk)
                                        @Html.TextBoxFor(model => model.vmStyleInvoicedList[i].DeliveryChallanQuantity, new { @class = "form-control" })

                                    </div>

                                </td>
                                <td>
                                    @Html.CheckBoxFor(model => model.vmStyleInvoicedList[i].Flag, new { @class = "checkbox checkToInstruction" })

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-8">

                    </div>
                    <div class="col-lg-4 col-md-4">
                        <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Add in Delivery Challan</button>
                    </div>

                </div>
            }
            else
            {
                <div class="col-md-12">
                    <div class="box box-success box-solid">

                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group" style="text-align:center;">
                                <h3>
                                    There are no Shipment Instruction yet.
                                </h3>
                            </div>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            }

        }
    </div>
</div>

<script>
     $(document).ready(function () {


            $("#select_all").change(function () {  //"select all" change
                $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change
            $('.checkToInstruction').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#select_all").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                    $("#select_all").prop('checked', false);
                }
            });
        });


</script>