﻿@model Erp.Core.Services.Shipment.VMStyleInvoice

<div class="row">
    <div class="col-lg-12">
        @{
            int styleInvoiceCount = Model.StyleInvoiceList.Count();
            if (styleInvoiceCount > 0)
            {
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="bg-success">
                                <th class="center">SL</th>
                                <th class="center">Invoice No</th>
                                <th class="center">Invoice Date</th>
                                <th class="center">Value</th>
                                <th><input type="checkbox" id="select_all" />&nbsp;Check All</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (int i = 0; i < styleInvoiceCount; i++)
                            {
                                <tr>
                                    <th>
                                        @(i + 1)
                                    </th>
                                    <td>

                                        @Model.StyleInvoiceList[i].InvoiceCID
                                    </td>
                                    <td>
                                        @Model.StyleInvoiceList[i].InvoiceDate.ToString("yyyy/MM/dd")
                                    </td>
                                    <td>
                                        <div class="input-group">
                                            @Html.HiddenFor(model => model.StyleInvoiceList[i].ID, new { @class = "form-control" })
                                            @Html.TextBoxFor(model => model.StyleInvoiceList[i].Value, new { @class = "form-control" })
                                            <div class="input-group-addon">
                                                <i>$</i>
                                            </div>
                                        </div>

                                    </td>
                                    <td>
                                        @Html.CheckBoxFor(model => model.StyleInvoiceList[i].Flag, new { @class = "checkbox checkToInstruction" })

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-8">

                        </div>
                        <div class="col-lg-4 col-md-4">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-edit'></i> Add</button>
                        </div>

                    </div>
                </div>
            }
            else
            {
                <div class="col-md-12">
                    <div class="box box-success box-solid">

                        <!-- /.box-header -->
                        <div class="box-body">

                            <div class="form-group" style="text-align:center;">
                                <h3>
                                    There are no Shipment Invoice yet.
                                </h3>
                            </div>



                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
            }


        }

    </div>

</div>

<script>
     $(document).ready(function () {


            $("#select_all").change(function () {  //"select all" change
                $(".checkToInstruction").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change
            $('.checkToInstruction').change(function () {
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if (false == $(this).prop("checked")) { //if this item is unchecked
                    $("#select_all").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkToDownload:checked').length == $('.checkToDownload').length) {
                    $("#select_all").prop('checked', false);
                }
            });
        });


</script>