﻿
@{
    ViewData["Title"] = "Completed Shipment Style";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



@model Erp.Core.Services.Merchandising.VMCompletedShipmentStyle
<section class="content-header">
    <h1>
        Completed Shipment Style
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
        <li class="active">Completed Shipment Style</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        List:
                        &nbsp;&nbsp;
                        @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Order"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>*@
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width:5%">SL</th>
                                    <th style="width:15%">CID/Style</th>
                                    <th style="width:10%">Buyer PO</th>
                                    <th style="width:10%">Buyer Name</th>
                                    <th style="width:15%">Item Name</th>
                                    <th style="width:10%">Pack Quantity</th>                                   
                                    <th style="width:10%">Invoiced Quantity</th>
                                    <th style="width:10%">Due Quantity</th>
                                    <th style="width:15%">Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                                decimal balance = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.CompletedShipmentStyleList)
                                {
                                    balance = item.PackQty - item.InvoicedQuantity;
                                    <tr>
                                        <td>@(++sl).</td>

                                        <td>@item.CID/@item.Style</td>
                                        <td>@item.BuyerPO</td>
                                        <td>@item.BuyerName</td>
                                        <td>@item.ItemName</td>
                                        <td>@item.PackQty</td>
                                        @*<td>@item.PieceQty</td>*@
                                        <td>@String.Format("{0:0}", item.InvoicedQuantity)</td>
                                        <td>@String.Format("{0:0}", balance)</td>
                                        <td>
                                            @if (balance <= 0)
                                            {
                                                if (item.IsShipmentComplete)
                                                {
                                                    <span style="color:green">
                                                        Shipment is completed.
                                                    </span>
                                                }
                                                else
                                                {
                                                    <button type="button" style="width:100%;padding:0px;" id="@item.ID" onclick="declareShipmentCompletion(@item.ID);" data-toggle="modal" data-target="#completedShipmentStyleModal" title="Declare Shipment Completion"
                                                            data-placement="top" class="btn btn-success fa fa-edit">
                                                        Declare Shipment Completion
                                                    </button>

                                                }


                                            }
                                            else
                                            {
                                                <span style="color:red">
                                                    Shipment is not complete yet
                                                </span>
                                            }

                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>

<form asp-action="CompletedShipmentStyle" class="completedShipmentStyleValidator">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="completedShipmentStyleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetdeclareShipmentCompletionForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Declare Shipment Completion</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "txtDeclareShipmentCompletionId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "declareShipmentCompletionActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to declare shipment completion of <span id="spanStyleName"></span>?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetdeclareShipmentCompletionForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">Declare Shipment Completion</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.completedShipmentStyleValidator').bootstrapValidator();
        });
        function resetdeclareShipmentCompletionForm() {
            $('.completedShipmentStyleValidator')[0].reset();
            $('#declareShipmentCompletionActionId').val(1);
        }
        function declareShipmentCompletion(styleId) {
            if (styleId !== null) {
                $('#txtDeclareShipmentCompletionId').val(styleId);
                $('#declareShipmentCompletionActionId').val(10);

                $('#spanStyleName').text(styleName);
            }
        }


    </script>
}