﻿
@{
    ViewData["Title"] = "Delivery Challan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
@model Erp.Core.Services.Shipment.VMShipmentDeliveryChallanSlave
<section class="content-header">
    <h1>
        Delivery Challan


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/Shipment/DeliveryChallanes">Delivery Challan</a></li>
        <li class="active">Delivery Challan Create</li>
    </ol>
</section>
@using (Html.BeginForm("DeliveryChallan", "Shipment", FormMethod.Post, new { id = "deliveryChallanSlaveFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        @if (Model.ID > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>Challan No</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.ChallanNo</td>

                                        <td width="18%"><b>Challan Date</b></td>
                                        <td width="5%"></td>
                                        <td width="27%">@Model.Date.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Gatepass No</b></td>
                                        <td>:</td>
                                        <td>@Model.GatePassNo</td>

                                        <td><b>Gatepass Date</b></td>
                                        <td>:</td>
                                        <td>@Model.GatePassDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Driver Name</b></td>
                                        <td>:</td>
                                        <td>@Model.DriverName</td>

                                        <td><b>Driver Mobile</b></td>
                                        <td>:</td>
                                        <td>@Model.DriverMobile</td>
                                    </tr>
                                    <tr>
                                        <td><b>Truck No</b></td>
                                        <td>:</td>
                                        <td>@Model.TruckNo</td>

                                        <td><b>Unloading Port</b></td>
                                        <td>:</td>
                                        <td>@Model.UnloadingPortName</td>
                                    </tr>
                                    <tr>
                                        <td><b>C&F Agent</b></td>
                                        <td>:</td>
                                        <td>@Model.CNFSupplierName</td>

                                        <td><b>Transporter Supplier</b></td>
                                        <td>:</td>
                                        <td>@Model.TransporterSupplierName</td>
                                    </tr>
                                    <tr>
                                        <td><b>In Time</b></td>
                                        <td>:</td>
                                        <td>@Model.InTime</td>

                                        <td><b>Out Time</b></td>
                                        <td>:</td>
                                        <td>@Model.OutTime</td>
                                    </tr>
                                    <tr>
                                        <td><b>Remarks</b></td>
                                        <td>:</td>
                                        <td colspan="4">@Model.Remarks</td>


                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>

                        }
                        else
                        {


                            <div class="col-md-12">
                                <div class="box box-success box-solid @collapsedBox">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" style="text-align:center">Create Delivery Challan</h3>
                                        <div class="box-tools pull-right">
                                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="row">
                                            <!-- left column -->
                                            <div class="col-md-4">
                                                <!-- general form elements -->
                                                <!-- /.box-header -->
                                                <!-- form start -->

                                                <div class="box-body" style="border:solid;border-color:lightgray">
                                                    <div class="form-group">
                                                        <label>Challan Date</label>
                                                        <input name="Date" asp-for="Date" type="text" value="@Model.Date.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDate" placeholder="Date" autocomplete="off">

                                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>C&F Agent</label>

                                                        @Html.DropDownListFor(model => model.Common_CNFSupplierFk, Model.CandFSupplierList as SelectList, "---Select CNF Supplier---", new { id = "CNFSuppliers", required = "required", @class = "searchingDropdown form-control ", @placeholder = "CNF Supplier" })
                                                        @Html.ValidationMessageFor(model => model.Common_CNFSupplierFk, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <label>C&F Contact Person</label>

                                                        @Html.TextBoxFor(model => model.ContactPersonName, new { @class = "form-control ", @placeholder = "Contact Person Name" })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Contact Person Mobile</label>

                                                        @Html.TextBoxFor(model => model.ContactPersonMobile, new { @class = "form-control ", @placeholder = "Contact Person Mobile" })
                                                        @Html.ValidationMessageFor(model => model.ContactPersonMobile, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Transporter Supplier</label>

                                                        @Html.DropDownListFor(model => model.Common_TransporterSupplierFk, Model.TransportSupplierList as SelectList, "---Select Transport Supplier---", new { id = "CNFSuppliers", required = "required", @class = "searchingDropdown form-control ", @placeholder = "Transport Supplier" })
                                                        @Html.ValidationMessageFor(model => model.Common_TransporterSupplierFk, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Gatepass No</label>
                                                        @Html.TextBoxFor(model => model.GatePassNo, new { required = "required", @class = "form-control ", @placeholder = "Gatepass No" })
                                                        @Html.ValidationMessageFor(model => model.GatePassNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Gatepass Date</label>
                                                        <input name="GatePassDate" asp-for="GatePassDate" type="text" value="@Model.GatePassDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control " id="txtGatePassDate" , placeholder="GatePassDate" autocomplete="off">
                                                        @Html.ValidationMessageFor(model => model.GatePassDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <!-- /.box-body -->
                                                <!-- /.box -->
                                            </div>
                                            <!--/.col (left) -->
                                            <!-- left column -->
                                            <div class="col-md-8">
                                                <!-- general form elements -->
                                                <!-- /.box-header -->
                                                <!-- form start -->

                                                <div class="box-body" style="border:solid;border-color:lightgray">
                                                    <div class="form-group">
                                                        <label>Truck No</label>

                                                        @Html.TextBoxFor(model => model.TruckNo, new { @class = "form-control ", @placeholder = "Truck No" })
                                                        @Html.ValidationMessageFor(model => model.TruckNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Driver Name</label>

                                                        @Html.TextBoxFor(model => model.DriverName, new { @class = "form-control ", @placeholder = "Driver Name" })
                                                        @Html.ValidationMessageFor(model => model.DriverName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Driver Mobile</label>

                                                            @Html.TextBoxFor(model => model.DriverMobile, new { @class = "form-control ", @placeholder = "Driver Mobile" })
                                                            @Html.ValidationMessageFor(model => model.DriverMobile, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Driving License No</label>

                                                            @Html.TextBoxFor(model => model.DLNo, new { @class = "form-control ", @placeholder = "DL No" })
                                                            @Html.ValidationMessageFor(model => model.DLNo, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label>Lock No</label>

                                                        @Html.TextBoxFor(model => model.LockNo, new { @class = "form-control ", @placeholder = "Lock No" })
                                                        @Html.ValidationMessageFor(model => model.LockNo, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>In Time</label>

                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.InTime, new { htmlAttributes = new { @class = "timepicker form-control ", required = "required", @placeholder = "In Time" } })
                                                                @Html.ValidationMessageFor(model => model.InTime, "", new { @class = "text-danger" })

                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-md-6">
                                                            <label>Out Time</label>

                                                            <div class="input-group">
                                                                @Html.EditorFor(model => model.OutTime, new { htmlAttributes = new { @class = "timepicker form-control ", required = "required", @placeholder = "Out Time" } })
                                                                @Html.ValidationMessageFor(model => model.OutTime, "", new { @class = "text-danger" })

                                                                <div class="input-group-addon">
                                                                    <i class="fa fa-clock-o"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="form-group">
                                                        <label>Unloading Port</label>

                                                        @Html.DropDownListFor(model => model.ShipmentUnloadingPortFk, Model.ShipmentUnloadingPortList as SelectList, "---Select Unloading Port---", new { required = "required", id = "CNFSuppliers", @class = "form-control  SerchingDropDown", @placeholder = "Unloading Port" })
                                                        @Html.ValidationMessageFor(model => model.ShipmentUnloadingPortFk, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Remarks</label>

                                                        @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", @placeholder = "Remarks", @class = "form-control ", style = "width:100%;" })
                                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- /.box-body -->

                                        </div>


                                    </div>
                                   
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                            

                            <br />

                        }
                        <div class="col-md-12">
                            <div class="box">
                               
                                <div class="box-body">
                                    <div class="col-md-2">
                                        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                        @Html.HiddenFor(model => model.Shipment_DeliveryChallanFk, new { id = "PRFKId" })

                                    </div>

                                    <div class="form-group col-md-8">
                                        @Html.DropDownListFor(model => model.Merchandising_StyleFk, Model.InvoicedStyleList as SelectList, "==Select Style No==", new { id = "ddlMerchandisingStyleFk", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.Merchandising_StyleFk, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-2">

                                    </div>
                                </div>
                                <div class="box-footer">
                                    <div id="addSize"></div>
                                </div>
                            </div>
                            <!-- /.box -->
                        </div>

                        <!--Body Will by Start Here-->



                        @{
                            if (Model.ID > 0)
                            {

                                <div class="table-responsive col-md-12">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th class="center">Invoice ID </th>
                                                <th class="center">Buyer PO</th>
                                                <th class="center">Destination Country</th>
                                                <th class="center">Destination Port</th>
                                                <th class="center">Delivery Quantity(PCS)</th>
                                                <th class="center">Delivery Quantity(Pack)</th>
                                                <th class="center">Delivery Quantity(CTN)</th>

                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;
                                            decimal pcsQuantity = 0;
                                            decimal packQuantity = 0;
                                            decimal ctnQuantity = 0;


                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                pcsQuantity += item.PcsQuantity;
                                                packQuantity += item.PackQuantity;
                                                ctnQuantity += item.CtnQty;

                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>@item.InvoiceID</td>
                                                    <td>@item.BuyerPO</td>
                                                    <td>@item.Destination</td>
                                                    <td>@item.PortNo</td>
                                                    <td style="text-align:center">@item.PcsQuantity</td>
                                                    <td style="text-align:center">@item.PackQuantity</td>
                                                    <td style="text-align:center">@item.CtnQty</td>

                                                    <td>
                                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td></td>
                                                <td colspan="4">TOTAL</td>

                                                <td style="text-align:center">@pcsQuantity</td>
                                                <td style="text-align:center">@packQuantity</td>
                                                <td style="text-align:center">@ctnQuantity</td>

                                                <td></td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="box-footer">
                        @if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $.ajaxSetup({ cache: false });
            //$("#ddlShipmentInvoiceFk").change(function (e) {
            $("#ddlMerchandisingStyleFk").change(function (e) {

            
                var styleId = $("#ddlMerchandisingStyleFk").val();
                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("StyleByShipmentInvoiceForChallanPartial", "Shipment")",
                    datatype: "Json",
                     data: { StyleId: styleId},
                     success: function (data) {
                         $("#addSize").html(data);
                    }
                });
                return false;
             });
        });

        function makeDeletable(id) {
            if (id !== null) {
                $('#challanSlaveId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            $('#deliveryChallanSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }

    </script>
}