﻿@{
    ViewData["Title"] = "Shipment Delivery Challan List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Shipment.VMShipmentDeliveryChallan
@using (Html.BeginForm("DeliveryChallanes", "Shipment", FormMethod.Post, new { id = "deliveryChallanesFormId", @class = "formValidator" }))
{
    <section class="content-header">
        <h1>
            Delivery Challan
            <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
            <li class="active">Delivery Challan List</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <!-- /.box-header -->
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Challan No</th>
                                        <th>Challan Date</th>
                                        <th>CTN QTY</th>
                                        <th>Pack Qty</th>
                                        <th>Delivered Qty</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                    <tr>
                                        <td>@(++sl).</td>
                                        <td id="tdcid_@item.ID">@item.ChallanNo</td>
                                        <td id="tdorderdate@item.ID">@item.Date.ToString("dd/MM/yyyy")</td>
                                        <td id="tdcid_@item.ID">@item.CtnQty</td>
                                        <td id="tdcid_@item.ID">@item.PackQuantity</td>
                                        <td id="tdcid_@item.ID">@item.PcsQuantity</td>
                                        <td>
                                            <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                            <a href="~/Shipment/DeliveryChallan/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="box">
                    <div class="box-body">
                        <div class="modal-header">
                            <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Delivery Challan Edit</b></h5>
                        </div>
                        <div class="modal-body">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "deliveryChallaneId" })
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Challan Date</label>
                                        <input name="Date" asp-for="Date" type="text" value="@Model.Date.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDate" placeholder="Date" autocomplete="off">

                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>C&F Agent</label>

                                        @Html.DropDownListFor(model => model.Common_CNFSupplierFk, Model.CandFSupplierList as SelectList, "---Select CNF Supplier---", new { id = "ddlCNFSuppliers", required = "required", @class = "form-control input-sm SerchingDropDown", @placeholder = "CNF Supplier" })
                                        @Html.ValidationMessageFor(model => model.Common_CNFSupplierFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>C&F Contact Person</label>

                                        @Html.TextBoxFor(model => model.ContactPersonName, new { id = "txtContactPersonName", @class = "form-control input-sm", @placeholder = "Contact Person Name" })
                                        @Html.ValidationMessageFor(model => model.ContactPersonName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Contact Person Mobile</label>

                                        @Html.TextBoxFor(model => model.ContactPersonMobile, new { id = "txtContactPersonMobile", @class = "form-control input-sm", @placeholder = "Contact Person Mobile" })
                                        @Html.ValidationMessageFor(model => model.ContactPersonMobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Transporter Supplier</label>

                                        @Html.DropDownListFor(model => model.Common_TransporterSupplierFk, Model.TransportSupplierList as SelectList, "---Select Transport Supplier---", new { id = "ddlransporterSupplierFk", required = "required", @class = "form-control input-sm SerchingDropDown", @placeholder = "Transport Supplier" })
                                        @Html.ValidationMessageFor(model => model.Common_TransporterSupplierFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Gatepass No</label>
                                        @Html.TextBoxFor(model => model.GatePassNo, new { id = "txtGatePassNo", required = "required", @class = "form-control input-sm", @placeholder = "Gatepass No" })
                                        @Html.ValidationMessageFor(model => model.GatePassNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Gatepass Date</label>
                                        <input name="GatePassDate" asp-for="GatePassDate" type="text" value="@Model.GatePassDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control input-sm" id="txtGatePassDate" , placeholder="GatePassDate" autocomplete="off">
                                        @Html.ValidationMessageFor(model => model.GatePassDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Truck No</label>

                                        @Html.TextBoxFor(model => model.TruckNo, new { id = "txtTruckNo", @class = "form-control input-sm", @placeholder = "Truck No" })
                                        @Html.ValidationMessageFor(model => model.TruckNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Driver Name</label>

                                        @Html.TextBoxFor(model => model.DriverName, new { id = "txtDriverName", @class = "form-control input-sm", @placeholder = "Driver Name" })
                                        @Html.ValidationMessageFor(model => model.DriverName, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Driver Mobile</label>

                                        @Html.TextBoxFor(model => model.DriverMobile, new { id = "txtDriverMobile", @class = "form-control input-sm", @placeholder = "Driver Mobile" })
                                        @Html.ValidationMessageFor(model => model.DriverMobile, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Driving License No</label>

                                        @Html.TextBoxFor(model => model.DLNo, new { id = "txtDLNo", @class = "form-control input-sm", @placeholder = "DL No" })
                                        @Html.ValidationMessageFor(model => model.DLNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Lock No</label>

                                        @Html.TextBoxFor(model => model.LockNo, new { id = "txtLockNo", @class = "form-control input-sm", @placeholder = "Lock No" })
                                        @Html.ValidationMessageFor(model => model.LockNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>In Time</label>

                                    <div class="input-group">
                                        @Html.EditorFor(model => model.InTime, new { htmlAttributes = new { id = "txtInTime", @class = "timepicker form-control input-sm", required = "required", @placeholder = "In Time" } })
                                        @Html.ValidationMessageFor(model => model.InTime, "", new { @class = "text-danger" })

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Out Time</label>

                                    <div class="input-group">
                                        @Html.EditorFor(model => model.OutTime, new { htmlAttributes = new { id = "txtOutTime", @class = "timepicker form-control input-sm", required = "required", @placeholder = "Out Time" } })
                                        @Html.ValidationMessageFor(model => model.OutTime, "", new { @class = "text-danger" })

                                        <div class="input-group-addon">
                                            <i class="fa fa-clock-o"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Unloading Port</label>

                                        @Html.DropDownListFor(model => model.ShipmentUnloadingPortFk, Model.ShipmentUnloadingPortList as SelectList, "---Select Unloading Port---", new { required = "required", id = "ddlShipmentUnloadingPortFk", @class = "form-control input-sm SerchingDropDown", @placeholder = "Unloading Port" })
                                        @Html.ValidationMessageFor(model => model.ShipmentUnloadingPortFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", @placeholder = "Remarks", @class = "form-control input-sm", style = "width:100%;" })
                                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>









                        </div>
                        <div class="modal-footer">
                            <div class="col-md-8">
                                <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                            <div class="col-md-4">
                                <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Save</button>
                            </div>

                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>




    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delivery Challan Delete</b></h5>
                </div>

                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();
            });

              function makeEditble(elem) {
                if (elem !== null) {
                    var rowId = elem.id;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleShipmentChallan", "Shipment")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {                      
                            console.log(data);
                            $('#deliveryChallaneId').val(rowId);
                            var dat = data.date;
                            $('#txtDate').val(dat.substr(0, 10));
                            $('#ddlCNFSuppliers').val(data.common_CNFSupplierFk);
                            $('#txtContactPersonName').val(data.contactPersonName);
                            $('#txtContactPersonMobile').val(data.contactPersonMobile);
                            $('#ddlransporterSupplierFk').val(data.common_TransporterSupplierFk);
                            $('#txtGatePassNo').val(data.gatePassNo);
                            var gPassDate = data.gatePassDate;
                            $('#txtGatePassDate').val(gPassDate.substr(0, 10));
                            $('#txtDriverName').val(data.driverName);                            
                            $('#txtTruckNo').val(data.truckNo);
                            $('#txtDriverMobile').val(data.driverMobile);
                            $('#txtDLNo').val(data.dlNo);
                            $('#txtLockNo').val(data.lockNo);
                            $('#txtInTime').val(data.inTime);
                            $('#txtOutTime').val(data.outTime);
                            $('#ddlShipmentUnloadingPortFk').val(data.shipmentUnloadingPortFk);
                            $('#txtRemarks').val(data.remarks);
                           
                            $('#ActionId').val(2);
                                window.scrollTo({ top: 0, behavior: 'smooth' });

                        }
                    });
                    
                }
            }
            function makeDeletable(id) {
                if (id !== null) {
                    $('#deliveryChallaneId').val(id);
                    $('#ActionId').val(3);

                }
            }
            function resetForm() {               
                $('#deliveryChallanesFormId')[0].reset();
                $('#ActionId').val(1);
            }

    </script>
}