﻿@model Erp.Core.Services.Shipment.VMShipmentDeliveryChallanSlave

@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Delivary Challan</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        /*.footer {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
        }*/

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 0px auto;
            padding: 0 30px;
            font-size: 12px;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px;
            }

            #print, #print * {
                display: none !important;
            }
            /*div.divfooter {
                margin-top: 15px;
                bottom: 0;
                display: inherit;
            }*/
            /*#divfooter {
                display: block !important;
            }*/
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
</head>
<body style=" background-color #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <p style="text-align: center; font-size: 22px; font-weight: bold;margin-bottom: 0;">ROMO FASHION TODAY LTD.</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold; margin-bottom: 0;">Mouchak, Kaliakoir, Gazipur, Bangladesh</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold;margin-bottom: 0;">Phone : 02-7914984, Email : info@romofashion.com</p>
                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">

                    <center>
                        <h3>
                            <span style="color:  white !important; background-color: black !important; font-weight: bold !important; border-radius: 25px;padding: 5px;">Delivery Challan</span>
                        </h3>
                    </center>
                </div>
            </div>
            <br />
            <table style="width: 100%">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold">Challan No</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.ChallanNo</td>
                        <td></td>
                        <td style="font-weight: bold">Gate Pass No</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.GatePassNo</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">Challan Date</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.Date.ToString("dd MMM yyyy")</td>
                        <td></td>
                        <td style="font-weight: bold">Gate Pass Date</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.GatePassDate.ToString("dd MMM yyyy")</td>
                    </tr>

                </tbody>
            </table>
            <table style="width: 100%; margin-top: 10px">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold; vertical-align: top">C&F Agent</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>
                                <tr><td>@{@Model.CNFSupplierName}.</td></tr>

                            </table>
                        </td>
                        <td></td>
                        <td style="font-weight: bold; vertical-align: top">Transport Company</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>
                                <tr><td>@{@Model.TransporterSupplierName}.</td></tr>

                            </table>

                        </td>
                    </tr>

                </tbody>
            </table>
            <table style="width: 100%; margin-top: 10px">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold; vertical-align: top">Address</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>

                                <tr><td>@Model.CNFSupplierAddress</td></tr>
                            </table>
                        </td>
                        <td></td>
                        <td style="font-weight: bold; vertical-align: top">Address</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>
                                <tr><td>@Model.TransporterSupplierAddress</td></tr>
                            </table>

                        </td>
                    </tr>

                </tbody>
            </table>


            <table style="width: 100%;margin-top: 10px">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold;vertical-align: top">C&F Contact Person</td>
                        <td style="font-weight: bold;vertical-align: top">:</td>
                        <td style="padding-left: 5px;">@Model.ContactPersonName</td>
                        <td></td>
                        <td style="font-weight: bold;vertical-align: top">Unloading Port Name</td>
                        <td style="font-weight: bold;vertical-align: top">:</td>
                        <td style="padding-left: 5px;">@Model.UnloadingPortName</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;vertical-align: top">C&F Contact Mobile</td>
                        <td style="font-weight: bold;vertical-align: top">:</td>
                        <td style="padding-left: 5px;">@Model.ContactPersonMobile</td>
                        <td></td>
                        <td style="font-weight: bold;vertical-align: top"></td>
                        <td style="font-weight: bold;vertical-align: top"></td>
                        <td style="padding-left: 5px;"></td>
                    </tr>
                </tbody>
            </table>

            <table style="width: 100%;margin-top: 10px">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="4" style="font-weight: bold;vertical-align: top">Driver Information</td>
                        <td colspan="3" style="font-weight: bold;vertical-align: top">Truck Information</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;vertical-align: top">Driver Name</td>
                        <td style="font-weight: bold;vertical-align: top">:</td>
                        <td style="padding-left: 5px;">@Model.DriverName</td>
                        <td></td>
                        <td style="font-weight: bold;vertical-align: top">Truck No</td>
                        <td style="font-weight: bold;vertical-align: top">:</td>
                        <td style="padding-left: 5px;">@Model.TruckNo</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;vertical-align: top">Driver License No</td>
                        <td style="font-weight: bold;vertical-align: top">:</td>
                        <td style="padding-left: 5px;">@Model.DLNo</td>
                        <td></td>
                        <td style="font-weight: bold;vertical-align: top">Lock No</td>
                        <td style="font-weight: bold;vertical-align: top">:</td>
                        <td style="padding-left: 5px;">@Model.LockNo</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold;vertical-align: top">Driver Mobile</td>
                        <td style="font-weight: bold;vertical-align: top">:</td>
                        <td style="padding-left: 5px;">@Model.DriverMobile</td>
                        <td></td>
                        <td style="font-weight: bold;vertical-align: top"></td>
                        <td style="font-weight: bold;vertical-align: top"></td>
                        <td style="padding-left: 5px;"></td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <div style="font-weight: bold;font-size: 12px">DEAR SIR,</div>
            <div style="font-weight: bold;font-size: 12px"> PLEASE ACKNOWLEDGE RECEIPT OF FOLLOWING: </div>
            <table id="tbl1" border="1" style="width: 100%; font-size: 12px; margin-top: 15px;">
                <thead>
                    <tr style="text-align: center">
                        <td style="width: 5%; font-weight: bold">#SL</td>
                        <td style="width: 35%; font-weight: bold">Description</td>
                        <td style="width: 15%; font-weight: bold">Port</td>
                        <td style="width: 15%; font-weight: bold">Ctn Qty</td>
                        <td style="width: 15%; font-weight: bold">Pack Qty</td>
                        <td style="width: 15%; font-weight: bold">Remarks</td>
                    </tr>

                </thead>
                <tbody>
                    @{
                        int sl = 1;
                        decimal ttlctn = 0;
                        decimal ttlpack = 0;
                        decimal ttlPice = 0;
                        @*<tr>
                            <td></td>
                            <td> &nbsp;@Model.ChallanHeader.Shipment_CNFDelivaryChallan.Description</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td> &nbsp;@Model.ChallanHeader.Shipment_CNFDelivaryChallan.Remarks</td>
                        </tr>*@
                    foreach (var item in Model.DataListSlave)
                    {
                    <tr>
                        <td> &nbsp;@sl</td>
                        <td> &nbsp;@item.BuyerPO</td>
                        <td> &nbsp;@item.PortNo</td>
                        <td style="text-align: center"> &nbsp;@item.CtnQty</td>
                        <td style="text-align: center"> &nbsp;@item.PackQuantity</td>
                        <td style="text-align: center"> &nbsp;@item.PcsQuantity</td>


                        <td rowspan="3"></td>
                    </tr>

                            sl = sl + 1;
                        ttlctn += item.CtnQty;
                        ttlpack += item.PackQuantity;
                        ttlPice += item.PcsQuantity;
                    }
                    }
                    <tr style="font-weight: bold; font-size: 14px;">
                        <td colspan="3" style="text-align: center">Grand Total</td>
                        <td style="text-align: center">@ttlctn</td>
                        <td style="text-align: center">@ttlpack</td>
                        <td style="text-align: center">@ttlPice</td>

                        <td></td>
                    </tr>
                </tbody>
                @*<tfoot>
                        <tr style="font-weight: bold; font-size: 14px;">
                            <td colspan="3" style="text-align: center">Grand Total</td>
                            <td style="text-align: center">@ttlctn</td>
                            <td style="text-align: center">@ttlpack</td>
                            <td></td>
                        </tr>
                    </tfoot>*@
                <tfoot>
                    <tr style="font-weight: bold; font-size: 14px;">
                        <td colspan="3" style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

            <div style="font-weight: bold; font-size: 12px;padding-top: 5px">
                Received the above in good condition & found no discrepancy.

            </div>



        </div>

        <div id="divfooter" class="divfooter text-center footer">
            <table style="margin-top: 150px">
                <thead>
                    <tr>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Receiver’s Signature </span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Ware House Incharge</span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Ware House Manage</span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;">PM/FM</span></td>
                        <td style="text-align: center;"> <span style="border-top: 2px solid #000000;">Director/Managing Director</span></td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        $(function () {
            SummerizeTable('#tbl1', 1);
            SummerizeTable('#tbl1', 5);
        });
        function SummerizeTable(table, indexno) {
            $(table).each(function () {
                $(table).find('td').each(function () {
                    var $this = $(this);
                    var col = indexno;
                    var html = $this.html();
                    var row = $(this).parent()[0].rowIndex;
                    var span = 1;
                    var cell_above = $($this.parent().prev().children()[col]);

                    // look for cells one above another with the same text
                    while (cell_above.html() === html) { // if the text is the same
                        span += 1; // increase the span
                        cell_above_old = cell_above; // store this cell
                        cell_above = $(cell_above.parent().prev().children()[col]); // and go to the next cell above
                    }

                    // if there are at least two columns with the same value,
                    // set a new span to the first and hide the other
                    if (span > 1) {
                        // console.log(span);
                        $(cell_above_old).attr('rowspan', span);
                        $this.hide();
                    }

                });
            });
        }
    </script>
</body>
</html>


