﻿
@{
    ViewData["Title"] = "Shipment Instruction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Shipment.VMShipmentInstructionSlave
<section class="content-header">
    <h1>
        Shipment Instruction
        <small>Create</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/Shipment/ShipmentInstructiones">Shipment Instruction</a></li>
        <li class="active">Shipment Instruction Create</li>
    </ol>
</section>


@using (Html.BeginForm("ShipmentInstruction", "Shipment", FormMethod.Post, new { id = "shipmentInstructionFormId", @class = "formValidator", onreset = "resetDDL();" }))
{

    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">Shipment Schedule List</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive col-md-12">
                                        <table id="tableABC" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>SL</th>
                                                    <th>Shipment Date</th>
                                                    <th>Style No</th>
                                                    <th>Destination Country</th>
                                                    <th>Destination Port</th>
                                                    <th>Pack Quantity</th>

                                                </tr>
                                            </thead>
                                            @{int sl = 0;
                                            }
                                            <tbody>
                                                @foreach (var item in Model.VMShipmentSchedule.DataList)
                                                {

                                                    <tr>
                                                        <td>@(++sl)</td>
                                                        <td>@item.Date.ToString("yyyy/MM/dd")</td>
                                                        <td>@item.Style</td>
                                                        <td>@item.Destination</td>
                                                        <td>@item.PortNo</td>
                                                        <td>@item.Quantity</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--Body Will by Start Here-->





                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">Select Shipment Date to Add Instruction</h3>
                                   
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="col-md-3">

                                        @*@Html.HiddenFor(model => model.PRActionId, new { Value = "", id = "PRActionId" })*@
                                        @Html.HiddenFor(model => model.SICID, new { Value = "", id = "txtReqId" })
                                        @Html.HiddenFor(model => model.Shipment_ShipmentInstructionFk, new { id = "hidShipmentInstructionFk" })

                                    </div>
                                    <div class="form-group col-md-6">
                                        <input name="SIDate" asp-for="ShipmentDate" type="text" value="@Model.ShipmentDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtSIDate" placeholder="Shipment Date" autocomplete="off">
                                        @Html.ValidationMessageFor(model => model.ShipmentDate, "", new { @class = "text-danger" })
                                        @*@Html.DropDownListFor(model => model.SIDate, Model.MerchandisingStyleList as SelectList, "---Select Style--", new { id = "ddlMerchandising_StyleFk",
                                                    </div>
                                                    <div class="col-md-3"> @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Merchandising_StyleFk, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--Body Will by Start Here-->
                        <div id="addSize"></div>
                        @{
                            if (Model.ID > 0)
                            {
                       

                                <div class="bordered">
                                    <div class="col-md-6">
                                        <h3>
                                            <label>
                                                Instruction No: @Model.SICID
                                            </label>
                                        </h3>

                                    </div>
                                    <div class="col-md-6">
                                        <h3>
                                            <label>
                                                Instruction Date: @Model.SIDate.ToString("dd/MM/yyyy")
                                            </label>
                                        </h3>

                                    </div>
                                </div>
                                <div class="table-responsive col-md-12">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>Shipment Date</th>
                                                <th>Style No</th>
                                                <th>Destination Country</th>
                                                <th>Destination Port</th>
                                                <th>Shipment Quantity in Pack</th>

                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        @{
                                            int sl1 = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {

                                                <tr>
                                                    <td>@(++sl1)</td>
                                                    <td>@item.ShipmentDate.ToString("dd/MM/yyyy")</td>

                                                    <td>@item.StyleName</td>
                                                    <td>@item.Destination</td>
                                                    <td>@item.Port</td>
                                                    @*<td>@String.Format("{0:0}", item.ScheduleQuantity)</td>*@
                                                    <td style="text-align:center;">@String.Format("{0:0}", item.InstructedQty) </td>
                                                    <td>
                                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                                                    </td>


                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="box-footer">
                        @{
                            if (Model.ID > 0)
                            {
                                <a target="_blank" href="~/Shipment/ShipmentInstructionPrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Shipment Instruction</b></h5>
                </div>
                @Html.HiddenFor(model => model.ID, new { Value = "", id = "shipmentIndtructionSlaveId" })
                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}



@section scripts {

    <script type="text/javascript">

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();



        });



            $("#txtSIDate").change(function (e) {
                var styleDate = $("#txtSIDate").val();
                console.log(styleDate);
                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("StyleShipmentSchedulPartial", "Shipment")",
                    datatype: "Json",
                     data: { styleDate: styleDate},
                     success: function (data) {
                         $("#addSize").html(data);
                    }
                });
                return false;
            });


        function makeDeletable(id) {
            if (id !== null) {
                $('#shipmentIndtructionSlaveId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#shipmentInstructionFormId')[0].reset();
            $('#ActionId').val(1);
        }

    </script>
}












@*function makeEditble(elem) {
        if (elem !== null) {
            var rowId = elem.id;

            $.ajax({
                type: "POST",
                url: "@Url.Action("SingleShipmentInstructionSlave", "Shipment")",
                datatype: "Json",
                data: { id: rowId},
                success: function (data) {
                    console.log(data);
                    $('#shipmentIndtructionSlaveId').val(data.id);
                    $('#ddlMerchandisingStyleFk').val(data.merchandising_StyleFk).trigger('change');
                    $('#ddlMerchandisingStyleShipmentScheduleFk').val(data.merchandising_StyleShipmentScheduleFk).trigger('change')
                    $('#txtScheduleQuantity').val(data.scheduleQuantity);
                    $('#txtInstructedQty').val(data.instructedQty);
                    $('#ActionId').val(2);


                }
            });


        }
    }*@



@*var nRawCategory, nRawSubCategory, nRawItem;
    $(document).ready(function () {
        $('.formValidator').bootstrapValidator();
        $(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy/MM/dd")');
    });

    $("#ddlRawCategory").change(function (e) {

        $.ajax({
            type: "GET",
            url: "@Url.Action("RawSubCategoryGet")",
            datatype: "Json",
            data: { id: $("#ddlRawCategory :selected").val() },
            success: function (data) {
                
                var items = "";

                if (data) {
                    $("#ddlRawSubCategory").empty();
                    $("#ddlRawSubCategory").append("<option value=''>Please Select</option>");
                    $(data).each(function (index, item) {
                        $("#ddlRawSubCategory").append("<option value='" + item.value + "'>" + item.text + "</option>");
                    });

                    if (nRawSubCategory && nRawSubCategory > 0) {
                        $("#ddlRawSubCategory").val(nRawSubCategory);

                        $("#ddlRawSubCategory").trigger('change');
                    }
                }
            }
        });
    });

    $("#ddlRawSubCategory").change(function (e) {

        $.ajax({
            type: "GET",
            url: "@Url.Action("RawItemGet")",
            datatype: "Json",
            data: { id: $("#ddlRawSubCategory :selected").val() },
            success: function (data) {
                
                var items = "";

                if (data) {
                    $("#ddlRawItem").empty();
                    $("#ddlRawItem").append("<option value=''>Please Select</option>");
                    $(data).each(function (index, item) {
                        $("#ddlRawItem").append("<option value='" + item.value + "'>" + item.text + "</option>");
                    });

                    if (nRawItem && nRawItem > 0) {
                        $("#ddlRawItem").val(nRawItem);

                        $("#ddlRawItem").trigger('change');
                    }
                }
            }
        });
    });

    $("#ddlRawItem").change(function (e) {

        $.ajax({
            type: "GET",
            url: "@Url.Action("RawItemInfoGet")",
            datatype: "Json",
            data: { id: $("#ddlRawItem :selected").val() },
            success: function (data) {
                //
                var items = "";

                if (data) {
                    $('#txtAvailableQuantity').val(data.quantity);
                    $('#ddlUnit').val(data.unit);
                }
            }
        });
    });

    function resetDDL() {
        
        $('#hidId').empty();
        $('#ActionId').val(1);
        $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

        $('.ddlReset').val('').trigger('change');
        $('#CreatePR').bootstrapValidator("resetForm", true);

    }

    function menuinfo(elem) {
        if (elem !== null) {
            
            var r = elem.id;
            $('#hidId').val(r);
            $('#ActionId').val(2);
            $('#btnSave').html("<i class='fa fa-edit'></i> Update");
            $('#hidId').val($('#tdId' + r).text().trim());



            nRawCategory = $('#tdRawCategoryId' + r).text().trim();
            nRawSubCategory = $('#tdRawSubCategoryId' + r).text().trim();
            nRawItem = $('#tdRawItemId' + r).text().trim();

            $("#ddlRawCategory").val($('#tdRawCategoryId' + r).text().trim());

            $('#ddlRawCategory').trigger('change');


            $('#txtRequiredDate').val($('#tdRequiredDate' + r).text().trim());
            $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());
            $('#ddlEmployee').val($('#tdEmployeeId' + r).text().trim());

            $('#ddlEmployee').trigger("change");

            $('#txtDescriptionSlave').val($('#tdDescriptionSlave' + r).text().trim());
            $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());

            $("#txtSupplierNames").val($('#tdSupplierNames' + r).text().trim());
            if ($('#tdInspectionRequired' + r).text().trim() == "True") {
                $("chkInspectionRequired").prop("checked", true);
            }

        }
    }
    function deleteItemInfo(id, actionId, prActionId) {
        
        if (id !== null && actionId !== null && prActionId !== null) {
            $('#hidId').val(id);
            $('#ActionId').val(actionId);
            $('#PRActionId').val(prActionId);

            $('#ddlRawCategory').val($('#tdRawCategoryId' + id).text().trim());
            $('#ddlRawSubCategory').val($('#tdRawSubCategoryId' + id).text().trim());
            $('#VMRawItemFK').val($('#tdRawItemId' + id).text().trim());

            $('#txtRequiredDate').val($('#tdRequiredDate' + id).text().trim());
            $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + id).text().trim());
            $('#ddlEmployee').val($('#tdEmployeeId' + id).text().trim());
        }
    }
    function itemActionInfo(id, actionId, prActionId) {
        
        if (id !== null && actionId !== null && prActionId !== null ) {
            $('#hdfPRFKId').val(id);
            $('#hdfActionId').val(actionId);
            $('#hdfPRActionId').val(prActionId);

        }
    }
    $("#btnClose").click(function (e) {
        e.preventDefault();

        $('#CreatePR').trigger("reset");



    });*@


