﻿@model Erp.Core.Services.Shipment.VMShipmentBillOfExchangeSlave



@{
    Layout = "";
}

    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bill of Exchange</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.7 -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
        <!-- Theme style -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
             folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Google Font -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

        <style>
            h4 {
                /*border-bottom: 2px solid black;
            display: inline;*/
            }

            .trclass {
                border: 1px solid #000;
                font-size: 12px;
                font-weight: 800;
                background-color: #C0C0C0;
                line-height: 20px
            }

            #page {
                background-color: #fff;
                width: 810px;
                margin: 50px auto;
                padding: 0 30px;
                font-size: 12px;
                /*text-transform: uppercase !important;*/
            }

            @@media print {
                .trclass {
                    background-color: #C0C0C0 !important;
                    -webkit-print-color-adjust: exact;
                    line-height: 20px
                }

                #print, #print * {
                    display: none !important;
                }
            }
        </style>
    </head>
   
    <body style="background-color: #525659;">

        <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
            Print
        </span>
        <!-- Main content -->
        <div id="page">
            <div style="min-height: 900px;">

          
            <!-- title row -->
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="page-header" style="font-family:Calibri">
                        <span>
                            <img src="~/images/ROMO_Group_Logo.jpg" />
                        </span>&nbsp; Bill of Exchange

                    </h1>
                </div>
                <!-- /.col -->
            </div>
            <!-- info row -->
            <div class="box">
                <div class="box-body" style="text-align:right;">
                    <div class="info-box-content" style="font-family:Calibri">
                        <h1>
                            EXCHANGE FOR:&nbsp;&nbsp;&nbsp;  US$&nbsp;@Model.Value
                        </h1>

                    </div>
                    <!-- /.info-box-content -->
                </div>
            </div>

            <!-- /.row -->
            <!-- Table row -->
            <table border="1" style="width: 100%; font-size: 12px; margin-top: 15px;font-family:Calibri">
                <thead>
                    <tr style="border-bottom:2px solid black;">
                        <th colspan="3" style="padding:5px;"> Shipment as per our Invoice No & Date</th>

                        <th style="text-align:right;padding:5px;">Exchange Value</th>
                    </tr>
                </thead>
                @{
                    int sl = 0;
                    decimal GRANDTOTAL = 0;
                }
                <tbody>
                    @foreach (var item in Model.DataListSlave)
                    {
                        GRANDTOTAL += item.Value;
                        <tr>
                            <td style="padding:3px;">@(++sl)</td>
                            <td style="padding:3px;">@item.InvoiceNo</td>
                            <td style="padding:3px;">@item.InvoiceDate.ToString("dd/MM/yyyy")</td>
                            <td style="text-align:right;padding:3px;">@item.Value</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th></th>
                        <th colspan="2" style="padding:3px;">GRAND TOTAL</th>

                        <th style="text-align:right;padding:3px;">@GRANDTOTAL</th>

                    </tr>
                </tfoot>
            </table>
            <span>
                <b>
                    @Model.ValueInWord
                </b>
            </span>
            <table style="width: 100%; font-size: 12px; margin-top: 15px;font-family:Calibri">
                <thead>
                    <tr>
                        <th colspan="2">
                            At sight of this First of Exchange(Second of the same tenor and date unpaid)
                        </th>
                    </tr>
                    <tr>
                        <th colspan="2">
                            Value received and drawn under Export L/C No: @Model.ECINO. Date: @Model.ECIDate
                        </th>

                    </tr>
                    <tr>
                        <th>
                            Pay to the order of:
                        </th>
                        <th>
                            @Model.BuyerBank <br />
                            @Model.BuyerBankAddress <br />

                        </th>
                    </tr>
                    <tr>
                        <th>
                            Issued by:

                        </th>
                        <th>
                            @Model.CompanyBank <br />
                            @Model.CompanyBankAddress <br />

                        </th>
                    </tr>
                    <tr>
                        <th>
                            TO:
                        </th>
                        <th>
                            @Model.BuyerBank <br />
                            @Model.BuyerBankAddress <br />

                        </th>
                    </tr>
                </thead>
            </table>


            <!-- /.col -->
        </div>

            <div id="divfooter" class="divfooter text-center footer">
                <table style="margin-top: 150px;">
                    <thead>
                        <tr>
                            <td style="width: 20%"></td>
                            <td style="width: 20%"></td>
                            <td style="width: 20%"></td>
                            <td style="width: 20%"></td>
                            <td style="width: 20%">ROMO Fashion Today Ltd.</td>
                        </tr>
                        <tr style="height:40px">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                       
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;"><span style="border-top: 2px solid #000000;"> </span></td>
                            <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                            <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                            <td style="text-align: center;"><span style="border-top: 2px solid #000000;"></span></td>
                            <td style="text-align: center;"> <span style="border-top: 2px solid #000000;">Authorised Signature</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- /.row -->
            <!-- /.row -->
            <!-- this row will not appear when printing -->

        </div>

        <!-- /.content -->
        <!-- /.content-wrapper -->
        <!-- ./wrapper -->
        <!-- jQuery 3 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Bootstrap 3.3.7 -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- FastClick -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

        <script>
            function printDiv() {
                window.print();
            }
        </script>
    </body>
</html>



