﻿

@model Erp.Core.Services.Shipment.VMShipmentInstructionSlave

@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Shipment Instruction</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        h4 {
            /*border-bottom: 2px solid black;
            display: inline;*/
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            /*text-transform: uppercase !important;*/
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            .summerytbl {
                width: 30%
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>
</head>
<body class="hold-transition skin-blue">

    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <!-- Main content -->
    <section id="page" class="invoice" style="min-height: 900px;">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <span>
                        <img src="~/images/ROMO_Group_Logo.jpg" />
                    </span> Shipment Instruction
                    <small class="pull-right">Date: @DateTime.Now.ToString("dd/MM/yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-sm-6 invoice-col">
                <table class="table">

                    <tbody>
                        <tr>
                            <th width="30%">Instruction No</th>
                            <th width="5%">:</th>
                            <th width="65%">@Model.SICID</th>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
            <!-- /.col -->
            <div class="col-sm-6 invoice-col">
                <table class="table">

                    <tbody>
                        
                        <tr>
                            <th>Instruction Date</th>
                            <th>:</th>
                            <th>@Model.SIDate.ToString("dd/MM/yyyy")</th>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <hr />
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="border-bottom:2px solid black">
                            <th>SL</th>
                            <th>Shipment Date</th>
                            <th>Style No</th>
                            <th>Destination Country</th>
                            <th>Destination Port</th>
                            <th>Shipment Quantity in Pack</th>

                        </tr>
                    </thead>
                    @{
                        int sl = 0;
                        int grandTotal = 0;


                    }
                    <tbody>
                        @foreach (var item in Model.DataListSlave)
                        {
                            grandTotal += item.InstructedQty;
                            <tr>
                                <td>@(++sl)</td>

                                <td>@item.ShipmentDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.StyleName</td>

                                <td>@item.Destination</td>
                                <td>@item.Port</td>

                                <td style="text-align:center;">@item.InstructedQty</td>

                            </tr>

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th colspan="4">Grand Total</th>
                            <th style="text-align:center;">@grandTotal</th>
                        </tr>
                    </tfoot>
                </table>
            </div>


            <!-- /.col -->
        </div>

       

        <!-- /.row -->
        <!-- /.row -->
        <!-- this row will not appear when printing -->

    </section>

    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
</body>
</html>


