﻿@{
    ViewData["Title"] = "Shipment Instruction List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Erp.Core.Services.Shipment.VMShipmentInstruction
@using (Html.BeginForm("ShipmentInstructiones", "Shipment", FormMethod.Post, new { id = "shipmentInstructionesFormId", @class = "formValidator" }))
{
    <section class="content-header">
        <h1>
            Shipment Instruction
            <small>List</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
            @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
            <li class="active">Shipment Instruction List</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <!-- /.box-header -->
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>SI CID</th>
                                        <th>SI Date</th>
                                        <th>Style No</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl).</td>

                                            <td id="tdcid_@item.ID">@item.SICID</td>
                                            <td id="tdorderdate@item.ID">@item.SIDate.ToString("dd/MM/yyyy")</td>
                                            <td>
                                                @foreach (var style in item.StyleList)
	                                             {
	                                             	 <span>@style</span><br />
	                                             }   
                                            </td>

                                            <td>
                                                @*<a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>*@
                                                <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                                <a href="~/Shipment/ShipmentInstruction/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Shipment Instruction Edit</b></h5>
                </div>
                <div class="modal-body">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "shipmentIndtructionId" })

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">SICID:</label>
                        @Html.TextBoxFor(model => model.SICID, new { id = "txtSICID", placeholder = "Order No", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.SICID, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">SIDate:</label>
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            <input name="SIDate" asp-for="SIDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control" id="txtSIDate" autocomplete="off">

                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>




    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Shipment Instruction Delete</b></h5>
                </div>
               
                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
        <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();
            });

             function makeEditble(elem) {
                if (elem !== null) {
                    var rowId = elem.id;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleShipmentInstruction", "Shipment")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#shipmentIndtructionId').val(rowId);
                            $('#txtSICID').val(data.sicid);
                            var jsonDate = data.siDate;
                            $('#txtSIDate').val(jsonDate.substr(0, 10));
                            $('#ActionId').val(2);
                                window.scrollTo({ top: 0, behavior: 'smooth' });
                            
                        }
                    });


                }
            } 
            function makeDeletable(id) {
                if (id !== null) {
                    $('#shipmentIndtructionId').val(id);
                    $('#ActionId').val(3);

                }
            }
            function resetForm() {
                //$('#CMEarned').trigger("reset");
                $('#shipmentInstructionesFormId')[0].reset();
                $('#ActionId').val(1);
            }
           
        </script>
    }