﻿
@{
    ViewData["Title"] = "Bill of Exchange";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string collapsedBox = "";

}
@model Erp.Core.Services.Shipment.VMShipmentBillOfExchangeSlave
<section class="content-header">
    <h1>
        Bill of Exchange
        <small>Create</small>
        @if (Model.ID > 0)
        {
            <a href="~/Shipment/ShipmentBillOfExchangePrint/@Model.Shipment_BillOfExchangeFk"><i class="fa fa-print"></i></a>
        }
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/Shipment/ShipmentBillofExchanges">Bill of Exchange List</a></li>
        <li class="active"> Bill of Exchange Create</li>
    </ol>
</section>
@using (Html.BeginForm("ShipmentBillofExchange", "Shipment", FormMethod.Post, new { id = "shipmentBillofExchangeSlaveFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        @if (Model.ID > 0)
                        {
                            collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>BOE ID</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.BoECID</td>

                                        <td width="18%"><b>BOE Date</b></td>
                                        <td width="5%"></td>
                                        <td width="27%">@Model.BoEDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Courier NO</b></td>
                                        <td>:</td>
                                        <td>@Model.CourierNO</td>
                                        <td><b>Courier Date</b></td>
                                        <td>:</td>
                                        <td>@Model.CourierDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>ECI</b></td>
                                        <td>:</td>
                                        <td>@Model.ECINO</td>

                                        <td><b>Buyer Name</b></td>
                                        <td>:</td>
                                        <td>@Model.BuyerName</td>
                                    </tr>
                                    <tr>
                                        <td><b>FDBC NO</b></td>
                                        <td>:</td>
                                        <td>@Model.FDBCNO</td>

                                        <td><b>FDBC Date</b></td>
                                        <td>:</td>
                                        <td>@Model.FDBCDate.ToString("dd/MM/yyyy")</td>
                                    </tr>

                                    <tr>
                                        <td><b>Remarks</b></td>
                                        <td>:</td>
                                        <td colspan="4">@Model.Remarks</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>
                        }
                        else
                        {
                            <div class="row">

                                <div class="col-md-4">

                                    <div class="box-body" style="border:solid;border-color:lightgray">


                                        <div class="form-group">
                                            <label>Bill No</label>
                                            @Html.TextBoxFor(model => model.BoECID, new { @class = "form-control input-sm", required = "required", @placeholder = "Bill No" })
                                            @Html.ValidationMessageFor(model => model.BoECID, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Bill Date</label>
                                            <input name="BoEDate" asp-for="BoEDate" type="text" value="" asp-format="{0:yyyy/m/d}" required="required" class="datePicker form-control input-sm" id="txtGatePassDate" , placeholder="BOE Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.BoEDate, "", new { @class = "text-danger" })
                                        </div>
                                        @*<div class="form-group">
                                                <label>Export L/C/Contract</label>
                                                @Html.DropDownListFor(model => model.Commercial_ECIFK, Model.ExportCommercialInformationList as SelectList, "---Select Master L/C---", new { @class = "form-control input-sm", @placeholder = "Truck No" })
                                                @Html.ValidationMessageFor(model => model.Commercial_ECIFK, "", new { @class = "text-danger" })
                                            </div>*@
                                    </div>
                                    <!-- /.box-body -->
                                    <!-- /.box -->
                                </div>


                                <div class="col-md-4">

                                    <div class="box-body" style="border:solid;border-color:lightgray">
                                        <div class="form-group">
                                            <label>Courier NO</label>

                                            @Html.TextBoxFor(model => model.CourierNO, new { @class = "form-control input-sm", required = "required", @placeholder = "Courier NO" })
                                            @Html.ValidationMessageFor(model => model.CourierNO, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Courier Date</label>

                                            <input name="CourierDate" asp-for="CourierDate" type="text" value="" required="required" asp-format="{0:yyyy/m/d}" class="datePicker form-control input-sm" id="txtCourierDate" , placeholder="Courier Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.CourierDate, "", new { @class = "text-danger" })
                                        </div>



                                    </div>
                                    <!-- /.box-body -->
                                    <!-- /.box -->
                                </div>
                                <div class="col-md-4">

                                    <div class="box-body" style="border:solid;border-color:lightgray">

                                        <div class="form-group">
                                            <label>FDBC NO</label>
                                            @Html.TextBoxFor(model => model.FDBCNO, new { @class = "form-control input-sm", required = "required", @placeholder = "FDBC NO" })
                                            @Html.ValidationMessageFor(model => model.FDBCNO, "", new { @class = "text-danger" })
                                        </div>

                                        <div class="form-group">
                                            <label>FDBC Date</label>
                                            <input name="FDBCDate" asp-for="FDBCDate" type="text" value="" required="required" asp-format="{0:yyyy/m/d}" class="datePicker form-control input-sm" id="txtFDBCDate" , placeholder="FDBC Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.FDBCDate, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <!-- /.box-body -->
                                    <!-- /.box -->
                                </div>





                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>ECI No</label>
                                        @Html.DropDownListFor(model => model.Commercial_ECIFK, Model.ExportCommercialInformationList as SelectList, "Select ECI No", new { id = "ddlCommercial_ECIFK", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.Commercial_ECIFK, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Remarks</label>
                                        @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control input-sm", @placeholder = "Remarks", rows = 2 })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                        }
                        <br />
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-success box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" style="text-align:center">Select Invoice to Create BILL OF EXCHANGE</h3>
                                        @*<div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>*@
                                        <!-- /.box-tools -->
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        <div class="col-md-3">
                                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "txtBillOfExchangeSlaveId" })
                                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                            @Html.HiddenFor(model => model.Shipment_BillOfExchangeFk, new { id = "ddlShipment_BillOfExchangeFk" })
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Select Invoice No</label>

                                            @Html.DropDownListFor(model => model.Shipment_InvoiceListFk, Model.ShipmentInvoiceList, new { id = "ddlShipmentInvoiceFk", @class = "searchingDropdown form-control", multiple = "multiple", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Shipment_InvoiceListFk, "", new { @class = "text-danger" })

                                        </div>
                                        @*<div class="form-group col-md-6">
                                                @Html.DropDownListFor(model => model.Shipment_InvoiceFk, Model.ShipmentInvoiceList as SelectList, "Select Invoice No", new { id = "ddlShipmentInvoiceFk", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Shipment_InvoiceFk, "", new { @class = "text-danger" })
                                            </div>*@
                                        <div class="col-md-3">

                                        </div>


                                    </div>
                                    <div class="box-footer">
                                        <div class="row">
                                            <div class="col-md-8"></div>
                                            <div class="col-lg-4 col-md-4">
                                                <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-plus'></i> Create New Bill of Exchange</button>
                                            </div>

                                        </div>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>

                            <!-- /.box -->
                        </div>

                        @*<div id="addSize"></div>*@


                        @{
                            if (Model.ID > 0)
                            {
                                int sl = 0;
                                decimal totalValue = 0;
                                <div class="table-responsive col-md-12">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>

                                                <th>Invoice No</th>
                                                <th>Invoice Date</th>
                                                <th style="text-align:right;">Value</th>
                                                @if (!Model.IsFinal)
                                                {
                                                    <th>Action</th>

                                                }
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                totalValue += item.Value;
                                                <tr>
                                                    <td>@(++sl)</td>

                                                    <td id="tdRawItemName_@item.ID">@item.InvoiceNo</td>
                                                    <td id="tdRawItemName_@item.ID">@item.InvoiceDate.ToString("yyyy/MM/dd")</td>
                                                    <td id="tdRawItemName_@item.ID" style="text-align:right;">@item.Value</td>
                                                    @if (!Model.IsFinal)
                                                    {
                                                        <td style="text-align:center">
                                                            <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                                                        </td>}

                                                </tr>
                                            }

                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>

                                                <th colspan="2">Total</th>

                                                <th style="text-align:right;">@totalValue</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            }
                        }



                    </div>

                    <div class="box-footer">
                        @if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/ShipmentBillOfExchangePrint/@Model.Shipment_BillOfExchangeFk" style="width:100%" class="btn btn-primary"><i>Print</i></a>

                        }

                    </div>
                </div>

            </div>



        </div>
    </section>


}

    <form asp-action="ShipmentBillofExchange" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @Html.HiddenFor(model => model.ID, new { Value = "", id = "txtBillOfExchangeSlaveIddel" })
        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDel" })
        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Bill of Exchange Delete</b></h5>
                    </div>
                    <div class="modal-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;

                    </div>
                </div>
            </div>
        </div>
    </form>


@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();

                //$.ajaxSetup({ cache: false });
                @*$("#ddlMerchandising_StyleFk").change(function (e) {
                    var StyleId = $("#ddlMerchandising_StyleFk").val();
                     $.ajax({
                        type: "POST",
                        url: "@Url.Action("StyleInvoicePartial", "Shipment")",
                        datatype: "Json",
                         data: { StyleId: StyleId},
                         success: function (data) {
                             $("#addSize").html(data);
                        }
                    });
                    return false;
                });*@
            });


            function makeDeletable(id) {
                if (id !== null) {
                    $('#txtBillOfExchangeSlaveIddel').val(id);
                    $('#ActionIdDel').val(3);

                }
            }
            function resetForm() {
                //$('#CMEarned').trigger("reset");
                $('#shipmentBillofExchangeSlaveFormId')[0].reset();
                $('#ActionId').val(1);
            }

    </script>
}