﻿
@{
    ViewData["Title"] = "Invoie";
    Layout = "~/Views/Shared/_Layout.cshtml";
   // string collapsedBox = "";
}
@model Erp.Core.Services.Shipment.VMShipmentInvoiceSlave
<section class="content-header">
    <h1>
        Shipment Invoice
        <small>Create</small>

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li><a href="~/Shipment/ShipmentInvoies">Shipment Invoice List</a></li>
        <li class="active">Shipment Invoice Create</li>
    </ol>
</section>
@using (Html.BeginForm("ShipmentInvoie", "Shipment", FormMethod.Post, new { id = "shipmentInvoieFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">

                        @if (Model.ID > 0)
                        {
                           // collapsedBox = "collapsed-box";

                            <div class="col-md-1"> </div>
                            <div class="col-md-10">
                                <table class="table">
                                    <tr>
                                        <td width="18%"><b>Invoice No</b></td>
                                        <td width="5%">:</td>
                                        <td width="27%">@Model.InvoiceCID</td>

                                        <td width="18%"><b>Invoice Date</b></td>
                                        <td width="5%"></td>
                                        <td width="27%">@Model.InvoiceDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Final Destination</b></td>
                                        <td>:</td>
                                        <td>@Model.Distination.DistinationCountry</td>

                                        <td><b>Port of Discharge</b></td>
                                        <td></td>
                                        <td>@Model.Distination.DistinationPort</td>
                                    </tr>
                                    <tr>
                                        <td><b>Buyer Invoice Reference</b></td>
                                        <td>:</td>
                                        <td>@Model.InvoiceIdNo</td>

                                        <td><b>Terms of Shipment</b></td>
                                        <td></td>
                                        <td>@Model.TermsOfShipment</td>

                                    </tr>
                                    <tr>
                                        <td><b>Export Permission (EXP) No</b></td>
                                        <td>:</td>
                                        <td>@Model.ExpNo</td>
                                        <td><b>Export Permission (EXP) Date</b></td>
                                        <td>:</td>
                                        <td>@Model.ExpDate.ToString("dd/MM/yyyy")</td>

                                    </tr>
                                    <tr>
                                        <td><b>Bill of Lading (BL) No</b></td>
                                        <td>:</td>
                                        <td>@Model.BLNo</td>
                                        <td><b>Bill of Lading (BL) Date</b></td>
                                        <td>:</td>

                                        <td>@Model.BLDate.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                    <tr>
                                        <td><b>Port of Loading</b></td>
                                        <td>:</td>
                                        <td>@Model.PortOfLoading</td>

                                        <td><b>Shipped By</b></td>
                                        <td>:</td>
                                        <td>@Model.ShippedBy</td>


                                    </tr>
                                    <tr>
                                        <td><b>ERC No</b></td>
                                        <td>:</td>
                                        <td>@Model.ErcNo</td>

                                        <td><b>@Model.AdjustedNote</b></td>
                                        <td>:</td>
                                        <td>@Model.AdjustedValue</td>


                                    </tr>
                                    <tr>
                                        <td><b>Shipping Marks</b></td>
                                        <td>:</td>
                                        <td colspan="4">@Model.ShippingMarks</td>


                                        

                                    </tr>
                                    <tr>
                                        <td><b>Buyer Notify Partys</b></td>
                                        <td>:</td>
                                        <td>

                                            @foreach (var buyerNotifyPartys in Model.BuyerNotifyPartys)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                @buyerNotifyPartys.Name
                                                            </span>
                                                            <br />
                                                            <span>
                                                                @buyerNotifyPartys.Address
                                                                @buyerNotifyPartys.CountryName
                                                            </span>
                                                            <br />
                                                            <span>
                                                                @buyerNotifyPartys.Email
                                                            </span>
                                                            <br />
                                                            @buyerNotifyPartys.Phone
                                                        </td>
                                                    </tr>
                                                </table>
                                            }

                                        </td>
                                        <td><b>Shipper</b></td>

                                        <td>:</td>
                                        <td>

                                            @foreach (var companySetup in Model.VMCompanySetup)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <span>
                                                                @companySetup.Name
                                                            </span>
                                                            <br />
                                                            <span>
                                                                @companySetup.Address
                                                            </span>
                                                            <br />
                                                            <span>
                                                                @companySetup.Email
                                                            </span>
                                                            <br />
                                                            @companySetup.Phone
                                                        </td>
                                                    </tr>
                                                </table>
                                            }

                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1"> </div>

                        }
                        <div class="row">
                            <div class="col-md-12">
                                <div class="box box-success box-solid">
                                    <div class="box-header with-border">
                                        <h3 class="box-title" style="text-align:center">Create Invoice</h3>
                                        @*<div class="box-tools pull-right">
                                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </div>*@

                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body">
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @Html.HiddenFor(model => model.Shipment_InvoiceFk, new { id = "PRFKId" })


                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                @Html.DropDownListFor(model => model.CommonBuyerFK, Model.CommonBuyerList as SelectList, "Please Select Buyer", new { id = "commonBuyerFK", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })

                                                @Html.ValidationMessageFor(model => model.CommonBuyerFK, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-6">
                                            <div class="form-group">
                                                @Html.DropDownListFor(model => model.MerchandisingStyleFK, new SelectList(" "), "Select Style No", new { id = "merchandisingStyleFk", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })

                                                @Html.ValidationMessageFor(model => model.MerchandisingStyleFK, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div id="addSize"></div>
                                    <!-- /.box-body -->
                                </div>
                                <!-- /.box -->
                            </div>
                        </div>


                        @if (Model.ID == 0)
                        {

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="box-body" style="border:solid;border-color:lightgray">
                                        <div class="form-group">
                                            <label>Buyer Invoice Reference</label>

                                            @Html.EditorFor(model => model.InvoiceIdNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Buyer Invoice Reference" } })
                                            @Html.ValidationMessageFor(model => model.InvoiceIdNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Terms of Shipment</label>

                                            @Html.DropDownListFor(model => model.Shipment_TermsOfShipmentFK, Model.TermsOfShipmentList as SelectList, "---Select Terms of Shipment---", new { required = "required", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Shipment_TermsOfShipmentFK, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Export Permissio No (When Found)</label>

                                            @Html.EditorFor(model => model.ExpNo, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "EXP No" } })
                                            @Html.ValidationMessageFor(model => model.ExpNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Export Permission Date (When Found)</label>

                                            <input name="ExpDate" asp-for="ExpDate" type="text" value="" class="datePicker form-control"  id="txtGatePassDate" , placeholder="EXP Date" autocomplete="off">
                                            @Html.ValidationMessageFor(model => model.ExpDate, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Bill of Lading (When Found)</label>

                                            @Html.EditorFor(model => model.BLNo, new { htmlAttributes = new { @class = "form-control input-sm",  placeholder = "BLNo" } })
                                            @Html.ValidationMessageFor(model => model.BLNo, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <label>Bill of Lading Date (When Found)</label>
                                            <input name="BLDate" asp-for="BLDate" type="text" value="" class="datePicker form-control" id="txtBLDate" placeholder="BL Date" autocomplete="off">

                                            @Html.ValidationMessageFor(model => model.BLDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="box-body" style="border:solid;border-color:lightgray">
                                        <div class="form-group">
                                            <label>Buyer Notify Party</label>

                                            @Html.DropDownListFor(model => model.BuyerNotifyPartysFk, Model.BuyerNotifyPartyList, new { id = "ddlBuyerNotifyPartys", @class = "searchingDropdown form-control", multiple = "multiple", })
                                            @Html.ValidationMessageFor(model => model.BuyerNotifyPartys, "", new { @class = "text-danger" })

                                        </div>
                                        <div class="col-md-6">

                                            <div class="form-group">
                                                <label>Port of Loading</label>

                                                @Html.DropDownListFor(model => model.Shipment_PortOfLoadingFk, Model.PortOfLoadingList as SelectList, "---Select port of Loading---", new { required = "required", @class = "form-control input-sm" })
                                                @Html.ValidationMessageFor(model => model.Shipment_PortOfLoadingFk, "", new { @class = "text-danger" })
                                            </div>

                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Shipped By</label>

                                                @Html.DropDownListFor(model => model.ShippedBy, Model.ShippedByList as SelectList, "---Select Shipped By---", new { required = "required", @class = "form-control dropdown input-sm" })
                                                @Html.ValidationMessageFor(model => model.ShippedBy, "", new { @class = "text-danger" })
                                            </div>


                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label>ERC No</label>

                                                @Html.EditorFor(model => model.ErcNo, new { htmlAttributes = new { @class = "form-control input-sm", required = "required", placeholder = "Erc No" } })
                                                @Html.ValidationMessageFor(model => model.ErcNo, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="form-group">
                                                <label>Invoice Adjusted Amount (if Needed)</label>
                                                <div class="col-md-9">
                                                    @Html.EditorFor(model => model.AdjustedNote, new { htmlAttributes = new { @class = "form-control input-sm", placeholder = "Reason" } })

                                                </div>
                                                <div class="col-md-3">
                                                    <input name="AdjustedAmount" asp-for="AdjustedValue" type="text" value="" class="form-control input-sm" id="txtAdjustedAmount" , placeholder="Value" autocomplete="off">

                                                </div>

                                            </div>
                                            <br />
                                            <div class="form-group">
                                                <label>Shipping Marks</label>
                                                @Html.TextAreaFor(model => model.ShippingMarks, new { id = "txtShippingMarks", placeholder = "Shipping Marks", @class = "form-control", Rows = 8 })

                                                @Html.ValidationMessageFor(model => model.ShippingMarks, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        }
                        <div class="box-footer">

                            <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary btn-block"><i class='fa fa-edit'></i>Add in Invoice</button>

                        </div>
                        @*<div id="addSize"></div>*@
                        @{
                            if (Model.DataListSlave != null)
                            {


                                <div class="table-responsive col-md-12">
                                    <table id="tableX" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL</th>
                                                <th>PO NO</th>
                                                <th>Description of Goods</th>

                                                <th>Style No</th>
                                                <th>CTN Quantity</th>

                                                <th style="text-align:center;">Quantity in Pack</th>
                                                <th style="text-align:center;">Quantity in PCS</th>
                                                <th style="text-align:right;">Price / Pack</th>
                                                <th style="text-align:right;">Amount US$</th>
                                                <th>
                                                    Action
                                                </th>
                                            </tr>
                                        </thead>
                                        @{
                                            decimal sl = 0;
                                            decimal packQuantity = 0;
                                            decimal pcsQuantity = 0;
                                            decimal totalPrice = 0;
                                            decimal cTNQuantity = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                packQuantity += item.PackQuantity;
                                                pcsQuantity += item.PcsQuantity;
                                                totalPrice += item.TotalPrice;
                                                cTNQuantity += item.CTNQuantity;
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>@item.BuyerPO</td>

                                                    <td>@item.DescriptionOfGoods</td>
                                                    <td>@item.Style</td>
                                                    <td style="text-align:center;">@item.CTNQuantity</td>

                                                    <td style="text-align:center;">@item.PackQuantity</td>
                                                    <td style="text-align:center;">@item.PcsQuantity</td>
                                                    <td style="text-align:right;">@item.PackPrice</td>
                                                    <td style="text-align:right;">@item.TotalPrice</td>
                                                    <td>
                                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                                                    </td>

                                                </tr>
                                            }
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th></th>
                                                <th colspan="3">Total</th>
                                                <th>@cTNQuantity</th>

                                                <th style="text-align:center;">@packQuantity</th>
                                                <th style="text-align:center;">@pcsQuantity</th>
                                                <th></th>
                                                <th style="text-align:right;">@totalPrice</th>
                                                <th></th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            }
                        }
                    </div>
                    <div class="box-footer">
                        @if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/ShipmentInvoiePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>

                        }
                    </div>
                </div>
            </div>
        </div>
    </section>


}
@using (Html.BeginForm("ShipmentInvoieSlaveDelete", "Shipment", FormMethod.Post, new { id = "shipmentInvoieSlaveFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetInvoiceSlaveForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Invoice Item Delete</b></h5>
                </div>
                @Html.HiddenFor(model => model.ID, new { Value = "", id = "shipmentInvoiceIdDel" })
                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionIdDel" })
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetInvoiceSlaveForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        $("#commonBuyerFK").change(function (e) {
            var buyerId = $("#commonBuyerFK :selected").val();
            console.log(buyerId);
            $.ajax({
                type: "GET",
                url: "@Url.Action("InstructedStyleGetByBuyer", "Shipment")",
                datatype: "Json",
                data: { id: buyerId},
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#merchandisingStyleFk").empty();
                        $("#merchandisingStyleFk").append("<option value=''>==Select Style No==</option>");
                        $(data).each(function (index, item) {
                            $("#merchandisingStyleFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });


                    }
                }
            });

            // Buyer Notify Party Load by Buyer
            $.ajax({
                type: "GET",
                url: "@Url.Action("BuyerNotifyPartyById", "Shipment")",
                datatype: "Json",
                data: { id: buyerId},
                success: function (data) {
                    debugger;
                    var items = "";

                    if (data) {
                        $("#ddlBuyerNotifyPartys").empty();
                        $("#ddlBuyerNotifyPartys").append("<option value=''>==Select Buyer Notify Partys==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlBuyerNotifyPartys").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });


                    }
                }
            });
        });


        $("#merchandisingStyleFk").change(function (e) {
            var styleID = $("#merchandisingStyleFk").val();
            console.log(styleID);
                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("StyleShipmentInstructionPartial", "Shipment")",
                    datatype: "Json",
                     data: { StyleId: styleID},
                     success: function (data) {
                         $("#addSize").html(data);
                    }
                });
                return false;
            });

         @*$(function () {
             $.ajaxSetup({ cache: false });
             $("#shipmentInstructionFk").change(function (e) {
                 var shipmentInstructionId = $("#shipmentInstructionFk").val();
                 $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetShipmentInstruction")",
                    datatype: "Json",
                     data: { id: shipmentInstructionId},
                     success: function (data) {
                         $("#txtQuantity").val(data.instructedQty);

                    }
                });
                return false;
            });
        });*@
        function makeDeletable(id) {
            if (id !== null) {
                $('#shipmentInvoiceIdDel').val(id);
                $('#ActionIdDel').val(3);

            }
        }
        function resetForm() {
            $('#shipmentInvoieFormId')[0].reset();
            $('#ActionId').val(1);
        }
        function resetInvoiceSlaveForm() {
            $('#shipmentInvoieSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }


    </script>
}