﻿
@{
    ViewData["Title"] = "Bill of Exchanges";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Erp.Core.Services.Shipment.VMShipmentBillOfExchange
<section class="content-header">
    <h1>
        Bill of Exchange
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
        <li class="active"> Bill of Exchange List</li>
    </ol>
</section>
@using (Html.BeginForm("ShipmentBillofExchanges", "Shipment", FormMethod.Post, new { id = "shipmentBillofExchangesFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            List:
                            &nbsp;&nbsp;
                            @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add New Order"
                                        data-placement="top">
                                    <i class="glyphicon glyphicon-plus"></i>
                                </button>*@
                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Bill no</th>
                                        <th>Bill Value</th>
                                        <th>BOE Date</th>
                                        <th>ECINO</th>
                                        <th>Buyer Name</th>
                                        <th>FDBC NO</th>
                                        <th>FDBC Date</th>
                                        <th>Courier NO</th>
                                        <th>Courier Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl).</td>

                                            <td id="tdBoECID_@item.ID">@item.BoECID</td>
                                            <td id="tdBillValue_@item.ID">@item.BillValue</td>
                                            <td id="tdBoEDate_@item.ID">@item.BoEDate.ToString("yyyy/MM/dd")</td>
                                            <td id="tdECINO_@item.ID">@item.ECINO</td>
                                            <td id="tdBuyerName_@item.ID">@item.BuyerName</td>

                                            <td id="tdFDBCNO_@item.ID">@item.FDBCNO</td>
                                            <td id="tdCourierNO_@item.ID">@item.FDBCDate.ToString("yyyy/MM/dd")</td>
                                            <td id="tdcid_@item.ID">@item.CourierNO</td>
                                            <td id="tdCourierDate_@item.ID">@item.CourierDate.ToString("yyyy/MM/dd")</td>


                                            <td>
                                                @if(!item.IsFinal)
                                                { 
                                                      <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                      <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                                      <a onclick="makeFinalizeMode(@item.ID, @item.BillValue);" class="linkPointer" data-toggle="modal" data-target="#finalizeModal" title="Finalize" data-placement="top"><i class="glyphicon  glyphicon-eye-close" aria-hidden="true"></i></a>
                                                }
                                                <a href="~/Shipment/ShipmentBillofExchange/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>

                                            </td>
                                        </tr>
                                        
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Order</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "billOfExchangeId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.HiddenFor(model=> model.AccBillValue, new { id = "AccBillValue"})
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Bill No</label>
                                @Html.TextBoxFor(model => model.BoECID, new { id = "txtBoECID", @class = "form-control input-sm", @placeholder = "Bill No" })
                                @Html.ValidationMessageFor(model => model.BoECID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Bill Date</label>
                                <input name="BoEDate" asp-for="BoEDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control input-sm" id="txtBoEDate" , placeholder="BOE Date" autocomplete="off">
                                @Html.ValidationMessageFor(model => model.BoEDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Courier NO</label>

                                @Html.TextBoxFor(model => model.CourierNO, new { id = "txtCourierNO", @class = "form-control input-sm", @placeholder = "Courier NO" })
                                @Html.ValidationMessageFor(model => model.CourierNO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Courier Date</label>

                                <input name="CourierDate" asp-for="CourierDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control input-sm" id="txtCourierDate" , placeholder="Courier Date" autocomplete="off">
                                @Html.ValidationMessageFor(model => model.CourierDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>FDBC NO</label>
                                @Html.TextBoxFor(model => model.FDBCNO, new { id = "txtFDBCNO", @class = "form-control input-sm", @placeholder = "FDBC NO" })
                                @Html.ValidationMessageFor(model => model.FDBCNO, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>FDBC Date</label>
                                <input name="FDBCDate" asp-for="FDBCDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control input-sm" id="txtFDBCDate" , placeholder="FDBC Date" autocomplete="off">
                                @Html.ValidationMessageFor(model => model.FDBCDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-md-4 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label>Export L/C/Contract</label>
                                    @Html.DropDownListFor(model => model.Commercial_ECIFK, Model.ExportCommercialInformationList as SelectList, "---Select Master L/C---", new { id = "ddlCommercial_ECIFK", @class = "form-control input-sm", @placeholder = "Truck No" })
                                    @Html.ValidationMessageFor(model => model.Commercial_ECIFK, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Received Type</label>
                                @Html.DropDownListFor(model => model.ReceivedType, Model.ReceivedTypeList as SelectList, "---Select Received Type---", new { id = "ddlReceivedType", @class = "form-control input-sm", @placeholder = "Received Type" })
                                @Html.ValidationMessageFor(model => model.ReceivedType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextBoxFor(model => model.Description, new { id = "txtDescription", @class = "form-control input-sm", @placeholder = "Description" })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Bill of Exchange Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="finalizeModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Bill of Exchange Finalize</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to Finalize?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Finalize</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();
            });

             function makeEditble(elem) {
                if (elem !== null) {
                    var rowId = elem.id;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleBillOfExchange", "Shipment")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#billOfExchangeId').val(rowId);
                            $('#txtBoECID').val(data.boECID);
                            var boEDate = data.boEDate;
                            $('#txtBoEDate').val(boEDate.substr(0, 10));
                            $('#txtCourierNO').val(data.courierNO);
                            var courierDate = data.courierDate;
                            $('#txtCourierDate').val(courierDate.substr(0, 10));
                            $('#txtFDBCNO').val(data.fdbcno);
                            var fdbcDate = data.fdbcDate;
                            $('#txtFDBCDate').val(fdbcDate.substr(0, 10));
                            $('#ddlCommercial_ECIFK').val(data.commercial_ECIFK);
                            $('#ddlReceivedType').val(data.receivedType);
                            $('#txtDescription').val(data.description);

                            $('#ActionId').val(2);
                                window.scrollTo({ top: 0, behavior: 'smooth' });

                        }
                    });


                }
            }
            function makeDeletable(id) {
                if (id !== null) {
                    $('#billOfExchangeId').val(id);
                    $('#ActionId').val(3);

                }
        }
        function makeFinalizeMode(id, value) {
            if (id !== null) {
                $('#billOfExchangeId').val(id);
                $('#ActionId').val(10);
                $('#AccBillValue').val(value);

            }
        }
            function resetForm() {
                $('#shipmentBillofExchangesFormId')[0].reset();
                $('#ActionId').val(1);
            }

    </script>
}