﻿
@{
    ViewData["Title"] = "Shipment Invoies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Erp.Core.Services.Shipment.VMShipmentInvoice
<section class="content-header">
    <h1>
        Shipment Invoice
        <small>List</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        @*<li><a href="~/Shipment/ShipmentInstructiones"></a></li>*@
        <li class="active"> Shipment Invoice List</li>
    </ol>
</section>
@using (Html.BeginForm("ShipmentInvoies", "Shipment", FormMethod.Post, new { id = "shipmentInvoiesFormId", @class = "formValidator" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        <div class="table-responsive text-nowrap">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>Invoice No</th>
                                        <th>Invoice Date</th>
                                        <th>Exp No</th>
                                        <th>Exp Date</th>
                                        <th>Total Order Qty</th>
                                        <th>Total Pack Qty</th>
                                        <th>Total Price</th>
                                        <th>Description</th>
                                        @*<th>
                                            Inc/Decs Amount
                                        </th>*@

                                        @*<th>
                                            Grand Total
                                        </th>*@
                                        <th>Action</th>


                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(++sl).</td>

                                            <td id="tdInvoiceCID_@item.ID">@item.InvoiceCID</td>
                                            <td id="tdInvoiceDate_@item.ID">@item.InvoiceDate.ToString("yyyy/MM/dd")</td>
                                            <td id="tdExpNo_@item.ID">@item.ExpNo</td>
                                            <td id="tdExpDate_@item.ID">@item.ExpDate.ToString("yyyy/MM/dd")</td>
                                            @*<td>
                                                    @string.Format("{0:0}", item.TotalGenerateClass.Sum(x => x.TotalCtnQty)) Ctn
                                                </td>*@
                                            <td>
                                                @string.Format("{0:0}", item.TotalGenerateClass.Sum(x => x.TotalOrderQty)) Pcs
                                            </td>
                                            <td>
                                                @string.Format("{0:0}", item.TotalGenerateClass.Sum(x => x.TotalPackQty)) Pack
                                            </td>
                                            <td>
                                                @{
                                                    var totalPrice = item.TotalGenerateClass.Sum(x => x.TotalPrice);
                                                }
                                                $@string.Format("{0:0.00}", totalPrice)
                                            </td>
                                            <td id="tdExpDate_@item.ID">@item.AdjustedNote</td>
                                            @*<td id="tdExpDate_@item.ID">
                                               
                                                    <i>+</i>@item.AdjustedValue
                                                

                                            </td>*@
                                          

                                            <td>
                                                <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                                <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                                <a href="~/Shipment/ShipmentInvoie/@item.ID"><i class="glyphicon glyphicon-new-window"></i></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="box-footer">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Edit Invoice</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "shipmentInvoiesId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Invoice No</label>

                                @Html.EditorFor(model => model.InvoiceCID, new { htmlAttributes = new { id = "txtInvoiceCID", @class = "form-control input-sm", placeholder = "Invoice No" } })
                                @Html.ValidationMessageFor(model => model.InvoiceCID, "", new { @class = "text-danger" })

                            </div>

                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Invoice Date</label>

                                <input name="InvoiceDate" asp-for="InvoiceDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control input-sm" id="txtInvoiceDate" , placeholder="Invoice Date" autocomplete="off">
                                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Exp No</label>

                                @Html.EditorFor(model => model.ExpNo, new { htmlAttributes = new { id = "txtExpNo", @class = "form-control input-sm", placeholder = "EXP No" } })
                                @Html.ValidationMessageFor(model => model.ExpNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Exp Date</label>

                                <input name="ExpDate" asp-for="ExpDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control input-sm" id="txtExpDate" , placeholder="EXP Date" autocomplete="off">
                                @Html.ValidationMessageFor(model => model.ExpDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Erc No</label>

                                @Html.EditorFor(model => model.ErcNo, new { htmlAttributes = new { id = "txtErcNo", @class = "form-control input-sm", placeholder = "Erc No" } })
                                @Html.ValidationMessageFor(model => model.ErcNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Invoice Id No</label>

                                @Html.EditorFor(model => model.InvoiceIdNo, new { htmlAttributes = new { id = "txtInvoiceIdNo", @class = "form-control input-sm", placeholder = "Invoice Id No" } })
                                @Html.ValidationMessageFor(model => model.InvoiceIdNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Shipped By</label>

                                @Html.DropDownListFor(model => model.ShippedBy, Model.ShippedByList as SelectList, "---Select Shipped By---", new { id = "txtShippedBy", @class = "form-control dropdown input-sm" })
                                @Html.ValidationMessageFor(model => model.ShippedBy, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Terms of Shipment</label>

                                @Html.DropDownListFor(model => model.Shipment_TermsOfShipmentFK, Model.TermsOfShipmentList as SelectList, "---Select Terms of Shipment---", new { id = "ShipmentTermsOfShipmentFK", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.Shipment_TermsOfShipmentFK, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Port of Loading</label>

                                @Html.DropDownListFor(model => model.Shipment_PortOfLoadingFk, Model.PortOfLoadingList as SelectList, "---Select port of Loading---", new { id = "ddlShipmentPortOfLoadingFk", @class = "form-control input-sm" })
                                @Html.ValidationMessageFor(model => model.Shipment_PortOfLoadingFk, "", new { @class = "text-danger" })
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>BL No</label>

                                @Html.EditorFor(model => model.BLNo, new { htmlAttributes = new { id = "txtBLNo", @class = "form-control input-sm", placeholder = "BLNo" } })
                                @Html.ValidationMessageFor(model => model.BLNo, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>BL Date</label>

                                <input name="BLDate" asp-for="BLDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control input-sm" id="txtBLDate" placeholder="BL Date" autocomplete="off">
                                @Html.ValidationMessageFor(model => model.BLDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="form-group">
                                <label>Shipping Marks</label>

                                @Html.EditorFor(model => model.ShippingMarks, new { htmlAttributes = new { id = "txtShippingMarks", @class = "form-control input-sm", placeholder = "Shipping Marks" } })
                                @Html.ValidationMessageFor(model => model.ShippingMarks, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Invoice Adjusted Amount (if Needed)</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.AdjustedNote, new { htmlAttributes = new {id= "ddlAdjustedNote", @class = "form-control input-sm", placeholder = "Reason" } })

                            </div>
                            <div class="col-md-3">
                                <input name="AdjustedValue" asp-for="AdjustedValue" type="text" value="" class="form-control input-sm" id="txtAdjustedAmount" , placeholder="Value" autocomplete="off">

                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Invoice</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
            $(document).ready(function () {
                $('.formValidator').bootstrapValidator();
            });

             function makeEditble(elem) {
                if (elem !== null) {
                    var rowId = elem.id;

                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SingleShipmentInvoice", "Shipment")",
                        datatype: "Json",
                        data: { id: rowId },
                        success: function (data) {
                            console.log(data);
                            $('#shipmentInvoiesId').val(data.id);
                            $('#txtInvoiceCID').val(data.invoiceCID);

                            var invoiceDate = data.invoiceDate;
                            $('#txtInvoiceDate').val(invoiceDate.substr(0, 10));
                            //$('#txtInvoiceDate').val(data.invoiceDate);

                            $('#txtExpNo').val(data.expNo);

                            var expDate = data.expDate;
                            $('#txtExpDate').val(expDate.substr(0, 10));
                            //$('#txtExpDate').val(data.expDate);

                            $('#txtErcNo').val(data.ercNo);
                            $('#txtInvoiceIdNo').val(data.invoiceIdNo);
                            $('#txtShippedBy').val(data.shippedBy);
                            $('#ShipmentTermsOfShipmentFK').val(data.shipment_TermsOfShipmentFK);
                            $('#ddlCommonCountryOfOriginFk').val(data.common_CountryOfOriginFk);
                            $('#ddlShipmentPortOfLoadingFk').val(data.shipment_PortOfLoadingFk);
                            $('#ddlCommonCountryFk').val(data.common_CountryFk);
                            $('#ddlShipmentPortOfDischargeFk').val(data.shipment_PortOfDischargeFk);
                            $('#txtBLNo').val(data.blNo);

                            var blDate = data.blDate;
                            $('#txtBLDate').val(blDate.substr(0, 10));
                            //$('#txtBLDate').val(data.blDate);

                            $('#txtShippingMarks').val(data.shippingMarks);
                            $('#txtNWT').val(data.nwt);
                            $('#txtGWT').val(data.gwt);
                            $('#txtCBM').val(data.cbm);
                           
                            $('#ddlAdjustedNote').val(data.adjustedNote);
                            $('#txtAdjustedAmount').val(data.adjustedValue);
                            
                            
                            $('#ActionId').val(2);
                                window.scrollTo({ top: 0, behavior: 'smooth' });

                        }
                    });


                }
            }
            function makeDeletable(id) {
                if (id !== null) {
                    $('#shipmentInvoiesId').val(id);
                    $('#ActionId').val(3);

                }
            }
            function resetForm() {
                //$('#CMEarned').trigger("reset");
                $('#shipmentInvoiesFormId')[0].reset();
                $('#ActionId').val(1);
            }

    </script>
}
