﻿
@{
    ViewData["Title"] = "Export Realisation";
}



@model Erp.Core.Services.Shipment.VMShipmentExportRealisation
<section class="content-header">
    <h1>
        ShipmentExportRealisation


    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>     
        <li class="active">Export Realisation</li>
    </ol>
</section>
@using (Html.BeginForm("ShipmentExportRealisation", "Shipment", FormMethod.Post, new { id = "shipmentExportRealisationFormId", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="content">
        <div class="row">
            <div class="box">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="box-danger">
                    <div class="box-header">

                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">


                        <div class="row">
                            <!-- left column -->
                            <div class="col-md-4">
                                <!-- general form elements -->
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body" style="border:solid;border-color:lightgray">
                                    <div class="form-group">
                                        <label>Input Date</label>
                                        <input name="Date" asp-for="Date" type="text" value="@Model.Date.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtDate" placeholder="Date" autocomplete="off">

                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="form-group">
                                        <label>UD</label>

                                        @Html.DropDownListFor(model => model.Commercial_UDFK, Model.UDList as SelectList, "---Select Bill Of Exchange---", new { id = "CommercialUDFK", required = "required", @class = "form-control input-sm SerchingDropDown", @placeholder = "Bill Of Exchange" })
                                        @Html.ValidationMessageFor(model => model.Commercial_UDFK, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>ECI No</label>

                                        @Html.DropDownListFor(model => model.Commercial_ECIFK, Model.UDList as SelectList, "---Select Bill Nor---", new { id = "CommercialECIFK", required = "required", @class = "form-control input-sm SerchingDropDown", @placeholder = "Bill Of Exchange" })
                                        @Html.ValidationMessageFor(model => model.Commercial_ECIFK, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Bill of Exchange</label>

                                        @Html.DropDownListFor(model => model.Shipment_BillOfExchangeFK, Model.UDList as SelectList, "---Select Bill Nor---", new { id = "shipmentBillOfExchangeFK", required = "required", @class = "form-control input-sm SerchingDropDown", @placeholder = "Bill Of Exchange" })
                                        @Html.ValidationMessageFor(model => model.Shipment_BillOfExchangeFK, "", new { @class = "text-danger" })
                                    </div>


                                    <div class="form-group">
                                        <table class="table">
                                            <tr>
                                                <th>Value Date</th>
                                                <th>:</th>
                                                <td>@Model.ValueDate.ToString("yyyy-MM-dd")</td>
                                            </tr>
                                            <tr>
                                                <th>Bill Value</th>
                                                <th>:</th>
                                                <td>@Model.BillValue</td>
                                            </tr>
                                            <tr>
                                                <th>FDBC</th>
                                                <th>:</th>
                                                <td>@Model.FDBC</td>
                                            </tr>
                                            <tr>
                                                <th>FDBC Date</th>
                                                <th>:</th>
                                                <td>@Model.FDBCDate.ToString("yyyy-MM-dd")</td>
                                            </tr>
                                        </table>                                        
                                    </div>
                                   

                                </div>
                                <!-- /.box-body -->
                                <!-- /.box -->
                            </div>
                            <!--/.col (left) -->
                            <!-- left column -->
                            <div class="col-md-8">
                                <!-- general form elements -->
                                <!-- /.box-header -->
                                <!-- form start -->

                                <div class="box-body" style="border:solid;border-color:lightgray">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Driver Mobile</label>

                                                @Html.TextBoxFor(model => model.RealisedAmount, new { @class = "form-control input-sm", @placeholder = "Driver Mobile" })
                                                @Html.ValidationMessageFor(model => model.RealisedAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Driving License No</label>

                                                @Html.TextBoxFor(model => model.FcbParAmt, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.FcbParAmt, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Driving License No</label>

                                                @Html.TextBoxFor(model => model.ERQAmt, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.ERQAmt, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Dollar Value</label>

                                                @Html.TextBoxFor(model => model.DollarValue, new { @class = "form-control input-sm", @placeholder = "Driver Mobile" })
                                                @Html.ValidationMessageFor(model => model.DollarValue, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>Fx Trading</label>

                                                @Html.TextBoxFor(model => model.FxTrading, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.FxTrading, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Pc Adjust</label>

                                                @Html.TextBoxFor(model => model.PcAdjust, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.ERQAmt, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Buying Commission</label>

                                                @Html.TextBoxFor(model => model.BuyingCommission, new { @class = "form-control input-sm", @placeholder = "Driver Mobile" })
                                                @Html.ValidationMessageFor(model => model.BuyingCommission, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label>FDR</label>

                                                @Html.TextBoxFor(model => model.FdrAmount, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.FdrAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Courier Expense</label>

                                                @Html.TextBoxFor(model => model.CourierExpense, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.CourierExpense, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>RMG</label>

                                                @Html.TextBoxFor(model => model.RmgAmount, new { @class = "form-control input-sm", @placeholder = "Driver Mobile" })
                                                @Html.ValidationMessageFor(model => model.RmgAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label>AIT</label>

                                                @Html.TextBoxFor(model => model.AitAmount, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.AitAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label> SOD A/C</label>

                                                @Html.TextBoxFor(model => model.SodAcAmount, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.SodAcAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>CD Amount</label>

                                                @Html.TextBoxFor(model => model.CdAmount, new { @class = "form-control input-sm", @placeholder = "Driver Mobile" })
                                                @Html.ValidationMessageFor(model => model.CdAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label>Time Loan Amount</label>

                                                @Html.TextBoxFor(model => model.TimeLoanAmount, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.TimeLoanAmount, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label> Bill Purchase</label>

                                                @Html.TextBoxFor(model => model.BillPurchase, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.BillPurchase, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label>Doc Handling Charge</label>

                                                @Html.TextBoxFor(model => model.DocHandlingCharge, new { @class = "form-control input-sm", @placeholder = "Driver Mobile" })
                                                @Html.ValidationMessageFor(model => model.DocHandlingCharge, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <label>Others</label>

                                                @Html.TextBoxFor(model => model.Others, new { @class = "form-control input-sm", @placeholder = "DL No" })
                                                @Html.ValidationMessageFor(model => model.Others, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                       
                                    </div>
                                    @*<div class="form-group">
            <label>Lock No</label>

            @Html.TextBoxFor(model => model.LockNo, new { @class = "form-control input-sm", @placeholder = "Lock No" })
            @Html.ValidationMessageFor(model => model.LockNo, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label>In Time</label>

                <div class="input-group">
                    @Html.EditorFor(model => model.InTime, new { htmlAttributes = new { @class = "timepicker form-control input-sm", required = "required", @placeholder = "In Time" } })
                    @Html.ValidationMessageFor(model => model.InTime, "", new { @class = "text-danger" })

                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6">
                <label>Out Time</label>

                <div class="input-group">
                    @Html.EditorFor(model => model.OutTime, new { htmlAttributes = new { @class = "timepicker form-control input-sm", required = "required", @placeholder = "Out Time" } })
                    @Html.ValidationMessageFor(model => model.OutTime, "", new { @class = "text-danger" })

                    <div class="input-group-addon">
                        <i class="fa fa-clock-o"></i>
                    </div>
                </div>
            </div>
        </div>*@



                                    @*<div class="form-group">
            <label>Unloading Port</label>

            @Html.DropDownListFor(model => model.ShipmentUnloadingPortFk, Model.ShipmentUnloadingPortList as SelectList, "---Select Unloading Port---", new { required = "required", id = "CNFSuppliers", @class = "form-control input-sm SerchingDropDown", @placeholder = "Unloading Port" })
            @Html.ValidationMessageFor(model => model.ShipmentUnloadingPortFk, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label>Remarks</label>

            @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", @placeholder = "Remarks", @class = "form-control input-sm", style = "width:100%;" })
            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
        </div>*@
                                </div>

                            </div>
                            <!-- /.box-body -->

                        </div>



                        @*<div class="table-responsive col-md-12">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="center">Invoice ID </th>
                                        <th class="center">Buyer PO</th>
                                        <th class="center">Destination Country</th>
                                        <th class="center">Destination Port</th>
                                        <th class="center">Delivery Quantity(PCS)</th>
                                        <th class="center">Delivery Quantity(Pack)</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataListSlave)
                                    {

                                        <tr>
                                            <td>@(++sl)</td>
                                            <td>@item.InvoiceID</td>
                                            <td>@item.BuyerPO</td>
                                            <td>@item.Destination</td>
                                            <td>@item.PortNo</td>
                                            <td>@item.PcsQuantity</td>
                                            <td>@item.PackQuantity</td>
                                            <td>
                                                <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>

                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>*@

                       
                    </div>
                    <div class="box-footer">
                        @if (Model.ID > 0)
                        {
                            <a target="_blank" href="~/Shipment/DeliveryChallanePrint/@Model.ID" class="btn btn-primary" style="width:100%">Print</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete Challan Item</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "challanSlaveId" })

                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;Delete</button>&nbsp;

                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();


        });

        function makeDeletable(id) {
            if (id !== null) {
                $('#challanSlaveId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            $('#deliveryChallanSlaveFormId')[0].reset();
            $('#ActionId').val(1);
        }

    </script>
}
