﻿
@model Erp.Core.Services.Shipment.VMShipmentInvoiceSlave

@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Invoie</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

    <style>
        h4 {
            /*border-bottom: 2px solid black;
            display: inline;*/
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            /*text-transform: uppercase !important;*/
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            .summerytbl {
                width: 30%
            }

            #tableHeaderId {
                width: 100%
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>
</head>
<body class="hold-transition skin-blue">

    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <!-- Main content -->
    <section id="page" class="invoice" style="min-height: 900px;">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <span>
                        <img src="~/images/ROMO_Group_Logo.jpg" />
                    </span> Invoice
                    <small class="pull-right">Date: @DateTime.Now.ToString("dd/MM/yyyy")</small>
                </h2>
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row">

            <!-- /.col -->
            <div class="col-md-12">
                <table id="tableHeaderId" style="width:100%" class="table">

                    <tbody>
                        <tr>
                            <td width="18%"><b>Invoice No</b></td>
                            <td width="5%">:</td>
                            <td width="27%">@Model.InvoiceCID</td>

                            <td width="18%"><b>Invoice Date</b></td>
                            <td width="5%"></td>
                            <td width="27%">@Model.InvoiceDate.ToString("dd/MM/yyyy")</td>
                        </tr>
                        <tr></tr>
                        <tr>
                            <td><b>Buyer Invoice Reference</b></td>
                            <td>:</td>
                            <td>@Model.InvoiceIdNo</td>


                            <td><b>Terms of Shipment</b></td>
                            <td></td>
                            <td>@Model.TermsOfShipment</td>
                        </tr>


                        <tr>
                            <td><b>Export Permission(EXP) No</b></td>
                            <td>:</td>
                            <td>@Model.ExpNo</td>

                            <td><b>Shipped By</b></td>
                            <td>:</td>
                            <td>@Model.ShippedBy</td>
                        </tr>

                        <tr>
                            <td><b>ERC No</b></td>
                            <td>:</td>
                            <td>@Model.ErcNo</td>

                            <td><b>@Model.AdjustedNote</b></td>
                            <td>:</td>
                            <td>@Model.AdjustedValue</td>
                        </tr>
                        <tr>
                            <td><b>Export Permission(EXP) Date</b></td>
                            <td>:</td>
                            <td>@Model.ExpDate.ToString("dd/MM/yyyy")</td>

                            <td><b>Bill of Lading(BL) No</b></td>
                            <td>:</td>
                            <td>@Model.BLNo</td>
                        </tr>


                        <tr>
                            <td><b>Bill of Lading(BL) Date</b></td>
                            <td>:</td>
                            <td>@Model.BLDate.ToString("dd/MM/yyyy")</td>

                            <td><b>Port of Loading</b></td>
                            <td>:</td>
                            <td>@Model.PortOfLoading</td>
                        </tr>


                        <tr>
                            <td><b>Shipping Marks</b></td>
                            <td>:</td>
                            <td>@Model.ShippingMarks</td>

                            <td><b>Buyer Notify Partys</b></td>
                            <td>:</td>
                            <td>
                                <table>
                                    @foreach (var buyerNotifyPartys in Model.BuyerNotifyPartys)
                                    {
                                        <tr>
                                            <td>
                                                <span>
                                                    @buyerNotifyPartys.Name
                                                </span>
                                                <br />
                                                <span>
                                                    @buyerNotifyPartys.Address
                                                    @buyerNotifyPartys.CountryName
                                                </span>
                                                <br />
                                                <span>
                                                    @buyerNotifyPartys.Email
                                                </span>
                                                <br />
                                                @buyerNotifyPartys.Phone
                                            </td>
                                        </tr>
                                    }
                                </table>

                            </td>

                        </tr>

                    </tbody>
                </table>
            </div>

            @*<div class="col-sm-4 invoice-col">
                    <table class="table">

                        <tbody>






                        </tbody>
                    </table>
                </div>*@
        </div>
        <hr />
        <!-- /.row -->
        <!-- Table row -->
        <div class="row">
            <div class="col-xs-12 table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr style="border-bottom:2px solid black">
                            <th>SL</th>

                            <th>Buyer PO</th>
                            <th>Style</th>

                            <th>
                                Description of Goods
                            </th>
                            <th>
                                CTN Quantity
                            </th>
                            <th style="text-align:center;">Pack</th>

                            <th style="text-align:center;">PCS</th>
                            <th style="text-align:right;">Pack Price</th>
                            <th style="text-align:right;">Total Price</th>

                        </tr>
                    </thead>
                    @{
                        int sl = 0;
                        decimal grandTotal = 0;
                        decimal packQuantity = 0;
                        decimal pcsQuantity = 0;
                        //decimal packPrice = 0;
                        decimal cTNQuantity = 0;

                    }
                    <tbody>
                        @foreach (var item in Model.DataListSlave)
                        {
                            grandTotal += item.TotalPrice;
                            packQuantity += item.PackQuantity;

                            pcsQuantity += item.PcsQuantity;
                           
                            cTNQuantity += item.CTNQuantity;

                            <tr>
                                <td>@(++sl)</td>

                                <td>@item.BuyerPO</td>
                                <td>@item.Style</td>

                                <td>@item.DescriptionOfGoods</td>
                                <td style="text-align:center;">@item.CTNQuantity</td>

                                <td style="text-align:center;">@item.PackQuantity</td>

                                <td style="text-align:center;">@item.PcsQuantity</td>
                                <td style="text-align:right;">@item.PackPrice</td>

                                <td style="text-align:right;">@item.TotalPrice</td>

                            </tr>

                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th colspan="3">Grand Total</th>
                            <th style="text-align:right;">@cTNQuantity</th>
                            <th style="text-align:right;">@packQuantity</th>
                            <th style="text-align:right;">@pcsQuantity</th>
                            <th></th>
                            <th style="text-align:right;">$@grandTotal</th>

                        </tr>
                    </tfoot>
                </table>
            </div>


            <!-- /.col -->
        </div>
        <div class="row">
            <div class="col-md-4">
                <table class="table summerytbl">
                    <tbody>
                        <tr>
                            <th>CTN Quantity</th>
                            <th>:</th>
                            <th>@cTNQuantity</th>
                            <th>CTN</th>
                        </tr>
                        <tr>
                            <th>Pack Quantity </th>
                            <th>:</th>
                            <th>@packQuantity</th>
                            <th>Pack</th>

                        </tr>
                        <tr>
                            <th>Pcs Quantity</th>
                            <th>:</th>
                            <th>@pcsQuantity </th>
                            <th>Piece</th>

                        </tr>
                       
                        <tr>
                            <th>Grand Total Price</th>
                            <th>:</th>
                            <th>$@grandTotal</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

        <!-- /.row -->
        <!-- /.row -->
        <!-- this row will not appear when printing -->

    </section>

    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        function printDiv() {
            window.print();
        }
    </script>
</body>
</html>

