﻿@model Erp.Core.Services.Merchandising.VMStyle
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-body bg-grey">
                <form method="post" , new { id="formData" class="formValidator" }>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="ID" type="hidden" class="form-control" />
                    <input asp-for="ActionId" type="hidden" class="form-control" />
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div id="divddlCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Finish Category:</label>
                                @Html.DropDownListFor(model => model.Mkt_CategoryFK, ViewBag.OrderCategoryList as SelectList, "Select a Category", new { id = "Mkt_CategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Mkt_CategoryFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*<div class="col-lg-4 col-md-4">
                                <div id="divddlSubCategoryName" class="form-group" style="display:block">
                                    <label for="recipient-name" class="col-form-label">Finish Sub-Category:</label>
                                    @Html.DropDownListFor(model => model.Mkt_SubCategoryFK, new SelectList(string.Empty, "Value", "Text"), "Select a SubCategory", new { id = "Mkt_SubCategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.Mkt_SubCategoryFK, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div id="divddlItemName" class="form-group" style="display:block">
                                    <label for="recipient-name" class="col-form-label">Finish Item:</label>
                                    @Html.DropDownListFor(model => model.Mkt_ItemFK, new SelectList(string.Empty, "Value", "Text"), "Select a Item", new { id = "Mkt_ItemFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.Mkt_ItemFK, "", new { @class = "text-danger" })
                                </div>
                            </div>*@
                        <div class="col-lg-4 col-md-4">
                            <div id="divddlSubCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Finish Sub-Category:</label>
                                @Html.DropDownListFor(model => model.Mkt_SubCategoryFK, ViewBag.OrderSubCategoryList as SelectList, "Select a SubCategory", new { id = "Mkt_SubCategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Mkt_SubCategoryFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div id="divddlItemName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Finish Item:</label>
                                @Html.DropDownListFor(model => model.Mkt_ItemFK, ViewBag.OrderItemList as SelectList, "Select a Item", new { id = "Mkt_ItemFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Mkt_ItemFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="Fabrication" class="control-label"></label>
                                <input asp-for="Fabrication" class="form-control" required, autocomplete="off" />
                                <span asp-validation-for="Fabrication" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="PackQty" class="control-label"></label>
                                <input asp-for="PackQty" type="number" step="1" min=1 class="form-control" required />
                                <span asp-validation-for="PackQty" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="PackPieceQty" class="control-label"></label>
                                <input asp-for="PackPieceQty" type="number" step="1" min=1 class="form-control" required />
                                <span asp-validation-for="PackPieceQty" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="SetQuantity" class="control-label"></label>
                                <input asp-for="SetQuantity" type="number" step="1" min=1 class="form-control" required />
                                <span asp-validation-for="SetQuantity" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label asp-for="Class" class="control-label"></label>
                                <input asp-for="Class" class="form-control", required, autocomplete="off" />
                                <span asp-validation-for="Class" class="text-danger"></span>
                            </div>
                        </div>*@
                        @*<div class="col-lg-3 col-md-3">
            <div class="form-group">
                <label asp-for="PackPrice" class="control-label"></label>
                <input asp-for="PackPrice" type="number" step="any" min=1 class="form-control" required />
                <span asp-validation-for="PackPrice" class="text-danger"></span>
            </div>
        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block"><i class='fa fa-angle-double-down'></i> ADD</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.searchingDropdown').select2();
</script>