﻿@model Erp.Core.Services.Production.VMOrderAction

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            @using (Html.BeginForm("OrderAction", "Production", FormMethod.Post, new { id = "orderAction", @class = "formValidator" }))
            {
                <div class="box-body bg-grey">
                    @Html.HiddenFor(model => model.ID)
                    @Html.HiddenFor(model => model.ActionId)
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Action Name</label>
                                <input asp-for="Name" type="text" class="form-control" required autocomplete="off" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Action Serial</label>
                                <input asp-for="Priority" type="text" class="form-control" required autocomplete="off" />
                                <span asp-validation-for="Priority" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                            <div class="form-group">
                                <label class="control-label">Action Range in Day</label>
                                <input asp-for="ActionRange" type="text" class="form-control" required autocomplete="off" />
                                <span asp-validation-for="ActionRange" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-top:25px">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block btn-flat">@Model.BtnLavel</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
