﻿@model Erp.Core.Services.Production.VMOrderActionStep

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            @using (Html.BeginForm("OrderActionStep", "Production", FormMethod.Post, new { id = "orderActionStep", @class = "formValidator" }))
            {
            <div class="box-body bg-grey">
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.ActionId)
                @Html.HiddenFor(model => model.Plan_OrderActionFK)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Step Name</label>
                            <input asp-for="Name" type="text" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Step Short Name</label>
                            <input asp-for="StepCode" type="text" class="form-control" maxlength="2" required autocomplete="off" />
                            <span asp-validation-for="StepCode" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Step Serial</label>
                            <input asp-for="Priority" type="number" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="Priority" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Step Range in Day</label>
                            <input asp-for="DefaultRange" type="number" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="DefaultRange" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Critical Rate in %</label>
                            <input asp-for="ExtendedRange" type="number" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="ExtendedRange" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button type="submit" id="btnsave" class="btn btn-primary btn-block btn-flat">@Model.BtnLavel</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>
