﻿@model Erp.Core.Services.Inventory.VmInventory
@{
    ViewData["Title"] = "Inventory List Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var tdId = "tdId";
    var tdtitle = "tdtitle";
    var tddescription = "tddescription";
}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                         Inventory Details:
                        &nbsp;&nbsp;
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th class="hidden"></th>
                                    <th>Style No</th>
                                    <th>Item Name</th>
                                    <th>Inventory Type</th>
                                    @*<th>Transaction Type</th>*@
                                    <th>Quantity</th>
                                    <th>Unit Value</th>
                                    <th>Total Value</th>
                                    @*<th>Transaction Date</th>*@
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>

                                @foreach (var item in Model.DataList)
                                {
                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="@tdId@item.ID" class="hidden">
                                        @item.ID
                                        <input type="hidden" id="Common_RawItemFK_@item.ID" value="@item.Common_RawItemFK" />
                                    </td>
                                    <td>@item.StyleNo</td>
                                    <td>@item.ItemName</td>
                                    <td id="@tdtitle@item.ID">
                                        @if (item.StoreTypeFk == 1)
                                        {
                                            <span class="label label-success">RAW</span>
                                        }
                                        else if (item.StoreTypeFk == 2)
                                        {
                                            <span class="label label-success">WIP</span>
                                        }
                                        else if (item.StoreTypeFk == 3)
                                        {
                                            <span class="label label-success">FINISH</span>
                                        }
                                    </td>
                                    @*<td id="@tddescription@item.ID">@item.TransactionType</td>*@
                                    <td id="@tddescription@item.ID">
                                        @*<div class="input-group-addon">*@
                                        <label>@item.Amount</label>
                                        <span>@item.UnitName</span>
                                        @*</div>*@
                                    <td id="@tddescription@item.ID">@item.Price</td>
                                    <td id="@tddescription@item.ID">
                                        @String.Format("{0:0,0.00}", item.TotalPrice)
                                    </td>
                                    @*<td id="@tddate@item.ID">@item.Time.ToString("yyyy-MM-dd")</td>*@
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</section>
