﻿@model Erp.Core.Services.Commercial.VMCommercialUDSlave

@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>L/C Statement</title>
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/onsen/2.10.6/css/ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


    <style>
        h4 {
            border-bottom: 2px solid black;
            display: inline;
        }

        /*.footer {
            position: absolute;
            bottom: 0;
            left: 0;
            text-align: center;
        }*/

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px;
        }

        #page {
            background-color: #fff;
            width: 810px;
            margin: 0px auto;
            padding: 0 30px;
            font-size: 12px;
        }
       

        
        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px;
            }
            @@page {
                margin: 0;
            }

            /*body {
                margin: 1.6cm;
            }*/
            #haderTitle {
                color: white !important;
                background-color: black !important;
                font-weight: bold !important;
                border-radius: 25px;
                padding: 5px;
            }

            #haderTitleh3 {
                background-color: black !important;
                padding: 4px;
            }

            a[href]:after {
                content: none !important;
            }

            #print, #print * {
                display: none !important;
            }

           
        }
            /*div.divfooter {
                margin-top: 15px;
                bottom: 0;
                display: inherit;
            }*/
            /*#divfooter {
                display: block !important;
            }*/
        }
    </style>


    <script>
        function printDiv() {
            window.print();
        }
    </script>
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-default">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">

            @*-----------------Report Header-----------------*@

            <div class="text-center">
                <div class="row">
                    <p style="text-align: center; font-size: 22px; font-weight: bold;margin-bottom: 0;">ROMO FASHION TODAY LTD.</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold; margin-bottom: 0;">Mouchak, Kaliakoir, Gazipur, Bangladesh</p>
                    <p style="text-align: center; font-size: 12px; font-weight: bold;margin-bottom: 0;">Phone : 02-7914984, Email : info@romofashion.com</p>
                </div>
            </div>
            <hr style="width: 100%; color: black; height: 2px; background-color: black;">
            <div class="text-center">
                <div class="form-group">

                    <center>
                        <h3 id="haderTitleh3" style="background-color: black !important;padding: 4px;">
                            &nbsp;&nbsp; <span id="haderTitle" style="color:  white !important; background-color: black !important; font-weight: bold !important; border-radius: 25px;padding: 5px;">L/C Statement</span>
                        </h3>
                    </center>
                </div>
            </div>
            <br />
            <table style="width: 100%">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold">UD CID</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.VMCommercialUD.CID</td>
                        <td></td>
                        <td style="font-weight: bold"> Total PO Value(ECI)</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@String.Format("{0:0.00}", Model.VMCommercialUD.TotalBPOValue)</td>
                    </tr>
                    <tr>
                        <td style="font-weight: bold">UD Reference</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@Model.VMCommercialUD.Ref</td>
                        <td></td>
                        <td style="font-weight: bold"> BTB Document Limit (@Model.VMCommercialUD.LimitDeclaration %):</td>
                        <td style="font-weight: bold">:</td>
                        <td style="padding-left: 5px;">@String.Format("{0:0.00}", Model.VMCommercialUD.BTBDocumentLimitValue)</td>
                    </tr>

                </tbody>
            </table>
            <table style="width: 100%; margin-top: 10px">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold; vertical-align: top">UD Date</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>
                                <tr><td>@Model.VMCommercialUD.Date.ToString("dd/MM/yyyy")</td></tr>

                            </table>
                        </td>
                        <td></td>
                        <td style="font-weight: bold; vertical-align: top">Total BTB Document Value :</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>
                                <tr><td>@String.Format("{0:0.00}", Model.VMCommercialUD.BTBDocumentValue).</td></tr>

                            </table>

                        </td>
                    </tr>

                </tbody>
            </table>
            <table style="width: 100%; margin-top: 10px">
                <thead>
                    <tr>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                        <td style="width: 14%"></td>
                        <td style="width: 18%"></td>
                        <td style="width: 1%"></td>
                        <td style="width: 24%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="font-weight: bold; vertical-align: top">Buyer Name</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>

                                <tr><td>@Model.VMCommercialUD.CommonBuyerName</td></tr>
                            </table>
                        </td>
                        <td></td>
                        <td style="font-weight: bold; vertical-align: top"> Utilized Value</td>
                        <td style="font-weight: bold; vertical-align: top">:</td>
                        <td style="padding-left: 5px; vertical-align: top">
                            <table>
                                <tr><td>@String.Format("{0:0.00}", Model.VMCommercialUD.UtilizedValue)</td></tr>
                            </table>

                        </td>
                    </tr>

                </tbody>
            </table>
            <br />          

            <div style="font-weight: bold;font-size: 12px"> Export Commercial Information Details: </div>
            <table id="tbl1" border="1" style="width: 100%; font-size: 12px; margin-top: 15px;">
                <thead>

                    <tr style="text-align: center">
                        <th style="width: 5%; font-weight: bold;text-align: center;"> #SL </th>
                        <th style="width: 10%; font-weight: bold;text-align: left;"> ECI No </th>
                        <th style="width: 10%; font-weight: bold;text-align: center;"> ECI Date </th>
                        <th style="width: 15%; font-weight: bold;text-align: left;"> Applicant/Buyer Bank</th>
                        <th style="width: 10%; font-weight: bold;text-align: center;"> ECI Value </th>
                        <th style="width: 10%; font-weight: bold;text-align: center;"> PO Value </th>
                        <th style="width: 40%; font-weight: bold;text-align: center;"> Buyer Order Details</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int sl1 = 0;
                        decimal currentEciTotalValue = 0;
                        decimal totalValuePO = 0;
                        int eciCount = 1;

                        foreach (var item in Model.VmECI.DataList)
                        {
                            <tr>
                                <td style="text-align: center;"> &nbsp;@(++sl1)</td>
                                <td style="text-align: left;"> &nbsp;@item.ECINo</td>
                                <td style="text-align: center;"> &nbsp;@item.ECIDate.ToString("dd/MM/yyyy")</td>
                                <td style="text-align: left;"> &nbsp;@item.Common_BuyerBank</td>
                                <td style="text-align: right;padding:5px;"> &nbsp;@String.Format("{0:0.00}", item.CurrentTotalValue)</td>
                                <td style="text-align: right;padding:5px;"> &nbsp;@String.Format("{0:0.00}", item.TotalValuePO)</td>
                                <td>
                                    <table style="width:100%">
                                        @if (eciCount == 1)
                                        {
                                            <tr style="border-bottom:1px solid">
                                                <td style="width:30%;padding:5px;">CID</td>
                                                <td style="width:40%;padding:2px;">Pack Quantity</td>
                                                <td style="width:30%;padding:5px;">PO Value</td>
                                            </tr>
                                        }

                                        @foreach (var subItem in item.VMOrderList)
                                        {
                                            <tr style="border-bottom:1px solid">
                                                <td style="width:40%;padding:5px;">@subItem.CID </td>
                                                <td style="width:30%;padding:5px;">@String.Format("{0:0.00}", subItem.TotalOrderPackQuntity) </td>
                                                <td style="width:30%;padding:5px;">@String.Format("{0:0.00}", subItem.BuyerPOValue) </td>
                                            </tr>


                                        }

                                    </table>
                                </td>

                            </tr>


                            currentEciTotalValue += item.CurrentTotalValue;
                            totalValuePO += item.TotalValuePO;
                            eciCount++;
                        }
                    }
                    <tr style="font-weight: bold; font-size: 14px;">
                        <td></td>
                        <td colspan="3" style="text-align: center">Grand Total</td>
                        <td style="text-align: right;padding:5px">@String.Format("{0:0.00}", currentEciTotalValue) </td>
                        <td style="text-align: right;padding:5px">@String.Format("{0:0.00}", totalValuePO)</td>
                        <td style="text-align: right;padding:5px">@String.Format("{0:0.00}", totalValuePO)</td>

                    </tr>
                </tbody>

                <tfoot>
                    <tr style="font-weight: bold; font-size: 14px;">
                        <td colspan="4" style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

            <div style="font-weight: bold;font-size: 12px"> BBLC Details: </div>
            <table id="tbl1" border="1" style="width: 100%; font-size: 12px; margin-top: 15px;">
                <thead>
                    <tr style="text-align: center;">
                        <th style="width: 5%; font-weight: bold;text-align: center;"> #SL </th>
                        <th style="width: 10%; font-weight: bold;text-align: left;"> BB No </th>
                        <th style="width: 10%; font-weight: bold;text-align: center;"> Date </th>
                        <th style="width: 15%; font-weight: bold;text-align: left;"> Supplier </th>
                        <th style="width: 10%; font-weight: bold;text-align: center;"> BB Value </th>
                        <th style="width: 10%; font-weight: bold;text-align: center;"> PO Value</th>
                        <td style="width: 40%; font-weight: bold;text-align: center;">PO Details</td>

                    </tr>
                </thead>
                <tbody>
                    @{
                        int sl2 = 0;
                        decimal currentTotalValue = 0;
                        double totalPurchaseOrderalue = 0;
                        int subCount = 1;


                        foreach (var item in Model.VmBBLC.DataList)
                        {

                            <tr>
                                <td style="text-align: center"> &nbsp;@(++sl2)</td>
                                <td style="text-align: left"> &nbsp;@item.BBNo</td>
                                <td style="text-align: center"> &nbsp;@item.LCDate.ToString("dd/MM/yyyy")</td>
                                <td style="text-align: left"> &nbsp;@item.Common_Supplier</td>
                                <td style="text-align: right;padding:5px;"> &nbsp;@String.Format("{0:0.00}", item.CurrentTotalValue)</td>
                                <td style="text-align: right;padding:5px;"> &nbsp; @String.Format("{0:0.00}", item.TotalPurchaseOrderalue)</td>
                                <td>
                                    <table border="0" style="font-weight: bold;font-size: 12px;width:100%;">
                                        @if (subCount == 1)
                                        {
                                            <tr style="border-bottom:1px solid">
                                                <th colspan="2" style="width: 55%;padding:5px;">IPO</th>
                                                <th style="width: 45%;padding:5px;text-align: right;">PO Value</th>
                                            </tr>
                                        }
                                       
                                        @foreach (var subItem in item.VMPurchaseOrderList)
                                        {
                                            <tr style="border-bottom:1px solid">
                                                <td style="width: 55%;padding:5px;">@subItem.CID </td>
                                                <td>:</td>
                                                <td style="width: 45%;padding:5px;text-align: right;">@String.Format("{0:0.00}", subItem.TotalPOValue) </td>

                                            </tr>
                                           
                                        }

                                    </table>
                                </td>

                            </tr>


                            currentTotalValue += item.CurrentTotalValue;
                            totalPurchaseOrderalue += item.TotalPurchaseOrderalue;
                            subCount++;
                        }
                    }
                    <tr style="font-weight: bold; font-size: 14px;">
                        <td></td>
                        <td colspan="3" style="text-align: center">Grand Total</td>
                        <td style="text-align: right;padding:5px;">@String.Format("{0:0.00}", currentTotalValue)</td>
                        <td style="text-align: right;padding:5px;">@String.Format("{0:0.00}", totalPurchaseOrderalue)</td>
                        <td style="text-align: right;padding:5px;">@String.Format("{0:0.00}", totalPurchaseOrderalue)</td>


                    </tr>
                </tbody>
                @*<tfoot>
                        <tr style="font-weight: bold; font-size: 14px;">
                            <td colspan="3" style="text-align: center">Grand Total</td>
                            <td style="text-align: center">@ttlctn</td>
                            <td style="text-align: center">@ttlpack</td>
                            <td></td>
                        </tr>
                    </tfoot>*@
                <tfoot>
                    <tr style="font-weight: bold; font-size: 14px;">
                        <td colspan="4" style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td style="text-align: center"></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>

            @*<div style="font-weight: bold; font-size: 12px;padding-top: 5px">
                Received the above in good condition & found no discrepancy.

            </div>*@



        </div>

        <div id="divfooter" class="divfooter text-center footer">
            <table style="margin-top: 150px">
                <thead>
                    <tr>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                        <td style="width: 20%"></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Receiver’s Signature </span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Ware House Incharge</span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;">Ware House Manage</span></td>
                        <td style="text-align: center;"><span style="border-top: 2px solid #000000;">PM/FM</span></td>
                        <td style="text-align: center;"> <span style="border-top: 2px solid #000000;">Director/Managing Director</span></td>
                    </tr>
                </tbody>
            </table>
        </div>



    </div>
    <!-- /.content -->
    <!-- /.content-wrapper -->
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/js/demo.js"></script>

    <script>
        $(function () {
            SummerizeTable('#tbl1', 1);
            SummerizeTable('#tbl1', 5);
        });
        function SummerizeTable(table, indexno) {
            $(table).each(function () {
                $(table).find('td').each(function () {
                    var $this = $(this);
                    var col = indexno;
                    var html = $this.html();
                    var row = $(this).parent()[0].rowIndex;
                    var span = 1;
                    var cell_above = $($this.parent().prev().children()[col]);

                    // look for cells one above another with the same text
                    while (cell_above.html() === html) { // if the text is the same
                        span += 1; // increase the span
                        cell_above_old = cell_above; // store this cell
                        cell_above = $(cell_above.parent().prev().children()[col]); // and go to the next cell above
                    }

                    // if there are at least two columns with the same value,
                    // set a new span to the first and hide the other
                    if (span > 1) {
                        // console.log(span);
                        $(cell_above_old).attr('rowspan', span);
                        $this.hide();
                    }

                });
            });
        }
    </script>
</body>
</html>


