﻿@{
    ViewData["Title"] = "UD Detail Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal totalEciValue = 0;
}

@model Erp.Core.Services.Commercial.VMCommercialUDSlave


<section class="content-header">
    <h1>
        Export Commercial Information

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Export Commercial Information</li>
    </ol>
</section>



<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-success box-solid">
                <div class="box-body">
                    <h4 style="text-align:center;height:35px;padding:8px" class="bg-success">
                        UD Details
                        &nbsp; <a href="~/Commercial/CommercialUDDetailsPrint/@Model.ID"><span class="glyphicon glyphicon-print"></span></a>
                    </h4>
                    <div class="col-md-1"> </div>
                    <div class="col-md-10">
                        <table class="table table-striped" style="padding:0px">
                            <tr>
                                <td width="20%"><b>CID</b></td>
                                <td width="3%">:</td>
                                <td width="27%">@Model.VMCommercialUD.CID</td>
                                <th width="30%">
                                    Total PO Value(ECI)
                                </th>
                                <th width="3%">:</th>
                                <td width="17%" style="text-align:right;">@String.Format("{0:0.00}", Model.VMCommercialUD.TotalBPOValue) </td>

                            </tr>
                            <tr>
                                <td><b>UD NO</b></td>
                                <td></td>
                                <td>@Model.VMCommercialUD.Ref</td>


                                <th>
                                    BTB Document Limit (@Model.VMCommercialUD.LimitDeclaration %):
                                </th>
                                <th>:</th>
                                <th style="text-align:right;">@String.Format("{0:0.00}", Model.VMCommercialUD.BTBDocumentLimitValue)</th>



                            </tr>
                            <tr>
                                <td><b>UD Date</b></td>
                                <td>:</td>
                                <td>@Model.VMCommercialUD.Date.ToString("dd/MM/yyyy")</td>



                                <th>
                                    Total BTB Document Value :
                                </th>
                                <th>:</th>
                                <th style="text-align:right;">@String.Format("{0:0.00}", Model.VMCommercialUD.BTBDocumentValue)</th>



                            </tr>
                            <tr>
                                <td><b>Buyer Name</b></td>
                                <td>:</td>
                                <td>@Model.VMCommercialUD.CommonBuyerName</td>



                                <th>
                                    Utilized Value
                                </th>
                                <th>:</th>
                                <td style="text-align:right;">@String.Format("{0:0.00}", Model.VMCommercialUD.UtilizedValue)</td>



                            </tr>
                            <tr>
                                <td><b>Remarks</b></td>
                                <td>:</td>
                                <td>@Model.VMCommercialUD.Remarks</td>
                                <th>
                                    Remaining Value
                                    @{
                                        var remainingValue = decimal.Subtract(Model.VMCommercialUD.BTBDocumentValue, Convert.ToDecimal(Model.VMCommercialUD.UtilizedValue));
                                    }
                                </th>
                                <th>:</th>
                                <td style="text-align:right;">@String.Format("{0:0.00}", remainingValue)</td>

                            </tr>
                            <tr>
                                <td><b>Scaned File</b></td>
                                <td>:</td>
                                <td style="text-align:center;">
                                    @if (Model.VMCommercialUD.ScanedFile != null)
                                    {
                                        <a href="@Model.VMCommercialUD.ScanedFile" target="_blank"><i class="glyphicon glyphicon-file"></i></a>

                                    }
                                    else
                                    {
                                        <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                        </div>
                                    }
                                </td>


                            </tr>

                        </table>
                    </div>
                    <div class="col-md-1"> </div>

                </div>

                <!-- /.box-header -->
                <!-- /.box-body -->
                <div class="box-footer"></div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box box-warning">
                        <div class="box-header custom bg-success" id="generalHead">
                            <h4>
                                ECI List:
                                <a onclick="attachECIInfoInUD(@Model.VMCommercialUD.ID,@Model.VMCommercialUD.Common_BuyerFk);" class="linkPointer" data-toggle="modal" data-target="#addECIinUDModal" title="Delete"
                                   data-placement="top">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                </a>

                            </h4>
                        </div>
                        <!-- /.box-header   -->
                        <div class="box-body">
                            <!--Body Will by Start Here-->
                            <div class="table-responsive">
                                <table id="tableY" class="table table-striped text-nowrap">
                                    <thead>
                                        <tr class="bg-success">
                                            <th> SL </th>
                                            <th> Payment Method </th>
                                            <th> CID </th>

                                            <th> ECI No </th>
                                            <th> ECI Date </th>
                                            <th> Applicant/Buyer </th>
                                            <th> Applicant/Buyer Bank </th>
                                            <th> Lien Bank </th>
                                            <th> Company Bank </th>
                                            <th>
                                                Amendment Value
                                            </th>
                                            <th> ECI Value </th>
                                            <th>Current Total Value</th>

                                            <th style="text-align:center;">
                                                Buyer Order Details
                                            </th>

                                            <th>Scaned File</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    @{
                                        int sl = 0;
                                        int ssl = 0;
                                        decimal totalPoValue = 0;
                                        int totalOrderPackQuntity = 0;


                                    }
                                    <tbody>
                                        @foreach (var item in Model.VmECI.DataList)
                                        {
                                            totalEciValue += item.CurrentTotalValue;
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td>@item.Common_ECIType</td>
                                            <td>@item.CID</td>


                                            <td>
                                                <a href="~/Commercial/CommercialECI/@item.ID">@item.ECINo</a>

                                            </td>
                                            <td>@item.ECIDate.ToString("yyyy-MM-dd")</td>
                                            <td>@item.Common_Applicant</td>
                                            <td>@item.Common_BuyerBank</td>
                                            <td>@item.Common_LienBank</td>
                                            <td>@item.Common_CompanyBank</td>
                                            <td>
                                                <a class="linkPointer" data-toggle="modal" data-target="#showValueAmendmentModal_@sl" title="Amendment Value Details"
                                                   data-placement="top">
                                                    @item.ValueAmendment
                                                </a>


                                                <div class="modal fade" id="showValueAmendmentModal_@sl" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                                    &times;
                                                                </button>
                                                                <h4 style="text-align:center;" class="modal-title"><b>Amendment value of @item.ECINo</b></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table style="text-align:center;" class="table">
                                                                    <tr>
                                                                        <th style="text-align:center;">
                                                                            Date
                                                                        </th>
                                                                        <th style="text-align:center;">
                                                                            Amendment Value
                                                                        </th>
                                                                    </tr>
                                                                    @foreach (var eciValueAmendment in item.VMECIValueAmendmentList)
                                                                    {
                                                                        <tr>
                                                                            <td>@eciValueAmendment.Time.ToString("yyyy-MM-dd")</td>
                                                                            <td>@eciValueAmendment.ValueAmendment</td>
                                                                        </tr>
                                                                    }

                                                                </table>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal">Close</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>

                                            <td>@item.TotalValue</td>
                                            <td>
                                                @item.CurrentTotalValue

                                            </td>

                                            <td>
                                                <table class="table table-bordered">
                                                    @foreach (var order in item.VMOrderList)
                                                    {
                                                        totalPoValue += order.BuyerPOValue;
                                                        totalOrderPackQuntity += order.TotalOrderPackQuntity;
                                                    <tr>
                                                        <th>@(++ssl)</th>
                                                        <th>@order.CID</th>
                                                        <th>@order.TotalOrderPackQuntity</th>

                                                        <th style="text-align:right;">@String.Format("{0:0.00}", order.BuyerPOValue)</th>

                                                    </tr>

                                                    }
                                                    @if (totalPoValue > 0)
                                                    {
                                                    <tr>
                                                        <th></th>
                                                        <th>Total Value</th>
                                                        <th>@totalOrderPackQuntity</th>

                                                        <th style="text-align:right;">@String.Format("{0:0.00}", totalPoValue)</th>
                                                        <th></th>

                                                    </tr>
                                                    }

                                                </table>
                                            </td>

                                            <td>
                                                @if (item.ScanedFile != null)
                                                {
                                                    <a href="@item.ScanedFile" target="_blank"><i class="glyphicon glyphicon-file"></i></a>

                                                }
                                                else
                                                {
                                                    <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                                    </div>
                                                }
                                            </td>
                                            <th>
                                                @if (!item.IsClose)
                                                {
                                                    <a onclick="detachECIFromUDModalIdInfo(@item.ID,@Model.VMCommercialUD.ID);" class="linkPointer" data-toggle="modal" data-target="#detachECIFromUDModalId" title="Remove"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-scissors" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="label label-warning">
                                                        Closed
                                                    </span>
                                                }

                                            </th>
                                        </tr>
                                            ssl = 0;
                                            totalPoValue = 0;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box box-danger">
                        <div class="box-header custom bg-success" id="generalHead">
                            <h4>
                                BBLC List:
                                <a onclick="attachBBInfoInUD(@Model.VMCommercialUD.ID);" class="linkPointer" data-toggle="modal" data-target="#addBBinUDModal" title="Delete"
                                   data-placement="top">
                                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                                </a>

                            </h4>
                        </div>
                        <!-- /.box-header   -->
                        <div class="box-body">
                            <div class="table-responsive col-md-12">
                                <div class="table-responsive">
                                    <table id="tableX" class="table table-striped text-nowrap">
                                        <thead>
                                            <tr class="bg-success">
                                                <th> SL </th>

                                                <th> Payment Method </th>
                                                <th> CID </th>
                                                <th> BB No </th>
                                                <th> Date </th>
                                                <th> Supplier </th>

                                                <th>
                                                    Amendment Value
                                                </th>
                                                <th> BB Value </th>
                                                <th>Current Total Value</th>

                                                <th style="text-align:center;">
                                                    PO Details
                                                </th>
                                                <th>Scaned File</th>
                                                <th>Remove</th>
                                            </tr>
                                        </thead>
                                        @{
                                            int bbsl = 0;
                                            int bbssl = 0;
                                            double bbtotalPoValue = 0;
                                        }
                                        <tbody>
                                            @foreach (var item in Model.VmBBLC.DataList)
                                            {
                                            <tr>
                                                <td>@(++bbsl)</td>
                                                <td>@item.Common_LcType</td>
                                                <td>@item.CID</td>

                                                <td>
                                                    <a href="~/Commercial/CommercialBackToBack/@item.ID"> @item.BBNo</a>

                                                </td>
                                                <td>@item.LCDate.ToString("yyyy-MM-dd")</td>
                                                <td>@item.Common_Supplier</td>
                                                <td>
                                                    <a class="linkPointer" data-toggle="modal" data-target="#showBBValueAmendmentModal_@bbsl" title="Amendment Value Details"
                                                       data-placement="top">
                                                        @item.ValueAmendment
                                                    </a>
                                                    <div class="modal fade" id="showBBValueAmendmentModal_@bbsl" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                                        <div class="modal-dialog">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                                        &times;
                                                                    </button>
                                                                    <h4 style="text-align:center;" class="modal-title"><b>Amendment value of @item.BBNo</b></h4>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <table style="text-align:center;" class="table">
                                                                        <tr>
                                                                            <th style="text-align:center;">
                                                                                Date
                                                                            </th>
                                                                            <th style="text-align:center;">
                                                                                Amendment Value
                                                                            </th>
                                                                        </tr>
                                                                        @foreach (var x in item.VMBBLCValueAmendmentList)
                                                                        {
                                                                            <tr>
                                                                                <td>@x.Time.ToString("yyyy-MM-dd")</td>
                                                                                <td>@x.ValueAmendment</td>
                                                                            </tr>
                                                                        }

                                                                    </table>
                                                                </div>

                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal">Close</button>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>@item.BBValue</td>
                                                <td>
                                                    @item.CurrentTotalValue
                                                </td>
                                                <td>
                                                    <table class="table table-bordered">
                                                        @foreach (var order in item.VMPurchaseOrderList)
                                                        {
                                                            bbtotalPoValue += order.TotalPOValue;
                                                            <tr>
                                                                <th>@(++bbssl)</th>
                                                                <th>@order.CID</th>
                                                                <th style="text-align:right;">@String.Format("{0:0.00}", order.TotalPOValue)</th>
                                                            </tr>

                                                        }
                                                        @if (totalPoValue > 0)
                                                        {
                                                            <tr>
                                                                <th></th>
                                                                <th>Total Value</th>
                                                                <th style="text-align:right;">@String.Format("{0:0.00}", totalPoValue)</th>
                                                                <th></th>

                                                            </tr>
                                                        }

                                                    </table>
                                                </td>

                                                <td>
                                                    @if (item.ScanedFile != null)
                                                    {
                                                        <a href="@item.ScanedFile" target="_blank"><i class="glyphicon glyphicon-file"></i></a>

                                                    }
                                                    else
                                                    {
                                                        <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                                        </div>
                                                    }
                                                </td>
                                                <th>
                                                    @if (!item.IsClose)
                                                    {
                                                        <a onclick="detachBBFromUDModalIdInfo(@item.ID,@Model.VMCommercialUD.ID);" class="linkPointer" data-toggle="modal" data-target="#detachBBFromUDModalId" title="Remove"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-scissors" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <span class="label label-warning">
                                                            Closed
                                                        </span>
                                                    }


                                                </th>


                                            </tr>
                                                bbssl = 0;
                                                bbtotalPoValue = 0;
                                                totalOrderPackQuntity = 0;
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<form asp-action="DeleteECI" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="deleteEciModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remove Buyer PO From ECI</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "txtECIDeleteId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "ECIDeleteActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this ECI?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

@*Complete*@
<form asp-action="DetachECIFromUD" asp-controller="Commercial" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="detachECIFromUDModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remove Buyer ECI From UD</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.VmECI.Commercial_UDFk, new { id = "txtDetachECICommercial_UDFk" })

                    @Html.HiddenFor(model => model.VmECI.ID, new { id = "txtDetachECIFromUDId" })
                    @Html.HiddenFor(model => model.VmECI.ActionId, new { id = "DetachECIFromUDActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to remove this PO?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-minus-square">&nbsp; Remove</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>
@*Complete*@
<form asp-action="DetachBBFromUD" asp-controller="Commercial" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="detachBBFromUDModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remove ECI From UD</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.VmBBLC.Commercial_UDFk, new { id = "txtDetachBBCommercial_UDFk" })

                    @Html.HiddenFor(model => model.VmBBLC.ID, new { id = "txtDetachBBFromUDId" })
                    @Html.HiddenFor(model => model.VmBBLC.ActionId, new { id = "DetachBBFromUDActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to remove this PO?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-minus-square">&nbsp; Remove</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>
@*Complete*@
<div class="modal fade" id="addECIinUDModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="MappingECIInUD" asp-controller="Commercial" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Add ECI in UD</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.VmECI.Commercial_UDFk, new { Value = "", id = "txtUDIDForEci" })
                                @Html.HiddenFor(model => model.VmECI.ActionId, new { Value = "1", id = "ActionIdForAddEci" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    <label>ECI No</label>
                                    @Html.DropDownListFor(model => model.VmECI.Commercial_ECIListFk, Model.VmECI.Commercial_ECIList, new { id = "ddlCommercial_UDListFk", @style = "width:100%", @class = "searchingDropdown form-control", multiple = "multiple", })
                                    @Html.ValidationMessageFor(model => model.VmECI.Commercial_ECIListFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>
@*Complete*@
<div class="modal fade" id="addBBinUDModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="MappingBBInUD" asp-controller="Commercial" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Add BBLC in UD</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.VmBBLC.Commercial_UDFk, new { id = "txtUDIDForBB" })
                                @Html.HiddenFor(model => model.VmBBLC.ActionId, new { id = "ActionIdForAddBB" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label>BBLC</label>

                                    @Html.DropDownListFor(model => model.VmBBLC.Commercial_BBListFk, Model.VmBBLC.Commercial_BBList, new { id = "ddlCommercial_BBListFk", @style = "width:100%", @class = "searchingDropdown form-control", multiple = "multiple", })
                                    @Html.ValidationMessageFor(model => model.VmBBLC.Commercial_BBListFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalMappingUDInECI" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="MappingUDInECI" asp-controller="Commercial" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Mapping UD in ECI</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.VmECI.ID, new { Value = "", id = "txtMappingUDIEci" })
                                @Html.HiddenFor(model => model.VmECI.ActionId, new { id = "MappingUDIEciActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label>UD</label>

                                    @Html.DropDownListFor(model => model.VmECI.Commercial_UDFk, Model.VmECI.Commercial_UDList, new { id = "ddlCommercial_UDFk", @style = "width:100%", @class = "searchingDropdown form-control" })
                                    @Html.ValidationMessageFor(model => model.VmECI.Commercial_UDFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>



@using (Html.BeginForm("CommercialBackToBack", "Commercial", FormMethod.Post, new { id = "BBLCformId", @class = "backToBackformValidator", method = "post", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

}
<form asp-action="DeleteBacktoBack" class="backToBackformValidator">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="deleteBBModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete BBLC</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.VmBBLC.ID, new { id = "txtBacktoBackDeleteId" })
                    @Html.HiddenFor(model => model.VmBBLC.ActionId, new { id = "BackToBackDeleteActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this BBLC Info?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetBackToBackForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="DetachSupplierPoFromBB" class="backToBackformValidator">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="detachSupplierPoModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remove Supplier PO From BB</b></h5>
                </div>
                <div class="modal-body">

                    @Html.HiddenFor(model => model.VmBBLC.Procurement_PurchaseOrderFk, new { id = "txtDetachSpplierPoFromBBId" })
                    @Html.HiddenFor(model => model.VmBBLC.ActionId, new { id = "DetachSupplierPoActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to remove this PO?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetBackToBackForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-minus-square">&nbsp; Remove</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="addProcurementPurchaseOrderModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="AddSupplierPO" class="backToBackformValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetBackToBackForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Add Supplie PO in BB</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.VmBBLC.ID, new { Value = "", id = "txtBBIDForAddSupplierPO" })
                                @Html.HiddenFor(model => model.VmBBLC.ActionId, new { id = "BBAddPOActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label>Buyer Order</label>

                                    @Html.DropDownListFor(model => model.VmBBLC.Procurement_PurchaseOrderListFk, Model.VmBBLC.Procurement_PurchaseOrderList, new { id = "ddlProcurement_PurchaseOrderListFk", @style = "width:100%", @class = "searchingDropdown form-control", multiple = "multiple", })
                                    @Html.ValidationMessageFor(model => model.VmBBLC.Procurement_PurchaseOrderListFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetBackToBackForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalMappingUDInBackToBack" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="MappingUDInBB" asp-controller="Commercial" class="backToBackformValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetBackToBackForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Mapping UD in BB</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.VmBBLC.ID, new { Value = "", id = "txtMappingUDInBackToBack" })
                                @Html.HiddenFor(model => model.VmBBLC.ActionId, new { id = "MappingUDInBackToBackActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label>UD</label>

                                    @Html.DropDownListFor(model => model.VmBBLC.Commercial_UDFk, Model.VmECI.Commercial_UDList, new { id = "ddlCommercial_UDFk", @style = "width:100%", @class = "searchingDropdown form-control" })
                                    @Html.ValidationMessageFor(model => model.VmBBLC.Commercial_UDFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetBackToBackForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>




@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $('.backToBackformValidator').bootstrapValidator();
        });
        @*function addBuyerOrderInfo(eciId, buyerId) {
            if (eciId !== null && buyerId !== null) {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("MerchandisingBuyerOrderByBuyerId", "Commercial")",
                    datatype: "Json",
                    data: { id: buyerId},
                    success: function (data) {
                        debugger;
                        var items = "";

                        if (data) {
                            $("#ddlMerchandising_BuyerOrderListFk").empty();
                            $("#ddlMerchandising_BuyerOrderListFk").append("<option value=''>==Select Buyer Order==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlMerchandising_BuyerOrderListFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });


                        }
                    }
                });

                $('#txtEciIDForAddBuyerPo').val(eciId);
                $('#EciActionId').val(1);

            }
        }*@


         @*function mappingUDInfo(eciId, buyerId) {
            if (eciId !== null && buyerId !== null) {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("MappingUDByBuyerIdWithECI", "Commercial")",
                    datatype: "Json",
                    data: { id: buyerId},
                    success: function (data) {
                        debugger;
                        var items = "";

                        if (data) {
                            $("#ddlCommercial_UDFk").empty();
                            $("#ddlCommercial_UDFk").append("<option value='0'>==Select UD Reference==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommercial_UDFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });


                        }
                    }
                });

                $('#txtMappingUDIEci').val(eciId);
                $('#MappingUDIEciActionId').val(1);

            }
        }*@
        function attachECIInfoInUD(udId,buyerId) {
            if (udId !== null && buyerId !== null) {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("MappingECIWithUD", "Commercial")",
                    datatype: "Json",
                    data: { id: buyerId },
                    success: function (data) {
                        debugger;
                        var items = "";

                        if (data) {
                            $("#ddlCommercial_UDListFk").empty();
                            $("#ddlCommercial_UDListFk").append("<option value=''>==Select ECI No==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommercial_UDListFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });


                        }
                    }
                });

                $('#txtUDIDForEci').val(udId);
                $('#ActionIdForAddEci').val(5);

            }
        }
        function attachBBInfoInUD(udId) {
            if (udId !== null) {
                $('#txtUDIDForBB').val(udId);
                $('#ActionIdForAddBB').val(5);
                //Get Back to Back Value
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("MappingBBWithUD", "Commercial")",
                    datatype: "Json",
                    success: function (data) {
                        debugger;
                        var items = "";
                        if (data) {
                            $("#ddlCommercial_BBListFk").empty();
                            $("#ddlCommercial_BBListFk").append("<option value=''>==Select BBLC==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommercial_BBListFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });


                        }
                    }
                });
                
            }
        }
        function detachECIFromUDModalIdInfo(id, UdID) {

                if (id !== null) {
                    $('#txtDetachECIFromUDId').val(id);
                    $('#txtDetachECICommercial_UDFk').val(UdID)
                    $('#DetachECIFromUDActionId').val(3);
                }
        }
        function detachBBFromUDModalIdInfo(id, UdID) {

            if (id !== null) {
                $('#txtDetachBBFromUDId').val(id);
                $('#txtDetachBBCommercial_UDFk').val(UdID)
                $('#DetachBBFromUDActionId').val(3);
            }
        }
        
        //    function deleteEciInfo(id) {
        //        if (id !== null) {
        //            $('#txtECIDeleteId').val(id);
        //            $('#ECIDeleteActionId').val(3);
        //        }
        //}
        //function resetForm() {
        //    $('#ECIformId')[0].reset();
        //    $('#ActionId').val(1);
        //}

        @*function editEciInfo(eciId) {

            if (eciId !== null) {

                    $.ajax({
                    type: "GET",
                        url: "@Url.Action("SingleECIJson", "Commercial")",
                        datatype: "Json",
                        data: { id: eciId},
                        success: function (data) {
                        debugger;

                            if (data) {
                                console.log(data);
                                $('#txtECIId').val(data.id);
                                $('#ActionId').val(2);
                                $('#ddlCommonECITypeFK').val(data.common_ECITypeFK).change();
                                $('#txtECINo').val(data.eciNo);
                                var ciDate = data.eciDate;
                                $('#txtECIDate').val(ciDate.substr(0, 10));
                                $('#ddlCommonBuyerFK').val(data.common_BuyerFK).change();
                                $('#ddlBuyerNotifyPartyFk').val(data.common_BuyerNotifyPartyFk).change();
                                $('#ddlBuyerBank').val(data.common_BuyerBankFK).change();
                                $('#ddlCompanyBank').val(data.common_CompanyBankFK).change();
                                $('#ddlLienBank').val(data.common_LienBankFK).change();
                                $('#ddlCommonCurrencyFK').val(data.common_CurrencyFK).change();
                                $('#txtTotalValue').val(data.totalValue);
                                $('#txtTolerance').val(data.tolerance);

                                var expDate = data.expiryDate;
                                $('#txtExpiryDate').val(expDate.substr(0, 10));
                                var shipDate = data.shipmentDate;
                                $('#txtShipmentDate').val(shipDate.substr(0, 10));
                                $('#txtValueAmendment').val(data.valueAmendment);
                                $('#txtDestination').val(data.remarks);
                                $('#txtScanedFile').val(data.scanedFile);
                                $('#txtCommercialUDFk').val(data.commercial_UDFk).change();


                            }

                        }


                });


            }

        }*@

        //Back To Back


        @*function addProcurementPOInfo(bbId, supplierId) {
            if (bbId !== null && supplierId !== null) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("ProcurementPurchaseOrderBySypplierId", "Commercial")",
                    datatype: "Json",
                    data: { id: supplierId},
                    success: function (data) {
                        debugger;
                        var items = "";

                        if (data) {
                            $("#ddlProcurement_PurchaseOrderListFk").empty();
                            $("#ddlProcurement_PurchaseOrderListFk").append("<option value=''>==Select Buyer Order==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlProcurement_PurchaseOrderListFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });
                        }
                    }
                });

                $('#txtBBIDForAddSupplierPO').val(bbId);
                $('#BBAddPOActionId').val(1);
            }
        }*@

        @*function mappingUDInfoInBB(bbId) {
             if (bbId !== null) {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("MappingUDWithBB", "Commercial")",
                    datatype: "Json",
                    success: function (data) {
                        debugger;
                        if (data) {
                            $("#ddlCommercial_UDFk").empty();
                            $("#ddlCommercial_UDFk").append("<option value=''>==Select UD Reference==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommercial_UDFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });
                        }
                    }
                });
                 $('#txtMappingUDInBackToBack').val(bbId);
                 $('#MappingUDInBackToBackActionId').val(1);
            }
        }*@

        //function detachSupplierPoFromBBInfo(id) {
        //        if (id !== null) {
        //            $('#txtDetachSpplierPoFromBBId').val(id);
        //            $('#DetachSupplierPoActionId').val(4);
        //        }
        //    }
        //function deleteBackToBackInfo(id) {
        //        if (id !== null) {
        //            $('#txtBacktoBackDeleteId').val(id);
        //            $('#BackToBackDeleteActionId').val(3);
        //        }
        //}
        //function resetBackToBackForm() {
        //    $('#BBLCformId')[0].reset();
        //    $('#BBActionId').val(1);
        //}

        @*function editBackToBackInfo(bbId) {

            if (bbId !== null) {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("SingleBBLCJson", "Commercial")",
                    datatype: "Json",
                    data: { id: bbId},
                    success: function (data) {
                        if (data) {
                            console.log(data);
                            $('#txtBBLCId').val(data.id);
                            $('#BBActionId').val(2);
                            $('#txtScanedFile').val(data.scanedFile);
                            $('#txtBBCommercialUDFk').val(data.commercial_UDFk).change();
                            $('#ddlCommonBBTypeFK').val(data.common_LcTypeFK).change();
                            $('#txtBBNo').val(data.bbNo);
                            var lcDate = data.lcDate;
                            $('#txtBBLCDate').val(lcDate.substr(0, 10));
                            $('#ddlCommercialLCOreginFK').val(data.commercial_LCOreginFK).change();
                            $('#ddlCommonSupplierFK').val(data.common_SupplierFK).change();
                            $('#txtBBTolerance').val(data.tolerance);
                            $('#txtBBTotalValue').val(data.bbValue);
                            $('#ddlBBCommonCurrencyFK').val(data.common_CurrencyFK).change();
                            $('#txtBBValueAmendment').val(data.amendment);
                            $('#txtBBRemarks').val(data.remarks);

                        }
                    }
                });

            }
        }*@

    </script>

}
