﻿@model Erp.Core.Services.Commercial.VMCommercialUD

@{
    ViewData["Title"] = "UD Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content-header">
    <h1>
        UD Information

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">UD Information</li>
    </ol>
</section>

@using (Html.BeginForm("CommercialUD", "Commercial", FormMethod.Post, new { id = "commercialUDformId", @class = "formValidator", method = "post", enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-success box-solid">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">Add UD</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive col-md-12">

                                        @Html.HiddenFor(model => model.ID, new { id = "txtUDId" })
                                        @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                                        @Html.HiddenFor(model => model.ScanedFile, new { id = "txtScanedFile" })


                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                        <div class="row">

                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label"> UD No:</label>
                                                    @Html.TextBoxFor(model => model.Ref, new { id = "txtUDNo", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.Ref, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label ">UD Date:</label>
                                                    <input name="Date" asp-for="Date" type="text" value="@Model.Date.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtUDDate" placeholder="UD Date" autocomplete="off">

                                                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Applicant (Buyer):</label>
                                                    @Html.DropDownListFor(model => model.Common_BuyerFk, ViewBag.Buyer as SelectList, "Select Applicant(Buyer)", new { id = "ddlCommonBuyerFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_BuyerFk, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">BBLC Limit Declaration (%):</label>
                                                    @Html.TextBoxFor(model => model.LimitDeclaration, "{0:#.#}", new { Value = "", id = "txtLimitDeclaration", placeholder = "0.00", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.LimitDeclaration, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Remarks:</label>
                                                    @Html.TextAreaFor(model => model.Remarks, new { id = "txtRemarks", placeholder = "Remarks", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6 col-sm-6 col-xs-6" for="ScanedFile">Relevant Document Upload</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <input type="file" id="ScanedFile" name="ScanedFile" class="file-preview upload">
                                                        <span class="field-validation-valid " data-valmsg-for="ScanedFile" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <div class="col-md-4">
                                        <button type="button" style="width:100%" onclick="reloadForm()" class="btn btn-warning fa fa-refresh">&nbsp;Reset</button>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-success fa fa-plus">&nbsp;Save</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--Body Will by Start Here-->
                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive col-md-12">
                            <div class="table-responsive">
                                <table id="tableX" class="table table-striped text-nowrap">
                                    <thead>
                                        <tr class="bg-success">
                                            <th>Action </th>
                                            <th>SL </th>
                                            <th>CID </th>
                                            <th>UD ID </th>
                                            <th>UD Date </th>
                                            <th>Buyer </th>
                                            <th style="text-align:center;">BBBLC Limit Declaration(%)</th>
                                            <th style="text-align:center;">Export Commercial Information</th>

                                            <th>Remarks</th>
                                            <th>Scaned File</th>
                                            <th>Close/Reopen</th>
                                        </tr>
                                    </thead>
                                    @{
                                        int sl = 0;
                                        int ssl = 0;
                                        decimal totalECIValue = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataList)
                                        {
                                        <tr>
                                            <td>
                                                @if (!item.IsClose)
                                                {
                                                    <a id="@item.ID" onclick="editUDInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#eciModal" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a onclick="deleteUDInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteUDModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>

                                                }
                                                else
                                                {
                                                    <span class="label label-warning">
                                                        Closed
                                                    </span>
                                                }
                                            </td>
                                            <td>@(++sl)</td>
                                            <td>
                                                @Html.ActionLink(@item.CID, "CommercialUDDetails", new { Id = item.ID }, new { @title = "UD Details Information", @target = "_blank" })
                                            </td>
                                            <td>@item.Ref </td>
                                            <td>@item.Date.ToString("yyyy-MM-dd")</td>
                                            <td>@item.CommonBuyerName </td>
                                            <td>@item.LimitDeclaration</td>

                                            <td>
                                                <table class="table table-bordered">
                                                    @foreach (var order in item.VmECIList)
                                                    {
                                                        totalECIValue += order.TotalValue;
                                                        <tr>

                                                            <th>@(++ssl)</th>
                                                            <th>
                                                                <a href="CommercialECI/@order.ID">@order.ECINo</a>
                                                            </th>
                                                            <th style="text-align:right;">@String.Format("{0:0.00}", order.TotalValue)</th>
                                                            <th>
                                                                @if (!order.IsClose)
                                                                {
                                                                    <a onclick="detachBuyerPoFromECIInfo(@order.ID);" class="linkPointer" data-toggle="modal" data-target="#detachBuyerPoModalId" title="Delete"
                                                                       data-placement="top">
                                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <span class="label label-warning">
                                                                        Closed
                                                                    </span>
                                                                }


                                                            </th>
                                                        </tr>
                                                    }
                                                    @if (totalECIValue > 0)
                                                    {
                                                        <tr>
                                                            <th></th>
                                                            <th>Total Value</th>
                                                            <th style="text-align:right;">

                                                                @String.Format("{0:0.00}", totalECIValue)
                                                            </th>
                                                            <th></th>

                                                        </tr>
                                                    }

                                                </table>
                                            </td>
                                            <td>@item.Remarks</td>
                                            <td>
                                                @if (item.ScanedFile != null)
                                                {
                                                    <a href="@item.ScanedFile" target="_blank"><i class="glyphicon glyphicon-file"></i></a>

                                                }
                                                else
                                                {
                                                    <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                                    </div>
                                                }
                                            </td>



                                            <td>
                                                @if (item.IsClose)
                                                {
                                                    <a onclick="ReOpenUDInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#reopenUDModal" title="Reopen UD"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-eye-close" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="~/Commercial/CommercialUDDetailsPrint/@item.ID"><span class="glyphicon glyphicon-print"></span></a>
                                                }
                                                else
                                                {
                                                    <a onclick="CloseUDInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#closeUDModal" title="Close UD"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                                                    </a>
                                                    <a href="~/Commercial/CommercialUDDetailsPrint/@item.ID"><span class="glyphicon glyphicon-print"></span></a>

                                                }
                                            </td>
                                        </tr>
                                            ssl = 0;
                                            totalECIValue = 0;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer"></div>
                </div>
            </div>
        </div>
    </section>

}
<div class="modal fade" id="deleteUDModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="CommercialUDDelete" asp-controller="Commercial" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Delete UD</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "txtUDDeleteId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "ActionDeleteId" })
                    <div style="text-align: center">
                        <h3>Are you sure to delete this UD?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">Cancel</button>
                    <button type="submit" id="btnsave" class="btn btn-primary fa fa-trash-o"> Delete </button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="closeUDModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="CommercialUDClose" asp-controller="Commercial" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Close UD</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "txtUDCloseId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "ActionCloseId" })
                    <div style="text-align: center">
                        <h3>Are you sure to close this UD?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">Cancel</button>

                    </div>
                    <div class="col-md-9">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary fa fa-trash-o">Close</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="reopenUDModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="CommercialUDReOpen" asp-controller="Commercial" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Reopen UD</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "txtUDReOpenId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "ActionReOpenId" })
                    <div style="text-align: center">
                        <h3>Are you sure to Reopen this UD?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">Cancel</button>

                    </div>
                    <div class="col-md-9">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary fa fa-trash-o">Reopen</button>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {

             $('.formValidator').bootstrapValidator();
             $(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');//nop commerce
             $('.searchingDropdown').select2();


        });




             function editUDInfo(udId) {

                 if (udId !== null) {

                    $.ajax({
                    type: "GET",
                        url: "@Url.Action("SingleUdJson", "Commercial")",
                        datatype: "Json",
                        data: { id: udId},
                        success: function (data) {
                            if (data) {
                                console.log(data);
                                $('#txtUDId').val(data.id);
                                $('#ActionId').val(2);
                                $('#txtScanedFile').val(data.scanedFile);
                                $('#txtUDNo').val(data.ref);
                                $('#ddlCommonBuyerFK').val(data.common_BuyerFk).change();
                                $('#txtLimitDeclaration').val(data.limitDeclaration);
                                $('#txtRemarks').val(data.remarks);
                                var udDate = data.date;
                                $('#txtUDDate').val(udDate.substr(0, 10));

                                window.scrollTo({ top: 0, behavior: 'smooth' });

                            }
                        }
                    });
                }
             }



        function resetForm() {
                

                $('#commercialUDformId')[0].reset();
                $('#ActionId').val(1);
            }
         function reloadForm() {
                location.reload();

               
                $('#ActionId').val(1);
            }

            function deleteUDInfo(id) {
                if (id !== null) {
                $('#txtUDDeleteId').val(id);
                $('#ActionDeleteId').val(3);
                }
            }
            function CloseUDInfo(id) {
                if (id !== null) {
                    $('#txtUDCloseId').val(id);
                    $('#ActionCloseId').val(7);
                }
            }
            function ReOpenUDInfo(id) {
                if (id !== null) {
                    $('#txtUDReOpenId').val(id);
                    $('#ActionReOpenId').val(9);
                }
            }

    </script>
    <style type="text/css">
        .modal-header {
            padding: 10px;
        }

        .breadcrumb {
            margin-bottom: 0px;
        }
    </style>

}