﻿@{
    ViewData["Title"] = "BB Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

   
}

@model Erp.Core.Services.Commercial.VmBBLC

<section class="content-header">
    <h1>
    BBLC
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">BBLC</li>
    </ol>
</section>


@using (Html.BeginForm("CommercialBackToBack", "Commercial", FormMethod.Post, new { id = "BBLCformId", @class = "backToBackformValidator", method = "post", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-success box-solid">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">Add BBLC</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive col-md-12">
                                        @Html.HiddenFor(model => model.BaseHeadId)

                                        @Html.HiddenFor(model => model.ID, new { id = "txtBBLCId" })
                                        @Html.HiddenFor(model => model.ActionId, new { id = "BBActionId" })
                                        @Html.HiddenFor(model => model.ScanedFile, new { id = "txtScanedFile" })
                                        @Html.HiddenFor(model => model.Commercial_UDFk, new { id = "txtBBCommercialUDFk" })


                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Payment Method:</label>
                                                    @Html.DropDownListFor(model => model.Common_LcTypeFK, ViewBag.LcTypeList as IEnumerable<SelectListItem>, "Select Payment Method", new { id = "ddlCommonBBTypeFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_LcTypeFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label"> BBLC No:</label>
                                                    @Html.TextBoxFor(model => model.BBNo, new { id = "txtBBNo", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.BBNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label ">Date:</label>
                                                    <input name="LCDate" asp-for="LCDate" type="text" value="@Model.LCDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="LCDate" placeholder="L/C Date" autocomplete="off">

                                                    @Html.ValidationMessageFor(model => model.LCDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Origin:</label>
                                                    @Html.DropDownListFor(model => model.Commercial_LCOreginFK, ViewBag.CommercialLCOreginList as SelectList, "Select Origin", new { id = "ddlCommercialLCOreginFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Commercial_LCOreginFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Supplier:</label>
                                                    @Html.DropDownListFor(model => model.Common_SupplierFK, ViewBag.Common_SupplierList as SelectList, "Select Supplier", new { id = "ddlCommonSupplierFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_SupplierFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Value Tolerance(%):</label>
                                                    @Html.TextBoxFor(model => model.Tolerance, "{0:#.#}", new { Value = "", id = "txtBBTolerance", placeholder = "0.00", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                                    @Html.ValidationMessageFor(model => model.Tolerance, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Total Value:</label>
                                                    @Html.TextBoxFor(model => model.BBValue, "{0:#.#}", new { Value = "", id = "txtBBTotalValue", placeholder = "0.00", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                                    @Html.ValidationMessageFor(model => model.BBValue, "", new { @class = "text-danger" })
                                                </div>  
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Currency:</label>
                                                    @Html.DropDownListFor(model => model.Common_CurrencyFK, ViewBag.Common_CurrencyList as SelectList, "Select Currency", new { id = "ddlBBCommonCurrencyFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_CurrencyFK, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Value Amendment:</label>
                                                    @Html.TextBoxFor(model => model.ValueAmendment, new { id = "txtBBValueAmendment", @class = "form-control", placeholder = "0.00", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.ValueAmendment, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Commercial UD:</label>
                                                    @Html.DropDownListFor(model => model.Commercial_UDFk, ViewBag.CommercialUDList as SelectList, "Commercial UD", new { id = "ddlCommercialUDFk", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Commercial_UDFk, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                            <div class="col-md-8">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Remarks:</label>
                                                    @Html.TextAreaFor(model => model.Remarks, new { id = "txtBBRemarks", placeholder = "Remarks", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6 col-sm-6 col-xs-6" for="ScanedFile">Relevant Document Upload</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <input type="file" id="ScanedFile" name="ScanedFile" class="file-preview upload">
                                                        <span class="field-validation-valid " data-valmsg-for="ScanedFile" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <div class="col-md-4">
                                        <button type="button" style="width:100%" onclick="reloadForm()" class="btn btn-warning fa fa-refresh">&nbsp;Refresh</button>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-success fa fa-plus">&nbsp;Save</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--Body Will by Start Here-->
                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive col-md-12">
                            <div class="table-responsive">
                                <table id="tableX" class="table table-striped text-nowrap">
                                    <thead>
                                        <tr class="bg-success">
                                            <th> Action </th>

                                            <th> SL </th>
                                            <th> Payment Method </th>
                                            <th> CID </th>

                                            <th> BB No </th>
                                            <th> Date </th>
                                            <th> Supplier </th>

                                            <th>
                                                Amendment Value
                                            </th>
                                            <th> BB Value </th>
                                            <th>Current Total Value</th>
                                            <th> UD Reference </th>
                                            <th style="text-align:center;">
                                                PO Details
                                            </th>

                                            <th>Scaned File</th>
                                            <th> Add Buyer PO</th>
                                        </tr>
                                    </thead>
                                    @{
                                        int sl = 0;
                                        int ssl = 0;
                                        double totalPoValue = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataList)
                                        {
                                        <tr>
                                            <td>
                                                @if (!item.IsClose)
                                                {
                                                    <a id="@item.ID" onclick="editBackToBackInfo(@item.ID);" class="linkPointer" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a onclick="deleteBackToBackInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteBBModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span>
                                                        &nbsp;
                                                    </span>
                                                }


                                            </td>
                                            <td>@(++sl)</td>
                                            <td>@item.Common_LcType</td>
                                            <td>@item.CID</td>

                                            <td>@item.BBNo</td>
                                            <td>@item.LCDate.ToString("yyyy-MM-dd")</td>
                                            <td>@item.Common_Supplier</td>
                                            <td>
                                                <a class="linkPointer" data-toggle="modal" data-target="#showValueAmendmentModal_@sl" title="Amendment Value Details"
                                                   data-placement="top">
                                                    @item.ValueAmendment
                                                </a>


                                                <div class="modal fade" id="showValueAmendmentModal_@sl" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                                    &times;
                                                                </button>
                                                                <h4 style="text-align:center;" class="modal-title"><b>Amendment value of @item.BBNo</b></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table style="text-align:center;" class="table">
                                                                    <tr>
                                                                        <th style="text-align:center;">
                                                                            Date
                                                                        </th>
                                                                        <th style="text-align:center;">
                                                                            Amendment Value
                                                                        </th>
                                                                    </tr>
                                                                    @foreach (var eciValueAmendment in item.VMBBLCValueAmendmentList)
                                                                    {
                                                                        <tr>
                                                                            <td>@eciValueAmendment.Time.ToString("yyyy-MM-dd")</td>
                                                                            <td>@eciValueAmendment.ValueAmendment</td>
                                                                        </tr>
                                                                    }

                                                                </table>
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal">Close</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>
                                            <td>@item.BBValue</td>
                                            <td>
                                                @item.CurrentTotalValue
                                            </td>
                                            <td>
                                                @if (!item.IsClose)
                                                {
                                                    if (item.Commercial_UDFk > 0)
                                                    {
                                                        <button type="button" style="width:100%;padding:0px;" id="@item.ID" onclick="mappingUDInfoInBB(@item.ID,@item.Common_SupplierFK);" data-toggle="modal" data-target="#modalMappingUDInBackToBack" title="Change UD Reference"
                                                                data-placement="top" class="btn btn-success fa fa-edit linkPointer">
                                                            &nbsp; @item.Common_UDNo
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" style="width:100%;padding:0px;" id="@item.ID" onclick="mappingUDInfoInBB(@item.ID,@item.Common_SupplierFK);" data-toggle="modal" data-target="#modalMappingUDInBackToBack" title="Add UD Reference"
                                                                data-placement="top" class="btn btn-success fa fa-plus linkPointer">
                                                            &nbsp; @item.Common_UDNo
                                                        </button>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="label label-warning" style="width:100%;">

                                                        <b>
                                                            &nbsp;&nbsp;&nbsp;@item.Common_UDNo &nbsp;&nbsp;&nbsp;
                                                        </b>
                                                    </span>

                                                }


                                            </td>
                                            <td>
                                                <table class="table table-bordered">
                                                    @foreach (var order in item.VMPurchaseOrderList)
                                                    {
                                                        totalPoValue += order.TotalPOValue;
                                                        <tr>
                                                            <th>@(++ssl)</th>
                                                            <th>@order.CID</th>
                                                            <th style="text-align:right;">@String.Format("{0:0.00}", order.TotalPOValue)</th>
                                                            <th>
                                                                @if (!item.IsClose)
                                                                {
                                                                    <a onclick="detachSupplierPoFromBBInfo(@order.ID);" class="linkPointer" data-toggle="modal" data-target="#detachSupplierPoModalId" title="Delete"
                                                                       data-placement="top">
                                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <span>
                                                                        &nbsp;
                                                                    </span>
                                                                }

                                                            </th>
                                                        </tr>

                                                    }
                                                    @if (totalPoValue > 0)
                                                    {
                                                        <tr>
                                                            <th></th>
                                                            <th>Total Value</th>
                                                            <th style="text-align:right;">@String.Format("{0:0.00}", totalPoValue)</th>
                                                            <th></th>

                                                        </tr>
                                                    }

                                                </table>
                                            </td>

                                            <td>
                                                @if (item.ScanedFile != null)
                                                {
                                                    <a href="@item.ScanedFile" target="_blank"><i class="glyphicon glyphicon-file"></i></a>

                                                }
                                                else
                                                {
                                                    <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                                    </div>
                                                }
                                            </td>

                                            <td>
                                                @if (!item.IsClose)
                                                {
                                                    <button type="button" style="width:100%;padding:0px;" id="@item.ID" onclick="addProcurementPOInfo(@item.ID,@item.Common_SupplierFK);" data-toggle="modal" data-target="#addProcurementPurchaseOrderModal" title="Edit"
                                                            data-placement="top" class="btn btn-success fa fa-plus linkPointer">
                                                        &nbsp; Add Supplier PO
                                                    </button>
                                                }
                                                else
                                                {
                                                    <span class="label label-warning">
                                                        Closed
                                                    </span>
                                                }


                                            </td>


                                        </tr>
                                            ssl = 0;
                                            totalPoValue = 0;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer"></div>
                </div>
            </div>
        </div>
    </section>
}
    <form asp-action="DeleteBacktoBack" class="backToBackformValidator">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="modal fade" id="deleteBBModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Delete BBLC</b></h5>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(model => model.ID, new { id = "txtBacktoBackDeleteId" })
                        @Html.HiddenFor(model => model.ActionId, new { id = "BackToBackDeleteActionId" })
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div style="text-align:center">
                            <h3>Are you sure to Delete this BBLC Info?</h3>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="col-md-3">
                            <button type="button" onclick="resetBackToBackForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                        </div>
                        <div class="col-md-9">
                            <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </form>

<form asp-action="DetachSupplierPoFromBB" class="backToBackformValidator">
    
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="detachSupplierPoModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remove Supplier PO From BB</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Procurement_PurchaseOrderFk, new { id = "txtDetachSpplierPoFromBBId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "DetachSupplierPoActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to remove this PO?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetBackToBackForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-minus-square">&nbsp; Remove</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="addProcurementPurchaseOrderModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="AddSupplierPO" class="backToBackformValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetBackToBackForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Add Supplie PO in BB</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "txtBBIDForAddSupplierPO" })
                                @Html.HiddenFor(model => model.ActionId, new { id = "BBAddPOActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label>Purchase Order</label>

                                    @Html.DropDownListFor(model => model.Procurement_PurchaseOrderListFk, Model.Procurement_PurchaseOrderList, new { id = "ddlProcurement_PurchaseOrderListFk", @style = "width:100%", @class = "searchingDropdown form-control", multiple = "multiple", })
                                    @Html.ValidationMessageFor(model => model.Procurement_PurchaseOrderListFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetBackToBackForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalMappingUDInBackToBack" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="MappingUDInBB" asp-controller="Commercial" class="backToBackformValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetBackToBackForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Mapping UD in BB</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "txtMappingUDInBackToBack" })
                                @Html.HiddenFor(model => model.ActionId, new { id = "MappingUDInBackToBackActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label>UD</label>

                                    @Html.DropDownListFor(model => model.Commercial_UDFk, Model.Commercial_UDList, new { id = "ddlCommercial_UDFk", @style = "width:100%", @class = "searchingDropdown form-control" })
                                    @Html.ValidationMessageFor(model => model.Commercial_UDFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetBackToBackForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.backToBackformValidator').bootstrapValidator();
            
        });
        function addProcurementPOInfo(bbId, supplierId) {
            if (bbId !== null && supplierId !== null) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("ProcurementPurchaseOrderBySypplierId", "Commercial")",
                    datatype: "Json",
                    data: { id: supplierId},
                    success: function (data) {
                        debugger;
                        var items = "";

                        if (data) {
                            $("#ddlProcurement_PurchaseOrderListFk").empty();
                            $("#ddlProcurement_PurchaseOrderListFk").append("<option value=''>==Select Buyer Order==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlProcurement_PurchaseOrderListFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });
                        }
                    }
                });

                $('#txtBBIDForAddSupplierPO').val(bbId);
                $('#BBAddPOActionId').val(1);
            }
        }

        function mappingUDInfoInBB(bbId) {
             if (bbId !== null) {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("MappingUDWithBB", "Commercial")",
                    datatype: "Json",                   
                    success: function (data) {
                        debugger;                        
                        if (data) {
                            $("#ddlCommercial_UDFk").empty();
                            $("#ddlCommercial_UDFk").append("<option value=''>==Select UD Reference==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommercial_UDFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });
                        }
                    }
                });
                 $('#txtMappingUDInBackToBack').val(bbId);
                 $('#MappingUDInBackToBackActionId').val(1);
            }
        }

        function detachSupplierPoFromBBInfo(id) {
                if (id !== null) {
                    $('#txtDetachSpplierPoFromBBId').val(id);
                    $('#DetachSupplierPoActionId').val(4);
                }
            }
        function deleteBackToBackInfo(id) {
                if (id !== null) {
                    $('#txtBacktoBackDeleteId').val(id);
                    $('#BackToBackDeleteActionId').val(3);
                }
        }
        function resetBackToBackForm() {
              $('#BBLCformId')[0].reset();
            $('#BBActionId').val(1);
        }
        function reloadForm() {
                location.reload();

               
                $('#ActionId').val(1);
            }
        function editBackToBackInfo(bbId) {

            if (bbId !== null) {
                
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("SingleBBLCJson", "Commercial")",
                    datatype: "Json",
                    data: { id: bbId},
                    success: function (data) {
                        if (data) {
                            console.log(data);
                            $('#txtBBLCId').val(data.id);
                            $('#BBActionId').val(2);
                            $('#txtScanedFile').val(data.scanedFile);
                            $('#txtBBCommercialUDFk').val(data.commercial_UDFk).change();
                            $('#ddlCommonBBTypeFK').val(data.common_LcTypeFK).change();
                            $('#txtBBNo').val(data.bbNo);
                            var lcDate = data.lcDate;
                            $('#txtBBLCDate').val(lcDate.substr(0, 10));
                            $('#ddlCommercialUDFk').val(data.commercial_UDFk).change();
                            $('#ddlCommercialLCOreginFK').val(data.commercial_LCOreginFK).change();
                            $('#ddlCommonSupplierFK').val(data.common_SupplierFK).change();                           
                            $('#txtBBTolerance').val(data.tolerance);
                            $('#txtBBTotalValue').val(data.bbValue);                           
                            $('#ddlBBCommonCurrencyFK').val(data.common_CurrencyFK).change();
                            $('#txtBBValueAmendment').val(data.amendment);
                            $('#txtBBRemarks').val(data.remarks);

                                window.scrollTo({ top: 0, behavior: 'smooth' });


                        }
                    }
                });

            }
        }

    </script>

   
}
