﻿@{
    ViewData["Title"] = "Export Commercial Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@model Erp.Core.Services.Commercial.VmECI

<section class="content-header">
    <h1>
        Export Commercial Information

    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Home/Index"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Export Commercial Information</li>
    </ol>
</section>


@using (Html.BeginForm("ECI", "Commercial", FormMethod.Post, new { id = "ECIformId", @class = "formValidator", method = "post", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <section class="content">
        <div class="row">
            <div class="box">
                <div class="box-success box-solid">
                    <div class="box-body">
                        <div class="col-md-12">
                            <div class="box box-success box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title" style="text-align:center">Add ECI</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                    </div>
                                    <!-- /.box-tools -->
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="table-responsive col-md-12">
                                        @Html.HiddenFor(model => model.BaseHeadId)

                                        @Html.HiddenFor(model => model.ID, new { id = "txtECIId" })
                                        @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
                                        @Html.HiddenFor(model => model.ScanedFile, new { id = "txtScanedFile" })
                                        @Html.HiddenFor(model => model.Commercial_UDFk, new { id = "txtCommercialUDFk" })


                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                        @*<div class="form-group col-md-6 hidden">
            <label for="message-text" class="col-form-label"> Ud No:</label>
            @Html.TextBoxFor(model => model.Common_UDFK, new { id = "txt", placeholder = "UD No", @readonly = "readonly", @class = "form-control" })
        </div>*@
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Payment Method:</label>
                                                    @Html.DropDownListFor(model => model.Common_ECITypeFK, ViewBag.LcTypeList as IEnumerable<SelectListItem>, "Select Payment Method", new { id = "ddlCommonECITypeFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_ECITypeFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-5">

                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label"> ECI No:</label>
                                                    @Html.TextBoxFor(model => model.ECINo, new { id = "txtECINo", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.ECINo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label ">ECI Date:</label>
                                                    <input name="ECIDate" asp-for="ECIDate" type="text" value="@Model.ECIDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtECIDate" placeholder="ECI Date" autocomplete="off">

                                                    @Html.ValidationMessageFor(model => model.ECIDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Applicant (Buyer):</label>
                                                    @Html.DropDownListFor(model => model.Common_BuyerFK, ViewBag.BuyerApplicantList as SelectList, "Select Applicant(Buyer)", new { id = "ddlCommonBuyerFK", @class = "form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_BuyerFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Buyer Notify Party:</label>
                                                    @Html.DropDownListFor(model => model.Common_BuyerNotifyPartyFk, ViewBag.BuyerNotifyParty as SelectList, "Select Payment Method", new { id = "ddlBuyerNotifyPartyFk", @class = "form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_BuyerNotifyPartyFk, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Applicant’s Bank:</label>
                                                    @Html.DropDownListFor(model => model.Common_BuyerBankFK, ViewBag.BuyerBankList as SelectList, "Select Buyer Bank", new { id = "ddlBuyerBank", @class = "form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_BuyerBankFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Company/ Receiving Bank:</label>
                                                    @Html.DropDownListFor(model => model.Common_CompanyBankFK, ViewBag.CompanyBankList as SelectList, "Select Company Bank", new { id = "ddlCompanyBank", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_CompanyBankFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Lien Bank:</label>
                                                    @Html.DropDownListFor(model => model.Common_LienBankFK, ViewBag.LienBankList as SelectList, "Select Lien Bank", new { id = "ddlLienBank", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_LienBankFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label"> Currency :</label>
                                                    @Html.DropDownListFor(model => model.Common_CurrencyFK, ViewBag.Currency as SelectList, "Select Currency", new { id = "ddlCommonCurrencyFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                                    @Html.ValidationMessageFor(model => model.Common_CurrencyFK, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Total Value:</label>
                                                    @Html.TextBoxFor(model => model.TotalValue, "{0:#.#}", new { Value = "", id = "txtTotalValue", placeholder = "0.00", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })
                                                    @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Value Tolerance(%):</label>
                                                    @Html.TextBoxFor(model => model.Tolerance, "{0:#.#}", new { Value = "", id = "txtTolerance", type = "number", step = "0.01", min = 0, placeholder = "0.00", @class = "form-control", required = "true", autocomplete = "off" })

                                                    @*@Html.TextBoxFor(model => model.Tolerance, new { id = "txtTolerance", placeholder = "Value Tolerance(%)", @class = "form-control", required = "true", maxlength = "50", minlength = "1", data_bv_stringlength_message = "The name must be more than 1 and less than 50 characters" })*@
                                                    @Html.ValidationMessageFor(model => model.Tolerance, "", new { @class = "text-danger" })
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Expiry Date:</label>
                                                    <input name="ExpiryDate" asp-for="ExpiryDate" type="text" value="@Model.ExpiryDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtExpiryDate" placeholder="Date" autocomplete="off">

                                                    @Html.ValidationMessageFor(model => model.ExpiryDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Final Shipment Date:</label>
                                                    <input name="ShipmentDate" asp-for="ShipmentDate" type="text" value="@Model.ShipmentDate.ToString("yyyy-MM-dd")" required="required" class="datePicker form-control" id="txtShipmentDate" placeholder="Final Shipment Date" autocomplete="off">

                                                    @Html.ValidationMessageFor(model => model.ShipmentDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Value Amendment:</label>
                                                    @Html.TextBoxFor(model => model.ValueAmendment, new { id = "txtValueAmendment", @class = "form-control", required = "true" })
                                                    @Html.ValidationMessageFor(model => model.ValueAmendment, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-5">
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Remarks:</label>
                                                    @Html.TextAreaFor(model => model.Remarks, new { id = "txtDestination", placeholder = "Remarks", @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="control-label col-md-6 col-sm-6 col-xs-6" for="ScanedFile">Relevant Document Upload</label>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <input type="file" id="ScanedFile" name="ScanedFile" class="file-preview upload">
                                                        <span class="field-validation-valid " data-valmsg-for="ScanedFile" data-valmsg-replace="true"></span>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>



                                    </div>
                                </div>
                                <!-- /.box-body -->
                                <div class="box-footer">
                                    <div class="col-md-4">
                                        <button type="button" style="width:100%" onclick="reloadForm()" class="btn btn-warning fa fa-refresh">&nbsp;Refresh</button>
                                    </div>
                                    <div class="col-md-8">
                                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-success fa fa-plus">&nbsp;Save</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box -->
                        </div>
                        <!--Body Will by Start Here-->
                    </div>


                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive col-md-12">
                            <div class="table-responsive">
                                <table id="tableX" class="table table-striped text-nowrap">
                                    <thead>
                                        <tr class="bg-success">
                                            <th> Action </th>
                                            <th> SL </th>
                                            <th> Payment Method </th>
                                            <th> CID </th>
                                            <th> ECI No </th>
                                            <th> ECI Date </th>
                                            <th> Applicant/Buyer </th>
                                            <th> Applicant/Buyer Bank </th>
                                            <th> Lien Bank </th>
                                            <th> Company Bank </th>
                                            <th>
                                                Amendment Value
                                            </th>
                                            <th> Total Value </th>
                                            <th>Current Total Value</th>
                                            <th> UD Reference </th>
                                            <th style="text-align:center;">
                                                Buyer Order Details
                                            </th>

                                            <th>Scaned File</th>
                                            <th> Add Buyer PO</th>
                                        </tr>
                                    </thead>
                                    @{
                                        int sl = 0;
                                        int ssl = 0;
                                        decimal totalPoValue = 0;
                                        int totalOrderPackQuntity = 0;
                                    }
                                    <tbody>
                                        @foreach (var item in Model.DataList)
                                        {
                                        <tr>
                                            <td>
                                                @if (!item.IsClose)
                                                {
                                                    <a id="@item.ID" onclick="editEciInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#eciModal" title="Edit"
                                                       data-placement="top">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                    <a onclick="deleteEciInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteEciModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span>
                                                        &nbsp;
                                                    </span>
                                                }



                                            </td>
                                            <td>@(++sl)</td>
                                            <td>@item.Common_ECIType</td>
                                            <td>@item.CID</td>
                                            <td>@item.ECINo</td>
                                            <td>@item.ECIDate.ToString("yyyy-MM-dd")</td>
                                            <td>@item.Common_Applicant</td>
                                            <td>@item.Common_BuyerBank</td>
                                            <td>@item.Common_LienBank</td>
                                            <td>@item.Common_CompanyBank</td>
                                            <td>
                                                <a class="linkPointer" data-toggle="modal" data-target="#showValueAmendmentModal_@sl" title="Amendment Value Details"
                                                   data-placement="top">
                                                    @item.ValueAmendment
                                                </a>


                                                <div class="modal fade" id="showValueAmendmentModal_@sl" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                                    &times;
                                                                </button>
                                                                <h4 style="text-align:center;" class="modal-title"><b>Amendment value of @item.ECINo</b></h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table style="text-align:center;" class="table">
                                                                    <tr>
                                                                        <th style="text-align:center;">
                                                                            Date
                                                                        </th>
                                                                        <th style="text-align:center;">
                                                                            Amendment Value
                                                                        </th>
                                                                    </tr>
                                                                    @foreach (var eciValueAmendment in item.VMECIValueAmendmentList)
                                                                    {
                                                                        <tr>
                                                                            <td>@eciValueAmendment.Time.ToString("yyyy-MM-dd")</td>
                                                                            <td>@eciValueAmendment.ValueAmendment</td>
                                                                        </tr>
                                                                    }
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal">Close</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </td>

                                            <td>@item.TotalValue</td>
                                            <td>
                                                @item.CurrentTotalValue
                                            </td>
                                            <td>
                                                @if (!item.IsClose)
                                                {
                                                    if (item.Commercial_UDFk > 0)
                                                    {
                                                        <button type="button" style="width:100%;padding:0px;" id="@item.ID" onclick="mappingUDInfo(@item.ID,@item.Common_BuyerFK);" data-toggle="modal" data-target="#modalMappingUDInECI" title="Change UD Reference"
                                                                data-placement="top" class="btn btn-success fa fa-edit linkPointer qty">
                                                            &nbsp; @item.Common_UDNo
                                                        </button>
                                                    }
                                                    else
                                                    {
                                                        <button type="button" style="width:100%;padding:0px;" id="@item.ID" onclick="mappingUDInfo(@item.ID,@item.Common_BuyerFK);" data-toggle="modal" data-target="#modalMappingUDInECI" title="Add UD Reference"
                                                                data-placement="top" class="btn btn-success fa fa-plus linkPointer qty">
                                                            &nbsp; @item.Common_UDNo
                                                        </button>
                                                    }
                                                }
                                                else
                                                {
                                                    <span class="label label-warning" style="width:100%;">

                                                        <b>
                                                            &nbsp;&nbsp;&nbsp;@item.Common_UDNo &nbsp;&nbsp;&nbsp;
                                                        </b>
                                                    </span>

                                                }

                                            </td>
                                            <td>
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th>SL</th>
                                                        <th>Order No</th>
                                                        <th>Pack</th>
                                                        <th>Value</th>
                                                    </tr>
                                                    @foreach (var order in item.VMOrderList)
                                                    {
                                                        totalPoValue += order.BuyerPOValue;
                                                        totalOrderPackQuntity += order.TotalOrderPackQuntity;

                                                        <tr>
                                                            <th>@(++ssl)</th>
                                                            <th>@order.CID</th>
                                                            <th>@order.TotalOrderPackQuntity</th>

                                                            <th style="text-align:right;">@String.Format("{0:0.00}", order.BuyerPOValue)</th>
                                                            <th>
                                                                @if (!item.IsClose)
                                                                {
                                                                    <a onclick="detachBuyerPoFromECIInfo(@order.ID);" class="linkPointer" data-toggle="modal" data-target="#detachBuyerPoModalId" title="Delete"
                                                                       data-placement="top">
                                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                                    </a>
                                                                }
                                                                else
                                                                {
                                                                    <span>
                                                                        &nbsp;
                                                                    </span>
                                                                }

                                                            </th>
                                                        </tr>

                                                    }
                                                    @if (totalPoValue > 0)
                                                    {
                                                        <tr>
                                                            <th></th>
                                                            <th>Total Value</th>
                                                            <th style="text-align:right;">@totalOrderPackQuntity</th>

                                                            <th style="text-align:right;">@String.Format("{0:0.00}", totalPoValue)</th>
                                                            <th></th>

                                                        </tr>
                                                    }

                                                </table>
                                            </td>

                                            <td>
                                                @if (item.ScanedFile != null)
                                                {
                                                    <a href="@item.ScanedFile" target="_blank"><i class="glyphicon glyphicon-file"></i></a>

                                                }
                                                else
                                                {
                                                    <div class="glyphicon glyphicon-ban-circle" style="color:red;">

                                                    </div>
                                                }
                                            </td>

                                            <td>

                                                @if (!item.IsClose)
                                                {
                                                    <button type="button" style="width:100%;padding:0px;" id="@item.ID" onclick="addBuyerOrderInfo(@item.ID,@item.Common_BuyerFK);" data-toggle="modal" data-target="#addPOModal" title="Edit"
                                                            data-placement="top" class="btn btn-success fa fa-plus linkPointer qty">
                                                        &nbsp; Add Buyer PO
                                                    </button>
                                                }
                                                else
                                                {
                                                    <span class="label label-warning">
                                                        Closed
                                                    </span>
                                                }


                                            </td>


                                        </tr>
                                            ssl = 0;
                                            totalPoValue = 0;
                                            totalOrderPackQuntity = 0;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer"></div>
                </div>
            </div>
        </div>
    </section>
}
<form asp-action="DeleteECI" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="deleteEciModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remove Buyer PO From ECI</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { id = "txtECIDeleteId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "ECIDeleteActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to Delete this ECI?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-remove">&nbsp; Delete</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

<form asp-action="DetachBuyerPoFromECI" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="modal fade" id="detachBuyerPoModalId" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Remove Buyer PO From ECI</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.Merchandising_BuyerOrderFk, new { id = "txtDetachBuyerPoFromECIId" })
                    @Html.HiddenFor(model => model.ActionId, new { id = "DetachBuyerPoActionId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div style="text-align:center">
                        <h3>Are you sure to remove this PO?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="col-md-3">
                        <button type="button" onclick="resetForm()" class="btn btn-warning fa fa-close" data-dismiss="modal">&nbsp;NO</button>
                    </div>
                    <div class="col-md-9">
                        <button type="submit" id="btnsave" style="width:100%" class="btn btn-primary fa fa-minus-square">&nbsp; Remove</button>
                    </div>


                </div>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="addPOModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="AddBuyerPO" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Add Buyer Order in ECI</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "txtEciIDForAddBuyerPo" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "1", id = "EciActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label>Buyer Order</label>

                                    @Html.DropDownListFor(model => model.Merchandising_BuyerOrderListFk, Model.Merchandising_BuyerOrderList, new { id = "ddlMerchandising_BuyerOrderListFk", @style = "width:100%", @class = "searchingDropdown form-control", multiple = "multiple", })
                                    @Html.ValidationMessageFor(model => model.Merchandising_BuyerOrderListFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>

<div class="modal fade" id="modalMappingUDInECI" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <form asp-action="MappingUDInECI" asp-controller="Commercial" class="formValidator">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Mapping UD in ECI</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "txtMappingUDIEci" })
                                @Html.HiddenFor(model => model.ActionId, new { id = "MappingUDIEciActionId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="form-group">
                                    <label>UD</label>

                                    @Html.DropDownListFor(model => model.Commercial_UDFk, Model.Commercial_UDList, new { id = "ddlCommercial_UDFk", @style = "width:100%", @class = "searchingDropdown form-control" })
                                    @Html.ValidationMessageFor(model => model.Commercial_UDFk, "", new { @class = "text-danger" })

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <div class="col-md-8">
                        <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-adjust"></i>&nbsp;Add</button>
                    </div>

                </div>


            </div>
        </div>
    </form>
</div>

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $(".datePicker").datepicker('setDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
            $('.qty').each(function () {
                if ($(this).text() == 'Not Set Ref No') {
                    var id = $(this);
                $(this).addClass('lowqty');
                }
            });
        });
        $("#ddlCommonBuyerFK").change(function () {
            var buyerId = $("#ddlCommonBuyerFK").val();
            $.ajax({
                type: "GET",
                url: "@Url.Action("BuyerNotifyPartyById", "Shipment")",
                datatype: "Json",
                data: { id: buyerId },
                success: function (data) {
                    //debugger;
                    //var items = "";

                    if (data) {
                        $("#ddlBuyerNotifyPartyFk").empty();
                        $("#ddlBuyerNotifyPartyFk").append("<option value=''>==Select Buyer Notify Partys==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlBuyerNotifyPartyFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });


                    }
                }
            });


            $.ajax({
                type: "GET",
                url: "@Url.Action("BuyerBankByBuyerId", "Commercial")",
                datatype: "Json",
                data: { id: buyerId },
                success: function (data) {
                    //debugger;
                    //var items = "";

                    if (data) {
                        $("#ddlBuyerBank").empty();
                        $("#ddlBuyerBank").append("<option value=''>==Select Buyer Bank==</option>");
                        $(data).each(function (index, item) {
                            $("#ddlBuyerBank").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });
       


        function addBuyerOrderInfo(eciId, buyerId) {
            if (eciId !== null && buyerId !== null) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("MerchandisingBuyerOrderByBuyerId", "Commercial")",
                    datatype: "Json",
                    data: { id: buyerId},
                    success: function (data) {
                        debugger;
                        var items = "";

                        if (data) {
                            $("#ddlMerchandising_BuyerOrderListFk").empty();
                            $("#ddlMerchandising_BuyerOrderListFk").append("<option value=''>==Select Buyer Order==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlMerchandising_BuyerOrderListFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });


                        }
                    }
                });

                $('#txtEciIDForAddBuyerPo').val(eciId);
                $('#EciActionId').val(1);

            }
        }

         function mappingUDInfo(eciId, buyerId) {
            if (eciId !== null && buyerId !== null) {
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("MappingUDByBuyerIdWithECI", "Commercial")",
                    datatype: "Json",
                    data: { id: buyerId},
                    success: function (data) {
                        debugger;
                        var items = "";
                        if (data) {
                            $("#ddlCommercial_UDFk").empty();
                            $("#ddlCommercial_UDFk").append("<option value='0'>==Select UD Reference==</option>");
                            $(data).each(function (index, item) {
                                $("#ddlCommercial_UDFk").append("<option value='" + item.value + "'>" + item.text + "</option>");
                            });
                        }
                    }
                });
                $('#txtMappingUDIEci').val(eciId);
                $('#MappingUDIEciActionId').val(1);

            }
        }
            function detachBuyerPoFromECIInfo(id) {
                if (id !== null) {
                    $('#txtDetachBuyerPoFromECIId').val(id);
                    $('#DetachBuyerPoActionId').val(4);
                }
            }
            function deleteEciInfo(id) {
                if (id !== null) {
                    $('#txtECIDeleteId').val(id);
                    $('#ECIDeleteActionId').val(3);
                }
        }
        function resetForm() {
                location.reload();

            //$('#ECIformId')[0].reset();
            $('#ActionId').val(1);
        }
        function reloadForm() {
                location.reload();

               
                $('#ActionId').val(1);
            }
        function editEciInfo(eciId) {

            if (eciId !== null) {

                    $.ajax({
                    type: "GET",
                        url: "@Url.Action("SingleECIJson", "Commercial")",
                        datatype: "Json",
                        data: { id: eciId},
                        success: function (data) {
                        debugger;

                            if (data) {
                                console.log(data);
                                $('#txtECIId').val(data.id);
                                $('#ActionId').val(2);
                                $('#ddlCommonECITypeFK').val(data.common_ECITypeFK).change();
                                $('#txtECINo').val(data.eciNo);
                                var ciDate = data.eciDate;
                                $('#txtECIDate').val(ciDate.substr(0, 10));
                                $('#ddlCommonBuyerFK').val(data.common_BuyerFK);
                                $('#ddlBuyerNotifyPartyFk').val(data.common_BuyerNotifyPartyFk);
                                $('#ddlBuyerBank').val(data.common_BuyerBankFK);
                                $('#ddlCompanyBank').val(data.common_CompanyBankFK).change();
                                $('#ddlLienBank').val(data.common_LienBankFK).change();
                                $('#ddlCommonCurrencyFK').val(data.common_CurrencyFK).change();
                                $('#txtTotalValue').val(data.totalValue);
                                $('#txtTolerance').val(data.tolerance);

                                var expDate = data.expiryDate;
                                $('#txtExpiryDate').val(expDate.substr(0, 10));
                                var shipDate = data.shipmentDate;
                                $('#txtShipmentDate').val(shipDate.substr(0, 10));
                                $('#txtValueAmendment').val(0);
                                $('#txtDestination').val(data.remarks);
                                $('#txtScanedFile').val(data.scanedFile);
                                $('#txtCommercialUDFk').val(data.commercial_UDFk).change();
                                  //$("html, body").animate({ scrollTop: 0 }, "slow");

                                window.scrollTo({ top: 0, behavior: 'smooth' });

                            }

                        }


                });


            }

        }



    </script>

}
