﻿@model Erp.Core.Services.MIS.VMMis_FinancialStatus
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Financial Status";
}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        Financial Status:
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Financial Status"
                                data-placement="top">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->

                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>                                   
                                    <th>Month</th>
                                    <th>Year</th>
                                    <th>Inflow</th>
                                    <th>Outflow</th>
                                    <th>Revenue Projection</th>
                                    <th>Expenditure Projection</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="tdMonth_@item.ID">@item.Month</td>
                                    <td id="tdYear_@item.ID">@item.Year</td>
                                    <td id="tdInflow_@item.ID">@String.Format("{0:0.00}", item.Inflow)</td>
                                    <td id="tdOutflow_@item.ID">@String.Format("{0:0.00}", item.Outflow)</td>
                                    <td id="tdRevenueProjection_@item.ID">@String.Format("{0:0.00}", item.RevenueProjection)</td>
                                    <td id="tdExpenditureProjection_@item.ID">@String.Format("{0:0.00}", item.ExpenditureProjection)</td>
                                    <td>
                                        <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("FinancialStatus", "Mis", FormMethod.Post, new { id = "financialStatus", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()


    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Financial Status</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-danger">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "financialStatusId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-5">
                                        <div id="divddlAccountType" class="form-group">
                                            <label for="recipient-name" class="col-form-label">Year:</label>
                                            @Html.DropDownListFor(model => model.Year, ViewBag.Year as SelectList, "Select Year", new { id = "ddlYear", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div id="divddlAccountType" class="form-group">
                                            <label for="recipient-name" class="col-form-label">Month:</label>
                                            @Html.DropDownListFor(model => model.Month, ViewBag.Month as SelectList, "Select Month", new { id = "ddlMonth", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Inflow:</label>
                                            @Html.TextBoxFor(model => model.Inflow, new { id = "txtInflow", placeholder = "Inflow", @class = "form-control", required = "true" })
                                            @Html.ValidationMessageFor(model => model.Inflow, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Outflow:</label>
                                            @Html.TextBoxFor(model => model.Outflow, new { id = "txtOutflow", placeholder = "Outflow", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Outflow, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Revenue Projection:</label>
                                            @Html.TextBoxFor(model => model.RevenueProjection, new { id = "txtRevenueProjection", placeholder = "Revenue Projection", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.RevenueProjection, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Expenditure Projection:</label>
                                            @Html.TextBoxFor(model => model.ExpenditureProjection, new { id = "txtExpenditureProjection", placeholder = "Expenditure Projection", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.ExpenditureProjection, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                                <div class="col-md-8">
                                    <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Financial Status Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#financialStatusId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlYear').val($('#tdYear_' + rowId).text().trim()).trigger('change');
                $('#ddlMonth').val($('#tdMonth_' + rowId).text().trim()).trigger('change');

                $('#txtInflow').val($('#tdInflow_' + rowId).text().trim());
                $('#txtOutflow').val($('#tdOutflow_' + rowId).text().trim());
                $('#txtRevenueProjection').val($('#tdRevenueProjection_' + rowId).text().trim());
                $('#txtExpenditureProjection').val($('#tdExpenditureProjection_' + rowId).text().trim());
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#financialStatusId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#financialStatus')[0].reset();
            $('#ActionId').val(1);

        }

    </script>


}





