﻿@model Erp.Core.Services.MIS.VMMis_IncomeStatement
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Income Statement";

}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        Income Statement:
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Income Statement"
                                data-placement="top">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->

                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    @*<th class="hidden"></th>*@
                                    <th>Accounting Head</th>

                                    <th>From</th>
                                    <th>To</th>

                                    <th>Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                <tr>
                                    <td>@(++sl)</td>
                                    @*<td id="@tdID@item.ID" class="hidden">@item.ID</td>*@
                                    <td id="tdAccountsHead_@item.ID">
                                        @*<input type="hidden" id="Accounting_HeadFk_@item.ID" value="@item.Accounting_HeadFK" />*@
                                        @item.Accounting_HeadName
                                    </td>
                                    <td id="tdFromDate_@item.ID">
                                        @item.FromDate.ToString("yyyy/MM/dd")
                                    </td>
                                    <td id="tdToDate_@item.ID">
                                        @item.ToDate.ToString("yyyy/MM/dd")
                                    </td>
                                    <td id="tdValue_@item.ID">
                                        @String.Format("{0:0.00}", item.Value)

                                    </td>
                                    <td>
                                        <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("IncomeStatement", "Mis", FormMethod.Post, new { id = "incomeStatement", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Income Statement</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-danger">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "incomeStatementId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Head Name:</label>
                                            @Html.TextBoxFor(model => model.Accounting_HeadName, new { id = "txtAccounting_HeadName", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Accounting_HeadName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">From Date:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input name="FromDate" asp-for="FromDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control" id="txtFromDate" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">To Date:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input name="ToDate" asp-for="ToDate" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control" id="txtToDate" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Value:</label>
                                            @Html.TextBoxFor(model => model.Value, new { id = "txtValue", placeholder = "Value", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Income Statement</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#incomeStatementId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                //$('#ddlAccounting_HeadFk').val($('#Accounting_HeadFk_' + rowId).val().trim()).trigger('change');
                
                $('#txtAccounting_HeadName').val($('#tdAccountsHead_' + rowId).text().trim());
                $('#txtFromDate').val($('#tdFromDate_' + rowId).text().trim());
                $('#txtToDate').val($('#tdToDate_' + rowId).text().trim());
                $('#txtValue').val($('#tdValue_' + rowId).text().trim());
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#incomeStatementId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#incomeStatement')[0].reset();


        }

    </script>


}





