﻿@{
    ViewData["Title"] = "CM Earned";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="box">
    <div class="box-header">
        <h3>

            CM Earned:
            @*&nbsp;&nbsp;
                <button type="button" class="btn btn-default glyphicon glyphicon-plus" data-toggle="modal" data-target="#CMEmdl"></button>*@
        </h3>
    </div>
    <!-- /.box-header -->

    <div class="box-body">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>
                    Current CM Earned
                </b>
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-horizontal">

                        <table id="dataTable" class="table">
                            <tr>
                                <td style="width:33%">
                                    <input placeholder="Month" type="text" class="form-control" />
                                </td>
                                <td style="width:33%">
                                    <input placeholder="Quantity" type="text" class="form-control" />
                                </td>
                                <td style="width:33%">
                                    <input placeholder="CM Earned" type="text" class="form-control" />
                                </td>
                                <td style="width:1%">
                                    <a class="deleteButton linkPointer form-control"><i style="color:red;" class="glyphicon glyphicon-remove"></i></a>
                                </td>
                            </tr>
                        </table>

                        <div>
                            <div class="col-md-4"><a class="linkPointer" onclick="addRow('dataTable')">Add CM Earned</a></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-2"></div>
                            <div class="col-md-2">
                                <input type="submit" value="Save" class="btn btn-success" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="30%">Month </th>
                            <th width="30%">Quantity</th>
                            <th width="30%">CM Earned</th>

                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>February 2018 </td>
                            <td>

                                <span class="display"><label id="lblSewingDoneQuantity">49,500</label></span>
                                <input type="text" name="tbxQuantity" class="edit form-control" id="tbxQuantity" value="49,500" />

                            </td>
                            <td>
                                <span class="display"><label id="lblSewingDoneQuantity">11,96,720</label></span>
                                <input type="text" name="tbxCm" class="edit form-control" id="tbxCm" value="11,96,720" />

                            </td>
                            <td class="pull-right">
                                <a href="#" class="update-book display glyphicon glyphicon-pencil" id="1"></a>&nbsp;
                                <a class="save-book edit glyphicon glyphicon-ok" id="1"></a>&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>&nbsp;
                                <a class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                   data-placement="top">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                </a>
                                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#CMEmdl"><i class="glyphicon glyphicon-pencil"></i></button>*@
                                @*<button type="button" class="btn btn-default"><i class="lnkClose glyphicon glyphicon-trash"></i></button>*@

                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>

        </div>

    </div>
    <div class="box-body">
        <div class="panel panel-success">
            <div class="panel-heading">
                <b>
                    Previous CM Earned
                </b>
            </div>
            <div class="panel-body">
                <table id="tableX" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th width="30%">Month </th>
                            <th width="30%">Quantity</th>
                            <th width="30%">CM Earned</th>
                            <th width="10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>January 2018 </td>
                            <td>
                                <span class="display"><label id="lblSewingDoneQuantity">49,500</label></span>
                                <input type="text" name="tbxQuantity" class="edit form-control" id="tbxQuantity" value="49,500" />
                            </td>
                            <td>
                                <span class="display"><label id="lblSewingDoneQuantity">11,96,720</label></span>
                                <input type="text" name="tbxCm" class="edit form-control" id="tbxCm" value="11,96,720" />
                            </td>
                            <td class="pull-right">
                                <a href="#" class="update-book display glyphicon glyphicon-pencil" id="1"></a>&nbsp;
                                <a class="save-book edit glyphicon glyphicon-ok" id="1"></a>&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>&nbsp;
                                <a class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                   data-placement="top">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                </a>
                                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#CMEmdl"><i class="glyphicon glyphicon-pencil"></i></button>*@
                                @*<button type="button" class="btn btn-default"><i class="lnkClose glyphicon glyphicon-trash"></i></button>*@

                            </td>

                        </tr>
                        <tr>
                            <td>December 2017 </td>
                            <td>

                                <span class="display"><label id="lblSewingDoneQuantity">49,500</label></span>
                                <input type="text" name="tbxQuantity" class="edit form-control" id="tbxQuantity" value="49,500" />

                            </td>
                            <td>
                                <span class="display"><label id="lblSewingDoneQuantity">11,96,720</label></span>
                                <input type="text" name="tbxCm" class="edit form-control" id="tbxCm" value="11,96,720" />

                            </td>
                            <td class="pull-right">
                                <a href="#" class="update-book display glyphicon glyphicon-pencil" id="1"></a>&nbsp;
                                <a class="save-book edit glyphicon glyphicon-ok" id="1"></a>&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>&nbsp;
                                <a class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                   data-placement="top">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                </a>
                                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#CMEmdl"><i class="glyphicon glyphicon-pencil"></i></button>*@
                                @*<button type="button" class="btn btn-default"><i class="lnkClose glyphicon glyphicon-trash"></i></button>*@

                            </td>

                        </tr>
                        <tr>
                            <td>November 2017 </td>
                            <td>

                                <span class="display"><label id="lblSewingDoneQuantity">49,500</label></span>
                                <input type="text" name="tbxQuantity" class="edit form-control" id="tbxQuantity" value="49,500" />

                            </td>
                            <td>
                                <span class="display"><label id="lblSewingDoneQuantity">11,96,720</label></span>
                                <input type="text" name="tbxCm" class="edit form-control" id="tbxCm" value="11,96,720" />

                            </td>
                            <td class="pull-right">
                                <a href="#" class="update-book display glyphicon glyphicon-pencil" id="1"></a>&nbsp;
                                <a class="save-book edit glyphicon glyphicon-ok" id="1"></a>&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>&nbsp;
                                <a class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                   data-placement="top">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                </a>
                                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#CMEmdl"><i class="glyphicon glyphicon-pencil"></i></button>*@
                                @*<button type="button" class="btn btn-default"><i class="lnkClose glyphicon glyphicon-trash"></i></button>*@

                            </td>

                        </tr>
                        <tr>
                            <td>October 2017 </td>
                            <td>

                                <span class="display"><label id="lblSewingDoneQuantity">49,500</label></span>
                                <input type="text" name="tbxQuantity" class="edit form-control" id="tbxQuantity" value="49,500" />

                            </td>
                            <td>
                                <span class="display"><label id="lblSewingDoneQuantity">11,96,720</label></span>
                                <input type="text" name="tbxCm" class="edit form-control" id="tbxCm" value="11,96,720" />

                            </td>
                            <td class="pull-right">
                                <a href="#" class="update-book display glyphicon glyphicon-pencil" id="1"></a>&nbsp;
                                <a class="save-book edit glyphicon glyphicon-ok" id="1"></a>&nbsp;&nbsp;
                                <a class="cancel-book edit glyphicon glyphicon-remove"></a>&nbsp;
                                <a class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                   data-placement="top">
                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                </a>
                                @*<button type="button" class="btn btn-default" data-toggle="modal" data-target="#CMEmdl"><i class="glyphicon glyphicon-pencil"></i></button>*@
                                @*<button type="button" class="btn btn-default"><i class="lnkClose glyphicon glyphicon-trash"></i></button>*@

                            </td>

                        </tr>
                    </tbody>

                </table>

            </div>

        </div>
    </div>
    <!-- /.box-body -->
</div>

<div id="deleteModal" class="modal fade" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                    &times;
                </button>
                <h5 class="modal-title"><b>CM earned delete</b></h5>

            </div>
            <div class="modal-body">
                <div style="text-align:center">
                    <h3>Are you sure to delete?</h3>
                </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                @*@Html.ActionLink("", "ChartOneDelete", new { id = "" }, new { @class = "deleteId glyphicon glyphicon-trash", data_placement = "top", title = "Delete" }) &nbsp;*@
                <a href="" class="deleteId btn btn-primary">Yes</a>
            </div>
        </div>
    </div>
</div>
<!--<div id="CMEmdl" class="modal fade" role="dialog">
   <div class="modal-dialog">

       Modal content
<div class="modal-content round">
    <div class="modal-header" style="cursor:pointer">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Input CM Earned</h4>
    </div>
    <div class="modal-body">
        <from>
            <div class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Month</label>
                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <div>
                                @Html.DropDownList("ass", ViewBag.Month as SelectList, "------------Select a Month------------", new { @class = "form-control" })
                            </div>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Year</label>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <div>
                                @Html.DropDownList("ass", ViewBag.Year as SelectList, "------------Select a Year--------------", new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Quantity</label>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <input type="number" class="form-control" name="quantity">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">CM Earned</label>

                        <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                            <input type="number" class="form-control" name="cmEarned">
                        </div>
                    </div>
                </div>

            </div>
        </from>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-success">Save</button>
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>

    </div>
</div>
    </div>
</div>-->
@section scripts{
    <script type="text/javascript">
    $(function () {
        $('.edit').hide();

        $('.update-book').on('click', function (e) {
            e.preventDefault();
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            buttonId = 2;
        });

        $('.cancel-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
        });

        $('.save-book').on('click', function () {
            var tr = $(this).parents('tr:first');
            tr.find('.edit, .display').toggle();
            //var tr = $(this).parents('tr:first');

            //var PlanRefOrderFK = $(this).prop('id');
            //var SewingDoneQuantity = tr.find("#tbxSewingDoneQuantity").val();
            //var isSuccess = -1;
            //var TotalQty = 0;

            //var ProductionDailyPlan =
            //{
            //    "ID":PlanRefOrderFK,
            //    //"Prod_PlanReferenceOrderFk": PlanRefOrderFK,
            //    "SewingDoneQuantity": SewingDoneQuantity
            //};

            @*$.ajax({
                url: '@Url.Action("VmOrderProductionSewingUpdate", "Production")',
                data: JSON.stringify(ProductionDailyPlan),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (result) {
                    isSuccess = result.result;
                    TotalQty = result.qty;
                },
                error: function (result) {
                    isSuccess = result;
                }

            }).done(function () {
                if (isSuccess == "1") {
                    tr.find("#lblSewingDoneQuantity").text(TotalQty);
                    tr.find('.edit, .display').toggle();
                    //alert("Successfully Saved");
                }
                else {
                    alert("Error. Please, check the data");
                }
            });*@

        });
    });
    </script>

    <script language="javascript">
        function addRow(tableID) {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;
            var row = table.insertRow(rowCount);
            var colCount = table.rows[0].cells.length;
            for (var i = 0; i < colCount; i++) {
                var newcell = row.insertCell(i);
                newcell.innerHTML = table.rows[0].cells[i].innerHTML;
                //alert(newcell.childNodes);
                switch (newcell.childNodes[0].type) {
                    case "text":
                        newcell.childNodes[0].value = "";
                        break;
                    case "checkbox":
                        newcell.childNodes[0].checked = false;
                        break;
                    case "select-one":
                        newcell.childNodes[0].selectedIndex = 0;
                        break;
                }
            }
        }


        $("#dataTable").on("click", ".deleteButton", function (e) {
            e.preventDefault();
            var table = document.getElementById("dataTable");
            var rowCount = table.rows.length;
            if (rowCount > 1) {
                $(this).parents("tr").remove();
            }
            else {
                alert("You cannot delete all the rows.")
            }

        });

    </script>

}
<style>
    .linkPointer:hover {
        cursor: pointer
    }
</style>

