﻿@model Erp.Core.Services.MIS.VMMis_BTBLCStatus
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "BTB L/C Status";

}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        BTB L/C Status:
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add BTB L/C Status"
                                data-placement="top">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->

                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Master L/C</th>
                                    <th>Master L/C Value</th>
                                    <th>BTB Limit</th>
                                    <th>BTB Issued</th>
                                    <th>BTB Liabilites</th>
                                    <th>BTB Accepted Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="tdMasterLCNo_@item.ID">
                                        @item.UdNo
                                    </td>
                                    <td id="tdMasterLCValue_@item.ID">
                                        @String.Format("{0:0.00}", item.MasterLCTotalValue)
                                      
                                    </td>
                                    <td id="tdBTBLimit_@item.ID">
                                        @String.Format("{0:0.00}", item.BTBLimit)
                                      
                                    </td>
                                    <td id="tdBTBIssued_@item.ID">
                                        @String.Format("{0:0.00}", item.BTBIssued)
                                       
                                    </td>
                                    <td id="tdBTBLiabilites_@item.ID">
                                        @String.Format("{0:0.00}", item.BTBLiabilites)
                                       
                                    </td>
                                    <td id="tdBTBAcceptedValue_@item.ID">
                                        @String.Format("{0:0.00}", item.BTBAcceptedValue)
                                       
                                    </td>
                                    <td>
                                        <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("InputBTBStatus", "Mis", FormMethod.Post, new { id = "btbLcStatus", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>BTB L/C Status</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-danger">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "btbLcStatusId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">UD No:</label>
                                            @Html.TextBoxFor(model => model.UdNo, new { id = "txtMasterLCNo", placeholder = "Master LC No", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.UdNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">ECI Value:</label>
                                            @Html.TextBoxFor(model => model.MasterLCTotalValue, new { id = "txtMasterLCValue", placeholder = "Master L/C Value", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.MasterLCTotalValue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">BTB Limit:</label>
                                            @Html.TextBoxFor(model => model.BTBLimit, new { id = "txtBTBLimit", placeholder = "BTB Limit", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.BTBLimit, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">BTB Issued:</label>
                                            @Html.TextBoxFor(model => model.BTBIssued, new { id = "txtBTBIssued", placeholder = "BTB Issued", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.BTBIssued, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">BTBAccepted Value:</label>
                                            @Html.TextBoxFor(model => model.BTBAcceptedValue, new { id = "txtBTBAcceptedValue", placeholder = "Accepted Value", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.BTBAcceptedValue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-4">
                                        <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    </div>
                                    <div class="col-md-8">
                                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Save</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
               
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>BTB L/C Status Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>                   
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#btbLcStatusId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");               
                $('#txtBTBAcceptedValue').val($('#tdBTBAcceptedValue_' + rowId).text().trim());
                //$('#txtBTBLiabilites').val($('#tdBTBLiabilites_' + rowId).text().trim());
                $('#txtBTBIssued').val($('#tdBTBIssued_' + rowId).text().trim());
                $('#txtBTBLimit').val($('#tdBTBLimit_' + rowId).text().trim());
                $('#txtMasterLCValue').val($('#tdMasterLCValue_' + rowId).text().trim());
                $('#txtMasterLCNo').val($('#tdMasterLCNo_' + rowId).text().trim());
               
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#btbLcStatusId').val(id);
                $('#ActionId').val(3);

            }
        }

        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#btbLcStatus')[0].reset();
        }
    </script>


}





