﻿@model Erp.Core.Services.MIS.VMMis_CMEarned
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "CM Earned";
    var tdID = "tdID";
    var tdMonth = "tdMonth";
    var tdYear = "tdYear";
    var tdQuantity = "tdQuantity";
    var tdValue = "tdValue";


}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        CM Earned:
                        @*&nbsp;&nbsp;
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add CM Earned"
                                    data-placement="top">
                                <i class="glyphicon glyphicon-plus"></i>
                            </button>*@
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->

                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th class="hidden"></th>
                                    <th class="hidden"></th>
                                    <th style="text-align:center;">Month</th>


                                    <th style="text-align:center;">Year</th>
                                    <th style="text-align:center;">Quantity</th>
                                    <th style="text-align:center;">Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td>@(++sl)</td>
                                        <td id="@tdID@item.ID" class="hidden">@item.ID</td>
                                        <td id="@tdMonth@item.ID" class="hidden">@item.Month</td>
                                        <td id="@tdMonth@item.ID" style="text-align:center;">
                                            
                                            @if (item.Month == "01")
                                            {
                                                <span>January</span>
                                            }
                                            @if (item.Month == "02")
                                            {
                                                <span>February</span>
                                            }
                                            @if (item.Month == "03")
                                            {
                                                <span>March</span>
                                            }
                                            @if (item.Month == "04")
                                            {
                                                <span>April</span>
                                            }
                                            @if (item.Month == "05")
                                            {
                                                <span>May</span>
                                            }
                                            @if (item.Month == "06")
                                            {
                                                <span>June</span>
                                            }
                                            @if (item.Month == "07")
                                            {
                                                <span>July</span>
                                            }
                                            @if (item.Month == "08")
                                            {
                                                <span>August</span>
                                            }
                                            @if (item.Month == "09")
                                            {
                                                <span>September</span>
                                            }
                                            @if (item.Month == "10")
                                            {
                                                <span>October</span>
                                            }
                                            @if (item.Month == "11")
                                            {
                                                <span>November</span>
                                            }
                                            @if (item.Month == "12")
                                            {
                                                <span>December</span>
                                            }                                            
                                        </td>

                                    <td id="@tdYear@item.ID" style="text-align:center;">@item.Year</td>
                                    <td id="@tdQuantity@item.ID" style="text-align:center;">@item.Quantity</td>
                                    <td id="@tdValue@item.ID" style="text-align:center;">@String.Format("{0:0.00}", item.Value)</td>
                                    <td>
                                        <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("InputCMEarned", "MisController", FormMethod.Post, new { id = "CMEarned", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()


    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>CM Earned</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "cmEarnedId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                        <div id="divddlAccountType" class="form-group">
                                            <label for="recipient-name" class="col-form-label">Year:</label>
                                            @Html.DropDownListFor(model => model.Year, ViewBag.Year as SelectList, "Please Select Year", new { id = "ddlYear", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Year, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                        <div id="divddlAccountType" class="form-group">
                                            <label for="recipient-name" class="col-form-label">Month:</label>
                                            @Html.DropDownListFor(model => model.Month, ViewBag.Month as SelectList, "Please Select Month", new { id = "ddlMonth", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Month, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Quantity:</label>
                                            @Html.TextBoxFor(model => model.Quantity, new { id = "txtQuantity", placeholder = "Name", @class = "form-control", required = "true" })
                                            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Value:</label>
                                            @Html.TextBoxFor(model => model.Value, new { id = "txtValue", placeholder = "Remarks", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>CM Earned Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#cmEarnedId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlYear').val($('#tdYear' + rowId).text().trim()).trigger('change');
                $('#ddlMonth').val($('#tdMonth' + rowId).text().trim()).trigger('change');
                $('#txtQuantity').val($('#tdQuantity' + rowId).text().trim());
                $('#txtValue').val($('#tdValue' + rowId).text().trim());
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#cmEarnedId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#CMEarned')[0].reset();


        }

    </script>
}





