﻿@model Erp.Core.Services.MIS.VMMis_RawMaterials
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Raw Materials";

}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        Raw Materials:
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Raw Materials"
                                data-placement="top">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->

                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>                                   
                                    <th>Raw Category</th>
                                    <th>Raw Value</th>
                                    <th>WIP Value</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                    <tr>
                                        <td>@(++sl)</td>
                                        @*<td id="@tdID@item.ID" class="hidden">@item.ID</td>*@
                                        <td id="tdRawCategoryName_@item.ID">
                                            <input type="hidden" id="tdCommonRawCategoryFk_@item.ID" value="@item.Common_RawCategoryFk" />
                                            @item.Common_RawCategoryName
                                        </td>
                                        <td id="tdRawValue_@item.ID">

                                            @item.RawValue
                                        </td>
                                        <td id="tdWIPValue_@item.ID">
                                            @item.WIPValue
                                        </td>
                                        <td>
                                            <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("InputRawMaterial", "Mis", FormMethod.Post, new { id = "rawMaterials", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Raw Materials</b></h5>
                </div>
                <div class="modal-body">
                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "rawMaterialsId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div id="divddlAccountType" class="form-group">
                        <label for="recipient-name" class="col-form-label">Raw Category:</label>
                        @Html.DropDownListFor(model => model.Common_RawCategoryFk, ViewBag.RawCategory as SelectList, "Please Select Raw Category", new { id = "ddlCommonRawCategoryFk", @class = " form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Common_RawCategoryFk, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Raw Value:</label>
                        @Html.TextBoxFor(model => model.RawValue, new { id = "txtRawValue", placeholder = "Raw Value", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RawValue, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label for="message-text" class="col-form-label">WIP Value:</label>
                        @Html.TextBoxFor(model => model.WIPValue, new { id = "txtWIPValue", placeholder = "WIP Value", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.WIPValue, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Raw Materials Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#rawMaterialsId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlCommonRawCategoryFk').val($('#tdCommonRawCategoryFk_' + rowId).val().trim()).trigger('change');
                $('#txtRawValue').val($('#tdRawValue_' + rowId).text().trim());
                $('#txtWIPValue').val($('#tdWIPValue_' + rowId).text().trim());
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#rawMaterialsId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#rawMaterials')[0].reset();
        }
    </script>


}





