﻿@model Erp.Core.Services.MIS.VMMis_DailyAttendance
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Daily Attendance";

}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        Daily Attendance:
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Daily Attendance"
                                data-placement="top">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->

                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Date</th>
                                    <th>Department</th>
                                    <th>Today's duty hour</th>
                                    <th>Total Employee</th>
                                    <th>Present</th>
                                    <th>On Leave</th>
                                    <th>Off</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="tdDate_@item.ID">
                                        @item.Date.ToString("yyyy/MM/dd")
                                    </td>
                                    <td id="tdCommon_DepartmenName_@item.ID">
                                        <input type="hidden" id="User_DepartmentFk@item.ID" value="@item.User_DepartmentFk" />
                                        @item.Common_DepartmenName
                                    </td>

                                    <td id="tdWorkingHour_@item.ID">
                                        @item.WorkingHour
                                    </td>
                                    <td id="tdTotalEmployee_@item.ID">
                                        @item.TotalEmployee
                                    </td>
                                    <td id="tdPresent_@item.ID">
                                        @item.Present
                                    </td>
                                    <td id="tdOnLeave_@item.ID">
                                        @item.OnLeave
                                    </td>
                                    <td id="tdOff_@item.ID">
                                        @item.Off
                                    </td>

                                    <td>
                                        <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("InputAttendanceRecorded", "Mis", FormMethod.Post, new { id = "dailyAttendance", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Daily Attendance</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-danger">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "dailyAttendanceId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Date:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input name="Date" asp-for="Date" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control" id="txtDate" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div id="divddlAccountType" class="form-group" style="display:block">
                                            <label for="recipient-name" class="col-form-label">Department:</label>
                                            @Html.DropDownListFor(model => model.User_DepartmentFk, ViewBag.CommonDepartment as SelectList, "Please Select", new { id = "ddlCommonDepartment", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.User_DepartmentFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Today's duty hour:</label>
                                            @Html.TextBoxFor(model => model.WorkingHour, new { id = "txtWorkingHour", placeholder = "Working Hour", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.WorkingHour, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Present:</label>
                                            @Html.TextBoxFor(model => model.Present, new { id = "txtPresent", placeholder = "Present", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Present, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">On Leave</label>
                                            @Html.TextBoxFor(model => model.OnLeave, new { id = "txtOnLeave", placeholder = "OnLeave", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OnLeave, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-lg-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Off</label>
                                            @Html.TextBoxFor(model => model.Off, new { id = "txtOff", placeholder = "Off", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Off, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                                <div class="col-md-8">
                                    <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Save</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Daily Attendance Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#dailyAttendanceId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlCommonDepartment').val($('#tdCommon_DepartmentFk_' + rowId).val().trim()).trigger('change');
                $('#txtDate').val($('#tdDate_' + rowId).text().trim());
                $('#txtWorkingHour').val($('#tdWorkingHour_' + rowId).text().trim());
                //$('#txtTotalEmployee').val($('#tdTotalEmployee_' + rowId).text().trim());
                $('#txtPresent').val($('#tdPresent_' + rowId).text().trim());
                $('#txtOnLeave').val($('#tdOnLeave_' + rowId).text().trim());
                $('#txtOff').val($('#tdOff_' + rowId).text().trim());
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#dailyAttendanceId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#dailyAttendance')[0].reset();
            $('#ActionId').val(1);
        }
    </script>


}
