﻿@model Erp.Core.Services.MIS.VMMis_DailyProduction
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Daily Production";

}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        Daily Production:
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Daily Production"
                                data-placement="top">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->

                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>

                                    <th>SL</th>
                                    <th>Date</th>
                                    <th>Buyer</th>
                                    <th>Order No</th>
                                    <th>SMV</th>
                                    <th>Knitting/Weaving</th>
                                    <th>Dyeing</th>
                                    <th>Cutting</th>
                                    <th>Sewing</th>
                                    <th>Finishing</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                    <tr>
                                        <td>@(++sl)</td>
                                        <td id="tdDate_@item.ID">
                                            @item.Date.ToString("yyyy/MM/dd")
                                        </td>
                                        <td id="tdCommonBuyerName_@item.ID">
                                            <input type="hidden" id="tdCommon_BuyerFk_@item.ID" value="@item.Common_BuyerFk" />
                                            @item.Common_BuyerName
                                        </td>
                                        <td id="tdCommonOrderNo_@item.ID">

                                            @item.Common_OrderNo
                                        </td>
                                        <td id="tdSMV_@item.ID">

                                            @item.SMV
                                        </td>
                                        <td>
                                            @{
                                                int knittingDone = item.KnittingDone;
                                                int knitting = item.Knitting;
                                                if (knittingDone >= knitting)
                                                {
                                                    <span style="color:green" id="tdKnittingDone_@item.ID">
                                                        @item.KnittingDone
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span style="color:red" id="tdKnittingDone_@item.ID">
                                                        @item.KnittingDone
                                                    </span>
                                                }

                                            }
                                            /
                                            <span id="tdKnitting_@item.ID">
                                                @item.Knitting
                                            </span>


                                        </td>
                                        <td>
                                            @{
                                                int dyeingDone = item.DyeingDone;
                                                int dyeing = item.Dyeing;
                                                if (dyeingDone >= dyeing)
                                                {
                                                    <span style="color:green" id="tdDyeingDone_@item.ID">
                                                        @item.DyeingDone
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span style="color:red" id="tdDyeingDone_@item.ID">
                                                        @item.DyeingDone
                                                    </span>
                                                }

                                            }
                                            /
                                            <span style="color:black" id="tdDyeing_@item.ID">
                                                @item.Dyeing
                                            </span>

                                        </td>
                                        <td>
                                            @{
                                                int cuttingDone = item.CuttingDone;
                                                int cutting = item.Cutting;
                                                if (cuttingDone >= cutting)
                                                {
                                                    <span style="color:green" id="tdCuttingDone_@item.ID">
                                                        @item.CuttingDone
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span style="color:red" id="tdCuttingDone_@item.ID">
                                                        @item.CuttingDone
                                                    </span>
                                                }

                                            }
                                            /
                                            <span id="tdCutting_@item.ID">
                                                @item.Cutting
                                            </span>


                                        </td>
                                        <td>
                                            @{
                                                int sewingDone = item.SewingDone;
                                                int sewing = item.Sewing;
                                                if (sewingDone >= sewing)
                                                {
                                                    <span style="color:green" id="tdSewingDone_@item.ID">
                                                        @item.SewingDone
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span style="color:red" id="tdSewingDone_@item.ID">
                                                        @item.SewingDone
                                                    </span>
                                                }

                                            }
                                            /
                                            <span id="tdSewing_@item.ID">
                                                @item.Sewing
                                            </span>

                                        </td>
                                        <td>
                                            @{
                                                int finishingDone = item.FinishingDone;
                                                int finishing = item.Finishing;
                                                if (sewingDone >= sewing)
                                                {
                                                    <span style="color:green" id="tdFinishingDone_@item.ID">
                                                        @item.FinishingDone
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span style="color:red" id="tdFinishingDone_@item.ID">
                                                        @item.FinishingDone
                                                    </span>
                                                }

                                            }
                                            /
                                            <span id="tdFinishing_@item.ID">
                                                @item.Finishing
                                            </span>

                                        </td>
                                        <td>
                                            <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                            <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("InputDailyProduction", "Mis", FormMethod.Post, new { id = "dailyProduction", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Daily Production</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-success">
                            <div class="box-body">
                                <div class="row">
                                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "dailyProductionId" })
                                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="col-md-12 col-sm-12 col-lg-12">
                                        <div class="col-md-5 col-sm-5 col-lg-5">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Date:</label>
                                                <div class="input-group date">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                    <input name="Date" asp-for="Date" type="text" value="" asp-format="{0:yyyy/m/d}" class="datePicker form-control" id="txtDate" autocomplete="off">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-sm-7 col-lg-7">
                                            <div id="divddlAccountType" class="form-group">
                                                <label for="recipient-name" class="col-form-label">Buyer:</label>
                                                @Html.DropDownListFor(model => model.Common_BuyerFk, ViewBag.CommonBuyer as SelectList, "Please Select Order", new { id = "ddlCommonBuyerFk", @class = " form-control", required = "required", style = "width:100%" })
                                                @Html.ValidationMessageFor(model => model.Common_BuyerFk, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-9 col-sm-9 col-lg-9">
                                    <div id="divddlAccountType" class="form-group">
                                        <label for="message-text" class="col-form-label">Order No:</label>
                                        @Html.TextBoxFor(model => model.Common_OrderNo, new { id = "txtCommonOrderNo", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Common_OrderNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-lg-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">SMV:</label>
                                        @Html.TextBoxFor(model => model.SMV, new { id = "txtSMV", placeholder = "SMV", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SMV, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Knitting:</label>
                                        @Html.TextBoxFor(model => model.Knitting, new { id = "txtKnitting", placeholder = "Knitting", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Knitting, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Knitting Done:</label>
                                        @Html.TextBoxFor(model => model.KnittingDone, new { id = "txtKnittingDone", placeholder = "Knitting Done", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.KnittingDone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Dyeing:</label>
                                        @Html.TextBoxFor(model => model.Dyeing, new { id = "txtDyeing", placeholder = "Dyeing", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Dyeing, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Dyeing Done:</label>
                                        @Html.TextBoxFor(model => model.DyeingDone, new { id = "txtDyeingDone", placeholder = "Dyeing Done", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DyeingDone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Cutting:</label>
                                        @Html.TextBoxFor(model => model.Cutting, new { id = "txtCutting", placeholder = "Cutting", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Cutting, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Cutting Done:</label>
                                        @Html.TextBoxFor(model => model.CuttingDone, new { id = "txtCuttingDone", placeholder = "Cutting Done", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.CuttingDone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Sewing:</label>
                                        @Html.TextBoxFor(model => model.Sewing, new { id = "txtSewing", placeholder = "Sewing", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Sewing, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Sewing Done:</label>
                                        @Html.TextBoxFor(model => model.SewingDone, new { id = "txSewingDone", placeholder = "Sewing Done", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.SewingDone, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Finishing:</label>
                                        @Html.TextBoxFor(model => model.Finishing, new { id = "txtFinishing", placeholder = "Finishing", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Finishing, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        <label for="message-text" class="col-form-label">Finishing Done:</label>
                                        @Html.TextBoxFor(model => model.FinishingDone, new { id = "txtFinishingDone", placeholder = "Finishing Done", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.FinishingDone, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    </div>
                                    <div class="col-md-8  col-sm-8">
                                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>

                                    </div>
                                </div>
                               
                            </div>
                          
                        </div>
                    </div>

                  
                  

                </div>
              
               
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Daily Production Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#dailyProductionId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#ddlCommonBuyerFk').val($('#tdCommon_BuyerFk_' + rowId).val().trim()).trigger('change');
                $('#txtCommonOrderNo').val($('#tdCommonOrderNo_' + rowId).text().trim());

                $('#txtSMV').val($('#tdSMV_' + rowId).text().trim());

                $('#txtDate').val($('#tdDate_' + rowId).text().trim());
                $('#txtKnitting').val($('#tdKnitting_' + rowId).text().trim());
                $('#txtKnittingDone').val($('#tdKnittingDone_' + rowId).text().trim());
                $('#txtDyeing').val($('#tdDyeing_' + rowId).text().trim());
                $('#txtDyeingDone').val($('#tdDyeingDone_' + rowId).text().trim());
                $('#txtCutting').val($('#tdCutting_' + rowId).text().trim());
                $('#txtCuttingDone').val($('#tdCuttingDone_' + rowId).text().trim());
                $('#txtSewing').val($('#tdSewing_' + rowId).text().trim());
                $('#txSewingDone').val($('#tdSewingDone_' + rowId).text().trim());
                $('#txtFinishing').val($('#tdFinishing_' + rowId).text().trim());
                $('#txtFinishingDone').val($('#tdFinishingDone_' + rowId).text().trim());

            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#dailyProductionId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#dailyProduction')[0].reset();
            $('#ActionId').val(1);
        }
    </script>


}
