﻿@model Erp.Core.Services.MIS.VMMis_OrderConfirm
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Accounts Payable";
      
}
<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">
                    <h3>
                        Order Confirm:
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal" title="Add Accounts Payable"
                                data-placement="top">
                            <i class="glyphicon glyphicon-plus"></i>
                        </button>
                    </h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->

                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Buyer</th>
                                    <th>
                                        Order No
                                    </th>
                                    <th>
                                        Final Delivery Date
                                    </th>
                                    <th>
                                        Order Qty
                                    </th>
                                    <th>
                                        Order Value
                                    </th>
                                    <th>
                                        CM Value
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{
                                int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                <tr>
                                    <td>@(++sl)</td>
                                    <td id="tdcommon_BuyerName_@item.ID">
                                        <input type="hidden" id="tdCommon_BuyerFk_@item.ID" value="@item.Common_BuyerFk" />
                                        @item.Common_BuyerName
                                    </td>
                                    <td id="tdCommonOrderNo_@item.ID">
                                        @item.Common_OrderNo
                                    </td>
                                    <td id="tdfinalDeliveryDate_@item.ID">
                                        @item.FinalDeliveryDate??.ToString("yyyy/MM/dd")
                                    </td>
                                    <td id="tdorderQty_@item.ID">
                                        @item.OrderQty
                                    </td>
                                    <td id="tdorderValue_@item.ID">
                                        @String.Format("{0:0.00}", item.OrderValue)

                                    </td>
                                    <td id="tdcmValue_@item.ID">
                                        @String.Format("{0:0.00}", item.CmValue)

                                    </td>
                                    <td>
                                        <a id="@item.ID" onclick=" makeEditble(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                                        <a onclick="makeDeletable(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                </div>
            </div>
        </div>
    </div>
</section>

@using (Html.BeginForm("InputOrderConfirm", "Mis", FormMethod.Post, new { id = "orderConfirm", @class = "formValidator" }))
{
    @Html.AntiForgeryToken()

    <div class="modal fade" id="exampleModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Order Confirm</b></h5>
                </div>
                <div class="modal-body">
                    <div class="box">
                        <div class="box-danger">
                            <div class="box-body">
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "orderConfirmId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="divddlAccountType" class="form-group">
                                            <label for="recipient-name" class="col-form-label">Buyer:</label>
                                            @Html.DropDownListFor(model => model.Common_BuyerFk, ViewBag.CommonBuyer as SelectList, "Please Select Buyer", new { id = "ddlCommonBuyerFk", @class = " form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.Common_BuyerFk, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-7">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Order No:</label>
                                            @Html.TextBoxFor(model => model.Common_OrderNo, new { id = "txtCommonOrderNo", placeholder = "Order No", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.Common_OrderNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Final Delivery Date:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input asp-for="FinalDeliveryDate" type="text" asp-format="{0:yyyy/m/d}" class="datePicker form-control" id="txtFinalDeliveryDate" autocomplete="off">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Order Qty:</label>
                                            @Html.TextBoxFor(model => model.OrderQty, new { id = "txtOrderQty", placeholder = "Order Qty", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OrderQty, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Order Value:</label>
                                            @Html.TextBoxFor(model => model.OrderValue, new { id = "txtOrderValue", placeholder = "Order Value", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.OrderValue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">CM Value:</label>
                                            @Html.TextBoxFor(model => model.CmValue, new { id = "txtCmValue", placeholder = "Value", @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.CmValue, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="col-md-4">
                                        <button type="button" style="width:100%" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    </div>
                                    <div class="col-md-8">
                                        <button type="submit" style="width:100%" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>Save</button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                  
                   
                </div>
               
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" onclick="resetForm()" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Order Confirm Delete</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" onclick="resetForm()" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-trash"></i>&nbsp;OK</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function makeEditble(elem) {
            if (elem !== null) {
                var rowId = elem.id;
                $('#orderConfirmId').val(rowId);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#txtCommonOrderNo').val($('#tdCommonOrderNo_' + rowId).text().trim());
                $('#ddlCommonBuyerFk').val($('#tdCommon_BuyerFk_' + rowId).val().trim()).trigger('change');
                $('#txtFinalDeliveryDate').val($('#tdfinalDeliveryDate_' + rowId).text().trim());
                $('#txtOrderQty').val($('#tdorderQty_' + rowId).text().trim());
                $('#txtOrderValue').val($('#tdorderValue_' + rowId).text().trim());
                $('#txtCmValue').val($('#tdcmValue_' + rowId).text().trim());
            }
        }

        function makeDeletable(id) {
            if (id !== null) {
                $('#orderConfirmId').val(id);
                $('#ActionId').val(3);

            }
        }
        function resetForm() {
            //$('#CMEarned').trigger("reset");
            $('#orderConfirm')[0].reset();
            $('#ActionId').val(1);

        }
        //$('#txtFinalDeliveryDate').datepicker({
        //    dateFormat: "dateFormat",
        //    autoclose: true,
        //    onSelect: function () {
        //        $(this).val();
        //    }
        //});

    </script>
}





