﻿@{
  ViewData["Title"] = "InputFinishedGoods";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/style/Site.css" rel="stylesheet" />
<div class="box">
    <div class="box-header">
        <h3>
            Finished Goods in Stock :
            &nbsp;&nbsp;
            <button type="button" class="btn btn-default glyphicon glyphicon-plus" data-toggle="modal" data-target="#finishedGoodsmdl"></button>
        </h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <table id="tableX" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Value</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>MK676554</td>
                    <td>Item 1</td>
                    <td>345623</td>
                    <td>$770989</td>
                    <td>
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#finishedGoodsmdl"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button type="button" class="btn btn-default"><i class="lnkClose glyphicon glyphicon-trash"></i></button>

                    </td>

                </tr>

            </tbody>

        </table>
    </div>
    <!-- /.box-body -->
</div>
<div id="finishedGoodsmdl" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content round">
            <div class="modal-header" style="cursor:pointer">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Input Finished Goods</h4>
            </div>
            <div class="modal-body">
                <from>
                    <div class="form-horizontal">
                        <div class="box-body">
                            @*<div class="form-group">
                                    <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Buyer</label>
                                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                        <div>
                                            @Html.DropDownList("ass", ViewBag.Buyer as SelectList, "------------Select a Buyer------------", new { @class = "form-control" })
                                        </div>

                                    </div>
                                </div>*@

                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Order</label>
                                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <input type="text" class="form-control" name="Order">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Item</label>
                                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <input type="text" class="form-control" name="item">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Quantity</label>
                                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <input type="number" class="form-control" name="quantity">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-sm-3 col-lg-3 col-md-3 control-label">Value</label>
                                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                                    <input type="number" class="form-control" name="value">
                                </div>
                            </div>

                        </div>

                    </div>
                </from>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Save</button>
                <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Close</button>

            </div>
        </div>

    </div>
</div>


@section scripts{
    <script src="~/style/Site.js"></script>

}

