﻿@model Erp.Core.Services.Report.VMReportOrder

@{
    ViewData["Title"] = "Order Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3><label>Filter By</label></h3>
            </div>
            <div class="box-body">
                <div class="col-md-12 form-group">
                    <label asp-for="BuyerID" class="col-form-label"></label>
                    <select id="ddlBuyer" asp-for="BuyerID" asp-items="Model.BuyerList" class="form-control searchingDropdown" style="width:100%;">
                        <option value="" selected>Select Buyer</option>
                    </select>
                    <span asp-validation-for="BuyerID" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <label asp-for="BuyerPOID" class="col-form-label"></label>
                    <select id="ddlBuyerPO" asp-for="BuyerPOID" asp-items="Model.BuyerPOList" class="form-control searchingDropdown" style="width:100%;">
                        <option value="" selected>Select Buyer PO</option>
                    </select>
                    <span asp-validation-for="BuyerPOID" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <label asp-for="StyleID" class="col-form-label"></label>
                    <select id="ddlStyle" asp-for="StyleID" asp-items="Model.StyleList" class="form-control searchingDropdown" style="width:100%;">
                        <option value="" selected>Select Style</option>
                    </select>
                    <span asp-validation-for="StyleID" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">

                    <button id="btnView" class="btn btn-primary form-control" title="View PO Wise Inventory Summary">View</button>

                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{


    <script type="text/javascript">
        
        $("#ddlBuyer").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("BuyerPOGet")",
                datatype: "Json",
                data: { id: $("#ddlBuyer :selected").val() },
                success: function (data) {
                    var items = "";
                    if (data) {
                        $("#ddlBuyerPO").empty();
                        $("#ddlBuyerPO").append("<option value='0' selected>Select Buyer PO</option>");
                        $(data).each(function (index, item) {
                            $("#ddlBuyerPO").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });
        $("#ddlBuyerPO").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("StyleGet")",
                datatype: "Json",
                data: { id: $("#ddlBuyerPO :selected").val() },
                success: function (data) {
                    var items = "";
                    if (data) {
                        $("#ddlStyle").empty();
                        $("#ddlStyle").append("<option value='0' selected>Select Style</option>");
                        $(data).each(function (index, item) {
                            $("#ddlStyle").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });
        
        $('#btnView').click(function (e) {
            
            if ((!$("#ddlBuyerPO :selected").val() || $("#ddlBuyerPO :selected").val() == '' || $("#ddlBuyerPO :selected").val() == '0') &&
                (!$("#ddlStyle :selected").val() || $("#ddlStyle :selected").val() == '' || $("#ddlStyle :selected").val() == '0')) {
                return false;
            }

            window.open('BuyerPOInventorySummary/' + $("#ddlStyle :selected").val(), '_blank');
        });
        
    </script>
}