﻿
@model Erp.Core.Services.Report.VMBPOReportSlave

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Order Inventory(In Progress)</title>
    <style>
        #tblItemList thead, #tblItemList thead * {
            background-color: lightgrey;
        }

        @@media print {


            #print, #print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <section class="col-lg-12 col-md-12 col-sm-12">
        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
            <thead>
                <tr>
                    <th>
                        <b><u>Order Inventory(In Progress)</u></b> 
                        <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="window.print();" class="btn btn-primary">
                            <label style="background-color:Highlight;"><u style="cursor:pointer;">Print</u> </label>
                        </span>
                    </th>
                </tr>
                <tr>
                    <td >
                        <b>Style Details</b>
                        
                     
                    </td>
                </tr>
            </thead>
        </table>
        <table class="table table-bordered table-condensed" border="1" cellspacing="0" rules="all" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
            <thead>

                <tr>
                    <td>Style ID :</td>
                    <th>@Model.CID</th>
                    <td>Buyer PO :</td>
                    <th>@Model.BuyerPO</th>
                    <td>Pack Quantity :</td>
                    <th>@Model.PackQty</th>
                </tr>
                <tr>
                    <td>Buyer Name :</td>
                    <th>@Model.BuyerName</th>
                    <td>Order Date :</td>
                    <th>@Model.OrderDateControlString</th>
                    <td style="width:95px;">Set Per Pack :</td>
                    <th>@Model.PackPieceQty</th>
                </tr>
                <tr>
                    <td style="width:95px;">Style Name :</td>
                    <th>@Model.Style</th>
                    <td>Session :</td>
                    <th>@Model.Season</th>
                    <td>Unit Price :</td>
                    <th>@Model.PackPriceString</th>
                </tr>
                <tr>
                    <td>Reference :</td>
                    <th>@Model.Reference</th>
                    <td>Style Size :</td>
                    <th>@Model.SizeName</th>
                    <td>Total Quantity :</td>
                    <th>@Model.PieceQty</th>
                </tr>
                <tr>
                    <td>Item :</td>
                    <th colspan="3">@Model.ItemName</th>
                    <td>Total DZ. :</td>
                    <th>@Model.DozonQtyString</th>
                </tr>
                <tr>
                    <td>Fabrication :</td>
                    <th>@Model.Fabrication</th>
                    <td>Class :</td>
                    <th>@Model.Class</th>
                    <td>Total Price :</td>
                    <th>@Model.StylePriceString</th>
                </tr>
                <tr>
                    <td>Merchandiser :</td>
                    <th>@Model.User</th>
                    <td>First Move :</td>
                    <th>@Model.FirstMoveControlString</th>
                    <td>Update Date :</td>
                    <th>@Model.UpdateDateControlString</th>
                </tr>
            </thead>
        </table>
        <table id="tblItemList" style="width:100%;margin-top:50px;" border="1" cellspacing="0" rules="all">
            <thead>
                <tr>
                    <th>SL</th>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Required</th>
                    <th>Received</th>
                    <th>Used Qty</th>
                    <th>Usable Qty</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                @{ int sl = 0;
                    double gTotal = 0;}
                @foreach (var item in Model.DataListSlave)
                {

                    <tr>
                        <td style="text-align:center;">@(++sl)</td>

                        <td>@item.VMRawItemName</td>
                        <td>@item.DescriptionSlave</td>
                        <td style="text-align:right;">@item.StyleQuantity</td>
                        <td style="text-align:right;">@item.ReceivedQuantity</td>
                        <td style="text-align:right;">@item.UsedQuantity</td>
                        <td style="text-align:right;">@item.UsableQuantity</td>
                        <td>@item.VMUnitName</td>

                    </tr>
                }

            </tbody>
        </table>





    </section>
</body>
</html>

