﻿@model Erp.Core.Services.Store.VmStoreReport
@{
    ViewData["Title"] = "Report Invetry Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Sl = 0;
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">

            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store Reports
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-body">
                        <div class="row">
                            <form asp-action="">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="box-header custom bg-success">
                                </div>
                                <div class="row ">
                                    <div class="col-md-12">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="ReportID" class="control-label"></label>
                                                <select asp-for="ReportID" asp-items="Model.OriginTypeList" class="form-control">
                                                    <option value="0"> Select All </option>
                                                </select>
                                                <span asp-validation-for="ReportID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Common_RawCategoryFK" class="control-label"></label>
                                                <select asp-for="Common_RawCategoryFK" asp-items="Model.RawCategoryList" class="form-control searchingDropdown ">
                                                    <option value="0"> Select All </option>
                                                </select>
                                                <span asp-validation-for="Common_RawCategoryFK" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Common_RawSubCategoryFK" class="control-label"></label>
                                                <select asp-for="Common_RawSubCategoryFK" asp-items="Model.RawSubCategoryList" class="form-control searchingDropdown ">
                                                    <option value="0"> Select All </option>
                                                </select>
                                                <span asp-validation-for="Common_RawSubCategoryFK" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Common_RawItemFK" class="control-label"></label>
                                                <select asp-for="Common_RawItemFK" asp-items="Model.RawItemList" class="form-control searchingDropdown ">
                                                    <option value="0"> Select All </option>
                                                </select>
                                                <span asp-validation-for="Merchandising_StyleFK" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="FromDate" class="control-label"></label>
                                                <input asp-for="FromDate" class="form-control datefield" placeholder=" From Date " />
                                                <span asp-validation-for="FromDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="ToDate" class="control-label"></label>
                                                <input asp-for="ToDate" class="form-control datefield" placeholder=" To Date " />
                                                <span asp-validation-for="ToDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div></div>
                                <div class="">
                                    <div class="modal-footer">
                                        <button asp-controller="Report" asp-action="ViewReportInventory" type="submit" id="btnsave" class="btn btn-success fa fa-dashboard"> Report Show </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var nRawCategory, nRawSubCategory, nRawItem, nStyleSlaveId;
        $("#Common_RawCategoryFK").change(function (e) {

            $.ajax({
                type: "GET",
                url: "/Procurement/RawSubCategoryGet", //"@Url.Action("Procurement/RawSubCategoryGet")",
                datatype: "Json",
                data: { id: $("#Common_RawCategoryFK :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#Common_RawSubCategoryFK").empty();
                        $("#Common_RawSubCategoryFK").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#Common_RawSubCategoryFK").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        //if (nRawSubCategory && nRawSubCategory > 0) {
                        //    $("#Common_RawSubCategoryFK").val(nRawSubCategory);

                        //    $("#Common_RawSubCategoryFK").trigger('change');
                        //    if (nStyleSlaveId && nStyleSlaveId > 0) {
                        //        $("#Common_RawSubCategoryFK").prop('disabled', true);
                        //    }
                        //}
                    }
                }
            });
        });
        $("#Common_RawSubCategoryFK").change(function (e) {

            $.ajax({
                type: "GET",
                url: "/Procurement/RawItemGet", //"@Url.Action("RawItemGet")",
                datatype: "Json",
                data: { id: $("#Common_RawSubCategoryFK :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#Common_RawItemFK").empty();
                        $("#Common_RawItemFK").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#Common_RawItemFK").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        //if (nRawItem && nRawItem > 0) {
                        //    $("#Common_RawItemFK").val(nRawItem);

                        //    $("#ddlRawItem").trigger('change');
                        //    if (nStyleSlaveId && nStyleSlaveId > 0) {
                        //        $("#ddlRawItem").prop('disabled', true);
                        //    }
                        //}
                    }
                }
            });
        });
        @*$("#Common_RawItemFK").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemInfoGet")",
                datatype: "Json",
                data: { id: $("#ddlRawItem :selected").val() },
                success: function (data) {
                    //
                    var items = "";

                    if (data) {
                        $('#txtAvailableQuantity').val(data.quantity);
                        $('#ddlUnit').val(data.unit);
                    }
                }
            });
        });*@

        $("#Merchandising_StyleFK").change(function () {
            var name = $(this).children("option:selected").text();
            $("#StyleName").val(name)
        });
    </script>
}