﻿
@model Erp.Core.Services.Store.VmStoreReport
@{
    ViewData["Title"] = "Report Invetry Consumption";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Sl = 0;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">

            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store Reports
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-body">
                        <div class="row">
                            <form asp-action="ViewReportInventoryConsumption">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="box-header custom bg-success">
                                </div>

                                <div class="row hidden">
                                    <div class="col-md-12">

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="ReportID" class="control-label"></label>
                                                <select asp-for="ReportID" asp-items="Model.OriginTypeList" class="form-control">
                                                    <option value="0"> Select All </option>
                                                </select>
                                                <span asp-validation-for="ReportID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Common_RawCategoryFK" class="control-label"></label>
                                                <select asp-for="Common_RawCategoryFK" asp-items="Model.RawCategoryList" class="form-control searchingDropdown ">
                                                    <option value="0"> Select All </option>
                                                </select>
                                                <span asp-validation-for="Common_RawCategoryFK" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Common_RawSubCategoryFK" class="control-label"></label>
                                                <select asp-for="Common_RawSubCategoryFK" asp-items="Model.RawSubCategoryList" class="form-control searchingDropdown ">
                                                    <option value="0"> Select All </option>
                                                </select>
                                                <span asp-validation-for="Common_RawSubCategoryFK" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="Common_RawItemFK" class="control-label"></label>
                                                <select asp-for="Common_RawItemFK" asp-items="Model.RawItemList" class="form-control searchingDropdown ">
                                                    <option value="0"> Select All </option>
                                                </select>
                                                <span asp-validation-for="Merchandising_StyleFK" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="FromDate" class="control-label"></label>
                                                <input asp-for="FromDate" class="form-control datefield" placeholder=" From Date " />
                                                <span asp-validation-for="FromDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="form-group">
                                                <label asp-for="ToDate" class="control-label"></label>
                                                <input asp-for="ToDate" class="form-control datefield" placeholder=" To Date " />
                                                <span asp-validation-for="ToDate" class="text-danger"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <input class="hidden" asp-for="StyleName" />
                                                <label asp-for="Merchandising_StyleFK" class="control-label"></label>
                                                <select asp-for="Merchandising_StyleFK" asp-items="Model.ApprovedStyleList" class="form-control searchingDropdown">
                                                    <option value="-1"> All Style (Item Wise) </option>
                                                    <option value="0"> All Style </option>
                                                </select>
                                                <span asp-validation-for="Merchandising_StyleFK" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="">
                            <div class="modal-footer">
                                <button asp-controller="Report" asp-action="ViewReportInventoryConsumptionDetails" type="submit" id="btnsave" class="btn btn-success fa fa-dashboard hidden"> Show Report Details </button>
                                <button asp-controller="Report" asp-action="ViewReportInventoryConsumptionAllStyle" type="submit" id="btnsave" class="btn btn-success fa fa-dashboard"> Show Report Details </button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="dialog" style="display: none">

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $("#Merchandising_StyleFK").change(function () {
            var name = $(this).children("option:selected").text();
            var id = $(this).children("option:selected").val();
            $("#StyleName").val(name);
            debugger;
            $.ajax({
                type: "GET",
                url: "/Report/GetInventoryRepoets?styleId="+ id,
                datatype: "Json",                
                success: function (data) {
                    if (data) {
                      //  alert(" Plese Select ");
                    }
                }
            });
        });
    </script>
}