﻿@{
    ViewData["Title"] = "Item Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">

    .customTable thead > tr > th {
        padding: 4px;
    }
    .customTable{
        margin-bottom:0px!important;
    }
    .customTable tbody td {
        padding: 2px 10px !important;
    }
</style>


@model Erp.Core.Services.Report.VMPOReportSlave
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="box box-success">
            <div class="box-body">
                @using (Html.BeginForm("ItemPOStoreInventory", "Report", FormMethod.Post, new { id = "StyleReport", @class = "formValidator" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-xs-12">
                            <div class="form-group">
                                <label asp-for="ID" class="control-label">Report Type</label>
                                <select asp-for="ID" asp-items="ViewBag.ReportList" class="form-control searchingDropdown" required="required">
                                    <option value=""> Select Type </option>
                                </select>
                                <span asp-validation-for="ID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="form-group">
                                <label asp-for="OrderID" class="control-label">Buyer Order</label>
                                <select asp-for="OrderID" asp-items="ViewBag.OrderList" class="form-control searchingDropdown">
                                    <option value="">Select a Buyer Order</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-12">
                            <div class="form-group">
                                <label asp-for="StyleID" class="control-label">Order Style</label>
                                <select asp-for="StyleID" asp-items="ViewBag.StyleList" class="form-control searchingDropdown">
                                    <option value="">Select a Style</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="form-group">
                                <label asp-for="SupplierID" class="control-label">Supplier Name</label>
                                <select asp-for="SupplierID" asp-items="ViewBag.SupplierList" class="form-control searchingDropdown">
                                    <option value=""> Select a Style </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">From Date:</span>
                                @Html.TextBoxFor(model => model.FromDate, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", style = "width:100%", @autocomplete = "off" })

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="input-group">
                                <span style="width:130px;" class="input-group-addon bg-blue">From Date:</span>
                                @Html.TextBoxFor(model => model.ToDate, "{0:yyyy-MM-dd}", new { @class = "form-control datePicker", style = "width:100%", @autocomplete = "off" })

                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12">
                            <div class="form-group">
                                <button type="submit" id="btnsave" class="btn btn-primary btn-block">Submit</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="box box-success">
            <div class="box-header custom">
                <h4>@Model.TermsAndCondition</h4>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    @if (Model.DataListSlave != null)
                    {
                        @foreach (var item in Model.DataListSlave)
                        {
                            <table class="table table-bordered text-nowrap customTable">
                                <thead>
                                    <tr style="background-color:cornflowerblue;">
                                        <th>Style Name</th>
                                        <th>PO CID</th>
                                        <th>Item Name</th>
                                        <th style="text-align:right;">Required Qty</th>
                                        <th style="text-align:right;">Invoice Qty</th>
                                        <th style="text-align:right;">Invoice Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@item.StyleName</td>
                                        <td>@item.CID</td>
                                        <td>@item.VMRawItemName</td>
                                        <td style="text-align:right;">@item.PurchaseQuantity.ToString("0.00000") @item.VMUnitName</td>
                                        <td style="text-align:right;">@item.TotalInvoiceQty.ToString("0.00000") @item.VMUnitName</td>
                                        <td style="text-align:right;">@item.TotalInvoiceValue.ToString("0.00000")</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered customTable">
                                <thead>
                                    <tr>
                                        <th>Challan No</th>
                                        <th>Receive Date</th>
                                        <th style="text-align:right;">PO Rate</th>
                                        <th style="text-align:right;">PO Value</th>
                                        <th style="text-align:right;">Receive Qty</th>
                                        <th style="text-align:right;">Invoice Qty</th>
                                        <th style="text-align:right;">Invoice Rate</th>
                                        <th style="text-align:right;">Total Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item1 in item.DataListSlave)
                                    {
                                    <tr>
                                        <td>@item1.ChallanNo</td>
                                        <td>@item1.ReceiveDate.ToString("yyyy/MM/dd")</td>
                                        <td style="text-align:right;">@item1.PORate.ToString("0.00000")</td>
                                        <td style="text-align:right;">@item1.POValue.ToString("0.00000")</td>
                                        <td style="text-align:right;">@item1.ReceivedQuantity.ToString("0.00000")</td>
                                        <td style="text-align:right;">@item1.InvoiceQty.ToString("0.00000")</td>
                                        <td style="text-align:right;">@item1.InvoiceRate.ToString("0.00000")</td>
                                        <td style="text-align:right;">@item1.InvoicePrice.ToString("0.00000")</td>
                                    </tr>

                                    }
                                </tbody>
                            </table>
                        }



                        @*<table class="table table1 table-bordered text-nowrap customTable">



                <thead>
                    <tr>
                        <th>Style Name</th>
                        <th>PO CID</th>
                        <th>Item Name</th>
                        <th>Required Qty</th>
                        <th>Challan</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DataListSlave)
                    {
                        <tr>
                            <td>@item.StyleName</td>
                            <td>@item.CID</td>
                            <td>@item.VMRawItemName</td>
                            <td>@item.PurchaseQuantity @item.VMUnitName</td>
                            <td>
                                <table class="table table-bordered customTable">
                                    <thead>
                                        <tr>
                                            <th>Challan No</th>
                                            <th>Date</th>
                                            <th>Receive Qty</th>
                                            <th>Invoice Qty</th>
                                            <th>Invoice Rate</th>
                                            <th>Total Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item1 in item.DataListSlave)
                                        {
                                            <tr>
                                                <td>@item1.ChallanNo</td>
                                                <td>@item1.ReceiveDate.ToString("yyyy/MM/dd")</td>
                                                <td>@item1.ReceivedQuantity.ToString("0.00000")</td>
                                                <td>@item1.InvoiceQty.ToString("0.00000")</td>
                                                <td>@item1.InvoiceRate.ToString("0.00000")</td>
                                                <td>@item1.InvoicePrice.ToString("0.00000")</td>
                                            </tr>

                                        }
                                    </tbody>
                                </table>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>*@
                    }
                </div>
            </div>
        </div>
    </div>
</div>