﻿@model Erp.Core.Services.Report.VMReportOrder

@{
    ViewData["Title"] = "PO Wise Inventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3><label>Filter By</label></h3>
            </div>
            <div class="box-body">
                <div class="col-md-12 form-group">
                    <label asp-for="SupplierID" class="col-form-label"></label>
                    <select id="ddlSupplier" asp-for="SupplierID" asp-items="Model.SupplierList" class="form-control searchingDropdown" style="width:100%;">
                        <option value="" selected>Select Supplier</option>
                    </select>
                    <span asp-validation-for="SupplierID" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    <label asp-for="SupplierPOID" class="col-form-label"></label>
                    <select id="ddlSupplierPO" asp-for="SupplierPOID" asp-items="Model.SupplierPOList" class="form-control searchingDropdown" style="width:100%;">
                        <option value="" selected>Select Supplier PO</option>
                    </select>
                    <span asp-validation-for="SupplierPOID" class="text-danger"></span>
                </div>
                <div class="col-md-12 form-group">
                    
                    <button id="btnView" class="btn btn-primary form-control" title="View PO Wise Inventory Summary">View</button>
                    
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts{


    <script type="text/javascript">
        
        $("#ddlSupplier").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SupplierPOGet")",
                datatype: "Json",
                data: { id: $("#ddlSupplier :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlSupplierPO").empty();
                        $("#ddlSupplierPO").append("<option value='0' selected>Select Supplier PO</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSupplierPO").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        
                    }
                }
            });
        });
        
        $('#btnView').click(function (e) {
            
            if (!$("#ddlSupplierPO :selected").val() || $("#ddlSupplierPO :selected").val() == '' || $("#ddlSupplierPO :selected").val() == '0') {
                return false;
            }

            window.open('SupplierPOInventorySummary/' + $("#ddlSupplierPO :selected").val(), '_blank');
        });
        
    </script>
}