﻿@{
    ViewData["Title"] = "StyleReport";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
<style type="text/css">
    h4 {
        /*border-bottom: 2px solid black;
                display: inline;*/
    }

    .trclass {
        border: 1px solid #000;
        font-size: 12px;
        font-weight: 800;
        background-color: #C0C0C0;
        line-height: 20px
    }

    .table-condensed > tbody > tr > td,
    .table-condensed > tbody > tr > th,
    .table-condensed > tfoot > tr > td,
    .table-condensed > tfoot > tr > th,
    .table-condensed > thead > tr > td,
    .table-condensed > thead > tr > th {
        padding: 3px !important;
    }

    #page {
        background-color: #fff;
        width: 900px;
        margin: 40px auto;
        padding: 0 20px;
        font-size: 12px;
        /*text-transform: uppercase !important;*/
    }

    .labelcolor {
        -webkit-print-color-adjust: exact;
        background: #525659 !important;
        color: white;
    }

    @@media print {
        .trclass {
            background-color: #092aea !important;
            -webkit-print-color-adjust: exact;
            line-height: 20px
        }

        #print {
            display: none !important;
        }
    }
</style>

@model Erp.Core.Services.Report.VMBPOReportSlave
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="box box-success">
            <div class="box-body">
                @using (Html.BeginForm("StylePO", "Report", FormMethod.Post, new { id = "StyleReport", @class = "formValidator" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-lg-9 col-md-9 col-xs-12">
                        <div class="form-group">
                            <label asp-for="VMMerchandising_StyleID" class="control-label">Style Name</label>
                            <select asp-for="VMMerchandising_StyleID" asp-items="ViewBag.StyleList" class="form-control searchingDropdown" required="required">
                                <option value=""> Select a Style </option>
                            </select>
                            <span asp-validation-for="VMMerchandising_StyleID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-12">
                        <div class="form-group" style="padding-top:25px">
                            <button type="submit" id="btnsave" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    
    <div class="col-lg-12 col-md-12 col-xs-12" >
        <div style="background-color: #525659; padding-top:1px; padding-bottom:1px;">
            <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="printDiv('page')" class="btn btn-primary">
                Print
            </span>
            <div id="page">
                <div style="min-height: 900px;">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div style="text-align:left">
                                <h4><b>Style Wise Details Purchase Order</b></h4>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5" style="padding-top:5px; text-align:right;">
                            <p>Print Date: @DateTime.Now.ToString("MMM dd, yyyy hh:mm tt")</p>
                        </div>
                    </div>

                    <div style="width:100%;">
                        <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                            <thead>
                                <tr><th colspan="10" style="width:95px; text-align:center; background-color:#3173fb !important; color:white;">Style Details</th></tr>
                                <tr>
                                    <th>Style ID</th>
                                    <th>:</th>
                                    <th>@Model.CID</th>
                                    <th>Buyer PO</th>
                                    <th>:</th>
                                    <th>@Model.BuyerPO</th>
                                    <th>Pack Quantity</th>
                                    <th>:</th>
                                    <th>@Model.PackQty</th>
                                </tr>
                                <tr>
                                    <th>Buyer Name</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.BuyerName</th>
                                    <th>Order Date</th>
                                    <th>:</th>
                                    <th>@Model.OrderDateControlString</th>
                                    <th style="width:95px;">Set Per Pack</th>
                                    <th>:</th>
                                    <th>@Model.PackPieceQty</th>
                                </tr>
                                <tr>
                                    <th style="width:95px;">Style Name</th>
                                    <th>:</th>
                                    <th>@Model.Style</th>
                                    <th>Session</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.Season</th>
                                    <th>Unit Price(Pcs)</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.UnitPriceString</th>
                                </tr>
                                <tr>
                                    <th>Reference</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.Reference</th>
                                    <th>Style Size</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.SizeName</th>
                                    <th>Pack Price</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.PackPriceString</th>
                                </tr>
                                <tr>
                                    <th>Item</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.ItemName</th>
                                    <th>Class</th>
                                    <th>:</th>
                                    <th>@Model.Class</th>
                                    <th>Total Quantity</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.PieceQty</th>
                                </tr>
                                <tr>
                                    <th>Fabrication</th>
                                    <th>:</th>
                                    <th>@Model.Fabrication</th>
                                    <th>First Move</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.FirstMoveControlString</th>
                                    <th>Total DZ.</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.DozonQty.ToString("0.00000")</th>
                                </tr>
                                <tr>
                                    <th>Merchandiser</th>
                                    <th>:</th>
                                    <th>@Model.User</th>

                                    <th>Update Date</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.UpdateDateControlString</th>
                                    <th>Total Price</th>
                                    <th style="width:5px;">:</th>
                                    <th>@Model.StylePrice.ToString("0.00000")</th>
                                </tr>
                            </thead>
                        </table>
                        
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div style="text-align:center">
                                    <h4><b>PURCHASE ORDER</b></h4>
                                </div>
                            </div>
                        </div>

                        @if (Model.DataListSlave != null)
                        {
                            @foreach (var item in Model.DataListSlave)
                            {
                                <table class="table table-condensed" style="padding-top:5px;">
                                    <thead>
                                        <tr>
                                            <th colspan="2">PO No: @item.CID</th>
                                            <th colspan="2">PO Date: @item.OrderDate.ToString("yyyy-MM-dd")</th>
                                            <th colspan="2">Supplier: @item.SupplierName</th>
                                            <th>Total Value: @item.DataListSlave.Sum(a => a.TotalPrice)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (item.DataListSlave != null)
                                        {
                                            <tr style="width:95px; text-align:center; background-color:#525659 !important; color:white;">
                                                <th>SL</th>
                                                <th>Item Name</th>
                                                <th>Required</th>
                                                <th>Unit</th>
                                                <th>Unit Price</th>
                                                <th>Total Price</th>
                                                <th>Description</th>
                                            </tr>
                                            foreach (var item1 in item.DataListSlave)
                                            {
                                                <tr>
                                                    <th>@item1.ID</th>
                                                    <td>@item1.VMRawItemName</td>
                                                    <td>@item1.StyleQuantity</td>
                                                    <td>@item1.VMUnitName</td>
                                                    <td>@item1.PurchasingPrice</td>
                                                    <td>@item1.TotalPrice</td>
                                                    <td>@item1.DescriptionSlave</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>

                            }
                        }
                        @*<table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th colspan="7" style="width:95px; text-align:center; background-color:#3173fb !important; color:white;">Purchase Order</th>
                                </tr>
                                <tr style="background-color:#9f9898 !important; color:black;">
                            @if (Model.DataListSlave != null)
                            {

                                @foreach (var item in Model.DataListSlave)
                                {
        <th>PO No.</th>
                                <th colspan="2">@item.CID</th>
                                <th>PO Date</th>
                                <th>@item.OrderDate.ToString("yyyy-MM-dd")</th>
                                <th>Total Value</th>
                                <th>@Model.DataListSlave.Sum(a => a.DataListSlave.Sum(b => b.TotalPrice))</th>
                                }
                            }

                        </tr>
                            </thead>
                            <tbody>
                                @if (Model.DataListSlave != null)
                                {
                                    @foreach (var item in Model.DataListSlave)
                                    {

                                        @if (item.DataListSlave != null)
                                        {
                                            <tr style="width:95px; text-align:center; background-color:#525659 !important; color:white;">
                                                <th>SL</th>
                                                <th>Item Name</th>
                                                <th>Required</th>
                                                <th>Unit</th>
                                                <th>Unit Price</th>
                                                <th>Total Price</th>
                                                <th>Description</th>
                                            </tr>
                                            foreach (var item1 in item.DataListSlave)
                                            {
                                                <tr>
                                                    <th>@item1.ID</th>
                                                    <td>@item1.VMRawItemName</td>
                                                    <td>@item1.StyleQuantity</td>
                                                    <td>@item1.VMUnitName</td>
                                                    <td>@item1.PurchasingPrice</td>
                                                    <td>@item1.TotalPrice</td>
                                                    <td>@item1.DescriptionSlave</td>
                                                </tr>
                                            }
                                        }

                                    }
                                }
                            </tbody>
                           @if (Model.DataListSlave != null)
            {
                <tfoot>
                    <tr>
                        <th colspan="6" style="text-align:right;">Total PO Value :</th>
                        <th>@Model.DataListSlave.Sum(a => a.DataListSlave.Sum(b => b.TotalPrice))</th>
                    </tr>
                </tfoot>
            }
                        </table>*@

                        <br />
                        <br />
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        

