﻿@model Erp.Core.Services.Report.VMPOReportSlave
@{
    var GTSpan = Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular ? "7" : "6";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PO Wise Inventory</title>

    <script type="text/javascript">
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    @*<style>
            thead, thead * {
                background-color: lightgrey;
            }

            h1 {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }

            @@media print {


                #print, #print * {
                    display: none !important;
                }
            }
        </style>*@


    <style type="text/css">
        h4 {
            /*border-bottom: 2px solid black;
            display: inline;*/
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        .table-condensed > tbody > tr > td,
        .table-condensed > tbody > tr > th,
        .table-condensed > tfoot > tr > td,
        .table-condensed > tfoot > tr > th,
        .table-condensed > thead > tr > td,
        .table-condensed > thead > tr > th {
            padding: 3px !important;
        }

        #page {
            background-color: #fff;
            width: 1000px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            /*text-transform: uppercase !important;*/
        }

        .labelcolor {
            -webkit-print-color-adjust: exact;
            background: #525659 !important;
            color: white;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>
</head>
<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">
            <div id="viewparty">
                <table>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <img src="~/content/Romo1.JPG" width="100%" height="50px;" />
                                </div>
                            </div>

                            <hr />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <h4 style="text-align:center">PURCHASE ORDER</h4>
                                </div>
                            </div>
                        </td>
                        @*<td colspan="3">
                    <div style="padding-left:193px;">
                        <h1>@Model.CompanyName</h1>
                    </div>
                    <div style="padding-left:160px;">
                        <span>@("Email :")@Model.CompanyEmail@(" Phone :")@Model.CompanyPhone</span>
                    </div>

                </td>*@
                    </tr>
                </table>
                <table class="table table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                    <thead>
                        <tr>
                            <td colspan="3"><b>TO</b></td>
                            <td colspan="3"><b>BILL TO</b></td>
                        </tr>
                        <tr>
                            <td>Supplier Code</td>
                            <td>:</td>
                            <td>@Model.VMSupplierCode</td>
                            <td>Name</td>
                            <td>:</td>
                            <td>@Model.CreatedBy</td>
                        </tr>
                        <tr>
                            <td>Supplier Name</td>
                            <td>:</td>
                            <td>@Model.VMSupplierName</td>
                            <td>Company</td>
                            <td>:</td>
                            <td>@Model.CompanyName</td>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td>:</td>
                            <td>@Model.VMSupplierAddress</td>
                            <td>Address</td>
                            <td>:</td>
                            <td>@Model.CompanyAddress</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>:</td>
                            <td>@Model.VMSupplierPhone</td>
                            <td>Phone</td>
                            <td>:</td>
                            <td>@Model.CompanyPhone</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                            <td>Requestor</td>
                            <td>:</td>
                            <td>@Model.VMEmployeeName</td>
                        </tr>
                        <tr>

                            <td>PO ID</td>
                            <td>:</td>
                            <td>@Model.CID</td>
                            @*<td>Revision</td>
                    <td>:</td>
                    <td>@Model.RevisionNo</td>*@
                            <td>Order Date</td>
                            <td>:</td>
                            <td>@Model.OrderDateTableString</td>
                        </tr>
                        <tr>
                            <td>PO Type</td>
                            <td>:</td>
                            <td>@Model.POTypeName</td>
                            <td>Created Date</td>
                            <td>:</td>
                            <td>@Model.CreationDateTableString</td>

                        </tr>
                        <tr>
                            <td>Contact Person</td>
                            <td>:</td>
                            <td>@Model.VMSupplierCPName</td>
                            <td>Approved Date</td>
                            <td>:</td>
                            <td>@Model.ApprovedDateTableString</td>
                        </tr>
                        <tr>
                            <td>Delivery Address</td>
                            <td>:</td>
                            <td></td>
                            <td>Printed Date</td>
                            <td>:</td>
                            <td>@DateTime.Now.ToString("MMM dd, yyyy")</td>
                        </tr>
                        <tr>
                            <td colspan="6"></td>
                        </tr>
                    </thead>
                </table>



                <table class="table table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important; margin-top:10px;">
                    <thead>
                        <tr>
                            <th>SL</th>
                            @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                            {
                                <th>BPO/Style</th>
                            }
                            <th>Item</th>
                            <th>Description</th>
                            <th style="text-align:center;">Quantity</th>
                            <th style="text-align:center;">Unit</th>
                            <th style="text-align:center;">Price</th>
                            <th style="text-align:center;">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ int sl = 0; double gTotal = 0;}
                        @foreach (var item in Model.DataListSlave)
                        {
                            gTotal = gTotal + item.TotalPrice;
                            <tr>
                                <td style="text-align:center;">@(++sl)</td>
                                @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                {
                                    <td>@item.BONoStyleName</td>
                                    @*<td>@item.StyleColorGSM</td>*@
                                }
                                <td>@item.VMRawItemName</td>
                                @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                {
                                    <td>@item.DescriptionSlave @item.StyleColorGSM</td>
                                    @*<td>@item.StyleColorGSM</td>*@
                                }
                                else
                                {
                                    <td>@item.DescriptionSlave</td>
                                }
                                @*<td>@item.DescriptionSlave</td>*@
                                <td style="text-align:center;">@item.PurchaseQuantity</td>
                                <td style="text-align:center;">@item.VMUnitName</td>
                                <td style="text-align:center;">@item.PurchasingPrice</td>
                                <td style="text-align:center;"><b>@item.TotalPrice</b> </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="@GTSpan" style="text-align:right;"><b>Grand Total :</b> </td>
                            <td style="text-align:right;"><b>@gTotal</b> </td>
                        </tr>
                    </tbody>
                </table>
                <table style="width:100%;padding-top:20px;">
                    <tr>
                        <td><b>Terms & Conditions :</b></td>
                    </tr>
                    <tr>
                        <td>
                            <b>
                                @Model.TermsAndCondition
                            </b>
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <table style="width:100%;padding-top:100px;">
                    <tr>
                        <td><span style="border-top:solid 2px #000">Procurement Approval (@Model.CompanyShortName)</span></td>
                        <td></td>
                        <td><span style="border-top:solid 2px #000">Authorized Signature (@Model.CompanyShortName)</span></td>
                        <td></td>
                        <td><span style="border-top:solid 2px #000">Agreed, Accepted & Received (@Model.VMSupplierCode)</span></td>
                    </tr>
                </table>
                <br />
                <br />
                <br />
                <table style="width:100%;padding-top:50px;">
                    @*<tr>
                <td style="text-align:center;font-size:14px;font-weight:bold;">@Model.CompanyName</td>
            </tr>*@
                    <tr>
                        <td style="text-align:center;font-weight:bold;">@("Email :")@Model.CompanyEmail@(" Phone :")@Model.CompanyPhone</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;font-weight:bold;">@Model.CompanyAddress</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <section class="col-lg-12 col-md-12 col-sm-12">
        
        @*<table style="width:100%;padding-top:50px;">
                <tr>
                    <td style="text-align:center;font-size:14px;font-weight:bold;">@Model.CompanyName</td>
                </tr>
                <tr>
                    <td style="text-align:center;font-weight:bold;">@("Email :")@Model.CompanyEmail@(" Phone :")@Model.CompanyPhone</td>
                </tr>
                <tr>
                    <td style="text-align:center;font-weight:bold;">@Model.CompanyAddress</td>
                </tr>
            </table>*@


    </section>
</body>


</html>





@*@model Erp.Core.Services.Report.VMPOReportSlave
@{
    var GTSpan = Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular ? "7" : "6";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PO Wise Inventory</title>
    <style>
        thead, thead * {
            background-color: lightgrey;
        }

        h1 {
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }

        @@media print {


            #print, #print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <section class="col-lg-12 col-md-12 col-sm-12">
        <table style="width:100%;">
            <tr>
                <td>
                    <img src="~/images/ROMO_Group_Logo.jpg" width="300px;" height="50px;" />
                </td>
                <td colspan="3">
                    <div style="padding-left:193px;">
                        <h1>@Model.CompanyName</h1>
                    </div>
                    <div style="padding-left:160px;">
                        <span>@("Email :")@Model.CompanyEmail@(" Phone :")@Model.CompanyPhone</span>
                    </div>

                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <hr />
                </td>
            </tr>
            <tr>
                <td colspan="4" style="width:100%;text-align:center;vertical-align:middle;">
                    <u><b>Purchase Order</b></u>
                    <br />
                    <br />
                    <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="window.print();" class="btn btn-primary">
                        <label style="background-color:Highlight;"><u style="cursor:pointer;">Print</u> </label>
                    </span>
                </td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="2"><b>TO</b></td>
                <td colspan="2"><b>BILL TO</b></td>
            </tr>
            <tr>
                <td style="width:170px;">Supplier Code :</td>
                <td>@Model.VMSupplierCode</td>
                <td style="width:180px;">Name : </td>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <td>Supplier Name :</td>
                <td>@Model.VMSupplierName</td>
                <td>Company :</td>
                <td>@Model.CompanyName</td>
            </tr>
            <tr>
                <td>Address :</td>
                <td>@Model.VMSupplierAddress</td>
                <td>Address  :</td>
                <td>@Model.CompanyAddress</td>
            </tr>
            <tr>
                <td>Phone :</td>
                <td>@Model.VMSupplierPhone</td>
                <td>Phone :</td>
                <td>@Model.CompanyPhone</td>
            </tr>
            <tr>
                <td>PO ID :</td>
                <td>@Model.CID</td>
                <td>Requestor :</td>
                <td>@Model.VMEmployeeName</td>
            </tr>
            <tr>
                <td>Revision :</td>
                <td>@Model.RevisionNo</td>
                <td>Order Date :</td>
                <td>@Model.OrderDateTableString</td>
            </tr>
            <tr>
                <td>PO Type :</td>
                <td>@Model.POTypeName</td>
                <td>Created By :</td>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <td>Contact Person :</td>
                <td>@Model.VMSupplierCPName</td>
                <td>Created Date :</td>
                <td>@Model.CreationDateTableString</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Approved Date :</td>
                <td>@Model.ApprovedDateTableString</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Printed Date :</td>
                <td>@DateTime.Now.ToString("MMM dd, yyyy hh:mm tt")</td>
            </tr>
        </table>
        <table style="width:100%;" border="1" cellspacing="0" rules="all">
            <thead>
                <tr>
                    <th>SL</th>
                    @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                    {
                        <th>BPO/Style</th>
                    }

                    <th>Item</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @{ int sl = 0; double gTotal = 0;}
                @foreach (var item in Model.DataListSlave)
                {
                    gTotal = gTotal + item.TotalPrice;
                    <tr>
                        <td style="text-align:center;">@(++sl)</td>
                        @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                        {
                            <td>@item.BONoStyleName</td>
                        }
                        <td>@item.VMRawItemName</td>
                        @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                        {
                            <td>@item.DescriptionSlave @item.StyleColorGSM</td>
                        }
                        else
                        {
                            <td>@item.DescriptionSlave</td>
                        }
                        <td style="text-align:right;">@item.PurchaseQuantity</td>
                        <td>@item.VMUnitName</td>
                        <td style="text-align:right;">@item.PurchasingPrice</td>
                        <td style="text-align:right;"><b>@item.TotalPrice</b> </td>
                    </tr>
                }
                <tr>
                    <td colspan="@GTSpan" style="text-align:right;"><b>Grand Total :</b> </td>
                    <td style="text-align:right;"><b>@gTotal</b> </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;padding-top:20px;">
            <tr>
                <td><b>Terms & Conditions :</b></td>
            </tr>
            <tr>
                <td>
                    <b>
                        @Model.TermsAndCondition
                    </b>
                </td>
            </tr>
        </table>
        <table style="width:100%;padding-top:100px;">
            <tr>
                <td><span style="border-top:solid 2px #000">Procurement Approval (@Model.CompanyShortName)</span></td>
                <td></td>
                <td><span style="border-top:solid 2px #000">Authorized Signature (@Model.CompanyShortName)</span></td>
                <td></td>
                <td><span style="border-top:solid 2px #000">Agreed, Accepted & Received (@Model.VMSupplierCode)</span></td>
            </tr>
        </table>
    </section>
</body>
</html>*@