﻿
@model Erp.Core.Services.Report.VMPOReportSlave

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PO Wise Inventory</title>
    <style>
        thead, thead * {
            background-color: lightgrey;
        }

        @@media print {


            #print, #print * {
                display: none !important;
            }
        }
    </style>
</head>
<body>
    <section class="col-lg-12 col-md-12 col-sm-12">
        <table style="width:100%;">
            <tr>
                <td colspan="4" style="width:100%;text-align:center;vertical-align:middle;">
                    <u><b>PO Wise Inventory</b></u>
                    <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="window.print();" class="btn btn-primary">
                        <label style="background-color:Highlight;"><u style="cursor:pointer;">Print</u> </label>
                    </span>
                </td>
            </tr>


            <tr>
                <td>PO ID :</td>
                <td>@Model.CID</td>
                <td>Requestor :</td>
                <td>@Model.VMEmployeeName</td>
            </tr>
            <tr>
                <td>Revision :</td>
                <td>@Model.RevisionNo</td>
                <td>Order Date :</td>
                <td>@Model.OrderDateTableString</td>
            </tr>
            <tr>
                <td>PO Type :</td>
                <td>@Model.POTypeName</td>
                <td>Created By :</td>
                <td>@Model.CreatedBy</td>
            </tr>
            <tr>
                <td>Approved Date :</td>
                <td>@Model.ApprovedDateTableString</td>
                <td>Created Date :</td>
                <td>@Model.CreationDateTableString</td>
            </tr>


        </table>
        <table style="width:100%;margin-top:50px;" border="1" cellspacing="0" rules="all">
            <thead>
                <tr>
                    <th>SL</th>
                    @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                    {
                        <th>BPO/Style</th>
                        <th>Color/GSM</th>
                    }

                    <th>Item</th>
                    <th>PO Qty</th>
                    <th>Rec. Qty</th>
                    <th>Ret. Qty</th>
                    <th>Acc. Qty</th>
                    <th>PO Balance</th>
                    <th>Unit</th>
                </tr>
            </thead>
            <tbody>
                @{ int sl = 0;
                    double gTotal = 0;}
                @foreach (var item in Model.DataListSlave)
                {

                    <tr>
                        <td style="text-align:center;">@(++sl)</td>
                        @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                        {
                            <td>@item.BONoStyleName</td>
                            <td>@item.StyleColorGSM</td>
                        }

                        <td>@item.VMRawItemName</td>
                        <td style="text-align:right;">@item.PurchaseQuantity</td>
                        <td style="text-align:right;">@item.ReceivedQuantity</td>
                        <td style="text-align:right;">@item.ReturnQuantity</td>
                        <td style="text-align:right;">@item.TotalQuantity</td>
                        <td style="text-align:right;">@item.BalanceQuantity</td>
                        <td>@item.VMUnitName</td>

                    </tr>
                }

            </tbody>
        </table>





    </section>
</body>



</html>