﻿@model Erp.Core.Services.Store.VmStoreItemWiseConsumption
@{
    Layout = null;
    ViewData["Title"] = "Item Wise Inventory Consumption Report";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item Wise Inventory Consumption Report</title>
    <style type="text/css">
        h4 {
            /*border-bottom: 2px solid black;
            display: inline;*/
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        .table-condensed > tbody > tr > td,
        .table-condensed > tbody > tr > th,
        .table-condensed > tfoot > tr > td,
        .table-condensed > tfoot > tr > th,
        .table-condensed > thead > tr > td,
        .table-condensed > thead > tr > th {
            padding: 3px !important;
        }

        #page {
            background-color: #fff;
            width: 1280px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            /*text-transform: uppercase !important;*/
        }

        .labelcolor {
            -webkit-print-color-adjust: exact;
            background: #525659 !important;
            color: white;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script type="text/javascript">
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">
            <br />
            <div class="text-left">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="form-group" style="text-align:left">
                            <h4><b> Item List Details Style: @Model.ReportTypeName</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group" style="text-align:right">
                            <p> Print Date: @DateTime.Now.ToString("MMM dd, yyyy hh:mm tt") </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%;">
                <div id="viewparty">

                    <table style="width: 100%; float:right">
                        <tbody>
                            <tr style="border-top:1px solid">
                                <td style="text-align:center;"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                        <thead>
                            <tr>
                                <th colspan="28" style="width:95px; text-align:center; background-color:#5465a7 !important; color:white;">Item Wise Details </th>
                            </tr>
                            <tr>
                                <th colspan="3" style="width:95px; text-align:center; background-color:#5465a7 !important; color:white;">  </th>
                                <th colspan="3" style="width:95px; text-align:center; background-color:#e91c18 !important; color:white;"> Raw </th>
                                <th colspan="1" style="width:95px; text-align:center; background-color:#edd319 !important; color:white;"> Cutting-WIP </th>
                                <th colspan="1" style="width:95px; text-align:center; background-color:#edd319 !important; color:white;"> Sewing-WIP </th>
                                <th colspan="1" style="width:95px; text-align:center; background-color:#edd319 !important; color:white;"> Ironing-WIP </th>
                                <th colspan="1" style="width:95px; text-align:center; background-color:#edd319 !important; color:white;"> Packing-WIP </th>
                            </tr>
                            <tr>
                                <th>SL No</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UnitName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalRecMain)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalOutMain)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalRemMain)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalRecCutting)
                                </th>
                                @*<th>
                        @Html.DisplayNameFor(model => model.TotalOutCutting)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalRemCutting)
                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalRecSewing)
                                </th>
                                @*<th>
                        @Html.DisplayNameFor(model => model.TotalOutSewing)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalRemSewing)
                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalRecIroning)
                                </th>
                                @*<th>
                        @Html.DisplayNameFor(model => model.TotalOutIroning)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalRemIroning)
                    </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalRecPacking)
                                </th>
                                @*<th>
                        @Html.DisplayNameFor(model => model.TotalOutPacking)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalRemPacking)
                    </th>*@

                                @*<th>
                        @Html.DisplayNameFor(model => model.TotalRecFinish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalOutFinish)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TotalRemFinish)
                    </th>*@
                            </tr>
                        </thead>
                        @{ int sl = 0; }
                        <tbody>
                            @if (Model != null)
                            {
                                bool headbom = true; bool headbof = true; var headregular = true;

                                @foreach (var item in Model.Datalist)
                                {
                                    <tr>
                                        <td style="text-align:center">@(++sl) </td>
                                        <td style="text-align:left"> @item.Name </td>
                                        <td style="text-align:left"> @item.UnitName </td>
                                        <td style="text-align:left" class="hidden"> @item.ConsumptionDz </td>
                                        <td style="text-align:left" class="hidden"> @item.OrderConsumQty </td>


                                        <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRecMain)</td>
                                        <td style="text-align:right">@String.Format("{0:0.00}", item.TotalOutMain) </td>
                                        <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRecMain - item.TotalOutMain) </td>

                                        <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRecCutting)</td>
                                        @*<td style="text-align:right">@String.Format("{0:0.00}", item.TotalOutCutting) </td>
                            <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRemCutting) </td>*@

                                        <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRecSewing)</td>
                                        @*<td style="text-align:right">@String.Format("{0:0.00}", item.TotalOutSewing) </td>
                            <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRemSewing) </td>*@

                                        <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRecIroning)</td>
                                        @*<td style="text-align:right">@String.Format("{0:0.00}", item.TotalOutIroning) </td>
                            <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRemIroning) </td>*@

                                        <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRecPacking)</td>
                                        @*<td style="text-align:right">@String.Format("{0:0.00}", item.TotalOutPacking) </td>
                            <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRemPacking) </td>*@

                                        @*<td style="text-align:right">@String.Format("{0:0.00}", item.TotalRecFinish)</td>
                            <td style="text-align:right">@String.Format("{0:0.00}", item.TotalOutFinish) </td>
                            <td style="text-align:right">@String.Format("{0:0.00}", item.TotalRemFinish) </td>*@
                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                    <br />
                    <br />
                    <br />

                    <h4><b> Finish Item Informaion</b></h4>
                    <table class="table table-bordered table-condensed" style="width: 50%; font-size: 12px; margin-bottom:0px !important;">
                        <thead>
                            <tr style="background: green; color: white;">
                                <th>
                                    Style Name
                                </th>
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Finish Qty
                                </th>
                                <th>
                                    Finish Qty Value
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {                               

                                @foreach (var item in Model.DatalistFinish)
                                {
                                    <tr style="font-size: 20px;">
                                        <td style="text-align:left"> @item.Name </td>
                                        <td style="text-align:left"> @item.UnitName </td>

                                        <td style="text-align:right">@String.Format("{0:0.00}", item.ConsumptionDz)</td>
                                        <td style="text-align:right">$ @String.Format("{0:0.00}", item.OrderConsumQty) </td>

                                    </tr>
                                }

                            }
                        </tbody>
                    </table>

                    <br />
                    <br />
                    <br />
                    

                    @*<table style="width: 100%; float:right">
            <tr style="border-top:1px solid">
                <td style="text-align:left;">
                    <strong>Store Signature</strong>
                </td>
                <td style="text-align:right;">
                    <strong>Authorized Signature</strong>
                </td>
            </tr>
        </table>*@
                </div>
            </div>

        </div>
    </div>
</body>
</html>