﻿@model Erp.Core.Services.Dashboard.VmNotification

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header with-border custom bg-success ">
                <h4 style="text-align:center"><b>Merchandising Notification</b></h4>
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.user-block -->
            <div class="box-body">
                <div class="row">
                    <div class=" col-lg-12 col-md-12">
                        <div class="col-md-12">
                            <div style="text-align:center">
                                <a class="linkPointer" href="#" title="Total Style"
                                   data-placement="top">
                                    <span class="badge bg-blue">Total Style:@Model.TStyle</span>
                                </a>
                                <a class="linkPointer" href="#" title="New Style"
                                   data-placement="top">
                                    <span class="badge bg-grey">New Style:@Model.NStyle</span>
                                </a>
                                <a class="linkPointer" href="#" title="Shipment Wise Yearly Complete Style"
                                   data-placement="top">
                                    <span class="badge bg-green">Complete Style:@Model.TCompleteStyle</span>
                                </a>
                                <a class="linkPointer" href="#" title="Complete Bill Of Materials"
                                   data-placement="top">
                                    <span class="badge bg-green"> CompleteBOM:@Model.CompleteBOM</span>
                                </a>
                                <a class="linkPointer" href="#" title="Incomplete Bill Of Materials"
                                   data-placement="top">
                                    <span class="badge bg-orange"> PartiallyBOM:@Model.IncompleteBOM</span>
                                </a>
                                <a class="linkPointer" href="#" title="Complete Purchase Requisition"
                                   data-placement="top">
                                    <span class="badge bg-green">Complete PR:@Model.TCompletePR</span>
                                </a>
                                <a class="linkPointer" href="#" title="Partially Purchase Requisition"
                                   data-placement="top">
                                    <span class="badge bg-orange">Partially PR:@Model.TPartialPR</span>
                                </a>
                                <a class="linkPointer" href="#" title="Cancel Purchase Requisition"
                                   data-placement="top">
                                    <span class="badge bg-red">Cancel PR:@Model.TCancelPR</span>
                                </a>
                                <a class="linkPointer" href="#" title="Complete Purchase Order"
                                   data-placement="top">
                                    <span class="badge bg-green">Complete PO:@Model.TCompletePO</span>
                                </a>
                                <a class="linkPointer" href="#" title="Partially Purchase Order"
                                   data-placement="top">
                                    <span class="badge bg-orange">Partially PO:@Model.TPartialPO</span>
                                </a>
                                <a class="linkPointer" href="#" title="Cancel Purchase Order"
                                   data-placement="top">
                                    <span class="badge bg-red">Cancel PO:@Model.TCancelPO</span>
                                </a>
                                <a class="linkPointer" href="#" title="Next 7 Days"
                                   data-placement="top">
                                    <span class="badge bg-red">Next 7 Days Shipment:@Model.ShipmentCountDay</span>
                                </a>
                                <a class="linkPointer" href="#" title="Current Month"
                                   data-placement="top">
                                    <span class="badge bg-red">Current Month Shipment:@Model.ShipmentCountMonth</span>
                                </a>

                            </div>
                        </div>


                    </div>
                </div>


            </div>
        </div>
    </div>
 </div>
<div class="row">
 <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header with-border custom bg-success ">
                <h4 style="text-align:center"><b>Summary Reports</b></h4>
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.user-block -->

            <div class="box-body">
                <div class="row">
                    <div class=" col-lg-12 col-md-12">
                        <div class="col-md-12" style="text-align:center">
                            <a href="#" target="_blank" class="btn btn-app @*bg-blue*@">
                                <i class="glyphicon glyphicon-print"></i>Bill Of Materials
                            </a>
                            <a href="#" target="_blank" class="btn btn-app">
                                <i class="glyphicon glyphicon-print"></i>Bill Of Fabric
                            </a>
                            <a href="#" target="_blank" class="btn btn-app">
                                <i class="glyphicon glyphicon-print"></i>Shipment Schedule
                            </a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header with-border custom bg-success ">
                <h4 style="text-align:center"><b>Chart</b></h4>
                <div class="box-tools gocenter">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.user-block -->

            <div class="box-body">
                <div class="chart">

                </div>
            </div>
        </div>


    </div>



</div>
