﻿@model Erp.Core.Services.Merchandising.VMStyleView

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-info">
            <div class="box-header custom bg-info">
                <h4>
                    CBS Category : @Model.vmCBSSlave.RawCategory
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="BomItemUpdate_@Model.vmCBSSlave.Common_RawCategoryFK"></div>
                <div id="BomItemCreate_@Model.vmCBSSlave.Common_RawCategoryFK">
                    @await Component.InvokeAsync("CBSItemUI", new { ID = 0, RawCategoryId = Model.vmCBSSlave.Common_RawCategoryFK, CBSId = Model.vmCBSSlave.Merchandising_CBSFK, TotalPeice = Model.vmCBSSlave.TotalPieceQty,TypeID=1 })
                </div>
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table class="table table-striped table-hover text-nowrap">
                        <thead>
                            <tr class="bg-success">
                                <th>SL</th>
                                <th>Raw Sub-Category</th>
                                <th>Raw Item</th>
                                <th>Consumption (Per Dz)</th>
                                <th>Required Qty</th>
                                <th>Item Cost (Per Unit)</th>
                                <th>Total Cost</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.vmCBSSlave.DataList)
                            {
                                <tr>
                                    <td>@(++sl).</td>
                                    <td>@item.RawSubCategory</td>
                                    <td>@item.RawItem</td>
                                    <td>@item.Consumption</td>
                                    <td>@item.RequiredQty @item.UnitType</td>
                                    <td>@item.Currency @item.UnitPrice</td>
                                    <td>@item.Currency @item.TotalPrice</td>
                                    <td>
                                        <a data-modal="@Model.vmCBSSlave.Common_RawCategoryFK" class="linkPointer" asp-action="CBSForm" asp-controller="Merchandising" asp-route-Id="@item.ID" asp-route-RawCatId="@item.Common_RawCategoryFK" asp-route-CBSId="@item.Merchandising_CBSFK" asp-route-TotalPeice="@Model.vmCBSSlave.TotalPieceQty" asp-route-typeID="1"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a> &nbsp;
                                        <a onclick="deleteItemInfo(@item.ID,@item.Merchandising_CBSFK);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th colspan="3">.</th>
                                <th>Total Quantity</th>
                                @if (@Model.vmCBSSlave.RequiredQty > 0)
                                {
                                    <th><span class="label label-primary">@Model.vmCBSSlave.RequiredQty</span></th>
                                }
                                else
                                {
                                    <th><span class="label label-success">@Model.vmCBSSlave.RequiredQty</span></th>
                                }
                                    <th>Total Cost</th>
                                
                                @if (@Model.vmCBSSlave.RequiredQty > 0)
                                {
                                    <th><span class="label label-primary">@Model.vmCBSSlave.TotalPrice</span></th>
                                }
                                else
                                {
                                    <th><span class="label label-success">@Model.vmCBSSlave.TotalPrice</span></th>
                                }
                                    <th>.</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
