﻿@model Erp.Core.Services.Production.VMLineDevice

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @using (Html.BeginForm("LineDevice", "Production", FormMethod.Post, new { id = "LineDevice", @class = "formValidator" }))
        {
            <div class="box-body">
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.ActionId)
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Common_ProductionLineFK" class="col-form-label">Production Line:</label>
                            <select asp-for="Common_ProductionLineFK"  asp-items="ViewBag.LineList" class="form-control searchingDropdown" style="width:100%">
                                <option>---Select Production Line---</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Device ID</label>
                            <input asp-for="DeviceID" type="text" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="DeviceID" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Device Name</label>
                            <input asp-for="Name" type="text" class="form-control" required autocomplete="off" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-top:25px">
                        <button type="submit" id="btnsave" class="btn btn-primary btn-block">ADD</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label class="control-label">Remarks</label>
                            <input asp-for="Remarks" type="text" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.formValidator').bootstrapValidator();
        $('.searchingDropdown').select2();
    });
</script>