﻿@model Erp.Core.Services.Production.VMOrderQC

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @using (Html.BeginForm("OrderQC", "Production", FormMethod.Post, new { id = "OrderQC", @class = "formValidator" }))
        {
        <div class="box-body">
            @Html.HiddenFor(model => model.ID)
            @Html.HiddenFor(model => model.ActionId)
            @Html.HiddenFor(model => model.Merchandising_StyleFK)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">QC Type</label>
                        <select asp-for="Prod_QCTypeFK" asp-items="ViewBag.QCTypeList" class="form-control searchingDropdown" style="width:100%">
                            <option>---QC Type---</option>
                        </select>
                        <span asp-validation-for="Prod_QCTypeFK" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">QC Sequence</label>
                        <input asp-for="Priority" type="number" class="form-control" required autocomplete="off" />
                        <span asp-validation-for="Priority" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                    <div class="form-group">
                        <label class="control-label">Remarks</label>
                        <input asp-for="Remarks" type="text" class="form-control" autocomplete="off" />
                        <span asp-validation-for="Remarks" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style="padding-top:25px">
                    <button type="submit" id="btnsave" class="btn btn-primary btn-block">ADD</button>
                </div>
            </div>
        </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.formValidator').bootstrapValidator();
        $('.searchingDropdown').select2();
    });
</script>