﻿@model Erp.Core.Services.Production.VMRemarks
@{
    var tdId = "tdId";
    var tdRemark = "tdRemark";

    int sl = 0;
}
<div class="box-body">
    <div class="table-responsive">
        <table id="tableABC" class="table table-striped text-nowrap">
            <thead>
                <tr>
                    <th>SL</th>
                    <th class="hidden"></th>
                    <th>Remarks Type</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DataList)
                {
                    <tr>
                        <td>@(++sl).</td>
                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                        <td id="@tdRemark@item.ID">@item.Name</td>
                        
                        <td>

                            @if (item.IsClose)
                            {
                                <a id="@item.ID" onclick="LockModalInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#LockModal" title="Authorized"
                                   data-placement="top">
                                    <i class="fa fa-close" aria-hidden="true"></i>
                                </a>

                            }
                            else
                            {
                                <a data-modal="" class="linkPointer" asp-action="RemarksEdit" asp-controller="Production" asp-route-id="@item.ID"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top"><i class="glyphicon glyphicon-trash" aria-hidden="true"></i></a>
                                <a id="@item.ID" onclick="LockModalInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#LockModal" title="Stop"
                                   data-placement="top">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

