﻿@model Erp.Core.Services.Production.VMRemarks

<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>
                Manage Production Remarks
            </h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                <li class="active">Remarks</li>
            </ol>
        </section>
        <div class="box">

            <form asp-controller="Production" asp-action="Remarks" method="post">
                <input asp-for="ID" type="hidden" />
                <input asp-for="ActionId" type="hidden" />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="box-body bg-grey">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Name" control-label">Remarks Type</label>
                                <input asp-for="Name" type="text" class="form-control" required autocomplete="off" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block">ADD</button>
                        </div>
                    </div>
                    @*@if (Model.ID > 0)
                        {
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label asp-for="IsClose" class="col-md-2 control-label"></label>
                                    <input type="checkbox" class="form-control" value="true" />
                                    <span asp-validation-for="IsClose" class="text-danger"></span>
                                </div>
                            </div>

                        }*@
                    <div class="row">
                        

                    </div>


                </div>


            </form>


        </div>

    </div>

</div>
