﻿@model Erp.Core.Services.HRMS.EmployeeFormVM

@{
    ViewData["Title"] = "MaternityLeaveForm";
}
<style>
    #STable table tr > td {
        height: 25px;
    }
</style>

@if (Model.TestValue == 1)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>

                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং <br /><br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            <table>
                                <tr>
                                    <td>নামঃ</td>
                                    <td>@Model.EmployeeInfo.EmployeeName</td>
                                </tr>
                                <tr>
                                    <td>আই ডি  নংঃ</td>
                                    <td>@Model.EmployeeInfo.EmIdentity</td>
                                </tr>
                                <tr>
                                    <td>পদবীঃ</td>
                                    <td>@Model.EmployeeInfo.Designation</td>
                                </tr>
                                @*<tr>
                                        <td>গ্রেডঃ</td>
                                        <td>@Model.EmployeeInfo.Grade</td>
                                    </tr>*@
                                <tr>
                                    <td>সেকশনঃ</td>
                                    <td>@Model.EmployeeInfo.Section</td>
                                </tr>
                            </table>
                            <br /><br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b>পদোন্নতি ও বেতন বৃদ্ধি প্রসঙ্গে।।</b><br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            জনাব,<br />
                            আপনাকে অবগত করা যাচ্ছে যে, কর্তৃপক্ষ আপনার কার্য ও অন্যান্য বিষয়ে সন্তুষ্ট হয়ে বর্তমান পদবী সহকারী সেলাই মেশিন অপারেটর থেকে সাধারণ সেলাই মেশিন অপারেটর পদে পদোন্নতি ও বেতন বৃদ্ধির সিদ¦ান্ত গ্রহন করেছেন। এই পদোন্নতি ও বেতন বৃদ্ধির আদেশ  আগামী ০১.০২.২০১৮ ইং তারিখ হইতে কার্যকরী বলিয়া গন্য হইবে।
                            <br /><br />
                            পরিবর্তিত  শর্তাবলী নিম্নরূপঃ<br />
                            পদবীঃ @Model.EmployeeInfo.Designation<br />
                            @*গ্রেডঃ ৬<br />*@
                            সেকশনঃ @Model.EmployeeInfo.Section<br /><br />

                            <table class="table table-bordered" style="padding-left:20px;">
                                <thead>
                                    <tr>
                                        <th>মূল বেতন</th>
                                        <th>@Model.EmployeeInfo.BasicSalary  টাকা</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>চিকিৎসা ভাতা(মূল মজুরীর ৫০%)</td>
                                        <td>@Model.EmployeeInfo.MedicalAllowance  টাকা</td>
                                    </tr>
                                    <tr>
                                        <td>যাতায়ত ভাতা</td>
                                        <td>@Model.EmployeeInfo.TransportAllowance টাকা</td>
                                    </tr>
                                    <tr>
                                        <td>খাদ্য ভাতা</td>
                                        <td>@Model.EmployeeInfo.FoodAllowannce টাকা</td>
                                    </tr>
                                    <tr>
                                        <th>সর্বমোট</th>
                                        <th>@Model.EmployeeInfo.GrossSalary টাকা</th>
                                    </tr>
                                </tbody>
                            </table><br /><br /><br />

                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            ধন্যবাদান্তে<br /><br /><br />



                            পরিচালক<br /><br />

                            অনুলিপিঃ<br />
                            ১.	ব্যক্তিগত নথি ।
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 2)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr width="100%" style="text-align: center; text-underline-position:below; font-weight:bold;">
                        <td>
                            <h2>
                                রোমো ফ্যাশন টুডে লিঃ
                            </h2>
                            <h4>ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর।</h4>

                        </td>
                        <td rowspan="5" colspan="1"></td>
                    </tr>
                </tbody>
                <tboy>
                    <tr width="100%" style="text-align: center;">
                        <td colspan="2" height="25">
                            ফরম-১৫
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: center; text-underline-position:below;">
                        <td colspan="2" height="40">
                            [ধারা ৩৪,৩৬,৩৭ ও ২২৭ এবং বিধি ৩৪ (১) ও ৩৩৬ (৪) দ্রষ্টব্য]
                        </td>
                    </tr>
                </tboy>
                <tbody>
                    <tr style="text-align: center; text-underline-position:below; font-weight:bold;">
                        <td>
                            <h4> বয়স ও সক্ষমতার প্রত্যায়ন পত্র</h4>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            <table class="table table-bor">
                                <thead>
                                    <tr>
                                        <td colspan="2">ক্রমিক নংঃ</td>
                                        <td colspan="2">ক্রমিক নংঃ</td>
                                    </tr>

                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">তারিখঃ </td>
                                        <td colspan="2">তারিখঃ </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">

                                            পিতাঃ @Model.EmployeeInfo.EmFName
                                        </td>
                                        <td colspan="2" rowspan="8">
                                            নামঃ @Model.EmployeeInfo.EmployeeName
                                            আমি এই মর্মে প্রত্যায়ন করিতেছি যে,<br />
                                            ঠিকানাঃ<br />
                                            গ্রামঃ @Model.EmployeeInfo.PresentAddress <br />
                                            কে আমি পরিক্ষা করিয়াছি।<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            মাতাঃ @Model.EmployeeInfo.EmMName
                                        </td>
                                    </tr>

                                    <tr>
                                        <td colspan="2">
                                            স্থায়ী  ঠিকানাঃ
                                            গ্রামঃ @Model.EmployeeInfo.PermanentAddress<br />
                                        </td>
                                    </tr>

                                </tbody>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            অস্থায়ী/ যোগাযোগের ঠিকানাঃ<br />
                                            @Model.EmployeeInfo.PresentAddress<br />
                                        </td>
                                        <td colspan="2">
                                            তিনি অত্র প্রতিষ্ঠানে নিযুক্ত হইতে ইচ্ছুক, এবং আমার পরীক্ষা হইতে এইরুপ পাওয়া গিয়াছে যে তাহার বয়স.............বৎসর এবং তিনি প্রাপ্ত বয়স্ক হিসাবে নিযুক্ত হইবার যোগ্য।
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            জন্ম  সনদ/শিক্ষা সনদ অনুসারে<br />
                                        </td>
                                        <td colspan="2">
                                            জন্ম  সনদ/শিক্ষা সনদ অনুসারে<br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">দৈহিক সক্ষমতা......................................</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">সনাক্তকরণ চিহ্ন......................................</td>
                                    </tr>
                                </tbody>
                            </table>
                            <br /><br /><br />
                            <table width="100%">
                                <tbody>
                                    <tr>
                                        <td width="25%">
                                            সংশ্লিষ্ট ব্যক্তির<br />
                                            স্বাক্ষর/টিপসহি
                                        </td>
                                        <td width="25%">
                                            রেজিস্টার্ড চিকিৎসকের <br />
                                            স্বাক্ষর
                                        </td>
                                        <td width="25%">
                                            সংশ্লিষ্ট ব্যক্তির
                                            স্বাক্ষর/টিপসহি
                                        </td>
                                        <td width="25%">
                                            রেজিস্টার্ড চিকিৎসকের<br />
                                            স্বাক্ষর
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 3)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr width="100%">
                        <td colspan="1">

                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy")<br /><br /><br />
                            বরাবর,<br />
                            নামঃ @Model.EmployeeInfo.EmployeeName<br />
                            কার্ড নংঃ @Model.EmployeeInfo.CardNo<br />
                            পদবীঃ @Model.EmployeeInfo.Designation<br />
                            সেকশনঃ @Model.EmployeeInfo.Section<br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b>বাৎসরিক মজুরী বৃদ্ধি প্রসঙ্গে।</b><br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            <br /><br />


                            জনাব,<br />

                            আপনার অবগতির জন্য জানানো যাইতেছে যে, আপনার চাকুরীর বয়স ০১ বছর পূর্ণ হওয়ায় আপনার মূল মজুরীর ৫% হারে বাৎসরিক ............................ টাকা বেতন বৃদ্ধি করা হইল।  যাহা ............................................. ইং তারিখ হইতে কার্যকর হইবে।
                            <br />
                            আপনার বর্ধিত বেতন কাঠামো হবে নিম্নরূপঃ

                            <table class="table table-bordered" style="padding-left:20px;">
                                <thead>
                                    <tr>
                                        <th>মূল বেতন</th>
                                        <th>@Model.EmployeeInfo.BasicSalary  টাকা</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>চিকিৎসা ভাতা(মূল মজুরীর ৫০%)</td>
                                        <td>@Model.EmployeeInfo.MedicalAllowance  টাকা</td>
                                    </tr>
                                    <tr>
                                        <td>যাতায়ত ভাতা</td>
                                        <td>@Model.EmployeeInfo.TransportAllowance টাকা</td>
                                    </tr>
                                    <tr>
                                        <td>খাদ্য ভাতা</td>
                                        <td>@Model.EmployeeInfo.FoodAllowannce টাকা</td>
                                    </tr>
                                    <tr>
                                        <th>সর্বমোট</th>
                                        <th>@Model.EmployeeInfo.GrossSalary টাকা</th>
                                    </tr>
                                </tbody>
                            </table><br /><br /><br />

                        </td>
                    </tr>
                </tbody>

                <tbody>
                    <tr>
                        <td>
                            ধন্যবাদান্তে<br /><br /><br />



                            পরিচালক<br /><br />

                            অনুলিপিঃ<br />
                            ১.	ব্যক্তিগত নথি ।
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 4)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং
                        </td>
                        <td>
                            ”রেজিষ্ট্রার্ড ডাক যোগে প্রেরিত”
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br /><br />প্রতি, <br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            নামঃ @Model.EmployeeInfo.EmployeeName<br />
                                            পদবীঃ @Model.EmployeeInfo.Designation<br />
                                            আইডি নংঃ @Model.EmployeeInfo.CardNo<br />
                                            সেকশনঃ @Model.EmployeeInfo.Section<br />
                                            বিভাগঃ @Model.EmployeeInfo.Department<br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            স্থায়ী ঠিকানাঃ <br />
                                            @Model.EmployeeInfo.PermanentAddress<br /><br /><br /><br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tboy>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            <br /><br />বিষয়ঃ <b>বিনা অনুমতিতে ১০ দিনের অধিক অনুপস্থিতির কারণ ব্যাখ্যাসহ অনতিবিলম্বে কাজে যোগদান প্রসঙ্গে। (পত্র নং-১)।</b> <br /><br />
                        </td>
                    </tr>
                </tboy>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            জনাব/জনাবা, <br />
                            আপনি গত .............................ইং তারিখ হতে অদ্যবদি বিনা নোটিশে এবং কর্তৃপক্ষের বিনা অনুমতিতে কারখানায় অনুপস্থিত রয়েছেন। আপনার এ ধরনের অনুপস্থিতির  কারণে কারখানায় উৎপাদন ব্যহত হচ্ছে বিধায়, বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭ (৩ক) ধারা মতে, আপনাকে ১০ দিনের মধ্যে অনুপস্থিতির কারণ ব্যাখ্যা সহ কর্মস্থলে যোগদান করার জন্য নির্দেশ প্রদান করা যাচ্ছে।

                            <br /><br />
                            ধন্যবাদান্তে

                            <br /><br />

                            -------------------
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ<br /><br />

                            অনুলিপি :<br />
                            ১। ব্যক্তিগত নথি।

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 5)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং
                        </td>
                        <td>
                            ”রেজিষ্ট্রার্ড ডাক যোগে প্রেরিত”
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br /><br />প্রতি, <br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            নামঃ @Model.EmployeeInfo.EmployeeName<br />
                                            পদবীঃ @Model.EmployeeInfo.Designation<br />
                                            আইডি নংঃ @Model.EmployeeInfo.CardNo<br />
                                            সেকশনঃ @Model.EmployeeInfo.Section<br />
                                            বিভাগঃ @Model.EmployeeInfo.Department<br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            স্থায়ী ঠিকানাঃ <br />
                                            @Model.EmployeeInfo.PermanentAddress<br /><br /><br /><br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tboy>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            <br /><br />বিষয়ঃ <b>বিনা অনুমতিতে ১০ দিনের অধিক অনুপস্থিতির কারন ব্যাখ্যাসহ অনতিবিলম্বে কাজে যোগদান প্রসঙ্গে। (পত্র নং-২)।</b> <br /><br />
                        </td>
                    </tr>
                </tboy>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            জনাব/জনাবা, <br />

                            জনাব/জনাবা,
                            আপনি গত ...............................ইং তারিখ হতে অদ্যবদি বিনা নোটিশে এবং কর্তৃপক্ষের বিনা অনুমতিতে কারখানায় অনুপস্থিত রয়েছেন। আপনার অনুপস্থিতির কারণ ব্যাখ্যাসহ কাজে যোগদান করার জন্য, বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭ (৩ক) ধারা মতে ১০ (দশ) দিনের সময় দিয়ে গত ...............................ইং তারিখে আপনাকে পত্র প্রদান করা হয়। কিন্তু আপনি উল্লেখিত সময় অতিক্রান্ত হওয়ার পরেও  কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ ব্যাখ্যা প্রদান করেন নাই।

                            তথাপি আপনার আত্বপক্ষ সমর্থনে, ন্যায় বিচারের স্বার্থে এবং আইনগত অধিকার সংরক্ষণে উক্ত আইনের ধারা মতে  আপনাকে অনতিবিলম্বে বিনা অনুমতিতে অনুপস্থিত থাকার কারণ ব্যাখ্যাসহ কর্মস্থলে যোগদান করার জন্য পুনরায় ০৭(সাত) দিনের সময় প্রদান করা যাচ্ছে।

                            অতএব, আপনি যদি অনুমোদিত অনুপস্থিত থাকার কারণ উক্ত সময়ের মধ্যে ব্যাখ্য প্রদানসহ কর্মক্ষেত্রে যোগদান করতে ব্যর্থ হন তবে বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭ (৩ক) ধারা মতে, আপনি চাকুরি থেকে অব্যহতি গ্রহণ করেছেন এবং প্রতিষ্ঠানের সাথে আপনার যাবতীয় সম্পর্ক ছিন্ন হয়েছে বলে গন্য হবে।

                            <br /><br />
                            ধন্যবাদান্তে

                            <br /><br />

                            -------------------
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ<br /><br />

                            অনুলিপি :<br />
                            ১। ব্যক্তিগত নথি।

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>    
}
else if (Model.TestValue == 6)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং
                        </td>
                        <td>
                            ”রেজিষ্ট্রার্ড ডাক যোগে প্রেরিত”
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br /><br />প্রতি, <br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            নামঃ @Model.EmployeeInfo.EmployeeName<br />
                                            পদবীঃ @Model.EmployeeInfo.Designation<br />
                                            আইডি নংঃ @Model.EmployeeInfo.CardNo<br />
                                            সেকশনঃ @Model.EmployeeInfo.Section<br />
                                            বিভাগঃ @Model.EmployeeInfo.Department<br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            স্থায়ী ঠিকানাঃ <br />
                                            @Model.EmployeeInfo.PermanentAddress<br /><br /><br /><br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tboy>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            <br /><br />বিষয়ঃ <b>বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭(৩ক) ধারা মতে চাকুরি হইতে অব্যহতি গ্রহন প্রসঙ্গে। (পত্র নং-৩)</b> <br /><br />
                        </td>
                    </tr>
                </tboy>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            জনাব/জনাবা, <br />
                            আপনার অবগতির জন্য জানানো যাচ্ছে যে, বিগত...........................................ইং তারিখে বাংলাদেশ শ্রম আইন, ২০০৬ এর ধারা মতে আপনাকে অনতিবিলম্বে বিনা অনমতিতে অনপস্থিত থাকার কারন ব্যাখ্যাসহ কর্মস্থলে যোগদান করার জন্য ১০ (দশ) দিনের সময় একটি পত্র রেজিস্ট্রার ডাকযোগে আপনার স্থায়ী ও অস্থায়ী ঠিকানায় পত্র প্রদান করা হয়। কিন্তু আপনি উক্ত সময়ের মধ্যে কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ
                            ব্যাখ্যা করতে ব্যর্থ হন। ফলে, পুনরায় গত................................. ইং তারিখে আপনাকে সাত (০৭) দিনের সময় দিয়ে আরও একটি পত্র রেজিস্ট্রার ডাকযোগে আপনার স্থায়ী ও অস্থায়ী ঠিকানায় প্রদান করা হয়। অতপর, আপনি দ্বিতীয়বারও প্রদত্ত সময়ের মধ্যে কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ ব্যাখ্যা করতে ব্যর্থ হন।

                            যেহেত, বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭(৩ক) ধারা মতে আপনাকে অনতিবিলম্বে বিনা অনুমতিতে অনুপস্থিত থাকার কারণ ব্যাখ্যাসহ কর্মক্ষেত্রে যোগদান করার জন্য আপনার আইনগত অধিকার সংরক্ষণ করে দুইবার সময় প্রদান করা সত্বেও আপনি যথা সময়ের মধ্যে কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ ব্যাখ্যা করতে ব্যর্থ হয়েছেন সেহেতু বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭(৩ক) ধারা মতে আপনার চাকুরি অনুপস্থিতির দিন থেকে অর্থাৎ ................................. ইং তারিখ হতে অব্যহতি গ্রহণ করেছেন বলে গন্য হলো এবং আইন সম্মতভাবে আপনি চূড়ান্ত নিষ্পত্তিকৃত ও প্রতিষ্ঠানের সাথে আপনার যাবতীয় সম্পর্ক ছিন্ন হলো। এক্ষেত্রে আপনার সাথে অত্র প্রতিষ্ঠানের কোন পাওনাদী থাকলে কারখানার  হিসাব বিভাগের সাথে যোগাযোগ করে গ্রহণ করার জন্য বলা হইল।

                            <br /><br />
                            ধন্যবাদান্তে

                            <br /><br />

                            -------------------
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ<br /><br />

                            অনুলিপি :<br />
                            ১। ব্যক্তিগত নথি।

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 7)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং
                        </td>
                        <td>
                            ”রেজিষ্ট্রার্ড ডাক যোগে প্রেরিত”
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br /><br />প্রতি, <br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            নামঃ @Model.EmployeeInfo.EmployeeName<br />
                                            পদবীঃ @Model.EmployeeInfo.Designation<br />
                                            আইডি নংঃ @Model.EmployeeInfo.CardNo<br />
                                            সেকশনঃ @Model.EmployeeInfo.Section<br />
                                            বিভাগঃ @Model.EmployeeInfo.Department<br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            স্থায়ী ঠিকানাঃ <br />
                                            @Model.EmployeeInfo.PermanentAddress<br /><br /><br /><br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tboy>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            <br /><br />বিষয়ঃ <b>বিনা অনুমতিতে ১০ দিনের অধিক অনুপস্থিতির কারন ব্যাখ্যাসহ অনতিবিলম্বে কাজে যোগদান প্রসঙ্গে। (পত্র নং-২)।</b> <br /><br />
                        </td>
                    </tr>
                </tboy>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            জনাব/জনাবা, <br />

                            জনাব/জনাবা,
                            আপনি গত ...............................ইং তারিখ হতে অদ্যবদি বিনা নোটিশে এবং কর্তৃপক্ষের বিনা অনুমতিতে কারখানায় অনুপস্থিত রয়েছেন। আপনার অনুপস্থিতির কারণ ব্যাখ্যাসহ কাজে যোগদান করার জন্য, বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭ (৩ক) ধারা মতে ১০ (দশ) দিনের সময় দিয়ে গত ...............................ইং তারিখে আপনাকে পত্র প্রদান করা হয়। কিন্তু আপনি উল্লেখিত সময় অতিক্রান্ত হওয়ার পরেও  কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ ব্যাখ্যা প্রদান করেন নাই।

                            তথাপি আপনার আত্বপক্ষ সমর্থনে, ন্যায় বিচারের স্বার্থে এবং আইনগত অধিকার সংরক্ষণে উক্ত আইনের ধারা মতে  আপনাকে অনতিবিলম্বে বিনা অনুমতিতে অনুপস্থিত থাকার কারণ ব্যাখ্যাসহ কর্মস্থলে যোগদান করার জন্য পুনরায় ০৭(সাত) দিনের সময় প্রদান করা যাচ্ছে।

                            অতএব, আপনি যদি অনুমোদিত অনুপস্থিত থাকার কারণ উক্ত সময়ের মধ্যে ব্যাখ্য প্রদানসহ কর্মক্ষেত্রে যোগদান করতে ব্যর্থ হন তবে বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭ (৩ক) ধারা মতে, আপনি চাকুরি থেকে অব্যহতি গ্রহণ করেছেন এবং প্রতিষ্ঠানের সাথে আপনার যাবতীয় সম্পর্ক ছিন্ন হয়েছে বলে গন্য হবে।

                            <br /><br />
                            ধন্যবাদান্তে

                            <br /><br />

                            -------------------
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ<br /><br />

                            অনুলিপি :<br />
                            ১। ব্যক্তিগত নথি।

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br /> <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং
                        </td>
                        <td>
                            ”রেজিষ্ট্রার্ড ডাক যোগে প্রেরিত”
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br /><br />প্রতি, <br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            নামঃ @Model.EmployeeInfo.EmployeeName<br />
                                            পদবীঃ @Model.EmployeeInfo.Designation<br />
                                            আইডি নংঃ @Model.EmployeeInfo.CardNo<br />
                                            সেকশনঃ @Model.EmployeeInfo.Section<br />
                                            বিভাগঃ @Model.EmployeeInfo.Department<br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            স্থায়ী ঠিকানাঃ <br />
                                            @Model.EmployeeInfo.PermanentAddress<br /><br /><br /><br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tboy>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            <br /><br />বিষয়ঃ <b>বিনা অনুমতিতে ১০ দিনের অধিক অনুপস্থিতির কারন ব্যাখ্যাসহ অনতিবিলম্বে কাজে যোগদান প্রসঙ্গে। (পত্র নং-২)।</b> <br /><br />
                        </td>
                    </tr>
                </tboy>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            জনাব/জনাবা, <br />

                            জনাব/জনাবা,
                            আপনি গত ...............................ইং তারিখ হতে অদ্যবদি বিনা নোটিশে এবং কর্তৃপক্ষের বিনা অনুমতিতে কারখানায় অনুপস্থিত রয়েছেন। আপনার অনুপস্থিতির কারণ ব্যাখ্যাসহ কাজে যোগদান করার জন্য, বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭ (৩ক) ধারা মতে ১০ (দশ) দিনের সময় দিয়ে গত ...............................ইং তারিখে আপনাকে পত্র প্রদান করা হয়। কিন্তু আপনি উল্লেখিত সময় অতিক্রান্ত হওয়ার পরেও  কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ ব্যাখ্যা প্রদান করেন নাই।

                            তথাপি আপনার আত্বপক্ষ সমর্থনে, ন্যায় বিচারের স্বার্থে এবং আইনগত অধিকার সংরক্ষণে উক্ত আইনের ধারা মতে  আপনাকে অনতিবিলম্বে বিনা অনুমতিতে অনুপস্থিত থাকার কারণ ব্যাখ্যাসহ কর্মস্থলে যোগদান করার জন্য পুনরায় ০৭(সাত) দিনের সময় প্রদান করা যাচ্ছে।

                            অতএব, আপনি যদি অনুমোদিত অনুপস্থিত থাকার কারণ উক্ত সময়ের মধ্যে ব্যাখ্য প্রদানসহ কর্মক্ষেত্রে যোগদান করতে ব্যর্থ হন তবে বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭ (৩ক) ধারা মতে, আপনি চাকুরি থেকে অব্যহতি গ্রহণ করেছেন এবং প্রতিষ্ঠানের সাথে আপনার যাবতীয় সম্পর্ক ছিন্ন হয়েছে বলে গন্য হবে।

                            <br /><br />
                            ধন্যবাদান্তে

                            <br /><br />

                            -------------------
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ<br /><br />

                            অনুলিপি :<br />
                            ১। ব্যক্তিগত নথি।

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং
                        </td>
                        <td>
                            ”রেজিষ্ট্রার্ড ডাক যোগে প্রেরিত”
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <br /><br />প্রতি, <br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            নামঃ @Model.EmployeeInfo.EmployeeName<br />
                                            পদবীঃ @Model.EmployeeInfo.Designation<br />
                                            আইডি নংঃ @Model.EmployeeInfo.CardNo<br />
                                            সেকশনঃ @Model.EmployeeInfo.Section<br />
                                            বিভাগঃ @Model.EmployeeInfo.Department<br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td colspan="1">
                            <table style="border:solid" width="100%">
                                <tbody>
                                    <tr>
                                        <td rowspan="6">
                                            স্থায়ী ঠিকানাঃ <br />
                                            @Model.EmployeeInfo.PermanentAddress<br /><br /><br /><br />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tboy>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            <br /><br />বিষয়ঃ <b>বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭(৩ক) ধারা মতে চাকুরি হইতে অব্যহতি গ্রহন প্রসঙ্গে। (পত্র নং-৩)</b> <br /><br />
                        </td>
                    </tr>
                </tboy>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            জনাব/জনাবা, <br />
                            আপনার অবগতির জন্য জানানো যাচ্ছে যে, বিগত...........................................ইং তারিখে বাংলাদেশ শ্রম আইন, ২০০৬ এর ধারা মতে আপনাকে অনতিবিলম্বে বিনা অনমতিতে অনপস্থিত থাকার কারন ব্যাখ্যাসহ কর্মস্থলে যোগদান করার জন্য ১০ (দশ) দিনের সময় একটি পত্র রেজিস্ট্রার ডাকযোগে আপনার স্থায়ী ও অস্থায়ী ঠিকানায় পত্র প্রদান করা হয়। কিন্তু আপনি উক্ত সময়ের মধ্যে কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ
                            ব্যাখ্যা করতে ব্যর্থ হন। ফলে, পুনরায় গত................................. ইং তারিখে আপনাকে সাত (০৭) দিনের সময় দিয়ে আরও একটি পত্র রেজিস্ট্রার ডাকযোগে আপনার স্থায়ী ও অস্থায়ী ঠিকানায় প্রদান করা হয়। অতপর, আপনি দ্বিতীয়বারও প্রদত্ত সময়ের মধ্যে কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ ব্যাখ্যা করতে ব্যর্থ হন।

                            যেহেত, বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭(৩ক) ধারা মতে আপনাকে অনতিবিলম্বে বিনা অনুমতিতে অনুপস্থিত থাকার কারণ ব্যাখ্যাসহ কর্মক্ষেত্রে যোগদান করার জন্য আপনার আইনগত অধিকার সংরক্ষণ করে দুইবার সময় প্রদান করা সত্বেও আপনি যথা সময়ের মধ্যে কর্মক্ষেত্রে যোগদান বা অনুপস্থিতির কারণ ব্যাখ্যা করতে ব্যর্থ হয়েছেন সেহেতু বাংলাদেশ শ্রম আইন, ২০০৬ এর ২৭(৩ক) ধারা মতে আপনার চাকুরি অনুপস্থিতির দিন থেকে অর্থাৎ ................................. ইং তারিখ হতে অব্যহতি গ্রহণ করেছেন বলে গন্য হলো এবং আইন সম্মতভাবে আপনি চূড়ান্ত নিষ্পত্তিকৃত ও প্রতিষ্ঠানের সাথে আপনার যাবতীয় সম্পর্ক ছিন্ন হলো। এক্ষেত্রে আপনার সাথে অত্র প্রতিষ্ঠানের কোন পাওনাদী থাকলে কারখানার  হিসাব বিভাগের সাথে যোগাযোগ করে গ্রহণ করার জন্য বলা হইল।

                            <br /><br />
                            ধন্যবাদান্তে

                            <br /><br />

                            -------------------
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ<br /><br />

                            অনুলিপি :<br />
                            ১। ব্যক্তিগত নথি।

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 8)
{
    <div class="col-md-12" style="font-size:10px;">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            নামঃ @Model.EmployeeInfo.EmployeeName পিতা/স্বামীর নামঃ @Model.EmployeeInfo.EmHName মাতার নামঃ @Model.EmployeeInfo.EmMName
                            <br />
                            বর্তমান ঠিকানাঃ @Model.EmployeeInfo.PresentAddress
                            <br />
                            স্থায়ী ঠিকানাঃ @Model.EmployeeInfo.PermanentAddress
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b> @Model.EmployeeInfo.Designation পদের নিয়োগ পত্র।</b><br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">

                            জনাব, <br />
                            আপনার  আবেদনের প্রেক্ষিতে এবং পরবর্তীতে কর্তৃপক্ষের সাথে আপনার স্বাক্ষাতের ভিত্তিতে আপনাকে জানানো যাচ্ছে যে, আগামী ------------------------ ইং  তারিখ থেকে নিম্নলিখিত শর্ত সাপেক্ষে আপনাকে অত্র প্রতিষ্ঠানে নিয়োগ প্রদান করা হল। <br /> <br />

                            ০১। বর্তমানে আপনাকে  গ্রেডঃ @Model.EmployeeInfo.Grade পদবীঃ @Model.EmployeeInfo.Designation হিসাবে নিয়োগ দেওয়া হল। <br />
                            ০২। আপনার দৈনন্দিন কর্মঘন্টা সকাল ৮.০০ টা থেকে বিকাল ৫.০০ টা পর্যন্তু। এর মধ্যে দুপুরের বিরতি ১.০০ টা থেকে ২.০০ টা পর্যন্ত। বিকাল ৫.০০ টার পর অতিরিক্ত কর্মঘন্টা কাজের প্রয়োজন হলে তা ওভার টাইম হিসাবে বিবেচিত হবে। প্রত্যেক শ্রমিকের জন্য একটি পাঞ্চ কার্ড ইস্যু করা হবে, যাতে ওভার টাইম সহ মোট কর্মঘন্টার রেকর্ড থাকবে। কারখানার প্রবেশের সময় ও বাহিরে যাওয়ার সময় উক্ত কার্ড সঠিক ভাবে পাঞ্চ করতে হবে এবং উক্ত পাঞ্চ কার্ড আই ডি কার্ড হিসাবে ব্যবহার করা হবে। প্রত্যেক শ্রমিককে নিয়মিত কর্মস্থলে উপস্থিত সাপেক্ষে প্রতি মাসে হাজিরা বোনাস প্রদান করা হবে। <br />
                            ০৩। আপনার ওভার টাইমের হিসাব শ্রম আইন অনুযায়ী প্রদান করা হবে। যেমনঃ (মূল বেতন/২০৮ঃ  ২ঃ অতিরিক্ত কর্মঘন্টা) <br />
                            ০৪। উল্লেখিত স্কেলে আপনার মাসিক বেতন নির্ধারণ করা হবেঃ
                            মূল বেতন @Model.EmployeeInfo.BasicSalary টাকা + বাঃ ভাঃ  (মূল বেতনের ৪০ %) @Model.EmployeeInfo.HouseRent টাকা  + (চিঃ ভাঃ) @*২৫০*@ @Model.EmployeeInfo.MedicalAllowance টাকা+যাতায়াত ভাতা @*২০০*@ @Model.EmployeeInfo.TransportAllowance + খাদ্যভাতা @Model.EmployeeInfo.FoodAllowannce @*৬৫০*@ = সর্ব মোটঃ @Model.EmployeeInfo.TotalSalary টাকা। <br />
                            ০৫। আপনার যোগদানের তারিখ হইতে পরবর্তী  ৩ (তিন) মাস শিক্ষানবীশকাল হিসাবে বিবেচিত হবে। শিক্ষানবীশ কালীন সময়ে আপনার সার্বিক কর্মকান্ড যদি সংশ্লিষ্ট   কর্তৃপক্ষের নিকট সন্তোষজনক মনে না হয় সে ক্ষেত্রে কর্তৃপক্ষ ইচ্ছা করলে পরবর্তী ৩ (তিন) মাস পর্যন্ত শিক্ষানবীশ কাল বৃদ্ধি করতে পারবেন। <br />
                            ০৬। সন্তোষজনক ভাবে শিক্ষানবীশকাল সমাপ্তির পর আপনার সার্বিক কর্মকান্ড মুল্যায়ন পূর্বক উক্ত প্রতিষ্ঠানের নিয়ম মোতাবেক আপনাকে নিয়মিত করা হবে। <br />
                            ০৭। কর্তৃপক্ষ প্রয়োজনে আপনাকে যে কোন বিভাগে অথবা যে কোন ইউনিটে বদলী করার ক্ষমতা রাখে। <br />
                            ০৮। শিক্ষানবীশকালীন সময় সহ আপনি পূর্ণ মজুরীতে সাপ্তাহিক ছুটি ০১ দিন, উৎসব ছুটি ১১ দিন ও অসুস্থ্যতাজনিত ছুটি ১৪ দিন এবং নৈমিত্তিক ছুটি ১০  দিন ভোগ করতে পারবেন। চাকুরীর মেয়াদ ০১ বছর পূর্ণ হওয়ার পর আপনি বাংলাদেশ শ্রম আইন’২০০৬ অনুসারে এক পঞ্জিকা বছরে উপরোক্ত ছুটি ছাড়াও অর্জিত ছুটি প্রতি ১৮ কর্মদিবসে ১ দিন ও মহিলা শ্রমিকদের ক্ষেত্রে মাতৃত্বকালীন ছুটি ১৬ সপ্তাহ এবং আপনার অন্যান্য শর্তাবলী প্রতিষ্ঠানের নিজস্ব নিয়ম/ শ্রম আইন’২০০৬ অনুযায়ী পরিচালিত হবে।<br />
                            ০৯। মূল মজুরির ৫% হারে বাৎসরিক ভিত্তিতে বেতন বৃদ্ধি করা হইবে। <br />
                            ১০। সার্ভিস বেনিফিটঃ চাকুরির স্থায়ীত্বকাল ৫ বছর পূর্ণ হলে প্রতি সম্পূর্ণ বছর বা ৬ মাসের অধিক সময়ের জন্য ১৪ দিনের মজুরি ক্ষতিপূরণ এবং  চাকুরির স্থায়ীত্বকাল ১০ বছর বা তার বেশী  হলে ৬ মাসের অধিক বা প্রতি সম্পূর্ণ বছরের ৪৫ দিনের মজুরি গ্রাচুইটি হিসাবে প্রাপ্য হবে। <br />
                            ১১। কর্মকালিন সময়ে আপনি যদি কখনো কোনরুপ অসদাচরণের অপরাধে দোষী প্রমানিত হন তবে কর্তৃপক্ষ আপনার বিরুদ্ধে আইনানুগ ব্যবস্থা গ্রহন করতে পারবে। <br />
                            ১২। আপনার চাকুরী পরিসমাপ্তি ঘটলে আপনার কাছে রক্ষিত দাপ্তরিক কাগজপত্র, দলিলাদি অথবা অন্য বস্তু যা আপনার হেফাজতে থাকুক না কেন সে সকল দ্রব্যাদি ফেরত দিবেন এবং কোম্পানীর ব্যবসা সংক্রান্ত কোন কাগজপত্রের নকল অথবা এর অংশ বিশেষ আপনার নিকট রাখতে পারবেন  না। <br />
                            ১৩। এ ছাড়া আপনার চাকুরী কোম্পানীর বর্তমান প্রচলিত নিয়ম অনুযায়ী পরিচালিত হবে। কোম্পানীর বিভিন্ন সময়ে যে সকল নীতিমালা চালু ও পরিবর্তন করবেন সে গুলোও আপনার ক্ষেত্রে প্রযোজ্য হবে। <br />
                            ১৪। ২০০৬ সনে বাংলাদেশ শ্রম আইনে ১৫৫ ধারার (২) উপধারা মোতাবেক ক্ষতিপুরণ সহ আর্থিক সুবিধা প্রদানের জন্য মনোনীত ব্যক্তির পুর্ন বিবরণ নিম্নে  লিপিবদ্ধ করা হইল। <br /><br />

                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%" style="text-align: center; text-underline-position:below;">
                        <td colspan="2" height="40">
                            (মনোনীত ব্যক্তির তথ্যাবলী ও ছবি)<br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td width="25%">নাম ঃ ------------------------------------ </td>
                        <td width="25%">পিতার নাম ঃ-------------------------------- </td>
                        <td width="25%">মাতার নাম ঃ-------------------------------- </td>
                        <td width="25%" rowspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            বর্তমান ঠিকানাঃ @Model.EmployeeInfo.PresentAddress <br />

                            স্থায়ী ঠিকানাঃ @Model.EmployeeInfo.PermanentAddress-<br />
                            মনোনীত ব্যক্তির সহিত সম্পর্ক  ঃ  ----------------------------------------------<br />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="2">
                            ধন্যবাদান্তে<br /><br />
                            পূর্ননাম ঃ------------------------------------<br />
                            তারিখ ঃ------------------------------------<br /><br />
                            (মানবসম্পদ, প্রশাসন ও কমপ্লায়েন্স)<br />
                        </td>
                        <td colspan="2" rowspan="2">
                            আমি স্বেচ্ছায় কোন প্রকার চাপ প্রয়োগ ছাড়াই স্বজ্ঞানে উপরের সকল শর্ত মানিয়া এই পদে চাকুরীতে যোগদান করিলাম।<br />
                            আমি উক্ত নিয়োগপত্রে স্বাক্ষর করে অনুলিপি গ্রহণ করিলাম।<br /><br />
                            স্বাক্ষর  ঃ------------------------------------<br /><br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 9)
{
    <div class="col-md-12" style="font-size:10px;">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর ।
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: center; text-underline-position:below;">
                        <td colspan="2" height="40">

                            শ্রমিকের অব্যহতি/ বরখাস্ত কালীন চূড়ান্ত হিসাবের বিবরণী <br />
                            (বাংলাদেশ শ্রম আইন ২০০৬ এর ৩০ ধারা মোতাবেক)
                        </td>
                    </tr>
                </tbody>
                <tboy>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b>শ্রম আইন ২০০৬ এর ৪৫-৪৯ ধারায় মাতৃত্ব কল্যাণ আইনের আওতায় ফরম ‘খ’ এ শয্যাগত হওয়ার নোটিশ। (শ্রম আইন ২০০৬ এর ৪৫-৪৯ ধারায় )।</b> <br /><br />
                        </td>
                    </tr>
                </tboy>
            </table>
            <table class="col-md-12">
                <tbody>
                    <tr width="100%">
                        <td width="30%">
                            নামঃ
                        </td>
                        <td width="70%">
                            @Model.EmployeeInfo.EmployeeName
                        </td>
                    </tr>
                    <tr width="100%">
                        <td width="30%">
                            আই ডি নং
                        </td>
                        <td width="70%">
                            @Model.EmployeeInfo.EmIdentity
                        </td>
                    </tr>
                    <tr width="100%">
                        <td width="30%">
                            পদবী
                        </td>
                        <td width="70%">
                            @Model.EmployeeInfo.Designation
                        </td>
                    </tr>
                    <tr width="100%">
                        <td width="30%">
                            সেকশন
                        </td>
                        <td width="70%">
                            @Model.EmployeeInfo.Section
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            মজুরি গণনাঃ
            <table class="col-md-12 table table-bordered">
                <tbody>
                    <tr width="100%">
                        <td width="30%">
                            সর্বশেষ মাসিক মোট মজুরি
                        </td>
                        <td width="70%"></td>
                    </tr>
                    <tr width="100%">
                        <td width="30%">
                            সর্বশেষ মাসিক মূল মজুরি
                        </td>
                        <td width="70%"></td>
                    </tr>
                </tbody>
            </table>
            <br />
            তারিখ ও দিন গণনাঃ
            <table class="col-md-12 table table-bordered">
                <tbody>
                    <tr width="100%">
                        <td width="30%">
                            অব্যহতি প্রদানের তারিখ
                        </td>
                        <td width="70%">
                            ইং
                        </td>
                    </tr>
                    <tr width="100%">
                        <td width="30%">
                            অব্যহতি কার্যকরের তারিখ
                        </td>
                        <td width="70%">
                            ইং
                        </td>
                    </tr>
                    <tr width="100%">
                        <td width="30%">
                            চাকুরিতে যোগদানের তারিখ
                        </td>
                        <td width="70%">
                            ইং
                        </td>
                    </tr>
                    <tr width="100%">
                        <td width="30%">
                            চাকুরির স্থায়িত্বকাল
                        </td>
                        <td width="70%">
                            ............বছর............মাস...........দিন
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />
            চূড়ান্ত হিসাবঃ
            <table class="col-md-12 table table-bordered">
                <thead>
                    <tr width="100%">
                        <th width="90%">বিবরণ</th>
                        <th width="10%">টাকা</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            চলতি মাসের বেতন @Model.FromDate ইং তারিখ হইতে @Model.ToDate ইং তারিখ পর্যন্ত  মোট .........দিনের মজুরী
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            অর্জিত ছুটি ১৮ কর্ম দিবসে ১ দিন হিসাবে (প্রকৃত উপস্থিতির মোট দিনগুলিকে ১৮ দিয়ে ভাগ করতে হবে) মোট.......দিন
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            হাজিরা বোনাস
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            চলতি মাসের ওভার টাইম..................ইং তারিখ হইতে....................ইং তারিখ পর্যন্ত  মোট......ঘন্টার ওভার টাইম
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td width="90%">
                            সার্ভিস বেনিফিটঃ <br />
                            ১)	 চাকুরির স্থায়ীত্বকাল ৫ বছর পূর্ণ হলে প্রতি বছরের/ সম্পূর্ণ বছরের জন্য ১৪ দিনের মজুরি <br />
                            ২)	চাকুরির স্থায়ীত্বকাল ১০ বছর বা তার বেশী হলে ৬ মাসের অধিক বা প্রতি সম্পূর্ণ বছরের ৪৫ দিনের মজুরি <br />
                        </td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="90%">
                            অন্যান্য পাওনা (যদি থাকে)
                        </td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="90%" style="text-align:right">
                            মোট
                        </td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="90%">

                            আপনার নিকট হইতে কোম্পানীর অগ্রীম বা অন্যান্য পাওনা (যদি থাকে)  (-)
                        </td>
                        <td width="10%"></td>
                    </tr>
                    <tr>
                        <td width="90%" style="text-align:right">

                            সর্বমোট প্রদেয় টাকা
                        </td>
                        <td width="10%"></td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table class="col-md-12">
                <tbody>
                    <tr style="width:100%;">
                        <td width="20%">মানব সম্পদ</td>
                        <td width="20%">কমপ্লায়েন্স</td>
                        <td width="20%">প্রশাসন</td>
                        <td width="20%">হিসাব শাখা</td>
                        <td width="20%">নির্বাহী পরিচালক/ পরিচালক</td>
                    </tr>
                    <tr width="100%">
                        <td colspan="5"><br /><br />উল্লেখিত আমার যাবতীয় পাওনাদী সর্বমোট.....................টাকা বুঝিয়া পাইলাম। প্রতিষ্ঠানের কাছে আমার আর কোন দেনা-পাওনা নাই। অত্র হিসাবের মূল কপি বুঝিয়া পাইলাম। <br /><br /> </td>
                    </tr>
                </tbody>
            </table>
            <table style="col-md-12">
                <tbody style="width:100%;">
                    <tr>
                        <td width="60%">
                            স্বাক্ষর...........................................
                        </td>
                        <td width="60%" rowspan="3">
                            তারিখঃ........./........../...................ইং <br />

                            শ্রমিক/কর্মচারী/ কর্মকর্তার স্বাক্ষর.......................................... <br />

                            শ্রমিক/কর্মচারী/ কর্মকর্তার  পূর্ণনাম....................................... <br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 10)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12" width="100%">
                <tbody>
                    <tr>
                        <td>
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর ।
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: center; font-weight:bold; text-underline-position:below; border-top:solid; border-bottom:solid">
                        <td colspan="2" height="40">
                            <h3>আহত ও দূর্ঘটনার রেকর্ড</h3>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td width="70%">নামঃ @Model.EmployeeInfo.EmployeeName</td>
                        <td width="30%">কার্ড নংঃ @Model.EmployeeInfo.CardNo</td>
                    </tr>
                    <tr>
                        <td width="70%">পদবীঃ @Model.EmployeeInfo.Designation</td>
                        <td width="30%">লাইন/সেকশনঃ @Model.EmployeeInfo.PLName / @Model.EmployeeInfo.Section</td>
                    </tr>
                    <tr>
                        <td width="70%">যোগদানের তারিখ @Model.EmployeeInfo.JoinDate</td>
                        <td width="30%">গ্রেডঃ @Model.EmployeeInfo.Grade</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" id="STable">
                <thead>
                    <tr>
                        <th>ক্রমিক নং</th>
                        <th>তারিখ</th>
                        <th>সময়</th>
                        <th>স্থান</th>
                        <th> আহত/ দূর্ঘটনার কারণ</th>
                        <th> ডাক্তার কতৃক চিকিৎসা </th>
                        <th> ডিসপোজাল</th>
                        <th> ডাক্তারের স্বাক্ষর</th>
                        <th> মন্তব্য</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 11)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12" width="100%">
                <tbody>
                    <tr>
                        <td>
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর ।
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: center; font-weight:bold; text-underline-position:below; border-top:solid; border-bottom:solid">
                        <td colspan="2" height="40">
                            <h3>ছুটির রেকর্ড সীট</h3>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td width="70%">নামঃ @Model.EmployeeInfo.EmployeeName</td>
                        <td width="30%">কার্ড নংঃ @Model.EmployeeInfo.CardNo</td>
                    </tr>
                    <tr>
                        <td width="70%">পদবীঃ @Model.EmployeeInfo.Designation</td>
                        <td width="30%">লাইন/সেকশনঃ @Model.EmployeeInfo.PLName / @Model.EmployeeInfo.Section</td>
                    </tr>
                    <tr>
                        <td width="70%">যোগদানের তারিখ @Model.EmployeeInfo.JoinDate</td>
                        <td width="30%">গ্রেডঃ @Model.EmployeeInfo.Grade</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" style="text-align:center;">
                <thead>
                    <tr>
                        <th rowspan="2" colspan="1">ক্রমিক নং</th>
                        <th rowspan="2" colspan="1">ছুটির ধরণ</th>
                        <th rowspan="1" colspan="2">ছুটির তারিখ</th>
                        <th rowspan="2" colspan="1">মোট দিন</th>
                        <th rowspan="1" colspan="3"> ডাক্তার কতৃক চিকিৎসা</th>
                        <th rowspan="2" colspan="1"> কতৃপক্ষের সাক্ষর </th>
                        <th rowspan="2" colspan="1"> মন্তব্য</th>
                    </tr>
                    <tr>
                        <th>হইতে</th>
                        <th>পর্যন্ত</th>
                        <th>নৈমিত্তিক ছুটি</th>
                        <th>অসুস্থতার ছুটি</th>
                        <th>অর্জিত ছুটি</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 12)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12" width="100%">
                <tbody>
                    <tr>
                        <td>
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর ।
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: center; font-weight:bold; text-underline-position:below; border-top:solid; border-bottom:solid">
                        <td colspan="2" height="40">
                            <h3>পদোন্নতি এবং বেতন বৃদ্ধির সীট</h3>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td width="70%">নামঃ @Model.EmployeeInfo.EmployeeName</td>
                        <td width="30%">কার্ড নংঃ @Model.EmployeeInfo.CardNo</td>
                    </tr>
                    <tr>
                        <td width="70%">পদবীঃ @Model.EmployeeInfo.Designation</td>
                        <td width="30%">লাইন/সেকশনঃ @Model.EmployeeInfo.PLName / @Model.EmployeeInfo.Section</td>
                    </tr>
                    <tr>
                        <td width="70%">যোগদানের তারিখ @Model.EmployeeInfo.JoinDate</td>
                        <td width="30%">গ্রেডঃ @Model.EmployeeInfo.Grade</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" id="STable">
                <thead>
                    <tr>
                        <th>ক্রমিক নং</th>
                        <th>বছর</th>
                        <th>বর্ধিত টাকা</th>
                        <th>কার্যকারীর তারিখ</th>
                        <th> মোট টাকা </th>
                        <th> কর্তৃপক্ষের স্বাক্ষর </th>
                        <th> মন্তব্য</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td height="35px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 13)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12" width="100%">
                <tbody>
                    <tr>
                        <td>
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর ।
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: center; font-weight:bold; text-underline-position:below; border-top:solid; border-bottom:solid">
                        <td colspan="2" height="40">
                            <h3>পদোন্নতি এবং বেতন বৃদ্ধির সীট</h3>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td width="70%">নামঃ @Model.EmployeeInfo.EmployeeName</td>
                        <td width="30%">কার্ড নংঃ @Model.EmployeeInfo.CardNo</td>
                    </tr>
                    <tr>
                        <td width="70%">পদবীঃ @Model.EmployeeInfo.Designation</td>
                        <td width="30%">লাইন/সেকশনঃ @Model.EmployeeInfo.PLName / @Model.EmployeeInfo.Section</td>
                    </tr>
                    <tr>
                        <td width="70%">যোগদানের তারিখ @Model.EmployeeInfo.JoinDate</td>
                        <td width="30%">গ্রেডঃ @Model.EmployeeInfo.Grade</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" id="STable">
                <thead>
                    <tr>
                        <th>ক্রমিক নং</th>
                        <th>তারিখ</th>
                        <th>বিবরণ</th>
                        <th>শাস্তি</th>
                        <th>কতৃপক্ষের স্বাক্ষর</th>
                        <th> মন্তব্য</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="750px;"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue == 14)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr width="100%">
                        <td colspan="1">
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy")<br /><br /><br />
                            বরাবর,<br />
                            ব্যবস্থাপনা পরিচালক<br />
                            রোমো ফ্যাশন টুডে লিঃ<br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর।<br /><br />

                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b>
                                @Model.EmployeeInfo.Designation পদে চাকুরীর জন্য আবেদন।<br />
                                আবেদনকৃত সেকশনের নামঃ @Model.EmployeeInfo.Section
                            </b><br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            জনাব,<br />
                            যথাবিহীত সম্মানপূর্বক পূর্বক নিবেদন এই যে, নিয়োগ বিজ্ঞপ্তি / লিফলেট / বিশ্বস্ত সূত্রে জানতে পারলাম অত্র প্রতিষ্ঠানে উল্লিখিত পদে কিছু সংখ্যক লোক নিয়োগ করা হইবে। আমি উক্ত পদের একজন প্রার্থী হিসেবে আমার পূর্ণ জীবন বৃত্তান্তকরিতেছিঃ<br />
                            <br />
                            ১.	নামঃ @Model.EmployeeInfo.EmployeeName<br />
                            ২.	পিতার নামঃ @Model.EmployeeInfo.EmFName<br />
                            ৩.	মাতার নামঃ @Model.EmployeeInfo.EmMName<br />
                            ৪.	স্থায়ী ঠিকানাঃ @Model.EmployeeInfo.PermanentAddress<br />

                            ৫.	বর্তমান ঠিকানাঃ @Model.EmployeeInfo.PresentAddress<br />

                            ৬.	ধর্মঃ<br />
                            ৭.	জাতীয় পরিচয় পত্র নংঃ<br />
                            ৮.	মোবাইল নংঃ<br /><br />

                            অতএব, জনাব সমীপে বিনীত আবেদন, আমাকে উক্ত পদে নিয়োগ প্রদান করে বাধিত করিবেন।<br /><br />
                            <div class="container table table-bordered">
                                <table style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td width="60%" height="30px;">বৈবাহিক অবস্থাঃ </td>
                                            <td>স্বামী / স্ত্রীর নামঃ</td>
                                        </tr>
                                        <tr>
                                            <td width="60%" height="30px;">শিক্ষাগত যোগ্যতাঃ</td>
                                            <td>মোট সন্তান সংখ্যাঃ</td>
                                        </tr>
                                        <tr>
                                            <td width="60%" height="30px;">জন্ম তারিখঃ</td>
                                            <td>বয়সঃ</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />

                            পূর্বের কারখানার নামঃ<br />
                            পূর্বের কারখানার পদবীঃ<br />
                            অভিজ্ঞতাঃ<br /><br />
                            বর্তমান কর্মস্থলে যোগদানের তারিখঃ<br />
                            বর্তমান বেতনঃ<br /><br />
                            <div class="container">
                                <table style="width:100%; text-align: right;">
                                    <tbody>
                                        <tr>
                                            <td width="100%">
                                                আবেদনকারীর স্বাক্ষর<br /><br />
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br /><br />
                                <table style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td width="35%">সুপারভাইজার / লাইনচীফ / ইনচার্জ</td>
                                            <td width="30%">প্রশাসনিক কর্মকর্তা</td>
                                            <td width="35%">এপিএম / পিম</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br /><br />
                                <table style="width:100%;">
                                    <tr>
                                        <td width="35%">ম্যানেজার - এইচ আর ও কমপ্লায়েন্স</td>
                                        <td width="30%">ফ্যাক্টরী ম্যানেজার</td>
                                        <td width="35%">ম্যানেজার পরিচালক/ নির্বাহীপরিচালক</td>
                                    </tr>
                                </table>
                            </div>
                            <br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12" width="100%">
                <tbody>
                    <tr>
                        <td>
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর ।
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: center; font-weight:bold; text-underline-position:below; border-top:solid; border-bottom:solid">
                        <td colspan="2" height="40">
                            <h3>পটোভূমি নিরীক্ষণ </h3>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td width="70%">নামঃ @Model.EmployeeInfo.EmployeeName</td>
                        <td width="30%">কার্ড নংঃ @Model.EmployeeInfo.CardNo</td>
                    </tr>
                    <tr>
                        <td width="70%">পদবীঃ @Model.EmployeeInfo.Designation</td>
                        <td width="30%">লাইন/সেকশনঃ @Model.EmployeeInfo.PLName / @Model.EmployeeInfo.Section</td>
                    </tr>
                    <tr>
                        <td width="70%">যোগদানের তারিখ @Model.EmployeeInfo.JoinDate</td>
                        <td width="30%">গ্রেডঃ @Model.EmployeeInfo.Grade</td>
                    </tr>
                    <tr>
                        <td width="70%">মাতার নামঃ @Model.EmployeeInfo.EmMName</td>
                        <td width="30%">বর্তমান ঠিকানা @Model.EmployeeInfo.PresentAddress</td>
                    </tr>
                    <tr>
                        <td width="70%">পিতার নামঃ @Model.EmployeeInfo.EmFName</td>
                        <td width="30%">স্থায়ী ঠিকানা @Model.EmployeeInfo.PermanentAddress / @Model.EmployeeInfo.Section</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th width="25%">প্রথম রেফারেন্সকারী</th>
                        <th width="25%">দ্বিতীয় রেফারেন্সকারী</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="150px;">
                            নামঃ <br />
                            স্থায়ী ঠিকানাঃ <br /><br />
                            বর্তমান ঠিকানাঃ <br /><br />
                            মোবাইলঃ<br />
                        </td>
                        <td>
                            নামঃ <br />
                            স্থায়ী ঠিকানাঃ <br /><br />
                            বর্তমান ঠিকানাঃ <br /><br />
                            মোবাইলঃ<br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table width="100%">
                <tbody>
                    <tr style="width:100%;">
                        <td>
                            নিরীক্ষনকারীঃ
                            আমি সরজমিনে/ মোবাইলে ফোনের মাধ্যমে রেফারেন্সকারী ব্যাক্তিদ্বয়ের সহিত যোগাযোগ করিয়া নিম্নলিখিত বিষয়গুলো সঠিক পেলামঃ
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th width="25%">প্রথম রেফারেন্সকারীর নিকট থেকে প্রাপ্ত তথ্য সমূহ</th>
                        <th width="25%">দ্বিতীয় রেফারেন্সকারীর নিকট থেকে প্রাপ্ত তথ্য সমূহ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td height="150px;"></td>
                        <td></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            নিরীক্ষনকারী স্বাক্ষরঃ <br />
                            নামঃ <br />
                            পদবীঃ <br />
                            স্বাক্ষরঃ <br />
                        </td>
                        <td>
                            বিভাগীয় প্রধানের স্বাক্ষরঃ <br /><br />
                            নামঃ পদবীসহ সীল<br />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}