﻿@model Erp.Core.Services.HRMS.VMAttendance
@{
    ViewData["Title"] = "Process";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Attendance:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        <div class="box-body">
                            <form asp-action="AttendanceDownload" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true" id="frmAttendanceDownload">
                                <div class="col-md-12 form-group">
                                    <input type="submit" value="Download Attendance" class="btn btn-primary form-control" />
                                </div>
                            </form>
                            <form asp-action="AttendanceProcess" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true" id="frmAttendanceFilter">
                                <div class="col-md-12 form-group">

                                </div>
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-3 form-group">

                                        <label asp-for="ShiftId" class="col-form-label"></label>
                                        <select id="ddlShift" asp-for="ShiftId" asp-items="Model.ShiftList" class="form-control searchingDropdown" style="width:100%;">
                                            <option selected value="0">Select Shift</option>
                                        </select>
                                        <span asp-validation-for="ShiftId" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="EmployeeId" class="col-form-label"></label>
                                        <select id="ddlEmployee" asp-for="EmployeeId" asp-items="Model.EmployeeList" class="form-control searchingDropdown" style="width:100%;">
                                            <option selected value="0">Select Employee</option>
                                        </select>
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="FromDate" class="col-form-label">Date</label>
                                        <div class="input-group date">
                                            <input asp-for="FromDate" type="text" class="form-control datePicker" autocomplete="off" value="@Model.FromDateControlString" required />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="FromDate" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-3 form-group" style="padding-top:25px;">

                                        <input type="submit" value="Process" class="btn btn-primary pull-right" />

                                    </div>
                                </div>

                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#frmAttendanceFilter').bootstrapValidator();

        });


        $("#ddlShift").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("EmployeeGet")",
                datatype: "Json",
                data: { id: $("#ddlShift :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlEmployee").empty();
                        $("#ddlEmployee").append("<option value='0'>Select Employee</option>");
                        $(data).each(function (index, item) {
                            $("#ddlEmployee").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });


                    }
                }
            });
        });
    </script>
}