﻿@model Erp.Core.Services.HRMS.VMAttendanceRemarks
@{
    ViewData["Title"] = "Attendance Remarks";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@{ var btnText = Model.ID > 0 ? "Update" : "Save";}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Attendance Remarks:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        <form asp-action="AttendanceRemarks" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true" id="frmAttendanceRemarks">
                            <input type="hidden" asp-for="ID" id="hdfID" />
                            <input type="hidden" asp-for="ActionId" id="hdfActionID" />

                            <div class="box-body">
                                <!--Body Will by Start Here-->

                                <div class="row">

                                    <div class="col-md-10 form-group">

                                        <label asp-for="AttendanceRemark" class="col-form-label"></label>
                                        <input id="txtRemark" asp-for="AttendanceRemark" class="form-control" required autocomplete="off" />
                                        <span asp-validation-for="AttendanceRemark"></span>


                                    </div>
                                    <div class="col-md-2 pull-right" style="padding-top:25px">

                                        <button type="submit" id="btnSave" class="btn btn-primary" value="@btnText"><i class='fa fa-floppy-o'></i> @btnText</button>
                                    </div>
                                </div>
                            </div>
                            <div class=" modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                &times;
                                            </button>
                                            <h5 class="modal-title"><b>Attendance Remark</b></h5>

                                        </div>
                                        <div class="modal-body">
                                            <div style="text-align:center">
                                                <h3>Are you sure?</h3>
                                            </div>

                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" id="btnClose" onclick="refreshPage();" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                       
                            
                        
                    </div>
                </div>

            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="col-md-12 table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr  style="background-color: #DFF0D8;">
                                <th>SL</th>
                                <th>Remark</th>
                                <th >Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @foreach (var i in Model.DataList)
                            {
                            <tr>
                                <td>@(sl++)</td>
                                <td id="tdRemark_@i.ID">@i.AttendanceRemark</td>
                                
                                <td>
                                    <a id="@i.ID" onclick=" menuinfo(this);" class="linkPointer" title="Edit"
                                       data-placement="top">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </a>
                                    <a id="@i.ID" onclick="menuinfo(this); deleteItemInfo();" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                       data-placement="top">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                                
                            }
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            
            $('#frmAttendanceRemarks').bootstrapValidator();
           
        });
        function menuinfo(elem) {
            if (elem !== null) {
                
                var r = elem.id;
                $('#hdfID').val(r);
                $('#hdfActionID').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i> Update");
                
                $('#txtRemark').val($('#tdRemark_' + r).text().trim());
                
            }
        }
        function deleteItemInfo() {
            
            $('#hdfActionID').val(3);
        }

        function refreshPage() {
            location.reload(true);
        }
    </script>
}


