﻿ @model Erp.Core.Services.HRMS.VMAttendance
@{
    ViewData["Title"] = "Attendance";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Attendance:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        <div class="box-body">
                            <form asp-action="AttendanceHistory" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true" id="frmAttendanceFilter">
                                <div class="row">
                                    <div class="col-md-3 form-group">
                                        <label asp-for="BusinessUnitId" class="col-form-label"></label>
                                        <select id="ddlBUnit" asp-for="BusinessUnitId" asp-items="Model.BusinessUnitList" class="form-control searchingDropdown" style="width:100%;">
                                            <option selected value="0">Select Business Unit</option>
                                        </select>
                                        <span asp-validation-for="BusinessUnitId" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="UnitId" class="col-form-label"></label>
                                        <select id="ddlUnit" asp-for="UnitId" asp-items="Model.UnitList" class="form-control searchingDropdown" style="width:100%;">
                                            <option selected value="0">Select Unit</option>
                                        </select>
                                        <span asp-validation-for="UnitId" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="DepartmentId" class="col-form-label"></label>
                                        <select id="ddlDepartment" asp-for="DepartmentId" asp-items="Model.DepartmentList" class="form-control searchingDropdown" style="width:100%;">
                                            <option selected value="0">Select Department</option>
                                        </select>
                                        <span asp-validation-for="DepartmentId" class="text-danger"></span>


                                    </div>

                                    <div class="col-md-3 form-group">

                                        <label asp-for="SectionId" class="col-form-label"></label>
                                        <select id="ddlSection" asp-for="SectionId" asp-items="Model.SectionList" class="form-control searchingDropdown" style="width:100%;">
                                            <option selected value="0">Select Section</option>
                                        </select>
                                        <span asp-validation-for="SectionId" class="text-danger"></span>


                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-group">

                                        <label asp-for="ShiftId" class="col-form-label"></label>
                                        <select asp-for="ShiftId" asp-items="Model.ShiftList" class="form-control searchingDropdown" style="width:100%;">
                                            <option selected value="0">Select Shift</option>
                                        </select>
                                        <span asp-validation-for="ShiftId" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="EmployeeId" class="col-form-label"></label>
                                        <select asp-for="EmployeeId" asp-items="Model.EmployeeList" class="form-control searchingDropdown" style="width:100%;">
                                            <option selected value="0">Select Employee</option>
                                        </select>
                                        <span asp-validation-for="EmployeeId" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="FromDate" class="col-form-label"></label>
                                        <div class="input-group date">
                                            <input asp-for="FromDate" type="text" class="form-control datePicker" autocomplete="off" value="@Model.FromDateControlString" required />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="FromDate" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="ToDate" class="col-form-label"></label>
                                        <div class="input-group date">
                                            <input asp-for="ToDate" type="text" class="form-control datePicker" autocomplete="off" value="@Model.ToDateControlString" required />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="ToDate" class="text-danger"></span>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group" style="margin-top:25px;">

                                        <input type="submit" style="width:100%" value="View Attendance History" class="btn btn-xs btn-primary" />

                                    </div>
                                </div>
                            </form>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">@Model.DateRange</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding table-responsive">
                                            <table id="tableX" class="table table-striped text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th >#</th>
                                                        <th>Name</th>
                                                        <th>Employee Card No</th>
                                                        <th>Department</th>
                                                        <th>Unit</th>
                                                        <th>Section</th>
                                                        <th>Date</th>
                                                        <th>In-Time</th>
                                                        <th>Out-Time</th>
                                                        <th>Status</th>
                                                        <th>Remarks</th>
                                                        <th >Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{ int sl = 1;}
                                                    @foreach (var item in Model.DataList)
                                                    {
                                                        <tr>
                                                            <td>@(sl++)</td>
                                                            <td>@item.EmployeeName</td>
                                                            <td>@item.EmployeeCardNo</td>
                                                            <td>@item.DepartmentName</td>
                                                            <td>@item.UnitName</td>
                                                            <td>@item.SectionName</td>
                                                            <td>@item.AttendanceDateGridString</td>
                                                            <td id="tdInTime_@item.ID">@item.InTimeString</td>
                                                            <td id="tdOutTime_@item.ID">@item.OutTimeString</td>
                                                            <td>
                                                                <input id="tdStatus_@item.ID" type="hidden" value="@((int)item.AttendanceStatus)" />
                                                                @if (item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.Present
                                                             || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.HolidayPresent
                                                             || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.LeavePresent
                                                             || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.OffDayPresent
                                                             || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.WeekendPresent)
                                                                {
                                                                    <span class="label label-success">@item.AttendanceStatusString</span>
                                                                }
                                                                else if (item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.Late
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.HolidayLate
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.LeaveLate
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.OffDayLate
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.WeekendLate
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.Holiday
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.Leave
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.OffDay
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.Weekend)
                                                                {
                                                                    <span class="label label-info">@item.AttendanceStatusString</span>
                                                                }
                                                                else if (item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.Absent
                                                            || item.AttendanceStatus == Erp.Core.Services.EnumAttendanceStatus.Invalid)
                                                                {
                                                                    <span class="label label-warning">@item.AttendanceStatusString</span>
                                                                }

                                                            </td>
                                                            <td id="tdRemarks_@item.ID">
                                                                
                                                                @item.Remarks

                                                            </td>
                                                            <td>
                                                                <a id="@item.ID" onclick="itemActionInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Update Attendance"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    }


                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Employee Card No</th>
                                                        <th>Department</th>
                                                        <th>Unit</th>
                                                        <th>Section</th>
                                                        <th>Date</th>
                                                        <th>In-Time</th>
                                                        <th>Out-Time</th>
                                                        <th>Status</th>
                                                        <th>Remarks</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="UpdateAttendance" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true" id="frmUpdateAttendance" onreset = "resetDDL();">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Update Attendance</b></h5>

                </div>
                <div class="modal-body">
                    <input asp-for="ID" type="hidden" id="hdfID" />
                    <input asp-for="ActionId" type="hidden" id="hdfActionID" />
                    <input asp-for="ToDate" type="hidden" value="@Model.ToDateControlString" />
                    <input asp-for="FromDate" type="hidden" value="@Model.FromDateControlString" />
                    <input asp-for="EmployeeId" type="hidden" />
                    <input asp-for="ShiftId" type="hidden" />
                    <input asp-for="SectionId" type="hidden" />
                    <input asp-for="UnitId" type="hidden" />
                    <input asp-for="DepartmentId" type="hidden" />
                    <input asp-for="BusinessUnitId" type="hidden" />
                    <div class="col-md-6 form-group">

                        <label asp-for="InTime" class="col-form-label"></label>
                        <input type="text" id="txtInTime" asp-for="InTime" class="form-control timePicker" autocomplete="off" value="@Model.InTimeString" required />
                        <span asp-validation-for="InTime" class="text-danger"></span>


                    </div>
                    <div class="col-md-6 form-group">

                        <label asp-for="OutTime" class="col-form-label"></label>
                        <input type="text" id="txtOutTime" asp-for="OutTime" class="form-control timePicker" autocomplete="off" value="@Model.OutTimeString" required />
                        <span asp-validation-for="OutTime" class="text-danger"></span>


                    </div>

                    <div class="col-md-6 form-group">

                        <label asp-for="AttendanceStatus" class="col-form-label"></label>
                        <select id="ddlAttendanceStatus" asp-for="AttendanceStatus" asp-items="Model.AttendanceStatusList" class="form-control ddlReset searchingDropdown" style="width:100%;" required>
                            <option selected value="">Select Status</option>
                        </select>
                        <span asp-validation-for="AttendanceStatus" class="text-danger"></span>


                    </div>
                    <div class="col-md-6 form-group">

                        <label asp-for="Remarks" class="col-form-label"></label>
                        <select id="ddlRemarks" asp-for="Remarks" asp-items="Model.RemarksList" class="form-control ddlReset searchingDropdown" style="width:100%;" required>
                            <option selected value="">Select Remark</option>
                        </select>
                        <span asp-validation-for="Remarks" class="text-danger"></span>


                    </div>
                    <div class="col-md-12 form-group">
                        <label asp-for="ExtendedRemarks" class="col-form-label"></label>
                        <input asp-for="ExtendedRemarks" class="form-control" autocomplete="off" />
                        <span asp-validation-for="ExtendedRemarks" class="text-danger"></span>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </form>
                
        </div>
    </div>
</div>


@section scripts{ 
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('#frmAttendanceFilter,#frmUpdateAttendance').bootstrapValidator();
            $('.timePicker').timepicker({ autoclose: true, timeFormat: 'hh:mm pp' }).on('changeTime.timepicker', function (ev) {
                if ($(this).parents('form') && $(this).attr('required')) {
                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                }

            });
            $('#tableX tfoot th').each(function () {
                if ($(this).text().toLocaleUpperCase() == 'SL' || $(this).text().toLocaleUpperCase() == 'ACTION' || $(this).text().toLocaleUpperCase() == '#') {
                    $(this).html('');
                    return;
                }
                var title = $(this).text();
                $(this).html('<input type="text" placeholder="Search ' + title + '" />');
            });
            $('#tableX').DataTable().columns().every(function () {
                var that = this;

                
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that
                            .search(this.value)
                            .draw();
                    }
                });
            });
        });

        function itemActionInfo(id) {
            
            if (id !== null) {
                $('#hdfID').val(id);
                $('#hdfActionID').val(2);


                $('#txtInTime').timepicker('setTime', $('#tdInTime_' + id).text().trim());
                $('#txtOutTime').timepicker('setTime', $('#tdOutTime_' + id).text().trim());
                $("#ddlAttendanceStatus").val($('#tdStatus_' + id).val().trim());
                $("#ddlRemarks").val($('#tdRemarks_' + id).text().trim());
                $('.ddlReset').trigger('change');
            }
        }
        function resetDDL() {
            
            $('#hdfID').empty();
            $('#hdfActionID').val(2);

            $('.ddlReset').val('').trigger('change');
            $('#frmUpdateAttendance').bootstrapValidator("resetForm", true);

        }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#frmUpdateAttendance').trigger("reset");



        });
        $("#ddlBUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#ddlBUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlUnit").empty();
                        $("#ddlUnit").append("<option value='0' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnit").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnit").val(nUId);

                            $("#ddlUnit").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet")",
                datatype: "Json",
                data: { id: $("#ddlUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlDepartment").empty();
                        $("#ddlDepartment").append("<option value='0' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDepartment").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDepartment").val(nDepartmentId);

                            $("#ddlDepartment").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlDepartment").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');

                        }
                    }
                }
            });
        });
    </script>
}