﻿@model Erp.Core.Services.HRMS.HRMSBusinessUnitVM
@{
    ViewData["Title"] = "HRMS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Sister Concern:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("AddBusinessUnitSetup", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.error)
                            @Html.HiddenFor(model => model.BId)

                            <div class="box-body">
                                <!--Body Will by Start Here-->

                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="ddLStore" class="col-form-label">Name:</label>
                                            @Html.TextBoxFor(model => model.Name, "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="ddLStore" class="col-form-label">Code:</label>
                                            @Html.TextBoxFor(model => model.Code, "", new { @class = "form-control", required = "required", autocomplete = "off", maxlength="3" })
                                            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Remarks:</label>
                                            @Html.TextBoxFor(model => model.BusinessUnitRemarks, "", new { @class = "form-control", autocomplete = "off" })
                                        </div>
                                        @*@Html.ValidationMessageFor(model => model.BusinessUnitRemarks, "", new { @class = "text-danger" })*@
                                    </div>
                                    <div class="col-lg-4 col-md-4 pull-right" style="padding-top:25px">
                                        @if (Model.ID != 0)
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                        }
                                        @Html.ActionLink("Cancel", "BusinessUnitSetup", "HRMS", new { id = 0 }, new { @class = "btn btn-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>

            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr style="background-color: #DFF0D8;">
                                <th>SL</th>
                                <th>Sister Concern</th>
                                <th>Code</th>
                                <th>Remarks</th>
                                <th style="background-color: yellow;">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @foreach (var i in Model.BULists)
                            {
                                <tr>
                                    <td>@sl</td>
                                    <td>@i.Name</td>
                                    <td>@i.Code</td>
                                    <td>@i.BusinessUnitRemarks</td>
                                    <td style="background-color: khaki;">
                                        <a data-placement="top" href="@Url.Action("BusinessUnitSetup", "HRMS", new { id = i.ID } )">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@i.ID" data-toggle="modal" data-target="#myModal"
                                           data-tooltip="tooltip" title="Delete" data-placement="top">
                                        </a>
                                    </td>
                                </tr>
                                sl++;
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>


        <!-- Alert -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @if (Model.error != "")
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    }
                    else
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal">No</a>
                            <a class="btn btn-success" id="DeleteBU"
                               data-tooltip="tooltip" title="Delete" data-placement="top">
                                Yes
                            </a>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#myModal').modal('hide');
            if ($('#error').val() != '') {
                $('#myModal').modal('show');
            }
        });

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("BId").value = passedID;
        });

        $("#DeleteBU").on('click', function () {
            var Id = document.getElementById("BId").value;
            $.post('@Url.Action("DeleteBusinessUnit","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });
    </script>
}


