﻿@model Erp.Core.Services.HRMS.CommonCompanyVM
@{
    ViewData["Title"] = "HRMS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                  Basic Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <form method="post" enctype="multipart/form-data" asp-controller="HRMS" asp-action="CompanySetup" class="formValidator">
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.error)
                            @Html.HiddenFor(model => model.Id)
                            <div class="box-body">
                                <!--Body Will by Start Here-->

                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Name, "", new { @class = "form-control", autocomplete = "off", @required = "Required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ShortName, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.ShortName, "", new { @class = "form-control", autocomplete = "off", @required = "Required"  })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ShortName, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Phone, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Phone, "", new { @class = "form-control", autocomplete = "off", @required = "Required"  })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Email, "", new { @class = "form-control", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ContactPerson, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.ContactPerson, "", new { @class = "form-control", autocomplete = "off", @required = "Required"  })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Address, new { @class = "control-label" })
                                            @Html.TextBoxFor(model => model.Address, "", new { @class = "form-control", autocomplete = "off", @required = "Required"  })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>                                  

                                    <div class="col-lg-4 col-md-4" id="tab_9">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Image, "Add Logo", new { @class = "control-label" })
                                            <input type="file" name="files" multiple id="FileUpload1" accept="image/x-png,image/gif,image/jpeg" />
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <table border="0" cellpadding="0" cellspacing="5">
                                                <tr>
                                                    <td>
                                                        @if (Model.Image != null)
                                                        {
                                                            <img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image)" id="Image1" width="200" height="250" />
                                                        }
                                                        else
                                                        {
                                                            <img id="Image1" src="" alt="" style="display: none" width="200" height="250" />
                                                        }
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-lg-12 col-md-12" style="padding-top:25px">

                                    <div class="">
                                        @if (Model.ID != 0)
                                        {

                                            <button type="submit" id="btnSave" class="btn btn-primary  pull-right col-md-6 col-lg-6">Update</button>
                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary  pull-right col-md-6 col-lg-6">Add</button>

                                        }
                                    </div>
                                    <div class="">
                                        @Html.ActionLink("Cancel", "CompanySetup", "HRMS", new { id = 0 }, new { @class = "btn btn-danger  pull-right col-md-6 col-lg-6" })
                                       
                                    </div>
                                </div>
                            </div>
                        </form>

                        @*@using (Html.BeginForm("CompanySetup", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                    {

                    }*@
                    </div>
                </div>

            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr style="background-color: #DFF0D8;">
                                <th>SL</th>
                                <th>Company Name</th>
                                <th>Contact Number</th>
                                <th>Address</th>
                                <th style="background-color: yellow;">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @foreach (var i in Model.DataList)
                            {
                                <tr>
                                    <td>@sl</td>
                                    <td>@i.Name</td>
                                    <td>@i.Phone</td>
                                    <td>@i.Address</td>
                                    <td style="background-color: khaki;">
                                        <a data-placement="top" href="@Url.Action("CompanySetup", "HRMS", new { id = i.ID } )">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@i.ID" data-toggle="modal" data-target="#myModal"
                                           data-tooltip="tooltip" title="Delete" data-placement="top">
                                        </a>
           
                                        @Html.ActionLink("Add Company Bank","ReceivingBank", "Home", new { ID = i.ID }, new { @class = "label " + i.Exist, target = "_blank", title = "Add Company Bank" })
                                    </td>
                                </tr>
                                sl++;
                            }
                        </tbody>
                    </table>

                </div>
            </div>

            <!-- Alert -->
            <div class="modal" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        @if (Model.error != "")
                        {
                            <div class="modal-body" style="color: red;">
                                <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        }
                        else
                        {
                            <div class="modal-body" style="color: red;">
                                <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" data-dismiss="modal">No</a>
                                <a class="btn btn-success" id="DeleteCS"
                                   data-tooltip="tooltip" title="Delete" data-placement="top">
                                    Yes
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        $(function () {
            $('#FileUpload1').change(function () {
                $('#Image1').hide();
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#Image1').show();
                    $('#Image1').attr("src", e.target.result);
                    $('#Image1').Jcrop({
                        onChange: SetCoordinates,
                        onSelect: SetCoordinates
                    });
                };
                reader.readAsDataURL($(this)[0].files[0]);
            });

            $('#btnCrop').click(function () {
                var x1 = $('#imgX1').val();
                var y1 = $('#imgY1').val();
                var width = $('#imgWidth').val();
                var height = $('#imgHeight').val();
                var canvas = $("#canvas")[0];
                var context = canvas.getContext('2d');
                var img = new Image();
                img.onload = function () {
                    canvas.height = height;
                    canvas.width = width;
                    context.drawImage(img, x1, y1, width, height, 100, 100, width, height);
                    $('#imgCropped').val(canvas.toDataURL());
                    $('#btnUpload').show();

                };
                img.src = $('#Image1').attr("src");
            });

        });
        function SetCoordinates(c) {
            $('#imgX1').val(c.x);
            $('#imgY1').val(c.y);
            $('#imgWidth').val(c.w);
            $('#imgHeight').val(c.h);
            $('#btnCrop').show();
        };


        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("Id").value = passedID;
            var id = document.getElementById("Id").value;
            console.log(id);
        });

        $("#DeleteCS").on('click', function () {
            var Id = document.getElementById("Id").value;            
            $.post('@Url.Action("DeleteCompany","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });


    </script>
}


