﻿@model Erp.Core.Services.HRMS.VMHoliday
@{
    ViewData["Title"] = "HRMS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Set Company Weekend Day:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("CompanyWeekend", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.error)
                            @Html.HiddenFor(model => model.Id)

                            <div class="box-body">
                                <!--Body Will by Start Here-->

                                <div class="row">
                                    <div class="col-md-9">
                                        <div class="input-group">
                                            <span class="input-group-addon">Weekend Day</span>
                                            @Html.ListBoxFor(model => model.WeekenedDay, ViewBag.HolidayList as IEnumerable<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @name = "WeekendDay[]" })
                                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.WeekenedDay, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3 pull-right">
                                        @*<button type="submit" id="btnSave" class="btn btn-primary">Save</button>*@
                                        @if (Model.ID != 0)
                                        {
                                            @*@Html.CheckBoxFor(model => model.IsCompanyWeekendDay)*@
                                            <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                        }
                                        @Html.ActionLink("Cancel", "CompanyWeekend", "HRMS", new { id = 0 }, new { @class = "btn btn-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr style="background-color: #DFF0D8;">
                                <th>SL</th>
                                <th>Company Weekend Day</th>
                                @*<th>Remarks</th>*@
                                <th style="background-color: yellow;">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @foreach (var i in ViewBag.CompanyWeekend)
                            {
                                <tr>
                                    <td>@sl</td>
                                    <td>@i.HoildayName</td>
                                    <td style="background-color: khaki;">
                                        <a data-placement="top" href="@Url.Action("CompanyWeekend", "HRMS", new { id = i.ID } )">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@i.ID" data-toggle="modal" data-target="#myModal"
                                           data-tooltip="tooltip" title="Delete" data-placement="top">
                                        </a>
                                    </td>
                                </tr>
                                sl++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Alert -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @if (Model.error != "")
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                        </div>
                        <div class="modal-footer">
                            <a data-placement="top" href="@Url.Action("CompanyWeekend", "HRMS", new { id = 0 } )" class="btn btn-danger">
                                @*<i class="fa fa-dan-square-o" aria-hidden="true"></i>*@ Close
                            </a>
                            @*<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>*@
                        </div>
                    }
                    else
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal">No</a>
                            <a class="btn btn-success" id="DeleteCW"
                               data-tooltip="tooltip" title="Delete" data-placement="top">
                                Yes
                            </a>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();     
            $("#WeekenedDay").select2();

            if ($('#error').val() != '') {
                $('#myModal').modal('show');
            };
        });

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("Id").value = passedID;
        });

        $("#DeleteCW").on('click', function () {
            var Id = document.getElementById("Id").value;
            $.post('@Url.Action("DeleteCompanyWeekend","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });
    </script>
}


