﻿@model Erp.Core.Services.HRMS.VMAttendance
@{
    ViewData["Title"] = "Daily Attendance";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Today's Attendance:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BusinessUnitId, new { @class = "control-label " })&nbsp;
                                        @Html.DropDownListFor(model => model.BusinessUnitId, ViewBag.BUnits as IEnumerable<SelectListItem>,
                                          "Select Business Unit", new { @class = "form-control searchingDropdown" })
                                        @Html.ValidationMessageFor(model => model.BusinessUnitId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Dept_ID" class="">Department:</label>
                                        <span><i class="ion-star font-red"></i></span>
                                        <select id="ddlDept_ID" name="Dept_ID" class="form-control searchingDropdown">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Unit_ID" class="">Unit Name:</label>
                                        <span><i class="ion-star font-red"></i></span>
                                        <select id="ddlUnit_ID" name="Unit_ID" class="form-control searchingDropdown">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label for="Section_ID" class="">Section:</label>
                                        <span><i class="ion-star font-red"></i></span>
                                        <select id="ddlSection_ID" name="Section_ID" class="form-control searchingDropdown">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.ShiftId)
                                        @Html.DropDownListFor(model => model.ShiftId, ViewBag.ShiftTypeList as IEnumerable<SelectListItem>,
                                        "Select Shift", new { @id = "ShiftId", @class = "form-control  searchingDropdown" })
                                        @Html.ValidationMessageFor(model => model.ShiftId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group" style="margin-top:25px;">
                                        <input type="submit" value="View Attendance" id="btnemployeeleaveassign" class="btn btn-primary" />
                                    </div>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Attendance List</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <table id="tableX" class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 5%">#</th>
                                                        <th style="width: 20%">Name</th>
                                                        <th style="width: 10%">Employee ID</th>
                                                        <th style="width: 10%">Department</th>
                                                        <th style="width: 8%">Unit</th>
                                                        <th style="width: 8%">Section</th>
                                                        <th style="width: 8%">In-Time</th>
                                                        <th style="width: 8%">Status</th>
                                                        <th style="width: 8%">Remarks</th>
                                                        <th style="width: 5%">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>Mr. XYZ</td>
                                                        <td>OOO-0001</td>
                                                        <td>IT</td>
                                                        <td>Unit-1</td>
                                                        <td>Software</td>
                                                        <td>08:05 AM</td>
                                                        <td><span class="label label-success">OK</span> </td>
                                                        <td><span class="label label-success">OK</span> </td>
                                                        <td>
                                                            <a href="#" onclick="target = '_blank';" data-tooltip="tooltip" title="Update Attendance" data-placement="top"><i class="fa fa-edit"></i></a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>Mr. ABC</td>
                                                        <td>OOO-0002</td>
                                                        <td>IT</td>
                                                        <td>Unit-1</td>
                                                        <td>Software</td>

                                                        <td>09:05 AM</td>
                                                        <td><span class="label label-danger">Late</span> </td>
                                                        <td><span class="label label-warning">Inform Late</span> </td>
                                                        <td>
                                                            <a href="#" onclick="target = '_blank';" data-tooltip="tooltip" title="Update Attendance" data-placement="top"><i class="fa fa-edit"></i></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>