﻿@model Erp.Core.Services.HRMS.HRMSDesignationVM
@{
    ViewData["Title"] = "DesignationSetup";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Attendance Bonus Setup:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("DesignationWiseAttendanceBonus", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.DesignationRemarks)
                            @Html.HiddenFor(model => model.Name)
                            @Html.HiddenFor(model => model.DepartmentId)
                            @*@Html.HiddenFor(model => model.LevelId)*@

                            <div class="box-body">
                                <!--Body Will by Start Here-->

                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LevelId, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.LevelId, Model.VMLevelList as IEnumerable<SelectListItem>,
                                              "Select Level", new { @id = "LevelId", @class = "form-control searchingDropdown", @Required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                                    </div>
                                    @*<div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DesignationId, "Designation Name", new { @class = "control-label " })&nbsp;
                                            @Html.DropDownListFor(model => model.DesignationId, ViewBag.DesignationDropDownList as IEnumerable<SelectListItem>,
                                              "Select Designation", new { @class = "form-control searchingDropdown", @required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })
                                    </div>*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DesignationId, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.DesignationId, Model.Designation_List as IEnumerable<SelectListItem>,
                                              "Select Designation", new { @id = "DesignationId", @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Attendance Bonus:</label>
                                            @Html.TextBoxFor(model => model.AttendanceBonus, "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.AttendanceBonus, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Night Bill:</label>
                                            @Html.TextBoxFor(model => model.NightBill, "", new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.NightBill, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Remarks:</label>
                                            @Html.TextBoxFor(model => model.Remarks, "", new { @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group col-md-6">
                                            @if (Model.ID != 0)
                                            {
                                                <button type="submit" id="btnSave" style="width:100%" class="btn btn-primary">Update</button>
                                            }
                                            else
                                            {
                                                <button type="submit" id="btnSave" style="width:100%" class="btn btn-primary">Add</button>
                                            }
                                        </div>
                                        <div class="form-group col-md-6">
                                            @Html.ActionLink("Cancel", "DesignationWiseAttendanceBonus", "HRMS", new { id = 0 }, new { @class = "btn btn-danger", @style = "width:100%" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead class="bg-success">
                            <tr>
                                <th>SL</th>
                                <th>Designation Name</th>
                                <th>Attendance Bonus</th>
                                <th>Night Bill</th>
                                <th>Remarks</th>
                                <th style="background-color: yellow;">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @foreach (var i in Model.DataList)
                            {
                                <tr>
                                    <td>@sl</td>
                                    <td>@i.Name</td>
                                    <td>@i.AttendanceBonus</td>
                                    <td>@i.NightBill</td>
                                    <td>@i.Remarks</td>
                                    <td style="background-color: khaki;">
                                        <a data-placement="top" href="@Url.Action("DesignationWiseAttendanceBonus", "HRMS", new { id = i.ID } )">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                                sl++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
                        $(document).ready(function () {
                            $('.formValidator').bootstrapValidator();
                        });

        $("#LevelId").change(function (e) {
            console.log(1);

            $.ajax({
                type: "GET",
                url: "@Url.Action("HierarchyLevelWiseDesignationGet")",
                datatype: "Json",
                data: { id: $("#LevelId :selected").val() },
                success: function (data) {
                    console.log(2);
                    var items = "";

                    if (data) {
                        $("#DesignationId").empty();
                        $("#DesignationId").append("<option value='0' selected>Select Designation</option>");
                        $(data).each(function (index, item) {
                            $("#DesignationId").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });

    </script>
}

