﻿@model Erp.Core.Services.HRMS.HRMSDesignationVM
@{
    ViewData["Title"] = "DesignationSetup";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Designation:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("DesignationSetup", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.Remarks)
                            @Html.HiddenFor(model => model.NightBill)
                            @Html.HiddenFor(model => model.AttendanceBonus)
                            @Html.HiddenFor(model => model.error)
                            @Html.HiddenFor(model => model.DId)
                            <div class="box-body">
                                <!--Body Will by Start Here-->

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DepartmentId, "Department Name", new { @class = "control-label " })&nbsp;
                                            @Html.DropDownListFor(model => model.DepartmentId, ViewBag.DepartmentDropDownList as IEnumerable<SelectListItem>,
                                              "Select Department ", new { @class = "form-control searchingDropdown", @Required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ddLStore" class="col-form-label">Designation Name:</label>
                                            @Html.TextBoxFor(model => model.Name, "", new { @class = "form-control", @Required = "required", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LevelId, "Hierarchy Level", new { @class = "control-label " })&nbsp;
                                            @Html.DropDownListFor(model => model.LevelId, ViewBag.HierarchyLabelDropDownList as IEnumerable<SelectListItem>,
                                              "Select Hierarchy Level", new { @class = "form-control searchingDropdown", @Required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LevelId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Remarks:</label>
                                            @Html.TextBoxFor(model => model.DesignationRemarks, "", new { @class = "form-control", autocomplete = "off" })
                                        </div>

                                        @*@Html.ValidationMessageFor(model => model.DesignationRemarks, "", new { @class = "text-danger" })*@
                                    </div>
                                    <div class="col-md-4 pull-right" style="padding-top:25px">
                                        @if (Model.ID != 0)
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                        }
                                        @Html.ActionLink("Cancel", "DesignationSetup", "HRMS", new { id = 0 }, new { @class = "btn btn-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead class="bg-success">
                            <tr>
                                <th>SL</th>
                                <td class="hidden"></td>
                                <th>Designation Name</th>
                                <th>Department Name</th>
                                <th>Level</th>
                                <th>Remarks</th>
                                <th style="background-color: yellow;">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @foreach (var i in Model.DataList)
                            {
                                <tr>
                                    <td>@sl</td>
                                    <td class="hidden">@i.ID</td>
                                    <td>@i.Name</td>
                                    <td>@i.DepartmentName</td>
                                    <td>@i.LevelName</td>
                                    <td>@i.DesignationRemarks</td>
                                    <td style="background-color: khaki;">
                                        <a data-placement="top" href="@Url.Action("DesignationSetup", "HRMS", new { id = i.ID } )">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@i.ID" data-toggle="modal" data-target="#myModal"
                                           data-tooltip="tooltip" title="Delete" data-placement="top">
                                        </a>
                                    </td>
                                </tr>
                                sl++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>


            <!-- Alert -->
            <div class="modal" tabindex="-1" role="dialog" id="myModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        @if (Model.error != "")
                        {
                            <div class="modal-body" style="color: red;">
                                <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        }
                        else
                        {
                            <div class="modal-body" style="color: red;">
                                <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-danger" data-dismiss="modal">No</a>
                                <a class="btn btn-success" id="DeleteDS"
                                   data-tooltip="tooltip" title="Delete" data-placement="top">
                                    Yes
                                </a>

                            </div>
                        }
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            $('.formValidator').bootstrapValidator();
            if ($('#error').val() != '') {
                $('#myModal').modal('show');
            }
        });

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("DId").value = passedID;
        });

        $("#DeleteDS").on('click', function () {
            var Id = document.getElementById("DId").value;            
            $.post('@Url.Action("DeleteDesignation","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });

    </script>
}

