﻿@model Erp.Core.Services.HRMS.VMEarnLeaveCalculation
@{
    ViewData["Title"] = "EarnLeaveCalculation";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Earn Leave Calculation:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("EarnLeaveCalculation", "HRMS", FormMethod.Post, new { @id = "HRMS", @class = "formValidator", }))
                                    {
                                        @Html.AntiForgeryToken();
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.BU_Id, new { @class = "control-label " })&nbsp;
                                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                                @Html.DropDownListFor(model => model.BU_Id, Model.B_UnitList as IEnumerable<SelectListItem>
                                                    ,
                                                    "Select Business Unit", new { @class = "form-control searchingDropdown", @Required = "required"})
                                                @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Unit_ID, new { @class = "control-label " })&nbsp;
                                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                                @Html.DropDownListFor(model => model.Unit_ID, Model.Unit_List as IEnumerable<SelectListItem>
                                                    ,
                                                    "Select Unit", new { @class = "form-control searchingDropdown" })
                                                @*@Html.ValidationMessageFor(model => model.Unit_ID, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Dept_ID, new { @class = "control-label " })&nbsp;
                                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                                @Html.DropDownListFor(model => model.Dept_ID, Model.Department_List as IEnumerable<SelectListItem>
                                                    ,
                                                    "Select Departments", new { @class = "form-control searchingDropdown" })
                                                @*@Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Section_ID, new { @class = "control-label " })&nbsp;
                                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                                @Html.DropDownListFor(model => model.Section_ID, Model.Section_List as IEnumerable<SelectListItem>
                                                    ,
                                                    "Select Sections", new { @class = "form-control searchingDropdown" })
                                                @*@Html.ValidationMessageFor(model => model.Section_ID, "", new { @class = "text-danger" })*@
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EarnLeaveDate, htmlAttributes: new { @class = "control-label" })
                                                <div class="input-group date">
                                                    @Html.TextBoxFor(model => model.EarnLeaveDate, new { id = "first", @class = "form-control", autocomplete = "off" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.EarnLeaveDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group" style="margin-top:25px">
                                                <button type="submit" value="Load Employees" id="btnviewshift" class="btn btn-primary pull-right"> Load Employees</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("AddEmployeeEarnLeave", "HRMS", FormMethod.Post, new { id = "EarnLeaveList" }))
                                    {
                                        @Html.HiddenFor(m=>m.EarnLeaveDate)
                                        <div class="box">
                                            <div class="box-header bg-success">
                                                <h3 class="box-title"><b>Employee List</b></h3>
                                                <input type="submit" value="Save Earn Leave" id="btnEmployeesEarnLeave" class="btn btn-primary pull-right" />
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="table-responsive">
                                                    <table id="tableX" class="table table-striped nowrap">
                                                        <thead class="bg-success">
                                                            <tr>
                                                                <th style="width: 2%">
                                                                    <input type="checkbox" id="MainCheckbox" />
                                                                </th>
                                                                <th class="hidden"></th>
                                                                <th>Unit</th>
                                                                <th>Department</th>
                                                                <th>Section</th>
                                                                <th>Employee ID</th>
                                                                <th>Name</th>
                                                                <th>Designation</th>
                                                                <th>Joining Date</th>
                                                                <th>Last Payment Date</th>
                                                                <th>Total Month</th>
                                                                <th>Working Days</th>
                                                                <th>Holiday</th>
                                                                <th>Offday</th>
                                                                <th>Total Leave</th>
                                                                <th>Absent</th>
                                                                <th>Total Deduction Days</th>
                                                                <th>Payable Working Days</th>
                                                                <th>Total Earn Leave</th>
                                                                <th>Enjoyable Earn Leave</th>
                                                                <th>Payable Earn Leave</th>
                                                                <th>Stamp</th>
                                                                <th>Payable Earn Leave Amount</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @if (Model.VMEarnLeaveCalculationList != null)
                                                            {
                                                                for (var i = 0; i < Model.VMEarnLeaveCalculationList.Count; i++)
                                                                {
                                                            <tr>
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].LastPaymentDate)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].TotalMonth)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].WorkingDays)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].Holidays)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].Offdays)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].TotalLeave)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].Absent)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].TotalDeductionDays)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].PayableWorkingDays)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].TotalEarnLeave)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].EnjoyableEarnLeaveDays)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].PayableEarnLeave)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].Stamp)
                                                                @Html.HiddenFor(model => model.VMEarnLeaveCalculationList[i].PayableEarnLeaveTk)

                                                                <td>@Html.CheckBoxFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].IsSelected, new { @id = "Checkbox1", @class = "checkBoxClass" })@*<input type="checkbox" class="checkBoxClass" id="Checkbox1" value=""/>*@</td>
                                                                <td hidden>@Html.HiddenFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].ID)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Unit)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Department)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Section)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].EmployeeIdentity)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Name)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Designation)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].JoiningDate, "{0:dd/MM/yyyy}", new { })</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].LastPaymentDate, "{0:dd/MM/yyyy}")</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].TotalMonth)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].WorkingDays)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Holidays)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Offdays)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].TotalLeave)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Absent)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].TotalDeductionDays)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].PayableWorkingDays)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].TotalEarnLeave)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].EnjoyableEarnLeaveDays)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].PayableEarnLeave)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Stamp)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].PayableEarnLeaveTk)</td>
                                                            </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#first').datepicker({ autoclose: true })
            $('#second').datepicker({ autoclose: true });
        });

        $("#MainCheckbox").click(function () {
            if ($(this).is(':checked')) {
                $(".checkBoxClass").prop('checked', true);
            }
            else {
                $(".checkBoxClass").prop('checked', false);
            }
        });

         $("#BU_Id").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#BU_Id :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#Unit_ID").empty();
                        $("#Unit_ID").append("<option value='' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#Unit_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#Unit_ID").val(nUId);

                            $("#Unit_ID").trigger('change');

                        }
                    }
                }
            });
        });
        $("#Unit_ID").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet")",
                datatype: "Json",
                data: { id: $("#Unit_ID :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#Dept_ID").empty();
                        $("#Dept_ID").append("<option value='' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#Dept_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#Dept_ID").val(nDepartmentId);

                            $("#Dept_ID").trigger('change');

                        }
                    }
                }
            });
        });

        $("#Dept_ID").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#Dept_ID :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#Section_ID").empty();
                        $("#Section_ID").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#Section_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#Section_ID").val(nDepartmentId);

                            $("#Section_ID").trigger('change');

                        }
                    }
                }
            });
        });
    </script>
}