﻿@model Erp.Core.Services.HRMS.VMEarnLeaveCalculation
@{
    ViewData["Title"] = "EarnLeaveCalculationInformation";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Earn Leave Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("EarnLeaveCalculationList", "HRMS", FormMethod.Post, new { }))
                                    {
                                        @Html.AntiForgeryToken();
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label" })
                                                <div class="input-group date">
                                                    @Html.TextBoxFor(model => model.From, new { id = "first", @class = "form-control", autocomplete = "off" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label" })
                                                <div class="input-group date">
                                                    @Html.TextBoxFor(model => model.To, new { id = "second", @class = "form-control", autocomplete = "off" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" style="margin-top:25px">
                                                <input type="submit" value="Load Employees" id="btnviewshift" class="btn btn-primary pull-right" />
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header bg-success">
                                            <h3 class="box-title"><b>Employee List</b></h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table id="tableX" class="table table-striped nowrap">
                                                    <thead class="bg-success">
                                                        <tr>
                                                            <th class="hidden"></th>
                                                            @*<th>Unit</th>
                                                            <th>Department</th>*@
                                                            <th>Section</th>
                                                            <th>Employee ID</th>
                                                            <th>Name</th>
                                                            <th>Designation</th>
                                                            <th>Joining Date</th>
                                                            <th>Last Payment Date</th>
                                                            <th>Total Month</th>
                                                            <th>Working Days</th>
                                                            <th>Holiday</th>
                                                            <th>Offday</th>
                                                            <th>Total Leave</th>
                                                            <th>Absent</th>
                                                            <th>Total Deduction Days</th>
                                                            <th>Payable Working Days</th>
                                                            <th>Total Earn Leave</th>
                                                            <th>Enjoyable Earn Leave</th>
                                                            <th>Payable Earn Leave</th>
                                                            <th>Stamp</th>
                                                            <th>Payable Earn Leave Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.VMEarnLeaveCalculationList != null)
                                                        {
                                                            for (var i = 0; i < Model.VMEarnLeaveCalculationList.Count; i++)
                                                            {
                                                        <tr>
                                                            <td hidden>@Html.HiddenFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].ID)</td>
                                                            @*<td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Unit)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Department)</td>*@
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Section)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].EmployeeIdentity)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Designation)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].JoiningDate)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].LastPaymentDate)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].TotalMonth)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].WorkingDays)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Holidays)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Offdays)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].TotalLeave)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Absent)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].TotalDeductionDays)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].PayableWorkingDays)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].TotalEarnLeave)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].EnjoyableEarnLeaveDays)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].PayableEarnLeave)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].Stamp)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMEarnLeaveCalculationList[i].PayableEarnLeaveTk)</td>
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#first').datepicker({ autoclose: true })
            $('#second').datepicker({ autoclose: true });
        });

        $("#MainCheckbox").click(function () {
            if ($(this).is(':checked')) {
                $(".checkBoxClass").prop('checked', true);
            }
            else {
                $(".checkBoxClass").prop('checked', false);
            }
        });

        //$("#first, #second").on('change', function () {

        //    var start = new Date($('#first').val());
        //    var end = new Date($('#second').val());

        //    // end - start returns difference in milliseconds
        //    var diff = new Date(end - start);


        //    // get days
        //    var days = diff / 1000 / 60 / 60 / 24;

        //    document.getElementById("TotalDays").value = Math.round(days) + 1;
        //});
    </script>
}