﻿@model Erp.Core.Services.HRMS.HRMSEmployeesCardGenerationVM
@{
    ViewData["Title"] = "WeekendDayAssign";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Employee ID Card Generation:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            @using (Html.BeginForm("EmployeeIdCardGeneration", "HRMS", FormMethod.Post, new { id = "" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.SectionId, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.SectionId, ViewBag.Sections as IEnumerable<SelectListItem>,
                                              "Select Section", new { @class = "form-control searchingDropdown" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.SectionId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.DesignationId, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.DesignationId, ViewBag.Departments as IEnumerable<SelectListItem>,
                                              "Select Designation", new { @class = "form-control searchingDropdown" })
                                        </div>
                                        @*@Html.ValidationMessageFor(model => model.DesignationId, "", new { @class = "text-danger" })*@
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" style="padding-top:25px;">
                                            <input type="submit" value="Search" id="Search" class="btn btn-primary pull-right" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="box-body">
                            @using (Html.BeginForm("GenerateCard", "HRMS", FormMethod.Post, new { id = "CardGenerateForm" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box">
                                            <div class="row" style="padding-top:25px;">
                                                <div class="col-md-9">
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.IDCardIssueDate, new { @class = "control-label " })&nbsp;
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(model => model.IDCardIssueDate, new { @id = "first", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.IDCardIssueDate, "", new { @class = "text-danger" })
                                                    </div>
                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.IDCardExpireDate, new { @class = "control-label " })&nbsp;
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(model => model.IDCardExpireDate, new { @id = "second", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.IDCardExpireDate, "", new { @class = "text-danger" })
                                                    </div>

                                                    <div class="form-group col-md-4">
                                                        @Html.LabelFor(model => model.Quantity, new { @class = "control-label " })&nbsp;
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(model => model.Quantity, new { @id = "second", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <input type="submit" value="Generate" id="btnweekenddayassign" class="btn btn-primary pull-right" onclick="return WeekendAssignConfirmation()" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-header">
                                                <h3 class="box-title">Employee List</h3>
                                            </div>

                                            <!-- /.box-header -->
                                            <div class="box-body no-padding">
                                                <table id="tableX" class="table table-striped">
                                                    <thead>
                                                        <tr style="background-color: #DFF0D8;">
                                                            <th style="width: 2%">
                                                                <input type="checkbox" id="MainCheckbox" />
                                                            </th>
                                                            <th style="width: 20%">Name</th>
                                                            <th style="width: 20%">Employee ID</th>
                                                            <th style="width: 10%">Designation</th>
                                                            <th style="width: 10%">Business Unit</th>
                                                            <th style="width: 10%">Department</th>
                                                            <th style="width: 10%">Unit</th>
                                                            <th style="width: 10%">Section</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Emplists != null)
                                                        {
                                                            for (var i = 0; i < Model.Emplists.Count; i++)
                                                            {

                                                                <tr>
                                                                    <td>@Html.CheckBoxFor(modelItem => modelItem.Emplists[i].IsWeekendAssigned, new { @class = "checkBoxClass" })</td>
                                                                    <td hidden>@Html.HiddenFor(modelItem => modelItem.Emplists[i].ID)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Name)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].EmployeeIdentity)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Designation)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].BusinessUnit)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Department)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Unit)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Section)</td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {

            $('#first').datepicker({ autoclose: true })
            $('#first').val('');
            var fromDate = new Date();
            var SecondstartDate = new Date(fromDate.getFullYear(), fromDate.getMonth(), fromDate.getDate() + 30); 
            $('#second').datepicker
                ({
                    autoclose: true,
                    startDate: SecondstartDate
                });
        });

        $("#MainCheckbox").click(function () {
            if ($(this).is(':checked')) {
                $(".checkBoxClass").prop('checked', true);
            }
            else {
                $(".checkBoxClass").prop('checked', false);
            }
        });
    </script>
}
