﻿@model Erp.Core.Services.HRMS.VMEmployee;
@{
    ViewData["Title"] = "Employee List";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    List Of Employee:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive">

                                        <table id="tableX" class="table table-bordered table-striped nowrap">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Employee ID</th>
                                                    <th>Designation</th>
                                                    <th>Sister Concern</th>
                                                    <th>Department</th>
                                                    <th>Business Unit</th>
                                                    <th>Section</th>
                                                    <th>Line</th>
                                                    <th class="no-print">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ int empsl = 1;}
                                                @foreach (var item in Model.DataList)
                                                {
                                                    <tr>
                                                        <td>@(empsl++)</td>
                                                        <td>@item.Name</td>
                                                        <td>@item.EmployeeIdentity</td>
                                                        <td>@item.VMDesignationName</td>
                                                        <td>@item.VMBusinessUnitName</td>
                                                        <td>@item.VMDepartmentName</td>
                                                        <td>@item.VMUnitName</td>
                                                        <td>@item.VMSectionName</td>
                                                        <td>@item.VMLineName</td>
                                                        <td style="text-align: center; cursor: pointer;vertical-align:middle" class="no-print">

                                                            @if (item.PresentStatus == Erp.Core.Services.EnumEmployeeStatus.Present)
                                                            {
                                                                <a id="@item.ID" onclick="itemActionInfo(@item.ID,@((int)Erp.Core.Services.EnumEmployeeAction.Resign),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.EnumEmployeeAction.Resign)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Resign"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                                </a>
                                                                <a id="@item.ID" onclick="itemActionInfo(@item.ID,@((int)Erp.Core.Services.EnumEmployeeAction.Terminate),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.EnumEmployeeAction.Terminate)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Terminate"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                                </a>
                                                                <a title="Edit" data-placement="top" asp-action="Employee" asp-controller="HRMS" asp-route-id="@item.ID">
                                                                    <i class="fa fa-pencil-square-o no-print" aria-hidden="true"></i>
                                                                </a>


                                                                <a onclick="$('#hdfID').val(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#DeleteActionModal" title="Delete"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-trash no-print" aria-hidden="true"></i>
                                                                </a>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form asp-action="Employee" asp-controller="HRMS" method="post" asp-antiforgery="true" role="form">
    <input asp-for="ID" type="hidden" id="hdfID" />
    <input asp-for="ActionId" type="hidden" value="3" />

    <div class="modal fade" id="DeleteActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Employee</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to <label >Delete</label>?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
</form>
<form id="frmStatusChange" asp-action="Employee" asp-controller="HRMS" asp-antiforgery="true" role="form" method="post">
    <input asp-for="ID" type="hidden" id="hidID" />
    <input asp-for="ActionId" type="hidden" value="4" />
    <input asp-for="EmployeeActionId" type="hidden" id="hdfEmployeeActionId"/>
    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Employee</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Sure to <label id="lblActionName"></label>?</h3>
                    </div>
                    <div class="col-md-6 center">
                        <label asp-for="QuitDate" class="control-label"></label>

                        <div class="input-group date">
                            <input asp-for="QuitDate" class="form-control datePicker" autocomplete="off" type="text" value="@Model.QuitDateControlString" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span asp-validation-for="QuitDate" class="text-danger"></span>
                    </div>
                    
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnConfirm" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>

                </div>
            </div>
        </div>
    </div>
</form>
@section scripts{

    <script type="text/javascript">
        $(function () { $('#frmStatusChange').bootstrapValidator();});
        function itemActionInfo(id, actionId, ActionName) {
            if (id !== null && actionId !== null) {
                $('#hidID').val(id);
                $('#hdfEmployeeActionId').val(actionId);
                $("#lblActionName").html(ActionName);
            }
        }
    </script>
}