﻿@model Erp.Core.Services.HRMS.EmployeeFormVM
@{
    ViewData["Title"] = "HRMS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@if (Model.EmployeeId == 0)
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success" id="generalHead">
                    <h4>
                        Employee Form:
                    </h4>
                </div>
                <!-- /.box-header -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="box">
                            @using (Html.BeginForm("EmployeeForm", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                            {
                                @Html.HiddenFor(model => model.ID)
                                <div class="box-body">
                                    <!--Body Will by Start Here-->

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label for="ddLStore" class="col-form-label">Subject:</label>
                                                @Html.DropDownListFor(model => model.StatusId, Model.Status, new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-4 col-md-4">
                                            <div class="form-group">
                                                <label for="message-text" class="col-form-label">Employee Name:</label>
                                                @Html.DropDownListFor(model => model.EmployeeId, Model.EmployeeList, new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-4 col-md-4 pull-right" style="padding-top:25px">
                                            @if (Model.ID != 0)
                                            {
                                                <button type="submit" id="btnSave" class="btn btn-primary ">Update</button>
                                            }
                                            else
                                            {
                                                <button type="submit" id="btnSave" class="btn btn-primary ">Get Employee</button>
                                            }
                                            @Html.ActionLink("Cancel", "EmployeeForm", "HRMS", new { id = 0 }, new { @class = "btn btn-danger " })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{   

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-success">
                    <div class="box-header custom bg-success" id="generalHead">
                        <h4>
                            Employee Information:
                        </h4>
                    </div>
                    <!-- /.box-header -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">

                            <div class="box">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="container">
                                            <table class="col-md-12" style="border-right:5px;">
                                                @*<thead>
                                                        <tr>
                                                            <th colspan="5" style="text-align:center">@Model.EmployeeInfo.CardNo</th>
                                                        </tr>
                                                    </thead>*@
                                                <tbody>
                                                    <tr>
                                                        <td width="10%">Emplyee ID</td>
                                                        <td width="20%">@Model.EmployeeInfo.EmIdentity</td>
                                                        <td width="10%">Name</td>
                                                        <td width="20%">@Model.EmployeeInfo.EmployeeName</td>
                                                        <td rowspan="5" width="40%">
                                                            @if (Model.EmployeeInfo.EmImage != null)
                                                            {
                                                                <img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.EmployeeInfo.EmImage)" id="Image1" width="200" height="250" alt="Image Not Set" />
                                                            }
                                                            else
                                                            {
                                                                if (Model.EmployeeInfo.EmGender == "Male")
                                                                {
                                                                    <img class="img-responsive full-width" src="~/ProfilePhoto/Male_Icon.jpg" id="Image1" width="200" height="250" alt="Image Not Set" />
                                                                }
                                                                else
                                                                {
                                                                    <img class="img-responsive full-width" src="~/ProfilePhoto/FemaleIcon.jpg" id="Image1" width="200" height="250" alt="Image Not Set" />
                                                                }
                                                            }
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Father Name</td>
                                                        <td>@Model.EmployeeInfo.EmFName</td>
                                                        <td>Mother Name</td>
                                                        <td>@Model.EmployeeInfo.EmMName</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Gender</td>
                                                        <td>@Model.EmployeeInfo.EmGender</td>
                                                        <td>DOB</td>
                                                        <td>@Model.EmployeeInfo.DateOfBirth</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Joining Date</td>
                                                        <td>@Model.EmployeeInfo.JoinDate</td>
                                                        <td>Designation</td>
                                                        <td>@Model.EmployeeInfo.Designation</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Business Unit</td>
                                                        <td>@Model.EmployeeInfo.BusinessUnit</td>
                                                        <td>Unit</td>
                                                        <td>@Model.EmployeeInfo.Unit</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Department</td>
                                                        <td>@Model.EmployeeInfo.Department</td>
                                                        <td>Section</td>
                                                        <td>@Model.EmployeeInfo.Section</td>
                                                        <td>Present Address</td>
                                                        <td>@Model.EmployeeInfo.PresentAddress</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="col-md-4">
                    @using (Html.BeginForm("ApplicationForm", "HRMS", FormMethod.Post, new { }))
                    {
                        <div class="box box-info">
                            <div class="box-header custom bg-info" id="generalHead" style="text-align:center;">
                                <h4>
                                    Application Form:
                                </h4>
                            </div>
                            <!-- /.box-header -->

                            @Html.HiddenFor(model => model.EmployeeInfo.ID)
                            @Html.HiddenFor(model => model.TestValue)
                            @Html.HiddenFor(model => model.EmployeeInfo.BusinessUnit)
                            @Html.HiddenFor(model => model.EmployeeInfo.Unit)
                            @Html.HiddenFor(model => model.EmployeeInfo.Department)
                            @Html.HiddenFor(model => model.EmployeeInfo.Designation)
                            @Html.HiddenFor(model => model.EmployeeInfo.Section)
                            @Html.HiddenFor(model => model.EmployeeInfo.JoinDate)
                            @Html.HiddenFor(model => model.EmployeeInfo.DateOfBirth)
                            @Html.HiddenFor(model => model.EmployeeInfo.CardNo)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmIdentity)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmFName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmGender)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmMName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmployeeName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmImage)
                            @Html.HiddenFor(model => model.EmployeeInfo.PresentAddress)
                            <div class="box-body">
                                <div class="row"  style="padding: 15px 25px 15px 25px">
                                    <div class="btn-group-vertical btn-block">
                                        <button type="button" class="btn btn-info" id="aId1" data-toggle="modal" data-target="#exampleModal1">Promotion and Wage Increment</button>
                                        <button type="button" class="btn btn-info" id="aId2" data-toggle="modal" data-target="#exampleModal1">Age Eligibility Testimonial</button>
                                        <button type="button" class="btn btn-info" id="aId3" data-toggle="modal" data-target="#exampleModal1">Yearly Wage Increment</button>
                                        <button type="button" class="btn btn-info" id="aId4" data-toggle="modal" data-target="#exampleModal1">Lefty Letter 1</button>
                                        <button type="button" class="btn btn-info" id="aId5" data-toggle="modal" data-target="#exampleModal1">Lefty Letter 2</button>
                                        <button type="button" class="btn btn-info" id="aId6" data-toggle="modal" data-target="#exampleModal1">Lefty Letter 3</button>
                                        <button type="button" class="btn btn-info" id="aId7" data-toggle="modal" data-target="#exampleModal1">Resign Letter</button>
                                        <button type="button" class="btn btn-info" id="aId8" data-toggle="modal" data-target="#exampleModal1">Appoinment letter</button>
                                        <button type="button" class="btn btn-info" id="aId9" data-toggle="modal" data-target="#exampleModal1">Final Settelment</button>  <br /><br />
                                        <button type="button" class="btn btn-info" id="aId10" data-toggle="modal" data-target="#exampleModal1">Injure And Accident Record</button>
                                        <button type="button" class="btn btn-info" id="aId11" data-toggle="modal" data-target="#exampleModal1">Leave Record Form</button>
                                        <button type="button" class="btn btn-info" id="aId12" data-toggle="modal" data-target="#exampleModal1">Promotion And Increment</button>
                                        <button type="button" class="btn btn-info" id="aId13" data-toggle="modal" data-target="#exampleModal1">Conduct Form</button>
                                        <button type="button" class="btn btn-info" id="aId14" data-toggle="modal" data-target="#exampleModal1">Job Application</button>
                                        <button type="button" class="btn btn-info" id="aId15" data-toggle="modal" data-target="#exampleModal1">Backgroupd Check</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModal1" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                &times;
                                            </button>

                                            <h5 class="modal-title"><b>Maternity Leave Form</b></h5>
                                        </div>
                                        <div class="modal-body">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.ApplicationDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ApplicationDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.FromDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.ToDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Date1, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Date1, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Date1, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Date2, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Date2, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Date2, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.EDDDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.EDDDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.EDDDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.PaymentDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PaymentDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="modal-footer">
                                            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    }
                </div>
                <div class="col-md-4">
                    @using (Html.BeginForm("JobDescriptionForm", "HRMS", FormMethod.Post, new { }))
                    {
                        <div class="box box-warning">
                            <div class="box-header custom bg-warning" id="generalHead" style="text-align:center;">
                                <h4>
                                    Job Description:
                                </h4>
                            </div>
                            <!-- /.box-header -->

                            @Html.HiddenFor(model => model.EmployeeInfo.ID)
                            @Html.HiddenFor(model => model.TestValue1)
                            @Html.HiddenFor(model => model.EmployeeInfo.BusinessUnit)
                            @Html.HiddenFor(model => model.EmployeeInfo.Unit)
                            @Html.HiddenFor(model => model.EmployeeInfo.Department)
                            @Html.HiddenFor(model => model.EmployeeInfo.Designation)
                            @Html.HiddenFor(model => model.EmployeeInfo.Section)
                            @Html.HiddenFor(model => model.EmployeeInfo.JoinDate)
                            @Html.HiddenFor(model => model.EmployeeInfo.DateOfBirth)
                            @Html.HiddenFor(model => model.EmployeeInfo.CardNo)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmIdentity)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmFName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmGender)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmMName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmployeeName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmImage)
                            @Html.HiddenFor(model => model.EmployeeInfo.PresentAddress)
                            @for(var i = 0; i < Model.EmployeeInfo.JobDescription.Count; i++)
                            {
                                @Html.HiddenFor(model=>model.EmployeeInfo.JobDescription[i].ID)
                                @Html.HiddenFor(model=>model.EmployeeInfo.JobDescription[i].JobDescription)
                            }
                            <div class="box-body">
                                <div class="row"  style="padding: 15px 25px 15px 25px">
                                    <div class="btn-group-vertical btn-block">
                                        <button type="button" class="btn btn-warning" id="jId1" data-toggle="modal" data-target="#exampleModal2">Details</button>
                                        @*<button type="button" class="btn btn-warning" id="jId2" data-toggle="modal" data-target="#exampleModal2">Input Man</button>
                                        <button type="button" class="btn btn-warning" id="jId3" data-toggle="modal" data-target="#exampleModal2">Knitting Operator</button>
                                        <button type="button" class="btn btn-warning" id="jId4" data-toggle="modal" data-target="#exampleModal2">Store Ledger/Helper</button>
                                        <button type="button" class="btn btn-warning" id="jId5" data-toggle="modal" data-target="#exampleModal2">Packing Man Description</button>
                                        <button type="button" class="btn btn-warning" id="jId6" data-toggle="modal" data-target="#exampleModal2">Packing Man Responsibility</button>
                                        <button type="button" class="btn btn-warning" id="jId7" data-toggle="modal" data-target="#exampleModal2">Poly Man Description</button>
                                        <button type="button" class="btn btn-warning" id="jId9" data-toggle="modal" data-target="#exampleModal2">Poly Man Responsibility</button>
                                        <button type="button" class="btn btn-warning" id="jId10" data-toggle="modal" data-target="#exampleModal2">Print Assistant</button>
                                        <button type="button" class="btn btn-warning" id="jId11" data-toggle="modal" data-target="#exampleModal2">Security Incharge</button>
                                        <button type="button" class="btn btn-warning" id="jId12" data-toggle="modal" data-target="#exampleModal2">Security Guard</button>
                                        <button type="button" class="btn btn-warning" id="jId13" data-toggle="modal" data-target="#exampleModal2">Sewing Operator</button>
                                        <button type="button" class="btn btn-warning" id="jId14" data-toggle="modal" data-target="#exampleModal2">Sewing Operator Responsibility</button>
                                        <button type="button" class="btn btn-warning" id="jId15" data-toggle="modal" data-target="#exampleModal2">Spot Man</button>
                                        <button type="button" class="btn btn-warning" id="jId16" data-toggle="modal" data-target="#exampleModal2">Cutter Man</button>
                                        <button type="button" class="btn btn-warning" id="jId17" data-toggle="modal" data-target="#exampleModal2">Cutter Master</button>
                                        <button type="button" class="btn btn-warning" id="jId18" data-toggle="modal" data-target="#exampleModal2">Finishing Assistant</button>*@


                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModal2" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                &times;
                                            </button>

                                            <h5 class="modal-title"><b>Maternity Leave Form</b></h5>
                                        </div>
                                        <div class="modal-body">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.ApplicationDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ApplicationDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.FromDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.ToDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Date1, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Date1, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Date1, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Date2, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Date2, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Date2, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.EDDDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.EDDDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.EDDDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.PaymentDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PaymentDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="modal-footer">
                                            <button type="button" id="btncloseandreset1" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-md-4">
                    @using (Html.BeginForm("MaternityLeaveForm", "HRMS", FormMethod.Post, new { }))
                    {
                        <div class="box box-danger">
                            <div class="box-header custom bg-danger" id="generalHead" style="text-align:center;">
                                <h4>
                                    Maternity Form:
                                </h4>
                            </div>
                            <!-- /.box-header -->

                            @Html.HiddenFor(model => model.EmployeeInfo.ID)
                            @Html.HiddenFor(model => model.TestValue2)
                            @Html.HiddenFor(model => model.EmployeeInfo.BusinessUnit)
                            @Html.HiddenFor(model => model.EmployeeInfo.Unit)
                            @Html.HiddenFor(model => model.EmployeeInfo.Department)
                            @Html.HiddenFor(model => model.EmployeeInfo.Designation)
                            @Html.HiddenFor(model => model.EmployeeInfo.Section)
                            @Html.HiddenFor(model => model.EmployeeInfo.JoinDate)
                            @Html.HiddenFor(model => model.EmployeeInfo.DateOfBirth)
                            @Html.HiddenFor(model => model.EmployeeInfo.CardNo)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmIdentity)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmFName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmGender)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmMName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmployeeName)
                            @Html.HiddenFor(model => model.EmployeeInfo.EmImage)
                            @Html.HiddenFor(model => model.EmployeeInfo.PresentAddress)
                            <div class="box-body">
                                <div class="row" style="padding: 15px 25px 15px 25px">

                                    <div class="btn-group-vertical btn-block">
                                        <button type="button" class="btn btn-danger" id="mId1" data-toggle="modal" data-target="#exampleModal3">Maternity Leave</button>
                                        <button type="button" class="btn btn-danger" id="mId2" data-toggle="modal" data-target="#exampleModal3">Maternity Leave Certificate 1</button>
                                        <button type="button" class="btn btn-danger" id="mId3" data-toggle="modal" data-target="#exampleModal3">Maternity Leave Certificate 2</button>
                                        <button type="button" class="btn btn-danger" id="mId4" data-toggle="modal" data-target="#exampleModal3">Maternity Welfare Leave-B</button>
                                        <button type="button" class="btn btn-danger" id="mId5" data-toggle="modal" data-target="#exampleModal3">Maternity Welfare Leave-C</button>
                                        <button type="button" class="btn btn-danger" id="mId6" data-toggle="modal" data-target="#exampleModal3">Maternity Welfare Facilities-D</button>
                                        <button type="button" class="btn btn-danger" id="mId7" data-toggle="modal" data-target="#exampleModal3">Maternity Welfare Allowance</button>
                                        <button type="button" class="btn btn-danger" id="mId8" data-toggle="modal" data-target="#exampleModal3">Maternity Leave Benifit</button>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="exampleModal3" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                                &times;
                                            </button>

                                            <h5 class="modal-title"><b>Maternity Leave Form</b></h5>
                                        </div>
                                        <div class="modal-body">
                                            @Html.AntiForgeryToken()
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.ApplicationDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ApplicationDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ApplicationDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.FromDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.FromDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.ToDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.ToDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Date1, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Date1, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Date1, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.Date2, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.Date2, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Date2, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.EDDDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.EDDDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.EDDDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="col-lg-12 col-md-12">
                                            <div class="col-md-4">
                                                @Html.LabelFor(model => model.PaymentDate, new { @class = "control-label" })
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(model => model.PaymentDate, "{0:dd/MM/yyyy}", new { @class = "form-control", required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.PaymentDate, "", new { @class = "text-danger" })
                                        </div><br /><br />
                                        <div class="modal-footer">
                                            <button type="button" id="btncloseandreset2" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" id="btnsave" class="btn btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

}


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $('#ApplicationDate').datepicker({ autoclose: true })
            $('#FromDate').datepicker({ autoclose: true })
            $('#ToDate').datepicker({ autoclose: true })
            $('#Date1').datepicker({ autoclose: true })
            $('#Date2').datepicker({ autoclose: true })
            $('#EDDDate').datepicker({ autoclose: true })
            $('#PaymentDate').datepicker({ autoclose: true })

        });

        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })

        $("#btncloseandreset").on('click', function () {
            resetModal();
        })
        $("#btncloseandreset1").on('click', function () {
            resetModal();
        })
        $("#btncloseandreset2").on('click', function () {
            resetModal();
        })

        //ApplicationForm
        $(document).on("click", "#aId1", function () {
            $("#TestValue").val(1);
        });
        $(document).on("click", "#aId2", function () {
            $("#TestValue").val(2);
        });
        $(document).on("click", "#aId3", function () {
            $("#TestValue").val(3);
        });
        $(document).on("click", "#aId4", function () {
            $("#TestValue").val(4);
        });
        $(document).on("click", "#aId5", function () {
            $("#TestValue").val(5);
        });
        $(document).on("click", "#aId6", function () {
            $("#TestValue").val(6);
        });
        $(document).on("click", "#aId7", function () {
            $("#TestValue").val(7);
        });
        $(document).on("click", "#aId8", function () {
            $("#TestValue").val(8);
        });
        $(document).on("click", "#aId9", function () {
            $("#TestValue").val(9);
        });
        $(document).on("click", "#aId10", function () {
            $("#TestValue").val(10);
        });
        $(document).on("click", "#aId11", function () {
            $("#TestValue").val(11);
        });
        $(document).on("click", "#aId12", function () {
            $("#TestValue").val(12);s
        });
        $(document).on("click", "#aId13", function () {
            $("#TestValue").val(13);
        });
        $(document).on("click", "#aId14", function () {
            $("#TestValue").val(14);
        });
        $(document).on("click", "#aId15", function () {
            $("#TestValue").val(15);
        });

        //JobDescription Form
        $(document).on("click", "#jId1", function () {
            $("#TestValue1").val(1);
        });
        $(document).on("click", "#jId2", function () {
            $("#TestValue1").val(2);
        });
        $(document).on("click", "#jId3", function () {
            $("#TestValue1").val(3);
        });
        $(document).on("click", "#jId4", function () {
            $("#TestValue1").val(4);
        });
        $(document).on("click", "#jId5", function () {
            $("#TestValue1").val(5);
        });
        $(document).on("click", "#jId6", function () {
            $("#TestValue1").val(6);
        });
        $(document).on("click", "#jId7", function () {
            $("#TestValue1").val(7);
        });
        $(document).on("click", "#jId8", function () {
            $("#TestValue1").val(8);
        });
        $(document).on("click", "#jId9", function () {
            $("#TestValue1").val(9);
        });
        $(document).on("click", "#jId10", function () {
            $("#TestValue1").val(10);
        });
        $(document).on("click", "#jId11", function () {
            $("#TestValue1").val(11);
        });
        $(document).on("click", "#jId12", function () {
            $("#TestValue1").val(12);
        });
        $(document).on("click", "#jId13", function () {
            $("#TestValue1").val(13);
        });
        $(document).on("click", "#jId14", function () {
            $("#TestValue1").val(14);
        });

        //MaternityLeave
        $(document).on("click", "#mId1", function () {
            $("#TestValue2").val(1);
        });
        $(document).on("click", "#mId2", function () {
            $("#TestValue2").val(2);
        });
        $(document).on("click", "#mId3", function () {
            $("#TestValue2").val(3);
        });
        $(document).on("click", "#mId4", function () {
            $("#TestValue2").val(4);
        });
        $(document).on("click", "#mId5", function () {
            $("#TestValue2").val(5);
        });
        $(document).on("click", "#mId6", function () {
            $("#TestValue2").val(6);
        });
        $(document).on("click", "#mId7", function () {
            $("#TestValue2").val(7);
        });
        $(document).on("click", "#mId8", function () {
            $("#TestValue2").val(8);
        });
    </script>

}


