﻿@model Erp.Core.Services.HRMS.HRMSEmployeesCardGenerationVM

@{
    ViewData["Title"] = "GenerateCard";
}
<style>
    table > tr > td {
        border: none;
        border-spacing: 5px;
        padding: 10px;
    }
</style>
<div col-md-12>
    <table class="table table-bordered"  id="scrolling-wrapper" style="font-size: 10px;">
    </table>
</div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            var EmpIdCard = @Html.Raw(Json.Serialize(Model.EmployeeIdCards));
            console.log(EmpIdCard);

            var html = "";
            var col = 1;

            html += "<tr width='100%'><th width='20%'></th><th width='20%'></th><th width='20%'></th><th width='20%'></th><th width='20%'></th></tr>";
            html += "<tr>";
            for (var i = 0; i < EmpIdCard.length; i++) {
                if (col > 3) {
                    html += "</tr>";
                    html += "<tr>";
                    col = 1;
                }
                for (var j = 1; j <= @Model.Quantity; j++) {
                    if (col > 3) {
                        html += "</tr>";
                        html += "<tr>";
                        col = 1;
                    }
                    else {

                        var jDate = new Date(EmpIdCard[i].joiningDate).toDateString();
                        var iDate = new Date(EmpIdCard[i].idCardIssueDate).toDateString();
                        var eDate = new Date(EmpIdCard[i].idCardExpireDate).toDateString();
                        var Image = btoa(EmpIdCard[i].image);

                        const b64toBlob = (b64Data, contentType = '', sliceSize = 512) => {
                            const byteCharacters = atob(b64Data);
                            const byteArrays = [];

                            for (let offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                                const slice = byteCharacters.slice(offset, offset + sliceSize);

                                const byteNumbers = new Array(slice.length);
                                for (let i = 0; i < slice.length; i++) {
                                    byteNumbers[i] = slice.charCodeAt(i);
                                }

                                const byteArray = new Uint8Array(byteNumbers);
                                byteArrays.push(byteArray);
                            }

                            const blob = new Blob(byteArrays, { type: contentType });
                            return blob;
                        }

                        const contentType = 'image/jpeg';
                        const b64Data = EmpIdCard[i].image;

                        const blob = b64toBlob(b64Data, contentType);
                        const blobUrl = URL.createObjectURL(blob);
                        console.log(blobUrl);
                        const img = document.createElement('img');
                        img.src = blobUrl;

                        html += "<td width='33%'><div class='card'><table class='table2' cellpadding='10px;'>" +
                            "<tr><td colspan='5'><img src='/content/RomoLogoName.jpg' width='100%' height='40' /></td></tr>" +
                            "<tr><td colspan='2'>নাম  </td><td colspan='2'>" + EmpIdCard[i].name + "</td><td colspan='1' rowspan='2' style='text-align: right;' ><img src="+blobUrl+" width='55' height='65'/></td></tr>" +
                            "<tr><td colspan='2'>কার্ড </td><td colspan='2'>" + EmpIdCard[i].id + "</td></tr>" +
                            "<tr><td colspan='2'>পদবী</td><td colspan='3'>" + EmpIdCard[i].designation + "</td></tr>" +
                            "<tr><td colspan='2'>রক্ত গ্রুপ </td><td colspan='3'>" + EmpIdCard[i].bloodGroup + "</td></tr>" +
                            "<tr><td colspan='2'>বিভাগ</td><td colspan='3'>" + EmpIdCard[i].section + "</td></tr>" +
                            "<tr><td colspan='2'>যোগদান </td><td colspan='3'>" + jDate + "</td></tr>" +
                            "<tr><td colspan='2'>ইস্যু</td><td colspan='3'>" + iDate + "</td></tr>" +
                            "<tr><td colspan='2'>বাতিল</td><td colspan='3'>" + eDate + "</td></tr>" +
                            "<tr><td colspan='2'>এনআইডি</td><td colspan='3'>" + EmpIdCard[i].nidNo + "</td></tr>" +
                            "<tr><td colspan='3'></td><td colspan='2' style='text-align: right;'><img src='/content/Singature.jpg' width='80' height='30' /></td></tr>" +
                            "<tr><td colspan='3'>সাক্ষর(শ্রমিক)</td><td colspan='2' style='text-align: right;'>সাক্ষর(ব্যবস্থাপক)</td></tr></table></div></td>";
                        col++;
                    }
                };
            };
            html += "</tr>";

            $("#scrolling-wrapper").html(html);

        });

        //<img src='data:image/jpeg;base64," + EmpIdCard[i].imagePath + "' width='55' height='65'/>

    </script>
}