﻿@model Erp.Core.Services.HRMS.VMHoliday
@{
    ViewData["Title"] = "HolidaydayAssigned";
}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success" id="generalHead">
                    <h4>
                        Assign Holiday:
                    </h4>
                </div>
                <!-- /.box-header -->

                @using (Html.BeginForm("HolidayAssign", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                {
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="box">
                                @Html.AntiForgeryToken()
                                @Html.HiddenFor(model => model.ID)
                                @Html.HiddenFor(model => model.TotalDays)
                                @Html.HiddenFor(model => model.PreviousHolidayName)
                                @Html.HiddenFor(model => model.Id)

                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HoildayName, htmlAttributes: new { @class = "control-label" })
                                                @Html.EditorFor(model => model.HoildayName, new { htmlAttributes = new { @id = "txtHoildayName", @class = "form-control", @Required = "required" @*@onfocus = "blur()"*@} })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.HoildayName, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Description, new { @class = "control-label " })&nbsp;
                                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @Required = "required" })
                                            </div>
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FromDate, new { @class = "control-label " })&nbsp;
                                                <div class="input-group date">
                                                    @Html.TextBoxFor(model => model.FromDate, "{0:MM/dd/yyyy}", new { @id = "first", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.FromDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.ToDate, new { @class = "control-label " })&nbsp;
                                                <div class="input-group date">
                                                    @Html.TextBoxFor(model => model.ToDate, "{0:MM/dd/yyyy}", new { @id = "second", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.ToDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group col-md-6">
                                                @if (Model.ID != 0)
                                                {
                                                    <input type="submit" style="width:100%" value="Update Holiday" class="btn btn-primary" />
                                                }
                                                else
                                                {
                                                    <input type="submit" style="width:100%" value="Assign Holiday" class="btn btn-primary" />
                                                }
                                            </div>
                                            <div class="form-group col-md-6">
                                                @Html.ActionLink("Cancel", "HolidayAssign", "HRMS", new { id = 0 }, new { @class = "btn btn-danger", @style = "width:100%" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12">

                                            <div class="box-header">
                                                <h3 class="box-title">Holiday List</h3>
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body no-padding">
                                                <table id="tableX" class="table table-striped">
                                                    <thead>
                                                        <tr style="background-color: #DFF0D8;">
                                                            <th style="width: 10%">SL</th>
                                                            <th style="width: 30%">Holiday Name</th>
                                                            <th hidden></th>
                                                            <th hidden></th>
                                                            @*<th style="width: 30%">Description</th>*@
                                                            <th style="width: 20%">From Date</th>
                                                            <th style="width: 20%">To Date</th>
                                                            <th style="width: 10%; background-color: yellow;">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{ var i = 1;}
                                                        @foreach (var item in Model.VMHolidays)
                                                        {
                                                            <tr>
                                                                <td>@i</td>
                                                                <td hidden>@item.ID</td>
                                                                <td hidden>@item.TotalDays</td>
                                                                <td>@item.HoildayName</td>
                                                                @*<td>@item.Description</td>*@
                                                                <td>@item.FromDate.ToString("dd/MM/yyyy")</td>
                                                                <td>@item.ToDate.ToString("dd/MM/yyyy")</td>
                                                                <td style="background-color: khaki;">
                                                                    <a data-placement="top" href="@Url.Action("HolidayAssign", "HRMS", new {id = item.ID } )">
                                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                    </a>
                                                                    <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@item.ID" data-toggle="modal" data-target="#myModal"
                                                                       data-tooltip="tooltip" title="Delete" data-placement="top">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                            i++;
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>



        <!-- Alert -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @if (Model.error != "")
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    }
                    else
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal">No</a>
                            <a class="btn btn-success" id="DeleteHA"
                               data-tooltip="tooltip" title="Delete" data-placement="top">
                                Yes
                            </a>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>

@section Scripts{ 
    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#first').datepicker({ autoclose: true });
            //$('#second').datepicker({ autoclose: true });
            var IDvalue = $('#ID').val();
            if (IDvalue == 0) {
                $("#first").val("");
                $("#second").val("");
            }

        });

        $('#first').on('change', function () {
            var date = new Date($('#first').val());
            date.setDate(date.getDate());

            $("#second").datepicker("destroy");
            $('#second').datepicker({
                //format: "dd/mm/yyyy",
                orientation: "auto",
                startDate: date,
                autoclose: true
                //clearBtn: true
            });
        })

        $("#first, #second").on('change', function () { 

            var start = new Date($('#first').val());
            var end = new Date($('#second').val());

            // end - start returns difference in milliseconds
            var diff = new Date(end - start);

            // get days
            var days = diff / 1000 / 60 / 60 / 24;

            document.getElementById("TotalDays").value = Math.round(days) + 1;
        });

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("Id").value = passedID;
            var id = document.getElementById("Id").value;
            console.log(id);
        });

        $("#DeleteHA").on('click', function () {
            var Id = document.getElementById("Id").value;            
            $.post('@Url.Action("DeleteHolidayAssign","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });
    </script>
}
