﻿@model Erp.Core.Services.HRMS.EmployeeFormVM
<div class="col-md-12">
    <div class="container">
        <table class="col-md-12" width="100%">
            <tbody>
                <tr>
                    <td>
                        রোমো ফ্যাশন টুডে লিঃ <br />
                        ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর ।
                    </td>
                </tr>
                <tr width="100%" style="text-align: center; font-weight:bold; text-underline-position:below; border-top:solid; border-bottom:solid">
                    <td colspan="2" height="40">
                        <h3>@Model.EmployeeInfo.Designation এর Job Description / কার্যবলী </h3>
                    </td>
                </tr>
            </tbody>
        </table>
        <table>
            <tbody>
                <tr width="100%">
                    <td>নামঃ @Model.EmployeeInfo.EmployeeName</td>
                </tr>
                <tr>
                    <td>পদবীঃ @Model.EmployeeInfo.Designation</td>
                </tr>
                <tr>
                    <td>যোগদানের তারিখ @Model.EmployeeInfo.JoinDate</td>
                </tr>
                <tr width="100%">
                    <td>কার্ড নংঃ @Model.EmployeeInfo.CardNo</td>
                </tr>
                <tr>
                    <td>লাইন/সেকশনঃ @Model.EmployeeInfo.PLName / @Model.EmployeeInfo.Section</td>
                </tr>
                <tr>
                    <td>গ্রেডঃ @Model.EmployeeInfo.Grade</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-bordered" id="STable">
            <thead>
                <tr>
                    <th>ক্রমিক নং</th>
                    <th>বিবরণ</th>
                </tr>
            </thead>
            <tbody>
                @{ int sl = 1;}
                @foreach (var i in Model.EmployeeInfo.JobDescription)
                {
                    <tr>
                        <td>@sl</td>
                        <td>@i.JobDescription</td>
                    </tr>
                    sl++;
                }
            </tbody>
            </table>
        </div>
    </div>