﻿@model Erp.Core.Services.HRMS.HRMSJobDescriptionVM
@{
    ViewData["Title"] = "HRMS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Job Description Setup:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("JobDescriptionSetup", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            @if (Model.error != null)
                            {
                                <div class="danger" style="color:red;">
                                    @Html.DisplayFor(m => m.error)
                                </div>
                            }
                            <div class="box-body">
                                <!--Body Will by Start Here-->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            <label for="ddLStore" class="col-form-label">Job Description:</label>
                                            @Html.TextBoxFor(model => model.JobDescription, "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.JobDescription, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="VMDepartmentID" class="control-label"></label>
                                            <select id="ddlDepartment" style="width:100%;" asp-for="VMDepartmentID" asp-items="Model.VMDepartmentList" class="form-control searchingDropdown ">
                                                <option selected value="">Select Department</option>
                                            </select>
                                            <span asp-validation-for="VMDepartmentID" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label asp-for="VMDesignationID" class="col-form-label"></label>
                                            <select id="ddlDesignation" asp-for="VMDesignationID" asp-items="Model.VMDesignationList" class="form-control searchingDropdown ddlReset" style="width:100%;" required>
                                                <option value="" selected>Select Designation</option>
                                            </select>
                                            <span asp-validation-for="VMDesignationID" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 pull-right" style="padding-top:25px">
                                        @if (Model.ID != 0)
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                        }
                                        @Html.ActionLink("Cancel", "JobDescriptionSetup", "HRMS", new { id = 0 }, new { @class = "btn btn-danger" })
                                        @*<button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Cancel</button>*@
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr style="background-color: #DFF0D8;">
                                <th>SL</th>
                                <th>Job Description</th>
                                <th>Department</th>
                                <th>Designation</th>
                                <th style="background-color: yellow;">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @foreach (var i in Model.DataList)
                            {
                                <tr>
                                    <td>@sl</td>
                                    <td>@i.JobDescription</td>
                                    <td>@i.VMDepartmentName</td>
                                    <td>@i.VMDesignationName</td>
                                    <td style="background-color: khaki;">
                                        <a data-placement="top" href="@Url.Action("JobDescriptionSetup", "HRMS", new { id = i.ID } )">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a href="@Url.Action("DeleteJobDescription", "HRMS", new { id = i.ID, del="Delete" } )" class="glyphicon glyphicon-trash no-print"
                                           data-tooltip="tooltip" title="Delete" data-placement="top">
                                        </a>
                                    </td>
                                </tr>
                                sl++;
                            }
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var nBUId, nUId, nDepartmentId;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        $("#ddlDepartment").change(function (e) {

            @*$.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');

                        }
                    }
                }
            });*@

            $.ajax({
                type: "GET",
                url: "@Url.Action("DesignationGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlDesignation").empty();
                        $("#ddlDesignation").append("<option value='0' selected>Select Designation</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDesignation").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDesignation").val(nDepartmentId);

                            $("#ddlDesignation").trigger('change');

                        }
                    }
                }
            });
        });

    </script>
}


