﻿@model Erp.Core.Services.HRMS.VMLeaveSetup
@{
    ViewData["Title"] = "HolidaydayAssigned";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Leave Setup:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        @using (Html.BeginForm("LeaveSetup", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.error)
                            @Html.HiddenFor(model => model.Id)
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LeaveType, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.LeaveTypeID, ViewBag.LeaveType as IEnumerable<SelectListItem>, new { @class = "form-control", @Required = "required"})
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LeaveType, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployeeTypeId, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(model => model.EmployeeTypeId, ViewBag.EmployeeType as IEnumerable<SelectListItem>,
                                                "Select Type", new { @class = "form-control", @Required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.EmployeeTypeId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LeaveDays, new { @class = "control-label " })&nbsp;
                                            @Html.TextBoxFor(model => model.LeaveDays, "", new { @class = "form-control", @Required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.LeaveDays, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-3 col-md-3 pull-right" style="padding-top:25px">
                                        @if (Model.ID != 0)
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                        }
                                        @Html.ActionLink("Cancel", "LeaveSetup", "HRMS", new { id = 0 }, new { @class = "btn btn-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-header">
                                        <h3 class="box-title">Leave List</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <table id="tableX" class="table table-striped">
                                            <thead>
                                                <tr style="background-color: #DFF0D8;">
                                                    <th style="width: 10%">#</th>
                                                    <th style="width: 20%">Leave Name</th>
                                                    <th style="width: 20%">Employee Type</th>
                                                    <th style="width: 20%">Leave Days</th>
                                                    <th style="width: 10%; background-color: khaki;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (ViewBag.Leave != null)
                                                {
                                                    var i = 1;
                                                    @foreach (var item in ViewBag.Leave)
                                                    {
                                                        <tr>
                                                            <td>@i</td>

                                                            @if (item.LeaveType == 1)
                                                            {
                                                                <td>
                                                                    Casual
                                                                </td>
                                                            }
                                                            else if (item.LeaveType == 2)
                                                            {
                                                                <td>
                                                                    Annual
                                                                </td>
                                                            }
                                                            else if (item.LeaveType == 3)
                                                            {
                                                                <td>
                                                                    Sick
                                                                </td>
                                                            }
                                                            else if (item.LeaveType == 4)
                                                            {
                                                                <td>
                                                                    Maternity
                                                                </td>
                                                            }
                                                            else
                                                            {
                                                                <td>
                                                                    Earn
                                                                </td>
                                                            }
                                                            @if (item.EmployeeType == 1)
                                                            {
                                                                <td>Staff</td>
                                                            }
                                                            else
                                                            {
                                                                <td>Worker</td>
                                                            }
                                                            <td>@item.LeaveDays</td>
                                                            <td style="background-color: khaki;">
                                                                <a data-placement="top" href="@Url.Action("LeaveSetup", "HRMS", new { id = item.ID } )">
                                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                                </a>
                                                                <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@item.ID" data-toggle="modal" data-target="#myModal"
                                                                   data-tooltip="tooltip" title="Delete" data-placement="top">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        i++;

                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.box-body -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Alert -->
                <div class="modal" tabindex="-1" role="dialog" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @if (Model.error != "")
                            {
                                <div class="modal-body" style="color: red;">
                                    <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                                </div>
                                <div class="modal-footer">
                                    <a data-placement="top" href="@Url.Action("LeaveSetup", "HRMS", new { id = 0 } )">
                                        @*<i class="fa fa-pencil-square-o" aria-hidden="true"></i>*@ Close
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="modal-body" style="color: red;">
                                    <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" data-dismiss="modal">No</a>
                                    <a class="btn btn-success" id="DeleteLS"
                                       data-tooltip="tooltip" title="Delete" data-placement="top">
                                        Yes
                                    </a>

                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            if ($('#error').val() != '') {
                $('#myModal').modal('show');
            }
            //var leaveType = $("#LeaveTypeID").val();
            //if (leaveType == 5) {
            //    document.getElementById("LeaveDays").value = 20;
            //    $('#LeaveDays').attr("readonly", "readonly");
            //} else {
            //    document.getElementById("LeaveDays").value = 0;
            //    $('#LeaveDays').removeAttr("readonly", "readonly");
            //}
        })
        $('#LeaveTypeID').on('change', function () {
            var leaveType = $("#LeaveTypeID").val();
            console.log(leaveType);
            if (leaveType == 5) {
                document.getElementById("LeaveDays").value = 20;
                $('#LeaveDays').attr("readonly", "readonly");
            } else {
                document.getElementById("LeaveDays").value = 0;
                $('#LeaveDays').removeAttr("readonly", "readonly");
            }
        });

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("Id").value = passedID;
            var id = document.getElementById("Id").value;
            console.log(id);
        });

        $("#DeleteLS").on('click', function () {
            var Id = document.getElementById("Id").value;            
            $.post('@Url.Action("DeleteLeave","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });
    </script>
}