﻿@model Erp.Core.Services.HRMS.VMLeaveApplication
@{
    ViewData["Title"] = "LeaveApplication";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Leave Application:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    @using (Html.BeginForm("LeaveApplication", "HRMS", FormMethod.Post, new { @class = "formValidator" }))
                    {
                        @Html.HiddenFor(m => m.JoiningDate);
                        @Html.AntiForgeryToken();
                        <div class="box">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="background-color:#e8e5b3;">
                                            <div class="col-md-5" style="background-color: #e8e5b3;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.EmployeeId, htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownListFor(model => model.EmployeeId, ViewBag.WorkerEmployeeList as IEnumerable<SelectListItem>,
                                                        "Select Employee", new { @class = "form-control  searchingDropdown", @Required = "required" })
                                                        @Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.LeaveTypeId, htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownListFor(model => model.LeaveTypeId, ViewBag.LeaveTypeList as IEnumerable<SelectListItem>,
                                                         "Select Leave Type", new { @class = "form-control searchingDropdown", @Required = "required" })
                                                        @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.LeavePaidType, new { @class = "control-label " })&nbsp;
                                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                                        @Html.DropDownListFor(model => model.LeavePaidType, ViewBag.LeavePaidTypeList as IEnumerable<SelectListItem>, new { @class = "form-control searchingDropdown" })
                                                        @Html.ValidationMessageFor(model => model.LeavePaidType, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label" })
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(model => model.From, new { id = "first", Value = "", @class = "form-control", autocomplete = "off" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label" })
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(model => model.To, new { id = "second", Value = "", @class = "form-control", autocomplete = "off" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                        @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.TotalDays, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.TotalDays, new { htmlAttributes = new { id = "TotalDays", @class = "form-control", @readonly = "readonly", @onfocus = "blur()" } })
                                                        @Html.ValidationMessageFor(model => model.TotalDays, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7" id="infoTable">
                                                <div class="col-md-6" style="background-color: #7bb9a0; color: white;">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <td colspan="2"><h4><b>Employee Information</b></h4></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="infoTbody"></tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-6" style="background-color: #808080; color: white;">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <td colspan="4"><h4><b>Leave Information</b></h4></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="leaveTbody"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="background-color: #e8e5b3">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.Purpose, new { Value = "", @class = "form-control", @Required = "required" })
                                                    @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.StayDuringLeave, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.StayDuringLeave, new { Value = "", @class = "form-control", @Required = "required" })
                                                    @Html.ValidationMessageFor(model => model.StayDuringLeave, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ReplacementEmployeeId, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownListFor(model => model.ReplacementEmployeeId, ViewBag.EmployeeCardList as IEnumerable<SelectListItem>,
                                                    "Select Employee For Replacement", new { @id = "ReplacementEmployeeId", @class = "form-control  searchingDropdown" })
                                                    @*@Html.ValidationMessageFor(model => model.ReplacementEmployeeId, "", new { @class = "text-danger" })*@
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-danger">
                                            <div class="box-header bg-danger">
                                                <h4>
                                                    Approved By:
                                                </h4>
                                            </div>
                                            <div class="box-body bg-warning">
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ApprovedById, "Designation-1", htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.ApprovedById, ViewBag.EmployeeCardList as IEnumerable<SelectListItem>,
                                                            "Select Approved By", new { @id = "ApprovedByIdId", @class = "form-control  searchingDropdown", @Required = "required" })
                                                            @Html.ValidationMessageFor(model => model.ApprovedById, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.SectionInchargeId, "Designation-2", htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.SectionInchargeId, ViewBag.EmployeeCardList as IEnumerable<SelectListItem>,
                                                            "Select Section In charge", new { @id = "EmployeeId", @class = "form-control  searchingDropdown", @Required = "required" })
                                                            @Html.ValidationMessageFor(model => model.SectionInchargeId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            @Html.LabelFor(model => model.ManagerId, "Designation-3", htmlAttributes: new { @class = "control-label" })
                                                            @Html.DropDownListFor(model => model.ManagerId, ViewBag.EmployeeCardList as IEnumerable<SelectListItem>,
                                                            "Select Manager", new { @id = "ManagerId", @class = "form-control  searchingDropdown", @Required = "required" })
                                                            @Html.ValidationMessageFor(model => model.ManagerId, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" style="width:100%" value="Submit Application" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit Application</button>
                                    </div>
                                </div>
                                <!-- Alert -->
                                <div class="modal" tabindex="-1" role="dialog" id="myModal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body" style="color: red;">
                                                <p><h3><i class="fa fa-warning" style="font-size:38px;color:red"></i> Are you sure to Submit?</h3></p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger" data-dismiss="modal">No</a>
                                                <button type="submit" value="Yes" class="btn btn-primary">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#first').datepicker({ autoclose: true })
        });


        $('#first').on('change', function () {
            var date = new Date($('#first').val());
            date.setDate(date.getDate());

            $("#second").datepicker("destroy");
            $('#second').datepicker({
                //format: "dd/mm/yyyy",
                orientation: "auto",
                startDate: date,
                autoclose: true
                //clearBtn: true
            });
        })

        $("#first, #second").on('change', function () {

            var start = new Date($('#first').val());
            var end = new Date($('#second').val());

            // end - start returns difference in milliseconds
            var diff = new Date(end - start);

            // get days
            var days = diff / 1000 / 60 / 60 / 24;

            document.getElementById("TotalDays").value = Math.round(days) + 1;
        });

        $("#EmployeeId").on('change', function () {
            var Id = $("#EmployeeId").val();
            $.get("GetEmployeeInfo", { id: Id }, function (res) {
                $("#JoiningDate").val(res.JoinDate);
                var d = res.JoinDate.slice(0, 10).split('-');
                $("#infoTbody").empty();
                $("#infoTbody")
                    .append("<tr><td width='50%'>Name: </td><td>" + res.EmployeeName + "</td></tr>" +
                        "'<tr><td>Unit: </td><td>" + res.Unit + "</td></tr>'" +
                        "'<tr><td>Designation: </td><td>" + res.Designation + "</td></tr>'" +
                        "'<tr><td>Department: </td><td>" + res.Department + "</td></tr>'" +
                        "'<tr><td>Section: </td><td>" + res.Section + "</td></tr>'" +
                    "'<tr><td>Joining Date: </td><td>" + d[2] + '/' + d[1] + '/' + d[0] + "</td></tr>'");
            });

            $.get("GetEmployeeLeaveInfo", { id: Id }, function (res) {
                $("#leaveTbody").empty();
                if (res != null) {
                    $("#leaveTbody")
                        .append("<tr><th width='25%'>Type</th><th width='25%'>Total</th><th width='25%'>Taken</th><th width='25%'>Remaining</th></tr ><tr><td>Annual: </td><td>" + res.AnnualLeaveDays + "</td><td>" + res.TakenAnnualLeaveDays + "</td><td>" + (res.AnnualLeaveDays - res.TakenAnnualLeaveDays) +"</td></tr>" +
                        "'<tr><td>Casual: </td><td>" + res.CasualLeaveDays + "</td><td>" + res.TakenCasualLeaveDays + "</td><td>" + (res.CasualLeaveDays - res.TakenCasualLeaveDays) + "</td></tr>'" +
                        "'<tr><td>Sick: </td><td>" + res.SickLeaveDays + "</td><td>" + res.TakenSickLeaveDays + "</td><td>" + (res.SickLeaveDays - res.TakenSickLeaveDays) + "</td></tr>'"
                        );
                } else {
                    $("#leaveTbody")
                        .append("<tr><th width='25%'>Type</th><th width='25%'>Total</th><th width='25%'>Taken</th><th width='25%'>Remaining</th></tr >" +
                            "<tr><td>Annual: </td><td> N/A </td><td> N/A </td><td> N/A </td></tr>" +
                            "'<tr><td>Casual: </td><td> N/A </td><td> N/A </td><td> N/A </td></tr>'" +
                            "'<tr><td>Sick: </td><td> N/A </td><td> N/A </td><td> N/A </td></tr>'"
                        );
                }
            })
        });

        $("#LeaveTypeId").on('change', function () {
            var lType = $(this).children("option:selected").text();
            var JDate = $("#JoiningDate").val();

            var date2 = new Date();
            var date1 = new Date(JDate);
            var timeDiff = Math.abs(date2.getTime() - date1.getTime());
            var dayDifference = Math.ceil(timeDiff / (1000 * 3600 * 24));
            if (lType == "Earn" && dayDifference == 360) {
                alert("You are not Eligible to apply this type of Leave!")
            };
        });

        function LeaveApplication() {
            return confirm('Sure to Submit?');
        }
    </script>
}

