﻿@model Erp.Core.Services.HRMS.VMLeaveApplication
@{
    ViewData["Title"] = "LeaveApplicationList";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Leave Application List:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            @using (Html.BeginForm("LeaveApplicationList", "HRMS", FormMethod.Post, new { @class = "formValidator" }))
                            {
                                @Html.AntiForgeryToken();
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BU_Id, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.BU_Id, Model.B_UnitList as IEnumerable<SelectListItem>,
                                          "Select Business Unit", new { @id = "ddlBUnit", @class = "form-control searchingDropdown", @Required = "required" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Unit_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Unit_ID, Model.Unit_List as IEnumerable<SelectListItem>,
                                          "Select Unit", new { @id = "ddlUnit", @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Unit_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Section_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Section_ID, Model.Section_List as IEnumerable<SelectListItem>,
                                          "Select Sections", new { @id = "ddlSection", @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Section_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Dept_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Dept_ID, Model.Department_List,
                                          "Select Departments", new { @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>,
                                                "Select Employee", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.From, new { @class = "control-label" })
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.From, new { @id = "first", Value = "", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.To, new { @class = "control-label" })
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.To, new { @id = "second", Value = "", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LeaveStatus, new { @class = "control-label " })&nbsp;
                                            @Html.DropDownListFor(model => model.LeaveStatus, ViewBag.LeaveStatusList as IEnumerable<SelectListItem>,
                                            "Select Leave Status", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.LeaveStatus, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" style="width:100%" value="Search" id="btnviewshift" class="btn btn-sm btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Employee List</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <table id="tableX" class="table table-striped">
                                                <thead>
                                                    <tr style="background-color: #DFF0D8;">
                                                        <th style="width: 5%">#</th>
                                                        <th style="width: 10%">Employee ID</th>
                                                        <th style="width: 20%">Name</th>
                                                        <th style="width: 10%">Leave Name</th>
                                                        <th style="width: 10%">From</th>
                                                        <th style="width: 10%">To</th>
                                                        <th style="width: 10%">Total Days</th>
                                                        <th style="width: 10%">Dept. Status</th>
                                                        <th style="width: 10%">HR Status</th>
                                                        <th style="width: 5%; background-color: yellow;">Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.LeaveDays != null)
                                                    {
                                                        var j = 1;
                                                        for (var i = 0; i < Model.LeaveDays.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>@j</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.LeaveDays[i].EmployeeIdentity)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.LeaveDays[i].Name)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.LeaveDays[i].leaveName)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.LeaveDays[i].From)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.LeaveDays[i].To)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.LeaveDays[i].TotalDays)</td>
                                                                @*<td>@Html.DisplayFor(modelItem => modelItem.LeaveDays[i].DeptStatus)</td>*@
                                                                @if (Model.LeaveDays[i].DeptStatus >= 0 && Model.LeaveDays[i].DeptStatus <= 4)
                                                                {
                                                                    if (Model.LeaveDays[i].DeptStatus == 0)
                                                                    {
                                                                        <td style="color: darkmagenta; background-color:yellow;">Approval Processing..</td>
                                                                    }
                                                                    else if (Model.LeaveDays[i].DeptStatus == 1)
                                                                    {
                                                                        <td style="color: darkmagenta; background-color:yellow;">1st Approval Processed</td>
                                                                    }
                                                                    else if (Model.LeaveDays[i].DeptStatus == 2)
                                                                    {
                                                                        <td style="color: darkmagenta; background-color:yellow;">2nd Approval Processed</td>
                                                                    }
                                                                    else if (Model.LeaveDays[i].DeptStatus == 3)
                                                                    {
                                                                        <td style="color: darkmagenta; background-color:yellow;">3rd Approval Processed</td>
                                                                    }
                                                                    else if (Model.LeaveDays[i].DeptStatus == 4)
                                                                    {
                                                                        <td style="color: darkmagenta; background-color:yellow;">4th Approval Processed</td>
                                                                    }
                                                                }
                                                                else if (Model.LeaveDays[i].DeptStatus == 5)
                                                                {
                                                                    <td style="color:green; background-color:greenyellow;">Approved</td>
                                                                }
                                                                else if (Model.LeaveDays[i].DeptStatus == 6)
                                                                {
                                                                    <td style="color:white; background-color:red;">Rejected</td>
                                                                }
                                                                @*<td>@Html.DisplayFor(modelItem => modelItem.LeaveDays[i].HRStatus)</td>*@
                                                                @if (Model.LeaveDays[i].HRStatus >= 0 && Model.LeaveDays[i].HRStatus <= 1)
                                                                {
                                                                    <td style="color: red; background-color:lightpink;">Pending</td>
                                                                }
                                                                else if (Model.LeaveDays[i].HRStatus == 2)
                                                                {
                                                                    <td style="color:green; background-color:greenyellow;">Approved</td>
                                                                }
                                                                else if (Model.LeaveDays[i].HRStatus == 3)
                                                                {
                                                                    <td style="color:white; background-color:red;">Rejected</td>
                                                                }
                                                            <td style="background-color: khaki;">
                                                                @if (Model.LeaveDays[i].DeptStatus == 0 || Model.LeaveDays[i].DeptStatus == 1 || Model.LeaveDays[i].DeptStatus == 2 || Model.LeaveDays[i].DeptStatus == 3 || Model.LeaveDays[i].DeptStatus == 4)
                                                                {
                                                                    <a data-placement="top" href="@Url.Action("LeaveStatusUpdate", "HRMS", new { id = Model.LeaveDays[i].ID, status = true, eId = Model.LeaveDays[i].eId, TotalDays = Model.LeaveDays[i].TotalDays, LeaveType = Model.LeaveDays[i].LeaveType } )" onclick="return approvalAlert(@Model.LeaveDays[i].DeptStatus);">
                                                                        <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                                    </a>
                                                                    <a data-placement="top" href="@Url.Action("LeaveStatusUpdate", "HRMS", new { id = Model.LeaveDays[i].ID, status = false, eId = Model.LeaveDays[i].eId, TotalDays = Model.LeaveDays[i].TotalDays, LeaveType = Model.LeaveDays[i].LeaveType  } )" onclick="return CancelAlert(@Model.LeaveDays[i].DeptStatus)">
                                                                        <i class="fa fa-close btn-danger" aria-hidden="true"></i>
                                                                    </a>
                                                                    @*<a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="[@Model.LeaveDays[i].ID, false, @Model.LeaveDays[i].eId, @Model.LeaveDays[i].TotalDays, @Model.LeaveDays[i].LeaveType.]" data-filter="board" data-toggle="modal" data-target="#myModal"
                                                                       data-tooltip="tooltip" title="Test" data-placement="top">
                                                                    </a>*@
                                                                }
                                                            </td>
                                                            </tr>
                                                            j++;
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        
            $('#first').datepicker({ autoclose: true })
            //if ($('#error').val() != '') {
            //    $('#myModal').modal('show');
            //}

        });

        $('#first').on('change', function () {
            var date = new Date($('#first').val());
            date.setDate(date.getDate());

            $("#second").datepicker("destroy");
            $('#second').datepicker({
                orientation: "auto",
                startDate: date,
                autoclose: true
            });
        });

        $("#first, #second").on('change', function () {

            var start = new Date($('#first').val());
            var end = new Date($('#second').val());

            // end - start returns difference in milliseconds
            var diff = new Date(end - start);

            // get days
            var days = diff / 1000 / 60 / 60 / 24;

            document.getElementById("TotalDays").value = Math.round(days) + 1;
        })

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            filter = $(this).data("filter");
            var a = passedID.indexOf($(this).data(filter));
            console.log(passedID);
            console.log(a);
        });

        function approvalAlert(res) {
            var a = parseInt(res);
            var b = parseInt(1)
            return confirm('Sure to Approve? ' + (a+b) );
        }

        function CancelAlert(res) {            
            return confirm('Sure to Cancel? ');
        }




                $("#ddlBUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#ddlBUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlUnit").empty();
                        $("#ddlUnit").append("<option value='0' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnit").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnit").val(nUId);

                            $("#ddlUnit").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlUnit").change(function (e) {

            @*$.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet")",
                datatype: "Json",
                data: { id: $("#ddlUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlDepartment").empty();
                        $("#ddlDepartment").append("<option value='0' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDepartment").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDepartment").val(nDepartmentId);

                            $("#ddlDepartment").trigger('change');

                        }
                    }
                }
            });*@

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');
                        };
                    }
                }
            });
        });
    </script>
}