﻿@model Erp.Core.Services.HRMS.VMLeave
@{
    ViewData["Title"] = "LeaveAssign";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Assign Leave:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            @using (Html.BeginForm("LeaveAssign", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator",  }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BU_Id, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.BU_Id, Model.B_UnitList as IEnumerable<SelectListItem>
                                                ,
                                                "Select Business Unit", new { @class = "form-control searchingDropdown", @Required = "required" })
                                            @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Unit_ID, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.Unit_ID, Model.Unit_List as IEnumerable<SelectListItem>
                                                ,
                                                "Select Unit", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.Unit_ID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Section_ID, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.Section_ID, Model.Section_List as IEnumerable<SelectListItem>
                                                ,
                                                "Select Sections", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.Section_ID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Dept_ID, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.Dept_ID, Model.Department_List as IEnumerable<SelectListItem>
                                                ,
                                                "Select Departments", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group" style="padding-top:25px;">
                                            <input type="submit" value="Search" id="Search" style="width:100%" class="btn btn-primary pull-right" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="box-body">
                            @using (Html.BeginForm("AddLeaveAssign", "HRMS", FormMethod.Post, new { id = "leaveAssignForm" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box">
                                            <div class="row" style="padding-top:25px;">
                                                <div class="col-md-3">
                                                    <div class="input-group date">
                                                        <span class="input-group-addon">Year</span>
                                                        @Html.TextBoxFor(model => model.year, new { @class = "form-control yearpicker", autocomplete = "off" })
                                                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">Type</span>
                                                        @Html.DropDownListFor(model => model.EmployeeTypeId, Model.EmpType as IEnumerable<SelectListItem>,
                                                            "Select Type", new { @class = "form-control", @Required = "required" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.EmployeeTypeId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">Leave Type</span>
                                                        @Html.DropDownListFor(model => model.LeaveTypeId, Model.LeaveTypeList as IEnumerable<SelectListItem>,
                                                            "", new { @class = "form-control searchingDropdown" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">Total Days</span>
                                                        @Html.TextBoxFor(model => model.LeaveDays, new { Value = "", @class = "form-control", @readonly = "readonly" })
                                                        @Html.ValidationMessageFor(model => model.LeaveDays, "", new { @class = "text-danger" })
                                                    </div>
                                                </div><br /><br />
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <input type="submit" value="Assign Leave" id="btnemployeeleaveassign" class="btn btn-primary pull-right" onclick="return assignConfirmation()" style="width:100%;" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-header">
                                                <h3 class="box-title">Employee List</h3>
                                            </div>

                                            <!-- /.box-header -->
                                            <div class="box-body no-padding">
                                                <table id="tableX" class="table table-striped">
                                                    <thead>
                                                        <tr style="background-color: #DFF0D8;">
                                                            <th style="width: 2%">
                                                                <input type="checkbox" id="MainCheckbox" />
                                                            </th>
                                                            <th style="width: 20%">Name</th>
                                                            <th style="width: 10%">Type</th>
                                                            <th style="width: 10%">Employee ID</th>
                                                            <th style="width: 10%">Designation</th>
                                                            <th style="width: 10%">Business Unit</th>
                                                            <th style="width: 10%">Department</th>
                                                            <th style="width: 5%">Unit</th>
                                                            <th style="width: 8%">Section</th>
                                                            <th style="width: 5%; background-color:darkseagreen;">Annual</th>
                                                            <th style="width: 5%; background-color:#d4cd7f; color:white">Sick</th>
                                                            <th style="width: 5%; background-color:cadetblue;">Casual</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Emplists != null)
                                                        {
                                                            for (var i = 0; i < Model.Emplists.Count; i++)
                                                            {
                                                        <tr>
                                                            <td>@Html.CheckBoxFor(modelItem => modelItem.Emplists[i].IsLeaveAssigned, new { @id = "Checkbox1", @class = "checkBoxClass" })@*<input type="checkbox" class="checkBoxClass" id="Checkbox1" value="" />*@</td>
                                                            <td hidden>@Html.HiddenFor(modelItem => modelItem.Emplists[i].ID)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].EmpType)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].EmployeeIdentity)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Designation)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].BusinessUnit)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Department)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Unit)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Section)</td>
                                                            @if (Model.Emplists[i].AnnualLeaveDays != null)
                                                            {
                                                                <td style="color: darkmagenta; background-color:greenyellow;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].AnnualLeaveDays)</td>
                                                            }
                                                            else
                                                            {
                                                                <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                            }
                                                            @if (Model.Emplists[i].SickLeaveDays != null)
                                                            {
                                                                <td style="color:green; background-color:greenyellow;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].SickLeaveDays)</td>
                                                            }
                                                            else
                                                            {
                                                                <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                            }
                                                            @if (Model.Emplists[i].CasualLeaveDays != null)
                                                            {
                                                                <td style="color:blue; background-color:greenyellow;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].CasualLeaveDays)</td>
                                                            }
                                                            else
                                                            {
                                                                <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                            }
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        $("#MainCheckbox").click(function () {
            if ($(this).is(':checked')) {
                $(".checkBoxClass").prop('checked', true);
            }
            else {
                $(".checkBoxClass").prop('checked', false);
            }
        });

        $("#LeaveTypeId").on('change', function () {
            var ID = $("#LeaveTypeId").val();
            $.get("getLeaveTypeDaysInfo", { id: ID }, function (res) {
                document.getElementById("LeaveDays").value = res;
                console.log($("#LeaveDays").val());
            })
        })

        function assignConfirmation() {
            return confirm('Sure to Assign?');
        }

        $("#BU_Id").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#BU_Id :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#Unit_ID").empty();
                        $("#Unit_ID").append("<option value='' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#Unit_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#Unit_ID").val(nUId);

                            $("#Unit_ID").trigger('change');

                        }
                    }
                }
            });
        });
        $("#Unit_ID").change(function (e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#Dept_ID :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#Section_ID").empty();
                        $("#Section_ID").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#Section_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#Section_ID").val(nDepartmentId);

                            $("#Section_ID").trigger('change');

                        }
                    }
                }
            });
        });
        $("#EmployeeTypeId").change(function (e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetLeaveTypeByEmployeeTypeId")",
                datatype: "Json",
                data: { id: $("#EmployeeTypeId :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#LeaveTypeId").empty();
                        $("#LeaveTypeId").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#LeaveTypeId").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        //if (nDepartmentId && nDepartmentId > 0) {
                        //    $("#LeaveTypeId").val(nDepartmentId);

                        //    $("#LeaveTypeId").trigger('change');

                        //}
                    }
                }
            });
        });

    </script>
}