﻿@model Erp.Core.Services.HRMS.VMLeave
@{
    ViewData["Title"] = "LeaveAssignedList";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Assigned Leave List:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        <div class="box-body">
                            @using (Html.BeginForm("LeaveAssignedList", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator" }))
                            {
                                @Html.AntiForgeryToken();
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BU_Id, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.BU_Id, Model.B_UnitList as IEnumerable<SelectListItem>,
                                          "Select Business Unit", new { @id = "ddlBUnit", @class = "form-control searchingDropdown", @Required = "required" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Unit_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Unit_ID, Model.Unit_List as IEnumerable<SelectListItem>,
                                          "Select Unit", new { @id = "ddlUnit", @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Unit_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Section_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Section_ID, Model.Section_List as IEnumerable<SelectListItem>,
                                          "Select Sections", new { @id = "ddlSection", @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Section_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Dept_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Dept_ID, Model.Department_List as IEnumerable<SelectListItem>,
                                          "Select Departments", new { @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                            </div>
                                <div class="row ">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.EmployeeId, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.EmployeeId, ViewBag.EmployeeList as IEnumerable<SelectListItem>,
                                                "Select Employee", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.EmployeeId, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    @*<div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.LeaveTypeId, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.LeaveTypeId, ViewBag.LeaveTypeList as IEnumerable<SelectListItem>,
                                                "Select Leave", new { @class = "form-control searchingDropdown" })
                                            @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>*@
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.year, new { @class = "control-label " })&nbsp;
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.year, new { @class = "form-control yearpicker", autocomplete = "off" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @*@Html.ValidationMessageFor(model => model.year, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group" style="margin-top:25px">
                                            <input type="submit" value="View Assign Leave " id="btnviewshift" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header">
                                            <h3 class="box-title">Employee List</h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <div class="table-responsive">
                                                <table id="tableX" class="table table-bordered table-striped nowrap">
                                                    <thead>
                                                        <tr style="background-color: #DFF0D8;">
                                                            <th rowspan="2" style="width: 5%;vertical-align:middle">#</th>
                                                            <th class="hidden"></th>
                                                            <th rowspan="2" style="width: 15%;vertical-align:middle">Name</th>
                                                            <th rowspan="2" style="width: 10%;vertical-align:middle">Employee ID</th>
                                                            <th rowspan="2" style="width: 8%; vertical-align:middle">Designation</th>
                                                            <th rowspan="2" style="width: 8%; vertical-align:middle">Business Unit</th>
                                                            <th rowspan="2" style="width: 8%; vertical-align:middle">Department</th>
                                                            <th rowspan="2" style="width: 8%; vertical-align:middle">Unit</th>
                                                            <th rowspan="2" style="width: 8%; vertical-align:middle">Section</th>
                                                            <th colspan="3" style="width: 10%;text-align:center; background-color:darkseagreen;">Annual</th>
                                                            <th colspan="3" style="width: 10%;text-align:center; background-color:#d4cd7f; color:white">Sick</th>
                                                            <th colspan="3" style="width: 10%;text-align:center; background-color:cadetblue;">Casual</th>

                                                        </tr>
                                                        <tr style="background-color:#fef598;">
                                                            <th>Day</th>
                                                            <th>Taken</th>
                                                            <th>Remaining</th>
                                                            <th>Day</th>
                                                            <th>Taken</th>
                                                            <th>Remaining</th>
                                                            <th>Day</th>
                                                            <th>Taken</th>
                                                            <th>Remaining</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Emplists != null)
                                                        {
                                                            var j = 1;
                                                            for (var i = 0; i < Model.Emplists.Count; i++)
                                                            {
                                                                <tr>
                                                                    <td>@j</td>
                                                                    <td hidden>@Html.HiddenFor(modelItem => modelItem.Emplists[i].ID)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Name)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].EmployeeIdentity)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Designation)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].BusinessUnit)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Department)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Unit)</td>
                                                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Section)</td>
                                                                    @*<td style="font-weight:bold">@Html.DisplayFor(modelItem => modelItem.Emplists[i].AnnualLeaveDay)</td>*@
                                                                    @if (Model.Emplists[i].AnnualLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:blue; color: white;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].AnnualLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @*<td style="color:red;font-weight:bold">8</td>*@
                                                                    @if (Model.Emplists[i].TakenAnnualLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:red; color: yellow;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].TakenAnnualLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @if (Model.Emplists[i].RemainingAnnualLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:green; color:white;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].RemainingAnnualLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @*<td style="color:green;font-weight:bold">12</td>*@
                                                                    @if (Model.Emplists[i].SickLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:blue; color: white;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].SickLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @if (Model.Emplists[i].TakenSickLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:red; color: white;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].TakenSickLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @if (Model.Emplists[i].RemainingSickLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:green; color: white;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].RemainingSickLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @*<td style="color:red;font-weight:bold">6</td>
                                                                        <td style="color:green;font-weight:bold">8</td>*@
                                                                    @if (Model.Emplists[i].CasualLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:blue; color: white;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].CasualLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @if (Model.Emplists[i].TakenCasualLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:red; color: white;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].TakenCasualLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @if (Model.Emplists[i].RemainingCasualLeaveDays != null)
                                                                    {
                                                                        <td style="background-color:green; color: white;">@Html.DisplayFor(modelItem => modelItem.Emplists[i].RemainingCasualLeaveDays)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="color:greenyellow; background-color:#a5ae9d;">N/A</td>
                                                                    }
                                                                    @*<td style="color:red;font-weight:bold">10</td>
                                                                        <td style="color:green;font-weight:bold">4</td>*@
                                                                </tr>
                                                                j++;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });
        
        @*$("#Dept_ID").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#Dept_ID :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#Section_ID").empty();
                        $("#Section_ID").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#Section_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });*@

        
                $("#ddlBUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#ddlBUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlUnit").empty();
                        $("#ddlUnit").append("<option value='0' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnit").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnit").val(nUId);

                            $("#ddlUnit").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlUnit").change(function (e) {

            @*$.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet")",
                datatype: "Json",
                data: { id: $("#ddlUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlDepartment").empty();
                        $("#ddlDepartment").append("<option value='0' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDepartment").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDepartment").val(nDepartmentId);

                            $("#ddlDepartment").trigger('change');

                        }
                    }
                }
            });*@

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');
                        };
                    }
                }
            });
        });

    </script>
}

