﻿@model Erp.Core.Services.HRMS.EmployeeFormVM

@{
    ViewData["Title"] = "MaternityLeaveForm";
}


<style>
    .borderTable {
        border-collapse: collapse;
        
    }

    .borderTable td, th {
        border: 1px solid black;
        padding-left:5px;
    }
</style>
@if (Model.TestValue2 == 1)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>

                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং <br /><br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            বরাবর, <br />
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর। <br /><br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b>মাতৃত্বজনিত ছুটি পাওয়ার জন্য আবেদন।</b><br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">

                            জনাব,

                            বিনীত নিবেদন এই যে, আমি আপনার স্বনামধন্য পোষাক শিল্প প্রতিষ্ঠানে গত @Model.EmployeeInfo.JoinDate ইং তারিখ হইতে কর্মরত আছি। বর্তমানে আমার আগামী @Model.FromDate ইং তারিখ হইতে @Model.ToDate ইং তারিখ পর্যন্ত মাতৃত্বজনিত ছুটির  প্রয়োজন।

                            অতএব, মহোদয়ের নিকট আমার প্রার্থনা আমি যাহাতে মাতৃত্বজনিত ছুটি পাইতে পারি তাহার অনুমতি প্রদান পূর্বক মাতৃত্বকালীন সুবিধা প্রদান করিতে আপনার মর্জি হয়।


                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="2" height="50">
                            বিনীত
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="3" height="25">
                            <SPAN STYLE="text-decoration:overline; line-height:5px;">স্বাক্ষর</SPAN>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="3" height="25">
                            <br /> নামঃ @Model.EmployeeInfo.EmployeeName
                            <br /> কার্ড নংঃ @Model.EmployeeInfo.CardNo
                            <br /> পদবীঃ @Model.EmployeeInfo.Designation
                            <br /> সেকশনঃ @Model.EmployeeInfo.Section
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}
else if (Model.TestValue2 == 2)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr width="100%">
                        <td colspan="1">
                            Medical Officer <br />
                            Romo Fashion Today Ltd. <br />
                            Vannara Road, Mouchak, Kaliakoir, Gazipur <br />
                        </td>
                        <td rowspan="5" colspan="1">
                            @if (Model.EmployeeInfo.EmImage != null)
                            {
                                <img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.EmployeeInfo.EmImage)" id="Image1" width="200" height="250" alt="Image Not Set" />
                            }
                            else
                            {
                                if (Model.EmployeeInfo.EmGender == "Male")
                                {
                                    <img class="img-responsive full-width" src="~/ProfilePhoto/Male_Icon.jpg" id="Image1" width="150" height="200" alt="Image Not Set" />
                                }
                                else
                                {
                                    <img class="img-responsive full-width" src="~/ProfilePhoto/FemaleIcon.jpg" id="Image1" width="150" height="200" alt="Image Not Set" />
                                }
                            }
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%" style="text-align: center; border:solid;">
                        <td colspan="2" height="25">
                            <i><b>Maternity Leave Certificate</b></i>
                        </td>
                    </tr>
                    <tr width="100%" style="text-align: center; text-underline-position:below;">
                        <td colspan="2" height="40">
                            <b>To Whom It May Concern</b>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            This is to certify that @Model.EmployeeInfo.EmployeeName Age 27 Yrs. ID no @Model.EmployeeInfo.EmIdentity Designation @Model.EmployeeInfo.Designation
                            Section @Model.EmployeeInfo.Section Unit @Model.EmployeeInfo.Unit she is pregnant for 0 wks. Her LMP @Model.Date1
                            EDD @Model.EDDDate + 7days. Now according to her present condition,she may give Maternity Leave
                            from @Model.FromDate to @Model.FromDate (112 days).
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="2" height="40">
                            Her Next Joint Date will be @Model.FromDate
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="3" height="25">
                            I wish her recovery .
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="2" width="80%">
                            Doctor's Signature & Seal
                        </td>
                        <td rowspan="2" width="20%">
                            Date
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue2 == 3)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr width="100%">
                        <td colspan="1">
                            Medical Officer <br />
                            Romo Fashion Today Ltd. <br />
                            Vannara Road, Mouchak, Kaliakoir, Gazipur <br />
                        </td>
                        <td rowspan="5" colspan="1">
                            @if (Model.EmployeeInfo.EmImage != null)
                            {
                                <img class="img-responsive full-width" src="data:image/jpeg;base64,@Convert.ToBase64String(Model.EmployeeInfo.EmImage)" id="Image1" width="200" height="250" alt="Image Not Set" />
                            }
                            else
                            {
                                if (Model.EmployeeInfo.EmGender == "Male")
                                {
                                    <img class="img-responsive full-width" src="~/ProfilePhoto/Male_Icon.jpg" id="Image1" width="150" height="200" alt="Image Not Set" />
                                }
                                else
                                {
                                    <img class="img-responsive full-width" src="~/ProfilePhoto/FemaleIcon.jpg" id="Image1" width="150" height="200" alt="Image Not Set" />
                                }
                            }
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%" style="text-align: center; border:solid; border-style:outset;">
                        <td colspan="2" height="25">
                            <i><b>Maternity Leave Certificate</b></i>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            <br /><br />
                            This is to certify that @Model.EmployeeInfo.EmployeeName Age 27 Yrs. ID no @Model.EmployeeInfo.EmIdentity Designation @Model.EmployeeInfo.Designation
                            Section @Model.EmployeeInfo.Section Unit @Model.EmployeeInfo.Unit she is pregnant for 0 wks. Her LMP @Model.Date1
                            EDD @Model.EDDDate + 7days. Now according to her present condition,she may give Maternity Leave
                            from @Model.FromDate to @Model.ToDate (112 days).
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="2" height="40">
                            Her Next Joint Date will be @Model.FromDate
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="3" height="25">
                            I wish her recovery .
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="2" width="80%">
                            Doctor's Signature & Seal
                        </td>
                        <td rowspan="2" width="20%">
                            Date
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue2 == 4)
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং <br /><br /><br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            প্রতি, <br />
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর। <br /><br />
                        </td>
                        <td rowspan="5" colspan="1"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b>শ্রম আইন ২০০৬ এর ৪৫-৪৯ ধারায় মাতৃত্ব কল্যাণ আইনের আওতায় ফরম ‘খ’ এ শয্যাগত হওয়ার নোটিশ। (শ্রম আইন ২০০৬ এর ৪৫-৪৯ ধারায় )।</b> <br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">

                            খ) @Model.EDDDate ইং তারিখে সন্তান জন্ম হওয়ার সম্ভাবনা। <br /><br />

                            জনাব, <br />

                            আমি @Model.EmployeeInfo.EmployeeName নিঃনং @Model.EmployeeInfo.EmIdentity স্বামীর নামঃ @Model.EmployeeInfo.EmHName পদাবীঃ @Model.EmployeeInfo.Designation সেকশনঃ @Model.EmployeeInfo.Section লাইন নংঃ @Model.EmployeeInfo.PLName আপনার কারখানার একজন মহিলা কর্মী।

                            আমি বিগত @Model.EmployeeInfo.JoinDate ইং তারিখে অত্র কারখানায় চাকুরীতে যোগদান করিয়াছি।

                            আমি শ্রম আইন ২০০৬ এর ৪৫-৪৯ ধারায় @Model.FromDate ইং তারিখ হইতে এই মর্মে নোটিশ দিচিছ যে, অত্র নোটিশ প্রদানের তারিখ হইতে পরবর্তী  আট সপ্তাহের মধ্যে আমার শয্যাগত হওয়ার সম্ভাবনা রহিয়াছে।

                            উক্ত আইনের ৪৯ ধারার উদ্দ্যেশে আমার মৃত্যু হইলে আমার পাওনা মাতৃত্ব কল্যাণ ভাতা গ্রহনের জন্য আমি নামঃ ----------------------- সম্পর্ক ----------------- কে মনোনীত করিতেছি। <br /><br />

                            মনোনয়ন দানের তারিখ তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ।<br /><br /><br />
                            বিনীত নিবেদিকা <br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="col-md-12">
                <tbody style="width:100%; text-align:right;">
                    <tr width="100%;">
                        <td width="40%"></td>
                        <td width="40%"></td>
                        <td width="20%">
                            <p>
                                নামঃ @Model.EmployeeInfo.EmployeeName<br />
                                নিঃনং @Model.EmployeeInfo.EmIdentity
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="col-md-12">
                <tbody style="width:100%;">
                    <tr>
                        <td>
                            সন্তান প্রসব কালীন সময়ে ছুটিতে থাকাকালীন ডাক যোগাযোগের ঠিকানাঃ<br />
                            নাম &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ঃ @Model.EmployeeInfo.EmployeeName <br />
                            স্বামীর নাম &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ঃ @Model.EmployeeInfo.EmHName <br />
                            জামিনদারের নাম &nbsp;&nbsp;ঃ <br />
                            বাসস্থান &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ঃ @Model.EmployeeInfo.PresentAddress <br>
                            ডাকঘর &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ঃ<br />
                            থানা &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ঃ<br />
                            জেলা &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ঃ<br />
                            <br /><br />

                            বিঃ দ্রঃ সঠিক ভাবে তথ্য প্রদান করা হইলে কেবল মাত্র সেই ক্ষেত্রে মাতৃত্ব ছুটি প্রদান করা হইবে। অতএব নি¤েœর নিয়ম কানুন সমূহ মানিয়া চলুন নতুবা মাতৃত্ব ছুটি মঞ্জুর হইবে না।<br />
                            ১। সন্তান কবে ভূমিষ্ট হইতে পারে সেই বিষয়ে সরকারী মাতৃসদন বা হাসপাতাল অথবা এম.বি.বি.এস ডাক্তারের অথবা কারখানার মেডিকেল সেন্টার এর সার্টিফিকেট ‘খ’ ফরমের সহিত জমা দিতে হইবে।<br />
                            ২। সন্তান ভূমিষ্ট হওয়ার ৭(সাত) দিনের মধ্যে সন্তান ভূমিষ্ট হওয়ার সংবাদ ও প্রমাণ পত্র যথা মিউনিসিপাল কর্তৃপক্ষের বার্থ সার্টিফিকেট অথবা সরকারী মাতৃসদন বা হাসপাতাল অথবা এম.বি.বি.এস ডাক্তারের প্রমাণ অথবা পত্র কারখানার মেডিকেল সেন্টারের প্রমাণ পত্র কর্তৃপক্ষের নিকট ‘গ’ ফরমের সহিত পেশ করিতে হইবে।<br />
                            ৩। মাতৃত্ব ছুটি ভোগ করার সময় সংশ্লিষ্ট কর্মীর বাসস্থানের পূর্ণ ঠিকানা প্রদান করিতে হইবে যাহাতে কর্তৃপক্ষ সংশ্লিষ্ট বিষয়ের অনুসন্ধান বা খোজখবর করিতে পারেন।প্রাপ্তির স্বীকারঃ আমি @Model.EmployeeInfo.EmployeeName অদ্য তাং তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") ইং তারিখে মাতৃত্ব ছুটির ‘গ’ ফরম অত্র অফিস হইতে বুঝিয়া পাইলাম।<br />

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else if (Model.TestValue2 == 5)
{

    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr width="100%">
                        <td colspan="2" style="text-align:center;">
                            <h3><b>রোমো ফ্যাশন টুডে লিঃ</b></h3>
                            <h5 style="text-decoration:underline;"><b>ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর।</b></h5>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" style="text-align:center; text-decoration:underline;">
                            <h4>মাতৃকল্যাণ ভাতা প্রদান সুবিধাদি</h4>
                        </td>
                    </tr>
                </tbody>
                <tbody style="border-bottom:dashed;">
                    <tr width="100%">
                        <td rowspan="6" colspan="2">

                            অত্র কারখানায় কর্মরত যে সকল মহিলা কর্মী মাতৃকল্যাণ ভাতা পাওয়ার যোগ্য তারা নিম্নেলিখিত যে কোন এক পদ্ধতিতে মাতৃকল্যাণ ভাতা নিতে পারেন । <br />
                            <br />
                            <p>
                                ১। <b style="text-decoration:underline;">প্রথম পদ্ধতিঃ</b> আট(০৮) সপ্তাহের মধ্যে সন্তান প্রসবের সম্ভাবনা রয়েছে এ মর্মে একজন চিকিৎসক কর্তৃক স্বাক্ষরিত প্রত্যায়ণ পত্র পেশ করার ০৩ (তিন) দিনের মধ্যে  মাতৃকালিন সুবিধার প্রথম আট সপ্তাহের ভাতা পরিশোধ করা হবে। পরবর্তী আট সপ্তাহের পাওনা সন্তান প্রসবের প্রত্যায়ণ পত্র পেশ করার ০৩ (তিন) দিনের মধ্যে পরিশোধ করা হবে। এমন কি তিনি পুণরায় কাজে  যোগদান না করেও শুধুমাত্র সন্তান প্রসবের প্রত্যায়ণ পত্র পেশ করলে বাকী আট সপ্তাহের ভাতা পরিশোধ করা হবে । <br />
                            </p>
                            <p>
                                ২।	<b style="text-decoration:underline;">দ্বিতীয় পদ্ধতিঃ</b> প্রসবের দিনসহ প্রসবের দিন পর্যন্ত উক্ত মেয়াদের জন্য (প্রথম আট সপ্তাহ) সন্তান প্রসবের প্রত্যায়ণপত্র পেশ করার  ০৩ (তিন) দিনের মধ্যে প্রথম আট সপ্তাহের মার্তৃকল্যাণ ভাতা পরিশোধ করা হবে। অবশিষ্ট ৮ সপ্তাহের ভাতার জন্য তিনি যে সন্তান প্রসব করেছেন অনুরূপ প্রমাণ পত্র পেশ করার আট সপ্তাহের মধ্যে পরিশোধ করা হবে । <br />

                            </p>
                            <p>
                                ৩।	<b style="text-decoration:underline;">তৃতীয় পদ্ধতিঃ</b>  উপরোক্ত স¤পুর্ন মেয়াদের (১৬ সপ্তাহ) মাতৃকল্যাণ সুবিধার জন্য তিনি যে সন্তান প্রসব করেছেন এ মর্মে প্রমাণ পত্র পেশ করার ০৩ (তিন) দিনের মধ্যে পরিশোধ করা হবে । <br />

                            </p>

                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" style="text-align:center; text-decoration:underline;"><h4><b>প্রত্যায়ন পত্র</b> </h4></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2">
                            <br />
                            আমি @Model.EmployeeInfo.EmployeeName পদবী @Model.EmployeeInfo.Designation কার্ড নং @Model.EmployeeInfo.CardNo সেকশন @Model.EmployeeInfo.Section, লাইন @Model.EmployeeInfo.EmHName, এই মর্মে প্রত্যায়ণ করিতেছি যে, আমাকে ------------------- আমার বোধগম্য ভাষায় মাতৃকল্য্যণ সুবিধাসমূহ ও মাতৃকল্যাণ সুবিধা প্রদানের তিনটি পদ্ধতি সম্পর্ক ভালভাবে বুঝিয়েছেন এবং আমি তা ভালোভাবে বুঝিয়া স্বেচছায় ----------পদ্ধতিতে মাতৃকালিন সুবিধা ভাতা নেয়ার ইচছা পোষন করে নিম্নেস্বাক্ষর করিলাম। <br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody style="border-bottom:solid;">
                    <tr style="width:100%">
                        <td width="70%">

                            তারিখঃ <br />

                        </td>
                        <td width="30%">
                            স্বাক্ষর/টিপসহি : <br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" style="text-align:center; text-decoration:underline;"><h4><b>প্রত্যায়ন পত্র </b></h4></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr style="width:100%">
                        <td rowspan="6" colspan="2">
                            আমি @Model.EmployeeInfo.EmployeeName পদবী @Model.EmployeeInfo.Designation কার্ড নং @Model.EmployeeInfo.CardNo সেকশন @Model.EmployeeInfo.Section লাইন @Model.EmployeeInfo.PLName, এই মর্মে প্রত্যায়ণ করিতেছি যে, মাতৃকালিন প্রথম ৮ সপ্তাহের ছুটিতে যাওয়ার পূর্বে ------------------- আমাকে পরবর্তী/বাকী ৮ সপ্তাহের মাতৃকালিন ভাতা পাওয়ার জন্য করনীয় বিষয় স¤পর্কে বিস্তারিত বুঝিয়েছেন এবং আমি তা বুঝে নিম্নে স্বাক্ষর/টিপসহি করলাম ।
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}
else if (Model.TestValue2 == 6)
{

    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        <td>
                            তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy") <br />
                        </td>
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            বরাবর, <br />

                            পরিচালক  <br />
                            রোমো ফ্যাশন টুডে লিঃ  <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর।  <br /><br />
                        </td>
                        <td rowspan="5" colspan="1"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b> মাতৃকালিন ভাতা পাওয়ার আবেদন ।</b> <br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            <br />

                            জনাব,<br />

                            আমি @Model.EmployeeInfo.EmployeeName কার্ড-নং @Model.EmployeeInfo.CardNo সেকশন/লাইন @Model.EmployeeInfo.Section। আগামী  @Model.FromDate ইং তারিখ  হতে @Model.ToDate ইং তারিখ পর্যন্ত  সর্বমোট ১১২ দিন  মাতৃকালিন ছুটিতে যাচিছ।
                            অতএব, আমাকে প্রথম কিস্তি মাতৃকালিন ভাতা প্রদান করে কৃতজ্ঞ করবেন ।

                            <br /><br />


                            তারিখঃ ----------------------------- ইং
                            <br /><br />


                            ( আবেদনকারীর স্বাক্ষর ) <br /><br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="col-md-12">
                <tbody style="width:100%">
                    <tr width="100%" style="text-align: center; border:solid; border-style:outset;">
                        <td colspan="2" height="25">
                            <b>অফিস কর্তৃক পূরণীয়</b>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr style="width:100%">
                        <td width="100%">
                            <br />
                            প্রতিষ্ঠানে যোগদানের তারিখ @Model.EmployeeInfo.JoinDate ইং 	বর্তমান মোটবেতনঃ @Model.EmployeeInfo.TotalSalary টাকা
                            সম্ভাব্য প্রসবের তারিখ পর্যন্ত চাকুরিকাল @Model.EmployeeInfo.Year বছর @Model.EmployeeInfo.Month মাস @Model.EmployeeInfo.Day দিন।	দৈনিক বেতনঃ @Model.EmployeeInfo.BasicSalary/30 টাকা
                            প্রথম কিস্তির টাকার পরিমান ঃ ------------------ টাকা
                            যা @Model.PaymentDate ইং তারিখের মধ্যে প্রদেয়।
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="col-md-12">

                <tbody>
                    <tr style="width:100%">
                        <td width="40%">প্রশাসন</td>
                        <td width="40%">মানব  সম্পদ ও কমপ্লায়েন্স</td>
                        <td width="20%">পরিচালক/ নির্বাহী পরিচালক</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}
else if (Model.TestValue2 == 7)
{

    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12">
                <tbody>
                    <tr>
                        তারিখঃ @DateTime.Now.ToString("dd/MM/yyyy")
                    </tr>
                    <tr width="100%">
                        <td colspan="1">
                            বরাবর, <br />
                            পরিচালক <br />
                            রোমো ফ্যাশন টুডে লিঃ <br />
                            ভান্নারা রোড, মৌচাক, কালিয়াকৈর, গাজীপুর। <br /><br /><br />
                        </td>
                        <td rowspan="5" colspan="1"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%" style="text-align: center; border-bottom:solid;">
                        <td colspan="2" height="25">
                            বিষয়ঃ <b>
                                মাতৃত্ব কল্যাণ ছুটির জন্য সংশ্লিষ্ট বাংলাদেশ শ্রম আইন ২০০৬ এর ফরম ‘গ’ এ আবেদন পত্র।
                                (শ্রম আইন ২০০৬ এর ৪৫-৪৯ ধারায়।)
                            </b>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td rowspan="6" colspan="2">
                            <br />
                            জনাব,<br />
                            আমি @Model.EmployeeInfo.EmployeeName নিঃনং @Model.EmployeeInfo.EmIdentity পদবী @Model.EmployeeInfo.Designation লাইন @Model.EmployeeInfo.PLName, অত্র কারখানার একজন কর্মী। আমি বাংলাদেশ শ্রম আইন ২০০৬ সালের (৪৫-৪৯) অনুচ্ছেদের অধীনে এতদ্বারা নোটিশ দিতেছি যে, আমি গত @Model.EDDDate ইংরেজী তারিখে একটি ------------- সন্তান প্রসব করিয়াছি।

                            উক্ত আইনের ৪৯ ধারার উদ্দেশ্য আমার মৃত্যু হইলে আমার পাওনা মাতৃত্ব কল্যাণ ভাতা গ্রহণের জন্য আমি এতদ্বারা নাম ------------------------------------- স¤পর্ক ------------------ কে মনোনীত করিতেছি।<br /><br />
                            মনোনয়ন দানের তারিখঃ --------------------------------ইং<br /><br />


                            বিনীত নিবেদিকা<br /><br />


                            নামঃ @Model.EmployeeInfo.EmployeeName <br />
                            নিঃ নং @Model.EmployeeInfo.EmIdentity <br />

                            সন্তান প্রসব কালীন সময়ে ছুটিতে থাকা কালীন ডাক যোগাযোগের ঠিকানাঃ<br />
                            নামঃ @Model.EmployeeInfo.EmployeeName <br />
                            স্বামীর নামঃ @Model.EmployeeInfo.EmHName <br />
                            জামিনদারের নামঃ <br />
                            বাসস্থানঃ <br />
                            ডাকঘরঃ <br />
                            থানাঃ <br />
                            জেলাঃ <br />
                            <br /><br />
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr>
                        <td>
                            বিঃদ্রঃ <br /> ১। সন্তান ভূমিষ্ট হওয়ার ৭ (সাত) দিনের মধ্যে সন্তান ভূমিষ্ট হওয়ার সংবাদ ও প্রমাণ পত্র যথা মিউনিসিপাল কর্তৃপক্ষের বার্থ সার্টিফিকেট অথবা সরকারী মাতৃসদন বা হাসপাতাল অথবা এম. বি. বি. এস. ডাক্তারের প্রমাণ পত্র কর্তৃপক্ষের নিকট ‘গ’ ফরম এর সহিত পেশ করিতে হইবে।<br />
                            ২। মাতৃত্ব ছুটি ভোগ করার সময় সংশ্লিষ্ট কর্মীর বাসস্থানের পুর্ন ঠিকানা প্রদান করিতে হইবে যাহাতে কর্তৃপক্ষ সংশ্লিষ্ট বিষয়ে অনুসন্ধান বা খোঁজখবর করিতে পারেন।
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

}
else
{
    <div class="col-md-12">
        <div class="container">
            <table class="col-md-12" style="width:100%;">
                <tbody style="width:100%;">
                    <tr width="100%">
                        <td colspan="2" style="text-align:center;">
                            <h3><b>ROMO FASHION TODAY LTD.</b></h3>
                            <h5 style="text-decoration:underline;"><b>Vannara Road, Mouchak, Kaliakoir,Gazipur</b></h5>
                        </td>
                    </tr>
                </tbody>
                <tbody>
                    <tr width="100%">
                        <td colspan="2" style="text-align:center; text-decoration:underline;">
                            <h4>Disbursement Slip of Maternity Leave Benefit</h4>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br />

            <table class="col-md-12 borderTable" style="width:100%;">
                <tbody style="width:100%;">
                    <tr>
                        <td width="40%">Name</td>
                        <td width="60%"></td>
                    </tr>
                    <tr>
                        <td>Designation</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>ID. No.</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Joining Date</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Job Duration upto EDD</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Section</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Name of Nominee</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Relations of Nominee</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Date of Leave Started</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Expected Date of Delivery</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Date of Leave Ended</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Paid for Days</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Date of Payment</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Payment Type</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>First Payment</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Gross Salary</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <br />
            <br />
            <table class="col-md-12 borderTable" style="width:100%;">
                <thead style="width:100%;">
                    <tr>
                        <th colspan="7" style="text-align:center; font-size: large;">Last Three(3) Month Salary Payment Status</th>
                    </tr>
                    <tr>
                        <th colspan="1">Months</th>
                        <th colspan="1">Actual Attendence Days</th>
                        <th colspan="1">Monthly Wages</th>
                        <th colspan="1">Festival Bonus</th>
                        <th colspan="1">Attendence Bonus</th>
                        <th colspan="1">O.T Taka</th>
                        <th colspan="1">Amount in Taka</th>
                    </tr>
                </thead>
                <tbody style="width:100%;"></tbody>
            </table>
            <br />

            <table class="col-md-12 borderTable" style="width:100%;">
                <thead style="width:100%;">
                    <tr>
                        <th>Total Payable Amount = (112 Days *538.94 ) /2= 30,181.00TK Only</th>
                    </tr>
                    <tr>
                        <th>Deduct Stamp Charge = 10.00TK Only</th>
                    </tr>
                    <tr>
                        <th>Net Payable Amount =30,171.00TK Only</th>
                    </tr>
                </thead>
            </table>
            Total Taka In Word :Thirty Thousand One Hundred and SeventyOne Taka Only

            <br />
            <br /><br /><br />
            <table style="width:100%;">
                <tr>
                    <td width="20%">Prepared By</td>
                    <td width="20%">HR & Compliance</td>
                    <td width="20%">Admin</td>
                    <td width="20%">Approved By</td>
                    <td width="20%">Received By</td>
                </tr>
            </table>
        </div>
    </div>
}