﻿@model Erp.Core.Services.HRMS.VMOffDay
@{
    ViewData["Title"] = "OffdayAssign";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Assign Offday:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        @using (Html.BeginForm("OffdayAssign", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.AntiForgeryToken();
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.error)
                            @Html.HiddenFor(model => model.OId)
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Title, new { @class = "control-label " })&nbsp;
                                            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @Required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Description, new { @class = "control-label " })&nbsp;
                                            @Html.TextBoxFor(model => model.Description, new { id = "txtDescription", @class = "form-control", @Required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ApplicableDate, new { @class = "control-label " })&nbsp;
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.ApplicableDate, "{0:dd/MM/yyyy}", new { @id = "first", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ApplicableDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.ReplacementDate, new { @class = "control-label " })&nbsp;
                                            <div class="input-group date">
                                                @Html.TextBoxFor(model => model.ReplacementDate, "{0:dd/MM/yyyy}", new { @id = "second", @class = "form-control", autocomplete = "off" })
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            @Html.ValidationMessageFor(model => model.ReplacementDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group" style="margin-top:25px">
                                            @if (Model.ID != 0)
                                            {
                                                <input type="submit" value="Update Offday" id="btnemployeeleaveassign" class="btn btn-primary" />
                                            }
                                            else
                                            {
                                                <input type="submit" value="Assign Offday" id="btnemployeeleaveassign" class="btn btn-primary" />
                                            }
                                            @Html.ActionLink("Cancel", "OffdayAssign", "HRMS", new { id = 0 }, new { @class = "btn btn-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="box-header">
                                        <h3 class="box-title">Offday List</h3>
                                    </div>
                                    <!-- /.box-header -->
                                    <div class="box-body no-padding">
                                        <table id="tableX" class="table table-striped">
                                            <thead>
                                                <tr style="background-color: #DFF0D8;">
                                                    <th style="width: 10%">SL</th>
                                                    <th style="width: 20%">Title</th>
                                                    <th style="width: 40%">Description</th>
                                                    <th style="width: 10%">Offday</th>
                                                    <th style="width: 10%">Replacement Date</th>
                                                    <th style="width: 10%; background-color: yellow;" class="hidden-print no-print">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{ var i = 1;}
                                                @foreach (var item in ViewBag.Offdays)
                                                {
                                                    <tr>
                                                        <td>@i</td>
                                                        <td>@item.Title</td>
                                                        <td>@item.Description</td>
                                                        <td>@item.ApplicableDate.ToString("dd/MM/yyyy")</td>
                                                        <td>
                                                            @if (item.ReplacementDate != null)
                                                            {@item.ReplacementDate.ToString("dd/MM/yyyy")}
                                                        </td>
                                                        <td style="background-color: khaki;" class="hidden-print no-print">
                                                            <a title="Edit"
                                                               data-placement="top" href="@Url.Action("OffdayAssign", "HRMS", new { id=item.ID})">
                                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                            </a>
                                                            <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@item.ID" data-toggle="modal" data-target="#myModal"
                                                               data-tooltip="tooltip" title="Delete" data-placement="top">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    i++;
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!-- Alert -->
                <div class="modal" tabindex="-1" role="dialog" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            @if (Model.error != "")
                            {
                                <div class="modal-body" style="color: red;">
                                    <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            }
                            else
                            {
                                <div class="modal-body" style="color: red;">
                                    <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" data-dismiss="modal">No</a>
                                    <a class="btn btn-success" id="DeleteO"
                                       data-tooltip="tooltip" title="Delete" data-placement="top">
                                        Yes
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts{ 

    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#first').datepicker({ autoclose: true })

            if ($('#error').val() != '') {
                $('#myModal').modal('show');
            }

        });


        $('#first').on('change', function () {
            var date = new Date($('#first').val());
            date.setDate(date.getDate());

            $("#second").datepicker("destroy");
            $('#second').datepicker({
                //format: "dd/mm/yyyy",
                orientation: "auto",
                startDate: date,
                autoclose: true
                //clearBtn: true
            });
        });

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("OId").value = passedID;
            var id = document.getElementById("OId").value;
            console.log(id);
        });

        $("#DeleteO").on('click', function () {
            var Id = document.getElementById("OId").value;            
            $.post('@Url.Action("DeleteOffDay","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });
    </script>
}


