﻿@model Erp.Core.Services.HRMS.VMLeaveApplication
@{
    ViewData["Title"] = "PersonalLeaveApplication";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Leave Application:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        @using (Html.BeginForm("PersonalLeaveApplication", "HRMS", FormMethod.Post, new { @class = "formValidator" }))
                        {
                            @Html.AntiForgeryToken();
                            @Html.HiddenFor(model => model.EmployeeId, new { @id = "EmployeeId" })
                            @Html.HiddenFor(m => m.JoiningDate);
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div style="background-color:#e8e5b3;">
                                            <div class="col-md-5" style="background-color: #e8e5b3;">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.LeaveTypeId, htmlAttributes: new { @class = "control-label" })
                                                        @Html.DropDownListFor(model => model.LeaveTypeId, ViewBag.LeaveTypeList as IEnumerable<SelectListItem>,
                                      "Select Leave Type", new { id = "ddlleaveType", @class = "form-control searchingDropdown", @Required = "required" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.LeaveTypeId, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.LeavePaidType, new { @class = "control-label " })
                                                        @Html.DropDownListFor(model => model.LeavePaidType, ViewBag.LeavePaidTypeList as IEnumerable<SelectListItem>, new { @class = "form-control searchingDropdown" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.LeavePaidType, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label" })
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(model => model.From, new { id = "first", Value = "", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label" })
                                                        <div class="input-group date">
                                                            @Html.TextBoxFor(model => model.To, new { id = "second", Value = "", @class = "form-control", autocomplete = "off", @Required = "required" })
                                                            <span class="input-group-addon">
                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.TotalDays, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.TotalDays, new { htmlAttributes = new { id = "TotalDays", @class = "form-control", @readonly = "readonly", @onfocus = "blur()" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.TotalDays, "", new { @class = "text-danger" })
                                                </div>


                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Purpose, htmlAttributes: new { @class = "control-label" })
                                                        @Html.TextBoxFor(model => model.Purpose, new { Value = "", @class = "form-control", @Required = "required" })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Purpose, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-7" id="infoTable">
                                                <div class="col-md-6" style="background-color: #7bb9a0; color: white;">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <td colspan="2"><h4><b>Employee Information</b></h4></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="infoTbody"></tbody>
                                                    </table>
                                                </div>
                                                <div class="col-md-6" style="background-color: #808080; color: white;">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <td colspan="4"><h4><b>Leave Information</b></h4></td>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="leaveTbody"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-12" style="background-color: #e8e5b3">
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.StayDuringLeave, htmlAttributes: new { @class = "control-label" })
                                                    @Html.TextBoxFor(model => model.StayDuringLeave, new { Value = "", @class = "form-control", @Required = "required" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.StayDuringLeave, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.ReplacementEmployeeId, htmlAttributes: new { @class = "control-label" })
                                                    @Html.DropDownListFor(model => model.ReplacementEmployeeId, ViewBag.EmployeeCardList as IEnumerable<SelectListItem>,
                                     "Select Employee For Replacement", new { @class = "form-control  searchingDropdown" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.ReplacementEmployeeId, "", new { @class = "text-danger" })
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label" })
                                                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" style="width:100%" value="Submit Application" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Submit Application</button>
                                    </div>
                                </div>
                                <!-- Alert -->
                                <div class="modal" tabindex="-1" role="dialog" id="myModal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body" style="color: red;">
                                                <p><h3><i class="fa fa-warning" style="font-size:38px;color:red"></i> Are you sure to Submit?</h3></p>
                                            </div>
                                            <div class="modal-footer">
                                                <a class="btn btn-danger" data-dismiss="modal">No</a>
                                                <button type="submit" value="Yes" class="btn btn-primary">Yes</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#first').datepicker({ autoclose: true })
            //$('#second').datepicker({ autoclose: true });
            var Id = $("#EmployeeId").val();
            console.log(Id);


            $.get("GetEmployeeInfo", { id: Id }, function (res) {
                $("#JoiningDate").val(res.JoinDate);
                var d = res.JoinDate.slice(0, 10).split('-');
                $('#infoTbody').empty();
                $("#infoTbody")
                    .append("<tr><td width='50%'>Name: </td><td width='50%'>" + res.EmployeeName + "</td></tr>" +
                        "<tr><td>Unit: </td><td>" + res.Unit + "</td></tr>" +
                        "<tr><td>Designation: </td><td>" + res.Designation + "</td></tr>" +
                        "<tr><td>Department: </td><td>" + res.Department + "</td></tr>" +
                        "<tr><td>Section: </td><td>" + res.Section + "</td></tr>" +
                        "<tr><td>Joining Date: </td><td>" + d[2] + '/' + d[1] + '/' + d[0] + "</td></tr>");
            });

            $.get("GetEmployeeLeaveInfo", { id: Id }, function (res) {
                $("#leaveTbody").empty();
                if (res != null) {
                    $("#leaveTbody")
                        .append("<tr><th width='25%'>Type</th><th width='25%'>Total</th width='25%'><th>Taken</th><th width='25%'>Remaining</th> " +
                            "</tr ><tr><td>Annual: </td><td>" + res.AnnualLeaveDays + "</td><td>" + res.TakenAnnualLeaveDays + "</td><td>" + (res.AnnualLeaveDays - res.TakenAnnualLeaveDays) + "</td></tr>" +
                            "'<tr><td>Taken: </td><td>" + res.CasualLeaveDays + "</td><td>" + res.TakenCasualLeaveDays + "</td><td>" + (res.CasualLeaveDays - res.TakenCasualLeaveDays) + "</td></tr>'" +
                            "'<tr><td>Casual: </td><td>" + res.SickLeaveDays + "</td><td>" + res.TakenSickLeaveDays + "</td><td>" + (res.SickLeaveDays - res.TakenSickLeaveDays) + "</td></tr>'"
                        );
                }

                //else {
                //    $("#leaveTbody")
                //        .append("<tr><th width='50%'>Type</th><th width='50%'>Total</th><th width='50%'>Taken</th><th width='50%'>Remaining</th></tr >" +
                //            "<tr><td>Annual: </td><td> N/A </td><td> N/A </td><td> N/A </td></tr>" +
                //            "'<tr><td>Taken: </td><td> N/A </td><td> N/A </td><td> N/A </td></tr>'" +
                //            "'<tr><td>Casual: </td><td> N/A </td><td> N/A </td><td> N/A </td></tr>'"
                //        );
                //}
            });
        });

        $('#first').on('change', function () {
            var date = new Date($('#first').val());
            date.setDate(date.getDate());

            $("#second").datepicker("destroy");
            $('#second').datepicker({
                orientation: "auto",
                startDate: date,
                autoclose: true
            });
        });

        $("#first, #second").on('change', function () {

            var start = new Date($('#first').val());
            var end = new Date($('#second').val());

            // end - start returns difference in milliseconds
            var diff = new Date(end - start);

            // get days
            var days = diff / 1000 / 60 / 60 / 24;

            document.getElementById("TotalDays").value = Math.round(days) + 1;
        })

        function PersonalLeaveApplication() {
            return confirm('Sure to Submit?');
        }
    </script>
}


