﻿@model Erp.Core.Services.HRMS.HRMSPostOfficeVM
@{
    ViewData["Title"] = "HRMS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Post Office Setup:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("PostOfficeSetup", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.error)
                            @Html.HiddenFor(model => model.POId)
                            <div class="box-body">
                                <!--Body Will by Start Here-->
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Country:</label>
                                            @Html.DropDownListFor(model => model.CountryId, Model.CountryList, "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.CountryId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">District:</label>
                                            @Html.DropDownListFor(model => model.DistrictId, Model.DistrictList, "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.DistrictId, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Police Station:</label>
                                            @Html.DropDownListFor(model => model.PoliceStationId, Model.PoliceStationList, "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.PoliceStationId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ddLStore" class="col-form-label">Post Office:</label>
                                            @Html.TextBoxFor(model => model.Name, "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="ddLStore" class="col-form-label">Post Code:</label>
                                            @Html.TextBoxFor(model => model.Code, "", new { @class = "form-control", required = "required", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4 pull-right" style="padding-top:25px">
                                        @if (Model.ID != 0)
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                        }
                                        @Html.ActionLink("Cancel", "PostOfficeSetup", "HRMS", new { id = 0 }, new { @class = "btn btn-danger" })
                                        @*<button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Cancel</button>*@
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr style="background-color: #DFF0D8;">
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th>Country</th>
                                <th>District</th>
                                <th>Police Station</th>
                                <th>Post Office</th>
                                <th>Post Code</th>
                                <th style="background-color: yellow;">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @foreach (var i in Model.DataList)
                            {
                                <tr>
                                    <td>@sl</td>
                                    <td class="hidden">@i.ID</td>
                                    <td>@i.CountryName</td>
                                    <td>@i.DistrictName</td>
                                    <td>@i.PoliceStationName</td>
                                    <td>@i.PostOfficeName</td>
                                    <td>@i.PostCode</td>
                                    <td style="background-color: khaki;">
                                        <a data-placement="top" href="@Url.Action("PostOfficeSetup", "HRMS", new { id = i.ID } )">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </a>
                                        <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@i.ID" data-toggle="modal" data-target="#myModal"
                                           data-tooltip="tooltip" title="Delete" data-placement="top">
                                        </a>
                                    </td>
                                </tr>
                                sl++;
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <!-- Alert -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @if (Model.error != "")
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    }
                    else
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal">No</a>
                            <a class="btn btn-success" id="DeleteCS"
                               data-tooltip="tooltip" title="Delete" data-placement="top">
                                Yes
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        var nBUId, nUId, nDepartmentId;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();

            $(document).ready(function () {
                if ($('#error').val() != '') {
                    $('#myModal').modal('show');
                }
            })
        });

        $("#CountryId").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("DistrictGet")",
                datatype: "Json",
                data: { id: $("#CountryId :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#DistrictId").empty();
                        $("#DistrictId").append("<option value='' selected>Select District </option>");
                        $(data).each(function (index, item) {
                            $("#DistrictId").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#DistrictId").val(nDepartmentId);

                            $("#DistrictId").trigger('change');

                        }
                    }
                }
            });
        });

        $("#DistrictId").change(function (e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("PoliceStationGet")",
                datatype: "Json",
                data: { id: $("#DistrictId :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#PoliceStationId").empty();
                        $("#PoliceStationId").append("<option value='' selected>Select Police Station </option>");
                        $(data).each(function (index, item) {
                            $("#PoliceStationId").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#PoliceStationId").val(nDepartmentId);

                            $("#PoliceStationId").trigger('change');

                        }
                    }
                }
            });
        });

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("POId").value = passedID;
            var id = document.getElementById("POId").value;
            console.log(id);
        });

        $("#DeleteCS").on('click', function () {
            var Id = document.getElementById("POId").value;
            $.post('@Url.Action("DeletePostOffice","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });

    </script>
}


