﻿
@model Erp.Core.Services.HRMS.VMServiceBenefitCalculation
@{
    ViewData["Title"] = "ServiceBenefitCalculationList";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Service Benifit Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("ServiceBenefitCalculationList", "HRMS", FormMethod.Post, new { }))
                                    {
                                        @Html.AntiForgeryToken();
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.From, htmlAttributes: new { @class = "control-label" })
                                                <div class="input-group date">
                                                    @Html.TextBoxFor(model => model.From, new { id = "first", @class = "form-control", autocomplete = "off" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.From, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.To, htmlAttributes: new { @class = "control-label" })
                                                <div class="input-group date">
                                                    @Html.TextBoxFor(model => model.To, new { id = "second", @class = "form-control", autocomplete = "off" })
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                @Html.ValidationMessageFor(model => model.To, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" style="margin-top:25px">
                                                <input type="submit" value="Load Employees" id="btnviewshift" class="btn btn-primary pull-right" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <div class="box-header bg-success">
                                            <h3 class="box-title"><b>Employee List</b></h3>
                                        </div>
                                        <!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="table-responsive">
                                                <table id="tableX" class="table table-striped nowrap">
                                                    <thead class="bg-success">
                                                        <tr>
                                                            <th class="hidden"></th>
                                                            <th>Section</th>
                                                            <th>Employee ID</th>
                                                            <th>Name</th>
                                                            <th>Designation</th>
                                                            <th>Joining Date</th>
                                                            <th>Resignation Date</th>
                                                            <th>Year</th>
                                                            <th>Month</th>
                                                            <th>Day</th>
                                                            <th>Payable Service Benefit Days</th>
                                                            <th>Present Salary</th>
                                                            <th>Present Basic</th>
                                                            <th>Basic Per Day</th>
                                                            <th>Total Amount</th>
                                                            <th>Stamp</th>
                                                            <th>Payable Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.VMServiceBenefitCalculationLists != null)
                                                        {
                                                            for (var i = 0; i < Model.VMServiceBenefitCalculationLists.Count; i++)
                                                            {
                                                        <tr>
                                                            <td hidden>@Html.HiddenFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].ID)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Section)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].EmployeeIdentity)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Designation)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].JoiningDate, "{0:dd/MM/yyyy}", new { })</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].ResignationDate, "{0:dd/MM/yyyy}")</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Year)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Month)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Day)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PayableServiceBenifitDays)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PresentSalary)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PresentBasic)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PresentBasicPerDay)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].TotalAmount)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Stamp)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PayableAmount)</td>
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#first').datepicker({ autoclose: true })
            $('#second').datepicker({ autoclose: true });
        });

        $("#MainCheckbox").click(function () {
            if ($(this).is(':checked')) {
                $(".checkBoxClass").prop('checked', true);
            }
            else {
                $(".checkBoxClass").prop('checked', false);
            }
        });

    </script>
}