﻿@model Erp.Core.Services.HRMS.VMServiceBenefitCalculation
@{
    ViewData["Title"] = "EarnLeaveCalculation";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Service Benefit Calculation:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("ServiceBenefitCalculation", "HRMS", FormMethod.Post, new { }))
                                    {
                                        @Html.AntiForgeryToken();
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.EmployeeID, new { @class = "control-label " })&nbsp;
                                                &nbsp; <span><i class="ion-star font-red"></i></span>
                                                @Html.DropDownListFor(model => model.EmployeeID, ViewBag.EmployeeList as IEnumerable<SelectListItem>,
                                                  "Select Employee", new { @class = "form-control searchingDropdown" })
                                                @Html.ValidationMessageFor(model => model.EmployeeID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group" style="margin-top:25px">
                                                <input type="submit" value="View Service Benefit" id="btnviewBenefit" class="btn btn-primary pull-right" />
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @using (Html.BeginForm("AddEmployeeServiceBenefit", "HRMS", FormMethod.Post, new { id = "ServiceBenefitList" }))
                                    {
                                        <div class="box">
                                            <div class="box-header bg-success">
                                                <h3 class="box-title"><b>Service Benefit Information</b></h3>
                                                <input type="submit" value="Save Service Benefit" id="btnEmployeesServiceBenefit" class="btn btn-primary pull-right" />
                                            </div>
                                            <!-- /.box-header -->
                                            <div class="box-body">
                                                <div class="table-responsive">
                                                    <table id="tableX" class="table table-striped nowrap">
                                                        <thead class="bg-success">
                                                            <tr>
                                                                @*<th style="width: 2%">
                    <input type="checkbox" id="MainCheckbox" />
                </th>*@
                                                                <th class="hidden"></th>
                                                                <th>Section</th>
                                                                <th>Employee ID</th>
                                                                <th>Name</th>
                                                                <th>Designation</th>
                                                                <th>Joining Date</th>
                                                                <th>Resignation Date</th>
                                                                <th>Year</th>
                                                                <th>Month</th>
                                                                <th>Day</th>
                                                                <th>Payable Service Benefit Days</th>
                                                                <th>Present Salary</th>
                                                                <th>Present Basic</th>
                                                                <th>Basic Per Day</th>
                                                                <th>Total Amount</th>
                                                                <th>Stamp</th>
                                                                <th>Payable Amount</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            @if (Model.VMServiceBenefitCalculationLists != null)
                                                            {
                                                                for (var i = 0; i < Model.VMServiceBenefitCalculationLists.Count; i++)
                                                                {
                                                            <tr>
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].ID)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].Section)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].EmployeeIdentity)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].Name)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].Designation)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].JoiningDate)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].ResignationDate)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].Year)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].Month)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].Day)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].PayableServiceBenifitDays)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].PresentSalary)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].PresentBasic)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].PresentBasicPerDay)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].TotalAmount)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].Stamp)
                                                                @Html.HiddenFor(model => model.VMServiceBenefitCalculationLists[i].PayableAmount)

                                                                <td hidden>@Html.HiddenFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].ID)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Section)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].EmployeeIdentity)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Name)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Designation)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].JoiningDate, "{0:dd/MM/yyyy}", new { })</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].ResignationDate, "{0:dd/MM/yyyy}")</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Year)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Month)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Day)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PayableServiceBenifitDays)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PresentSalary)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PresentBasic)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PresentBasicPerDay)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].TotalAmount)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].Stamp)</td>
                                                                <td>@Html.DisplayFor(modelItem => modelItem.VMServiceBenefitCalculationLists[i].PayableAmount)</td>
                                                            </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    <script>
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#first').datepicker({ autoclose: true })
            $('#second').datepicker({ autoclose: true });
        });

        $("#MainCheckbox").click(function () {
            if ($(this).is(':checked')) {
                $(".checkBoxClass").prop('checked', true);
            }
            else {
                $(".checkBoxClass").prop('checked', false);
            }
        });
    </script>
}

