﻿@model Erp.Core.Services.HRMS.VMShiftAssign
@{
    ViewData["Title"] = "Shift Assign";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Assign Shift:
                </h4>
            </div>
            <!-- /.box-header -->


            <div class="box">
                <div class="box-body">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Filter by:</h3>
                        </div>
                        <div class="box-body no-padding">
                            <form id="frmFilter" asp-action="ShiftAssign" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true">
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMBusinessUnitID" class="control-label"></label>
                                        <select id="ddlBUnit" asp-for="VMBusinessUnitID" asp-items="Model.BusinessUnitList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Business Unit</option>
                                        </select>
                                        <span asp-validation-for="VMBusinessUnitID" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMUnitID" class="control-label"></label>
                                        <select id="ddlUnit" asp-for="VMUnitID" asp-items="Model.UnitList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Unit</option>
                                        </select>
                                        @*<span asp-validation-for="VMUnitID" class="text-danger"></span>*@


                                    </div>

                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMSectionID" class="control-label"></label>
                                        <select id="ddlSection" asp-for="VMSectionID" asp-items="Model.SectionList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Section</option>
                                        </select>
                                        <span asp-validation-for="VMSectionID" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">


                                        <label asp-for="VMDepartmentID" class="control-label"></label>
                                        <select id="ddlDepartment" asp-for="VMDepartmentID" asp-items="Model.DepartmentList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Department</option>
                                        </select>
                                        <span asp-validation-for="VMDepartmentID" class="text-danger"></span>


                                    </div>

                                </div>
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-12 form-group">
                                        <input type="submit" value="Search" class="btn btn-primary pull-right" />
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <form id="frmAssign" asp-action="ShiftAssignOperation" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Shift:</h3>
                            </div>
                            <div class="box-body no-padding">
                                <input asp-for="ID" type="hidden" />
                                <input asp-for="ActionId" type="hidden" />
                                <input asp-for="VMBusinessUnitID" type="hidden" />
                                <input asp-for="VMDepartmentID" type="hidden" />
                                <input asp-for="VMUnitID" type="hidden" />
                                <input asp-for="VMSectionID" type="hidden" />
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMShiftID" class="control-label"></label>
                                        <select asp-for="VMShiftID" asp-items="Model.ShiftList" class="form-control searchingDropdown" required>
                                            <option value="" selected>Select Shift</option>
                                        </select>
                                        <span asp-validation-for="VMShiftID" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="StartDate" class="control-label"></label>

                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        <div class="input-group date">
                                            <input asp-for="StartDate" type="text" value="@Model.StartDateControlString" class="form-control" id="first" autocomplete="off" required />

                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="StartDate" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label asp-for="EndDate" class="control-label"></label>

                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        <div class="input-group date">
                                            <input asp-for="EndDate" type="text" value="@Model.EndDateControlString" class="form-control" id="second" autocomplete="off" required />

                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="EndDate" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-3 form-group" style="margin-top:25px;">
                                        <input type="submit" value="Assign" class="btn btn-primary pull-right" onclick=" if (!$('.checkBoxClass').filter(':checked') || $('.checkBoxClass').filter(':checked').length <= 0) { alert('Select at-least one Employee!'); return false; }" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Employee List</h3>

                            </div>
                            <!-- /.box-header -->
                            <div class="box-body no-padding">
                                <table id="tableA" class="table table-striped nowrap">
                                    <thead>
                                        <tr>
                                            <th style="width: 5%">
                                                <input type="checkbox" id="MainCheckbox" onchange="$('.checkBoxClass').prop('checked', $(this).is(':checked'));" />
                                            </th>
                                            <th style="width: 25%">Name</th>
                                            <th style="width: 10%">Employee ID</th>
                                            <th style="width: 15%">Designation</th>
                                            <th style="width: 15%">Business Unit</th>
                                            <th style="width: 10%">Department</th>
                                            <th style="width: 10%">Unit</th>
                                            <th style="width: 10%">Section</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (int i = 0; i < Model.DataList.Count; i++)
                                        {
                                            <tr>
                                                <td>
                                                    <input asp-for="@Model.DataList[i].VMEmployeeID" type="hidden" />
                                                    <input asp-for="DataList[i].IsAssign" type="checkbox" class="checkBoxClass" id="Checkbox@(i)" />
                                                </td>
                                                <td>@Model.DataList[i].VMEmployeeName</td>
                                                <td>@Model.DataList[i].VMEmployeeIdentity</td>
                                                <td>@Model.DataList[i].VMDesignationName</td>
                                                <td>@Model.DataList[i].VMBusinessUnitName</td>
                                                <td>@Model.DataList[i].VMDepartmentName</td>
                                                <td>@Model.DataList[i].VMUnitName</td>
                                                <td>@Model.DataList[i].VMSectionName</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </form>





                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
<script>
        $(document).ready(function (e) {
            $('#frmFilter,#frmAssign').bootstrapValidator();
            $('#first').datepicker({ autoclose: true });

        });

        $('#first').on('change', function () {
            var date = new Date($('#first').val());
            date.setDate(date.getDate());

            $("#second").datepicker("destroy");
            $('#second').datepicker({
                //format: "dd/mm/yyyy",
                orientation: "auto",
                startDate: date,
                autoclose: true
                //clearBtn: true
            });
        })

        $("#first, #second").on('change', function () {

            var start = new Date($('#first').val());
            var end = new Date($('#second').val());

            // end - start returns difference in milliseconds
            var diff = new Date(end - start);

            // get days
            var days = diff / 1000 / 60 / 60 / 24;

            document.getElementById("TotalDays").value = Math.round(days) + 1;
        });

        $("#ddlBUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#ddlBUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlUnit").empty();
                        $("#ddlUnit").append("<option value='0' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnit").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnit").val(nUId);

                            $("#ddlUnit").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlUnit").change(function (e) {

            @*$.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet")",
                datatype: "Json",
                data: { id: $("#ddlUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlDepartment").empty();
                        $("#ddlDepartment").append("<option value='0' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDepartment").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDepartment").val(nDepartmentId);

                            $("#ddlDepartment").trigger('change');

                        }
                    }
                }
            });*@
                        $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');

                        }
                    }
                }
            });
        });
        @*$("#ddlDepartment").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');

                        }
                    }
                }
            });
        });*@
</script>
}