﻿@model Erp.Core.Services.HRMS.VMShift
@{
    ViewData["Title"] = "HRMS";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Shift Setup:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("Shift", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.error)
                            @Html.HiddenFor(model => model.SId)
                            <div class="box-body">
                                <!--Body Will by Start Here-->
                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label for="ShiftName" class="col-form-label">Name:</label>
                                            @Html.TextBoxFor(model => model.ShiftName, "", new { @class = "form-control", @Required = "required", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.ShiftName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label for="StartTime" class="col-form-label">Start Time:</label>
                                            @Html.TextBoxFor(model => model.StartTime, "", new { @class = "form-control", @Required = "required", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label for="EndTime" class="col-form-label">End Time:</label>
                                            @Html.TextBoxFor(model => model.EndTime, "", new { @class = "form-control", @Required = "required", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group">
                                            <label for="BreakTime" class="col-form-label">Breaks Time (In Minutes):</label>
                                            @Html.TextBoxFor(model => model.BreakTime, "", new { @class = "form-control", @Required = "required", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.BreakTime, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-lg-10 col-md-10">
                                        <div class="form-group">
                                            <label for="Remarks" class="col-form-label">Remarks:</label>
                                            @Html.TextAreaFor(model => model.Remarks, new { @class = "form-control", autocomplete = "off" })
                                        </div>
                                        @*@Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })*@
                                    </div>
                                    <div class="col-lg-2 col-md-2 pull-right" style="padding-top:25px">
                                        @if (Model.ID != 0)
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Update</button>
                                        }
                                        else
                                        {
                                            <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                        }
                                        @Html.ActionLink("Cancel", "Shift", "HRMS", new { id = 0 }, new { @class = "btn btn-danger" })
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead class="bg-success">
                            <tr>
                                <th style="width: 10px">SL</th>
                                <th style="width: 20px">Shift Name</th>
                                <th style="width: 10px">Start Time</th>
                                <th style="width: 10px">End Time</th>
                                <th style="width: 10px">Break Duration</th>
                                <th style="width: 30px">Remarks</th>
                                <th style="width: 30px; background-color: yellow;">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 1;
                        }

                        <tbody>
                            @if (Model.VMShifts != null)
                            {
                                @foreach (var i in Model.VMShifts)
                                {
                                    <tr>
                                        <td>@sl</td>
                                        <td>@i.ShiftName</td>
                                        <td class="st">@i.StartTime</td>
                                        <td>@i.EndTime</td>
                                        <td>@i.BreakTime</td>
                                        <td>@i.Remarks</td>
                                        <td style="background-color: khaki;">
                                            <a data-placement="top" href="@Url.Action("Shift", "HRMS", new { id = i.ID } )">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@i.ID" data-toggle="modal" data-target="#myModal"
                                               data-tooltip="tooltip" title="Delete" data-placement="top">
                                            </a>
                                        </td>
                                    </tr>
                                    sl++;
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Alert -->
        <div class="modal" tabindex="-1" role="dialog" id="myModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    @if (Model.error != "")
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> @Model.error</h3></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    }
                    else
                    {
                        <div class="modal-body" style="color: red;">
                            <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger" data-dismiss="modal">No</a>
                            <a class="btn btn-success" id="DeleteS"
                               data-tooltip="tooltip" title="Delete" data-placement="top">
                                Yes
                            </a>

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#StartTime').timepicker({ autoclose: true })
            $('#EndTime').timepicker({ autoclose: true });
            $('input.timepicker').timepicker({ timeFormat: 'h:mm:ss p' });
            //$('#StartTime').timepicker({ 'timeFormat': 'H:i:s' });
            //$('#EndTime').timepicker({ 'timeFormat': 'h:i A' });

            if ($('#error').val() != '') {
                $('#myModal').modal('show');
            }

            var IDvalue = $('#ID').val();
            if (IDvalue == 0) {
                $("#StartTime").val(""); 
                $("#EndTime").val("");
                $("#BreakTime").val("");
            }
        });

        
        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            document.getElementById("SId").value = passedID;
            var id = document.getElementById("SId").value;
            console.log(id);            
        });

        $("#DeleteS").on('click', function () {
            var Id = document.getElementById("SId").value;            
            $.post('@Url.Action("DeleteShift","HRMS")', { id: Id }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });

    </script>
}