﻿@model Erp.Core.Services.HRMS.VMShiftAssign
@{
    ViewData["Title"] = "Shift Assigned List";
}

@{ var btnText = "Assign";
    if (Model.VMShiftID > 0) { btnText = "Update"; }
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Assigned Shift List:
                </h4>
            </div>
            <!-- /.box-header -->


            <div class="box">
                <div class="box-body">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Filter by:</h3>
                        </div>
                        <div class="box-body no-padding">
                            <form id="frmFilter" asp-action="ShiftAssignedList" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true">
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMBusinessUnitID" class="control-label"></label>
                                        <select id="ddlBUnit" asp-for="VMBusinessUnitID" asp-items="Model.BusinessUnitList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Business Unit</option>
                                        </select>
                                        <span asp-validation-for="VMBusinessUnitID" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMUnitID" class="control-label"></label>
                                        <select id="ddlUnit" asp-for="VMUnitID" asp-items="Model.UnitList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Unit</option>
                                        </select>
                                        @*<span asp-validation-for="VMUnitID" class="text-danger"></span>*@


                                    </div>

                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMSectionID" class="control-label"></label>
                                        <select id="ddlSection" asp-for="VMSectionID" asp-items="Model.SectionList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Section</option>
                                        </select>
                                        <span asp-validation-for="VMSectionID" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">


                                        <label asp-for="VMDepartmentID" class="control-label"></label>
                                        <select id="ddlDepartment" asp-for="VMDepartmentID" asp-items="Model.DepartmentList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Department</option>
                                        </select>
                                        <span asp-validation-for="VMDepartmentID" class="text-danger"></span>


                                    </div>
                                </div>
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMFilterByShiftID" class="control-label"></label>
                                        <select asp-for="VMFilterByShiftID" asp-items="Model.ShiftList" class="form-control searchingDropdown">
                                            <option value="0" selected>Select Shift</option>
                                        </select>
                                        <span asp-validation-for="VMFilterByShiftID" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="FilterByStartDate" class="control-label"></label>

                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        <div class="input-group date">
                                            <input asp-for="FilterByStartDate" type="text" value="@Model.FilterByStartDateControlString" class="form-control datePicker" autocomplete="off" />

                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="FilterByStartDate" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label asp-for="FilterByEndDate" class="control-label"></label>

                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        <div class="input-group date">
                                            <input asp-for="FilterByEndDate" type="text" value="@Model.FilterByEndDateControlString" class="form-control datePicker" autocomplete="off" />

                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="FilterByEndDate" class="text-danger"></span>

                                    </div>
                                    <div class="col-md-3 form-group" style="margin-top:25px;">
                                        <input type="submit" value="Filter" class="btn btn-primary pull-right" />
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                    <form style="display:none;" id="frmAssign" asp-action="ShiftAssignOperation" asp-controller="HRMS" method="post" role="form" asp-antiforgery="true">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">Shift:</h3>
                            </div>
                            <div class="box-body no-padding">
                                <input asp-for="ID" type="hidden" />
                                <input asp-for="Min" type="hidden" />
                                <input asp-for="Count" type="hidden" />
                                <input asp-for="ActionId" type="hidden" value="2" />
                                <input asp-for="VMEmployeeID" type="hidden" />
                                <input asp-for="VMBusinessUnitID" type="hidden" />
                                <input asp-for="VMDepartmentID" type="hidden" />
                                <input asp-for="VMUnitID" type="hidden" />
                                <input asp-for="VMSectionID" type="hidden" />
                                <div class="col-md-12 no-padding">
                                    <div class="col-md-3 form-group">

                                        <label asp-for="VMShiftID" class="control-label"></label>
                                        <select asp-for="VMShiftID" asp-items="Model.ShiftList" class="form-control searchingDropdown" required>
                                            <option value="" selected>Select Shift</option>
                                        </select>
                                        <span asp-validation-for="VMShiftID" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">

                                        <label asp-for="StartDate" class="control-label"></label>

                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        <div class="input-group date">
                                            <input asp-for="StartDate" type="text" value="@Model.StartDateControlString" class="form-control datePicker" autocomplete="off" required />

                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="StartDate" class="text-danger"></span>


                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label asp-for="EndDate" class="control-label"></label>

                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        <div class="input-group date">
                                            <input asp-for="EndDate" type="text" value="@Model.EndDateControlString" class="form-control datePicker" autocomplete="off" required />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="EndDate" class="text-danger"></span>
                                    </div>
                                    <div class="col-md-3 form-group" style="margin-top:25px;">
                                        <input type="submit" value="@btnText" class="btn btn-primary pull-right" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">Employee List</h3>

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body no-padding">
                            <table id="tableX" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>Name</th>
                                        <th>Shift</th>
                                        <th>Start</th>
                                        <th>End</th>
                                        <th>Employee ID</th>
                                        <th>Designation</th>
                                        <th>Business Unit</th>
                                        <th>Department</th>
                                        <th>Unit</th>
                                        <th>Section</th>
                                        <th class="no-print">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{ int sl = 1;}
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>@(sl++)</td>
                                            <td class="hidden">@item.Min</td>
                                            <td class="hidden">@item.Count</td>
                                            <td>@item.VMEmployeeName</td>
                                            <td>@item.VMShiftName</td>

                                            <td>@item.StartDateGridString</td>
                                            <td>@item.EndDateGridString</td>

                                            <td>@item.VMEmployeeIdentity</td>
                                            <td>@item.VMDesignationName</td>
                                            <td>@item.VMBusinessUnitName</td>
                                            <td>@item.VMDepartmentName</td>
                                            <td>@item.VMUnitName</td>
                                            <td>@item.VMSectionName</td>
                                            <td style="text-align: center; cursor: pointer;vertical-align:middle" class="no-print">
                                                @*<a asp-action="ShiftAssignEdit" asp-controller="HRMS" asp-route-id="@item.ID">
                                        <i class="fa fa-pencil-square-o no-print" aria-hidden="true"></i>
                                    </a>*@
                                                <a class="glyphicon glyphicon-trash no-print modal-link modalLink" data-id="@item.Min, @item.Count" data-toggle="modal" data-target="#myModal"
                                                   data-tooltip="tooltip" title="Delete" data-placement="top">
                                                </a>
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>

                        </div>
                        <!-- /.box-body -->
                    </div>

                    <form asp-action="ShiftAssignOperation" asp-controller="HRMS" method="post" asp-antiforgery="true" role="form">
                        <input asp-for="ID" type="hidden" id="hdfID" />
                        <input asp-for="ActionId" type="hidden" value="3" id="hdfActionId" />

                        <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                            &times;
                                        </button>
                                        <h5 class="modal-title"><b>Shift Assign</b></h5>

                                    </div>
                                    <div class="modal-body">
                                        <div style="text-align:center">
                                            <h3>Are you sure to <label id="lblActionName">Delete</label>?</h3>
                                        </div>

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>



                    <!-- Alert -->
                    <div class="modal" tabindex="-1" role="dialog" id="myModal">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body" style="color: red;">
                                    <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Delete? </h3></p>
                                </div>
                                <div class="modal-footer">
                                    <a class="btn btn-danger" data-dismiss="modal">No</a>
                                    <a class="btn btn-success" id="DeleteSA"
                                       data-tooltip="tooltip" title="Delete" data-placement="top">
                                        Yes
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function (e) {
            $('#frmFilter,#frmAssign').bootstrapValidator();

        });
$("#ddlBUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#ddlBUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlUnit").empty();
                        $("#ddlUnit").append("<option value='' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnit").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnit").val(nUId);

                            $("#ddlUnit").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlUnit").change(function (e) {

            @*$.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet")",
                datatype: "Json",
                data: { id: $("#ddlUnit :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlDepartment").empty();
                        $("#ddlDepartment").append("<option value='' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDepartment").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDepartment").val(nDepartmentId);

                            $("#ddlDepartment").trigger('change');

                        }
                    }
                }
            });*@

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');

                        }
                    }
                }
            });

        });

        @*$("#ddlDepartment").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');

                        }
                    }
                }
            });
        });*@

        $(document).on("click", ".modalLink", function () {
            var passedID = $(this).data('id');
            var arr = passedID.split(',');

            for (i = 0; i < arr.length; i++) {
                if (i === 0) {
                    //var a = arr[i].trim();
                    //console.log(a);
                    document.getElementById("ID").value = arr[i];
                } else {
                    //var b = arr[i].trim();
                    //console.log(b);
                    document.getElementById("Min").value = arr[i];
                }
            };
        });

        $("#DeleteSA").on('click', function () {
            var Id = document.getElementById("ID").value;
            var Min = document.getElementById("Min").value;
            $.post('@Url.Action("DeleteShiftAssigned","HRMS")', { id: Id, min: Min }, function () {
                $('#myModal').modal('hide');
                location.reload(true);
            });
        });

    </script>
}

