﻿@model Erp.Core.Services.HRMS.VMWeekendDay
@{
    ViewData["Title"] = "OffdayAssignedList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Assigned Weekend List:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        <div class="box-body">
                            @using (Html.BeginForm("WeekendAssignedList", "HRMS", FormMethod.Post, new { }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.BU_Id, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.BU_Id, Model.B_UnitList as IEnumerable<SelectListItem>,
                                              "Select Business Unit", new { @class = "form-control searchingDropdown", @Required = "required" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Unit_ID, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.Unit_ID, Model.Unit_List as IEnumerable<SelectListItem>,
                                              "Select Unit", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.Unit_ID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Dept_ID, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.Dept_ID, Model.Department_List as IEnumerable<SelectListItem>,
                                              "Select Departments", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            @Html.LabelFor(model => model.Section_ID, new { @class = "control-label " })&nbsp;
                                            &nbsp; <span><i class="ion-star font-red"></i></span>
                                            @Html.DropDownListFor(model => model.Section_ID, Model.Section_List as IEnumerable<SelectListItem>,
                                              "Select Sections", new { @class = "form-control searchingDropdown" })
                                            @*@Html.ValidationMessageFor(model => model.Section_ID, "", new { @class = "text-danger" })*@
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Search" style="width:100%" id="btnemployeeleaveassign" class="btn btn-sm btn-primary" />
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">

            <!-- /.box-header -->
            <div class="box-body no-padding">
                <table id="tableABC" class="table table-striped">
                    <thead>
                        <tr style="background-color: #DFF0D8;">
                            <th style="width: 5%;">SL</th>
                            <th class="hidden"></th>
                            <th style="width: 15%;">Name</th>
                            <th style="width: 10%;">Emp ID</th>
                            <th style="width: 10%;">Designation</th>
                            <th style="width: 15%;">Business Unit</th>
                            <th style="width: 10%;">Department</th>
                            <th style="width: 10%;">Unit</th>
                            <th style="width: 10%;">Section</th>
                            <th style="width: 15%;text-align:center; background-color:darkseagreen;">Weekend Day</th>

                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Emplists != null)
                        {
                            var j = 1;
                            for (var i = 0; i < Model.Emplists.Count; i++)
                            {
                                <tr>
                                    <td>@j</td>
                                    <td hidden>@Html.HiddenFor(modelItem => modelItem.Emplists[i].ID)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Name)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].EmployeeIdentity)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Designation)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].BusinessUnit)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Department)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Unit)</td>
                                    <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Section)</td>
                                    <td style="text-align:center; background-color: #DFF0D8">@Html.DisplayFor(modelItem => modelItem.Emplists[i].WeekendDays)</td>
                                    @*<td style="font-weight:bold">@Html.DisplayFor(modelItem => modelItem.Emplists[i].AnnualLeaveDay)</td>*@

                                </tr>
                                j++;
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


@section scripts{
    <script>

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            //$('#WeekendDay').select2();
        });

                $("#BU_Id").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#BU_Id :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#Unit_ID").empty();
                        $("#Unit_ID").append("<option value='' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#Unit_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        //if (nUId && nUId> 0) {
                        //    $("#Unit_ID").val(nUId);

                        //    $("#Unit_ID").trigger('change');

                        //}
                    }
                }
            });
        });
        $("#Unit_ID").change(function (e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#Dept_ID :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#Section_ID").empty();
                        $("#Section_ID").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#Section_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });

            @*$.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet")",
                datatype: "Json",
                data: { id: $("#Unit_ID :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#Dept_ID").empty();
                        $("#Dept_ID").append("<option value='' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#Dept_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });*@
        });

        @*$("#Dept_ID").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#Dept_ID :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#Section_ID").empty();
                        $("#Section_ID").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#Section_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        //if (nDepartmentId && nDepartmentId > 0) {
                        //    $("#Section_ID").val(nDepartmentId);

                        //    $("#Section_ID").trigger('change');

                        //}
                    }
                }
            });
        });*@
    </script>
}


