﻿@model Erp.Core.Services.HRMS.VMWeekendDay
@{
    ViewData["Title"] = "WeekendDayAssign";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Assign Weekend:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            @using (Html.BeginForm("WeekendDayAssign", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator" }))
                            {
                                @Html.AntiForgeryToken();
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.BU_Id, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.BU_Id, Model.B_UnitList as IEnumerable<SelectListItem>,
                                          "Select Business Unit", new { @class = "form-control searchingDropdown", @Required = "required" })
                                    </div>
                                    @Html.ValidationMessageFor(model => model.BU_Id, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Unit_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Unit_ID, Model.Unit_List as IEnumerable<SelectListItem>,
                                          "Select Unit", new { @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Unit_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Section_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Section_ID, Model.Section_List as IEnumerable<SelectListItem>,
                                          "Select Sections", new { @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Section_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Dept_ID, new { @class = "control-label " })&nbsp;
                                        &nbsp; <span><i class="ion-star font-red"></i></span>
                                        @Html.DropDownListFor(model => model.Dept_ID, Model.Department_List as IEnumerable<SelectListItem>,
                                          "Select Departments", new { @class = "form-control searchingDropdown" })
                                        @*@Html.ValidationMessageFor(model => model.Dept_ID, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group" style="padding-top:25px;">
                                        @*<input type="submit" value="Search" id="Search" class="btn btn-primary pull-right" />*@
                                        <button type="submit" id="Search" class="btn btn-primary pull-right">Search</button>
                                    </div>
                                </div>
                            </div>
                            }
                        </div>
                        <div class="box-body">
                            @using (Html.BeginForm("AddAssignWeekend", "HRMS", FormMethod.Post, new { id = "HRMS", @class = "formValidator" }))
                            {
                                @Html.AntiForgeryToken();
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box">
                                            <div class="row" style="padding-top:25px;">
                                                <div class="col-md-9">
                                                    <div class="input-group">
                                                        <span class="input-group-addon">Weekend Day</span>
                                                        @Html.ListBoxFor(model => model.WeekendDay, ViewBag.HolidayList as IEnumerable<SelectListItem>, new { @class = "form-control", @multiple = "multiple", @name = "WeekendDay[]", @Required = "required" })
                                                        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                                                    </div>
                                                    @Html.ValidationMessageFor(model => model.WeekendDay, "", new { @class = "text-danger" })
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <button type="button" data-toggle="modal" data-target="#myModal" id="btnweekenddayassign" class="glyphicon glyphicon-floppy-save btn btn-primary pull-right modal-link modalLink" > Assign </button>
                                                        @*<a class="glyphicon glyphicon-floppy-save no-print modal-link modalLink" data-toggle="modal" data-target="#myModal"
                                                           data-tooltip="tooltip" title="Assign" data-placement="top">
                                                        </a>*@
                                                    </div>
                                                </div>

                                                <div class="modal" tabindex="-1" role="dialog" id="myModal">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-body" style="color: red;">
                                                                <p><h3><i class="fa fa-warning" style="font-size:48px;color:red"></i> Are you sure to Assign? </h3></p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <a class="btn btn-danger" data-dismiss="modal">No</a>
                                                                @*<a class="btn btn-success" id="DeleteUS"
                                                                   data-tooltip="tooltip" title="Delete" data-placement="top">
                                                                    Yes
                                                                </a>*@
                                                                <input type="submit" value="Yes" id="btnweekenddayassign" class="btn btn-success pull-right" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box-header">
                                                <h3 class="box-title">Employee List</h3>
                                            </div>

                                            <!-- /.box-header -->
                                            <div class="box-body no-padding">
                                                <table id="tableX" class="table table-striped">
                                                    <thead>
                                                        <tr style="background-color: #DFF0D8;">
                                                            <th style="width: 2%">
                                                                <input type="checkbox" id="MainCheckbox" />
                                                            </th>
                                                            <th hidden></th>
                                                            <th style="width: 20%">Name</th>
                                                            <th style="width: 10%">EMP ID</th>
                                                            <th style="width: 10%">Designation</th>
                                                            <th style="width: 15%">Business Unit</th>
                                                            <th style="width: 10%">Department</th>
                                                            <th style="width: 10%">Unit</th>
                                                            <th style="width: 10%">Section</th>
                                                            <th style="width: 15%;text-align:center; background-color:darkseagreen;">Weekend Day</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.Emplists != null)
                                                        {
                                                            for (var i = 0; i < Model.Emplists.Count; i++)
                                                            {

                                                        <tr>
                                                            <td>@Html.CheckBoxFor(modelItem => modelItem.Emplists[i].IsWeekendAssigned, new { @class = "checkBoxClass" })</td>
                                                            <td hidden>@Html.HiddenFor(modelItem => modelItem.Emplists[i].ID)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Name)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].EmployeeIdentity)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Designation)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].BusinessUnit)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Department)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Unit)</td>
                                                            <td>@Html.DisplayFor(modelItem => modelItem.Emplists[i].Section)</td>
                                                            <td style="text-align:center; background-color: #DFF0D8">@Html.DisplayFor(modelItem => modelItem.Emplists[i].WeekendDays)</td>
                                                        </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $('#WeekendDay').select2();
        });

        $("#MainCheckbox").click(function () {
            if ($(this).is(':checked')) {
                $(".checkBoxClass").prop('checked', true);
            }
            else {
                $(".checkBoxClass").prop('checked', false);
            }
        });

        //$("#LeaveTypeId").on('change', function () {
        //    var ID = $("#LeaveTypeId").val();
        //    $.get("getLeaveTypeDaysInfo", { id: ID }, function (res) {
        //        document.getElementById("LeaveDays").value = res;
        //    })
        //})

        // searchingDropdown
        $('#WeekendDay').on('change', function () {
            console.log($('#WeekendDay').val());
        })

        // Manipulate Select2 Sorting Order
        //$("#WeekendDay").on("select2:select", function (evt) {
        //  var element = evt.params.data.element;
        //  var $element = $(element);
  
        //  $element.detach();
        //  $(this).append($element);
        //  $(this).trigger("change");
        //});

        //function WeekendAssignConfirmation() {
        //    return confirm('Sure to Assign?');
        //}


        $("#BU_Id").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet")",
                datatype: "Json",
                data: { id: $("#BU_Id :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#Unit_ID").empty();
                        $("#Unit_ID").append("<option value='' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#Unit_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });
        $("#Unit_ID").change(function (e) {
            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet")",
                datatype: "Json",
                data: { id: $("#Dept_ID :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#Section_ID").empty();
                        $("#Section_ID").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#Section_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });

            @*$.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet")",
                datatype: "Json",
                data: { id: $("#Unit_ID :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#Dept_ID").empty();
                        $("#Dept_ID").append("<option value='' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#Dept_ID").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });*@
        });
    </script>
}
