﻿
@model Erp.Core.Services.Procurement.VMPurchaseOrderSlave

@if (Model.DataListSlave != null && Model.DataListSlave.Count > 0)
{
    <form id="frmPOSlaveList" asp-action="POSlaveList" asp-controller="Procurement" method="post" role="form" asp-antiforgery="true">
        <input asp-for="Procurement_PurchaseOrderFK" type="hidden" />

        <div class="table-responsive col-md-12">
            <table id="tblPOSlaveList" class="table table-bordered table-striped text-nowrap">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="MainCheckbox" onchange="$('.checkBoxClass').prop('checked', $(this).is(':checked'));" /></th>
                        @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                        {
                            <th>BPO/Style</th>
                            <th>Color/GSM</th>
                        }

                        @if (Model.PRIDVisible)
                        {
                            <th>PR ID</th>
                        }
                        else
                        {
                            <th>Item</th>
                        }
                        <th>Description/ Specification</th>
                        <th>Available Quantity</th>
                        <th>Requisition Quantity</th>
                        <th>Procured Quantity</th>
                        <th>Purchase Quantity</th>
                        <th>Suggested Price</th>
                        <th>Purchasing Price</th>
                        <th>Inspection</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.DataListSlave.Count(); i++)
                    {
                        <tr>
                            <td><input asp-for="@Model.DataListSlave[i].IsForSave" type="checkbox" class="checkBoxClass" id="Checkbox@(i)" /></td>
                            @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                            {
                                <td>@Model.DataListSlave[i].BONoStyleName</td>
                                <td>@Model.DataListSlave[i].StyleColorGSM</td>
                            }

                            <td>
                                <input asp-for="@Model.DataListSlave[i].Procurement_PurchaseOrderFK" type="hidden" />
                                <input asp-for="@Model.DataListSlave[i].Procurement_PurchaseRequisitionSlaveFK" type="hidden" />
                                <input asp-for="@Model.DataListSlave[i].VMRawItemFK" type="hidden" />
                                <input asp-for="@Model.DataListSlave[i].VMMerchandising_StyleID" type="hidden" />
                                <input asp-for="@Model.DataListSlave[i].VMMerchandising_StyleSlaveID" type="hidden" />
                                <input asp-for="@Model.DataListSlave[i].VMMerchandising_BOFID" type="hidden" />

                                @if (Model.PRIDVisible)
                                {

                                    <textarea asp-for="@Model.DataListSlave[i].PRID" class="form-control" rows="5" readonly disabled style="width:fit-content"></textarea>
                                }
                                else
                                {
                                    <textarea asp-for="@Model.DataListSlave[i].VMRawItemName" class="form-control" rows="3" readonly disabled style="width:fit-content"></textarea>

                                }
                            </td>

                            <td>
                                <textarea asp-for="@Model.DataListSlave[i].DescriptionSlave" class="form-control" rows="3"></textarea>


                            </td>
                            <td>
                                <label>@Model.DataListSlave[i].AvailableQuantity</label>

                            </td>
                            <td>
                                <label>@Model.DataListSlave[i].RequisitionQuantity</label>

                            </td>
                            <td>
                                <label>@Model.DataListSlave[i].ProcuredQuantity</label>

                            </td>
                            <td>
                                <input type="text" style="display:none;" class="datePicker" />
                                <div class="input-group">

                                    <input asp-for="@Model.DataListSlave[i].PurchaseQuantity" class="form-control purchaseQty" required type="number" min="0" max="@Model.DataListSlave[i].RestQuantity" step="any" style="width:fit-content" />
                                    <div class="input-group-addon">
                                        <label>@Model.DataListSlave[i].VMUnitName</label>

                                    </div>
                                    <span asp-validation-for="@Model.DataListSlave[i].PurchaseQuantity" class="text-danger"></span>
                                </div>

                            </td>

                            <td>
                                <label>@Model.DataListSlave[i].SuggestedPrice</label>
                            </td>
                            <td>

                                <input asp-for="@Model.DataListSlave[i].PurchasingPrice" class="form-control" required type="number" min="0" step="any" style="width:fit-content" />
                                <span asp-validation-for="@Model.DataListSlave[i].PurchasingPrice" class="text-danger"></span>
                            </td>
                            <td>
                                @if (Model.DataListSlave[i].InspectionRequiredInPR)
                                {

                                    @Model.DataListSlave[i].Inspection
                                    <input asp-for="@Model.DataListSlave[i].InspectionRequired" type="hidden" />
                                }
                                else
                                {
                                    <input asp-for="@Model.DataListSlave[i].InspectionRequired" type="checkbox" />

                                }


                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div id="divPOSlaveAdd" class="form-group col-md-12" style="text-align:right;">
            <button type="submit" id="btnAdd" class="btn btn-primary"><i class="fa fa-floppy-o" onclick=" if (!$('.checkBoxClass').filter(':checked') || $('.checkBoxClass').filter(':checked').length <= 0) { alert('Select at-least one Item!'); return false; }"></i> Add</button>
        </div>
    </form>
}
