﻿@model Erp.Core.Services.Procurement.VMPurchaseInvoice

@{
    var SaveText = "";
    if (Model.ActionEum == Erp.Core.Services.ActionEnum.Edit)
    {
        SaveText = "Update";
    }
    else
    {
        SaveText = "Add";
    }
}

@using (Html.BeginForm("PurchaseInvoice", "Procurement", FormMethod.Post, new { id = "PurchaseInvoiceEdit", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hdfId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdfActionId" })
    @Html.HiddenFor(model => model.InvoiceActionId, new { Value = "", id = "hdfPOActionId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-md-12">
            <div class="form-group col-md-3">
                <label for="ddlSupplier" class="col-form-label">PO List:</label>
                @Html.DropDownListFor(model => model.VMSupplierFK, Model.VMSupplierList as SelectList, "Please Select", new { id = "ddlSupplier", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
                @Html.ValidationMessageFor(model => model.VMSupplierFK, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="col-md-12" style="padding:0px;">
        <div class="form-group col-md-3">
            <label for="ddlSupplier" class="col-form-label">Supplier:</label>
            @Html.DropDownListFor(model => model.VMSupplierFK, Model.VMSupplierList as SelectList, "Please Select", new { id = "ddlSupplier", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
            @Html.ValidationMessageFor(model => model.VMSupplierFK, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            <label class="col-form-label">Invoice Origin:</label>
            @if (Model.HasSlave)
            {
                <br />
                @Model.OriginTypeName
            }
            else
            {
                @Html.DropDownListFor(model => model.OriginType, Model.OriginTypeList as SelectList, new { @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
                @Html.ValidationMessageFor(model => model.OriginType, "", new { @class = "text-danger" })
            }

        </div>
        <div class="form-group col-md-3">
            <label for="txtOrderDate" class="col-form-label">Invoice Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input name="InvoiceDate" type="text" class="form-control pull-right datePicker" value="@Model.InvoiceDateControlString" id="txtOrderDate" autocomplete="off" placeholder="Invoice Date" required>
                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="form-group col-md-3">
            <label for="ddlPOPaymentMethod" class="col-form-label">Payment Method:</label>
            @Html.DropDownListFor(model => model.PaymentMethod, Model.PaymentMethodList as SelectList, new { id = "ddlPOPaymentMethod", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
            @Html.ValidationMessageFor(model => model.PaymentMethod, "", new { @class = "text-danger" })
        </div>


    </div>




    <div class="form-group col-md-12">
        <label for="txtDescription" class="col-form-label">Description:</label>
        @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", placeholder = "Description", @class = "form-control", rows = 5 })
    </div>

    <div class="form-group col-md-12" style="text-align:right;">

        <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i> @SaveText</button>

    </div>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.datePicker').datepicker({
                format: "yyyy-mm-dd",
                // format: "d/m/yy",
                autoclose: true,
                minDate: 0,
            });
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
        });
    </script>
}