﻿
@model Erp.Core.Services.Procurement.VMPurchaseRequisitionSlave

@if (Model.DataListSlave != null && Model.DataListSlave.Count > 0)
{
    <form id="frmPRSlaveList" asp-action="PRSlaveList" asp-controller="Procurement" method="post" role="form" asp-antiforgery="true">
        <input asp-for="Procurement_PurchaseRequisitionFK" type="hidden" />
        <input asp-for="PRType" type="hidden" />
        <input asp-for="OriginType" type="hidden" />

        <div class="table-responsive col-md-12">
            <table id="tblPRSlaveLIst" class="table table-bordered table-striped nowrap">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="MainCheckbox" onchange="$('.checkBoxClass').prop('checked', $(this).is(':checked'));" /></th>
                        <th>Item Name</th>
                        <th>Description / Specification</th>
                        <th style="width:150px;">Required Date</th>
                        <th>Request By</th>
                        <th>Quantity</th>
                        <th>Requested Qty</th>
                        <th>Required Qty</th>
                        <th>Preferred Supplier(s)</th>
                        <th>Inspection</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.DataListSlave.Count(); i++)
                    {
                        <tr>
                            <td><input asp-for="@Model.DataListSlave[i].IsForSave" type="checkbox" class="checkBoxClass" id="Checkbox@(i)" /></td>
                            <td>
                                <input type="hidden" asp-for="@Model.DataListSlave[i].PRType" />
                                <input type="hidden" asp-for="@Model.DataListSlave[i].OriginType" />
                                <input type="hidden" asp-for="@Model.DataListSlave[i].Procurement_PurchaseRequisitionFK" />
                                <input type="hidden" asp-for="@Model.DataListSlave[i].VMMerchandising_StyleID" />
                                <input type="hidden" asp-for="@Model.DataListSlave[i].VMMerchandising_StyleSlaveID" />
                                <input type="hidden" asp-for="@Model.DataListSlave[i].VMMerchandising_BOFID" />
                                <input type="hidden" asp-for="@Model.DataListSlave[i].VMRawItemFK" />
                                @*<label>@Model.DataListSlave[i].VMRawItemName</label>*@
                                <textarea asp-for="@Model.DataListSlave[i].VMRawItemName" class="form-control" style="width:fit-content;text-wrap:normal !important;" disabled rows="1"></textarea>
                                
                                @*<textarea asp-for="@Model.DataListSlave[i].VMRawItemName" readonly disabled class="form-control no-padding" style="width:fit-content;text-wrap:normal !important;"></textarea>*@
                            </td>
                            <td>
                                <div class="form-group remove_Pad">
                                    <textarea asp-for="@Model.DataListSlave[i].DescriptionSlave" class="form-control" style="width:fit-content;text-wrap:normal !important;"></textarea>
                                </div>
                                @*<textarea asp-for="@Model.DataListSlave[i].DescriptionSlave" class="form-control" style="width:fit-content;text-wrap:normal !important;" rows="1"></textarea>*@
                            </td>
                            <td>
                                <input asp-for="@Model.DataListSlave[i].RequiredDate" type="text" class="form-control pull-right datePicker" value="@Model.DataListSlave[i].RequiredDateString" autocomplete="off" placeholder="Required Date" required>
                                <span asp-validation-for="@Model.DataListSlave[i].RequiredDate"></span>
                            </td>
                            <td>
                                <select asp-for="@Model.DataListSlave[i].UserID" asp-items="@Model.DataListSlave[i].UserList" class="form-control searchingDropdown" style="width:100%;">
                                    <option selected value="">Request By</option>
                                </select>
                            </td>
                            <td><label>@Model.DataListSlave[i].StyleQuantity</label> </td>
                            <td><label>@Model.DataListSlave[i].PRRaisedQuantity</label></td>
                            <td>
                                <div class="input-group">
                                    <input asp-for="@Model.DataListSlave[i].RequisitionQuantity" class="form-control" required type="number" min="0" step="any" style="width:100px;"/>
                                    <div class="input-group-addon">
                                        <label>@Model.DataListSlave[i].VMUnitName</label>
                                    </div>
                                    @*<span asp-validation-for="IsValidQuantity" class="text-danger"></span>*@
                                </div>
                            </td>
                            <td>
                                <input type="text" asp-for="@Model.DataListSlave[i].SupplierNames" class="form-control" style="width:fit-content" />
                            </td>
                            <td>
                                <input type="checkbox" asp-for="@Model.DataListSlave[i].InspectionRequired" />
                            </td>
                            
                        </tr>
                    }
                </tbody>
            </table>
        </div>


        <div class="form-group col-md-12" style="text-align:right;">
            <button type="submit" id="btnListAdd" class="btn btn-primary" onclick=" if (!$('.checkBoxClass').filter(':checked') || $('.checkBoxClass').filter(':checked').length <= 0) { alert('Select at-least one Item!'); return false; }"><i class="fa fa-floppy-o"></i> Add</button>
        </div>


    </form>
}

