﻿
@model Erp.Core.Services.Procurement.VMPurchaseOrderSlave

@{
    var SaveText = "";
    if (Model.ActionEum == Erp.Core.Services.ActionEnum.Edit)
    {
        SaveText = "Update";
    }
    else
    {
        SaveText = "Add";
    }
}

@using (Html.BeginForm("PurchaseOrderDetails", "Procurement", FormMethod.Post, new { id = "PurchaseOrderDetails", @class = "formValidator", onreset = "resetDDL();" }))
{




    <div class="box-header">
        <h3>
            <label>Edit Individual Item</label>
        </h3>
    </div>
    <div class="box-body">
        @Html.HiddenFor(model => model.ID, new { id = "hidId" })
        @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
        @Html.HiddenFor(model => model.Procurement_PurchaseOrderFK, new { id = "POFKId" })
        @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionSlaveFK, new { id = "PRSFKId" })
        @Html.HiddenFor(model => model.VMRawItemFK, new { id = "RIFKId" })
        @Html.HiddenFor(model => model.VMMerchandising_StyleID, new { id = "StyleId" })
        @Html.HiddenFor(model => model.VMMerchandising_StyleSlaveID, new { id = "StyleSlaveId" })
        @Html.HiddenFor(model => model.VMMerchandising_BOFID, new { id = "BOFId" })


        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="col-md-12 no-padding">
            <div class="form-group col-md-3">
                <label class="col-form-label">Category:</label>
                @Html.TextBoxFor(model => model.VMRawCategoryName, new { @class = "form-control", style = "width:100%", disabled = "disabled" })

            </div>
            <div class="form-group col-md-3">
                <label class="col-form-label">Sub-Category:</label>
                @Html.TextBoxFor(model => model.VMRawSubCategoryName, new { @class = "form-control", style = "width:100%", disabled = "disabled" })

            </div>
            <div class="form-group col-md-3">
                <label class="col-form-label">Item:</label>
                @Html.TextBoxFor(model => model.VMRawItemName, new { @class = "form-control", style = "width:100%", disabled = "disabled" })

            </div>
            <div class="form-group col-md-3">
                <label for="txtUnitName" class="col-form-label">Unit:</label>
                @Html.TextBoxFor(model => model.VMUnitName, new { @class = "form-control", style = "width:100%", disabled = "disabled" })

            </div>
        </div>


        <div class="form-group col-md-12">
            <label for="txtDescriptionSlave" class="col-form-label">Description/ Specification:</label>
            @Html.TextAreaFor(model => model.DescriptionSlave, new { id = "txtDescriptionSlave", placeholder = "Description", @class = "form-control", Rows = 5 })
        </div>


        <div class="col-md-12 no-padding">
            <div class="form-group col-md-3">
                <label for="txtAvailableQuantity" class="col-form-label">Available Quantity:</label>
                @Html.TextBoxFor(model => model.AvailableQuantity, new { @class = "form-control", style = "width:100%", disabled = "disabled" })

            </div>

            <div class="form-group col-md-3">
                <label for="txtPurchaseQuantity" class="col-form-label">Purchase Quantity:</label>

                @Html.TextBoxFor(model => model.PurchaseQuantity, new { id = "txtPurchaseQuantity", type = "number", @class = "form-control", style = "width:100%", placeholder = "Purchase Quantity", required = "required", min = "1", max = Model.RestQuantity, step = ".01" })

                @Html.ValidationMessageFor(model => model.PurchaseQuantity, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-3">
                <label for="txtPurchasingPrice" class="col-form-label">Purchasing Price:</label>
                @Html.TextBoxFor(model => model.PurchasingPrice, new { id = "txtPurchasingPrice", type = "number", @class = "form-control", style = "width:100%", placeholder = "Purchasing Price", required = "required", min = "0", step = ".01" })
                @Html.ValidationMessageFor(model => model.PurchasingPrice, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-3">
                <label for="chkInspectionRequired" class="col-form-label">Inspection Required:</label>
                @if (Model.InspectionRequiredInPR)
                {
                    @Html.CheckBoxFor(model => model.InspectionRequired, new { id = "chkInspectionRequired", disabled = "disabled" })
                }
                else
                {
                    @Html.CheckBoxFor(model => model.InspectionRequired, new { id = "chkInspectionRequired" })
                }


            </div>
        </div>

        <div class="form-group col-md-12" style="text-align:right;">

            <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i> @SaveText</button>

        </div>
    </div>

















}
