﻿@model Erp.Core.Services.Procurement.VMPurchaseInvoiceSlave

    @Html.HiddenFor(model => model.Procurement_PurchaseInvoiceFK)
    @Html.HiddenFor(model => model.VMSupplierFK)
    @Html.HiddenFor(model => model.OriginType)
    @Html.HiddenFor(model => model.PaymentMethod)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-success">
                    <div class="box-header custom bg-success">
                        <h4>
                            Supplier Name: &nbsp; @Model.VMSupplierName

                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="form-group col-md-3">
                            <label for="ddlSupplier" class="col-form-label">Supplier Invoice No:</label>
                            <input name="SupplierInvoiceNo" type="text" class="form-control pull-right" id="txtSupplierInvoiceNo" autocomplete="off" placeholder="Supplier Invoice No" required>
                            @Html.ValidationMessageFor(model => model.SupplierInvoiceNo, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtInvoiceDate" class="col-form-label">Invoice Receive Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input name="InvoiceDate" type="text" class="form-control pull-right datePicker1" id="txtInvoiceDate" autocomplete="off" placeholder="Invoice Date" required>
                                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="txtOrderDate" class="col-form-label">Payment Mature Date:</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input name="InvoiceMatureDate" type="text" class="form-control pull-right datePicker1" id="txtInvoiceMatureDate" autocomplete="off" placeholder="Payment Mature Date" required>
                                @Html.ValidationMessageFor(model => model.InvoiceMatureDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="PaymentMethodName" class="col-form-label">Payment Method:</label>
                            <input name="PaymentMethodName" type="text" class="form-control pull-right" id="txtPaymentMethodName" value="@Model.PaymentMethodName" autocomplete="off" placeholder="Payment Method" required>
                            @Html.ValidationMessageFor(model => model.PaymentMethodName, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txtDescription" class="col-form-label">Description:</label>
                                @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", placeholder = "Description", @class = "form-control", rows = 3 })

                            </div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="table-responsive col-md-12">
                            <table id="tblPOSlaveList" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th></th>
                                        @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                        {
                                            <th class="hidden">BPO/Style</th>
                                            <th class="hidden">Color/GSM</th>
                                        }
                                        @if (Model.POIDVisible)
                                        {
                                            <th>PO ID</th>
                                        }
                                        else
                                        {
                                            <th>Item</th>
                                        }
                                        <th>Challan No</th>
                                        <th>Description/ Specification</th>
                                        <th>PO Quantity</th>
                                        <th>Store In Quantity</th>
                                        <th>Invoiced Quantity</th>
                                        <th>Current Invoice Quantity</th>
                                        <th>PO Price</th>
                                        <th>Invoice Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.DataListSlave.Count(); i++)
                                    {
                                        <tr>
                                            <td>@Html.CheckBoxFor(model => model.DataListSlave[i].IsForSave)</td>
                                            @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                            {
                                                <td class="hidden">@Model.DataListSlave[i].BONoStyleName</td>
                                                <td class="hidden">@Model.DataListSlave[i].StyleColorGSM</td>
                                            }
                                            <td>
                                                @Html.HiddenFor(model => model.DataListSlave[i].Procurement_PurchaseOrderSlaveID)
                                                @Html.HiddenFor(model => model.DataListSlave[i].VMMerchandising_StyleID)
                                                @Html.HiddenFor(model => model.DataListSlave[i].VMMerchandising_StyleSlaveID)
                                                @Html.HiddenFor(model => model.DataListSlave[i].VMMerchandising_BOFID)
                                                @Html.HiddenFor(model => model.DataListSlave[i].Procurement_PurchaseInvoiceFK)
                                                @Html.HiddenFor(model => model.DataListSlave[i].Store_StockInFK)
                                                @Html.HiddenFor(model => model.DataListSlave[i].VMRawItemFK)

                                                @if (Model.POIDVisible)
                                                {
                                                    @Html.TextAreaFor(model => model.DataListSlave[i].POID, new { @class = "form-control", rows = "2", @readonly = "readonly", @disabled = "disabled", style = "width:fit-content" })
                                                }
                                                else
                                                {
                                                    @Html.TextAreaFor(model => model.DataListSlave[i].VMRawItemName, new { @class = "form-control", rows = "2", @readonly = "readonly", @disabled = "disabled", style = "width:fit-content" })
                                                }
                                            </td>
                                            <td>
                                                <label>@Model.DataListSlave[i].StrChallanNo</label>
                                            </td>
                                            <td>
                                                @Html.TextAreaFor(model => model.DataListSlave[i].DescriptionSlave, new { @class = "form-control", rows = "2" })

                                            </td>
                                            <td>
                                                <label>@Model.DataListSlave[i].POQuantity</label>
                                            </td>
                                            <td>
                                                <label>@Model.DataListSlave[i].StockInQuantity</label>
                                            </td>
                                            <td>
                                                <label>@Model.DataListSlave[i].PreviousInvoiceQuantity</label>
                                            </td>
                                            <td>
                                                <div class="input-group">

                                                    <input asp-for="@Model.DataListSlave[i].InvoiceQuantity" class="form-control purchaseQty" required type="number" min="0" max="@Model.DataListSlave[i].RestQuantity" step="any" style="width:fit-content" />
                                                    <div class="input-group-addon">
                                                        <label>@Model.DataListSlave[i].VMUnitName</label>

                                                    </div>
                                                    <span asp-validation-for="@Model.DataListSlave[i].InvoiceQuantity" class="text-danger"></span>
                                                </div>



                                            </td>
                                            <td><label>@Model.DataListSlave[i].SuggestedPrice</label></td>
                                            <td>
                                                <input asp-for="@Model.DataListSlave[i].InvoicePrice" class="form-control" required type="number" min="0" step="any" style="width:fit-content" />
                                                <span asp-validation-for="@Model.DataListSlave[i].InvoicePrice" class="text-danger"></span>

                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="box-footer">
                        <div id="divPOSlaveAdd" class="form-group col-md-12" style="text-align:right;">
                            <button type="submit" id="btnAdd" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
<script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
            $(".datePicker1").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
        });
</script>

