﻿@model Erp.Core.Services.Procurement.VMPurchaseInvoiceSlave
@{
    var SaveText = "";
    if (Model.ActionEum == Erp.Core.Services.ActionEnum.Edit)
    {
        SaveText = "Update";
    }
    else
    {
        SaveText = "Add";
    }
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="box">
            @Html.HiddenFor(model => model.ID, new { id = "hidId" })
            @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
            @Html.HiddenFor(model => model.Procurement_PurchaseInvoiceFK)
            @Html.HiddenFor(model => model.Procurement_PurchaseOrderSlaveID)
            @Html.HiddenFor(model => model.VMMerchandising_StyleID)
            @Html.HiddenFor(model => model.VMMerchandising_BOFID)
            @Html.HiddenFor(model => model.Store_StockInFK)
            @Html.HiddenFor(model => model.VMRawItemFK, new { id = "RIFKId" })
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-header">
                <div class="box-title">Update Invoice Item</div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <label for="txtPurchaseQuantity" class="col-form-label">Invoice Item:</label>
                        <div class="input-group">
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(model => model.VMRawItemName)">
                            <span class="input-group-addon">@Html.DisplayFor(model => model.VMUnitName)</span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="txtPurchaseQuantity" class="col-form-label">Invoice Quantity:</label>
                            @Html.TextBoxFor(model => model.InvoiceQuantity, new { id = "txtPurchaseQuantity", type = "number", @class = "form-control", style = "width:100%", placeholder = "Invoice Quantity", required = "required", min = "1", max = Model.RestQuantity, step = ".01" })
                            @Html.ValidationMessageFor(model => model.InvoiceQuantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="txtPurchasingPrice" class="col-form-label">Invoice Price:</label>
                            @Html.TextBoxFor(model => model.InvoicePrice, new { id = "txtPurchasingPrice", type = "number", @class = "form-control", style = "width:100%", placeholder = "Invoice Price", required = "required", min = "0", step = ".01" })
                            @Html.ValidationMessageFor(model => model.InvoicePrice, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <label for="txtDescriptionSlave" class="col-form-label">Description / Specification:</label>
                            @Html.TextAreaFor(model => model.DescriptionSlave, new { id = "txtDescriptionSlave", placeholder = "Description", @class = "form-control", Rows = 2 })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <button type="submit" id="btnSave" class="btn btn-primary btn-block btn-flat"><i class="fa fa-floppy-o"></i> @SaveText</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*@using (Html.BeginForm("PurchaseInvoiceDetails", "Procurement", FormMethod.Post, new { id = "PurchaseInvoiceDetails", @class = "formValidator", onreset = "resetDDL();" }))
{
    
<fieldset>
    <legend>Edit Individual Item</legend>
    @Html.HiddenFor(model => model.ID, new { id = "hidId" })
    @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
    @Html.HiddenFor(model => model.Procurement_PurchaseInvoiceFK)
    @Html.HiddenFor(model => model.Procurement_PurchaseOrderSlaveID)
    @Html.HiddenFor(model => model.VMMerchandising_StyleID)
    @Html.HiddenFor(model => model.Procurement_PurchaseOrderSlaveID)
    @Html.HiddenFor(model => model.VMMerchandising_BOFID)
    @Html.HiddenFor(model => model.Store_StockInFK)
    @Html.HiddenFor(model => model.VMRawItemFK, new { id = "RIFKId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group col-md-6">
        <label class="col-form-label">Item:</label>
        @Html.TextBoxFor(model => model.VMRawItemName, new { @class = "form-control", style = "width:100%", disabled = "disabled" })

    </div>
    <div class="form-group col-md-6">
        <label for="txtUnitName" class="col-form-label">Unit:</label>
        @Html.TextBoxFor(model => model.VMUnitName, new { @class = "form-control", style = "width:100%", disabled = "disabled" })

    </div>

    <div class="form-group col-md-12">
        <label for="txtDescriptionSlave" class="col-form-label">Description/ Specification:</label>
        @Html.TextAreaFor(model => model.DescriptionSlave, new { id = "txtDescriptionSlave", placeholder = "Description", @class = "form-control", Rows = 5 })
    </div>




    <div class="form-group col-md-6">
        <label for="txtPurchaseQuantity" class="col-form-label">Invoice Quantity:</label>

        @Html.TextBoxFor(model => model.InvoiceQuantity, new { id = "txtPurchaseQuantity", type = "number", @class = "form-control", style = "width:100%", placeholder = "Invoice Quantity", required = "required", min = "1", max = Model.RestQuantity, step = ".01" })

        @Html.ValidationMessageFor(model => model.InvoiceQuantity, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-6">
        <label for="txtPurchasingPrice" class="col-form-label">Invoice Price:</label>
        @Html.TextBoxFor(model => model.InvoicePrice, new { id = "txtPurchasingPrice", type = "number", @class = "form-control", style = "width:100%", placeholder = "Invoice Price", required = "required", min = "0", step = ".01" })
        @Html.ValidationMessageFor(model => model.InvoicePrice, "", new { @class = "text-danger" })
    </div>



</fieldset>

    <div class="form-group col-md-12" style="text-align:right;">
        <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i> @SaveText</button>
    </div>
}*@
