﻿
@model Erp.Core.Services.Procurement.VMPurchaseInvoiceSlave

@using (Html.BeginForm("PurchaseInvoiceSlaveList", "Procurement", FormMethod.Post, new { id = "PurchaseInvoiceSlaveList", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.Procurement_PurchaseInvoiceFK)
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <div class="table-responsive">
        <table id="tblPOSlaveList" class="table table-striped text-nowrap">
            <thead>
                <tr>
                    <th></th>
                    @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                    {
                        <th>BPO/Style</th>
                        <th>Color/GSM</th>
                    }
                    @if (Model.POIDVisible)
                    {
                        <th>PO ID</th>
                    }
                    else
                    {
                        <th>Item</th>
                    }
                    <th>Description / Specification</th>
                    <th>StockIn Qty</th>
                    <th>Previous Inv Qty</th>
                    <th>Invoice Qty</th>
                    <th>StockIn Price</th>
                    <th>Invoice Price</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 0; i < Model.DataListSlave.Count(); i++)
                {
                    <tr>
                        <td>@Html.CheckBoxFor(model => model.DataListSlave[i].IsForSave)</td>
                        @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                        {
                            <td>@Model.DataListSlave[i].BONoStyleName</td>
                            <td>@Model.DataListSlave[i].StyleColorGSM</td>
                        }
                            <td>
                                @Html.HiddenFor(model => model.DataListSlave[i].Procurement_PurchaseOrderSlaveID)
                                @Html.HiddenFor(model => model.DataListSlave[i].VMMerchandising_StyleID)
                                @Html.HiddenFor(model => model.DataListSlave[i].VMMerchandising_StyleSlaveID)
                                @Html.HiddenFor(model => model.DataListSlave[i].VMMerchandising_BOFID)
                                @Html.HiddenFor(model => model.DataListSlave[i].Procurement_PurchaseInvoiceFK)
                                @Html.HiddenFor(model => model.DataListSlave[i].Store_StockInFK)
                                @Html.HiddenFor(model => model.DataListSlave[i].VMRawItemFK)

                                @if (Model.POIDVisible)
                                {
                                    @Model.DataListSlave[i].POID

                                    @*@Html.TextAreaFor(model => model.DataListSlave[i].POID, new { @class = "form-control", rows = "5", @readonly = "readonly", @disabled = "disabled", style = "width:fit-content" })*@
                                }
                                else
                                {
                                    @Model.DataListSlave[i].VMRawItemName
                                    
                                    @*@Html.TextAreaFor(model => model.DataListSlave[i].VMRawItemName, new { @class = "form-control", rows = "5", @readonly = "readonly", @disabled = "disabled", style = "width:fit-content" })*@
                                }
                            </td>
                        <td>
                            @Html.TextAreaFor(model => model.DataListSlave[i].DescriptionSlave, new { @class = "form-control", rows = "1" })
                        </td>
                        <td style="text-align:right;"><label>@Model.DataListSlave[i].StockInQuantity</label></td>
                        <td style="text-align:right;"><label>@Model.DataListSlave[i].PreviousInvoiceQuantity</label></td>
                        <td>
                            <div class="input-group">
                                <input asp-for="@Model.DataListSlave[i].InvoiceQuantity" class="form-control purchaseQty" style="width:100px;" required type="number" min="0" max="@Model.DataListSlave[i].RestQuantity" step="any" />
                                <div class="input-group-addon">
                                    <label>@Model.DataListSlave[i].VMUnitName</label>
                                </div>
                                <span asp-validation-for="@Model.DataListSlave[i].InvoiceQuantity" class="text-danger"></span>
                            </div>
                        </td>
                        <td style="text-align:right;"><label>@Model.DataListSlave[i].SuggestedPrice</label></td>
                        <td>
                            <input asp-for="@Model.DataListSlave[i].InvoicePrice" class="form-control" required type="number" min="0" step="any" />
                            <span asp-validation-for="@Model.DataListSlave[i].InvoicePrice" class="text-danger"></span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div id="divPOSlaveAdd" class="form-group col-md-12" style="text-align:right;">
        <button type="submit" id="btnAdd" class="btn btn-primary"><i class="fa fa-floppy-o"></i> Add</button>
    </div>
</div>
   
}

