﻿@model Erp.Core.Services.Procurement.VMPurchaseOrder

@{
    var SaveText = "";
    if (Model.ActionEum == Erp.Core.Services.ActionEnum.Edit)
    {
        SaveText = "Update";
    }
    else
    {
        SaveText = "Add";
    }
}

@using (Html.BeginForm("PurchaseOrder", "Procurement", FormMethod.Post, new { id = "PurchaseOrderEdit", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hdfId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdfActionId" })
    @Html.HiddenFor(model => model.POActionId, new { Value = "", id = "hdfPOActionId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-12" style="padding:0px;">
        <div class="form-group col-md-4">
            <label for="ddlSupplier" class="col-form-label">Supplier:</label>
            @Html.DropDownListFor(model => model.VMSupplierFK, Model.SupplierList as SelectList, "Please Select", new { id = "ddlSupplier", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
            @Html.ValidationMessageFor(model => model.VMSupplierFK, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 no-padding">
            <div class="form-group col-xs-6">
                <label for="ddlPOType" class="col-form-label">PO Type:</label>
                @Html.DropDownListFor(model => model.POType, Model.POTypeList as SelectList, new { id = "ddlPOType", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
                @Html.ValidationMessageFor(model => model.POType, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-xs-6">
                <label class="col-form-label">PO Origin:</label>
                @if (Model.HasSlave)
                {
                    <br />
                    @Model.OriginTypeName
                }
                else
                {
                    @Html.DropDownListFor(model => model.OriginType, Model.OriginTypeList as SelectList, new { @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
                    @Html.ValidationMessageFor(model => model.OriginType, "", new { @class = "text-danger" })
                }

            </div>
        </div>
        <div class="form-group col-md-4">
            <label for="txtOrderDate" class="col-form-label">Order Date:</label>
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input name="OrderDate" type="text" class="form-control pull-right datePicker" value="@Model.OrderDateControlString" id="txtOrderDate" autocomplete="off" placeholder="Order Date" required>
                @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
            </div>

        </div>
    </div>

    <div class="col-md-12" style="padding:0px;">
        <div class="form-group col-md-4">
            <label for="ddlCurrency" class="col-form-label">Payment Currency:</label>
            @Html.DropDownListFor(model => model.VMCurrencyFK, Model.CurrencyList as SelectList, "Please Select", new { id = "ddlCurrency", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
            @Html.ValidationMessageFor(model => model.VMCurrencyFK, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            <label for="ddlPOPaymentMethod" class="col-form-label">Payment Method:</label>
            @Html.DropDownListFor(model => model.POPaymentMethod, Model.POPaymentMethodList as SelectList, new { id = "ddlPOPaymentMethod", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
            @Html.ValidationMessageFor(model => model.POPaymentMethod, "", new { @class = "text-danger" })
        </div>


        <div class="form-group col-md-4">
            <label for="ddlEmployee" class="col-form-label">Requestor:</label>
            @Html.DropDownListFor(model => model.VMEmployeeFK, Model.UserList as SelectList, "Please Select", new { id = "ddlEmployee", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
            @Html.ValidationMessageFor(model => model.VMEmployeeFK, "", new { @class = "text-danger" })
        </div>
    </div>




    <div id="divtxtTermsAndCondition" class="form-group col-md-12">
        <label for="txtTermsAndCondition" class="col-form-label">Terms & Condition:</label>
        @Html.TextAreaFor(model => model.TermsAndCondition, new { id = "txtTermsAndCondition", @class = "form-control", style = "width:100%", required = "required", rows = 5, placeholder = "Terms & Conditions" })
        @Html.ValidationMessageFor(model => model.TermsAndCondition, "", new { @class = "text-danger" })
    </div>

    <div class="form-group col-md-12">
        <label for="txtDescription" class="col-form-label">Description:</label>
        @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", placeholder = "Description", @class = "form-control", rows = 5 })
    </div>

    <div class="form-group col-md-12" style="text-align:right;">

        <button type="submit" id="btnSave" class="btn btn-primary"><i class="fa fa-floppy-o"></i> @SaveText</button>

    </div>
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function (e) {
            $('.datePicker').datepicker({
                format: "yyyy-mm-dd",
                // format: "d/m/yy",
                autoclose: true,
                minDate: 0,
            });
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
        });
    </script>
}