﻿
@{
    ViewData["Title"] = "Supplier Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdOrderId = "tdOrderId";
    var tdPOCID = "tdPOCID";
    var tdPOOrderId = "tdPOOrderId";
    var tdSupplierName = "tdSupplierName";
    var tdCreationDate = "tdCreationDate";
    var tdOrderDate = "tdOrderDate";
    var tdTAndC = "tdTAndC";
    var tdStatusName = "tdStatusName";
    var tdCreatedBy = "tdCreatedBy";
    var POStatus = Model.AuthorizationStatus;
}
@model Erp.Core.Services.Procurement.VMPurchaseInvoice
@using (Html.BeginForm("PurchaseInvoiceStatusUpdate", "Procurement", FormMethod.Post, new { id = "PurchaseInvoice", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        @{ if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Closed)
                            {
                                <h3><label>@POStatus PO:</label></h3>
                            }
                            else
                            {
                                <div style="text-align:center;">
                                    <a class="linkPointer" href="~/Procurement/OngoingPurchaseInvoice/@((int)Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)" title="Draft"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                        {
                                            <span class="badge badge-light"> Draft : @Model.DraftStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Draft : @Model.DraftStatusCount</span>
                                        }
                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPurchaseInvoice/@((int)Erp.Core.Services.PurchaseInvoiceStatusEnum.Submitted)" title="Submitted"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Submitted)
                                        {
                                            <span class="badge badge-light"> Submitted : @Model.SubmittedStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Submitted : @Model.SubmittedStatusCount</span>
                                        }
                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPurchaseInvoice/@((int)Erp.Core.Services.PurchaseInvoiceStatusEnum.PrimaryApproved)" title="Primary Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.PrimaryApproved)
                                        {
                                            <span class="badge badge-light"> Primary Approved: @Model.PrimaryStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Primary Approved: @Model.PrimaryStatusCount</span>
                                        }
                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPurchaseInvoice/@((int)Erp.Core.Services.PurchaseInvoiceStatusEnum.FinalApproved)" title="Secondary Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.FinalApproved)
                                        {
                                            <span class="badge badge-light"> Final Approved: @Model.FinalStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Final Approved: @Model.FinalStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPurchaseInvoice/@((int)Erp.Core.Services.PurchaseInvoiceStatusEnum.AccountsApproved)" title="Final Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.AccountsApproved)
                                        {
                                            <span class="badge badge-light"> Accounts Approved: @Model.AccountsStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Accounts Approved: @Model.AccountsStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPurchaseInvoice/@((int)Erp.Core.Services.PurchaseInvoiceStatusEnum.Hold)" title="Hold Invoices"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Hold)
                                        {
                                            <span class="badge badge-light"> Hold: @Model.HoldStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-yellow"> Hold: @Model.HoldStatusCount</span>
                                        }

                                    </a>
                                    <br />

                                    @*<a class="linkPointer" href="~/Procurement/OngoingPurchaseInvoice/@((int)Erp.Core.Services.PurchaseInvoiceStatusEnum.PartialPaid)" title="Partiallly Paid Invoices"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.PartialPaid)
                                        {
                                        <span class="badge badge-light"> Partially Paid: @Model.PartialPaidStatusCount</span>
                                        }
                                        else
                                        {
                                        <span class="badge bg-orange"> Partially Paid: @Model.PartialPaidStatusCount</span>
                                        }

                                    </a>*@
                                    @*<a class="linkPointer" href="~/Procurement/OngoingPurchaseInvoice/@((int)Erp.Core.Services.PurchaseInvoiceStatusEnum.FullPaid)" title="Full Paid Invoices"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.FullPaid)
                                        {
                                        <span class="badge badge-light"> Full Paid: @Model.FullPaidStatusCount</span>
                                        }
                                        else
                                        {
                                        <span class="badge bg-lime"> Full Paid: @Model.FullPaidStatusCount</span>
                                        }

                                    </a>*@

                                </div>
                            }
                        }
                    </div>
                    <div class="box-body">
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                        @Html.HiddenFor(model => model.InvoiceActionId, new { Value = "", id = "POActionId" })
                        @Html.HiddenFor(model => model.POCID, new { id = "POCID" })
                        @Html.HiddenFor(model => model.Procurement_PurchaseOrderID, new { id = "PurchaseOrderID" })

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="table-responsive col-md-12">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th class="hidden hidden-print">POFK</th>
                                        <th>Invoice Id</th>
                                        <th>PO CID</th>
                                        <th>Invoice Origin</th>
                                        <th>Invoice Date</th>
                                        <th>Creation Date</th>
                                        <th>Created By</th>
                                        <th>Supplier</th>

                                        <th>Payment Method</th>
                                        <th>Authorization Status</th>
                                        <th class="hidden-print">Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                    <tr>
                                        <td>@(++sl)</td>
                                        <td class="hidden hidden-print" id="@tdPOOrderId@item.ID">@item.Procurement_PurchaseOrderID</td>
                                        <td id="@tdOrderId@item.ID">@item.CID</td>
                                        <td id="@tdPOCID@item.ID">@item.POCID</td>
                                        <td>@item.OriginTypeName</td>
                                        <td id="@tdOrderDate@item.ID">@item.InvoiceDateTableString</td>
                                        <td id="@tdCreationDate@item.ID">@item.CreationDateTableString</td>
                                        <td id="@tdCreatedBy@item.ID">@item.CreatedBy</td>
                                        <td id="@tdSupplierName@item.ID">@item.VMSupplierName</td>
                                        <td id="@tdTAndC@item.ID">@item.PaymentMethodName</td>
                                        <td id="@tdStatusName@item.ID">@item.AuthorizationStatus</td>

                                        <td class="hidden-print">
                                            @{
                                                if (item.HasSlave)
                                                {
                                                    if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                                    {
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Submit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Submit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Submit"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                        </a>

                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                        </a>

                                                    }
                                                    else if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Submitted)
                                                    {
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.PrimaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.PrimaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Primary Approve"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.UndoSubmit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.UndoSubmit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Undo Submit"
                                                           data-placement="top">
                                                            <i class="fa fa-undo" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                    else if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.PrimaryApproved)
                                                    {
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.FinalApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.FinalApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Secondary Approve"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.UndoPrimaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.UndoPrimaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                           data-placement="top">
                                                            <i class="fa fa-undo" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                    else if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.FinalApproved)
                                                    {
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.AccountsApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.AccountsApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Final Approve"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.UndoFinalApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.UndoFinalApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                           data-placement="top">
                                                            <i class="fa fa-undo" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                    else if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.AccountsApproved)
                                                    {
                                                        @*<a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.UndoAccountsApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.UndoAccountsApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                           data-placement="top">
                            <i class="fa fa-undo" aria-hidden="true"></i>
                        </a>*@
                                                        @*<a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                           data-placement="top">
                            <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                        </a>*@
                                                        @*<a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                           data-placement="top">
                            <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                        </a>*@
                                                        @*<a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                           data-placement="top">
                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                        </a>*@
                                                    }
                                                    else if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Closed)
                                                    {
                                                        @*<a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,13);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Re Open"
                           data-placement="top">
                            <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                        </a>*@
                                                    }
                                                    else if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Hold)
                                                    {
                                                        <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.ReOpen),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.ReOpen)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Re-Open"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                }

                                            }
                                            @if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                            {
                                                <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseInvoiceDetails/@item.ID" title="View & Edit Detail"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseInvoiceDetails/@item.ID" title="View Detail"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                </a>
                                            }



                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Supplier Invoice</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to <label id="lblPOActionName"></label>?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
        });

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#PurchaseOrder').bootstrapValidator("resetForm", true);

        }

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i> Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtPurchaseOrderId').val($('#tdOrderId' + r).text().trim());
                $('#txtCreationDate').val($('#tdCreationDate' + r).text().trim());
                $('#txtCreatedBy').val($('#tdCreatedBy' + r).text().trim());
                $('#txtEstimatedReceiveDate').datepicker('setDate', $('#tdEstRecDate' + r).text().trim());
                $('#ddlCurrency').val($('#tdCurrencyId' + r).text().trim());
                $('#txtTermsAndCondition').val($('#tdTAndC' + r).text().trim());

                $('#txtDescription').val($('#tdDescription' + r).text().trim());
                $('#ddlSupplier').val($('#tdSupplierId' + r).text().trim());
                $('#ddlEmployee').val($('#tdEmployeeId' + r).text().trim());
                $("#hdfDepartmentId").val($('#tdDepartmentId' + r).text().trim());
                $('#txtDepartmentName').val($('#tdDepartmentName' + r).text().trim());
                $('#POCID').val($('#tdPOCID' + r).text().trim());
                $('#PurchaseOrderID').val($('#tdPOOrderId' + r).text().trim());
                $('.ddlReset').trigger('change');

            }
        }

        function itemActionInfo(id, actionId, poActionId, poActionName) {
            if (id !== null && actionId !== null && poActionId !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(actionId);
                $('#POActionId').val(poActionId);
                $("#lblPOActionName").html(poActionName);
            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#PurchaseOrder').trigger("reset");



        });
    </script>
}


