﻿
@{
    ViewData["Title"] = "Purchase Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdOrderId = "tdOrderId";
    var tdSupplierId = "tdSupplierId";
    var tdSupplierName = "tdSupplierName";
    var tdEmployeeId = "tdEmployeeId";
    var tdEmployeeName = "tdEmployeeName";
    var tdCurrencyId = "tdCurrencyId";
    var tdCurrencyName = "tdCurrencyName";
    var tdCreationDate = "tdCreationDate";
    var tdOrderDate = "tdOrderDate";
    var tdDescription = "tdDescription";
    var tdTAndC = "tdTAndC";
    var tdStatusName = "tdStatusName";
    var tdCreatedBy = "tdCreatedBy";

    var POStatus = Model.AuthorizationStatus;

}
@model Erp.Core.Services.Procurement.VMPurchaseOrder
@using (Html.BeginForm("POStatusUpdate", "Procurement", FormMethod.Post, new { id = "PurchaseOrder", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">

                        @{ if (Model.Status == Erp.Core.Services.POStatusEnum.Closed)
                            {
                                <h3>
                                    <label>@POStatus PO:</label>
                                </h3>
                            }
                            else
                            {
                                <div style="text-align:center;">
                                    <a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.Draft)" title="Draft"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.POStatusEnum.Draft)
                                        {
                                            <span class="badge badge-light"> Draft : @Model.DraftStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Draft : @Model.DraftStatusCount</span>
                                        }


                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.Submitted)" title="Submitted"
                                       data-placement="top">


                                        @if (Model.Status == Erp.Core.Services.POStatusEnum.Submitted)
                                        {
                                            <span class="badge badge-light"> Submitted : @Model.SubmittedStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Submitted : @Model.SubmittedStatusCount</span>
                                        }


                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.PrimaryApproved)" title="Primary Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.POStatusEnum.PrimaryApproved)
                                        {
                                            <span class="badge badge-light"> Primary Approved: @Model.PrimaryStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Primary Approved: @Model.PrimaryStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.SecondaryApproved)" title="Secondary Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.POStatusEnum.SecondaryApproved)
                                        {
                                            <span class="badge badge-light"> Secondary Approved: @Model.SecondaryStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Secondary Approved: @Model.SecondaryStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.FinalApproved)" title="Final Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.POStatusEnum.FinalApproved)
                                        {
                                            <span class="badge badge-light"> Final Approved: @Model.FinalStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Final Approved: @Model.FinalStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.Hold)" title="Hold Orders"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.POStatusEnum.Hold)
                                        {
                                            <span class="badge badge-light"> Hold: @Model.HoldStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-yellow"> Hold: @Model.HoldStatusCount</span>
                                        }

                                    </a>
                                    <br />


                                    @*<a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.InspectionDone)" title="Inspection Done"
                                           data-placement="top">
                                            @if (Model.Status == Erp.Core.Services.POStatusEnum.InspectionDone)
                                            {
                                                <span class="badge badge-light"> Inspection Done: @Model.InspectionStatusCount</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-teal"> Inspection Done: @Model.InspectionStatusCount</span>
                                            }

                                        </a>*@
                                    <a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.PartialGoodsReceived)" title="Partial Goods Received"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.POStatusEnum.PartialGoodsReceived)
                                        {
                                            <span class="badge badge-light"> Partial Goods Received: @Model.PartialGoodsReceivedStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-orange"> Partial Goods Received: @Model.PartialGoodsReceivedStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/OngoingPO/@((int)Erp.Core.Services.POStatusEnum.GoodsReceived)" title="Goods Received"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.POStatusEnum.GoodsReceived)
                                        {
                                            <span class="badge badge-light"> Goods Received: @Model.GoodsReceivedStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-green"> Goods Received: @Model.GoodsReceivedStatusCount</span>
                                        }

                                    </a>
                                </div>
                            }
                        }


                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->

                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                        @Html.HiddenFor(model => model.POActionId, new { Value = "", id = "POActionId" })
                        @Html.HiddenFor(model => model.Status)
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="table-responsive col-md-12">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>PO Id</th>
                                        <th>PO Type</th>
                                        <th>PO Origin</th>
                                        <th>Order Date</th>
                                        <th>Creation Date</th>
                                        <th>Created By</th>
                                        <th>Supplier</th>
                                        <th>Payment Currency</th>
                                        <th>Payment Method</th>
                                        <th>Requestor</th>
                                        <th>Authorization Status</th>
                                        <th class="hidden-print">Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;}
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                        <tr>
                                            <td>@(++sl)</td>
                                            <td id="@tdOrderId@item.ID">
                                                @if (item.Status == Erp.Core.Services.POStatusEnum.FinalApproved || item.Status == Erp.Core.Services.POStatusEnum.PartialGoodsReceived || item.Status == Erp.Core.Services.POStatusEnum.GoodsReceived)
                                                {
                                                    <a asp-action="SupplierPO" asp-controller="Report" asp-route-id="@item.ProtectedPOID" target="_blank" title="Print PO">
                                                        <label class="col-form-label" style="cursor:pointer;"> @item.CID </label>
                                                    </a>
                                                }
                                                else
                                                {
                                                    @item.CID
                                                }

                                            </td>
                                            <td id="@tdDescription@item.ID">@item.POTypeName</td>
                                            <td>@item.OriginTypeName</td>
                                            <td id="@tdOrderDate@item.ID">@item.OrderDateTableString</td>
                                            <td id="@tdCreationDate@item.ID">@item.CreationDateTableString</td>
                                            <td id="@tdCreatedBy@item.ID">@item.CreatedBy</td>
                                            <td id="@tdSupplierName@item.ID">@item.VMSupplierName</td>
                                            <td id="@tdCurrencyName@item.ID">@item.VMCurrencyName</td>
                                            <td id="@tdTAndC@item.ID">@item.POPaymentMethodName</td>
                                            <td id="@tdEmployeeName@item.ID">@item.VMEmployeeName</td>
                                            <td id="@tdStatusName@item.ID">@item.AuthorizationStatus</td>


                                            <td class="hidden-print">
                                                @{
                                                    if (item.HasSlave)
                                                    {
                                                        if (item.Status == Erp.Core.Services.POStatusEnum.Draft)
                                                        {


                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Submit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Submit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Submit"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>

                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>

                                                        }
                                                        else if (item.Status == Erp.Core.Services.POStatusEnum.Submitted)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.PrimaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.PrimaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Primary Approve"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.UndoSubmit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.UndoSubmit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Undo Submit"
                                                               data-placement="top">
                                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.Status == Erp.Core.Services.POStatusEnum.PrimaryApproved)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.SecondaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.SecondaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Secondary Approve"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.UndoPrimaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.UndoPrimaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                               data-placement="top">
                                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.Status == Erp.Core.Services.POStatusEnum.SecondaryApproved)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.FinalApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.FinalApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Final Approve"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.UndoSecondaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.UndoSecondaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                               data-placement="top">
                                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.Status == Erp.Core.Services.POStatusEnum.FinalApproved)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.UndoFinalApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.UndoFinalApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                               data-placement="top">
                                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.Status == Erp.Core.Services.POStatusEnum.Closed)
                                                        {
                                                            @*<a id="@item.ID" onclick="itemActionInfo(@item.ID,4,13);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Re Open"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                                                                </a>*@
                                                        }
                                                        else if (item.Status == Erp.Core.Services.POStatusEnum.Hold)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.ReOpen),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.ReOpen)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Re-Open"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                    }

                                                }
                                                @if (item.Status == Erp.Core.Services.POStatusEnum.Draft)
                                                {
                                                    <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseOrderDetails/@item.ID" title="View & Edit Detail"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseOrderDetails/@item.ID" title="View Detail"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                    </a>
                                                }



                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>

            </div>

        </div>
    </section>



    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Purchase Order</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to <label id="lblPOActionName"></label>?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
        });

        function resetDDL() {

            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#PurchaseOrder').bootstrapValidator("resetForm", true);

        }

        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i> Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtPurchaseOrderId').val($('#tdOrderId' + r).text().trim());
                $('#txtCreationDate').val($('#tdCreationDate' + r).text().trim());
                $('#txtCreatedBy').val($('#tdCreatedBy' + r).text().trim());
                $('#txtEstimatedReceiveDate').datepicker('setDate', $('#tdEstRecDate' + r).text().trim());
                $('#ddlCurrency').val($('#tdCurrencyId' + r).text().trim());
                $('#txtTermsAndCondition').val($('#tdTAndC' + r).text().trim());

                $('#txtDescription').val($('#tdDescription' + r).text().trim());
                $('#ddlSupplier').val($('#tdSupplierId' + r).text().trim());
                $('#ddlEmployee').val($('#tdEmployeeId' + r).text().trim());
                $("#hdfDepartmentId").val($('#tdDepartmentId' + r).text().trim());
                $('#txtDepartmentName').val($('#tdDepartmentName' + r).text().trim());
                $('.ddlReset').trigger('change');

            }
        }

        function itemActionInfo(id, actionId, poActionId, poActionName) {
            if (id !== null && actionId !== null && poActionId !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(actionId);
                $('#POActionId').val(poActionId);
                $("#lblPOActionName").html(poActionName);
            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#PurchaseOrder').trigger("reset");
        });
    </script>
}


