﻿@{
    ViewData["Title"] = "Procurement Purchase Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdOrderId = "tdOrderId";
    var tdSupplierId = "tdSupplierId";
    var tdSupplierName = "tdSupplierName";
    var tdEmployeeId = "tdEmployeeId";
    var tdEmployeeName = "tdEmployeeName";
    var tdCurrencyId = "tdCurrencyId";
    var tdCurrencyName = "tdCurrencyName";
    var tdCreationDate = "tdCreationDate";
    var tdOrderDate = "tdOrderDate";
    var tdDescription = "tdDescription";
    var tdTAndC = "tdTAndC";
    var tdStatusName = "tdStatusName";
    var tdCreatedBy = "tdCreatedBy";


    //  var tdId = "tdId";
    var tdPOID = "tdPOID";
    var tdPurchasingPrice = "tdPurchasingPrice";
    var tdInspection = "tdInspection";
    var tdInspectionRequired = "tdInspectionRequired";
    var tdInspectionRequiredInPR = "tdInspectionRequiredInPR";
    var tdRawItemID = "tdRawItemID";
    var tdRawSubCategoryID = "tdRawSubCategoryID";
    var tdRawCategoryID = "tdRawCategoryID";
    var tdReqSlaveId = "tdReqSlaveId";
    var tdRawItemName = "tdRawItemName";
    var tdUnitName = "tdUnitName";
    var tdDescriptionSlave = "tdDescriptionSlave";
    var tdRequisitionQuantity = "tdRequisitionQuantity";
    var tdProcuredQuantity = "tdProcuredQuantity";
    var tdRestQuantity = "tdRestQuantity";
    var tdPurchaseQuantity = "tdPurchaseQuantity";
    var tdAvailableQuantity = "tdAvailableQuantity";
    var tdTotalPrice = "tdTotalPrice";


    var PIStatus = Model.AuthorizationStatus;
}
@model Erp.Core.Services.Procurement.VMPurchaseInvoiceSlave
@using (Html.BeginForm("ProcurementPurchaseInvoice", "Procurement", FormMethod.Post, new { id = "ProcurementPurchaseInvoice", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hdfId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdfActionId" })
    @Html.HiddenFor(model => model.InvoiceActionId, new { Value = "", id = "hdfPOActionId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="box">

        <div class="box box-success">
            <div class="box-header custom bg-success">
                <h4>
                    Draft Invoice:
                </h4>
            </div>

            <div class="box-body">
                <div class="form-group">
                    <label for="ddlSupplier" class="col-form-label">PO List:</label>
                    @Html.DropDownListFor(model => model.POID, Model.ApprovedSInItemList as SelectList, "Please Select", new { id = "ddlApprovedPR", @class = "searchingDropdown form-control ddlReset", style = "width:100%", required = "required" })
                    @Html.ValidationMessageFor(model => model.POID, "", new { @class = "text-danger" })
                </div>
            </div>

        </div>
    </div>
}
@using (Html.BeginForm("PurchaseInvoiceSlaveListWithMaster", "Procurement", FormMethod.Post, new { id = "PurchaseInvoiceSlaveListWithMaster", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div class="box-body">
        <div id="divPOSlaveList"></div>
    </div>
}



@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
        });

        function resetDDL() {

            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#PurchaseInvoice').bootstrapValidator("resetForm", true);

        }

        function menuinfo(elem) {
            if (elem !== null) {

                $.ajax({
                    type: "GET",
                    url: "/Procurement/PurchaseInvoiceSpecific?id=" + elem.id,
                    datatype: "Json",

                    success: function (data) {

                        if (data) {
                            $('#divEditPOInfo').html(data);

                            //$("#txtOrderDate").val($('#tdOrderDate' + elem.id).text().trim());

                            $('.formValidator').bootstrapValidator();
                            $('.datePicker').datepicker({
                                format: "yyyy-mm-dd",
                                // format: "d/m/yy",
                                autoclose: true
                            }).on('changeDate', function (ev) {

                                if ($(this).parents('form')) {
                                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                                }

                            });
                            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                            $('.searchingDropdown').select2();
                        }

                    }
                });


                //var r = elem.id;
                //$('#hidId').val(r);
                //$('#ActionId').val(2);
                //$('#btnSave').html("<i class='fa fa-edit'></i> Update");
                //$('#hidId').val($('#tdId' + r).text().trim());


                //$('#txtOrderDate').datepicker('setDate', $('#tdOrderDate' + r).text().trim());
                //$('#ddlCurrency').val($('#tdCurrencyId' + r).text().trim());
                //$('#txtTermsAndCondition').val($('#tdTAndC' + r).text().trim());

                //$('#txtDescription').val($('#tdDescription' + r).text().trim());
                //$('#ddlSupplier').val($('#tdSupplierId' + r).text().trim());
                //$('#ddlEmployee').val($('#tdEmployeeId' + r).text().trim());
                //$("#hdfDepartmentId").val($('#tdDepartmentId' + r).text().trim());
                //$('#txtDepartmentName').val($('#tdDepartmentName' + r).text().trim());
                //$('.ddlReset').trigger('change');

            }
        }

    function itemActionInfo(id, actionId, poActionId, poActionName) {
        if (id !== null && actionId !== null && poActionId !== null) {
            $('#hidId').val(id);
            $('#ActionId').val(actionId);
            $('#POActionId').val(poActionId);
            $("#lblPOActionName").html(poActionName);
        }
    }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#PurchaseInvoice').trigger("reset");



        });

        $("#ddlApprovedPR").change(function (e) {
            $('#divPOSlaveList').empty();
            ///populate controls with data from PRSlave
            $.ajax({
                type: "GET",
                url: "/Procurement/PurchaseInvoiceSlaveListPoWise?id=" + $("#ddlApprovedPR :selected").val(),
                datatype: "Json",
                success: function (data) {
                    if (data) {
                        $('#divPOSlaveList').html(data);
                        $('.formValidator').bootstrapValidator();
                        $('.datePicker').datepicker({
                            format: "yyyy-mm-dd",
                            // format: "d/m/yy",
                            autoclose: true
                        }).on('changeDate', function (ev) {

                            if ($(this).parents('form')) {
                                $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                            }

                        });

                        $('.searchingDropdown').select2();

                        $("#tblPOSlaveList").DataTable({
                            "paging": false
                        });
                    }

                }
            });
        });

    </script>
}

