﻿@{
    ViewData["Title"] = "Purchase Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdOrderId = "tdOrderId";
    var tdSupplierId = "tdSupplierId";
    var tdSupplierName = "tdSupplierName";
    var tdEmployeeId = "tdEmployeeId";
    var tdEmployeeName = "tdEmployeeName";
    var tdCurrencyId = "tdCurrencyId";
    var tdCurrencyName = "tdCurrencyName";
    var tdCreationDate = "tdCreationDate";
    var tdOrderDate = "tdOrderDate";
    var tdDescription = "tdDescription";
    var tdTAndC = "tdTAndC";
    var tdStatusName = "tdStatusName";
    var tdCreatedBy = "tdCreatedBy";

    var POStatus = Model.AuthorizationStatus;




}
@model Erp.Core.Services.Procurement.VMPurchaseOrder

<section class="col-lg-12 col-md-12 col-sm-12">
    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">


                    @{ if (Model.Status == Erp.Core.Services.POStatusEnum.Closed || Model.Status == Erp.Core.Services.POStatusEnum.Draft)
                        {
                            <h3>
                                <label>@POStatus PO:</label>
                            </h3>
                        }
                    }

                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->
                    @if (Model.Status == Erp.Core.Services.POStatusEnum.Draft)
                    {
                        <div id="divEditPOInfo">
                            @{await Html.RenderPartialAsync("_PurchaseOrderSpecific");
                            }
                        </div>
                    }



                    <div class="table-responsive col-md-12">
                        <table id="tableX" class="table table-bordered table-striped text-nowrap">
                            <thead>
                                <tr>
                                    <th>SL</th>

                                    <th>PO Id</th>
                                    <th>PO Type</th>
                                    <th>PO Origin</th>
                                    <th>Order Date</th>
                                    <th>Creation Date</th>
                                    <th>Created By</th>
                                    <th>Supplier</th>
                                    <th>Payment Currency</th>
                                    <th>Payment Method</th>

                                    <th>Requestor</th>
                                    <th>Authorization Status</th>
                                    <th class="hidden-print">Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                    <tr>
                                        <td>@(++sl)</td>

                                        <td id="@tdOrderId@item.ID">
                                            @if (item.Status == Erp.Core.Services.POStatusEnum.FinalApproved || item.Status == Erp.Core.Services.POStatusEnum.PartialGoodsReceived || item.Status == Erp.Core.Services.POStatusEnum.GoodsReceived)
                                            {
                                                <a asp-action="SupplierPO" asp-controller="Report" asp-route-id="@item.ProtectedPOID" target="_blank" title="Print PO"><label class="col-form-label" style="cursor:pointer;">@item.CID</label></a>
                                            }
                                            else
                                            {
                                                @item.CID
                                            }

                                        </td>
                                        <td id="@tdDescription@item.ID">@item.POTypeName</td>
                                        <td>@item.OriginTypeName</td>
                                        <td id="@tdOrderDate@item.ID">@item.OrderDateTableString</td>
                                        <td id="@tdCreationDate@item.ID">@item.CreationDateTableString</td>
                                        <td id="@tdCreatedBy@item.ID">@item.CreatedBy</td>
                                        <td id="@tdSupplierName@item.ID">@item.VMSupplierName</td>
                                        <td id="@tdCurrencyName@item.ID">@item.VMCurrencyName</td>
                                        <td id="@tdTAndC@item.ID">@item.POPaymentMethodName</td>

                                        <td id="@tdEmployeeName@item.ID">@item.VMEmployeeName</td>
                                        <td id="@tdStatusName@item.ID">@item.AuthorizationStatus</td>


                                        <td class="hidden-print">
                                            @{ if (item.Status == Erp.Core.Services.POStatusEnum.Draft)
                                                {
                                                    <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="itemActionInfo(@item.ID,3,@((int)Erp.Core.Services.POActionEnum.Delete),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Delete)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                    @if (item.HasSlave)
                                                    {
                                                        <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Submit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Submit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Submit"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                        </a>

                                                        <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.POActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.POActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                        </a>
                                                    }


                                                }


                                            }
                                            @if (item.Status == Erp.Core.Services.POStatusEnum.Draft)
                                            {
                                                <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseOrderDetails/@item.ID" title="View & Edit Detail"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseOrderDetails/@item.ID" title="View Detail"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                </a>
                                            }



                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-footer">

                </div>
            </div>

        </div>



    </div>
</section>


@using (Html.BeginForm("PurchaseOrder", "Procurement", FormMethod.Post, new { id = "PurchaseOrder", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
    @Html.HiddenFor(model => model.POActionId, new { Value = "", id = "POActionId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Purchase Order</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to <label id="lblPOActionName"></label>?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
        });

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#PurchaseOrder').bootstrapValidator("resetForm", true);

        }

        function menuinfo(elem) {
            if (elem !== null) {

                $.ajax({
                    type: "GET",
                    url: "/Procurement/PurchaseOrderSpecific?id=" + elem.id,
                    datatype: "Json",

                    success: function (data) {
                        
                        if (data) {
                            $('#divEditPOInfo').html(data);

                            //$("#txtOrderDate").val($('#tdOrderDate' + elem.id).text().trim());

                            $('.formValidator').bootstrapValidator();
                            $('.datePicker').datepicker({
                                format: "yyyy-mm-dd",
                                // format: "d/m/yy",
                                autoclose: true
                            }).on('changeDate', function (ev) {
                                
                                if ($(this).parents('form')) {
                                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                                }

                            });
                            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                            $('.searchingDropdown').select2();
                        }

                    }
                });


                //var r = elem.id;
                //$('#hidId').val(r);
                //$('#ActionId').val(2);
                //$('#btnSave').html("<i class='fa fa-edit'></i> Update");
                //$('#hidId').val($('#tdId' + r).text().trim());


                //$('#txtOrderDate').datepicker('setDate', $('#tdOrderDate' + r).text().trim());
                //$('#ddlCurrency').val($('#tdCurrencyId' + r).text().trim());
                //$('#txtTermsAndCondition').val($('#tdTAndC' + r).text().trim());

                //$('#txtDescription').val($('#tdDescription' + r).text().trim());
                //$('#ddlSupplier').val($('#tdSupplierId' + r).text().trim());
                //$('#ddlEmployee').val($('#tdEmployeeId' + r).text().trim());
                //$("#hdfDepartmentId").val($('#tdDepartmentId' + r).text().trim());
                //$('#txtDepartmentName').val($('#tdDepartmentName' + r).text().trim());
                //$('.ddlReset').trigger('change');

            }
        }

    function itemActionInfo(id, actionId, poActionId, poActionName) {
        if (id !== null && actionId !== null && poActionId !== null) {
            $('#hidId').val(id);
            $('#ActionId').val(actionId);
            $('#POActionId').val(poActionId);
            $("#lblPOActionName").html(poActionName);
        }
    }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#PurchaseOrder').trigger("reset");



        });
    </script>
}


