﻿@{
    ViewData["Title"] = "Supplier Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdOrderId = "tdOrderId";
    var tdSupplierName = "tdSupplierName";
    var tdCreationDate = "tdCreationDate";
    var tdOrderDate = "tdOrderDate";
    var tdTAndC = "tdTAndC";
    var tdStatusName = "tdStatusName";
    var tdCreatedBy = "tdCreatedBy";
    var tdPOID = "tdPOID";
    var PIStatus = Model.AuthorizationStatus;

}
@model Erp.Core.Services.Procurement.VMPurchaseInvoice

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-header custom bg-success">
                @{ if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Closed || Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                    {
                        <h4>
                            <label>Supplier Invoice [ @PIStatus ]</label>
                        </h4>
                    }
                }
            </div>
            <div class="box-body">
                @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                {
                    <div id="divEditPOInfo">
                        @{await Html.RenderPartialAsync("_PurchaseInvoiceSpecific");}
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Invoice Id</th>
                                <th>Invoice Origin</th>
                                <th>Invoice Date</th>
                                <th>Creation Date</th>
                                <th>Created By</th>
                                <th>Supplier</th>
                                <th>PO Id</th>
                                <th>Payment Method</th>
                                <th>Authorization Status</th>
                                <th class="hidden-print">Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;}
                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td>@(++sl)</td>
                                <td id="@tdOrderId@item.ID">@item.CID</td>
                                <td>@item.OriginTypeName</td>
                                <td id="@tdOrderDate@item.ID">@item.InvoiceDateTableString</td>
                                <td id="@tdCreationDate@item.ID">@item.CreationDateTableString</td>
                                <td id="@tdCreatedBy@item.ID">@item.CreatedBy</td>
                                <td id="@tdSupplierName@item.ID">@item.VMSupplierName</td>
                                <td id="@tdPOID@item.ID">@item.POCID</td>
                                <td id="@tdTAndC@item.ID">@item.PaymentMethodName</td>
                                <td id="@tdStatusName@item.ID">@item.AuthorizationStatus</td>
                                <td class="hidden-print">
                                    @{ if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                        {
                                            <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                            </a>
                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,3,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Delete),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Delete)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </a>
                                            @if (item.HasSlave)
                                            {
                                                <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Submit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Submit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Submit"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                </a>
                                                <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                </a>
                                                <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                </a>

                                                <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PurchaseInvoiceActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PurchaseInvoiceActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                </a>
                                            }
                                        }
                                    }
                                    @if (item.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                    {
                                        <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseInvoiceDetails/@item.ID" title="View & Edit Detail"
                                           data-placement="top">
                                            <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseInvoiceDetails/@item.ID" title="View Detail"
                                           data-placement="top">
                                            <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                        </a>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("PurchaseInvoice", "Procurement", FormMethod.Post, new { id = "PurchaseInvoice", @class = "formValidator", onreset = "resetDDL();" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
    @Html.HiddenFor(model => model.InvoiceActionId, new { Value = "", id = "POActionId" })
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Supplier Invoice</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to <label id="lblPOActionName"></label>?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
        });

        function resetDDL() {
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");
            $('.ddlReset').val('').trigger('change');
            $('#PurchaseInvoice').bootstrapValidator("resetForm", true);
        }

        function menuinfo(elem) {
            if (elem !== null) {

                $.ajax({
                    type: "GET",
                    url: "/Procurement/PurchaseInvoiceSpecific?id=" + elem.id,
                    datatype: "Json",
                    success: function (data) {
                        if (data) {
                            $('#divEditPOInfo').html(data);
                            $('.formValidator').bootstrapValidator();
                            $('.datePicker').datepicker({
                                format: "yyyy-mm-dd",
                                autoclose: true
                            }).on('changeDate', function (ev) {
                                if ($(this).parents('form')) {
                                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                                }
                            });
                            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                            $('.searchingDropdown').select2();
                        }
                    }
                });
            }
        }

    function itemActionInfo(id, actionId, poActionId, poActionName) {
        if (id !== null && actionId !== null && poActionId !== null) {
            $('#hidId').val(id);
            $('#ActionId').val(actionId);
            $('#POActionId').val(poActionId);
            $("#lblPOActionName").html(poActionName);
        }
    }
        $("#btnClose").click(function (e) {
            e.preventDefault();
            $('#PurchaseInvoice').trigger("reset");
        });
    </script>
}


