﻿@model Erp.Core.Services.Procurement.VMPurchaseInvoiceSlave
@{
    ViewData["Title"] = "Supplier Invoice Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdPurchasingPrice = "tdPurchasingPrice";
    var tdRawItemName = "tdRawItemName";
    var tdUnitName = "tdUnitName";
    var tdDescriptionSlave = "tdDescriptionSlave";
    var tdRequisitionQuantity = "tdRequisitionQuantity";
    var tdPurchaseQuantity = "tdPurchaseQuantity";
    var tdTotalPrice = "tdTotalPrice";
    var PRStatus = Model.AuthorizationStatus;

    int checkItem = Model.DataListSlave.Any() == true ? Model.DataListSlave.Count() : 0;
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <section class="content-header">
            <h1>Invoice Details [ @PRStatus ]</h1>
            <ol class="breadcrumb">
                <li><a asp-action="Index" asp-controller="Home"><i class="fa fa-dashboard"></i>Home</a></li>
                @*<li><a asp-action="Order" asp-controller="Merchandising">Order</a></li>*@
                <li class="active">Invoice Details</li>
            </ol>
        </section>
        <div class="box box-success">
            <div class="box-body">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("Invoice ID")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.CID)">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("PO ID")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.POID)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    @*<div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("Invoice ID")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.CID)">
                        </div>
                    </div>*@
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("Payment Method")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.PaymentMethodName)">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("Invoice Origin")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.OriginType)">
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("Status")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.AuthorizationStatus)">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("Supplier Name")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.VMSupplierName)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("Create Date")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.CreationDateControlString)">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="input-group">
                            <span class="input-group-addon">@Html.DisplayName("Create By")</span>
                            <input type="text" class="form-control" readonly="readonly" value="@Html.DisplayFor(x => x.CreatedBy)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box" id="formhide">
                <div class="box-header">
                    <div class="form-group col-md-12">
                        <label for="ddlApprovedPR" class="col-form-label">By PO:</label>
                        @Html.DropDownList("ApprovedSInList", Model.ApprovedSInList as SelectList, "Please Select", new { id = "ddlApprovedPR", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                    </div>
                </div>
                <div class="box-body">
                    @*<fieldset><legend>Add Stock-In Items</legend></fieldset>*@
                    <div class="form-group col-md-12" id="divPOSlaveList" style="padding:0px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="divEditPOSlave"></div>
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box">
            <div class="box-body">
                <div class="table-responsive col-md-12">
                    <table id="tableABC" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                {
                                    <th>BPO/Style</th>
                                    <th>Color/GSM</th>
                                }
                                <th>Item</th>
                                <th>Description/ Specification</th>
                                <th>StockIn Quantity</th>
                                <th>Invoice Quantity</th>
                                <th>Unit</th>
                                <th>StockIn Price</th>
                                <th>Invoice Price</th>
                                <th>Total Price</th>
                                @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                {
                                    <th class="hidden-print">Action</th>
                                }
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataListSlave)
                            {
                                <tr>
                                    <td>@(++sl)</td>
                                    @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                    {
                                        <td>@item.BONoStyleName</td>
                                        <td>@item.StyleColorGSM</td>
                                    }
                                    <td id="@tdRawItemName@item.ID">@item.VMRawItemName</td>
                                    <td id="@tdDescriptionSlave@item.ID">@item.DescriptionSlave</td>
                                    <td id="@tdRequisitionQuantity@item.ID">@item.StockInQuantity</td>
                                    <td id="@tdPurchaseQuantity@item.ID">@item.InvoiceQuantity</td>
                                    <td id="@tdUnitName@item.ID">@item.VMUnitName</td>
                                    <td>@item.SuggestedPrice</td>
                                    <td id="@tdPurchasingPrice@item.ID">@item.InvoicePrice</td>
                                    <td id="@tdTotalPrice@item.ID">@item.TotalPrice</td>
                                    @{ if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                        {
                                            <td class="hidden-print">
                                                <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit" data-placement="top"><i class="glyphicon glyphicon-pencil" aria-hidden="true"></i></a>
                                                <a id="@item.ID" onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        }
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box box-primary">
                <div class="box-header custom bg-success">
                    <h4>@PRStatus Invoice Detail:</h4>
                </div>
                <div class="box-body">
                    <!--Body Will by Start Here-->
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Invoice Id: @Model.CID</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Status: @Model.AuthorizationStatus</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Creation Date: @Model.CreationDateControlString</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Created By: @Model.CreatedBy</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Supplier: @Model.VMSupplierName</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Payment Method: @Model.PaymentMethodName</label>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Invoice Origin: @Model.OriginTypeName</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-form-label">Description: @Model.Description</label>
                        </div>
                    </div>
                    @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                    {
                        <fieldset>
                            <legend>Add Stock-In Items</legend>
                            <div class="form-group col-md-12">
                                <label for="ddlApprovedPR" class="col-form-label">By PO:</label>
                                @Html.DropDownList("ApprovedSInList", Model.ApprovedSInList as SelectList, "Please Select", new { id = "ddlApprovedPR", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                            </div>
                            <div class="form-group col-md-12" id="divPOSlaveList" style="padding:0px;"></div>
                        </fieldset>
                        <div class="form-group col-md-12" id="divEditPOSlave" style="padding:0px;"></div>
                    }

                    <div class="table-responsive col-md-12">
                        <table id="tableABC" class="table table-striped text-nowrap">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                    {
                                        <th>BPO/Style</th>
                                        <th>Color/GSM</th>
                                    }
                                    <th>Item</th>
                                    <th>Description/ Specification</th>
                                    <th>StockIn Quantity</th>
                                    <th>Invoice Quantity</th>
                                    <th>Unit</th>
                                    <th>StockIn Price</th>
                                    <th>Invoice Price</th>
                                    <th>Total Price</th>
                                    @if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                    {
                                        <th class="hidden-print">Action</th>
                                    }
                                </tr>
                            </thead>
                            @{int sl1 = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataListSlave)
                                {
                                    <tr>
                                        <td>@(++sl1)</td>
                                        @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                        {
                                            <td>@item.BONoStyleName</td>
                                            <td>@item.StyleColorGSM</td>
                                        }
                                        <td id="@tdRawItemName@item.ID">@item.VMRawItemName</td>
                                        <td id="@tdDescriptionSlave@item.ID">@item.DescriptionSlave</td>
                                        <td id="@tdRequisitionQuantity@item.ID">@item.StockInQuantity</td>
                                        <td id="@tdPurchaseQuantity@item.ID">@item.InvoiceQuantity</td>
                                        <td id="@tdUnitName@item.ID">@item.VMUnitName</td>
                                        <td>@item.SuggestedPrice</td>
                                        <td id="@tdPurchasingPrice@item.ID">@item.InvoicePrice</td>
                                        <td id="@tdTotalPrice@item.ID">@item.TotalPrice</td>
                                        @{ if (Model.Status == Erp.Core.Services.PurchaseInvoiceStatusEnum.Draft)
                                            {
                                                <td class="hidden-print">
                                                    <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
*@

<div class="row">
    @using (Html.BeginForm("PurchaseInvoiceDetails", "Procurement", FormMethod.Post, new { id = "PurchaseInvoiceDetailsDelete", @class = "formValidator", onreset = "resetDDL();" }))
    {
        @Html.HiddenFor(model => model.ID, new { Value = "", id = "hdfId" })
        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdfActionId" })
        @Html.HiddenFor(model => model.Procurement_PurchaseInvoiceFK, new { Value = "", id = "hdfPOFKId" })

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>Invoice Detail</b></h5>
                    </div>
                    <div class="modal-body box-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>




@section scripts {

    <script type="text/javascript">
        var nRawCategory, nRawSubCategory, nRawItem;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy/MM/dd")');*@

        });

        var counter = '@checkItem';
        if (counter > 0)
        {
            $('#formhide').hide();
        }

        function resetDDL() {

            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#PurchaseOrderDetails').bootstrapValidator("resetForm", true);

        }

        $("#ddlRawCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawSubCategoryGet")",
                datatype: "Json",
                data: { id: $("#ddlRawCategory :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlRawSubCategory").empty();
                        $("#ddlRawSubCategory").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawSubCategory").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawSubCategory && nRawSubCategory > 0) {
                            $("#ddlRawSubCategory").val(nRawSubCategory);

                            $("#ddlRawSubCategory").trigger('change');
                        }
                    }
                }
            });
        });

        $("#ddlRawSubCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemGet")",
                datatype: "Json",
                data: { id: $("#ddlRawSubCategory :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlRawItem").empty();
                        $("#ddlRawItem").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawItem").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawItem && nRawItem > 0) {
                            $("#ddlRawItem").val(nRawItem);

                            $("#ddlRawItem").trigger('change');
                        }
                    }
                }
            });
        });

        $("#ddlRawItem").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemInfoGet")",
                datatype: "Json",
                data: { id: $("#ddlRawItem :selected").val() },
                success: function (data) {
                    //
                    var items = "";

                    if (data) {
                        $('#txtAvailableQuantity').val(data.quantity);
                        $('#txtUnitName').val(data.unit);
                    }
                }
            });
        });

        $("#ddlApprovedPR").change(function (e) {
            $('#divPOSlaveList').empty();
            ///populate controls with data from PRSlave
            $.ajax({
                type: "GET",
                url: "/Procurement/PurchaseInvoiceSlaveList?id=" + $("#ddlApprovedPR :selected").val() + "&PurchaseInvoiceId=" + $("#hdfPOFKId").val(),
                datatype: "Json",

                success: function (data) {

                    if (data) {
                        $('#divPOSlaveList').html(data);
                        $('.formValidator').bootstrapValidator();
                        $('.datePicker').datepicker({
                            format: "yyyy-mm-dd",
                            // format: "d/m/yy",
                            autoclose: true
                        }).on('changeDate', function (ev) {

                            if ($(this).parents('form')) {
                                $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                            }

                        });

                        $('.searchingDropdown').select2();

                        $("#tblPOSlaveList").DataTable({
                            "paging": false
                        });
                    }

                }
            });
        });
        $("#ddlApprovedPRItem").change(function (e) {
            $('#divPOSlaveList').empty();
            ///populate controls with data from PRSlave
            $.ajax({
                type: "GET",
                url: "/Procurement/PurchaseInvoiceSlaveItemList?id=" + $("#ddlApprovedPRItem :selected").val() + "&PurchaseInvoiceId=" + $("#hdfPOFKId").val(),
                datatype: "Json",

                success: function (data) {

                    if (data) {
                        $('#divPOSlaveList').html(data);

                        $('.formValidator').bootstrapValidator();
                        $('.datePicker').datepicker({
                            format: "yyyy-mm-dd",
                            // format: "d/m/yy",
                            autoclose: true
                        }).on('changeDate', function (ev) {

                            if ($(this).parents('form')) {
                                $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                            }

                        });

                        $('.searchingDropdown').select2();

                        $("#tblPOSlaveList").DataTable({
                            "paging": false
                        });
                    }

                }
            });
        });
        function menuinfo(elem) {
            if (elem !== null) {
                $.ajax({
                    type: "GET",
                    url: "/Procurement/PurchaseInvoiceDetailSpecific?id=" + elem.id,
                    datatype: "Json",

                    success: function (data) {

                        if (data) {
                            $('#divEditPOSlave').html(data);
                            $('.formValidator').bootstrapValidator();
                            $('.datePicker').datepicker({
                                format: "yyyy-mm-dd",
                                // format: "d/m/yy",
                                autoclose: true
                            }).on('changeDate', function (ev) {

                                if ($(this).parents('form')) {
                                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                                }

                            });

                            $('.searchingDropdown').select2();
                        }

                    }
                });


                //window.location = "/Procurement/PurchaseOrderDetails?id=" + $("#POFKId").val() + "&slaveId=" + elem.id;

                //var r = elem.id;
                //$('#hidId').val(r);
                //$('#ActionId').val(2);
                //$('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                //$('#hidId').val($('#tdId' + r).text().trim());

                //nRawCategory = $('#tdRawCategoryID' + r).text().trim();
                //nRawSubCategory = $('#tdRawSubCategoryID' + r).text().trim();
                //nRawItem = $('#tdRawItemID' + r).text().trim();

                //$('#ddlRawCategory').val($('#tdRawCategoryID' + r).text().trim());
                //$('#ddlRawCategory').trigger('change');

                //$("#POFKId").val($('#tdPOID' + r).text().trim());
                //$("#PRSFKId").val($('#tdReqSlaveId' + r).text().trim());

                //$('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());
                //$('#txtPurchaseQuantity').val($('#tdPurchaseQuantity' + r).text().trim());
                //$('#txtPurchaseQuantity').prop("max", $('#tdRestQuantity' + r).text().trim());

                //$('#txtPurchasingPrice').val($('#tdPurchasingPrice' + r).text().trim());

                //$('#txtDescriptionSlave').val($('#tdDescriptionSlave' + r).text().trim());


                //if ($('#tdInspectionRequired' + r).text().trim() == "True") {
                //    $("#chkInspectionRequired").prop("checked", true);
                //}

                //if ($('#tdInspectionRequiredInPR' + r).text().trim() == "True") {
                //    $("#chkInspectionRequired").prop("disabled", true);
                //}
                //else {
                //    $("#chkInspectionRequired").prop("disabled", false);
                //}


            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hdfId').val(id);
                $('#hdfActionId').val(3);
            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();
            $('#PurchaseInvoiceDetailsDelete').trigger("reset");
        });
    </script>
}


