﻿@{
    ViewData["Title"] = "Purchase Order Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdPOID = "tdPOID";
    var tdPurchasingPrice = "tdPurchasingPrice";
    var tdInspection = "tdInspection";
    var tdInspectionRequired = "tdInspectionRequired";
    var tdInspectionRequiredInPR = "tdInspectionRequiredInPR";
    var tdRawItemID = "tdRawItemID";
    var tdRawSubCategoryID = "tdRawSubCategoryID";
    var tdRawCategoryID = "tdRawCategoryID";
    var tdReqSlaveId = "tdReqSlaveId";
    var tdRawItemName = "tdRawItemName";
    var tdUnitName = "tdUnitName";
    var tdDescriptionSlave = "tdDescriptionSlave";
    var tdRequisitionQuantity = "tdRequisitionQuantity";
    var tdProcuredQuantity = "tdProcuredQuantity";
    var tdRestQuantity = "tdRestQuantity";
    var tdPurchaseQuantity = "tdPurchaseQuantity";
    var tdAvailableQuantity = "tdAvailableQuantity";
    var tdTotalPrice = "tdTotalPrice";

    var PRStatus = Model.AuthorizationStatus;
}
@model Erp.Core.Services.Procurement.VMPurchaseOrderSlave

<section class="col-lg-12 col-md-12 col-sm-12">

    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3>
                    <label>@PRStatus PO Detail:</label>
                </h3>
            </div>
            <div class="box-body">
                <div class="col-md-12 no-padding">
                    <div class="form-group col-md-3">
                        PO Id:
                        @if (Model.Status == Erp.Core.Services.POStatusEnum.FinalApproved || Model.Status == Erp.Core.Services.POStatusEnum.PartialGoodsReceived || Model.Status == Erp.Core.Services.POStatusEnum.GoodsReceived)
                        {
                            <a asp-action="SupplierPO" asp-controller="Report" asp-route-id="@Model.ProtectedPOID" target="_blank" title="Print PO"><label class="col-form-label" style="cursor:pointer;">@Model.CID</label></a>
                        }
                        else
                        {
                            <label class="col-form-label">@Model.CID</label>
                        }

                    </div>

                    <div class="form-group col-md-3">
                        Creation Date: <label class="col-form-label">@Model.CreationDateControlString</label>
                    </div>
                    <div class="form-group col-md-3">
                        Created By: <label class="col-form-label">@Model.CreatedBy</label>
                    </div>
                    <div class="form-group col-md-3">
                        PO Origin: <label class="col-form-label">@Model.OriginTypeName</label>
                    </div>
                </div>


                <div class="col-md-12 no-padding">
                    <div class="form-group col-md-3">
                        Supplier: <label class="col-form-label">@Model.VMSupplierName</label>
                    </div>
                    <div class="form-group col-md-3">
                        Payment Currency: <label class="col-form-label">@Model.VMCurrencyName</label>
                    </div>
                    <div class="form-group col-md-3">
                        Payment Method: <label class="col-form-label">@Model.POPaymentMethodName</label>
                    </div>
                    <div class="form-group col-md-3">
                        PO Type: <label class="col-form-label">@Model.POTypeName</label>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    Terms & Condition: <label class="col-form-label">@Model.TermsAndCondition</label>
                </div>
                <div class="form-group col-md-12">
                    Description: <label class="col-form-label">@Model.Description</label>
                </div>
                <div class="col-md-12 no-padding">
                    <div class="form-group col-md-3">
                        Order Date: <label class="col-form-label">@Model.OrderDateControlString</label>
                    </div>
                    <div class="form-group col-md-3">
                        Status: <label class="col-form-label">@Model.AuthorizationStatus</label>
                    </div>

                    <div class="form-group col-md-3">
                        Requestor: <label class="col-form-label">@Model.VMEmployeeName</label>
                    </div>
                    <div class="form-group col-md-3">
                        Revision No: <label class="col-form-label">@Model.RevisionNo</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Model.Status == Erp.Core.Services.POStatusEnum.Draft)
    {
        <div class="row">
            <div class="box">
                <div class="box-header">
                    <h3>
                        <label>Add Items From PR</label>
                    </h3>
                </div>
                <div class="box-body">
                    <div class="form-group col-md-12">
                        <label for="ddlApprovedPR" class="col-form-label">By PR:</label>
                        @Html.DropDownList("ApprovedPRList", Model.ApprovedPRList as SelectList, "Please Select", new { id = "ddlApprovedPR", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                    </div>
                    @*<div class="form-group col-md-12">
                            <label for="ddlApprovedPRItem" class="col-form-label">By Item:</label>
                            @Html.DropDownList("ApprovedPRItemList", Model.ApprovedPRItemList as SelectList, "Please Select", new { id = "ddlApprovedPRItem", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                        </div>*@
                    <div class="col-md-12 no-padding" id="divPOSlaveList"></div>
                </div>
            </div>
        </div>
    }

    <div class="row" id="divEditPOSlave"></div>
    <div class="row">
        <div class="box">
            <div class="box-header">
                <h3>
                    <label>Added Item List</label>
                </h3>
            </div>
            <div class="box-body">
                <div class="table-responsive col-md-12">
                    <table id="" class="table table1 table-bordered table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                {
                                    <th>BPO/Style</th>
                                    <th>Color/GSM</th>
                                }

                                <th>Item</th>
                                <th>Description/ Specification</th>
                                <th>Available Quantity</th>
                                <th>Requisition Quantity</th>
                                <th>Purchase Quantity</th>
                                <th>Unit</th>
                                <th>Purchasing Price</th>
                                <th>Total Price</th>
                                <th>Inspection</th>


                                @if (Model.Status == Erp.Core.Services.POStatusEnum.Draft)
                                {
                                    <th class="hidden-print">Action</th>
                                }

                            </tr>
                        </thead>
                        @{int sl = 0;
                        }
                        <tbody>
                            @foreach (var item in Model.DataListSlave)
                            {

                                <tr>
                                    <td>@(++sl)</td>
                                    @if (Model.OriginType != Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                    {
                                        <td>@item.BONoStyleName</td>
                                        <td>@item.StyleColorGSM</td>
                                    }

                                    <td id="@tdRawItemName@item.ID">@item.VMRawItemName</td>
                                    <td id="@tdDescriptionSlave@item.ID">@item.DescriptionSlave</td>
                                    <td id="@tdAvailableQuantity@item.ID">@item.AvailableQuantity</td>
                                    <td id="@tdRequisitionQuantity@item.ID">@item.RequisitionQuantity</td>
                                    <td id="@tdPurchaseQuantity@item.ID">@item.PurchaseQuantity</td>
                                    <td id="@tdUnitName@item.ID">@item.VMUnitName</td>
                                    <td id="@tdPurchasingPrice@item.ID">@item.PurchasingPrice</td>
                                    <td id="@tdTotalPrice@item.ID">@item.TotalPrice</td>
                                    <td id="@tdInspection@item.ID">@item.Inspection</td>



                                    @{ if (Model.Status == Erp.Core.Services.POStatusEnum.Draft)
                                        {
                                            <td class="hidden-print">


                                                <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" title="Edit" data-placement="top">
                                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                </a>
                                                <a id="@item.ID" onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                                   data-placement="top">
                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                </a>







                                            </td>
                                        }
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @using (Html.BeginForm("PurchaseOrderDetails", "Procurement", FormMethod.Post, new { id = "PurchaseOrderDetailsDelete", @class = "formValidator", onreset = "resetDDL();" }))
    {
        @Html.HiddenFor(model => model.ID, new { Value = "", id = "hdfId" })
        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdfActionId" })
        @Html.HiddenFor(model => model.Procurement_PurchaseOrderFK, new { Value = "", id = "hdfPOFKId" })

        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                            &times;
                        </button>
                        <h5 class="modal-title"><b>PO Detail</b></h5>

                    </div>
                    <div class="modal-body box-body">
                        <div style="text-align:center">
                            <h3>Are you sure to delete?</h3>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                    </div>
                </div>
            </div>
        </div>
    }
</section>

@section scripts {

    <script type="text/javascript">
        var nRawCategory, nRawSubCategory, nRawItem;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy/MM/dd")');*@

        });

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#PurchaseOrderDetails').bootstrapValidator("resetForm", true);

        }

        $("#ddlRawCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawSubCategoryGet")",
                datatype: "Json",
                data: { id: $("#ddlRawCategory :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlRawSubCategory").empty();
                        $("#ddlRawSubCategory").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawSubCategory").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawSubCategory && nRawSubCategory > 0) {
                            $("#ddlRawSubCategory").val(nRawSubCategory);

                            $("#ddlRawSubCategory").trigger('change');
                        }
                    }
                }
            });
        });

        $("#ddlRawSubCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemGet")",
                datatype: "Json",
                data: { id: $("#ddlRawSubCategory :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlRawItem").empty();
                        $("#ddlRawItem").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawItem").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawItem && nRawItem > 0) {
                            $("#ddlRawItem").val(nRawItem);

                            $("#ddlRawItem").trigger('change');
                        }
                    }
                }
            });
        });

        $("#ddlRawItem").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemInfoGet")",
                datatype: "Json",
                data: { id: $("#ddlRawItem :selected").val() },
                success: function (data) {
                    //
                    var items = "";

                    if (data) {
                        $('#txtAvailableQuantity').val(data.quantity);
                        $('#txtUnitName').val(data.unit);
                    }
                }
            });
        });

        $("#ddlApprovedPR").change(function (e) {
            $('#divPOSlaveList').empty();
            ///populate controls with data from PRSlave
            $.ajax({
                type: "GET",
                url: "/Procurement/POSlaveList?id=" + $("#ddlApprovedPR :selected").val() + "&POId=" + $("#hdfPOFKId").val(),
                datatype: "Json",

                success: function (data) {
                    
                    if (data) {
                        $('#divPOSlaveList').html(data);
                        $("#frmPOSlaveList").bootstrapValidator();
                        //$('#frmPOSlaveList').bootstrapValidator('validate');
                        $('#frmPOSlaveList select.searchingDropdown').select2();
                        $('#frmPOSlaveList input.datePicker').datepicker({
                            format: "yyyy-mm-dd",
                            // format: "d/m/yy",
                            autoclose: true
                        }).on('changeDate', function (ev) {
                            
                            if ($(this).parents('form') && $(this).attr('required')) {
                                $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                            }
                        });


                        $("#frmPOSlaveList input.datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                        $("#frmPOSlaveList input.datePicker").datepicker('setDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                        $("#tblPOSlaveList").DataTable({
                            "paging": false
                        });
                    }

                }
            });
        });
        $("#ddlApprovedPRItem").change(function (e) {
            $('#divPOSlaveList').empty();
            ///populate controls with data from PRSlave
            $.ajax({
                type: "GET",
                url: "/Procurement/POSlaveItemList?id=" + $("#ddlApprovedPRItem :selected").val() + "&POId=" + $("#hdfPOFKId").val(),
                datatype: "Json",

                success: function (data) {
                    
                    if (data) {
                        $('#divPOSlaveList').html(data);
                        $('#frmPOSlaveList select.searchingDropdown').select2();
                        $('#frmPOSlaveList input.datePicker').datepicker({
                            format: "yyyy-mm-dd",
                            // format: "d/m/yy",
                            autoclose: true
                        }).on('changeDate', function (ev) {
                            
                            if ($(this).parents('form') && $(this).attr('required')) {
                                $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                            }
                        });


                        $("#frmPOSlaveList input.datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                        $("#frmPOSlaveList input.datePicker").datepicker('setDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');

                        $("#tblPOSlaveList").DataTable({
                            "paging": false
                        });
                    }

                }
            });
        });
        function menuinfo(elem) {

            if (elem !== null) {
                


                $.ajax({
                    type: "GET",
                    url: "/Procurement/PurchaseOrderDetailSpecific?id=" + elem.id,
                    datatype: "Json",

                    success: function (data) {

                        if (data) {
                            $('#divEditPOSlave').html(data);
                            $('.formValidator').bootstrapValidator();
                            $('.datePicker').datepicker({
                                format: "yyyy-mm-dd",
                                // format: "d/m/yy",
                                autoclose: true
                            }).on('changeDate', function (ev) {
                                
                                if ($(this).parents('form')) {
                                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                                }

                            });

                            $('.searchingDropdown').select2();
                        }

                    }
                });


                //window.location = "/Procurement/PurchaseOrderDetails?id=" + $("#POFKId").val() + "&slaveId=" + elem.id;

                //var r = elem.id;
                //$('#hidId').val(r);
                //$('#ActionId').val(2);
                //$('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                //$('#hidId').val($('#tdId' + r).text().trim());

                //nRawCategory = $('#tdRawCategoryID' + r).text().trim();
                //nRawSubCategory = $('#tdRawSubCategoryID' + r).text().trim();
                //nRawItem = $('#tdRawItemID' + r).text().trim();

                //$('#ddlRawCategory').val($('#tdRawCategoryID' + r).text().trim());
                //$('#ddlRawCategory').trigger('change');

                //$("#POFKId").val($('#tdPOID' + r).text().trim());
                //$("#PRSFKId").val($('#tdReqSlaveId' + r).text().trim());

                //$('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());
                //$('#txtPurchaseQuantity').val($('#tdPurchaseQuantity' + r).text().trim());
                //$('#txtPurchaseQuantity').prop("max", $('#tdRestQuantity' + r).text().trim());

                //$('#txtPurchasingPrice').val($('#tdPurchasingPrice' + r).text().trim());

                //$('#txtDescriptionSlave').val($('#tdDescriptionSlave' + r).text().trim());


                //if ($('#tdInspectionRequired' + r).text().trim() == "True") {
                //    $("#chkInspectionRequired").prop("checked", true);
                //}

                //if ($('#tdInspectionRequiredInPR' + r).text().trim() == "True") {
                //    $("#chkInspectionRequired").prop("disabled", true);
                //}
                //else {
                //    $("#chkInspectionRequired").prop("disabled", false);
                //}


            }
        }

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hdfId').val(id);
                $('#hdfActionId').val(3);




            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#PurchaseOrderDetailsDelete').trigger("reset");



        });
    </script>
}


