﻿
@{
    ViewData["Title"] = "Purchase Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdReqId = "tdReqId";
    var tdDescription = "tdDescription";
    var tdStatus = "tdStatus";

    var PRStatus = Model.AuthorizationStatus;


    //var SupplierDDL=Model.SupplierDropDownList;

}
@model Erp.Core.Services.Procurement.VMPurchaseRequisition
@using (Html.BeginForm("PurchaseRequisition", "Procurement", FormMethod.Post, new { id = "PurchaseRequisition", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">


                        &nbsp;&nbsp;
                        @{ if (Model.Status == Erp.Core.Services.PRStatusEnum.Closed)
                            {
                                <h3>
                                    <label> @Model.AuthorizationStatus PR:</label>


                                </h3>

                            }
                            else
                            {
                                <div style="text-align:center;">
                                    <a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.Draft)" title="Draft"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.Draft)
                                        {
                                            <span class="badge badge-light"> Draft : @Model.DraftStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Draft : @Model.DraftStatusCount</span>
                                        }


                                    </a>
                                    <a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.Submitted)" title="Submitted"
                                       data-placement="top">


                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.Submitted)
                                        {
                                            <span class="badge badge-light"> Submitted : @Model.SubmittedStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Submitted : @Model.SubmittedStatusCount</span>
                                        }


                                    </a>
                                    <a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.PrimaryApproved)" title="Primary Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.PrimaryApproved)
                                        {
                                            <span class="badge badge-light"> Primary Approved: @Model.PrimaryStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Primary Approved: @Model.PrimaryStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.FinalApproved)" title="Final Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.FinalApproved)
                                        {
                                            <span class="badge badge-light"> Final Approved: @Model.FinalStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Final Approved: @Model.FinalStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.ProcurementApproved)" title="Procurement Approved"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.ProcurementApproved)
                                        {
                                            <span class="badge badge-light"> Procurement Approved: @Model.ProcurementStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Procurement Approved: @Model.ProcurementStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.Hold)" title="Hold"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.Hold)
                                        {
                                            <span class="badge badge-light"> Hold: @Model.HoldStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-yellow"> Hold: @Model.HoldStatusCount</span>
                                        }

                                    </a>
                                    <br />
                                    <a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.PartialPOCreated)" title="Partial PO Created"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.PartialPOCreated)
                                        {
                                            <span class="badge badge-light"> Partial PO Created: @Model.PartialPOStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-orange"> Partial PO Created: @Model.PartialPOStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.FullPOCreated)" title="Full PO Created"
                                       data-placement="top">
                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.FullPOCreated)
                                        {
                                            <span class="badge badge-light"> Full PO Created: @Model.FullPOStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-lime"> Full PO Created: @Model.FullPOStatusCount</span>
                                        }

                                    </a>
                                    @*<a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.InspectionDone)" title="Inspection Done"
                                           data-placement="top">
                                            @if (Model.Status == Erp.Core.Services.PRStatusEnum.InspectionDone)
                                            {
                                                <span class="badge badge-light"> Inspection Done: @Model.InspectionStatusCount</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-teal"> Inspection Done: @Model.InspectionStatusCount</span>
                                            }

                                        </a>*@
                                    @*<a class="linkPointer" href="~/Procurement/PurchaseRequisition/@((int)Erp.Core.Services.PRStatusEnum.GoodsReceived)" title="Goods Received"
                                           data-placement="top">
                                            @if (Model.Status == Erp.Core.Services.PRStatusEnum.GoodsReceived)
                                            {
                                                <span class="badge badge-light"> Goods Received: @Model.GoodsReceivedStatusCount</span>
                                            }
                                            else
                                            {
                                                <span class="badge bg-green"> Goods Received: @Model.GoodsReceivedStatusCount</span>
                                            }

                                        </a>*@
                                </div>
                            }
                        }


                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                        @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                        @Html.HiddenFor(model => model.PRActionId, new { Value = "", id = "PRActionId" })
                        @Html.HiddenFor(model => model.CID, new { Value = "", id = "txtReqId" })
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                        <div class="table-responsive">
                            <table id="tableX" class="table table-bordered table-striped nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        @*<th class="hidden"></th>*@
                                        <th>PR Origin</th>
                                        <th>Requisition Id</th>
                                        <th>Created By</th>
                                        <th>Created Date</th>
                                        <th>Note</th>

                                        <th>Status</th>
                                        @if (Model.Status == Erp.Core.Services.PRStatusEnum.Closed)
                                        {
                                            <th>Closed/Cancelled By</th>
                                        }

                                        <th class="hidden-print">Action</th>
                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataList)
                                    {

                                        <tr>
                                            <td>@(++sl)</td>
                                            @*<td id="@tdId@item.ID" class="hidden">@item.ID</td>*@
                                            <td>
                                                @item.OriginTypeName


                                            </td>
                                            <td id="@tdReqId@item.ID">@item.CID</td>
                                            <td id="'tdCreatedBy'@item.ID">@item.CreatedBy</td>
                                            <td id="'tdCreatedDate'@item.ID">@item.CreationDate.ToString("yyyy-MM-dd")</td>
                                            <td id="@tdDescription@item.ID">@item.Description</td>

                                            <td id="@tdStatus@item.ID">@item.AuthorizationStatus</td>
                                            @if (Model.Status == Erp.Core.Services.PRStatusEnum.Closed)
                                            {
                                                <td id="'tdClosedBy'@item.ID">@item.VMClosedByUserName</td>
                                            }
                                            <td class="hidden-print">
                                                @{
                                                    if (item.HasSlave)
                                                    {
                                                        if (item.Status == Erp.Core.Services.PRStatusEnum.Draft)
                                                        {


                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Submit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Submit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Submit"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>

                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>

                                                        }
                                                        else if (item.Status == Erp.Core.Services.PRStatusEnum.Submitted)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.PrimaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.PrimaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Primary Approve"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.UndoSubmit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.UndoSubmit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Undo Submit"
                                                               data-placement="top">
                                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.Status == Erp.Core.Services.PRStatusEnum.PrimaryApproved)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.FinalApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.FinalApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Final Approve"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.UndoPrimaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.UndoPrimaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                               data-placement="top">
                                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.Status == Erp.Core.Services.PRStatusEnum.FinalApproved)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.ProcurementApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.ProcurementApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Procurement Approve"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.UndoFinalApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.UndoFinalApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                               data-placement="top">
                                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.Status == Erp.Core.Services.PRStatusEnum.ProcurementApproved)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.UndoProcurementApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.UndoProcurementApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                               data-placement="top">
                                                                <i class="fa fa-undo" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                            </a>
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.Status == Erp.Core.Services.PRStatusEnum.Closed)
                                                        {
                                                            @*<a id="@item.ID" onclick="itemActionInfo(@item.ID,4,13);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Re Open"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                                                                </a>*@
                                                        }
                                                        else if (item.Status == Erp.Core.Services.PRStatusEnum.Hold)
                                                        {
                                                            <a id="@item.ID" onclick="itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.PRActionEnum.ReOpen),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.PRActionEnum.ReOpen)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Re-Open"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                    }

                                                }
                                                @{ if (item.Status == Erp.Core.Services.PRStatusEnum.Draft)
                                                    {
                                                        @if (item.OriginType == Erp.Core.Services.ProcurementOriginTypeEnum.Merchandising)
                                                        {
                                                            <a id="@item.ID" class="linkPointer" href="~/Procurement/MerchandisingPR/@item.ID/@((int)item.OriginType)" title="View & Edit Detail"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.OriginType == Erp.Core.Services.ProcurementOriginTypeEnum.BOM)
                                                        {
                                                            <a id="@item.ID" class="linkPointer" href="~/Procurement/MerchandisingPR/@item.ID/@((int)item.OriginType)" title="View & Edit Detail"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.OriginType == Erp.Core.Services.ProcurementOriginTypeEnum.BOF)
                                                        {
                                                            <a id="@item.ID" class="linkPointer" href="~/Procurement/MerchandisingPR/@item.ID/@((int)item.OriginType)" title="View & Edit Detail"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                            </a>
                                                        }
                                                        else if (item.OriginType == Erp.Core.Services.ProcurementOriginTypeEnum.Regular)
                                                        {
                                                            <a id="@item.ID" class="linkPointer" href="~/Procurement/CreatePR/@item.ID" title="View & Edit Detail"
                                                               data-placement="top">
                                                                <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                            </a>
                                                        }

                                                    }
                                                    else
                                                    {
                                                        <a id="@item.ID" class="linkPointer" href="~/Procurement/PurchaseRequisitionDetails/@item.ID" title="View Detail"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                        </a>
                                                    }
                                                }



                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>

            </div>



        </div>
    </section>



    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Purchase Requisition</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to <label id="lblPRActionName"></label>?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
        });

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#PurchaseRequisition').bootstrapValidator("resetForm", true);

        }

        function menuinfo(elem) {
            if (elem !== null) {
                
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtRequisitionId').val($('#tdReqId' + r).text().trim());
                if ($('#tdInspectionRequired' + r).text().trim() == "True") {
                    $("#chkInspectionRequired").prop("checked", true);
                }


                $('#txtRequisitionDate').datepicker('setDate', $('#tdRequisitionDate' + r).text().trim());
                $('#txtDescription').val($('#tdDescription' + r).text().trim());


                $("#ddlSupplier > option").each(function (ddlIndex, ddlItem) { $(ddlItem).attr("selected", false);});

                $('.ddlReset').trigger('change');


                $.ajax({
                    type: "GET",
                    url: "@Url.Action("PreferredSupplierListGet")",
                    datatype: "Json",
                    data: { id: $('#hidId').val() },
                    success: function (data) {
                        //
                        if (data === typeof (Array)) {
                            var items = "";

                            $("#ddlSupplier > option").each(function (ddlIndex, ddlItem) {
                                //
                                var exists = $.grep(data, function (item, index) { return ddlItem.value == item.vmSupplierFK });
                                if (exists && exists.length > 0) {
                                    $(ddlItem).attr("selected", "selected");
                                }
                            });
                            $('.ddlReset').trigger('change');
                        }

                    }
                });
            }
        }

        function itemActionInfo(id, actionId, prActionId, prActionName) {
            
            if (id !== null && actionId !== null && prActionId !== null ) {
                $('#hidId').val(id);
                $('#ActionId').val(actionId);
                $('#PRActionId').val(prActionId);
                $("#lblPRActionName").html(prActionName);
            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#PurchaseRequisition').trigger("reset");



        });
    </script>
}


