﻿@model Erp.Core.Services.Payroll.VMEmployeeSalary
<div class="box">
    <div class="box-header">
        <h3 id="h3Allocate" class="box-title">Allocate Salary:</h3>
    </div>
    <div class="box-body no-padding">
        <div class="col-md-12 col-lg-12">
            <div id="divAllocate">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="EmployeeId" class="control-label"></label>
                            <select style="width:100%;" asp-for="EmployeeId" asp-items="Model.VMEmployeeList" id="ddEmplyeeId" class="form-control searchingDropdown" required>
                                <option value="" selected>Select Employee</option>
                            </select>
                            <span asp-validation-for="EmployeeId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="AllocationId" class="control-label"></label>
                            <select style="width:100%;" asp-for="AllocationIds" asp-items="Model.AllocationList" class="form-control searchingDropdown" multiple></select>
                            <span asp-validation-for="AllocationId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="GrossSalary" class="control-label"></label>
                            <input asp-for="GrossSalary" class="form-control" required />
                            <span asp-validation-for="GrossSalary" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BillEligibility" class="control-label"></label>
                            <select style="width:100%;" asp-for="BillEligibilityIds" asp-items="Model.BillEligibilityList" id="ddEBillEligibilityList" class="form-control searchingDropdown" multiple></select>
                            <span asp-validation-for="BillEligibility" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                            <input asp-for="Remarks" class="form-control" />
                            <span asp-validation-for="Remarks" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="divUpdate" style="display:none">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="AllocationId" class="control-label"></label>
                            <select id="ddlAllocationId" style="width:100%;" asp-for="AllocationIdForEdit" asp-items="Model.AllocationList" class="form-control searchingDropdown">                              
                            </select>
                            <span asp-validation-for="AllocationIdForEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="GrossSalary" class="control-label"></label>
                            <input id="txtGrossSalary" asp-for="GrossSalaryForEdit" class="form-control" required />
                            <span asp-validation-for="GrossSalaryForEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="BillEligibility" class="control-label"></label>
                            <select id="ddlBillEligibility" style="width:100%;" asp-for="BillEligibilityForEdit" asp-items="Model.BillEligibilityList" class="form-control searchingDropdown">
                           
                            </select>
                            <span asp-validation-for="BillEligibilityForEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="HolidayBillForEdit" class="control-label"></label>
                            <input id="txtHolidayBill" asp-for="HolidayBillForEdit" class="form-control" required />
                            <span asp-validation-for="HolidayBillForEdit" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="NightBillForEdit" class="control-label"></label>
                            <input id="txtNightBill" asp-for="NightBillForEdit" class="form-control" required />
                            <span asp-validation-for="NightBillForEdit" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            <label asp-for="Remarks" class="control-label"></label>
                            <input id="txtRemarks" asp-for="RemarksForEdit" class="form-control" />
                            <span asp-validation-for="RemarksForEdit" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <input id="txtEODMasterId" name="EODMasterId" type="hidden" />
            </div>
        </div>
        <input id="ActionId" name="ActionId" type="hidden" />
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <input id="btnSubmit" type="submit" style="width:100%" value="Create Salary" class="btn btn-xs btn-primary" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Employee List</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped nowrap">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Employee ID</th>
                                        <th>Employee Name</th>
                                        <th>Designation</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>Basic</th>
                                        <th>House</th>
                                        <th>Other</th>
                                        <th>Total</th>
                                        <th>OT Rate</th>
                                        <th>Att.Bonus</th>
                                        <th>Holiday Bill</th>
                                        <th>Night Bill</th>
                                        <th>Remarks</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        if (Model.EmployeeSalaryList != null)
                                        {
                                            int sl = 0;
                                            foreach (var data in Model.EmployeeSalaryList)
                                            {
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td id="tdEmployeeId_@data.EODMasterId">@data.EmployeeIdentity</td>
                                                    <td id="tdName_@data.EODMasterId">@data.EmployeeName</td>
                                                    <td>@data.Designation</td>
                                                    <td id="tdallowance_@data.EODMasterId" class="hidden">@data.SalaryAllowance</td>
                                                    <td id="tdbilleligibiliy_@data.EODMasterId" class="hidden">@data.BillEligibility</td>
                                                    <td>@data.BasicAmount</td>
                                                    <td>@data.HouseRent</td>
                                                    <td>@data.OthersAllowance</td>
                                                    <td id="tdGrossSalary_@data.EODMasterId">@data.TotalSalary</td>
                                                    <td id="tdOTRate_@data.EODMasterId">@data.OTRate</td>
                                                    <td id="tdAttendacneBonus_@data.EODMasterId">@data.AttendacneBonus</td>
                                                    <td id="tdHolidayBill_@data.EODMasterId">@data.HolidayBill</td>
                                                    <td id="tdNightBill_@data.EODMasterId">@data.NightBill</td>
                                                    <td id="tdRemarks_@data.EODMasterId">@data.Remarks</td>
                                                    <td>
                                                        <a class="glyphicon glyphicon-pencil" href="#" onclick="updatesalary(@data.EODMasterId)" title="Update Salary">.</a> &nbsp;
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
