﻿@model Erp.Core.Services.Store.VmStoreIn
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success"> 
            <div class="box-header custom bg-success">
                <h4>
                    Item List : @*@Model.vmCBSSlave.RawCategory*@
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
               
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <form asp-action="">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="table-responsive">
                            <table id="table" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChallanNo)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ChallanDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReceivedDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WarrentyDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Description)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StockType)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Remarks)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.RemainingQty)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DamagedQty)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ReceivedQty)
                                        </th>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.CommonUnitFK)
                                        </th>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.ItemIDFK)
                                        </th>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.IPOFK)
                                        </th>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.CommonSupplierFK)
                                        </th>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.CommonStoreFK)
                                        </th>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.StoreBinFK)
                                        </th>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.CommonCategoryFK)
                                        </th>
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.CommonSubCategoryFK)
                                        </th>
                                        <th >
                                            @Html.DisplayNameFor(model => model.FixAsset)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BinDefine)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.IsActive)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.DataLists.Count; i++)
                                    {
                                        //var item = Model.DataLists[i];
                                        //var item = new VmStoreIn();
                                        @*foreach (var item in Model.DataLists.ToList()) 
                                        {
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DataLists[i].CID)
                                            </td>
                                            //item = vmStoreIn;
                                        }*@
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].CID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].ChallanNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].ChallanDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].ReceivedDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].WarrentyDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].Description)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].StockType)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].Remarks)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].RemainingQty)
                                            </td>
                                            <td>
                                                @Html.EditorFor(modelItem => Model.DataLists[i].DamagedQty)
                                            </td>
                                            <td>
                                                @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedQty)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].CommonUnitFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].ItemIDFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].IPOFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].CommonSupplierFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].CommonStoreFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].StoreBinFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].CommonCategoryFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].CommonSubCategoryFK)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].FixAsset)
                                            </td>
                                            <td >
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].BinDefine)
                                            </td>
                                            <td >
                                                @Html.DisplayFor(modelItem => Model.DataLists[i].IsActive)
                                            </td>
                                            <td>
                                                <a asp-action="AddorEdit" asp-route-id="@Model.DataLists[i].ID">Edit</a> |
                                                <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <div class="modal-footer">
                                <button type="button" id="btncloseandreset" class="btn btn-warning fa fa-close" data-dismiss="modal"> Close </button>
                                <button asp-action="Add" type="submit" id="btnsave" class="btn btn-success fa"> Save </button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>