﻿@model Erp.Core.Services.Payroll.VMBonusMaster
@{
    ViewData["Title"] = "BonusManage";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Bonus Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form asp-action="BonusManage" asp-controller="Payroll" method="post" class="formValidator">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="VMBonusTitle" class="control-label"></label>
                                                <input type="text" asp-for="VMBonusTitle" class="form-control" />
                                                <span asp-validation-for="VMBonusTitle" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="VMPaymentDate" class="control-label"></label>
                                                <div class="input-group date">
                                                    <input asp-for="VMPaymentDate" class="form-control datePicker" autocomplete="off" type="text" value="@Model.VMPaymentDate.ToString("d")" required />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                <span asp-validation-for="VMPaymentDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="VMRemarks" class="control-label"></label>
                                                <input type="text" asp-for="VMRemarks" class="form-control" />
                                                <span asp-validation-for="VMRemarks" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group" style="margin-top:25px">
                                                <input type="submit" value="Create Bonus" class="btn btn-primary" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="box-body no-padding">
                                                <table id="tableX" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 10%">#</th>
                                                            <th style="width: 25%">Bonus Title</th>
                                                            <th style="width: 25%">Payment Date</th>
                                                            <th style="width: 30%">Remarks</th>
                                                            <th style="width: 10%">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.DataList.Any())
                                                            {
                                                                int sl = 0;
                                                                foreach (var data in Model.DataList)
                                                                {
                                                                    <tr style="font-weight:bold">
                                                                        <td>@(++sl)</td>
                                                                        <td>@data.VMBonusTitle</td>
                                                                        <td>@data.VMPaymentDate.ToShortDateString()</td>
                                                                        <td>@data.VMRemarks</td>
                                                                        <td>
                                                                            <a class="glyphicon glyphicon-share" asp-controller="Payroll" asp-action="BonusDetails" asp-route-id="@data.ID" title="Bonus Details" target="_blank"></a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator({
            });
        });
    </script>
}