﻿@model Erp.Core.Services.Payroll.VMBonusDetails
@{
    ViewData["Title"] = "BonusDetails";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Bonus Details:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box">
                                        <!-- /.box-header -->
                                        <div class="box-body no-padding">
                                            <div class="table table-responsive">
                                                <table id="tableX" class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 5%">#</th>
                                                            <th style="width: 8%">Employee ID</th>
                                                            <th style="width: 10%">Employee Name</th>
                                                            <th style="width: 8%">Designation</th>
                                                            <th style="width: 7%">Department</th>
                                                            <th style="width: 7%">Section</th>
                                                            <th style="width: 8%">Joining Date</th>
                                                            <th style="width: 13%">Tenure</th>
                                                            <th style="width: 7%">Gross Pay</th>
                                                            <th style="width: 7%">Basic Pay</th>
                                                            <th style="width: 7%">Bonus Rate (%)</th>
                                                            <th style="width: 8%">Bonus Amount</th>
                                                            <th style="width: 8%">Stamp Charge</th>
                                                            <th style="width: 8%">Payable Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.DataList.Any())
                                                            {
                                                                int sl = 0;
                                                                foreach (var data in Model.DataList)
                                                                {
                                                                    <tr>
                                                                        <td>@(++sl)</td>
                                                                        <td>@data.EmployeeID</td>
                                                                        <td>@data.EmployeeName</td>
                                                                        <td>@data.Designation</td>
                                                                        <td>@data.Department</td>
                                                                        <td>@data.Section</td>
                                                                        <td>@data.JoiningDate.ToString("dd MMM yyyy")</td>
                                                                        <td>@data.Tenure</td>
                                                                        <td>@data.GrossSalary</td>
                                                                        <td>@data.BasicSalary</td>
                                                                        <td style="font-weight:bold">@data.BonusRate</td>
                                                                        <td>@data.BonusAmount</td>
                                                                        <td>@data.StampCharge</td>
                                                                        <td style="font-weight:bold">@data.TotalPayable</td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

