﻿@model Erp.Core.Services.Payroll.VMBonusSettings
@{
    ViewData["Title"] = "PayrollManage";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Bonus Settings:
                </h4>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="col-md-12 col-lg-12">
                        <form asp-action="BonusSetting" asp-controller="Payroll" method="post" class="formValidator">
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="VMFromMonth" class="control-label"></label>
                                        <select id="ddlFormMonth" style="width:100%;" asp-for="VMFromMonth" class="form-control searchingDropdown"></select>
                                        <span asp-validation-for="VMFromMonth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label asp-for="VMToMonth" class="control-label"></label>
                                        <select id="ddlToMonth" style="width:100%;" asp-for="VMToMonth" class="form-control searchingDropdown"></select>
                                        <span asp-validation-for="VMToMonth" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="VMIsBasicOrGrossId" class="control-label"></label>
                                        <select id="ddlIsBasicOrGross" style="width:100%;" asp-for="VMIsBasicOrGrossId" asp-items="Model.VMIsBasicOrGrossList" class="form-control searchingDropdown"></select>
                                        <span asp-validation-for="VMIsBasicOrGrossId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="VMBonusRate" class="control-label"></label>
                                        <input id="txtBonusrate" asp-for="VMBonusRate" class="form-control" type="number" min="0" max="100" step="any" required />
                                        <span asp-validation-for="VMBonusRate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label asp-for="Remarks" class="control-label"></label>
                                    <input id="txtRemarks" asp-for="Remarks" class="form-control" />
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                            </div>
                            <input type="hidden" id="hidId" asp-for="ID">
                            <input type="hidden" id="ActionId" asp-for="ActionId">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" style="width:100%" value="Save" class="btn btn-xs btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3 id="h3Allocate" class="box-title">Payroll List</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped nowrap">
                            <thead>
                                <tr>
                                    <th style="width:10%;text-align:center;">#</th>
                                    <th style="width:10%;text-align:center;">From Month</th>
                                    <th style="width:10%;text-align:center;">To Month</th>
                                    <th style="width:20%;text-align:center;">Apply On</th>
                                    <th class="hidden"></th>
                                    <th style="width:10%;text-align:center;">Bonus Rate (%)</th>
                                    <th style="width:30%;text-align:center;">Remarks</th>
                                    <th style="width:10%;text-align:center;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (Model.DataList != null)
                                    {
                                        int sl = 0;
                                        foreach (var data in Model.DataList)
                                        {
                                            <tr style="text-align:center;font-weight:bold">
                                                <td>@(++sl)</td>
                                                <td id="from_@data.ID">@data.VMFromMonth</td>
                                                <td id="to_@data.ID">
                                                @(data.VMToMonth==9999? "∞": data.VMToMonth.ToString())
                                                </td>
                                                <td>@data.GrossOrBasic</td>
                                                <td id="grossorbasic_@data.ID" class="hidden">@data.VMIsBasicOrGrossId</td>
                                                <td id="boonusrate_@data.ID">@data.VMBonusRate</td>
                                                <td id="remarks_@data.ID">@data.Remarks</td>
                                                <td style="cursor:pointer">
                                                    <a class="glyphicon glyphicon-pencil" onclick="updateSetting(@data.ID)" title="Edit"></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator({
            });
            var option = '';
            for (var i = 0; i <= 120; i++) {
                option += '<option value="' + i + '">' + i + '</option>';
            }
            $('#ddlFormMonth').append(option);
            option += '<option value="9999">+</option>';
            $('#ddlToMonth').append(option);
        });

        function updateSetting(id) {
            $("#ddlFormMonth").val($('#from_' + id).text().trim()).trigger('change');
            $("#ddlToMonth").val($('#to_' + id).text().trim()).trigger('change');
            $("#ddlIsBasicOrGross").val($('#grossorbasic_' + id).text().trim()).trigger('change');
            $("#txtBonusrate").val($('#boonusrate_' + id).text().trim());
            $("#txtRemarks").val($('#remarks_' + id).text().trim());
            $("#hidId").val(id);
            $("#ActionId").val(2);
        }
    </script>
}