﻿@model Erp.Core.Services.Payroll.VMEmployeeSalary
@{
    ViewData["Title"] = "EmployeeSalary";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Employee Salary:
                </h4>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="box-header">
                        <h3 class="box-title">Filter by:</h3>
                    </div>
                    <div class="box-body no-padding">
                        <div class="col-md-12 col-lg-12">
                            <form asp-action="EmployeeSalary" asp-controller="Payroll" method="post" class="formValidator">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="VMBusinessUnitId" class="control-label"></label>
                                            <select id="ddlBUnit" style="width:100%;" asp-for="VMBusinessUnitId" asp-items="Model.VMBusinessUnitList" class="form-control searchingDropdown"></select>
                                            <span asp-validation-for="VMBusinessUnitId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="VMUnitId" class="control-label"></label>
                                            <select id="ddlUnit" style="width:100%;" asp-for="VMUnitId" class="form-control searchingDropdown">
                                                <option selected value="0">Select Unit</option>
                                            </select>
                                            <span asp-validation-for="VMUnitId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="VMDepartmentId" class="control-label"></label>
                                            <select id="ddlDepartment" style="width:100%;" asp-for="VMDepartmentId" class="form-control searchingDropdown">
                                                <option selected value="0">Select Department</option>
                                            </select>
                                            <span asp-validation-for="VMDepartmentId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="VMSectionId" class="control-label"></label>
                                            <select id="ddlSection" style="width:100%;" asp-for="VMSectionId" class="form-control searchingDropdown">
                                                <option selected value="0">Select Section</option>
                                            </select>
                                            <span asp-validation-for="VMSectionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 form-group">
                                        <input id="btnGenerate" type="button" class="btn btn-primary pull-right" value="Filter" />
                                    </div>
                                </div>
                                <div id="divSalaryList">
                                    @await Component.InvokeAsync("EmployeeSalary", new { bunit = Model.VMBusinessUnitId, unit = Model.VMUnitId, dept = Model.VMDepartmentId, section = Model.VMSectionId })
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        var nBUId, nUId, nDepartmentId;
         $("#ddlBUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet", "HRMS")",
                datatype: "Json",
                data: { id: $("#ddlBUnit :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlUnit").empty();
                        $("#ddlUnit").append("<option value='0' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnit").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnit").val(nUId);

                            $("#ddlUnit").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet", "HRMS")",
                datatype: "Json",
                async:false,
                data: { id: $("#ddlUnit :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlDepartment").empty();
                        $("#ddlDepartment").append("<option value='0' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDepartment").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDepartment").val(nDepartmentId);

                            $("#ddlDepartment").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlDepartment").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet", "HRMS")",
                datatype: "Json",
                async: false,
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');

                        }
                    }
                }
            });
        });

        $(document).ready(function () {
            // Due to late decision of casscading and maintain previous machanism
            // Handle previous mechanism by jquery
            $("#ddlBUnit").val($("#ddlBUnit option:first").val()).trigger('change');
            $("#ddlUnit").val($("#ddlUnit option:first").val()).trigger('change');
            $("#ddlDepartment").val($("#ddlDepartment option:first").val()).trigger('change');
            $('.formValidator').bootstrapValidator({
            });

            $("#btnGenerate").on("click", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "get",
                    url: "@Url.Action("FilterEmployeeSalary","Payroll")",
                    data: { bunit: $('#ddlBUnit :selected').val(), unit: $("#ddlUnit :selected").val(), dept: $("#ddlDepartment :selected").val(), section: $("#ddlSection :selected").val() },
                    datatype: "html",
                    success: function (data) {
                        $("#divSalaryList").empty();
                        $("#divSalaryList").html(data);
                        $(".searchingDropdown").select2();
                        $("#tableX").dataTable().fnDestroy();
                        $("#tableX").DataTable({
                            "bDeferRender": true,
                            sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                    orientation: 'landscape',
                                    footer: true
                                },
                                {
                                    extend: 'csvHtml5',
                                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                    orientation: 'landscape',
                                    footer: true
                                },
                                {
                                    extend: 'print',
                                    footer: true,
                                    text: '<i class="fa fa-print"></i>&nbsp;Print',
                                    customize: function (win) {
                                        $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                                    }
                                }
                            ]
                        })
                    }
                });
            });

        });


        function updatesalary(masterid) {
            $("#divAllocate select, #divAllocate input").hide();
            var gross = $('#tdGrossSalary_' + masterid).text().trim();
            var holidaybill = $('#tdHolidayBill_' + masterid).text().trim();
            var nightbill = $('#tdNightBill_' + masterid).text().trim();
            var remarks = $('#tdRemarks_' + masterid).text().trim();
            var employeename = $('#tdName_' + masterid).text().trim();
            var employeeid = $('#tdEmployeeId_' + masterid).text().trim();
            var allowance = $('#tdallowance_' + masterid).text().trim();
            var billeligibiliy = $('#tdbilleligibiliy_' + masterid).text().trim();


            $("#h3Allocate").text("Update Salary Of " + employeename + " (" + employeeid + " )").css({ 'font-weight': 'bold' });
            $("#txtGrossSalary").val(gross);
            if (allowance == 1) {
                $("#ddlAllocationId").val(["2", "3"]).trigger('change');
            }
            else {
                $("#ddlAllocationId").val(allowance).trigger('change');
            }
            if (billeligibiliy == 3) {
                $("#ddlBillEligibility").val(["1", "2"]).trigger('change');
            }
            else {
                $("#ddlBillEligibility").val(billeligibiliy).trigger('change');
            }
            $("#txtHolidayBill").val(holidaybill);
            $("#txtNightBill").val(nightbill);
            $("#txtRemarks").val(remarks);
            $("#ActionId").val(2);
            $("#txtEODMasterId").val(masterid)
            $('#btnSubmit').val("Update Salary");
            $("#divAllocate").hide();
            $("#divUpdate").show().focus();
        }
    </script>

}