﻿@model Erp.Core.Services.Payroll.VMSalaryIncreament
@{
    ViewData["Title"] = "EmployeeSalaryIncreament";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Increament Salary Request Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box-body no-padding">
                                            <div class="table table-responsive">
                                                <table id="tableX" class="table table-striped nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th style="width:8%">Employee ID</th>
                                                            <th style="width:10%">Employee Name</th>
                                                            <th style="width:8%">Designation</th>
                                                            <th style="width:8%">Joining Date</th>
                                                            <th style="width:8%">Prev. Gross</th>
                                                            <th style="width:8%">Prev. Basic</th>
                                                            <th style="width:8%">Inc. Percent (%)</th>
                                                            <th style="width:8%">Inc. Amount</th>
                                                            <th style="width:8%">New Gross</th>
                                                            <th style="width:8%">New Basic</th>
                                                            <th style="width:8%">Effect Date</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{

                                                            if (Model.DataList != null)
                                                            {
                                                                int sl = 0;
                                                                foreach (var data in Model.DataList)
                                                                {
                                                                    <tr>
                                                                        <td>@(++sl)</td>
                                                                        <td>@data.EmployeeIdentity</td>
                                                                        <td>@data.EmployeeName</td>
                                                                        <td>@data.Designation</td>
                                                                        <td>@data.JoiningDate.ToShortDateString()</td>
                                                                        <td>@data.PreviousGross</td>
                                                                        <td>@data.PreviousBasic</td>
                                                                        <td style="font-weight:bold;text-align:center">@Math.Round((((data.IncreamentedBasic - data.PreviousBasic) * 100) / data.PreviousBasic), 0, MidpointRounding.AwayFromZero)</td>
                                                                        <td style="font-weight:bold;">@data.TotalIncrementedAmount</td>
                                                                        <td style="font-weight:bold;">@data.IncreamentedGross</td>
                                                                        <td style="font-weight:bold;">@data.IncreamentedBasic</td>
                                                                        <td style="font-weight:bold;">@data.EffectedDate.ToShortDateString()</td>

                                                                        <td>
                                                                            <a class="glyphicon glyphicon-ok" asp-controller="Payroll" asp-action="ApproveIncreament" asp-route-id="@data.EODMasterId" asp-route-status="2" title="Approve Increament"></a>
                                                                            <a class="glyphicon glyphicon-remove" asp-controller="Payroll" asp-action="ApproveIncreament" asp-route-id="@data.EODMasterId" asp-route-status="3" title="Reject Increament"></a>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>