﻿@model Erp.Core.Services.Payroll.NightAndHolidayBill
@{
    ViewData["Title"] = "NightAndHolidayBill";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Night And Holiday Bill:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.DegignationId)
                                        @Html.DropDownListFor(model => model.DegignationId, ViewBag.DegignationList as IEnumerable<SelectListItem>,
                                        "Select Degignation", new { @id = "ShiftId", @class = "form-control  searchingDropdown" })
                                        @Html.ValidationMessageFor(model => model.DegignationId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.NightBill, new { @class = "control-label" })
                                        @Html.TextBoxFor(model => model.NightBill, new { Value = "", id = "txtTotal", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NightBill, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group" style="margin-top:25px">
                                        <input type="submit" value="Create Bill" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-body no-padding">
                                        <table id="tableX" class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%">#</th>
                                                    <th style="width: 10%">Employee Id</th>
                                                    <th style="width: 15%">Employee Name</th>
                                                    <th style="width: 8%">Unit</th>
                                                    <th style="width: 8%">Department</th>
                                                    <th style="width: 8%">Designation</th>
                                                    <th style="width: 8%">Section</th>
                                                    <th style="width: 10%">Gross Pay</th>
                                                    <th style="width: 10%">Basic Pay</th>
                                                    <th style="width: 10%">Night Rate</th>
                                                    <th style="width: 10%">Holiday Rate</th>
                                                    <th style="width: 10%">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        1
                                                    </td>
                                                    <td>
                                                        OOO-001
                                                    </td>
                                                    <td>
                                                        Mr. XYZ
                                                    </td>
                                                    <td>
                                                        Unit-1
                                                    </td>
                                                    <td>
                                                        IT
                                                    </td>
                                                    <td>
                                                        Software
                                                    </td>
                                                    <td>
                                                        Jr. Engineer
                                                    </td>
                                                    <td>
                                                        10000.00
                                                    </td>
                                                    <td>
                                                        7500.00
                                                    </td>
                                                    <td>
                                                        200.00
                                                    </td>
                                                    <td>
                                                        1000.00
                                                    </td>
                                                    <td>
                                                        <div class="col-lg-offset-1">
                                                            <a class="glyphicon glyphicon-pencil" href="#" target="_blank" title="Edit"></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        2
                                                    </td>
                                                    <td>
                                                        OOO-002
                                                    </td>
                                                    <td>
                                                        Mr. ABC
                                                    </td>
                                                    <td>
                                                        Unit-1
                                                    </td>
                                                    <td>
                                                        IT
                                                    </td>
                                                    <td>
                                                        Software
                                                    </td>
                                                    <td>
                                                        Sr. Engineer
                                                    </td>
                                                    <td>
                                                        12000.00
                                                    </td>
                                                    <td>
                                                        8500.00
                                                    </td>
                                                    <td>
                                                        400.00
                                                    </td>
                                                    <td>
                                                        1100.00
                                                    </td>
                                                    <td>
                                                        <div class="col-lg-offset-1">
                                                            <a class="glyphicon glyphicon-pencil" href="#" target="_blank" title="Edit"></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>