﻿@model Erp.Core.Services.Payroll.VMPayrollDetails
@{
    ViewData["Title"] = "PayrollDetails";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Payroll Details:
                </h4>
            </div>

            <div class="box-body">

                <div class="table table-responsive">
                    <table id="tableX" class="table table-striped nowrap">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Employee Id</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>Department</th>
                                <th>Section</th>
                                <th>Gross Salary</th>
                                <th>Basic Salary</th>
                                <th>Attendance Bonus</th>
                                <th>Over Time Amount</th>
                                <th>Total Deduction</th>
                                <th>Stamp Charge</th>
                                <th>Final Amount</th>
                                <th>Status</th>
                                @if (Model.OverAllStatus == 1)
                                {
                                    <th>Action</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.DataList != null)
                            {
                                int sl = 0;
                                foreach (var data in Model.DataList)
                                {
                                    <tr>
                                        <td>@(++sl)</td>
                                        <td>@data.EmployeeIdentity</td>
                                        <td>@data.EmployeeName</td>
                                        <td>@data.Designation</td>
                                        <td>@data.DepartmentName</td>
                                        <td>@data.SectionName</td>
                                        <td>@data.GrossSalary</td>
                                        <td>@data.BasicSalary</td>
                                        <td>@data.AttendanceBonus</td>
                                        <td>@data.PayableOverTimeAmount</td>
                                        <td>@data.TotalDeduction</td>
                                        <td>@data.StampCharge</td>
                                        <td style="font-weight:bold">@data.FinalSalary</td>
                                        <td>
                                            <label class="@data.ApprovalStatusClass">@data.ApprovalStatus</label>
                                        </td>
                                        @*<td>
                                    <a class="glyphicon glyphicon-cog" title="Salary Re-Process" asp-controller="Payroll" asp-action="RegenarateSpecificEmployeeSalary" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID"></a>
                                </td>*@
                                        @{
                                            if (Model.OverAllStatus == 1)
                                            {
                                                <td style="text-align:center">
                                                    @if (data.ApprovalStatusId == 1)
                                                    {
                                                        <a class="fa fa-pause" title="Hold" asp-controller="Payroll" asp-action="PayrollDetailsStatus" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID" asp-route-status="2"></a>
                                                        <a class="fa fa-refresh" title="Re-Process" asp-controller="Payroll" asp-action="PayrollDetailsStatus" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID" asp-route-status="3"></a>
                                                    }
                                                    else if (data.ApprovalStatusId == 2)
                                                    {
                                                        <a class="fa fa-check" title="Approve" asp-controller="Payroll" asp-action="PayrollDetailsStatus" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID" asp-route-status="1"></a>
                                                        <a class="fa fa-refresh" title="Re-Process" asp-controller="Payroll" asp-action="PayrollDetailsStatus" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID" asp-route-status="3"></a>
                                                    }
                                                    else if (data.ApprovalStatusId == 3)
                                                    {
                                                        <a class="fa fa-check" title="Approve" asp-controller="Payroll" asp-action="PayrollDetailsStatus" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID" asp-route-status="1"></a>
                                                        <a class="fa fa-pause" title="Hold" asp-controller="Payroll" asp-action="PayrollDetailsStatus" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID" asp-route-status="2"></a>
                                                    }
                                                </td>
                                            }
                                        }

                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>