﻿@model Erp.Core.Services.Payroll.VMPayroll
@{
    ViewData["Title"] = "PayrollManage";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Generate Employee Salary:
                </h4>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="col-md-12 col-lg-12">
                        <form asp-action="PayrollManage" asp-controller="Payroll" method="post" class="formValidator">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="PayrollTitle" class="control-label"></label>
                                        <input asp-for="PayrollTitle" class="form-control" required />
                                        <span asp-validation-for="PayrollTitle" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="FromDate" class="control-label"></label>
                                        <div class="input-group date">
                                            <input asp-for="FromDate" class="form-control datePicker" autocomplete="off" type="text" value="@Model.FromDate.ToString("d")" required />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="FromDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="ToDate" class="control-label"></label>
                                        <div class="input-group date">
                                            <input asp-for="ToDate" class="form-control datePicker" autocomplete="off" type="text" value="@Model.ToDate.ToString("d")" required />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="ToDate" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label asp-for="PaymentDate" class="control-label"></label>
                                        <div class="input-group date">
                                            <input asp-for="PaymentDate" class="form-control datePicker" autocomplete="off" type="text" value="@Model.PaymentDate.ToString("d")" required />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                        <span asp-validation-for="PaymentDate" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="VMBusinessUnitId" class="control-label"></label>
                                        <select style="width:100%;" asp-for="VMBusinessUnitId" asp-items="Model.VMBusinessUnitList" class="form-control searchingDropdown"></select>
                                        <span asp-validation-for="VMBusinessUnitId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="Remarks" class="control-label"></label>
                                        <input asp-for="Remarks" class="form-control" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="submit" style="width:100%" value="Create Payroll" class="btn btn-xs btn-primary" />
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-header">
                    <h3 id="h3Allocate" class="box-title">Payroll List</h3>
                </div>

                <div class="box-body">
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped nowrap">
                            <thead>
                                <tr>
                                    <th style="width:5%">#</th>
                                    <th style="width:15%">Payroll Title</th>
                                    <th style="width:10%">Business Unit</th>
                                    <th style="width:10%">From Date</th>
                                    <th style="width:10%">To Date</th>
                                    <th style="width:10%">Payment Date</th>
                                    <th style="width:5%">Total Member</th>
                                    <th style="width:5%">Total Amount</th>
                                    <th style="width:15%">Remarks</th>
                                    <th style="width:10%">Status</th>
                                    <th style="width:5%">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{

                                    if (Model.DataList != null)
                                    {
                                        int sl = 0;
                                        foreach (var data in Model.DataList)
                                        {
                                            <tr>
                                                <td>@(++sl)</td>
                                                <td>@data.PayrollTitle</td>
                                                <td>@data.VMBusinessUnitName</td>
                                                <td>@data.FromDate.ToString("dd MMM yyyy")</td>
                                                <td>@data.ToDate.ToString("dd MMM yyyy")</td>
                                                <td>@data.PaymentDate.ToString("dd MMM yyyy")</td>
                                                <td style="text-align:center;font-weight:bold">@data.TotalMember</td>
                                                <td style="text-align:center;font-weight:bold">@data.TotalAmount</td>
                                                <td>@data.Remarks</td>
                                                <td>
                                                    <label class="@data.StatusClass">@data.Status</label>
                                                </td>
                                                <td style="text-align:center">
                                                    @{
                                                        if (data.StatusId == 1)
                                                        {
                                                            <a class="fa fa-spinner" title="Process" asp-controller="Payroll" asp-action="PayrollStatus" asp-route-payrollmasterid="@data.ID" asp-route-status="2"></a>
                                                        }
                                                    }
                                                    <a class="glyphicon glyphicon-share" asp-controller="Payroll" asp-action="PayrollDetails" asp-route-id="@data.ID" title="Salary Details" target="_blank"></a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
