﻿@model Erp.Core.Services.Payroll.VMPayrollDetails
@{
    ViewData["Title"] = "ProcessedPayrollDetails";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Processed Payroll Details:
                </h4>
            </div>

            <div class="box-body">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab_1" data-toggle="tab">Paid Salary List</a></li>
                        <li><a href="#tab_2" data-toggle="tab">Unpaid Salary List</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="table table-responsive">
                                <table id="tableX" class="table table-striped nowrap">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Employee Id</th>
                                            <th>Employee Name</th>
                                            <th>Designation</th>
                                            <th>Department</th>
                                            <th>Section</th>
                                            <th>Gross Salary</th>
                                            <th>Basic Salary</th>
                                            <th>Attendance Bonus</th>
                                            <th>Over Time Amount</th>
                                            <th>Total Deduction</th>
                                            <th>Stamp Charge</th>
                                            <th>Final Amount</th>
                                            <th>Approval Status</th>
                                            @if (Model.OverAllStatus == 2)
                                            {
                                                <th>Action</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.DataList != null)
                                        {
                                            int sl = 0;
                                            foreach (var data in Model.DataList.Where(x => x.PaymentStatusId == 1))
                                            {
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td>@data.EmployeeIdentity</td>
                                            <td>@data.EmployeeName</td>
                                            <td>@data.Designation</td>
                                            <td>@data.DepartmentName</td>
                                            <td>@data.SectionName</td>
                                            <td>@data.GrossSalary</td>
                                            <td>@data.BasicSalary</td>
                                            <td>@data.AttendanceBonus</td>
                                            <td>@data.PayableOverTimeAmount</td>
                                            <td>@data.TotalDeduction</td>
                                            <td>@data.StampCharge</td>
                                            <td style="font-weight:bold">@data.FinalSalary</td>
                                            <td style="text-align:center">
                                                <label class="@data.ApprovalStatusClass">@data.ApprovalStatus</label>
                                            </td>
                                            @{
                                                if (Model.OverAllStatus == 2)
                                                {
                                                    <td style="text-align:center">
                                                        <a class="btn btn-xs btn-danger" asp-controller="Payroll" asp-action="PaymentStatus" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID" asp-route-status="2">Unpaid</a>
                                                    </td>
                                                }
                                            }

                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="tab_2">
                            <div class="table table-responsive">
                                <table class="table table-striped nowrap table1">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Employee Id</th>
                                            <th>Employee Name</th>
                                            <th>Designation</th>
                                            <th>Department</th>
                                            <th>Section</th>
                                            <th>Gross Salary</th>
                                            <th>Basic Salary</th>
                                            <th>Attendance Bonus</th>
                                            <th>Over Time Amount</th>
                                            <th>Total Deduction</th>
                                            <th>Stamp Charge</th>
                                            <th>Final Amount</th>
                                            <th>Approval Status</th>
                                            @if (Model.OverAllStatus == 2)
                                            {
                                                <th>Action</th>
                                            }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.DataList != null)
                                        {
                                            int sl = 0;
                                            foreach (var data in Model.DataList.Where(x => x.PaymentStatusId == 2))
                                            {
                                        <tr>
                                            <td>@(++sl)</td>
                                            <td>@data.EmployeeIdentity</td>
                                            <td>@data.EmployeeName</td>
                                            <td>@data.Designation</td>
                                            <td>@data.DepartmentName</td>
                                            <td>@data.SectionName</td>
                                            <td>@data.GrossSalary</td>
                                            <td>@data.BasicSalary</td>
                                            <td>@data.AttendanceBonus</td>
                                            <td>@data.PayableOverTimeAmount</td>
                                            <td>@data.TotalDeduction</td>
                                            <td>@data.StampCharge</td>
                                            <td style="font-weight:bold">@data.FinalSalary</td>
                                            <td style="text-align:center">
                                                <label class="@data.ApprovalStatusClass">@data.ApprovalStatus</label>
                                            </td>
                                            @{
                                                if (Model.OverAllStatus == 2)
                                                {
                                                    <td style="text-align:center">
                                                        <a class="btn btn-xs btn-success" asp-controller="Payroll" asp-action="PaymentStatus" asp-route-payrollmasterid="@data.PayrollId" asp-route-payrolldetailsid="@data.ID" asp-route-status="1">Paid</a>
                                                    </td>
                                                }
                                            }

                                        </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </div>
</div>