﻿@model Erp.Core.Services.Payroll.VMPayroll
@{
    ViewData["Title"] = "Processed Payroll";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Processed Payroll:
                </h4>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="col-md-12 col-lg-12">
                        <div class="table-responsive">
                            <table id="tableX" class="table table-striped nowrap">
                                <thead>
                                    <tr>
                                        <th style="width:5%">#</th>
                                        <th style="width:15%">Payroll Title</th>
                                        <th style="width:10%">Business Unit</th>
                                        <th style="width:10%">From Date</th>
                                        <th style="width:10%">To Date</th>
                                        <th style="width:10%">Payment Date</th>
                                        <th style="width:5%">Total Member</th>
                                        <th style="width:5%">Total Amount</th>
                                        <th style="width:15%">Remarks</th>
                                        <th style="width:10%">Status</th>
                                        <th style="width:5%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        if (Model.DataList != null)
                                        {
                                            int sl = 0;
                                            foreach (var data in Model.DataList)
                                            {
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td>@data.PayrollTitle</td>
                                                    <td>@data.VMBusinessUnitName</td>
                                                    <td>@data.FromDate.ToString("dd MMM yyyy")</td>
                                                    <td>@data.ToDate.ToString("dd MMM yyyy")</td>
                                                    <td>@data.PaymentDate.ToString("dd MMM yyyy")</td>
                                                    <td style="text-align:center;font-weight:bold">@data.TotalMember</td>
                                                    <td style="text-align:center;font-weight:bold">@data.TotalAmount</td>
                                                    <td>@data.Remarks</td>
                                                    <td>
                                                        <label class="@data.StatusClass">@data.Status</label>
                                                    </td>
                                                    <td style="text-align:center">
                                                        @{
                                                            if (data.StatusId == 2)
                                                            {
                                                                <a class="fa fa-window-close" aria-hidden="true" title="Close" asp-controller="Payroll" asp-action="PayrollStatus" asp-route-payrollmasterid="@data.ID" asp-route-status="3"></a>
                                                            }
                                                        }
                                                        <a class="glyphicon glyphicon-share" asp-controller="Payroll" asp-action="ProcessedPayrollDetails" asp-route-id="@data.ID" title="Salary Details" target="_blank"></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>