﻿@model Erp.Core.Services.Payroll.VMPromotion
@{
    ViewData["Title"] = "Promotion";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Employee Promotion & Increament:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <form asp-action="Promotion" asp-controller="Payroll" method="post" class="formValidator">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VmEmployeeFk" class="control-label"></label>
                                                <select id="ddlEmployeeFk" style="width:100%;" asp-for="VmEmployeeFk" asp-items="Model.VmEmployeeList" class="form-control searchingDropdown" required>
                                                    <option selected>Select Employee</option>
                                                </select>
                                                <span asp-validation-for="VmEmployeeFk" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VMBusinessUnitId" class="control-label"></label>
                                                <select id="ddlBusinessUnitId" style="width:100%;" asp-for="VMBusinessUnitId" asp-items="Model.VMBusinessUnitList" class="form-control searchingDropdown">
                                                    <option value="0" selected>Select Business Unit</option>
                                                </select>
                                                <span asp-validation-for="VmEmployeeFk" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VMUnitId" class="control-label"></label>
                                                <select id="ddlUnitId" style="width:100%;" asp-for="VMUnitId" asp-items="Model.VMBusinessUnitList" class="form-control searchingDropdown">
                                                    <option value="0" selected>Select Unit</option>
                                                </select>
                                                <span asp-validation-for="VMUnitId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VMDepartmentId" class="control-label"></label>
                                                <select id="ddlDepartmentId" style="width:100%;" asp-for="VMDepartmentId" asp-items="Model.VMDepartmentList" class="form-control searchingDropdown">
                                                    <option value="0" selected>Select Department</option>
                                                </select>
                                                <span asp-validation-for="VMDepartmentId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VMSectionId" class="control-label"></label>
                                                <select id="ddlSectionId" style="width:100%;" asp-for="VMSectionId" asp-items="Model.VMSectionList" class="form-control searchingDropdown">
                                                    <option value="0" selected>Select Section</option>
                                                </select>
                                                <span asp-validation-for="VMSectionId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VMDesignationId" class="control-label"></label>
                                                <select id="ddlDesignationId" style="width:100%;" asp-for="VMDesignationId" asp-items="Model.VMDesignationList" class="form-control searchingDropdown">
                                                    <option value="0" selected>Select Designation</option>
                                                </select>
                                                <span asp-validation-for="VMDesignationId" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="VMLineId" class="control-label"></label>
                                                <select id="ddlLineId" style="width:100%;" asp-for="VMLineId" asp-items="Model.VMLineList" class="form-control searchingDropdown">
                                                    <option value="0" selected>Select Line</option>
                                                </select>
                                                <span asp-validation-for="VMLineId" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label asp-for="PromotionDate" class="control-label"></label>
                                            <div class="input-group date">
                                                <input asp-for="PromotionDate" class="form-control datePicker" autocomplete="off" type="text" value="@Model.PromotionDate.ToString("yyyy-MM-dd")" required />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <span asp-validation-for="PromotionDate" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label asp-for="IsIncreament" class="control-label"></label>
                                            <select style="width:100%;" id="ddlIsIncreament" asp-for="IsIncreament" class="form-control searchingDropdown " required>
                                                <option value="1">Only Promotion</option>
                                                <option value="2">Only Increament</option>
                                                <option value="3">Promotion With Increament</option>
                                            </select>
                                            <span asp-validation-for="IsIncreament" class="text-danger"></span>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="divGrossSalary" style="display:none">
                                            <div class="form-group col-md-4">
                                                <label asp-for="GrossSalary" class="control-label"></label>
                                                <input id="txtGrossSalary" asp-for="GrossSalary" class="form-control" />
                                                <span asp-validation-for="GrossSalary" class="text-danger"></span>
                                            </div>
                                            <div class="form-group col-md-4">
                                                <label asp-for="EffectedDate" class="control-label"></label>
                                                <div class="input-group date">
                                                    <input id="txtEffectedDate" asp-for="EffectedDate" class="form-control datePicker" autocomplete="off" type="text" required />
                                                    <span class="input-group-addon">
                                                        <span class="glyphicon glyphicon-calendar"></span>
                                                    </span>
                                                </div>
                                                <span asp-validation-for="EffectedDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="submit" style="width:100%" class="btn btn-block btn-primary btn-xs">Save All</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        var nBUId, nUId, nDepartmentId, nSectionId, nDesignationId;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator({
            });
        });
        $("#ddlIsIncreament").change(function () {
            if ($("#ddlIsIncreament").val() == "2" || $("#ddlIsIncreament").val() == "3") {

                $("#divGrossSalary").show();
            }
            else {
                $("#divGrossSalary").hide();
            }
        });
        $("#ddlBusinessUnitId").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet", "HRMS")",
                datatype: "Json",
                async: false,
                data: { id: $("#ddlBusinessUnitId :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlUnitId").empty();
                        $("#ddlUnitId").append("<option value='0' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnitId").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnitId").val(nUId);

                            $("#ddlUnitId").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlUnitId").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet", "HRMS")",
                datatype: "Json",
                async:false,
                data: { id: $("#ddlUnitId :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlDepartment").empty();
                        $("#ddlDepartment").append("<option value='0' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDepartmentId").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDepartmentId").val(nDepartmentId);

                            $("#ddlDepartmentId").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlDepartmentId").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet", "HRMS")",
                datatype: "Json",
                async: false,
                data: { id: $("#ddlDepartmentId :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlSectionId").empty();
                        $("#ddlSectionId").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSectionId").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nSectionId && nSectionId > 0) {
                            $("#ddlSectionId").val(nSectionId);

                            $("#ddlSectionId").trigger('change');

                        }
                    }
                }
            });

            $.ajax({
                type: "GET",
                url: "@Url.Action("DesignationGet", "HRMS")",
                datatype: "Json",
                async: false,
                data: { id: $("#ddlDepartmentId :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlDesignationId").empty();
                        $("#ddlDesignationId").append("<option value='0' selected>Select Designation</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDesignationId").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDesignationId && nDesignationId > 0) {
                            $("#ddlDesignationId").val(nDesignationId);

                            $("#ddlDesignationId").trigger('change');

                        }
                    }
                }
            });
        });

        $("#ddlEmployeeFk").change(function () {
            var id = $("#ddlEmployeeFk").val();
            if (id != "Select Employee") {
                $.ajax({
                    type: "get",
                    url: "@Url.Action("GetEmployeeParticularById", "Payroll")",
                    data: { id: id },
                    datatype: "json",
                   // async: false,
                    success: function (data) {
                        nBUId = data.vmBusinessUnitId;
                        nUId = data.vmUnitId;
                        nDepartmentId = data.vmDepartmentId;
                        nSectionId = data.vmSectionId
                        nDesignationId = data.vmDesignationId;
                        $("#ddlBusinessUnitId").val(nBUId).trigger("change");
                        //$("#ddlUnitId").trigger("change");
                        //$("#ddlDepartmentId").trigger("change");
                        //$("#ddlSectionId").trigger("change");
                        //$("#ddlDesignationId").val(data.vmDesignationId).trigger("change");
                        $("#ddlLineId").val(data.vmLineId).trigger("change");
                        $("#ddlGrade").val(data.vmGradeId).trigger("change");
                        $("#txtGrossSalary").val(data.grossSalary);
                        $("#txtEffectedDate").datepicker("setDate", data.vmEffectedDate);
                        //$("#txtEffectedDate").val(data.vmEffectedDate);
                        //console.log(data);
                    }
                });
            }
            else {
                $("#ddlBusinessUnitId").val(0).trigger("change");
                $("#ddlUnitId").val(0).trigger("change");
                $("#ddlDepartmentId").val(0).trigger("change");
                $("#ddlSectionId").val(0).trigger("change");
                $("#ddlDesignationId").val(0).trigger("change");
                $("#ddlLineId").val(0).trigger("change");
                $("#ddlGrade").val(0).trigger("change");
                $("#txtGrossSalary").val(0);
                $("#txtEffectedDate").val("");
            }

        });

    </script>
}