﻿@model Erp.Core.Services.Payroll.VMPromotion
@{
    ViewData["Title"] = "Promotion List";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Employee Promotion List:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-body">
                            <div class="col-md-12 col-lg-12">
                                <div class="table table-responsive">
                                    <table id="tableX" class="table table-striped nowrap">
                                        <thead>
                                            <tr>
                                                <th rowspan="2">#</th>
                                                <th rowspan="2">Employee ID</th>
                                                <th rowspan="2">Employee Name</th>
                                                <th colspan="6" style="text-align:center">Current Information</th>
                                                <th colspan="6" style="text-align:center">Previous Information</th>
                                                <th rowspan="2">New Gross</th>
                                                <th rowspan="2">Previous Gross</th>
                                            </tr>
                                            <tr>
                                                <th style="border-left:1px solid">Designation</th>
                                                <th>B. Unit</th>
                                                <th>Unit</th>
                                                <th>Section</th>
                                                <th>Line</th>
                                                <th style="border-right:1px solid">Department</th>

                                                <th>Designation</th>
                                                <th>B. Unit</th>
                                                <th>Unit</th>
                                                <th>Section</th>
                                                <th>Line</th>
                                                <th style="border-right:1px solid">Department</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                if (Model.DataList != null)
                                                {
                                                    int sl = 0;
                                                    @foreach (var data in Model.DataList)
                                                    {
                                                        <tr>
                                                            <td>@(++sl)</td>
                                                            <td>@data.EmployeeId</td>
                                                            <td>@data.EmployeeName</td>

                                                            <td style="border-left:1px solid">@data.CurrentDesignation</td>
                                                            <td>@data.CurrentBUnit</td>
                                                            <td>@data.CurrentUnit</td>
                                                            <td>@data.CurrentSection</td>
                                                            <td>@data.CurrentLine</td>
                                                            <td style="border-right:1px solid">@data.CurrentDepartment</td>

                                                            <td>@data.PreviousDesignation</td>
                                                            <td>@data.PreviousBUnit</td>
                                                            <td>@data.PreviousUnit</td>
                                                            <td>@data.PreviousSection</td>
                                                            <td>@data.PreviousLine</td>
                                                            <td style="border-right:1px solid">@data.PreviousDepartment</td>

                                                            <td>@data.CurrentSalary</td>
                                                            <td>@data.PreviousSalary</td>
                                                        </tr>
                                                    }
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>