﻿@model Erp.Core.Services.Payroll.VMSalaryStructure
@{
    ViewData["Title"] = " SalaryStructure";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Salary Structure:
                </h4>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="box-body no-padding">
                        <div class="col-md-12 col-lg-12">
                            <form id="frmSalaryStructure" asp-action="SalaryStructure" asp-controller="Payroll" method="post" class="formValidator">
                                <input type="hidden" id="hidStructureType" value="1" asp-for="StructureType" />
                                <input type="hidden" id="hidID" asp-for="ID" />
                                <input type="hidden" id="hidActionId" asp-for="ActionId" />
                                <div class="col-md-6">
                                    <div class="box box-default">
                                        <div class="box-header">
                                            <h3 class="box-title">Salary Structure Of Employee</h3>
                                        </div>
                                        <div class="box-body" style="background-color:beige">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="MedicalAllowance" class="control-label"></label>
                                                                <input type="number" id="txtw_MedicalAllowance" asp-for="MedicalAllowance" step="any" class="form-control" required />
                                                                <span asp-validation-for="MedicalAllowance" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="FoodlAllowance" class="control-label"></label>
                                                                <input type="number" id="txtw_FoodlAllowance" asp-for="FoodlAllowance" step="any" class="form-control" required />
                                                                <span asp-validation-for="FoodlAllowance" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="TransportAllowance" class="control-label"></label>
                                                                <input type="number" id="txtw_TransportAllowance" asp-for="TransportAllowance" step="any" class="form-control" required />
                                                                <span asp-validation-for="TransportAllowance" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="StampCharge" class="control-label"></label>
                                                                <input type="number" id="txtw_StampCharge" asp-for="StampCharge" class="form-control" step="any" required />
                                                                <span asp-validation-for="StampCharge" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label asp-for="BasicInPercent" class="control-label"></label>
                                                                <div class="input-group">
                                                                    <input style="width:200px;" type="number" id="txtw_BasicInPercent" asp-for="BasicInPercent" step="any" class="form-control" required />
                                                                    <span style="width:280px;" class="input-group-addon">Of Gross Amount (Excluding Allowances)</span>
                                                                </div>
                                                                <span asp-validation-for="BasicInPercent" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label asp-for="HouseRentInPercent" class="control-label"></label>
                                                                <div class="input-group">
                                                                    <input style="width:200px;" type="number" id="txtw_HouseRentInPercent" asp-for="HouseRentInPercent" step="any" class="form-control" required />
                                                                    <span style="width:280px;" class="input-group-addon">Of Basic Amount</span>
                                                                </div>
                                                                <span asp-validation-for="HouseRentInPercent" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="box-header" style="font-weight:bold;font-size:small">Overtime Setup</div>
                                                        <div class="col-md-5" style="padding-right:0px !important">
                                                            <div class="form-group">
                                                                <label asp-for="MonthlyWorkingDays" class="control-label"></label>
                                                                <input type="number" id="txtw_MonthlyWorkingDays" asp-for="MonthlyWorkingDays" class="form-control" required />
                                                                <span asp-validation-for="MonthlyWorkingDays" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" style="padding-right:0px !important">
                                                            <div class="form-group">
                                                                <label asp-for="DailyWorkingHour" class="control-label"></label>
                                                                <input type="number" id="txtw_DailyWorkingHour" asp-for="DailyWorkingHour" class="form-control" required />
                                                                <span asp-validation-for="DailyWorkingHour" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label asp-for="OvertimeRate" class="control-label"></label>
                                                                <input type="number" id="txtw_OvertimeRate" asp-for="OvertimeRate" step="any" class="form-control" required />
                                                                <span asp-validation-for="OvertimeRate" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input id="btnwhite" type="submit" style="width:100%" value="Create Structure" class="btn btn-xs btn-primary" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->

                                </div>
                            </form>
                            <form id="frmSalaryStructure" asp-action="SalaryStructure" asp-controller="Payroll" method="post" class="formValidator">
                                <input type="hidden" id="hidbStructureType" value="2" asp-for="StructureType" />
                                <input type="hidden" id="hidbID" asp-for="ID" />
                                <input type="hidden" id="hidbActionId" asp-for="ActionId" />
                                <!-- /.col (left) -->
                                <div class="col-md-6">
                                    <div class="box box-primary">
                                        <div class="box-header">
                                            <h3 class="box-title">Salary Structure Of Worker</h3>
                                        </div>
                                        <div class="box-body" style="background-color:aliceblue">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="MedicalAllowance" class="control-label"></label>
                                                                <input type="number" id="txtb_MedicalAllowance" asp-for="MedicalAllowance" step="any" class="form-control" required />
                                                                <span asp-validation-for="MedicalAllowance" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="FoodlAllowance" class="control-label"></label>
                                                                <input type="number" id="txtb_FoodlAllowance" asp-for="FoodlAllowance" step="any" class="form-control" required />
                                                                <span asp-validation-for="FoodlAllowance" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="TransportAllowance" class="control-label"></label>
                                                                <input type="number" id="txtb_TransportAllowance" asp-for="TransportAllowance" step="any" class="form-control" required />
                                                                <span asp-validation-for="TransportAllowance" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label asp-for="StampCharge" class="control-label"></label>
                                                                <input type="number" id="txtb_StampCharge" asp-for="StampCharge" step="any" class="form-control" required />
                                                                <span asp-validation-for="StampCharge" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label asp-for="BasicInPercent" class="control-label"></label>
                                                                <div class="input-group">
                                                                    <input style="width:200px;" type="number" id="txtb_BasicInPercent" asp-for="BasicInPercent" step="any" class="form-control" required />
                                                                    <span style="width:280px;" class="input-group-addon">Of Gross Amount (Excluding Allowances)</span>
                                                                </div>
                                                                <span asp-validation-for="BasicInPercent" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label asp-for="HouseRentInPercent" class="control-label"></label>
                                                                <div class="input-group">
                                                                    <input style="width:200px;" type="number" id="txtb_HouseRentInPercent" asp-for="HouseRentInPercent" step="any" class="form-control" required />
                                                                    <span style="width:280px;" class="input-group-addon">Of Basic Amount</span>
                                                                </div>
                                                                <span asp-validation-for="HouseRentInPercent" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="box-header" style="font-weight:bold;font-size:small">Overtime Setup</div>
                                                        <div class="col-md-5" style="padding-right:0px !important">
                                                            <div class="form-group">
                                                                <label asp-for="MonthlyWorkingDays" class="control-label"></label>
                                                                <input type="number" id="txtb_MonthlyWorkingDays" asp-for="MonthlyWorkingDays" class="form-control" required />
                                                                <span asp-validation-for="MonthlyWorkingDays" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-4" style="padding-right:0px !important">
                                                            <div class="form-group">
                                                                <label asp-for="DailyWorkingHour" class="control-label"></label>
                                                                <input type="number" id="txtb_DailyWorkingHour" asp-for="DailyWorkingHour" class="form-control" required />
                                                                <span asp-validation-for="DailyWorkingHour" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <div class="form-group">
                                                                <label asp-for="OvertimeRate" class="control-label"></label>
                                                                <input type="number" id="txtb_OvertimeRate" asp-for="OvertimeRate" step="any" class="form-control" required />
                                                                <span asp-validation-for="OvertimeRate" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <input id="btnblue" type="submit" style="width:100%" value="Create Structure" class="btn btn-xs btn-primary" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /.box-body -->
                                    </div>
                                    <!-- /.box -->
                                </div>
                                <!-- /.col (right) -->
                            </form>
                            <div class="col-md-6">
                                <div class="box box-default">
                                    <div class="box-header">
                                        <h3 class="box-title pull-left">Current Salary Structure Of Employee</h3>
                                        @{
                                            if (Model.DataListForWhite != null && Model.DataListForWhite.Status == false)
                                            {
                                                <h3 class="box-title pull-right"><a href="#" class="glyphicon glyphicon-pencil" style="cursor:pointer" onclick="EditWhiteStructure(@Model.DataListForWhite.ID)" title="Edit Structure"></a></h3>
                                            }
                                        }

                                    </div>
                                    <div class="box-body" style="background-color:beige">
                                        <div class="row">
                                            <div class="table table-responsive">
                                                <table class="table table-condensed" style="font-weight:bold">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:41%"></th>
                                                            <th style="width:1%"></th>
                                                            <th style="width:10%"></th>
                                                            <th style="width:5%"></th>
                                                            <th style="width:37%"></th>
                                                            <th style="width:1%"></th>
                                                            <th style="width:10%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.DataListForWhite != null)
                                                            {
                                                                <tr>
                                                                    <td>Medical Allowance (BDT)</td>
                                                                    <td>:</td>
                                                                    <td id="medical_@Model.DataListForWhite.ID">@Model.DataListForWhite.MedicalAllowance</td>
                                                                    <td></td>
                                                                    <td>Food Allowance (BDT)</td>
                                                                    <td>:</td>
                                                                    <td id="food_@Model.DataListForWhite.ID">@Model.DataListForWhite.FoodlAllowance</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Transport Allowance (BDT)</td>
                                                                    <td>:</td>
                                                                    <td id="transport_@Model.DataListForWhite.ID">@Model.DataListForWhite.TransportAllowance</td>
                                                                    <td></td>
                                                                    <td>Stamp Charge (BDT)</td>
                                                                    <td>:</td>
                                                                    <td id="stamp_@Model.DataListForWhite.ID">@Model.DataListForWhite.StampCharge</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Basic Salary (%)</td>
                                                                    <td>:</td>
                                                                    <td id="basic_@Model.DataListForWhite.ID">@Model.DataListForWhite.BasicInPercent</td>
                                                                    <td></td>
                                                                    <td>House Rent (%)</td>
                                                                    <td>:</td>
                                                                    <td id="house_@Model.DataListForWhite.ID">@Model.DataListForWhite.HouseRentInPercent</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Monthly Working Days</td>
                                                                    <td>:</td>
                                                                    <td id="workingdays_@Model.DataListForWhite.ID">@Model.DataListForWhite.MonthlyWorkingDays</td>
                                                                    <td></td>
                                                                    <td>Daily Working Hours</td>
                                                                    <td>:</td>
                                                                    <td id="workinghour_@Model.DataListForWhite.ID">@Model.DataListForWhite.DailyWorkingHour</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Overtime Rate (%)</td>
                                                                    <td>:</td>
                                                                    <td id="overtime_@Model.DataListForWhite.ID">@Model.DataListForWhite.OvertimeRate</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>

                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box box-primary">
                                    <div class="box-header">
                                        <h3 class="box-title pull-left">Current Salary Structure Of Worker</h3>
                                        @{
                                            if (Model.DataListForBlue != null && Model.DataListForBlue.Status == false)
                                            {
                                                <h3 class="box-title pull-right"><a href="#" class="glyphicon glyphicon-pencil" style="cursor:pointer" onclick="EditBlueStructure(@Model.DataListForBlue.ID)" title="Edit Structure"></a></h3>
                                            }
                                        }
                                    </div>
                                    <div class="box-body" style="background-color:aliceblue">
                                        <div class="row">
                                            <div class="table table-responsive">
                                                <table class="table table-condensed" style="font-weight:bold">
                                                    <thead>
                                                        <tr>
                                                            <th style="width:41%"></th>
                                                            <th style="width:1%"></th>
                                                            <th style="width:10%"></th>
                                                            <th style="width:5%"></th>
                                                            <th style="width:37%"></th>
                                                            <th style="width:1%"></th>
                                                            <th style="width:10%"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                            if (Model.DataListForBlue != null)
                                                            {
                                                                <tr>
                                                                    <td>Medical Allowance (BDT)</td>
                                                                    <td>:</td>
                                                                    <td id="medical_@Model.DataListForBlue.ID">@Model.DataListForBlue.MedicalAllowance</td>
                                                                    <td></td>
                                                                    <td>Food Allowance (BDT)</td>
                                                                    <td>:</td>
                                                                    <td id="food_@Model.DataListForBlue.ID">@Model.DataListForBlue.FoodlAllowance</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Transport Allowance (BDT)</td>
                                                                    <td>:</td>
                                                                    <td id="transport_@Model.DataListForBlue.ID">@Model.DataListForBlue.TransportAllowance</td>
                                                                    <td></td>
                                                                    <td>Stamp Charge (BDT)</td>
                                                                    <td>:</td>
                                                                    <td id="stamp_@Model.DataListForBlue.ID">@Model.DataListForBlue.StampCharge</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Basic Salary (%)</td>
                                                                    <td>:</td>
                                                                    <td id="basic_@Model.DataListForBlue.ID">@Model.DataListForBlue.BasicInPercent</td>
                                                                    <td></td>
                                                                    <td>House Rent (%)</td>
                                                                    <td>:</td>
                                                                    <td id="house_@Model.DataListForBlue.ID">@Model.DataListForBlue.HouseRentInPercent</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Monthly Working Days</td>
                                                                    <td>:</td>
                                                                    <td id="workingdays_@Model.DataListForBlue.ID">@Model.DataListForBlue.MonthlyWorkingDays</td>
                                                                    <td></td>
                                                                    <td>Daily Working Hours</td>
                                                                    <td>:</td>
                                                                    <td id="workinghour_@Model.DataListForBlue.ID">@Model.DataListForBlue.DailyWorkingHour</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Overtime Rate (%)</td>
                                                                    <td>:</td>
                                                                    <td id="overtime_@Model.DataListForBlue.ID">@Model.DataListForBlue.OvertimeRate</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td></td>
                                                                </tr>
                                                            }
                                                        }

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator({
            });
        });
        function EditWhiteStructure(wid) {
            $("#txtw_MedicalAllowance").val($("#medical_" + wid).text().trim());
            $("#txtw_FoodlAllowance").val($("#food_" + wid).text().trim());
            $("#txtw_TransportAllowance").val($("#transport_" + wid).text().trim());
            $("#txtw_StampCharge").val($("#stamp_" + wid).text().trim());
            $("#txtw_BasicInPercent").val($("#basic_" + wid).text().trim());
            $("#txtw_HouseRentInPercent").val($("#house_" + wid).text().trim());
            $("#txtw_MonthlyWorkingDays").val($("#workingdays_" + wid).text().trim());
            $("#txtw_DailyWorkingHour").val($("#workinghour_" + wid).text().trim());
            $("#txtw_OvertimeRate").val($("#overtime_" + wid).text().trim());
            $("#hidID").val(wid);
            $("#hidActionId").val(2);
            $("#btnwhite").val('Update Structure');
        }
        function EditBlueStructure(bid) {
            $("#txtb_MedicalAllowance").val($("#medical_" + bid).text().trim());
            $("#txtb_FoodlAllowance").val($("#food_" + bid).text().trim());
            $("#txtb_TransportAllowance").val($("#transport_" + bid).text().trim());
            $("#txtb_StampCharge").val($("#stamp_" + bid).text().trim());
            $("#txtb_BasicInPercent").val($("#basic_" + bid).text().trim());
            $("#txtb_HouseRentInPercent").val($("#house_" + bid).text().trim());
            $("#txtb_MonthlyWorkingDays").val($("#workingdays_" + bid).text().trim());
            $("#txtb_DailyWorkingHour").val($("#workinghour_" + bid).text().trim());
            $("#txtb_OvertimeRate").val($("#overtime_" + bid).text().trim());
            $("#hidbID").val(bid);
            $("#hidbActionId").val(2);
            $("#btnblue").val('Update Structure');
        }
    </script>
}