﻿@model Erp.Core.Services.Payroll.VMSalaryIncreament
@{
    ViewData["Title"] = "EmployeeSalaryIncreament";
}
<style>
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Yearly Employee Salary Increament:
                </h4>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="box-header">
                        <h3 class="box-title">Filter by:</h3>
                    </div>
                    <div class="box-body">
                        <div class="col-md-12 col-lg-12">
                            <form asp-action="EmployeeSalary" asp-controller="Payroll" method="post" class="formValidator">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="VMBusinessUnitId" class="control-label"></label>
                                            <select id="ddlBUnit" style="width:100%;" asp-for="VMBusinessUnitId" asp-items="Model.VMBusinessUnitList" class="form-control searchingDropdown"></select>
                                            <span asp-validation-for="VMBusinessUnitId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="VMUnitId" class="control-label"></label>
                                            <select id="ddlUnit" style="width:100%;" asp-for="VMUnitId" asp-items="Model.VMUnitList" class="form-control searchingDropdown">
                                                <option selected value="0">Select Unit</option>
                                            </select>
                                            <span asp-validation-for="VMUnitId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="VMDepartmentId" class="control-label"></label>
                                            <select id="ddlDepartment" style="width:100%;" asp-for="VMDepartmentId" asp-items="Model.VMDepartmentList" class="form-control searchingDropdown">
                                                <option selected value="0">Select Department</option>
                                            </select>
                                            <span asp-validation-for="VMDepartmentId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="VMSectionId" class="control-label"></label>
                                            <select id="ddlSection" style="width:100%;" asp-for="VMSectionId" asp-items="Model.VMSectionList" class="form-control searchingDropdown">
                                                <option selected value="0">Select Section</option>
                                            </select>
                                            <span asp-validation-for="VMSectionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="FromDate" class="control-label"></label>

                                            <div class="input-group date">
                                                <input asp-for="FromDate" class="form-control datePicker" autocomplete="off" type="text" value="@Model.FromDate.ToString("d")" required />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <span asp-validation-for="FromDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label asp-for="ToDate" class="control-label"></label>

                                            <div class="input-group date">
                                                <input asp-for="ToDate" class="form-control datePicker" autocomplete="off" type="text" value="@Model.ToDate.ToString("d")" required />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                            <span asp-validation-for="ToDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-3 form-group" style="margin-top:25px">
                                        <input id="btnGenerate" type="button" class="btn btn-primary" value="Filter" />
                                    </div>
                                </div>
                                <div id="divSalaryList">
                                    @await Component.InvokeAsync("EmployeeSalaryIncreament", new { bunit = Model.VMBusinessUnitId, unit = Model.VMUnitId, dept = Model.VMDepartmentId, section = Model.VMSectionId, fromdate = Model.FromDate, todate = Model.ToDate })
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">

         var nBUId, nUId, nDepartmentId;
         $("#ddlBUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitGet", "HRMS")",
                datatype: "Json",
                data: { id: $("#ddlBUnit :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlUnit").empty();
                        $("#ddlUnit").append("<option value='0' selected>Select Unit</option>");
                        $(data).each(function (index, item) {
                            $("#ddlUnit").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nUId && nUId> 0) {
                            $("#ddlUnit").val(nUId);

                            $("#ddlUnit").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlUnit").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("UserDepartmentGet", "HRMS")",
                datatype: "Json",
                async:false,
                data: { id: $("#ddlUnit :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlDepartment").empty();
                        $("#ddlDepartment").append("<option value='0' selected>Select Department</option>");
                        $(data).each(function (index, item) {
                            $("#ddlDepartment").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlDepartment").val(nDepartmentId);

                            $("#ddlDepartment").trigger('change');

                        }
                    }
                }
            });
        });
        $("#ddlDepartment").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("SectionGet", "HRMS")",
                datatype: "Json",
                async: false,
                data: { id: $("#ddlDepartment :selected").val() },
                success: function (data) {
                    var items = "";

                    if (data) {
                        $("#ddlSection").empty();
                        $("#ddlSection").append("<option value='0' selected>Select Section</option>");
                        $(data).each(function (index, item) {
                            $("#ddlSection").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nDepartmentId && nDepartmentId > 0) {
                            $("#ddlSection").val(nDepartmentId);

                            $("#ddlSection").trigger('change');

                        }
                    }
                }
            });
        });

        $(document).ready(function () {
            // Due to late decision of casscading and maintain previous machanism
            // Handle previous mechanism by jquery
            $("#ddlBUnit").val($("#ddlBUnit option:first").val()).trigger('change');
            $("#ddlUnit").val($("#ddlUnit option:first").val()).trigger('change');
            $("#ddlDepartment").val($("#ddlDepartment option:first").val()).trigger('change');
            $('.formValidator').bootstrapValidator({
            });

            $("#btnGenerate").on("click", function (e) {
                e.preventDefault();
                $.ajax({
                    type: "get",
                    url: "@Url.Action("FilterSalaryIncreamentList", "Payroll")",
                    data: { bunit: $('#ddlBUnit :selected').val(), unit: $("#ddlUnit :selected").val(), dept: $("#ddlDepartment :selected").val(), section: $("#ddlSection :selected").val(), fromdate: $("#FromDate").val(), todate: $("#ToDate").val() },
                    datatype: "html",
                    success: function (data) {
                        $("#divSalaryList").empty();
                        $("#divSalaryList").html(data);
                        $(".searchingDropdown").select2();
                        $('.datePicker').datepicker({
                            format: "yyyy-mm-dd",
                            // format: "d/m/yy",
                            autoclose: true
                        }).on('changeDate', function (ev) {
                            if ($(this).parents('form') && $(this).attr('required')) {
                                $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                            }

                        });
                        $("#tableX").dataTable().fnDestroy();
                        $("#tableX").DataTable({
                            "bDeferRender": true,
                            sDom: '<"pull-left mrg25B"B><"clearfix"><"pull-left"l><"pull-right"f>rtip',
                            buttons: [
                                {
                                    extend: 'copyHtml5',
                                    text: '<i class="fa fa-files-o"></i>&nbsp;Copy',
                                    orientation: 'landscape',
                                    footer: true
                                },
                                {
                                    extend: 'csvHtml5',
                                    text: '<i class="fa fa-file-excel-o"></i>&nbsp;Excel',
                                    orientation: 'landscape',
                                    footer: true
                                },
                                {
                                    extend: 'print',
                                    footer: true,
                                    text: '<i class="fa fa-print"></i>&nbsp;Print',
                                    customize: function (win) {
                                        $(win.document.body).find('thead').prepend('<div class="header-print">' + $('#dt-header').val() + '</div>');
                                    }
                                }
                            ]
                        });
                    }
                });
            });

        });
        function EditGross(masterid) {

            $("#tdincrementamount_" + masterid).hide();
            $("#tdeffictivedate_" + masterid).hide();
            $("#tdapproveeffictive_" + masterid).show();
            $("#tdincrementamountedit_" + masterid).show();
        }
        function ApproveIncreament(masterid) {
            var grossamount = parseFloat($("#tdpreviousgross_" + masterid).text().trim());
            var increamentamount = parseFloat($("#txtincreamentamount_" + masterid).val());
            var approvegross = grossamount + increamentamount;
            $.ajax({
                type: "post",
                url: "@Url.Action("ApproveSalaryIncreamentAsync", "Payroll")",
                data: { eodmasterid: masterid, grosssalary: approvegross, effecteddate: $("#txtdate_" + masterid).val()},
                datatype: "json",
                success: function (data) {
                    if (data != 0) {
                        $("#btnGenerate").click();
                    }
                    else alert("Something Went wrong");
                }
                });
        }
        function edValueKeyPress(masterid) {
            var grossamount = parseFloat($("#tdpreviousgross_" + masterid).text().trim());
            var increamentamount = parseFloat($("#txtincreamentamount_" + masterid).val());
            var approvegross = grossamount + increamentamount;
            $("#tdnewgross_" + masterid).html(approvegross);

        }
    </script>
}