﻿@model Erp.Core.Services.Payroll.VMSalaryIncreament
<div class="box">
    <div class="box-header">
        <h3 id="h3Allocate" class="box-title">Pending Employee Salary Increment Information In Between  <strong>@Model.FromDate.ToString("MMMM dd yyyy") & @Model.ToDate.ToString("MMMM dd yyyy")</strong></h3>
    </div>

    <div class="box-body">
        <div class="table-responsive">
            <table id="tableX" class="table table-striped nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th style="width:8%">Employee ID</th>
                        <th style="width:10%">Employee Name</th>
                        <th style="width:8%">Designation</th>
                        <th style="width:8%">Joining Date</th>
                        <th style="width:8%">Basic</th>
                        <th style="width:8%">Gross</th>
                        <th style="width:8%">Increament Percent (%)</th>
                        <th style="width:8%">Increament Amount</th>
                        <th class="hidden"></th>
                        <th style="width:8%">New Gross</th>
                        <th style="width:8%">Effect Date</th>
                        <th class="hidden"></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @{

                        if (Model.DataList != null)
                        {
                            int sl = 0; 
                            foreach (var data in Model.DataList)
                            {
                    <tr>
                        <td>@(++sl)</td>
                        <td>@data.EmployeeIdentity</td>
                        <td>@data.EmployeeName</td>
                        <td>@data.Designation</td>
                        <td>@data.JoiningDate.ToShortDateString()</td>
                        <td>@data.PreviousBasic</td>
                        <td id="tdpreviousgross_@data.EODMasterId">@data.PreviousGross</td>
                        <td style="font-weight:bold;text-align:center">@data.IncreamentPercent</td>
                        <td id="tdincrementamount_@data.EODMasterId" style="font-weight:bold;">@data.TotalIncrementedAmount</td>
                        <td id="tdincrementamountedit_@data.EODMasterId" style="display:none">
                            <input style="text-align:right" type="number" id="txtincreamentamount_@data.EODMasterId" value="@data.TotalIncrementedAmount" step="0.01"   onInput="edValueKeyPress(@data.EODMasterId)"/>
                        </td>
                        <td id="tdnewgross_@data.EODMasterId" style="font-weight:bold;">@data.IncreamentedGross</td>
                        <td id="tdeffictivedate_@data.EODMasterId" style="font-weight:bold;">@data.EffectedDate.ToShortDateString()</td>
                        <td id="tdapproveeffictive_@data.EODMasterId" style="display:none">
                            <input class="datePicker" type="text" id="txtdate_@data.EODMasterId" value="@data.EffectedDate.ToShortDateString()" />
                        </td>
                        <td>
                            <button type="button" class="btn btn-block btn-primary btn-xs" onclick="EditGross(@data.EODMasterId)">Edit</button>
                            <button type="button" class="btn btn-block btn-success btn-xs" onclick="ApproveIncreament(@data.EODMasterId)">Approve</button>
                        </td>
                    </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>