﻿@model Erp.Core.Services.HRMS.VMEmployeeEducation;
@{ var btnText = "Add";
    if (Model.ID > 0) { btnText = "Update"; }
}
<style>
    .ddlStyle {
        width: 100%;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
<link rel="stylesheet" href="~/style/bootstrap-wysihtml5/bootstrap3-wysihtml5.css" />

<form id="frmEducation" asp-action="EmployeeEducation" asp-controller="HRMS" asp-antiforgery="true" role="form" method="post">
    <input asp-for="ID" type="hidden" />
    <input asp-for="VMEmployeeId" type="hidden" min="1" />
    <input asp-for="ActionId" type="hidden" />

    <div class="col-md-12 no-padding">
        <div class="form-group col-md-3">
            <label asp-for="VMDegreeId" class="control-label"></label>
            <select style="width:100%;" asp-for="VMDegreeId" asp-items="Model.VMDegreeList" class="form-control searchingDropdown ddlStyle">
                <option selected >Select Degree</option>
            </select>
            <span asp-validation-for="VMDegreeId" class="text-danger"></span>
            <span asp-validation-for="VMEmployeeId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="GroupOrSubject" class="control-label"></label>
            <input asp-for="GroupOrSubject" class="form-control" required />
            <span asp-validation-for="GroupOrSubject" class="text-danger"></span>

        </div>
        <div class="form-group col-md-6">
            <label asp-for="Institute" class="control-label"></label>
            <input asp-for="Institute" class="form-control" required />
            <span asp-validation-for="Institute" class="text-danger"></span>

        </div>
    </div>
    <div class="col-md-12 no-padding">
        <div class="form-group col-md-3">
            <label asp-for="PassingYear" class="control-label"></label>
            <input asp-for="PassingYear" class="form-control" required />
            <span asp-validation-for="PassingYear" class="text-danger"></span>

        </div>
        <div class="form-group col-md-3">
            <label asp-for="GradingType" class="control-label"></label>
            <select style="width:100%;" asp-for="GradingType" class="form-control searchingDropdown ddlStyle" required>
                <option selected value="">Select CGPA/GPA/Divsion</option>
                <option value="CGPA">CGPA</option>
                <option value="GPA">GPA</option>
                <option value="Division">Division</option>

            </select>
            <span asp-validation-for="GradingType" class="text-danger"></span>

        </div>
        <div class="form-group col-md-3">
            <label asp-for="Result" class="control-label"></label>
            <input asp-for="Result" class="form-control" required/>
            <span asp-validation-for="Result" class="text-danger"></span>

        </div>
        <div class="form-group col-md-3" style="margin-top:25px">
            <input value="@btnText" type="submit" class="btn btn-primary pull-right" onclick="return $('#frmEducation input[name=VMEmployeeId]').val() && $('#frmEducation input[name=VMEmployeeId]').val() > 0 ? true : false;"/>
        </div>
    </div>
    

</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

<script type="text/javascript">
    //
    $(document).ready(function (e) {
        //
        $('#frmEducation').bootstrapValidator();
        $('#frmEducation input.datePicker').datepicker({
            format: "yyyy-mm-dd",
            // format: "d/m/yy",
            autoclose: true
        });


        $("#frmEducation select.searchingDropdown").select2();
    });



</script>
