﻿@model Erp.Core.Services.HRMS.VMEmployeeReference;
@{ var btnText = "Add";
    if (Model.ID > 0) { btnText = "Update"; }
}
<style>
    .ddlStyle {
        width: 100%;
    }
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/AdminLTE.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.8/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css" />
<link rel="stylesheet" href="~/style/bootstrap-wysihtml5/bootstrap3-wysihtml5.css" />

<form id="frmReference" asp-action="EmployeeReference" asp-controller="HRMS" asp-antiforgery="true" role="form" method="post">
    <input asp-for="ID" type="hidden" />
    <input asp-for="VMEmployeeId" type="hidden" min="1" id="hdfSpouseEmployeeFK" />
    <input asp-for="ActionId" type="hidden"  id="hdfSpouseActionId" />

    <div class="col-md-12 no-padding">
        <div class="form-group col-md-4">
            <label asp-for="RefereeName" class="control-label"></label>
            <input asp-for="RefereeName" class="form-control" required />
            <span asp-validation-for="RefereeName" class="text-danger"></span>
            <span asp-validation-for="VMEmployeeId" class="text-danger"></span>
        </div>

        <div class="form-group col-md-4">
            <label asp-for="ContactNo" class="control-label"></label>
            <input asp-for="ContactNo" class="form-control" required/>
            <span asp-validation-for="ContactNo" class="text-danger"></span>

        </div>

        <div class="form-group col-md-4">
            <label asp-for="EmailId" class="control-label"></label>
            <input asp-for="EmailId" class="form-control" required/>
            <span asp-validation-for="EmailId" class="text-danger"></span>

        </div>
    </div>
    

    <div class="col-md-12 no-padding">
        <div class="form-group col-md-4">
            <label asp-for="Relation" class="control-label"></label>
            <input asp-for="Relation" class="form-control" required />
            <span asp-validation-for="Relation" class="text-danger"></span>

        </div>

        <div class="form-group col-md-4">
            <label asp-for="Address" class="control-label"></label>
            <input asp-for="Address" class="form-control" required />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>

        <div class="form-group col-md-2">
            <label asp-for="IsVarified" class="control-label"></label><br />
            <input asp-for="IsVarified" type="checkbox"  id="MainCheckbox"  />
            @*<span asp-validation-for="IsVarified" class="text-danger"></span>*@
        </div>

        <div class="form-group col-md-10" id="VarifyingComments">
            <label asp-for="VarifyingComments" class="control-label"></label>
            <input asp-for="VarifyingComments" class="form-control" />
            <span asp-validation-for="VarifyingComments" class="text-danger"></span>
        </div>

        <div class="form-group col-md-2" style="margin-top:25px">
            <input value="@btnText" type="submit" class="btn btn-primary pull-right" onclick="return $('#frmReference input[name=VMEmployeeId]').val() && $('#frmReference input[name=VMEmployeeId]').val() > 0 ? true : false;" />
        </div>
    </div>
    
    

</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.3/daterangepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/js/bootstrap-datepicker.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>


<script type="text/javascript">
    //
    $(document).ready(function (e) {
        //
        $('#frmReference').bootstrapValidator();
        $('#frmReference input.datePicker').datepicker({
            format: "yyyy-mm-dd",
            // format: "d/m/yy",
            autoclose: true
        });

        $("#VarifyingComments").hide();
        $("#frmReference select.searchingDropdown").select2();
    });

    $("#MainCheckbox").click(function () {
        if ($(this).is(':checked')) {
            $("#VarifyingComments").show();
        }
        else {
            $("#VarifyingComments").hide();
        }
    });

</script>
