﻿@model Erp.Core.Services.Merchandising.VMStyleView
@{
    var tdId = "tdId";
    var tdSubCategoryId = "tdSubCategoryId";
    var tdItemId = "tdItemId";
    var tdCurrencyId = "tdCurrencyId";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        @using (Html.BeginForm("CBSItem", "Merchandising", FormMethod.Post, new { id = "CBSItem", @class = "formValidator" }))
        {
            @Html.HiddenFor(model => model.vmCBSSlave.Common_RawCategoryFK)
            @Html.HiddenFor(model => model.vmCBSSlave.Merchandising_CBSFK)
            <div class="box box-info">
                <div class="box-header custom bg-info">
                    <h4>
                        CBS Category : @Model.vmCBSSlave.RawCategory
                    </h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="@Model.Action" class="table table-striped text-nowrap">
                            <thead>
                                <tr class="bg-success">
                                    <th>SL</th>
                                    <th class="hidden"></th>
                                    <th class="hidden"></th>
                                    <th class="hidden"></th>
                                    <th class="hidden"></th>
                                    <th class="hidden"></th>
                                    <th>Raw Sub-Category</th>
                                    <th>Raw Item</th>
                                    <th>Required Qty</th>
                                    <th>Item Price</th>
                                    <th>Currency</th>
                                    <th>Total Price</th>
                                    <th>Action</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th>
                                        <div class="form-group remove_Pad" style="display:block">
                                            @Html.DropDownListFor(model => model.vmCBSSlave.Common_RawSubCategoryFK, ViewBag.SubCategoryList as SelectList, "Select SubCategory", new { id = "SubCategoryFK_" + Model.vmCBSSlave.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmCBSSlave.Common_RawSubCategoryFK, "", new { @class = "text-danger" })
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group remove_Pad" style="display:block">
                                            @Html.DropDownListFor(model => model.vmCBSSlave.Common_RawItemFK, new SelectList(string.Empty, "Value", "Text"), "Select Item", new { id = "ItemFK_" + Model.vmCBSSlave.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.vmCBSSlave.Common_RawItemFK, "", new { @class = "text-danger" })
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group remove_Pad">
                                            @Html.TextBoxFor(model => model.vmCBSSlave.RequiredQty, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                                            @Html.ValidationMessageFor(model => model.vmCBSSlave.RequiredQty, "", new { @class = "text-danger" })
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group remove_Pad">
                                            @Html.TextBoxFor(model => model.vmCBSSlave.UnitPrice, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                                            @Html.ValidationMessageFor(model => model.vmCBSSlave.UnitPrice, "", new { @class = "text-danger" })
                                        </div>
                                    </th>
                                    <th>
                                        <div class="form-group remove_Pad" style="display:block">
                                            @Html.DropDownListFor(model => model.vmCBSSlave.Common_CurrencyFK, ViewBag.CurrencyList as SelectList, "Select", new { id = "CurrencyFK_" + Model.vmCBSSlave.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required" })
                                            @Html.ValidationMessageFor(model => model.vmCBSSlave.Common_CurrencyFK, "", new { @class = "text-danger" })
                                        </div>
                                    </th>
                                    <th></th>
                                    <th>
                                        <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Add</button>
                                    </th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.vmCBSSlave.DataList)
                                {
                                    <tr>
                                        <td>@(++sl).</td>
                                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                        <td id="@tdSubCategoryId@item.ID" class="hidden">@item.Common_RawSubCategoryFK</td>
                                        <td id="@tdItemId@item.ID" class="hidden">@item.Common_RawItemFK</td>
                                        <td id="@tdCurrencyId@item.ID" class="hidden">@item.Common_CurrencyFK</td>
                                        <td>@item.RawSubCategory</td>
                                        <td>@item.RawItem</td>
                                        <td>@item.RequiredQty</td>
                                        <td>@item.UnitPrice</td>
                                        <td>@item.Currency</td>
                                        <td>@item.TotalPrice</td>
                                        <td>
                                            <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" data-toggle="modal" data-target="#exampleModal" title="Edit"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                            </a>
                                            <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                               data-placement="top">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Delete Item</b></h5>
                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure to delete?</h3>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="btncloseandreset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Delete</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript" on-content-loaded="true">

    $(document).ready(function () {

        var CatID = '@Model.vmCBSSlave.Common_RawCategoryFK';
        $("#SubCategoryFK_" + CatID).change(function () {
            var subCatId = $("#SubCategoryFK_" + CatID).val();
            //alert(subCatId);
            if (subCatId != '') {
                $("#ItemFK_" + CatID).empty();
                $.get('@Url.Action("GetRawItemByRawSubCatID", "Merchandising")', { ID: subCatId }, function (data) {
                    $("#ItemFK_" + CatID).append("<option value ='' selected>Select RawItem</option>")
                    $.each(data, function (index, row) {
                        $("#ItemFK_" + CatID).append("<option value='" + row.value + "'>" + row.text + "</option>")
                    });
                    //var itemId = $("#Mkt_SubCategoryFK").val();
                    //if (itemId != '') {
                    //    document.getElementById("Mkt_ItemFK").innerHTML = "";
                    //    $.get("../../Helper/GetMkt_Item", { ID: itemId }, function (data) {

                    //        $.each(data, function (index, row) {
                    //            $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                    //        });
                    //    });

                    //    $("#Mkt_SubCategoryFK").change(function () {
                    //        var ItemChangeId = $("#Mkt_SubCategoryFK").val();
                    //        //alert( 'Sub Category id '+ ItemChangeId);
                    //        if (ItemChangeId != '') {
                    //            document.getElementById("Mkt_ItemFK").innerHTML = "";
                    //            $.get("../../Helper/GetMkt_Item", { ID: ItemChangeId }, function (data) {
                    //                document.getElementById("Mkt_ItemFK").innerHTML = "";
                    //                $.each(data, function (index, row) {
                    //                    $("#Mkt_ItemFK").append("<option selected='selected' value='" + row.ID + "'>" + row.Name + "</option>")
                    //                });
                    //            });
                    //        }
                    //        else {
                    //            document.getElementById("Mkt_ItemFK").innerHTML = "";
                    //        }

                    //    });
                    //}
                    //else {
                    //    $("#ItemFK_" + CatID).empty();
                    //}
                })
            }
            else {
                $("#ItemFK_" + CatID).empty();
            }
        });
    });
</script>
