﻿@model Erp.Core.Services.Merchandising.VMOrder


<div class="row">
    @using (Html.BeginForm("Order", "Merchandising", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
    {
        <div class="box-body bg-grey">
            @Html.HiddenFor(model => model.ID, new { id = "hidId" })
            @Html.HiddenFor(model => model.ActionId, new { id = "ActionId" })
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="form-group" style="display:block">
                        <label for="recipient-name" class="col-form-label">Buyer Name:</label>
                        @Html.DropDownListFor(model => model.Mkt_BuyerFK, ViewBag.BuyerList as SelectList, "Select Buyer", new { id = "ddlBuyer", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Mkt_BuyerFK, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Buyer PO Number:</label>
                        @Html.TextBoxFor(model => model.BuyerPO, new { id = "txt4", placeholder = "Buyer PO", @class = "form-control", required = "true", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.BuyerPO, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Season/Year:</label>
                        @Html.TextBoxFor(model => model.Season, new { id = "txt5", placeholder = "Season", @class = "form-control", required = "true", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Season, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">PO Date:</label>
                        @*<input name="Date" asp-for="OrderDate" type="text" class="datePicker form-control" id="txt2" autocomplete="off">*@
                        @Html.TextBoxFor(model => model.OrderDate, "{0:yyyy-MM-dd}", new { id = "txt2", placeholder = "Order Date", @class = "form-control datePicker", required = "true", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.OrderDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Agent Name:</label>
                        @*@Html.TextBoxFor(model => model.Agent, new { id = "txt10", placeholder = "Agent", @class = "form-control", required = "true", autocomplete = "off" })*@
                        @Html.DropDownListFor(model => model.Common_AgentFK, ViewBag.AgentList as SelectList, "Select Agent", new { id = "txt10", @class = "searchingDropdown form-control", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Common_AgentFK, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Inspection Agent Name:</label>
                        @Html.DropDownListFor(model => model.Common_InspectionAgentFK, ViewBag.AgentInspectionList as SelectList, "Select Inspection Agent", new { id = "txt11", @class = "searchingDropdown form-control", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.Common_InspectionAgentFK, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Buying Commission (%):</label>
                        @Html.TextBoxFor(model => model.Commission, new { type = "number", step = "0.01", min = 0, placeholder = "Commission (%)", @class = "form-control", required = "true", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Commission, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Remarks:</label>
                        @Html.TextAreaFor(model => model.Remarks, new { id = "txt6", placeholder = "Remarks", @class = "form-control", autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    @*<button type="reset" id="btnReset" class="btn btn-secondary">RESET</button>*@
                    <button type="submit" id="btnsave" class="btn btn-primary btn-block btn-flat">ADD</button>
                </div>
            </div>
        </div>
    }
</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">
            $('.searchingDropdown').select2();
        </script>
