﻿@model Erp.Core.Services.Merchandising.VMOrderView
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-body bg-grey">
                <form asp-action="OrderView" asp-controller="Merchandising" method="post" , new { id="formData" class="formValidator" }>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="vmStyle.ID" type="hidden" class="form-control" />
                    <input asp-for="ActionId" type="hidden" class="form-control" />
                    <input asp-for="vmStyle.Merchandising_BuyerOrderFK" type="hidden" class="form-control" />
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Style Name:</label>
                                <input asp-for="vmStyle.Style" class="form-control" placeholder="Style" required autocomplete="off" />
                                <span asp-validation-for="vmStyle.Style" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label asp-for="vmStyle.Reference" class="control-label"></label>
                                <input asp-for="vmStyle.Reference" class="form-control" required autocomplete="off" />
                                <span asp-validation-for="vmStyle.Reference" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="col-lg-4 col-md-4">
            <div class="form-group">
                <label asp-for="vmStyle.Class" class="control-label"></label>
                <input asp-for="vmStyle.Class" class="form-control",required, autocomplete="off"/>
                <span asp-validation-for="vmStyle.Class" class="text-danger"></span>
            </div>
        </div>*@
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div id="divddlCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Finish Category:</label>
                                @Html.DropDownListFor(model => model.vmStyle.Mkt_CategoryFK, ViewBag.OrderCategoryList as SelectList, "Select a Category", new { id = "Mkt_CategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmStyle.Mkt_CategoryFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*ViewBag.OrderSubCategoryList as SelectList,*@
                        <div class="col-lg-4 col-md-4">
                            <div id="divddlSubCategoryName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Finish Sub-Category:</label>
                                @Html.DropDownListFor(model => model.vmStyle.Mkt_SubCategoryFK, new SelectList(string.Empty, "Value", "Text"), "Select a SubCategory", new { id = "Mkt_SubCategoryFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmStyle.Mkt_SubCategoryFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        @*ViewBag.OrderItemList as SelectList,*@
                        <div class="col-lg-4 col-md-4">
                            <div id="divddlItemName" class="form-group" style="display:block">
                                <label for="recipient-name" class="col-form-label">Finish Item:</label>
                                @Html.DropDownListFor(model => model.vmStyle.Mkt_ItemFK, new SelectList(string.Empty, "Value", "Text"), "Select a Item", new { id = "Mkt_ItemFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.vmStyle.Mkt_ItemFK, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="form-group">
                                <label asp-for="vmStyle.Description" class="control-label"></label>
                                <input asp-for="vmStyle.Description" class="form-control" autocomplete="off"/>
                                <span asp-validation-for="vmStyle.Description" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="form-group">
                                <label asp-for="vmStyle.Fabrication" class="control-label"></label>
                                <input asp-for="vmStyle.Fabrication" class="form-control" required autocomplete="off" />
                                <span asp-validation-for="vmStyle.Fabrication" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Size Range:</label>
                                @Html.DropDownListFor(model => model.vmStyle.SizeIDs, Model.vmStyle.SizeList, new { id = "drSizeFK", @class = "searchingDropdown form-control", multiple = "multiple" })
                                @Html.ValidationMessageFor(model => model.vmStyle.SizeIDs, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Color:</label>
                                @Html.DropDownListFor(model => model.vmStyle.ColorIDs, Model.vmStyle.ColorList, new { id = "drColorFK", @class = "searchingDropdown form-control", multiple = "multiple", })
                                @Html.ValidationMessageFor(model => model.vmStyle.ColorIDs, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label asp-for="vmStyle.PackQty" class="control-label"></label>
                                <input asp-for="vmStyle.PackQty" type="number" step="1" min=1 class="form-control" required />
                                <span asp-validation-for="vmStyle.PackQty" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3">
                            <div class="form-group">
                                <label asp-for="vmStyle.PackPieceQty" class="control-label"></label>
                                <input asp-for="vmStyle.PackPieceQty" type="number" step="1" min=1 placeholder="In Number" class="form-control" required />
                                <span asp-validation-for="vmStyle.PackPieceQty" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="form-group">
                                <label asp-for="vmStyle.PackPrice" class="control-label"></label>
                                <input asp-for="vmStyle.PackPrice" class="form-control" required />
                                <span asp-validation-for="vmStyle.PackPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="form-group">
                                <label asp-for="vmStyle.SetQuantity" class="control-label"></label>
                                <input asp-for="vmStyle.SetQuantity" type="number" step="1" min=1 class="form-control" required />
                                <span asp-validation-for="vmStyle.SetQuantity" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2">
                            <div class="form-group">
                                <label asp-for="vmStyle.SetPackCarton" class="control-label"></label>
                                <input asp-for="vmStyle.SetPackCarton" type="number" step="1" min=1 class="form-control" required />
                                <span asp-validation-for="vmStyle.SetPackCarton" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="submit" id="btnsave" class="btn btn-primary btn-block btn-flat">ADD</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>