﻿@model Erp.Core.Services.Merchandising.VMStyleView
@using (Html.BeginForm("BOMFabric", "Merchandising", FormMethod.Post, new { id = "BOM", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ActionId)
    @Html.HiddenFor(model => model.vmBOM.ID)
    @Html.HiddenFor(model => model.vmBOM.Common_RawCategoryFK)
    @Html.HiddenFor(model => model.vmBOM.Merchandising_StyleFK)
    @Html.HiddenFor(model => model.vmBOM.Merchandising_CBSSlaveFK)
    @Html.HiddenFor(model => model.vmBOM.TotalPiece)

    <table class="table">
        <thead>
            <tr class="bg-success">
                <th colspan="2">Fabric Item</th>
                <th>Color</th>
                <th>GSM</th>
                <th>Consumption(Per Dz)</th>
                <th>Consumption Qty</th>
                <th>Tolerance(%)</th>
                <th>Item Cost(Per Unit)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th colspan="2">
                    <div class="form-group remove_Pad">
                        @Html.DropDownListFor(model => model.vmBOM.Common_RawItemFK, ViewBag.SubCategoryList1 as SelectList, "Select Item", new { id = "ItemFK_" + @Model.vmBOM.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.vmBOM.Common_RawItemFK, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.DropDownListFor(model => model.vmBOM.Common_ColorFK, ViewBag.ColorList as SelectList, "Select Color", new { id = "Common_ColorFK", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                        @Html.ValidationMessageFor(model => model.vmBOM.Common_ColorFK, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmBOM.GSM, new { id = "txt5", @class = "form-control", required = "true", @style = "width:80px;" })
                        @Html.ValidationMessageFor(model => model.vmBOM.GSM, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmBOM.Consumption, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmBOM.Consumption, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmBOM.ConRequiredQty, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmBOM.ConRequiredQty, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmBOM.Tolerance, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmBOM.Tolerance, "", new { @class = "text-danger" })
                    </div>
                </th>
                <th>
                    <div class="form-group remove_Pad">
                        @Html.TextBoxFor(model => model.vmBOM.UnitPrice, new { id = "txt5", @class = "form-control", required = "true", @style = "width:100px;" })
                        @Html.ValidationMessageFor(model => model.vmBOM.UnitPrice, "", new { @class = "text-danger" })
                    </div>
                </th>
                @*<th>
            <div class="form-group remove_Pad">
                @Html.DropDownListFor(model => model.vmBOM.Common_CurrencyFK, ViewBag.CurrencyList as SelectList, "Select", new { id = "CurrencyFK_" + Model.vmBOM.Common_RawCategoryFK, @class = "searchingDropdown form-control", required = "required" })
                @Html.ValidationMessageFor(model => model.vmBOM.Common_CurrencyFK, "", new { @class = "text-danger" })
            </div>
        </th>*@
                <th>
                    <button type="submit" id="btnsave" class="btn btn-primary">&nbsp;&nbsp;&nbsp;Add</button>
                </th>
            </tr>
        </tbody>
    </table>
}