﻿
@model Erp.Core.Services.Store.VmAssetDepreciationDetails

<form asp-action="_SRSlaveList" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="box-header custom bg-success">
    </div>
    @if (Model.DataLists != null && Model.DataLists.Count > 0)
    {
        <div class="table-responsive">
            <table id="CustomerGrid" class="table table-striped text-nowrap">
                <thead class="bg-success">
                    <tr>
                        <th> Year </th>
                        <th> Depriciation </th>
                        <th> Depriciation Value </th>
                    </tr>
                </thead>
                @{ int ssl = 0;}
                <tbody>
                    @for (int i = 0; i < Model.DataLists.Count(); i++)
                    {
                        <tr>
                            <td> @(++ssl) </td>

                            <td>
                                <input asp-for="@Model.DataLists[i].Depreciation" class="form-control" />
                            </td>
                            <td>
                                <input asp-for="@Model.DataLists[i].DepreciationValue" class="form-control" />
                            </td>
                            <td class="hidden">
                                <label class="form-control" style=" width: 38px;">
                                    <input type="checkbox" asp-for="@Model.DataLists[i].IsActive" />
                                </label>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="clear clearfix">

        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                <button type="submit" id="btnListAdd" class="btn btn-success col-lg-1 col-md-2 col-sm-2 fa"> <i class='fa fa-floppy-o'></i> Add </button>
            </div>
        </div>

    }
</form>

@section Scripts {

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">

        $("table tr").keyup(function () {
            debugger;
            id = this.rowIndex - 1;
            remQty = parseFloat($('#DataLists_' + id + '__RemainingQty').val());
            var recQty = parseFloat($('#DataLists_' + id + '__ReceivedQty').val());
            var damQty = parseFloat($('#DataLists_' + id + '__DamagedQty').val());
            qty = remQty - recQty;

            if (damQty < 0 || qty < 0 || remQty < damQty) {
                alert("You can not received Less then 0 Qty Or damaged qty getter then remaining qty " + remQty);
                $('#DataLists_' + id + '__DamagedQty').val(0);
                $("#SaveAllItem").attr("disabled", "disabled");
            } else {
                $("#SaveAllItem").removeAttr("disabled");
                return false;
            }
        });

    </script>

}
