﻿
@model Erp.Core.Services.Store.VMStoreRequisitionSlave


<form asp-action="_SRSlaveList" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="box-header custom bg-success">
    </div>
    @if (Model.DataListSlave != null && Model.DataListSlave.Count > 0)
    {
        <div class="table-responsive">
            <table id="tableA" class="table table-striped text-nowrap">
                <thead class="bg-success">
                    <tr>
                        <th><label class="form-control col-md-1" style="width: 35px;"> <input type="checkbox" id="MainCheckbox" onchange="$('.checkBoxClass').prop('checked', $(this).is(':checked'));" /> </label> </th>

                        <th>SL No</th>
                        <th>Item Name </th>
                        @*<th>BOM / BOF Quantity</th>*@
                        <th>Available Quantity</th>
                        <th>Required Quantity</th>
                        <th>Unit</th>
                        <th class="hidden">Inspection</th>
                    </tr>
                </thead>
                @{ int ssl = 0;}
                <tbody>
                    @for (int i = 0; i < Model.DataListSlave.Count(); i++)
                    {
                    <tr>
                        <td class="bg-success"> <label class="form-control" style="width: 35px;"> <input asp-for="@Model.DataListSlave[i].IsForSave" type="checkbox" class="checkBoxClass" id="Checkbox@(i)" /></label></td>
                        <td> @(++ssl).</td>
                        <td class="hidden">
                            <input type="hidden" asp-for="@Model.DataListSlave[i].Common_ColorFK" />
                            <input type="hidden" asp-for="@Model.DataListSlave[i].Common_SizeFK" />
                            <input type="hidden" asp-for="@Model.DataListSlave[i].Common_Color" /> 
                            <input type="hidden" asp-for="@Model.DataListSlave[i].Common_Size" />
                            <input type="hidden" asp-for="@Model.DataListSlave[i].Merchandising_StyleFK" />
                            <input type="hidden" asp-for="@Model.DataListSlave[i].Merchandising_StyleSlaveFK" />
                            <input type="hidden" asp-for="@Model.DataListSlave[i].Procurement_PurchaseRequisitionFK" />
                            <input type="hidden" asp-for="@Model.DataListSlave[i].VMRawItemFK" />
                            <input type="hidden" asp-for="@Model.DataListSlave[i].VMRawItemName" />
                            <input type="hidden" asp-for="@Model.DataListSlave[i].Merchandising_StyleSetPackFK" />
                        </td>
                        <td>
                            @Model.DataListSlave[i].VMRawItemName
                        </td>
                        @*<td>
                            <input type="number" asp-for="@Model.DataListSlave[i].BOMQuantity" class="form-control" readonly="readonly" style=" width: 150px;" />
                        </td>*@
                        <td>
                            <input type="number" asp-for="@Model.DataListSlave[i].AvailableQuantity" class="form-control" readonly="readonly" style=" width: 150px;" />
                        </td>
                        <td>
                            <input type="number" asp-for="@Model.DataListSlave[i].RequisitionQuantity" class="form-control" style=" width: 150px;" />
                        </td>
                        <td>
                            <input asp-for="@Model.DataListSlave[i].VMUnitName" readonly disabled class="form-control col-lg-1 col-md-1" style=" width: 100px;" />
                        </td>
                        <td class="hidden">
                            <label class="form-control" style=" width: 38px;">
                                <input type="checkbox" asp-for="@Model.DataListSlave[i].InspectionRequired" />
                            </label>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="clear clearfix">

        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                <button type="submit" id="btnListAdd" class="btn btn-success col-lg-1 col-md-2 col-sm-2 fa" onclick=" if (!$('.checkBoxClass').filter(':checked') || $('.checkBoxClass').filter(':checked').length <= 0) { alert('Select at-least one Item!'); return false; }"> <i class='fa fa-floppy-o'></i> Add </button>
            </div>
        </div>

    }
</form>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        var nRawCategory, nRawSubCategory, nRawItem;
        $(document).ready(function () {
            $("#DataListSlave_0__RequisitionQuantity").click(function () {
                $('#DataListSlave_' + 0 + '__RequisitionQuantity').val(50000);
            })
        });
    </script>
}
