﻿@model Erp.Core.Services.Store.VmAssetDepreciation

@{
    ViewData["Title"] = "Asset Depreciation";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SRSaveText = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRSaveText = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRSaveText = "(Sewing) :";
    }

    int sl = 0;

}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Asset Depreciation Information @SRSaveText
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box-body">
                        <form asp-action="StoreAssetRegister">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="box-header custom bg-success">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="StoreGeneralFK" class="control-label"></label>
                                            <select asp-for="StoreGeneralFK" asp-items="Model.StoreList" class="form-control ">
                                                <option value=""> Select Store Name </option>
                                            </select>
                                            <span asp-validation-for="StoreGeneralFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="RawItemFK" class="control-label"></label>
                                            <select asp-for="RawItemFK" asp-items="Model.RawItemList" class="form-control searchingDropdown">
                                                <option value=""> Select Item Name </option>
                                            </select>
                                            <span asp-validation-for="CommonBrandFK" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">
                                            <label asp-for="LifeTime" class="control-label label-danger"></label>
                                            <select asp-for="LifeTime" class="form-control">
                                                <option value=""> Select Life Time </option>
                                                <option value="1"> One Year </option>
                                                <option value="2"> Two Year </option>
                                                <option value="3"> Three Year </option>
                                                <option value="4"> Four Year </option>
                                                <option value="5"> Five Year </option>
                                                <option value="6"> Six Year </option>
                                                <option value="7"> Seven Year </option>
                                                <option value="8"> Eight Year </option>
                                                <option value="9"> Nine Year </option>
                                                <option value="10"> Ten Year </option>
                                            </select>
                                            <span asp-validation-for="CommonBrandFK" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="CommonBrandFK" class="control-label"></label>
                                            <select asp-for="CommonBrandFK" asp-items="Model.BrandList" class="form-control">
                                                <option value=""> Select Brand Name </option>
                                            </select>
                                            <span asp-validation-for="CommonBrandFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label asp-for="UnitPrice" class="control-label"></label>
                                            <input asp-for="UnitPrice" class="form-control " placeholder="Unit Price" />
                                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-md-6">
                                            <label asp-for="ExitingItem" class="control-label"></label>
                                            <label class="form-control">
                                                <input asp-for="ExitingItem" type="checkbox" readonly="readonly" />
                                            </label>
                                            <span asp-validation-for="UnitPrice" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Remarks" class="control-label"></label>

                                            <input asp-for="Remarks" class="form-control" placeholder="Remarks" />

                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="CommonModelFK" class="control-label"></label>
                                            <select asp-for="CommonModelFK" asp-items="Model.ModelList" class="form-control">
                                                <option value=""> Select Molel Name </option>
                                            </select>
                                            <span asp-validation-for="CommonModelFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="WarrantyExpiryDate" class="control-label"> </label>
                                            <input asp-for="WarrantyExpiryDate" class="form-control" placeholder="Remarks" />
                                            <span asp-validation-for="WarrantyExpiryDate" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">
                                            <label asp-for="ItemSLNO" class="control-label"></label>
                                            <input asp-for="ItemSLNO" class="form-control" placeholder="Asset Tag No" readonly="readonly" />
                                            <span asp-validation-for="ItemSLNO" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-12">

                                    <div class="col-md-12">
                                        <div class="box-header custom bg-success" id="generalHead">
                                            <h4> Asset Depreciation Details </h4>
                                        </div>
                                        <div id="here_table" class="box-body">

                                        </div>
                                        @*<partial name="_DepriciationDetails" />*@
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                    <button asp-action="AssetDepreciationAdd" type="submit" id="btnsave" class="btn btn-success fa fa-plus"> Add Asset Depreciation </button>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box box-success">
                        <div class="box-header custom bg-success" id="generalHead">
                            <h4> Asset Depreciation List </h4>
                        </div>

                        <form asp-action="">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="tableX" class="table table-striped text-nowrap">
                                        <thead>
                                            <tr class="bg-success">
                                                <th>SL No</th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CID)
                                                </th>
                                                <th class="btn-success">
                                                    @Html.DisplayNameFor(model => model.ItemSLNO)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ItemName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.LotQty)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.UnitPrice)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CommonUnitName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CommonBrandName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CommonModelName)
                                                </th>

                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.MinPrice)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.Status)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonBrandFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonModelFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonDepartmentFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.EmployeeFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.ReceivedDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.LifeTime)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Remarks)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.IsActive)
                                                </th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @for (var i = 0; i < Model.DataLists.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @(++sl).
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CID)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].ItemSLNO)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].ItemName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].LotQty)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].MinPrice)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].UnitPrice)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonUnitName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonBrandName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonModelName)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].Status)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonUnitFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonBrandFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonModelFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonDepartmentFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].EmployeeFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].ReceivedDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].LifeTime)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].Remarks)
                                                    </td>

                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].IsActive)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row hidden">
                                    <div class="modal-footer">
                                        <button asp-action="SaveAllItem" type="submit" class="btn btn-success fa fa-save"> Save All Item </button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box-model -->

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {

        });

        $("#RawItemFK").change(function () {
            var id = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "/Store/GetRegisterItemId?id=" + id,
                datatype: "Json",

                success: function (data) {

                    var parts = data.split("~");
                    if (data) {
                        $('#CommonBrandFK').val(parts[0]).prop('disabled', true);
                        $('#CommonModelFK').val(parts[1]).prop('disabled', true);
                        $('#UnitPrice').val(parts[2]).prop('disabled', true);
                        $('#ItemSLNO').val(parts[3]).prop('disabled', true);
                    }
                }
            });
        });
        $("#LifeTime").change(function (e) {
            $('#here_table').empty();
            var price = $("#UnitPrice").val();
            $.ajax({
                type: "GET",
                url: "/Store/_DepriciationDetails?year=" + $("#LifeTime :selected").val() + "&dep=20&price=" + price,
                datatype: "html",
                success: function (data) {
                    if (data) {
                        $('#here_table').html(data);
                    }
                }
            });
        });
        //$("table tr").keyup(function () {
        //    debugger;
        //    id = this.rowIndex - 1;
        //    remQty = parseFloat($('#DataLists_' + id + '__RemainingQty').val());
        //    var recQty = parseFloat($('#DataLists_' + id + '__ReceivedQty').val());
        //    var damQty = parseFloat($('#DataLists_' + id + '__DamagedQty').val());
        //    qty = remQty - recQty;

        //    if (damQty < 0 || qty < 0 || remQty < damQty) {
        //        alert("You can not received Less then 0 Qty Or damaged qty getter then remaining qty " + remQty);
        //        $('#DataLists_' + id + '__DamagedQty').val(0);
        //        $("#SaveAllItem").attr("disabled", "disabled");
        //    } else {
        //        $("#SaveAllItem").removeAttr("disabled");
        //        return false;
        //    }
        //});

        $("table tr").keyup(function () {
            debugger;
            id = this.rowIndex - 1;
            remQty = parseFloat($('#DataLists_' + id + '__RemainingQty').val());
            var recQty = parseFloat($('#DataLists_' + id + '__ReceivedQty').val());
            var damQty = parseFloat($('#DataLists_' + id + '__DamagedQty').val());
            qty = remQty - recQty;


            if (damQty < 0 || qty < 0 || remQty < damQty) {
                alert("You can not received Less then 0 Qty Or damaged qty getter then remaining qty " + remQty);
                $('#DataLists_' + id + '__DamagedQty').val(0);
                $("#SaveAllItem").attr("disabled", "disabled");
            } else {
                $("#SaveAllItem").removeAttr("disabled");
                return false;
            }

        });

    </script>
}