﻿@model Erp.Core.Services.Store.VmStoreBin

@{
    ViewData["Title"] = "Create BIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Create BIN
                </h4>
            </div>
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-body">
                        <div class="box-header custom bg-success">

                        </div>
                        <form asp-action="BinAddorEdit">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-12">

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="hidden" asp-for="StoreGeneralName" id="StoreGeneralName" class="control-label" />
                                            <label asp-for="StoreGeneralFK" class="control-label"></label>
                                            <select asp-for="StoreGeneralFK" asp-items="ViewBag.StoreList" class="form-control">
                                                <option value="">Select One</option>
                                            </select>
                                            <span asp-validation-for="StoreGeneralFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Capacity" class="control-label"></label>
                                            <input asp-for="Capacity" class="form-control" />
                                            <span asp-validation-for="Capacity" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="TotalShelf" class="control-label"></label>
                                            <input asp-for="TotalShelf" class="form-control" />
                                            <span asp-validation-for="TotalShelf" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Remarks" class="control-label"></label>
                                            <input asp-for="Remarks" class="form-control" />
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <input type="hidden" asp-for="Section" id="Section" class="control-label" />
                                            <label asp-for="SectionFK" class="control-label"></label>
                                            <select asp-for="SectionFK" asp-items="ViewBag.SectionList" class="form-control">
                                                <option value="">Select One</option>
                                            </select>
                                            <span asp-validation-for="SectionFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Row" class="control-label"></label>
                                            <input asp-for="Row" class="form-control" />
                                            <span asp-validation-for="Row" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="TotalRow" class="control-label"></label>
                                            <input asp-for="TotalRow" class="form-control" />
                                            <span asp-validation-for="TotalRow" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Dimension" class="control-label"></label> (Square Feet)
                                            <input asp-for="Dimension" class="form-control" />
                                            <span asp-validation-for="Dimension" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="Rack" class="control-label"></label>
                                            <input asp-for="Rack" class="form-control" />
                                            <span asp-validation-for="Rack" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="hidden" asp-for="CommonUnitName" id="CommonUnitName" class="control-label" />
                                            <label asp-for="CommonUnitFK" class="control-label"></label>
                                            <select asp-for="CommonUnitFK" asp-items="ViewBag.UnitList" class="form-control">
                                                <option value="">Select One</option>
                                            </select>
                                            <span asp-validation-for="CommonUnitFK" class="text-danger"></span>
                                        </div>


                                        <div class="form-group form-check hidden">
                                            <label class="form-check-label">
                                                <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                                            </label>
                                        </div>
                                        <div class="form-group hidden">
                                            <label asp-for="CID" class="control-label"></label>
                                            <input asp-for="CID" class="form-control" />
                                            <span asp-validation-for="CID" class="text-danger"></span>
                                        </div>
                                        <div class="form-group hidden">
                                            <label asp-for="Shelf" class="control-label"></label>
                                            <input asp-for="Shelf" class="form-control" />
                                            <span asp-validation-for="Shelf" class="text-danger"></span>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                    @*<label for="message-text" class="col-form-label" style="color: white; width: 100%;">Action:</label>*@
                                    <button type="submit" class="btn btn-success col-lg-1 col-md-2 col-sm-2 fa fa-plus" style="margin-right: 5px"> Add </button>
                                    <a asp-action="StoreBin" class="btn btn-info col-lg-1 col-md-2 col-sm-2 fa fa-list"> Back to List </a>&nbsp;&nbsp;&nbsp;
                                    <button asp-action="" type="submit" class="btn btn-success fa fa-save hidden"> Save All </button>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $("#CommonUnitFK").change(function () {
            var selectedCountry = $(this).children("option:selected").text();
            $("#CommonUnitName").val(selectedCountry);
        });

        $("#StoreGeneralFK").change(function () {
            var selectedCountry = $(this).children("option:selected").text();
            $("#StoreGeneralName").val(selectedCountry);
        });
        $("#SectionFK").change(function () {
            var selectedCountry = $(this).children("option:selected").text();
            $("#Section").val(selectedCountry);
        });

    </script>
}

