﻿@model Erp.Core.Services.Store.VmBin
@{
    ViewData["Title"] = "Bin";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdStoreFK = "tdStoreFK";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
    var td5 = "td5";
    var td6 = "td6";

}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Bin:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @using (Html.BeginForm("BinView", "Store", FormMethod.Post, new { id = "BinView", @class = "formValidator", onreset = "resetDDL();" }))
                        {
                            <div class="box-body">
                                <!--Body Will by Start Here-->
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="row">

                                    <div class="col-lg-4 col-md-4">

                                        <div class="form-group">
                                            <label for="ddLStore" class="col-form-label">Store:</label>
                                            @Html.DropDownListFor(model => model.General_StoreFK, ViewBag.StoreList as SelectList, "Please Select a Store", new { id = "ddlStore", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                            @Html.ValidationMessageFor(model => model.General_StoreFK, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Section:</label>
                                            @Html.TextBoxFor(model => model.Section, new { id = "txt1", placeholder = "Section", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Section, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Row/Column:</label>
                                            @Html.TextBoxFor(model => model.Row, new { id = "txt2", placeholder = "Row/Column", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Row, "", new { @class = "text-danger" })
                                        </div>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Rack:</label>
                                            @Html.TextBoxFor(model => model.Rack, new { id = "txt3", placeholder = "Rack", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Rack, "", new { @class = "text-danger" })
                                        </div>

                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Shelf:</label>
                                            @Html.TextBoxFor(model => model.Shelf, new { id = "txt4", placeholder = "Shelf", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Shelf, "", new { @class = "text-danger" })
                                        </div>

                                    </div>



                                </div>


                                <div class="col-lg-3 col-md-3 pull-right" style="padding-top:25px">
                                    <button type="submit" id="btnSave" class="btn btn-primary">Add</button>
                                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                                </div>


                            </div>

                        }
                    </div>
                </div>

            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th class="hidden"></th>
                                <th class="hidden"></th>
                                <th>Bin ID</th>
                                <th>Store Name</th>
                                <th>Section</th>
                                <th>Row/Column</th>
                                <th>Rack</th>
                                <th>Shelf</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        @{int sl = 0;
                        }

                        <tbody>
                            @foreach (var item in Model.DataList)
                            {
                            <tr>
                                <td>@(++sl).</td>
                                <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                <td class="hidden">
                                    <input type="hidden" id="@tdStoreFK@item.ID" value="@item.General_StoreFK" />
                                </td>
                                <td id="@item.ID">@item.CID</td>
                                <td id="@td5@item.ID">@item.Store</td>

                                <td id="@td1@item.ID">@item.Section</td>
                                <td id="@td2@item.ID">@item.Row</td>
                                <td id="@td3@item.ID">@item.Rack</td>
                                <td id="@td4@item.ID">@item.Shelf</td>

                                <td>
                                    <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer" title="Edit"
                                       data-placement="top">
                                        <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                    </a>

                                    <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete"
                                       data-placement="top">
                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                    </a>


                                </td>

                            </tr>

                            }
                        </tbody>
                    </table>

                </div>
            </div>


        </div>
    </div>
</div>



@using (Html.BeginForm("BinView", "Store", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
{
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "HDFId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "HDFActionId" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="background-color:lightgray">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <h3 class="modal-title">Bin</h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                        </div>


                    </div>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure To Delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary">Delete</button>
                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });
        function menuinfo(elem) {
            debugger;
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("Update");
                //$('#hidId').val($('#tdId' + r).text().trim());
                $('#ddlStore').val($('#tdStoreFK' + r).val().trim()).trigger('change');
                $('#txt1').val($('#td1' + r).text().trim());
                $('#txt2').val($('#td2' + r).text().trim());
                $('#txt3').val($('#td3' + r).text().trim());
                $('#txt4').val($('#td4' + r).text().trim());

            }
        }
        function deleteItemInfo(id) {
            debugger;
            if (id !== null) {
                $('#HDFId').val(id);
                $('#HDFActionId').val(3);
            }
        }

        function resetDDL() {
            debugger;
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("Add");

            $('.ddlReset').val('').trigger('change');
            $('#BinView').bootstrapValidator("resetForm", true);

        }

        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#BinView').trigger("reset");



        });
    </script>
}
