﻿
@{
    ViewData["Title"] = "Store Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdRawCategoryId = "tdRawCategoryId";
    var tdRawSubCategoryId = "tdRawSubCategoryId";
    var tdRawItemId = "tdRawItemId";
    var tdEmployeeId = "tdEmployeeId";
    var tdInspectionRequired = "tdInspectionRequired";
    var tdInspection = "tdInspection";
    var tdRawItemName = "tdRawItemName";

    var tdSupplierNames = "tdSupplierNames";
    var tdUnitName = "tdUnitName";
    var tdDescriptionSlave = "tdDescriptionSlave";
    var tdRequisitionQuantity = "tdRequisitionQuantity";
    var tdRequiredDate = "tdRequiredDate";
    var tdRequiredBy = "tdRequiredBy";

    var SRStatus = Model.AuthorizationStatus;

    var SRSaveText = "";

    @if (!string.IsNullOrEmpty(Model.CID))
    {
        SRSaveText = "Update SR Production";
    }
    else
    {
        SRSaveText = "Create SR Production";
    }

    var SRStoreName = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRStoreName = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRStoreName = "(Sewing) :";
    }
    else if (Model.CommonStoreFK == 4)
    {
        SRStoreName = "(Ironing) :";
    }
    else if (Model.CommonStoreFK == 5)
    {
        SRStoreName = "(Packing) :";
    }
    else if (Model.CommonStoreFK == 6)
    {
        SRStoreName = "(Finishing) :";
    }
    else if (Model.CommonStoreFK == 8)
    {
        SRStoreName = "(Knitting) :";
    }

    int ssl = 0;

}
@using Erp.Core.Services
@model Erp.Core.Services.Store.VMStoreRequisitionSlave

<form asp-action="_SRSlaveList" asp-route-id="0" asp-route-id2="@Model.CommonStoreFK" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="box-header custom bg-success">
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success">
                    <h4><label> Store Requisition - Production @Model.AuthorizationStatus @SRStoreName</label></h4>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box-body">

                            <div class="col-md-8 form-group hidden">
                                <label class="col-form-label"> SR Production Status </label>
                                <div>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.Draft)" title="Draft"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.Draft)
                                        {
                                            <span class="badge badge-light"> Draft : @Model.DraftStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Draft : @Model.DraftStatusCount</span>
                                        }


                                    </a>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.Submitted)" title="Submitted"
                                       data-placement="top">


                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.Submitted)
                                        {
                                            <span class="badge badge-light"> Submitted : @Model.SubmittedStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Submitted : @Model.SubmittedStatusCount</span>
                                        }


                                    </a>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.PrimaryApproved)" title="Primary Approved"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.PrimaryApproved)
                                        {
                                            <span class="badge badge-light"> Primary Approved: @Model.PrimaryStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Primary Approved: @Model.PrimaryStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.FinalApproved)" title="Final Approved"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.FinalApproved)
                                        {
                                            <span class="badge badge-light"> Final Approved: @Model.FinalStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Final Approved: @Model.FinalStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.ProcurementApproved)" title="Procurement Approved"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.ProcurementApproved)
                                        {
                                            <span class="badge badge-light"> Procurement Approved: @Model.ProcurementStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-blue"> Procurement Approved: @Model.ProcurementStatusCount</span>
                                        }

                                    </a>
                                    <br />
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.Hold)" title="Hold"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.Hold)
                                        {
                                            <span class="badge badge-light"> Hold: @Model.HoldStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-yellow"> Hold: @Model.HoldStatusCount</span>
                                        }

                                    </a>

                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.PartialPOCreated)" title="Partial PO Created"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.PartialPOCreated)
                                        {
                                            <span class="badge badge-light"> Partial PO Created: @Model.PartialPOStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-orange"> Partial PO Created: @Model.PartialPOStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.FullPOCreated)" title="Full PO Created"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.FullPOCreated)
                                        {
                                            <span class="badge badge-light"> Full PO Created: @Model.FullPOStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-lime"> Full PO Created: @Model.FullPOStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.InspectionDone)" title="Inspection Done"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.InspectionDone)
                                        {
                                            <span class="badge badge-light"> Inspection Done: @Model.InspectionStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-teal"> Inspection Done: @Model.InspectionStatusCount</span>
                                        }

                                    </a>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.GoodsReceived)" title="Goods Received"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.GoodsReceived)
                                        {
                                            <span class="badge badge-light"> Goods Received: @Model.GoodsReceivedStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-green"> Goods Received: @Model.GoodsReceivedStatusCount</span>
                                        }
                                    </a>
                                </div>
                            </div>

                            <div class="col-md-3 form-group">
                                <label asp-for="ApprovedStyleList" class="col-form-label"></label>
                                <select asp-for="StyleId" id="ddlApprovedStyleList" asp-items="Model.ApprovedStyleList" required class="form-control searchingDropdown " style="width: 100%;">
                                    <option selected value="">Select Style</option>
                                </select>
                            </div>

                            <div class="col-md-3 form-group">
                                <label asp-for="VMRawCategoryFK" class="col-form-label"></label>
                                <select asp-for="VMRawCategoryFK" asp-items="Model.RawCategoryList" class="form-control">
                                    <option selected value=""> Select One </option>
                                </select>
                            </div>

                            <div class="col-md-3 form-group">
                                <label asp-for="Merchandising_StyleSetPackFK" class="col-form-label"> Sub Set </label>
                                <select asp-for="Merchandising_StyleSetPackFK" asp-items="Model.Merchandising_StyleSetPackList" required class="form-control">
                                    <option selected value=""> Select One </option>
                                </select>
                            </div>

                            <div class="col-md-3 form-group ">
                                <label asp-for="RequiredDate" class="col-form-label"></label>
                                <input asp-for="RequiredDate" type="date" class="form-control pull-right" autocomplete="off" placeholder="Required Date" required>
                                <span asp-validation-for="RequiredDate"></span>
                            </div>

                            <div class="col-md-4 form-group hidden">
                                <label asp-for="Procurement_PurchaseOrderFK" class="col-form-label"></label>
                                <select asp-for="Procurement_PurchaseOrderFK" asp-items="Model.ApprovedPOList" class="form-control searchingDropdown" style="width: 100%;">
                                    <option selected value="">Select Style</option>
                                </select>
                            </div>

                            <div class="col-md-8 form-group">
                                <label class="col-form-label"> SR Production </label>
                                <div>
                                    <a class="linkPointer" href="~/Store/StoreRequisition/@((int) Erp.Core.Services.PRStatusEnum.Draft)/@Model.CommonStoreFK" title="Draft"
                                       data-placement="top">
                                        @if (Model.Status == (SRStatusEnum)PRStatusEnum.Draft)
                                        {
                                            <span class="badge badge-light"> Draft : @Model.DraftStatusCount</span>
                                        }
                                        else
                                        {
                                            <span class="badge bg-light-blue"> Draft : @Model.DraftStatusCount</span>
                                        }
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-12 no-padding" id="divPRSlaveList"> </div>
                            <div class="box-footer"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@using (Html.BeginForm("CreateSRProduction", "Store", FormMethod.Post, new { id = "StoreRequisition", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success">
                    <h4> Fill SR Info: </h4>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box-body">
                            <!--Body Will by Start Here-->
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdfActionId" })
                            @Html.HiddenFor(model => model.SRActionId, new { Value = "", id = "hdfSRActionId" })
                            @Html.HiddenFor(model => model.Store_RequisitionFK, new { id = "hdfSRFKId" })
                            @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionFK, new { id = "PRFKId" })
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            @if (Model.Status == SRStatusEnum.Draft)
                            {
                                <div class="form-group col-md-4">
                                    <label asp-for="StoreToFK"></label>
                                    <input type="hidden" asp-for="StoreToFK" />
                                    <select asp-for="Store_GeneralInFK"  asp-items="Model.StoreToList" required class="searchingDropdown form-control ddlReset">
                                        <option value="" selected>Select In Store</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="StoreFromFK"></label>
                                    <select asp-for="StoreFromFK" id="ddlStoreFrom" asp-items="Model.StoreFromList" required class="searchingDropdown form-control ddlReset">
                                        <option value="" selected>Select Out Store</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Description"></label>
                                    <input asp-for="Description" id="ddlStoreTo" class="form-control" />
                                </div>

                                <div class="box-footer">
                                </div>

                                <div class="table-responsive">
                                    <table id="tableA" class="table table-striped text-nowrap">
                                        <thead>
                                            <tr class="bg-success">
                                                <th>SL</th>
                                                <th class="hidden"></th>
                                                <th class="hidden"></th>
                                                <th class="hidden"></th>
                                                <th class="hidden"></th>
                                                <th class="hidden"></th>
                                                <th class="hidden"></th>
                                                <th>Item</th>
                                                <th>Specification</th>
                                                <th>Required Date</th>
                                                <th>Request By</th>
                                                <th>Required Quantity</th>
                                                <th>Unit</th>
                                                <th>Inspection</th>
                                                @{ if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                                    {
                                                        <th class="hidden-print">Action</th>
                                                    }
                                                }
                                            </tr>
                                        </thead>
                                        @{ int sl = 0;}
                                        <tbody>
                                            @foreach (var item in Model.DataListSlave)
                                            {
                                                <tr>
                                                    <td>@(++sl)</td>
                                                    <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                                    <td id="@tdRawCategoryId@item.ID" class="hidden">@item.VMRawCategoryFK</td>
                                                    <td id="@tdRawSubCategoryId@item.ID" class="hidden">@item.VMRawSubCategoryFK</td>
                                                    <td id="@tdRawItemId@item.ID" class="hidden">@item.VMRawItemFK</td>
                                                    <td id="@tdEmployeeId@item.ID" class="hidden">@item.VMEmployeeFK</td>
                                                    <td id="@tdInspectionRequired@item.ID" class="hidden">@item.InspectionRequired</td>
                                                    <td id="@tdRawItemName@item.ID">@item.VMRawItemName</td>
                                                    <td id="@tdDescriptionSlave@item.ID">@item.DescriptionSlave</td>
                                                    <td id="@tdRequiredDate@item.ID">@item.RequiredDate.ToString("yyyy-MM-dd")</td>
                                                    <td id="@tdRequiredBy@item.ID">@item.VMEmployeeName</td>
                                                    <td id="@tdRequisitionQuantity@item.ID">@item.RequisitionQuantity</td>
                                                    <td id="@tdUnitName@item.ID">@item.VMUnitName</td>
                                                    <td id="@tdInspection@item.ID">@item.Inspection</td>
                                                    @{ if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                                        {
                                                            <td class="hidden-print">

                                                                <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" title="Edit"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                                </a>
                                                                <a id="@item.ID" onclick="menuinfo(this);deleteItemInfo(@item.ID,3,3);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                                                   data-placement="top">
                                                                    <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                                </a>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                        <button type="submit" onclick="itemActionInfo(@Model.Store_RequisitionFK, 4, 14);" id="btnSaveSR" class="btn btn-primary fa fa-floppy-o col-lg-2 col-md-2 col-sm-2 "> @SRSaveText</button>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        var nRawCategory, nRawSubCategory, nRawItem;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            $(".datePicker").datepicker('setDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
            var id = @Model.CommonStoreFK
              
            $("#StoreToFK").val(id);
            //$("#Store_GeneralInFK").val(id);
            //$("#Store_GeneralInFK").trigger('change');
            //$('#ddlStoreFrom').find('[value="' + id + '"]').remove();
        });
        $("#ddlRawCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("OrderRawSubCategoryGet")",
                datatype: "Json",
                data: { id: $("#ddlRawCategory :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlRawSubCategory").empty();
                        $("#ddlRawSubCategory").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawSubCategory").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawSubCategory && nRawSubCategory > 0) {
                            $("#ddlRawSubCategory").val(nRawSubCategory);

                            $("#ddlRawSubCategory").trigger('change');
                        }
                    }
                }
            });
        });
        $("#ddlRawSubCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("OrderRawItemGet")",
                datatype: "Json",
                data: { id: $("#ddlRawSubCategory :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlRawItem").empty();
                        $("#ddlRawItem").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawItem").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawItem && nRawItem > 0) {
                            $("#ddlRawItem").val(nRawItem);

                            $("#ddlRawItem").trigger('change');
                        }
                    }
                }
            });
        });
        $("#ddlRawItem").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemInfoGet")",
                datatype: "Json",
                data: { id: $("#ddlRawItem :selected").val() },
                success: function (data) {
                    //
                    var items = "";

                    if (data) {
                        $('#txtAvailableQuantity').val(data.quantity);
                        $('#ddlUnit').val(data.unit);
                    }
                }
            });
        });

        $("#Store_GeneralInFK").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetStoreNameByID")",
                datatype: "Json",
                data: { id: $("#Store_GeneralInFK :selected").val() },
                success: function (data) {
                    //
                    var items = "";

                    if (data) {
                        $("#ddlStoreFrom").empty();
                        $("#ddlStoreFrom").append("<option value=''> Please Select </option>");
                        $(data).each(function (index, item) {
                            $("#ddlStoreFrom").append("<option value='" + item.value + "'>" + item.text + "</option>");                           
                        });
                        @*var id = $("#Store_GeneralInFK :selected").val();
                        @Model.CommonStoreFK == id;                        
                        debugger;*@
                        //if (nRawItem && nRawItem > 0) {
                        //    $("#VMStoreToFK").val(nRawItem);
                        //    $("#VMStoreToFK").trigger('change');
                        //}
                    }
                }
            });
        });

        function resetDDL() {
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i> Save");
            //$('#btnSave').addClass("fa-floppy-o Save");
            $('.ddlReset').val('').trigger('change');
            $('#CreateSR').bootstrapValidator("resetForm", true);

        }
        function menuinfo(elem) {
            if (elem !== null) {
                debugger;
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i> Update");
                $('#hidId').val($('#tdId' + r).text().trim());



                nRawCategory = $('#tdRawCategoryId' + r).text().trim();
                nRawSubCategory = $('#tdRawSubCategoryId' + r).text().trim();
                nRawItem = $('#tdRawItemId' + r).text().trim();

                $("#VMRawCategoryFK").val($('#tdRawCategoryId' + r).text().trim());

                //$('#VMRawCategoryFK').trigger('change');
                debugger;

                $('#txtRequiredDate').val($('#tdRequiredDate' + r).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());
                $('#ddlEmployee').val($('#tdEmployeeId' + r).text().trim());

                $('#ddlEmployee').trigger("change");

                $('#txtDescriptionSlave').val($('#tdDescriptionSlave' + r).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());

                $("#txtSupplierNames").val($('#tdSupplierNames' + r).text().trim());
                if ($('#tdInspectionRequired' + r).text().trim() == "True") {
                    $("#chkInspectionRequired").prop("checked", true);
                }

            }
        }
        function deleteItemInfo(id, actionId, prActionId) {
            if (id !== null && actionId !== null && prActionId !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(actionId);
                $('#SRActionId').val(prActionId);

                $('#ddlRawCategory').val($('#tdRawCategoryId' + id).text().trim());
                $('#ddlRawSubCategory').val($('#tdRawSubCategoryId' + id).text().trim());
                $('#VMRawItemFK').val($('#tdRawItemId' + id).text().trim());

                $('#txtRequiredDate').val($('#tdRequiredDate' + id).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + id).text().trim());
                $('#ddlEmployee').val($('#tdEmployeeId' + id).text().trim());
            }
        }
        function itemActionInfo(id, actionId, prActionId) {

            if (id !== null && actionId !== null && prActionId !== null ) {
                $('#hdfSRFKId').val(id);
                $('#hdfActionId').val(actionId);
                $('#hdfSRActionId').val(prActionId);
            }
        }

        $("#btnClose").click(function (e) {
            e.preventDefault();
            $('#CreateSR').trigger("reset");
        });

        $("#VMRawCategoryFK").change(function (e) {

            var styleId = $("#ddlApprovedStyleList :selected").val();
            var itemTypeId = $(this).val();
            var subSetId = $("#Merchandising_StyleSetPackFK :selected").val();

            if (styleId == "" || styleId == null && subSetId == "" || subSetId == null ) {
                alert("Please Select Style & SubSet Name");
                $(this).val("");
                return false;
            } else {

                $('#divPRSlaveList').empty();
                $.ajax({
                    type: "GET",
                    url: "/Store/_SRSlaveList?id=" + styleId + "&PRID=2&id2=" + @Model.CommonStoreFK+"&itemTypeId=" + itemTypeId + "&subSetId=" + subSetId ,
                    datatype: "html",

                    success: function (data) {

                        if (data) {
                            $('#divPRSlaveList').html(data);

                            $("#frmPRSlaveList").bootstrapValidator();
                            $('#frmPRSlaveList select.searchingDropdown').select2();
                            $('#frmPRSlaveList input.datePicker').datepicker({
                                format: "yyyy-mm-dd",
                                autoclose: true
                            }).on('changeDate', function (ev) {

                                if ($(this).parents('form') && $(this).attr('required')) {
                                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                                }
                            });

                            $("#frmPRSlaveList input.datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                            $("#frmPRSlaveList input.datePicker").datepicker('setDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');

                            $("#tblPRSlaveLIst").DataTable({
                                "paging": false,
                                "columns": [

                                    null,
                                    null,
                                    { "width": "250px" },
                                    null,
                                    null,
                                    null,
                                    null,
                                    null
                                ]
                            });
                        }
                    }
                });
            }
        });
        $("#ddlApprovedStyleList").change(function (e) {
            $('#divPRSlaveList').empty();
            $('#VMRawCategoryFK').val('');
        });


        //$("#Merchandising_StyleSetPackFK").change(function (e) {
        //    $('#VMRawCategoryFK').val('');
        //    $('#divPRSlaveList').empty();
        //});

        $("#Procurement_PurchaseOrderFK").change(function (e) {
            $('#divPRSlaveList').empty();

            $.ajax({
                type: "GET",
                url: "/Store/_SRSlaveList?id=" + $("#ddlApprovedStyleList :selected").val() + "&PRID=2&id2=" + @Model.CommonStoreFK,
                datatype: "html",

                success: function (data) {

                    if (data) {
                        $('#divPRSlaveList').html(data);

                        $("#frmPRSlaveList").bootstrapValidator();
                        $('#frmPRSlaveList select.searchingDropdown').select2();
                        $('#frmPRSlaveList input.datePicker').datepicker({
                            format: "yyyy-mm-dd",
                            autoclose: true
                        }).on('changeDate', function (ev) {

                            if ($(this).parents('form') && $(this).attr('required')) {
                                $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                            }
                        });


                        $("#frmPRSlaveList input.datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                        $("#frmPRSlaveList input.datePicker").datepicker('setDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');

                        $("#tblPRSlaveLIst").DataTable({
                            "paging": false,
                            "columns": [

                                null,
                                null,
                                { "width": "250px" },
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        });
                    }
                }
            });
        });
        $("#ddlApprovedStyleList").change(function (e) {
           $("#Merchandising_StyleSetPackFK").empty();
             $.ajax({
                type: "GET",
                url: "@Url.Action("DDLSubSetListByStyleID")",
                datatype: "Json",
                data: { id: $("#ddlApprovedStyleList :selected").val() },
                success: function (data) {

                    if (data) {
                        $("#Merchandising_StyleSetPackFK").empty();
                        $("#Merchandising_StyleSetPackFK").append("<option value=''> Please Select </option>");
                        $(data).each(function (index, item) {
                            $("#Merchandising_StyleSetPackFK").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                        $("#Merchandising_StyleSetPackFK").trigger('change');
                    }
                }
            });
        });

    </script>
}


