﻿
@{
    ViewData["Title"] = "Store Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdRawCategoryId = "tdRawCategoryId";
    var tdRawSubCategoryId = "tdRawSubCategoryId";
    var tdRawItemId = "tdRawItemId";
    var tdEmployeeId = "tdEmployeeId";
    var tdInspectionRequired = "tdInspectionRequired";
    var tdInspection = "tdInspection";
    var tdRawItemName = "tdRawItemName";

    var tdSupplierNames = "tdSupplierNames";
    var tdUnitName = "tdUnitName";
    var tdDescriptionSlave = "tdDescriptionSlave";
    var tdRequisitionQuantity = "tdRequisitionQuantity";
    var tdRequiredDate = "tdRequiredDate";
    var tdRequiredBy = "tdRequiredBy";

    var SRStatus = Model.AuthorizationStatus;

    var SRSaveText = "";

    @if (!string.IsNullOrEmpty(Model.CID))
    {
        SRSaveText = "Update SR";
    }
    else
    {
        SRSaveText = "Create SR";
    }

}
@model Erp.Core.Services.Store.VMStoreRequisitionSlave
@using (Html.BeginForm("CreateSR", "Store", FormMethod.Post, new { id = "CreateSR", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success">
                    <h4><label> @Model.AuthorizationStatus Store Requisition (SR):</label></h4>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box-body">

                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                            @Html.HiddenFor(model => model.SRActionId, new { Value = "", id = "SRActionId" })
                            @Html.HiddenFor(model => model.CID, new { Value = "", id = "txtReqId" })
                            @Html.HiddenFor(model => model.Store_RequisitionFK, new { id = "SRFKId" })
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            @if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                            {

                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                                @Html.HiddenFor(model => model.Store_RequisitionFK, new { id = "SRFKId" })
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group col-md-3">
                                    <label for="ddlRawCategory" class="col-form-label">Category:</label>
                                    @Html.DropDownListFor(model => model.VMRawCategoryFK, Model.RawCategoryList as SelectList, "Please Select", new { id = "ddlRawCategory", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.VMRawItemFK, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="ddlRawSubCategory" class="col-form-label">Sub-Category:</label>
                                    @Html.DropDownListFor(model => model.VMRawSubCategoryFK, Model.RawItemList as SelectList, "Please Select", new { id = "ddlRawSubCategory", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.VMRawItemFK, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="ddlRawItem" class="col-form-label">Item:</label>
                                    @Html.DropDownListFor(model => model.VMRawItemFK, Model.RawItemList as SelectList, "Please Select", new { id = "ddlRawItem", @class = "searchingDropdown form-control ddlReset", required = "required", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.VMRawItemFK, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group col-md-3">
                                    <label for="ddlUnit" class="col-form-label">Unit:</label>
                                    @Html.TextBoxFor(model => model.VMUnitName, new { id = "ddlUnit", @class = "form-control", required = "required", style = "width:100%", disabled = "disabled" })

                                </div>
                                <div class="form-group col-md-3">
                                    <label for="txtRequiredDate" class="col-form-label">Required Date:</label>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input name="RequiredDate" type="text" class="form-control pull-right datePicker" value="@Model.RequiredDateString" id="txtRequiredDate" autocomplete="off" placeholder="Required Date" required>
                                        @Html.ValidationMessageFor(model => model.RequiredDate, "", new { @class = "text-danger" })
                                    </div>

                                </div>

                                <div class="form-group col-md-3">
                                    <label for="ddlEmployee" class="col-form-label">Request By:</label>
                                    @Html.DropDownListFor(model => model.VMEmployeeFK, Model.EmployeeList as SelectList, "Please Select", new { id = "ddlEmployee", @class = "searchingDropdown form-control ddlReset", style = "width:100%" })
                                    @Html.ValidationMessageFor(model => model.VMEmployeeFK, "", new { @class = "text-danger" })

                                </div>

                                <div class="form-group col-md-3">
                                    <label for="txtRequisitionQuantity" class="col-form-label">Required Quantity:</label>
                                    @Html.TextBoxFor(model => model.RequisitionQuantity, new { id = "txtRequisitionQuantity", type = "number", @class = "form-control", style = "width:100%", placeholder = "Requisition Quantity", required = "required", min = "1" })

                                </div>

                                <div class="form-group col-md-3">
                                    <label for="chkInspectionRequired" class="col-form-label">Inspection Required:</label>
                                    <label class="form-control">
                                        @Html.CheckBoxFor(model => model.InspectionRequired, new { id = "chkInspectionRequired" })
                                    </label>
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="txtDescriptionSlave" class="col-form-label">Item Description/Specification:</label>
                                    @Html.TextAreaFor(model => model.DescriptionSlave, new { id = "txtDescriptionSlave", placeholder = "Description", @class = "form-control" })
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                        <button type="submit" id="btnSave" class="btn btn-success col-lg-1 col-md-2 col-sm-2 fa"> <i class='fa fa-floppy-o'></i> Add </button>
                                    </div>
                                </div>
                                <br />
                                <div class="box-footer"></div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Store Requisition</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("CreateSR", "Store", FormMethod.Post, new { id = "StoreRequisition", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success">
                    <h4>Fill SR Info:</h4>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box-body">
                            <!--Body Will by Start Here-->
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdfActionId" })
                            @Html.HiddenFor(model => model.SRActionId, new { Value = "", id = "hdfSRActionId" })
                            @Html.HiddenFor(model => model.Store_RequisitionFK, new { id = "hdfSRFKId" })
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                            @if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                            {

                                <div class="form-group col-md-4">
                                    <label asp-for="VMStoreToFK"></label>
                                    <select asp-for="VMStoreToFK" id="ddlStoreTo" asp-items="Model.StoreToList" required class="searchingDropdown form-control ddlReset">
                                        <option value="" selected>Select In Store</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="VMStoreFromFK"></label>
                                    <select asp-for="VMStoreFromFK" id="ddlStoreFrom" asp-items="Model.StoreFromList" required class="searchingDropdown form-control ddlReset">
                                        <option value="" selected> Select Out Store</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-4">
                                    <label asp-for="Description"></label>
                                    <input asp-for="Description" id="txtDescription" class="form-control" />
                                </div>

                            }
                        </div>
                        <div class="table-responsive">
                            <table id="tableA" class="table table-striped text-nowrap">
                                <thead>
                                    <tr class="bg-success">
                                        <th>SL</th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th class="hidden"></th>
                                        <th>Item</th>
                                        <th>Specification</th>
                                        <th>Required Date</th>
                                        <th>Request By</th>
                                        <th>Required Quantity</th>
                                        <th>Unit</th>
                                        <th>Inspection</th>
                                        @{ if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                            {
                                                <th class="hidden-print">Action</th>
                                            }
                                        }
                                    </tr>
                                </thead>
                                @{int sll = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataListSlave)
                                    {

                                        <tr>
                                            <td>@(++sll)</td>
                                            <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                            <td id="@tdRawCategoryId@item.ID" class="hidden">@item.VMRawCategoryFK</td>
                                            <td id="@tdRawSubCategoryId@item.ID" class="hidden">@item.VMRawSubCategoryFK</td>
                                            <td id="@tdRawItemId@item.ID" class="hidden">@item.VMRawItemFK</td>
                                            <td id="@tdEmployeeId@item.ID" class="hidden">@item.VMEmployeeFK</td>
                                            <td id="@tdInspectionRequired@item.ID" class="hidden">@item.InspectionRequired</td>
                                            <td id="@tdRawItemName@item.ID">@item.VMRawItemName</td>
                                            <td id="@tdDescriptionSlave@item.ID">@item.DescriptionSlave</td>
                                            <td id="@tdRequiredDate@item.ID">@item.RequiredDate.ToString("yyyy-MM-dd")</td>
                                            <td id="@tdRequiredBy@item.ID">@item.VMEmployeeName</td>
                                            <td id="@tdRequisitionQuantity@item.ID">@item.RequisitionQuantity</td>
                                            <td id="@tdUnitName@item.ID">@item.VMUnitName</td>
                                            <td id="@tdInspection@item.ID">@item.Inspection</td>
                                            @{ if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                                {
                                                    <td class="hidden-print">

                                                        <a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" title="Edit"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <a id="@item.ID" onclick="menuinfo(this);deleteItemInfo(@item.ID,3,3);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                        </a>

                                                    </td>
                                                }
                                            }
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>


                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                <button type="submit" onclick="itemActionInfo(@Model.Store_RequisitionFK, 4, 14);" id="btnSaveSR" class="btn btn-primary fa fa-floppy-o col-lg-2 col-md-2 col-sm-2 "> @SRSaveText</button>
                            </div>
                        </div>
                        <div class="box-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        var nRawCategory, nRawSubCategory, nRawItem;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
        });

        $("#ddlRawCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawSubCategoryGet")",
                datatype: "Json",
                data: { id: $("#ddlRawCategory :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlRawSubCategory").empty();
                        $("#ddlRawSubCategory").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawSubCategory").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawSubCategory && nRawSubCategory > 0) {
                            $("#ddlRawSubCategory").val(nRawSubCategory);

                            $("#ddlRawSubCategory").trigger('change');
                        }
                    }
                }
            });
        });

        $("#ddlRawSubCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemGet")",
                datatype: "Json",
                data: { id: $("#ddlRawSubCategory :selected").val() },
                success: function (data) {

                    var items = "";

                    if (data) {
                        $("#ddlRawItem").empty();
                        $("#ddlRawItem").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawItem").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawItem && nRawItem > 0) {
                            $("#ddlRawItem").val(nRawItem);

                            $("#ddlRawItem").trigger('change');
                        }
                    }
                }
            });
        });

        $("#ddlRawItem").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemInfoGet")",
                datatype: "Json",
                data: { id: $("#ddlRawItem :selected").val() },
                success: function (data) {
                    //
                    var items = "";

                    if (data) {
                        $('#txtAvailableQuantity').val(data.quantity);
                        $('#ddlUnit').val(data.unit);
                    }
                }
            });
        });

        // $("#ddlStoreTo").change(function (e) {

        //     id = $("#ddlStoreTo :selected").val();             
        //     $("#ddlStoreFrom").val(id).trigger('change');;
        //});

        function resetDDL() {
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i> Save");
            //$('#btnSave').addClass("fa-floppy-o Save");
            $('.ddlReset').val('').trigger('change');
            $('#CreateSR').bootstrapValidator("resetForm", true);
        }

        function menuinfo(elem) {
            if (elem !== null) {

                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i> Update");
                $('#hidId').val($('#tdId' + r).text().trim());



                nRawCategory = $('#tdRawCategoryId' + r).text().trim();
                nRawSubCategory = $('#tdRawSubCategoryId' + r).text().trim();
                nRawItem = $('#tdRawItemId' + r).text().trim();

                $("#ddlRawCategory").val($('#tdRawCategoryId' + r).text().trim());

                $('#ddlRawCategory').trigger('change');


                $('#txtRequiredDate').val($('#tdRequiredDate' + r).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());
                $('#ddlEmployee').val($('#tdEmployeeId' + r).text().trim());

                $('#ddlEmployee').trigger("change");

                $('#txtDescriptionSlave').val($('#tdDescriptionSlave' + r).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());

                $("#txtSupplierNames").val($('#tdSupplierNames' + r).text().trim());
                if ($('#tdInspectionRequired' + r).text().trim() == "True") {
                    $("#chkInspectionRequired").prop("checked", true);
                }

            }
        }
        function deleteItemInfo(id, actionId, prActionId) {
            if (id !== null && actionId !== null && prActionId !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(actionId);
                $('#SRActionId').val(prActionId);

                $('#ddlRawCategory').val($('#tdRawCategoryId' + id).text().trim());
                $('#ddlRawSubCategory').val($('#tdRawSubCategoryId' + id).text().trim());
                $('#VMRawItemFK').val($('#tdRawItemId' + id).text().trim());

                $('#txtRequiredDate').val($('#tdRequiredDate' + id).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + id).text().trim());
                $('#ddlEmployee').val($('#tdEmployeeId' + id).text().trim());
            }
        }
        function itemActionInfo(id, actionId, prActionId) {

            if (id !== null && actionId !== null && prActionId !== null ) {
                $('#hdfSRFKId').val(id);
                $('#hdfActionId').val(actionId);
                $('#hdfSRActionId').val(prActionId);

            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();
            $('#CreateSR').trigger("reset");
        });

    </script>
}


