﻿@model Erp.Core.Services.Store.VmStoreReport
@{
    Layout = null;
    ViewData["Title"] = "Item Wise Inventory Report";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Item Wise Inventory Report</title>
    <style type="text/css">
        h4 {
            /*border-bottom: 2px solid black;
            display: inline;*/
        }

        .trclass {
            border: 1px solid #000;
            font-size: 12px;
            font-weight: 800;
            background-color: #C0C0C0;
            line-height: 20px
        }

        .table-condensed > tbody > tr > td,
        .table-condensed > tbody > tr > th,
        .table-condensed > tfoot > tr > td,
        .table-condensed > tfoot > tr > th,
        .table-condensed > thead > tr > td,
        .table-condensed > thead > tr > th {
            padding: 3px !important;
        }

        #page {
            background-color: #fff;
            width: 1000px;
            margin: 50px auto;
            padding: 0 30px;
            font-size: 12px;
            /*text-transform: uppercase !important;*/
        }

        .labelcolor {
            -webkit-print-color-adjust: exact;
            background: #525659 !important;
            color: white;
        }

        @@media print {
            .trclass {
                background-color: #C0C0C0 !important;
                -webkit-print-color-adjust: exact;
                line-height: 20px
            }

            #print, #print * {
                display: none !important;
            }
        }
    </style>


    <script type="text/javascript">
        function printDiv() {
            window.print();
        }
    </script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body style=" background-color: #525659;">
    <span id="print" style="float: right; position: fixed;right: 0; padding-right:20px; vertical-align: top; display: inline-block;" onclick="printDiv()" class="btn btn-primary">
        Print
    </span>
    <div id="page">
        <div style="min-height: 900px;">
            <br />
            <div class="text-left">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="form-group" style="text-align:left">
                            <h4><b> Item List (Style: @Model.ReportTypeName)</b></h4>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group" style="text-align:right">
                            <p> Print Date: @DateTime.Now.ToString("MMM dd, yyyy hh:mm tt") </p>
                        </div>
                    </div>
                </div>
            </div>
            <div style="width:100%;">
                <div id="viewparty">

                    <table style="width: 100%; float:right">
                        <tbody>
                            <tr style="border-top:1px solid">
                                <td style="text-align:center;">
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-bordered table-condensed" style="width: 100%; font-size: 12px; margin-bottom:0px !important;">
                        <thead>
                            <tr>
                                <th colspan="10" style="width:95px; text-align:center; background-color:#5465a7 !important; color:white;">Item Wise Summary & Inventory Type</th>
                            </tr>

                            <tr>
                                <th>SL No</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ItemName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Unit)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.OpenningQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StoreInQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StoreOutQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BalanceQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ConsumeQty)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.TotalQty)
                                </th>
                            </tr>
                        </thead>
                        @{ int sl = 0; }
                    <tbody>
                        @if (Model != null)
                        {
                            bool headwip = true; bool headRaw = true; var headrawwip = true;
                            @for (var i = 0; i < Model.Datalistwip.Count; i++)
                            {
                                ++sl;
                                if (headwip)
                                {
                                    <tr colspan="10" style="width:95px; text-align:center; background-color:#9aaefb !important; color:white;">
                                        <th colspan="9"> <b> WIP </b></th>
                                    </tr>
                                    headwip = false;
                                }
                                <tr>
                                    <td style="text-align:center"> @sl </td>
                                    <td style="text-align:left"> @Model.Datalistwip[i].ItemName </td>
                                    <td style="text-align:left"> @Model.Datalistwip[i].Unit </td>
                                    <td style="text-align:right"> @Model.Datalistwip[i].OpenningQty </td>

                                    <td style="text-align:right"> @Model.Datalistwip[i].StoreInQty </td>
                                    <td style="text-align:right"> @Model.Datalistwip[i].StoreOutQty </td>
                                    <td style="text-align:right"> @Model.Datalistwip[i].BalanceQty </td>
                                    <td style="text-align:right"> @Model.Datalistwip[i].ConsumeQty </td>
                                    <td style="text-align:right"> @Model.Datalistwip[i].TotalQty </td>
                                </tr>
                            }
                            @for (var i = 0; i < Model.Datalistraw.Count; i++)
                            {
                                ++sl;
                                if (headRaw)
                                {
                                    <tr colspan="10" style="width:95px; text-align:center; background-color:#9aaefb !important; color:white;">
                                        <th colspan="9"> <b> RAW </b></th>
                                    </tr>
                                    headRaw = false;
                                }
                                <tr>
                                    <td style="text-align:center"> @sl </td>
                                    <td style="text-align:left"> @Model.Datalistraw[i].ItemName </td>
                                    <td style="text-align:left"> @Model.Datalistraw[i].Unit </td>
                                    <td style="text-align:right"> @Model.Datalistraw[i].OpenningQty </td>

                                    <td style="text-align:right"> @Model.Datalistraw[i].StoreInQty </td>
                                    <td style="text-align:right"> @Model.Datalistraw[i].StoreOutQty </td>
                                    <td style="text-align:right"> @Model.Datalistraw[i].BalanceQty </td>
                                    <td style="text-align:right"> @Model.Datalistraw[i].ConsumeQty </td>
                                    <td style="text-align:right"> @Model.Datalistraw[i].TotalQty </td>
                                </tr>
                            }

                            @for (var i = 0; i < Model.Datalistrawwip.Count; i++)
                            {
                                ++sl;
                                if (headrawwip)
                                {
                                    <tr colspan="10" style="width:95px; text-align:center; background-color:#9aaefb !important; color:white;">
                                        <th colspan="9"> <b> RAW </b></th>
                                    </tr>
                                    headrawwip = false;
                                }
                                <tr>
                                    <td style="text-align:center"> @sl </td>
                                    <td style="text-align:left"> @Model.Datalistrawwip[i].ItemName </td>
                                    <td style="text-align:left"> @Model.Datalistrawwip[i].Unit </td>
                                    <td style="text-align:right"> @Model.Datalistrawwip[i].OpenningQty </td>

                                    <td style="text-align:right"> @Model.Datalistrawwip[i].StoreInQty </td>
                                    <td style="text-align:right"> @Model.Datalistrawwip[i].StoreOutQty </td>
                                    <td style="text-align:right"> @Model.Datalistrawwip[i].BalanceQty </td>
                                    <td style="text-align:right"> @Model.Datalistrawwip[i].ConsumeQty </td>
                                    <td style="text-align:right"> @Model.Datalistrawwip[i].TotalQty </td>
                                </tr>
                            }

                        }
                    </tbody>
                    </table>

                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    <table style="width: 100%; float:right">
                        <tr style="border-top:1px solid">
                            <td style="text-align:left;">
                                <strong>Store Signature</strong>
                            </td>
                            <td style="text-align:right;">
                                <strong>Authorized Signature</strong>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>
</html>