﻿@model Erp.Core.Services.Store.VmStoreReport
@{
    ViewData["Title"] = "Report Invetry Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Sl = 0;
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">

            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store Reports
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-body">
                        <div class="row">
                            <form asp-action="">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="box-header custom bg-success">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <input class="hidden" asp-for="StyleName" />
                                                <label asp-for="Merchandising_StyleFK" class="control-label"></label>
                                                <select asp-for="Merchandising_StyleFK" asp-items="Model.ApprovedStyleList" class="form-control searchingDropdown " >
                                                    <option value="-1"> Select One </option>
                                                </select>
                                                <span asp-validation-for="Merchandising_StyleFK" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="FromDate" class="control-label"></label>
                                                <input asp-for="FromDate" class="form-control datefield" placeholder=" From Date " />
                                                <span asp-validation-for="FromDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ToDate" class="control-label"></label>
                                                <input asp-for="ToDate" class="form-control datefield" placeholder=" To Date " />
                                                <span asp-validation-for="ToDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="modal-footer">
                                        <button asp-action="ReportStoreInventoryType" type="submit" id="btnsave" class="btn btn-success fa fa-dashboard"> Report Show </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

        $("#Merchandising_StyleFK").change(function () {           
            var name = $(this).children("option:selected").text();
            $("#StyleName").val(name)
        });

    </script>
}