﻿@model Erp.Core.Services.Store.ReportRawItem

@{
    ViewData["Title"] = "Report Item List Style wise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="col-lg-12 col-md-12 col-sm-12">

    <div class="box-body">
        <div class="row box">

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-10 col-md-offset-10 col-sm-offset-5">
                    <button value="Print" class="btn btn-success col-lg-1 col-md-2 col-sm-2  glyphicon glyphicon-print" onclick="PrintElem('btnPrint')"> Print </button>
                </div>
            </div>
            <div class="row">
                <div id="btnPrint" >
                    <div style="border:solid 1px;text-align: center;margin-left: 20px;margin-right: 20px;margin-top: 10px;">
                        <h1> ROMO FASHION TODAY LIMITED </h1>
                        <p>
                            HEAD OFFICE: HOUSE#62, ROAD#15, SECTOR# 14, UTTARA,DHAKA-1230 <br />
                            FACTORY ADDRESS: MOUCHAK, KALIAKOIR, GAZIPUR-1751, BANGLADESH <br />
                            Phone: +88 027914984 Cell: +88 01678097490-99  <br />
                            E-mail: info@romofashion.com
                        </p>
                    </div>
                    <div style="border:solid 1px; padding-top: 5px;margin-top: 5px;margin-left: 20px;margin-right: 20px;margin-bottom: 5px;height: 55px;">

                        <div style="float:left; padding:5px;">
                            <label asp-for="SupplierName"></label>
                            <input asp-for="SupplierName" style="width:140px"/>
                        </div>
                        <div style="float:left; padding:5px;">
                            <label asp-for="StyleName"></label>
                            <input asp-for="StyleName" style="width:140px" />
                        </div>
                        <div style="float:left; padding:5px;">
                            <label asp-for="BuyerName"></label>
                            <input asp-for="BuyerName" style="width:140px"/>
                        </div>
                        <div style="float:left; padding:5px;">
                            <label asp-for="PrintDate"></label>
                            <input asp-for="PrintDate" style="width:130px" />
                        </div>
                    </div>
                    <div style="border:solid 1px;text-align: center;padding-top: 5px;margin-top: 5px;margin-left: 20px;margin-right: 20px;margin-bottom: 5px;">
                        <p>
                            <table class="table table-striped text-nowrap">
                                <thead>
                                    <tr class="">
                                        <th class="hidden">
                                            @Html.DisplayNameFor(model => model.Sr)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ItemCode)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ItemName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchaseQuantity)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchasingPrice)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PurchasingValue)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StoreOutName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.StoreOutQty)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Remarks)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.DataList.Count; i++)
                                    {
                                        <tr>
                                            <td>
                                                i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[i].ItemCode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[i].ItemName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[i].PurchaseQuantity)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[i].PurchasingPrice)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[i].PurchasingValue)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[i].StoreOutName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[i].StoreOutQty)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => Model.DataList[i].Remarks)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

    });

    function PrintElem(elem) {
        var mywindow = window.open('', 'PRINT', 'height=800,width=1500');

        mywindow.document.write('<html><head><title></title>');
        //mywindow.document.write('</head><body >');
        //mywindow.document.write('<h1>' + document.title  + '</h1>');
        mywindow.document.write(document.getElementById(elem).innerHTML);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10*/

        mywindow.print();
        mywindow.close();
        return true;
    }
</script>
