﻿@model Erp.Core.Services.Store.VmStoreReport
@{
    ViewData["Title"] = "Report Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int Sl = 0;
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">

            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store Reports
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box-body">
                        <div class="row">
                            <form asp-action="StoreIn">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="box-header custom bg-success">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ReportID" class="control-label"></label>
                                                <select asp-for="ReportID" asp-items="Model.OriginTypeList" class="form-control">
                                                    <option value="-1"> Select One </option>                                                    
                                                </select>
                                                <span asp-validation-for="ReportID" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3">

                                            <div class="form-group">
                                                <label asp-for="FromDate" class="control-label"></label>
                                                <input asp-for="FromDate" class="form-control datefield" placeholder=" From Date " />
                                                <span asp-validation-for="FromDate" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label asp-for="ToDate" class="control-label"></label>
                                                <input asp-for="ToDate" class="form-control datefield" placeholder=" To Date " />
                                                <span asp-validation-for="ToDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="">
                                    <div class="modal-footer">
                                        <button asp-action="ReportStoreInItemWise" type="submit" id="btnsave" class="btn btn-success fa fa-dashboard"> Report Show </button>
                                        
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">

    </div>
</div>
