﻿@model Erp.Core.Services.Store.VmStoreStockOut
@{
    ViewData["Title"] = "Stock-Transfer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Stock Transfer Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @*@using (Html.BeginForm("StockOut", "Store", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
        {*@
                        <div class="box-body">
                            <!--Body Will by Start Here-->
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Requisition Number:</label>
                                        @Html.DropDownListFor(model => model.RequisitionFk, ViewBag.RequisitionList as SelectList, "Select a Requisition Number", new { id = "ddlRequisition", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.RequisitionFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Requisition Date:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.RequisitionDate, new { id = "txt3", placeholder = "Requisition Date", @class = "form-control datePicker", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.RequisitionDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Transfer To:</label>
                                        @Html.DropDownListFor(model => model.TransferTo, ViewBag.StoreTransferList as SelectList, "Select a Department/Store", new { id = "ddlIDepartment", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.TransferTo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Transfer Date:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.TransferDate, new { id = "txt3", placeholder = "Transfer Date", @class = "form-control datePicker", autocomplete = "off" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.TransferDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Bin:</label>
                                        @Html.DropDownListFor(model => model.BinFk, ViewBag.BinList as SelectList, "Select a Bin", new { id = "ddlRequisition", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.BinFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Reference No:</label>
                                        <input asp-for="Reference" class="form-control" placeholder="Reference No" , required />
                                        <span asp-validation-for="Reference" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Contact Person:</label>
                                        <input asp-for="ContactPerson" class="form-control" placeholder="Contact Person" , required />
                                        <span asp-validation-for="ContactPerson" class="text-danger"></span>
                                    </div>
                                </div>


                            </div>



                            @*}*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-body">
                
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th style="width:5%">SL</th>
                                <th style="width:15%">Item Name</th>
                                <th style="width:20%">Description</th>
                                <th style="width:5%">Unit</th>
                                <th style="width:10%">Request Qty</th>
                                <th style="width:10%">Recieved Qty</th>
                                <th style="width:10%">Inventory Balance</th>
                                <th style="text-align:center;width:10%">Transfer Qty</th>
                                

                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr-1">
                                <td>1</td>
                                <td>Item-1</td>
                                <td>Test Description-1</td>
                                <td>KG</td>
                                <td>300</td>
                                <td>200</td>
                                <td>450</td>
                                <td><input style="text-align:right" type="number" step="any" class="form-control" value="0" required></td>
                               </tr>
                            <tr id="tr-2">
                                <td>1</td>
                                <td>Item-2</td>
                                <td>Test Description-2</td>
                                <td>Pcs</td>
                                <td>3000</td>
                                <td>2000</td>
                                <td>2000</td>
                                <td><input style="text-align:right" type="number" step="any" class="form-control" value="0" required></td>
                                

                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-2"></div>
                        <p class="pull-right" style="padding-right:5px">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <input type="button" value="Cancel" class="btncancel btn btn-primary" />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Stock Transfer Details:
                </h4>
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Item Name</th>
                                <th>Requisition</th>
                                <th>Requisition Date</th>
                                <th>Transfer To</th>
                                <th>Transfer Date</th>
                                <th>Bin No</th>
                                <th>Description</th>
                                <th>Unit</th>
                                <th>Request Qty</th>
                                <th>Recieved Qty</th>
                                <th>Inventory Balance</th>
                                <th>Transfer Qty</th>
                                <th>Reference No</th>
                                <th>Contact Person</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr-1">
                                <td>1</td>
                                <td>Item-1</td>
                                <td>ITR-0001</td>
                                <td>10/04/2019</td>
                                <td>Cutting</td>
                                <td>10/04/2019</td>
                                <td>BIN/2019/0001</td>
                                <td>Test Description-1</td>
                                <td>KG</td>
                                <td>300</td>
                                <td>200</td>
                                <td>450</td>
                                <td>150</td>
                                <td>001</td>
                                <td>Admin</td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        $('#ddlRequisition').on("change",
            function (e) {
                if ($('#ddlRequisition').val() !== "Select a Requisition Number") {
                    $("#txt1").val("");
                    if ($('#ddlRequisition').val() === "1") {
                        $("#txt1").val("Supplier-1");
                        $("#tr-2").hide();
                        $("#tr-1").show();
                    }
                    else if ($('#ddlRequisition').val() === "2") {
                        $("#txt1").val("Supplier-2")
                        $("#tr-1").hide();
                        $("#tr-2").show();
                    }
                }
                else {
                    $("#txt1").val("");
                    $("#tr-1").hide();
                    $("#tr-2").hide();
                }
            });
    </script>
}
