﻿@model Erp.Core.Services.Store.VmStoreStockIn
@{
    ViewData["Title"] = "Store Stock-In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Stock In Information:
                </h4>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box">
                        @*@using (Html.BeginForm("StockIn", "Store", FormMethod.Post, new { id = "formData", @class = "formValidator" }))
        {*@
                        <div class="box-body">
                            <!--Body Will by Start Here-->
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">PO Number:</label>
                                        @Html.DropDownListFor(model => model.IPOFk, ViewBag.POList as SelectList, "Select a PO Number", new { id = "ddlIPONumber", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.IPOFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Supplier Name:</label>
                                        @Html.TextBoxFor(model => model.SupplierName, new { id = "txt1", placeholder = "Supplier Name", @class = "form-control", @onfocus = "blur()" })
                                        @Html.ValidationMessageFor(model => model.SupplierName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label for="recipient-name" class="col-form-label">Bin:</label>
                                        @Html.DropDownListFor(model => model.BinFk, ViewBag.BinList as SelectList, "Select a Bin", new { id = "ddlIPONumber", @class = "searchingDropdown form-control", required = "required", style = "width:100%" })
                                        @Html.ValidationMessageFor(model => model.BinFk, "", new { @class = "text-danger" })
                                    </div>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Challan No:</label>
                                        @Html.TextBoxFor(model => model.ChallanNO, new { id = "txt2", placeholder = "Challan No", @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ChallanNO, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Challan Date:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.ChallanDate, new { id = "txt3", placeholder = "Challan Date", @class = "form-control datePicker" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ChallanDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="form-group">
                                        <label for="message-text" class="col-form-label">Receive Date:</label>
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.ReceiveDate, new { id = "txt3", placeholder = "Receive Date", @class = "form-control datePicker" })
                                        </div>
                                        @Html.ValidationMessageFor(model => model.ReceiveDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>


                            @*}*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table @*id="tableX" *@ class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th style="width:5%">SL</th>
                                <th style="width:20%">Item Name</th>
                                <th style="width:25%">Description</th>
                                <th style="width:5%">Unit</th>
                                <th style="width:10%">Purchase Qty</th>
                                <th style="width:10%">Remaining Qty</th>
                                <th style="text-align:center;width:10%">Recieve Qty</th>

                                <th style="text-align:center;width:10%">Damaged Qty</th>
                                <th style="text-align:center;width:15%">Warranty Date</th>
                                <th style="text-align:center;width:15%">Fixed Asset</th>
                                @*<th style="text-align:center;width:15%">Action</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="tr-1">
                                <td>1</td>
                                <td>Item-1</td>
                                <td>Test Description-1</td>
                                <td>KG</td>

                                <td>30</td>
                                <td>0</td>
                                <td><input style="text-align:right" type="number" step="any" class="form-control" value="0" required></td>
                                <td><input style="text-align:right" type="number" step="any" class="form-control" value="0" required></td>
                                <td>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datePicker" style="width:100px">
                                    </div>
                                </td>
                                <td><input type="checkbox" style="width:20px;height:20px;text-align:center"></td>
                               

                            </tr>
                            <tr id="tr-2">
                                <td>2</td>
                                <td>Item-2</td>

                                <td>Test Description-2</td>
                                <td>Pcs</td>
                                <td>500</td>
                                <td>0</td>
                                <td><input style="text-align:right" type="number" step="any" class="form-control" value="0" required></td>
                                <td><input style="text-align:right" type="number" step="any" class="form-control" value="0" required></td>
                                <td>
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        <input type="text" class="form-control datePicker">
                                    </div>
                                </td>
                                <td><input type="checkbox" style="width:20px;height:20px;text-align:center"></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group">
                        <div class="col-md-4"></div>
                        <div class="col-md-2"></div>
                        <p class="pull-right" style="padding-right:5px">
                            <input type="submit" value="Save" class="btn btn-success" />
                            <input type="button" value="Cancel" class="btncancel btn btn-primary" />
                        </p>
                    </div>
                </div>

            </div>
        </div>


       
    </div>

  
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Stock In Details:
                </h4>
            </div>
            <!-- /.box-header -->
          
            <div class="box-body">
                <!--Body Will by Start Here-->
                <div class="table-responsive">
                    <table id="tableX" class="table table-striped text-nowrap">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Challan No</th>
                                <th>Item Name</th>
                                <th>Bin No</th>
                                <th>Challan Date</th>
                                <th>Received Date</th>
                                <th>Description</th>
                                <th>Unit</th>
                                <th>Purchase Qty</th>
                                <th>Recieve Qty</th>
                                <th>Damaged Qty</th>
                                <th>Remaining Qty</th>
                                <th>Warranty Date</th>
                                <th>Fixed Asset</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>CHALLAN/2019/0001</td>
                                <td>Item-1</td>
                                <td>BIN/2019/0001</td>
                                <td>03/04/2019</td>
                                <td>15/04/2019</td>
                                <td>Test Description-1</td>
                                <td>KG</td>
                                <td>30</td>
                                <td>20</td>
                                <td>0</td>
                                <td>10</td>
                                <td>03/04/2019</td>
                                <td><div><span class="label label-danger">NO</span></div></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>CHALLAN/2019/0001</td>
                                <td>Item-2</td>
                                <td>BIN/2019/0001</td>
                                <td>03/04/2019</td>
                                <td>15/04/2019</td>
                                <td>Test Description-2</td>
                                <td>PCS </td>
                                <td>10</td>
                                <td>5</td>
                                <td>1</td>
                                <td>4</td>
                                <td>03/04/2019</td>
                                <td><div><span class="label label-success">YES</span></div></td>
                            </tr>
                        </tbody>
                    </table>                 
                </div>
            </div>
        </div>
    </div>


</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        $('#ddlIPONumber').on("change",
            function (e) {
                if ($('#ddlIPONumber').val() !== "Select a IPO Number") {
                    $("#txt1").val("");
                    if ($('#ddlIPONumber').val() === "1") {
                        $("#txt1").val("Supplier-1");
                        $("#tr-2").hide();
                        $("#tr-1").show();
                    }
                    else if ($('#ddlIPONumber').val() === "2") {
                        $("#txt1").val("Supplier-2");
                        $("#tr-1").hide();
                        $("#tr-2").show();
                    }
                }
                else {
                    $("#txt1").val("");
                    $("#tr-1").hide();
                    $("#tr-2").hide();
                }
            });
    </script>
}
