﻿
@{
    ViewData["Title"] = "Purchase Requisition Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdRawCategoryId = "tdRawCategoryId";
    var tdRawSubCategoryId = "tdRawSubCategoryId";
    var tdRawItemId = "tdRawItemId";
    var tdEmployeeId = "tdEmployeeId";
    var tdInspectionRequired = "tdInspectionRequired";
    var tdInspection = "tdInspection";
    var tdRawItemName = "tdRawItemName";

    var tdSupplierNames = "tdSupplierNames";
    var tdUnitName = "tdUnitName";
    var tdDescriptionSlave = "tdDescriptionSlave";
    var tdRequisitionQuantity = "tdRequisitionQuantity";
    var tdRequiredDate = "tdRequiredDate";
    var tdRequiredBy = "tdRequiredBy";

    var PRStatus = Model.AuthorizationStatus;




}
@model Erp.Core.Services.Procurement.VMPurchaseRequisitionSlave
@using (Html.BeginForm("PurchaseRequisitionDetails", "Procurement", FormMethod.Post, new { id = "PurchaseRequisitionDetails", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-danger">
                    <div class="box-header">
                        <h3>
                            @PRStatus PR Info:
                            &nbsp;&nbsp;


                        </h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <!--Body Will by Start Here-->
                        @{
                            <fieldset>
                                <legend></legend>
                                <div class="form-group col-md-12">
                                    Requisition Id: <label class="col-form-label">@Model.CID</label>
                                </div>

                                <div class="form-group col-md-5">
                                    Created Date: <label class="col-form-label">@Model.CreationDate.ToString("yyyy-MM-dd")</label>

                                </div>
                                <div class="form-group col-md-7">
                                    Created By: <label class="col-form-label">@Model.CreatedBy</label>

                                </div>


                                <div class="form-group col-md-12">
                                    Note: <label for="txtDescription" class="col-form-label">@Model.Description</label>
                                </div>

                                <div class="form-group col-md-5">
                                    Department: <label class="col-form-label">@Model.VMDepartmentName</label>

                                </div>
                                <div class="form-group col-md-7">
                                    Authorization Status: <label class="col-form-label">@Model.AuthorizationStatus</label>

                                </div>
                                @if (Model.Status == Erp.Core.Services.PRStatusEnum.Closed)
                                {
                                    <div class="form-group col-md-5">
                                        Closed By: <label class="col-form-label">@Model.VMClosedByUserName</label>

                                    </div>
                                    @if (!string.IsNullOrEmpty(Model.CancellationRemaks))
                                    {
                                        <div class="form-group col-md-7">
                                            Cancellation Remarks: <label class="col-form-label">@Model.CancellationRemaks</label>

                                        </div>
                                    }

                                }


                            </fieldset>

                        }





                        <div class="table-responsive col-md-12">
                            <table id="tableX" class="table table-striped text-nowrap">
                                <thead>
                                    <tr>
                                        <th>SL</th>
                                        <th>BPO/Style</th>
                                        <th>Item</th>
                                        <th>Specification</th>
                                        <th>Required On</th>
                                        <th>Required By</th>
                                        <th>Required Quantity</th>
                                        <th>Unit</th>
                                        <th>Preferred Supplier(s)</th>
                                        <th>Inspection</th>

                                    </tr>
                                </thead>
                                @{int sl = 0;
                                }
                                <tbody>
                                    @foreach (var item in Model.DataListSlave)
                                    {

                                        <tr>
                                            <td>@(++sl)</td>

                                            <td>@item.BONoStyleName</td>
                                            <td id="@tdRawItemName@item.ID">@item.VMRawItemName</td>
                                            <td id="@tdDescriptionSlave@item.ID">@item.DescriptionSlave</td>
                                            <td id="@tdRequiredDate@item.ID">@item.RequiredDate.ToString("yyyy-MM-dd")</td>
                                            <td id="@tdRequiredBy@item.ID">@item.VMEmployeeName</td>
                                            <td id="@tdRequisitionQuantity@item.ID">@item.RequisitionQuantity</td>
                                            <td id="@tdUnitName@item.ID">@item.VMUnitName</td>
                                            <td id="@tdSupplierNames@item.ID">@item.SupplierNames</td>
                                            <td id="@tdInspection@item.ID">@item.Inspection</td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="box-footer">

                    </div>
                </div>

            </div>



        </div>
    </section>



    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Purchase Requisition Detail</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#PurchaseRequisitionDetails').bootstrapValidator("resetForm", true);

        }

        function menuinfo(elem) {

            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i> Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtSuggestedPrice').val($('#tdSuggestedPrice' + r).text().trim());
                $('#ddlUnit').val($('#tdUnitName' + r).text().trim());

                $('#ddlRawItem').val($('#tdRawItemId' + r).text().trim());

                $('#txtAvailableQuantity').val($('#tdAvailableQuantity' + r).text().trim());
                $('#txtDescriptionSlave').val($('#tdDescriptionSlave' + r).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());


                $('.ddlReset').trigger('change');
            }
        }
        $("#ddlRawItem").change(function (e) {

            $.ajax({
                    type: "GET",
                    url: "@Url.Action("RawItemInfoGet")",
                    datatype: "Json",
                data: { id: $("#ddlRawItem :selected").val() },
                    success: function (data) {
                        //
                        var items = "";

                        if (data) {
                            $('#txtAvailableQuantity').val(data.quantity);
                            $('#ddlUnit').val(data.unit);
                        }
                    }
                });
        });

        function deleteItemInfo(id) {
            if (id !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(3);
            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#PurchaseRequisitionDetails').trigger("reset");



        });
    </script>
}


