﻿@{
    ViewData["Title"] = "Create PR";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
    var tdRawCategoryId = "tdRawCategoryId";
    var tdRawSubCategoryId = "tdRawSubCategoryId";
    var tdRawItemId = "tdRawItemId";
    var tdEmployeeId = "tdEmployeeId";
    var tdInspectionRequired = "tdInspectionRequired";
    var tdInspection = "tdInspection";
    var tdStyleSlaveId = "tdStyleSlaveId";
    var tdRawItemName = "tdRawItemName";
    var tdBONoStyleName = "tdBONoStyleName";

    var tdSupplierNames = "tdSupplierNames";
    var tdUnitName = "tdUnitName";
    var tdDescriptionSlave = "tdDescriptionSlave";
    var tdRequisitionQuantity = "tdRequisitionQuantity";
    var tdRequiredDate = "tdRequiredDate";
    var tdRequiredBy = "tdRequiredBy";

    var PRStatus = Model.AuthorizationStatus;

    var PRSaveText = "";

    @if (!string.IsNullOrEmpty(Model.CID))
    {
        PRSaveText = "Update PR";
    }
    else
    {
        PRSaveText = "Create PR";
    }

}
@model Erp.Core.Services.Store.VMStoreSRequisitionSlave

<section class="col-lg-12 col-md-12 col-sm-12">

    <div class="box-body">
        <form id="CreatePR" class="formValidator" asp-action="MerchandisingPR" asp-controller="Procurement" method="post" role="form" asp-antiforgery="true">
            @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
            @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
            @Html.HiddenFor(model => model.PRActionId, new { Value = "", id = "PRActionId" })
            @Html.HiddenFor(model => model.CID, new { Value = "", id = "txtReqId" })
            @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionFK, new { id = "PRFKId" })
            @Html.HiddenFor(model => model.OriginType)
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class=" modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                                &times;
                            </button>
                            <h5 class="modal-title"><b>Purchase Requisition</b></h5>

                        </div>
                        <div class="modal-body">
                            <div style="text-align:center">
                                <h3>Are you sure?</h3>
                            </div>

                        </div>

                        <div class="modal-footer">
                            <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>


    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                    <h3>
                        <label>@Model.AuthorizationStatus PR: </label>

                    </h3>

                </div>
                <div class="box-body">
                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                    {

                        <div class="col-md-12 form-group">
                            <label>Add Items From BOM/BOF</label>
                            <label asp-for="ApprovedBOMStyleList" class="col-form-label"></label>
                            <select id="ddlApprovedStyleList" asp-items="Model.ApprovedBOMStyleList" class="form-control searchingDropdown" style="width:100%;">
                                <option selected value="">Select Style</option>
                            </select>
                        </div>


                        <div class="col-md-12 no-padding" id="divPRSlaveList">
                            @*@{ await Html.RenderPartialAsync("_PRSlaveList");}*@
                        </div>
                    }
                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="box-danger">
                <div class="box-header">

                    <h3>
                        <label> Added Item List</label>

                    </h3>

                </div>
                <div class="box-body">

                    <div class="table-responsive col-md-12">
                        <table id="tableA" class="table table-bordered table-striped text-nowrap">
                            <thead>
                                <tr>
                                    <th>SL</th>


                                    <th>BPO/Style</th>
                                    <th>Item</th>
                                    <th>Specification</th>
                                    <th>Required Date</th>
                                    <th>Request By</th>
                                    <th>Required Quantity</th>
                                    <th>Unit</th>
                                    <th>Preferred Supplier(s)</th>
                                    <th>Inspection</th>
                                    @{ if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                        {
                                            <th class="hidden-print">Action</th>
                                        }
                                    }
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataListSlave)
                                {

                                    <tr>
                                        <td>@(++sl)</td>

                                        <td id="@tdBONoStyleName@item.ID">@item.BONoStyleName</td>
                                        <td id="@tdRawItemName@item.ID">@item.VMRawItemName</td>
                                        <td id="@tdDescriptionSlave@item.ID">@item.DescriptionSlave</td>
                                        <td id="@tdRequiredDate@item.ID">@item.RequiredDate.ToString("yyyy-MM-dd")</td>
                                        <td id="@tdRequiredBy@item.ID">@item.VMEmployeeName</td>
                                        <td id="@tdRequisitionQuantity@item.ID">@item.RequisitionQuantity</td>
                                        <td id="@tdUnitName@item.ID">@item.VMUnitName</td>
                                        <td id="@tdSupplierNames@item.ID">@item.SupplierNames</td>
                                        <td id="@tdInspection@item.ID">@item.Inspection</td>
                                        @{ if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                            {
                                                <td class="hidden-print">

                                                    @*<a id="@item.ID" onclick=" menuinfo(this);" class="linkPointer" title="Edit"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-pencil" aria-hidden="true"></i>
                                                        </a>*@
                                                    <a id="@item.ID" onclick="deleteItemInfo(@item.ID,3,3);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Delete"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                                    </a>

                                                </td>
                                            }
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>


                </div>
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>


</section>






@using (Html.BeginForm("MerchandisingPR", "Procurement", FormMethod.Post, new { id = "PurchaseRequisition", @class = "formValidator", onreset = "resetDDL();" }))
{
    <section class="col-lg-12 col-md-12 col-sm-12">
        <div class="row">
            <div class="box">
                <div class="box-header">
                    <h3><label>Fill PR Info:</label> </h3>
                </div>

                <!-- /.box-header -->
                <div class="box-body">
                    <!--Body Will by Start Here-->
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdfActionId" })
                    @Html.HiddenFor(model => model.PRActionId, new { Value = "", id = "hdfPRActionId" })

                    @Html.HiddenFor(model => model.Procurement_PurchaseRequisitionFK, new { id = "hdfPRFKId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                    {
                        <div class="col-md-12">


                            <div class="form-group col-md-12">
                                <label for="txtDescription" class="col-form-label">Note:</label>
                                @Html.TextAreaFor(model => model.Description, new { id = "txtDescription", placeholder = "Note", @class = "form-control", rows = 5 })
                            </div>


                            <div class="box-footer" style="text-align:right;">

                                <button type="submit" onclick="itemActionInfo(@Model.Procurement_PurchaseRequisitionFK,4,14);" id="btnSavePR" class="btn btn-primary"><i class="fa fa-floppy-o"></i> @PRSaveText</button>
                            </div>


                        </div>

                    }
                </div>

                <div class="box-footer">

                </div>


            </div>



        </div>
    </section>




}


@section scripts {

    <script type="text/javascript">
        var nRawCategory, nRawSubCategory, nRawItem;
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
            @*$("#txtRequiredDate").datepicker({
                format: "yyyy-mm-dd",
                // format: "d/m/yy",
                autoclose: true,
                startDate: '@System.DateTime.Now.ToString("yyyy-MM-dd")'
            }).on('changeDate', function (ev) {
                if ($(this).parents('form')) {
                    $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                }

            });*@
            $(".datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');


        });

        $("#ddlRawCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawSubCategoryGet")",
                datatype: "Json",
                data: { id: $("#ddlRawCategory :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlRawSubCategory").empty();
                        $("#ddlRawSubCategory").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawSubCategory").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawSubCategory && nRawSubCategory > 0) {
                            $("#ddlRawSubCategory").val(nRawSubCategory);

                            $("#ddlRawSubCategory").trigger('change');
                        }
                    }
                }
            });
        });

        $("#ddlRawSubCategory").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemGet")",
                datatype: "Json",
                data: { id: $("#ddlRawSubCategory :selected").val() },
                success: function (data) {
                    
                    var items = "";

                    if (data) {
                        $("#ddlRawItem").empty();
                        $("#ddlRawItem").append("<option value=''>Please Select</option>");
                        $(data).each(function (index, item) {
                            $("#ddlRawItem").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });

                        if (nRawItem && nRawItem > 0) {
                            $("#ddlRawItem").val(nRawItem);

                            $("#ddlRawItem").trigger('change');
                        }
                    }
                }
            });
        });

        $("#ddlRawItem").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("RawItemInfoGet")",
                datatype: "Json",
                data: { id: $("#ddlRawItem :selected").val() },
                success: function (data) {
                    //
                    var items = "";

                    if (data) {
                        $('#txtAvailableQuantity').val(data.quantity);
                        $('#ddlUnit').val(data.unit);
                    }
                }
            });
        });

        function resetDDL() {
            
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#CreatePR').bootstrapValidator("resetForm", true);

        }

        function menuinfo(elem) {
            if (elem !== null) {
                
                //$('#fldPRInfo').show();
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i> Update");
                $('#hidId').val($('#tdId' + r).text().trim());



                nRawCategory = $('#tdRawCategoryId' + r).text().trim();
                nRawSubCategory = $('#tdRawSubCategoryId' + r).text().trim();
                nRawItem = $('#tdRawItemId' + r).text().trim();

                $("#ddlRawCategory").val($('#tdRawCategoryId' + r).text().trim());

                $('#ddlRawCategory').trigger('change');


                $('#txtRequiredDate').val($('#tdRequiredDate' + r).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());
                $('#ddlEmployee').val($('#tdEmployeeId' + r).text().trim());

                $('#ddlEmployee').trigger("change");

                $('#txtDescriptionSlave').val($('#tdDescriptionSlave' + r).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + r).text().trim());

                $("#txtSupplierNames").val($('#tdSupplierNames' + r).text().trim());
                if ($('#tdInspectionRequired' + r).text().trim() == "True") {
                    $("#chkInspectionRequired").prop("checked", true);
                }

            }
        }
        function deleteItemInfo(id, actionId, prActionId) {
            
            if (id !== null && actionId !== null && prActionId !== null) {
                $('#hidId').val(id);
                $('#ActionId').val(actionId);
                $('#PRActionId').val(prActionId);

                $('#ddlRawCategory').val($('#tdRawCategoryId' + id).text().trim());
                $('#ddlRawSubCategory').val($('#tdRawSubCategoryId' + id).text().trim());
                $('#VMRawItemFK').val($('#tdRawItemId' + id).text().trim());

                $('#txtRequiredDate').val($('#tdRequiredDate' + id).text().trim());
                $('#txtRequisitionQuantity').val($('#tdRequisitionQuantity' + id).text().trim());
                $('#ddlEmployee').val($('#tdEmployeeId' + id).text().trim());
            }
        }
        function itemActionInfo(id, actionId, prActionId) {
            
            if (id !== null && actionId !== null && prActionId !== null ) {
                $('#hdfPRFKId').val(id);
                $('#hdfActionId').val(actionId);
                $('#hdfPRActionId').val(prActionId);

            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();

            $('#CreatePR').trigger("reset");



        });

        $("#ddlApprovedStyleList").change(function (e) {
            $('#divPRSlaveList').empty();
            ///populate controls with data from StyleSlave
            $.ajax({
                type: "GET",
                url: "/Procurement/PRSlaveList?id=" + $("#ddlApprovedStyleList :selected").val() + "&PRID=" + $("#PRFKId").val() + "&orgID="+@((int)Model.OriginType),
                datatype: "html",

                success: function (data) {
                    //
                    if (data) {
                        $('#divPRSlaveList').html(data);

                        //$("#frmPRSlaveList").bootstrapValidator();
                        $('#frmPRSlaveList select.searchingDropdown').select2();
                        $('#frmPRSlaveList input.datePicker').datepicker({
                            format: "yyyy-mm-dd",
                            // format: "d/m/yy",
                            autoclose: true
                        }).on('changeDate', function (ev) {
                            
                            if ($(this).parents('form') && $(this).attr('required')) {
                                $(this).parents('form').bootstrapValidator('revalidateField', $(this));
                            }
                        });


                        $("#frmPRSlaveList input.datePicker").datepicker('setStartDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');
                        $("#frmPRSlaveList input.datePicker").datepicker('setDate', '@System.DateTime.Now.ToString("yyyy-MM-dd")');

                        $("#tblPRSlaveLIst").DataTable({
                            "paging": false
                        });
                    }

                }
            });
        });
    </script>
}


