﻿@model Erp.Core.Services.Store.VmStoreBin

@{
    ViewData["Title"] = "Create BIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    <a class="btn btn-success btn-sm" asp-action="BinAddorEdit"><i class="fa fa-plus"></i> Create BIN</a>
                </h4>
            </div>
           
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <form asp-action="AddBin">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="box-body">
                           
                            <div class="table-responsive">
                                <table id="tableX" class="table table-striped text-nowrap">
                                    <thead>
                                        <tr class="bg-success">
                                            <th>
                                                Sl No
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.CID)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.StoreGeneralName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Dimension) (Sq.Ft.)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Section)
                                            </th>

                                            <th>
                                                @Html.DisplayNameFor(model => model.Rack)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Capacity)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Remarks)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalRow)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.TotalShelf)
                                            </th>

                                            <th class="hidden">
                                                @Html.DisplayNameFor(model => model.Row)
                                            </th>
                                            <th class="hidden">
                                                @Html.DisplayNameFor(model => model.Shelf)
                                            </th>
                                            <th class="hidden">
                                                @Html.DisplayNameFor(model => model.CommonUnitFK)
                                            </th>
                                            <th class="hidden">
                                                @Html.DisplayNameFor(model => model.StoreGeneralFK)
                                            </th>
                                            <th class="hidden">
                                                @Html.DisplayNameFor(model => model.IsActive)
                                            </th>
                                            <th class="hidden">
                                                Status
                                                @*<button type="submit" id="btnsave" class="btn btn-info fa"><i class="fa fa-list"></i> Create BIN </button>*@
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var item in Model.DataList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StoreGeneralName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Dimension) (Sq.Ft.)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Section)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Rack)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Capacity) (@Html.DisplayFor(modelItem => item.CommonUnitName))
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Remarks)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalRow)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TotalShelf)
                                            </td>
                                           
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => item.Row)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => item.Shelf)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => item.CommonUnitFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => item.StoreGeneralFK)
                                            </td>
                                            <td class="hidden">
                                                @Html.DisplayFor(modelItem => item.IsActive)
                                            </td>
                                            <td class="hidden">
                                                <a asp-action="BinAddorEdit" asp-route-id="@item.ID">Edit</a> |
                                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div>
                            <div class="modal-footer">
                                <button asp-action="AddBin" type="submit" class="btn btn-success fa fa-save"> Save All </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>