﻿@model Erp.Core.Services.Store.VmStoreIn

@{
    ViewData["Title"] = "Store-In Internal";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SRSaveText = "(Main) :";
    @if (Model.CommonStoreFK == 1)
     {
         SRSaveText = "(Cutting) :";
     }
     else if (Model.CommonStoreFK == 3)
     {
         SRSaveText = "(Sewing) :";
     } 
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store-In Information @SRSaveText
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box-body">
                        <form asp-action="StoreIn">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="box-header custom bg-success">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="ChallanNo" class="control-label"></label>
                                            <input asp-for="ChallanNo" class="form-control" placeholder=" Challlan Number" disabled="disabled" />
                                            <span asp-validation-for="ChallanNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ChallanDate" class="control-label"></label>
                                            <input asp-for="ChallanDate" class="form-control datefield" value="@ViewBag.Datetoday" placeholder=" Challan Date " type="text" disabled="disabled" />
                                            <span asp-validation-for="ChallanDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="IPOFK" class="control-label"></label>
                                            <select asp-for="IPOFK" asp-items="ViewBag.IPOList" class="form-control" disabled="disabled">
                                                <option value="-1"> Select PO </option>
                                            </select>
                                            <span asp-validation-for="IPOFK" class="text-danger"></span>
                                        </div>

                                        <div class="form-group hidden">
                                            <label asp-for="CommonSupplierFK" class="control-label"></label>
                                            <select asp-for="CommonSupplierFK" asp-items="ViewBag.SupplierList" class="form-control" disabled="disabled">
                                                @*disabled="disabled"*@
                                                <option value=""> Supplier will be select automatic </option>
                                            </select>
                                            @*<span asp-validation-for="CommonSupplierFK" class="text-danger"></span>*@
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Remarks" class="control-label"></label>
                                            <input asp-for="Remarks" class="form-control" placeholder="Remarks" disabled="disabled" />
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4 ">
                                        <div class="form-group" id="Storeddl">
                                            <label class="control-label">Store Name</label>
                                            <input asp-for="CommonStoreName" class="form-control" placeholder="Store Name" disabled="disabled" />
                                            <span asp-validation-for="CommonStoreName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group hidden">
                                            <label asp-for="ReceivedDate" class="control-label"></label>
                                            <input asp-for="ReceivedDate" class="form-control datefield" value="@ViewBag.Datetoday" placeholder="Received Date " type="text" disabled="disabled" />
                                            @*<span asp-validation-for="ReceivedDate" class="text-danger"></span>*@
                                        </div>
                                        <div class="form-group hidden">
                                            <label for="message-text" class="col-form-label" style="color: white;width: 100%;">Action:</label>
                                            <button asp-action="StoreIn" type="submit" id="btnsave" class="btn btn-success fa fa-edit"> Change Challan Number </button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="box box-success">
                                    <div class="box-header custom bg-success" id="generalHead">
                                        <h4>
                                            Item Information:
                                        </h4>
                                    </div>

                                    <form asp-action="">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="table-responsive">
                                            <table id="CustomerGrid" class="table table-striped text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>SL No</th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CID)
                                                        </th>
                                                        <th class="">
                                                            @Html.DisplayNameFor(model => model.ChallanNo)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.ChallanDate)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.ReceivedDate)
                                                        </th>

                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Name)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.Description)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StockType)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.Remarks)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.RemainingQty)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.DamagedQty)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ReceivedQty)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.WarrentyDate)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.ItemIDFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.IPOFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonSupplierFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonStoreFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.StoreBinFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonCategoryFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonSubCategoryFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.FixAsset)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.BinDefine)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.IsActive)
                                                        </th>

                                                        <th class="hidden">Action</th>
                                                    </tr>
                                                </thead>
                                                @{int sl = 0;}
                                                <tbody>
                                                    @for (var i = 0; i < Model.DataLists.Count; i++)
                                                    {
                                                    <tr>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Common_ColorFK)
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Common_Size)
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Merchandising_StyleFK)
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Merchandising_StyleSlaveFK)
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Procurement_PurchaseOrderSlaveFK)
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Store_RequisitionSlaveFK)
                                                            
                                                        </td>
                                                        <td>
                                                            <label class="form-control" style="height: 27px; width: 46px; padding-top: 2px;">@(++sl).</label>
                                                        </td>
                                                        <td class="hidden">

                                                            @Html.EditorFor(modelItem => Model.DataLists[i].CID)
                                                        </td>
                                                        <td class="">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].ChallanNo)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].ChallanDate)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedDate)
                                                        </td>

                                                        <td>
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Name, new { htmlAttributes = new { @class = "threepx", @readonly = "readonly" } })
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Description)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].StockType)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].Remarks)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].RemainingQty)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].DamagedQty)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedQty)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].WarrentyDate)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].CommonUnitFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].ItemIDFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].IPOFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].CommonSupplierFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].CommonStoreFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].StoreBinFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].CommonCategoryFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].CommonSubCategoryFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].FixAsset)
                                                        </td>
                                                        <td>
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].BinDefine)
                                                            <a id="@Model.DataLists[i].ItemIDFK" onclick="addBinInfo(this, '@Model.DataLists[i].Name', @Model.DataLists[i].ReceivedQty)" class="linkPointer" data-toggle="modal" data-target="#addBinModal" title="Edit" data-placement="top">
                                                                Define
                                                            </a>
                                                        </td>
                                                        <td class="hidden">
                                                            @*<a class="details" href="javascript:;">View</a>*@
                                                            @Html.EditorFor(modelItem => Model.DataLists[i].IsActive)
                                                        </td>

                                                        <td class="hidden">
                                                            <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Edit</a> |
                                                            <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Delete</a>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div>
                                            <div class="modal-footer">
                                                @*<button asp-action="StoreInAdd" type="submit" class="btn btn-danger fa fa-refresh" > Refresh </button>*@
                                                <button asp-action="SaveAllItem" asp-route-id="@Model.CommonStoreFK" id="saveallItem" type="submit" class="btn btn-success fa fa-save" disabled="disabled"> Save All Item </button>&nbsp;&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.box-model -->

            <div class="modal fade" id="addBinModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog" style="width: 60%;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">&times;</button>
                            <h5 class="modal-title"><b>Add BIN Number</b></h5>
                        </div>
                        <div class="modal-body box-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Item Name</label>
                                        <input asp-for="ID" class="form-control hidden" />
                                        <input asp-for="Name" class="form-control" disabled="disabled" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 hidden">
                                    <div class="form-group">
                                        <label class="control-label">Received Qty</label>
                                        <input asp-for="ReceivedQty" class="form-control" type="text" disabled="disabled" />
                                        <span asp-validation-for="ReceivedQty" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">BIN Number</label>
                                        <select asp-for="StoreBinFK" asp-items="ViewBag.BinList" class="form-control">
                                            <option value="0"> Select BIN Number </option>
                                        </select>
                                        <span asp-validation-for="StoreBinFK" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Remarks</label>
                                        <input asp-for="Remarks" class="form-control" type="text" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal"> Close</button>
                            <button id="btnBinAdd" asp-action="AddBinByItem" type="submit" class="btn btn-success fa fa-save" data-dismiss="modal">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">

    </div>
</div>


<style type="text/css">
    .threepx {
        width: 400px;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*@{await Html.RenderPartialAsync("_DatepickerPartial");}*@
    <script type="text/javascript">
        $(document).ready(function () {
            $(".datefield").datepicker('setDate', '@System.DateTime.Now.ToString("MM/dd/yyyy")');
            var count = @Model.DataLists.Count;
            for (var id = 0; id < count; ++id) {
                $('#DataLists_' + id + '__ChallanNo').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__ChallanDate').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__ReceivedDate').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__Name').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__StockType').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__Remarks').prop('checked', true).prop('readonly', true);

                $('#DataLists_' + id + '__RemainingQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__DamagedQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__ReceivedQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__BinDefine').prop('checked', true).prop('readonly', true);
            }
        });
        var id = 0;
        var remQty = 0;
        var qty = 0;
        function addBinInfo(e,name, qty) {
            if (e != null) {
                //$(".modal-body input select").val("");
                $("#ID").val(e.id);
                $("#Name").val(name);
                $("#ReceivedQty").val(qty);

                $("table tr").click(function() {
                    id = this.rowIndex - 1;
                });
            }
        }
        $("table tr").keyup(function() {
            id = this.rowIndex - 1;
            remQty = $('#DataLists_' + id + '__RemainingQty').val();
            var recQty = $('#DataLists_' + id + '__ReceivedQty').val();
            qty = remQty - recQty;
            
            if (qty < 0) {
                alert("You can not received purchase qty getter then remaining qty");
                $('#DataLists_' + id + '__ReceivedQty').val(0);
                $("#saveallItem").attr("disabled", "disabled");
                return false;
            } else {
                $("#saveallItem").removeAttr("disabled");
            }
        });

        $("#btnBinAdd").click(function(){
            $.ajax({
                type: "GET",
                url: "/Store/AddBinByItem?id=" + $("#ID").val() + "&binId=" + $("#StoreBinFK :selected").val() + "&remarks=" + $("#Remarks").val() + "&qty=" + $("#ReceivedQty").val(),
                datatype: "Json",
                success: function (data) {
                    if (data) {
                        alert("Data Saved Successfully");
                        var value = $("#StoreBinFK :selected").val();
                        $("#Store_BinFK option[value = " + value + "]").remove();

                        $('#DataLists_' + id + '__BinDefine').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__ChallanNo').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__ChallanDate').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__ReceivedDate').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__Name').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__StockType').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__Remarks').prop('checked', true).prop('readonly', true);

                        //$('#DataLists_' + id + '__RemainingQty').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__DamagedQty').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__ReceivedQty').prop('checked', true).prop('readonly', true);

                    }
                }
            });
        });

    </script>
}