﻿@model Erp.Core.Services.Store.VmStoreOut

@{
    ViewData["Title"] = "Store-Out Information:";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SRSaveText = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRSaveText = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRSaveText = "(Sewing) :";
    }
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store-Out Information @SRSaveText
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row">

                <div class="box-body">
                    <form asp-action="StoreOut">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="box-header custom bg-success">
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="StoreInType" class="control-label"></label>
                                    <select asp-for="StoreInType" asp-items="Model.StoreOutTypeList" class="form-control">
                                        <option value=""> Select Store-In Type </option>
                                    </select>
                                    <span asp-validation-for="StoreInType" class="text-danger"></span>
                                </div>
                                <div class="form-group" id="ChallanNotxt">
                                    <label asp-for="ChallanNo" class="control-label"></label>
                                    <input asp-for="ChallanNo" class="form-control" placeholder="Challlan Number" id="ChallanNotx" disabled="disabled" />
                                    <span asp-validation-for="ChallanNo" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" Id="ChallanNoddl">
                                    <label class="control-label ">Store Requisition</label>
                                    <input asp-for="IpoNumber" class="form-control" disabled="disabled" />
                                </div>
                                <div class="form-group " id="Supplierddl">
                                    <label class="control-label"> Supplier Name</label>
                                    <input asp-for="CommonSupplierName" class="form-control" disabled="disabled" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label asp-for="Remarks" class="control-label"></label>
                                    <input asp-for="Remarks" class="form-control" placeholder="Remarks" disabled="disabled" />
                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                </div>
                                <div class="hidden">
                                    <label for="message-text" class="col-form-label" style="color: white;width: 100%;">Action:</label>
                                    <button asp-action="StoreOut" type="submit" id="btnsave" class="btn btn-success fa fa-edit"> Change Sale Return </button>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="box box-success">
                                <div class="box-header custom bg-success" id="generalHead">
                                    <h4>
                                        Item Information:
                                    </h4>
                                </div>

                                <form asp-action="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="box-body">
                                        <div class="table-responsive">
                                            <table id="tableX" class="table table-striped text-nowrap">
                                                <thead>
                                                    <tr>
                                                        <th>SL No</th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CID)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ChallanNo)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.ChallanNumberIn)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.ChallanDate)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.ReceivedDate)
                                                        </th>

                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Name)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.Description)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StockType)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.Remarks)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.RemainingQty)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.DamagedQty)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ReceivedQty)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.WarrentyDate)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.ItemIDFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.IPOFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonSupplierFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonStoreFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.StoreBinFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonCategoryFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.CommonSubCategoryFK)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.FixAsset)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.BinDefine)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.IsActive)
                                                        </th>

                                                        <th class="hidden">Action</th>
                                                    </tr>
                                                </thead>
                                                @{int sl = 0;}
                                                <tbody>
                                                    @for (var i = 0; i < Model.DataLists.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                <label class="form-control" style="height: 27px; width: 46px; padding-top: 2px;">@(++sl).</label>
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CID)
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ChallanNo, new { @disable = "disable" })
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ChallanNumberIn, new { @disable = "disable" })
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ChallanDate)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedDate)
                                                            </td>

                                                            <td>
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Name, new { htmlAttributes = new { @class = "threepx", @readonly = "readonly" } })
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Description)
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].StockType)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Remarks)
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].RemainingQty)
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].DamagedQty)
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedQty)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].WarrentyDate)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonUnitFK)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ItemIDFK)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].IPOFK)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonSupplierFK)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonStoreFK)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].StoreBinFK)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonCategoryFK)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonSubCategoryFK)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].FixAsset)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].BinDefine)
                                                                <a id="@Model.DataLists[i].ItemIDFK" onclick="addBinInfo(this, '@Model.DataLists[i].Name', @Model.DataLists[i].ReceivedQty)" class="linkPointer" data-toggle="modal" data-target="#addBinModal" title="Edit" data-placement="top">
                                                                    Define
                                                                </a>

                                                            </td>
                                                            <td class="hidden">
                                                                @*<a class="details" href="javascript:;">View</a>*@
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].IsActive)
                                                            </td>

                                                            <td class="hidden">
                                                                <a asp-action="StoreOutAdd" asp-route-id="@Model.DataLists[i].ID">Edit</a> |
                                                                <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>

                                        <div>
                                            <div class="modal-footer">
                                                @*<button asp-action="StoreInAdd" type="submit" class="btn btn-danger fa fa-refresh" > Refresh </button>*@
                                                <button asp-action="SaveAllItemStoreOut" asp-route-id="@Model.CommonStoreFK" id="SaveAllItemStoreOut" type="submit" class="btn btn-success fa fa-save" disabled="disabled" > Store Out All Item </button>&nbsp;&nbsp;&nbsp;
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.box-model -->

            <div class="modal fade" id="addBinModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog" style="width: 60%;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">&times;</button>
                            <h5 class="modal-title"><b>Add BIN Number</b></h5>
                        </div>
                        <div class="modal-body box-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Item Name</label>
                                        <input asp-for="ID" class="form-control hidden" />
                                        <input asp-for="Name" class="form-control" disabled="disabled" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 hidden">
                                    <div class="form-group">
                                        <label class="control-label">Received Qty</label>
                                        <input asp-for="ReceivedQty" class="form-control" type="text" disabled="disabled" />
                                        <span asp-validation-for="ReceivedQty" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">BIN Number</label>
                                        <select asp-for="StoreBinFK" asp-items="ViewBag.BinList" class="form-control">
                                            <option value="0"> Select BIN Number </option>
                                        </select>
                                        <span asp-validation-for="StoreBinFK" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Remarks</label>
                                        <input asp-for="Remarks" class="form-control" type="text" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal"> Close</button>
                            <button id="btnBinAdd" asp-action="AddBinByItem" type="submit" class="btn btn-success fa fa-save" data-dismiss="modal">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">

    </div>
</div>

<style type="text/css">
    .threepx {
        width: 400px;
    }
</style>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            var count = @Model.DataLists.Count;
            for (var id = 0; id < count; ++id) {
                $('#DataLists_' + id + '__ChallanNo').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__ChallanDate').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__ReceivedDate').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__Name').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__StockType').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__Remarks').prop('checked', true).prop('readonly', true);

                $('#DataLists_' + id + '__RemainingQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__DamagedQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__ReceivedQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__BinDefine').prop('checked', true).prop('readonly', true);
                $("#SaveAllItem").removeAttr("disabled");
            }

            $('#StoreInType').val(1).prop('disabled', true);
        });
        var id = 0;
        var remQty = 0;
        var qty = 0;
        function addBinInfo(e,name, qty) {
            if (e != null) {
                //$(".modal-body input select").val("");
                $("#ID").val(e.id);
                $("#Name").val(name);
                $("#ReceivedQty").val(qty);

                $("table tr").click(function() {
                    id = this.rowIndex - 1;
                });
            }
        }
        $("table tr").keyup(function () {
            id = this.rowIndex - 1;
            remQty = parseFloat($('#DataLists_' + id + '__RemainingQty').val());
            var recQty = parseFloat($('#DataLists_' + id + '__ReceivedQty').val());
            qty = remQty - recQty;
            
            if (recQty == 0 || qty < 0 || remQty < recQty) {
                alert("You can not received 0 qty Or requisition qty getter then remaining qty " + remQty);
                $('#DataLists_' + id + '__ReceivedQty').val(remQty);
                $("#SaveAllItemStoreOut").attr("disabled", "disabled");                
            } else {
                $("#SaveAllItemStoreOut").removeAttr("disabled");
                return false;
            }

        });

        $("#btnBinAdd").click(function(){
            $.ajax({
                type: "GET",
                url: "/Store/AddBinByItem?id=" + $("#ID").val() + "&binId=" + $("#StoreBinFK :selected").val() + "&remarks=" + $("#Remarks").val() + "&qty=" + $("#ReceivedQty").val(),
                datatype: "Json",

                success: function (data) {
                    if (data) {
                        alert("Data Saved Successfully");
                        var value = $("#StoreBinFK :selected").val();
                        $("#Store_BinFK option[value = " + value + "]").remove();

                        $('#DataLists_' + id + '__BinDefine').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__ChallanNo').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__ChallanDate').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__ReceivedDate').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__Name').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__StockType').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__Remarks').prop('checked', true).prop('readonly', true);

                        $('#DataLists_' + id + '__RemainingQty').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__DamagedQty').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__ReceivedQty').prop('checked', true).prop('readonly', true);

                    }
                }
            });
        });
        $("#StoreInType").change(function () {

            if ($("#StoreInType").val() == "2") {
                $("#ChallanNoddl").removeClass("hidden");
                $("#ChallanNotxt").addClass("hidden");
                $('#IPOFK').val(-1).trigger('change');
                $("#IPOFK").prop('disabled', true);

                $("#Storeddl").removeClass("hidden");
                $("#Supplierddl").addClass("hidden");
                $('#Supplierddl').val(-1).trigger('change');

            } else {

                $("#ChallanNoddl").addClass("hidden");
                $("#ChallanNotxt").removeClass("hidden");
                $("#IPOFK").prop('disabled', false);

                $("#Supplierddl").removeClass("hidden");
                $("#Storeddl").addClass("hidden");
                $('#Supplierddl').val(-1).trigger('change');
            }

        });
        $("#ChallanNo").change(function () {
            
            var selectedCountry = $(this).children("option:selected").text();
            $("#ChallanNotx").val(selectedCountry);
        });

    </script>
}