﻿@model Erp.Core.Services.Store.VmStoreIn

@{
    ViewData["Title"] = "Store-In Information";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SRSaveText = "(Main) :";
    @if (Model.CommonStoreFK == 1)
     {
         SRSaveText = "(Cutting) :";
     }
     else if (Model.CommonStoreFK == 3)
     {
         SRSaveText = "(Sewing) :";
     }

}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store-In Information @SRSaveText
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box-body">
                        <div class="row">
                            <form asp-action="StoreIn">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="box-header custom bg-success">
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StoreInType" class="control-label"></label>
                                                <select asp-for="StoreInType" asp-items="Model.StoreInTypeList" class="form-control" required="required">
                                                    <option value=""> Select Store-In Type </option>
                                                </select>
                                                <span asp-validation-for="StoreInType" class="text-danger"></span>
                                            </div>
                                            <div class="">
                                                <input asp-for="ChallanNoFK" class="form-control hidden" placeholder="" id="hdChallanNo" />
                                                <input asp-for="CommonStoreName" class="form-control hidden" placeholder="" id="hdCommonStoreName" />
                                            </div>
                                            <div class="form-group" id="ChallanNotxt">
                                                <label asp-for="ChallanNo" class="control-label"></label>
                                                <input asp-for="ChallanNo" class="form-control" placeholder="Challlan Number" id="ChallanNotx" />
                                                <span asp-validation-for="ChallanNo" class="text-danger"></span>
                                            </div>
                                            <div class="form-group hidden" Id="ChallanNoddl">
                                                <label asp-for="ChallanNo" class="control-label"></label>(Internal)
                                                <select asp-for="ChallanNo" asp-items="Model.ICList" class="form-control">
                                                    <option value="-1"> Select Challan Number </option>
                                                </select>
                                                <span asp-validation-for="ChallanNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group" id="IPOFKddl">
                                                <label asp-for="IPOFK" class="control-label"></label>
                                                <select asp-for="IPOFK" asp-items="Model.PoList" class="form-control">
                                                    <option value="-1"> Select PO </option>
                                                </select>
                                                <span asp-validation-for="IPOFK" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="ChallanDate" class="control-label"></label>
                                                @*@Html.EditorFor(modelItem => Model.ChallanDate, new { htmlAttributes = new { @class = "form-control col-md-12" } })*@
                                                <input asp-for="ChallanDate" class="form-control" placeholder="Challan Date" />
                                                <span asp-validation-for="ChallanDate" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" id="Suplierddl">
                                                <label asp-for="CommonSupplierFK" class="control-label"></label>
                                                <select asp-for="CommonSupplierFK" asp-items="Model.SupplierList" class="form-control">
                                                    <option value=""> Supplier will be select automatic </option>
                                                </select>
                                                <span asp-validation-for="CommonSupplierFK" class="text-danger"></span>
                                            </div>
                                            <div class="form-group hidden" id="Storeddl">
                                                <label class="control-label">Store Name</label>
                                                <select asp-for="CommonStoreFK" asp-items="ViewBag.StoreList" class="form-control">
                                                    <option value=""> Select Store Name </option>
                                                </select>
                                                <span asp-validation-for="CommonStoreFK" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Remarks" class="control-label"></label>
                                                <input asp-for="Remarks" class="form-control" placeholder="Remarks" />
                                                <span asp-validation-for="Remarks" class="text-danger"></span>
                                            </div>
                                            <div class="form-group hidden">
                                                <label asp-for="ReceivedDate" class="control-label"></label>
                                                <input asp-for="ReceivedDate" class="form-control datefield" value="@ViewBag.Datetoday" placeholder="Received Date " />
                                                <span asp-validation-for="ReceivedDate" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                        @*<label for="message-text" class="col-form-label" style="color: white;width: 100%;">Action:</label>*@
                                        <button asp-action="StoreInAdd" asp-route-id="@Model.CommonStoreFK" type="submit" id="btnsave" class="btn btn-success col-lg-1 col-md-2 col-sm-2  fa fa-plus"> Add </button>&nbsp;&nbsp;&nbsp;
                                        <button asp-action="StoreInInternal" asp-route-id="@Model.CommonStoreFK" type="submit" id="btnsaveInternal" class="btn btn-success col-lg-2 col-md-2 col-sm-2  fa fa-plus hidden"> Add Internal Challan </button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="box box-success">
                                <div class="box-header custom bg-success" id="generalHead">
                                    <h4>
                                        Store-In List:
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <form asp-action="">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="table-responsive">
                                            <table id="tableX" class="table table-striped text-nowrap">
                                                <thead>
                                                <tr class="bg-success">
                                                    <th>SL No</th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.CID)
                                                    </th>
                                                    <th >
                                                        @Html.DisplayNameFor(model => model.ChallanNo)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.ChallanDate)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.ReceivedDate)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.WarrentyDate)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Name)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Description)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.StockType)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Remarks)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.RemainingQty)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DamagedQty)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.ReceivedQty)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.ItemIDFK)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.IPOFK)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.CommonSupplierFK)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.CommonStoreFK)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.StoreBinFK)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.CommonCategoryFK)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.CommonSubCategoryFK)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.FixAsset)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.BinDefine)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.IsActive)
                                                    </th>
                                                    <th class="hidden"></th>
                                                </tr>
                                                </thead>
                                                @{int sl = 0;}
                                                <tbody>
                                                    @for (var i = 0; i < Model.DataLists.Count; i++)
                                                    {
                                                    <tr>
                                                        <td>
                                                            <label class="form-control" style="height: 27px; width: 46px; padding-top: 2px;">@(++sl).</label>
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].CID)
                                                        </td>
                                                        <td class="">
                                                            <a>
                                                                @Html.DisplayFor(modelItem => Model.DataLists[i].ChallanNo)
                                                            </a>
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].ChallanDate)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].ReceivedDate)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].WarrentyDate)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].Name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].Description)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].StockType)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].Remarks)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].RemainingQty)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].DamagedQty)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].ReceivedQty)
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].UnitName)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].CommonUnitFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].ItemIDFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].IPOFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].CommonSupplierFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].CommonStoreFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].StoreBinFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].CommonCategoryFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].CommonSubCategoryFK)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].FixAsset)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].BinDefine)
                                                        </td>
                                                        <td class="hidden">
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].IsActive)
                                                        </td>
                                                        <td class="hidden">
                                                            <a asp-action="BinaddorEdit" asp-route-id="@Model.DataLists[i].ID">Edit</a> |
                                                            <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Delete</a>
                                                        </td>
                                                    </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {        });
        $("#StoreInType").change(function () {
            //$("#IPOFK").prop('disabled', false);
            $("#btnsaveInternal").addClass("hidden");
            $("#btnsave").removeClass("hidden");
            if ($("#StoreInType").val() == "1") {
                $("#ChallanNoddl").addClass("hidden");
                $("#ChallanNotxt").removeClass("hidden");
                $("#IPOFK").prop('disabled', false);
                $("#Suplierddl").removeClass("hidden");
                $("#Storeddl").addClass("hidden");
                $("#ChallanDate").prop('disabled', false);
            } else {
                $("#ChallanNoddl").removeClass("hidden");
                $("#ChallanNotxt").addClass("hidden");
                $('#IPOFK').val(-1).trigger('change');
                $("#IPOFK").prop('disabled', true);
                $("#Storeddl").removeClass("hidden");
                $("#Suplierddl").addClass("hidden");
            }
        });
        $("#ChallanNo").change(function () {
            var selectedCountry = $(this).children("option:selected").text();
            $("#ChallanNotx").val(selectedCountry);

            var challanId = $(this).children("option:selected").val();
            $("#hdChallanNo").val(challanId);

            $("#btnsaveInternal").removeClass("hidden");
            $("#btnsave").addClass("hidden");
        });
        $("#IPOFK").change(function () {
            var id = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "/Store/GetSupplierIdByChallanID?id=" + id,
                datatype: "Json",

                success: function (data) {
                    if (data) {
                        $('#CommonSupplierFK').val(data).attr("disabled", "disabled");
                    }
                }
            });
        });
        $("#ChallanNo").change(function () {
            var id = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "/Store/GetStoreIdByChallanID?id=" + id,
                datatype: "Json",

                success: function (data) {
                    if (data) {
                        $('#CommonStoreFK').val(data).prop('disabled', true);
                        var name = $('#CommonStoreFK').children("option:selected").text();
                        $('#hdCommonStoreName').val(name);
                    }
                }
            });
        });
       
    </script>
}