﻿@model Erp.Core.Services.Store.VmStoreOutPersonal

@{
    ViewData["Title"] = "Store-In From Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Asset Return Information:
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box-body">
                        <form asp-action="StoreOutPersonalSave">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="box-header custom bg-success">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label asp-for="StoreGeneralFK" class="control-label"></label>
                                            <select asp-for="StoreGeneralFK" asp-items="Model.StoreList" class="form-control ">
                                                <option value=""> Select Store Name </option>
                                            </select>
                                            <span asp-validation-for="StoreGeneralFK" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="RawItemFK" class="control-label"></label>
                                            <select asp-for="RawItemFK" asp-items="Model.RawItemList" class="form-control searchingDropdown">
                                                <option value=""> Select Item Name </option>
                                            </select>
                                            <span asp-validation-for="RawItemFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CommonAssetFK" class="control-label btn-success"></label>
                                            <select asp-for="CommonAssetFK" asp-items="Model.AssetList" class="form-control searchingDropdown">
                                                <option value=""> Select Asset Tag Number </option>
                                            </select>
                                            <span asp-validation-for="CommonAssetFK" class="text-danger"></span>
                                        </div>

                                        <div class="form-group col-md-8">
                                            <label asp-for="ReceivedQty" class="control-label btn-success"></label>
                                            <input asp-for="ReceivedQty" class="form-control" placeholder="Received Qty " />
                                            <span asp-validation-for="ReceivedQty" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-4">
                                            <label asp-for="CommonUnitFK" class="control-label"></label>
                                            <select asp-for="CommonUnitFK" asp-items="Model.UnitList" class="form-control searchingDropdown">
                                                <option value=""> Select Unit Name </option>
                                            </select>
                                            <span asp-validation-for="CommonUnitFK" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                        <div class="form-group">
                                            <label asp-for="CommonBrandFK" class="control-label"></label>
                                            <select asp-for="CommonBrandFK" asp-items="Model.BrandList" class="form-control searchingDropdown">
                                                <option value=""> Select Brand Name </option>
                                            </select>
                                            <span asp-validation-for="CommonBrandFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CommonDepartmentFK" class="control-label"></label>
                                            <select asp-for="CommonDepartmentFK" asp-items="Model.DepartmentList" class="form-control searchingDropdown">
                                                <option value=""> Select Department Name </option>
                                            </select>
                                            <span asp-validation-for="CommonDepartmentFK" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="ReceivedDate" class="control-label"></label>
                                            <input asp-for="ReceivedDate" class="form-control" placeholder="Received Date " />

                                        </div>
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="CommonModelFK" class="control-label"></label>
                                            <select asp-for="CommonModelFK" asp-items="Model.ModelList" class="form-control searchingDropdown">
                                                <option value=""> Select Model Name </option>
                                            </select>
                                            <span asp-validation-for="CommonModelFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="EmployeeFK" class="control-label"></label>
                                            <select asp-for="EmployeeFK" asp-items="Model.EmployeeList" class="form-control searchingDropdown">
                                                <option value=""> Select Employee Name </option>
                                            </select>
                                            <span asp-validation-for="EmployeeFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Remarks" class="control-label"></label>
                                            <input asp-for="Remarks" class="form-control" placeholder="Remarks" />
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                    <button asp-action="StoreInPersonalSave" type="submit" id="btnsave" class="btn btn-success fa fa-plus"> Asset Return From Employee </button>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </form>
                    </div>


                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box box-success">
                        <div class="box-header custom bg-success" id="generalHead">
                            <h4>
                                Asset Item return List:
                            </h4>
                        </div>
                        <div class="box-body">
                            <form asp-action="">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="table-responsive">
                                    <table id="tableX" class="table table-striped text-nowrap">
                                        <thead>
                                            <tr class="bg-success">
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CID)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.StoreName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ItemName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.BrandName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ModelName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DepartmentName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.EmployeeName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ReceivedQty)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ReceivedDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Remarks)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.ItemIDFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonStoreFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.IsActive)
                                                </th>
                                               
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model.DataLists)
                                            {
                                            <tr>
                                                <td class="hidden">
                                                    @Html.DisplayFor(modelItem => item.CID)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.StoreName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ItemName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.BrandName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ModelName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.DepartmentName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.EmployeeName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ReceivedQty)
                                                    @Html.DisplayFor(modelItem => item.UnitName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ReceivedDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Remarks)
                                                </td>
                                                
                                                <td class="hidden">
                                                    @Html.DisplayFor(modelItem => item.CommonUnitFK)
                                                </td>
                                                <td class="hidden">
                                                    @Html.DisplayFor(modelItem => item.ItemIDFK)
                                                </td>
                                                <td class="hidden">
                                                    @Html.DisplayFor(modelItem => item.CommonStoreFK)
                                                </td>
                                                <td class="hidden">
                                                    @Html.DisplayFor(modelItem => item.StoreBinFK)
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div>
                                    <div class="modal-footer hidden">
                                        <button type="button" id="btncloseandreset" class="btn btn-warning fa fa-close hidden" data-dismiss="modal"> Close </button>
                                        <button asp-action="AddBin" type="submit" id="btnsave" class="btn btn-success fa fa-save" disabled="disabled"> Save All Item </button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*@{await Html.RenderPartialAsync("_DatepickerPartial");}*@
    <script type="text/javascript">
        $(document).ready(function () {

        });

        $("#StoreInType").change(function () {

            if ($("#StoreInType").val() == "2") {

                $("#ChallanNotxt").addClass("hidden");
                $("#IPOtxt").addClass("hidden");
                $("#Supplierddl").addClass("hidden");
                $("#SupplierChallanddl").addClass("hidden");
                $('#addSaleReturn').addClass("hidden");

                $('#add').removeClass("hidden");
                $("#ChallanNoddl").removeClass("hidden");
                $("#StoreToddl").removeClass("hidden");
                $("#Storeddl").removeClass("hidden");

                $('#Supplierddl').val(-1).trigger('change');
                $('#IPOFK').val(-1).trigger('change');



            } else {

                $("#ChallanNotxt").removeClass("hidden");
                $("#IPOtxt").removeClass("hidden");
                $("#Supplierddl").removeClass("hidden");
                $("#SupplierChallanddl").removeClass("hidden");
                $('#addSaleReturn').removeClass("hidden");

                $('#add').addClass("hidden");
                $("#ChallanNoddl").addClass("hidden");
                $("#StoreToddl").addClass("hidden");
                $("#Storeddl").addClass("hidden");

                $('#Supplierddl').val(-1).trigger('change');
                $('#IPOFK').val(-1).trigger('change');
            }

        });
        $("#IPOFK").change(function () {
            var selectedISR = $(this).children("option:selected").text();
            $("#hdChallanNumber").val(selectedISR);
            var id = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "/Store/GetStoreIdsByChallanId?id=" + id,
                datatype: "Json",

                success: function (data) {
                    if (data) {
                        var ids = data.split('_');
                        $('#CommonStoreFK').val(ids[0]).prop('disabled', true);
                        $('#CommonStoreToFK').val(ids[1]).prop('disabled', true);

                        var name = $('#CommonStoreFK').children("option:selected").text();
                        var nameTo = $('#CommonStoreToFK').children("option:selected").text();
                        $('#hdCommonStoreName').val(name);
                        $('#hdCommonStoreNameTo').val(nameTo);
                        $('#hdCommonStoreToFK').val(ids[1]);

                    }
                }
            });
        });
        $("#StoreChallanFK").change(function () {
            var id = $(this).children("option:selected").val();
            var ipo = $(this).children("option:selected").text();
            $("#hdIpoNumber").val(ipo);

            $.ajax({
                type: "GET",
                url: "/Store/GetSupplierIdBySupplierChallanID?id=" + id,
                datatype: "Json",

                success: function (data) {
                    if (data) {

                        $('#CommonSupplierFK').val(data).prop('disabled', true);
                        var supplierName = $('#CommonSupplierFK').children("option:selected").text();
                        $("#hdCommonSupplierName").val(supplierName);
                    }
                }
            });
        });

    </script>
}