﻿@model Erp.Core.Services.Store.VmStoreIn

@{
    ViewData["Title"] = "Store-In Information For New Purchase";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var SRSaveText = "(Main) :";
    var SRStoreName = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRStoreName = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRStoreName = "(Sewing) :";
    }
    else if (Model.CommonStoreFK == 4)
    {
        SRStoreName = "(Ironing) :";
    }
    else if (Model.CommonStoreFK == 5)
    {
        SRStoreName = "(Packing) :";
    }
    else if (Model.CommonStoreFK == 6)
    {
        SRStoreName = "(Finishing) :";
    }
    else if (Model.CommonStoreFK == 8)
    {
        SRStoreName = "(Knitting) :";
    }

}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">

            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store-In Information @SRStoreName
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box-body">
                        <div class="row hidden">
                            <form asp-action="StoreIn">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="box-header custom bg-success">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="ChallanNo" class="control-label"></label>
                                                <input asp-for="ChallanNo" class="form-control" placeholder=" Challlan Number" disabled="disabled" />
                                                <span asp-validation-for="ChallanNo" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="IPOFK" class="control-label"></label>
                                                <select asp-for="IPOFK" asp-items="Model.PoList" class="form-control" disabled="disabled">
                                                    <option value="-1"> Select PO </option>
                                                </select>
                                                <span asp-validation-for="IPOFK" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">

                                            <div class="form-group">
                                                <label asp-for="ChallanDate" class="control-label"></label>
                                                <input asp-for="ChallanDate" class="form-control datefield" placeholder=" Challan Date " type="text" disabled="disabled" />
                                                <span asp-validation-for="ChallanDate" class="text-danger"></span>

                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CommonSupplierFK" class="control-label"></label>
                                                <select asp-for="CommonSupplierFK" asp-items="Model.SupplierList" class="form-control" disabled="disabled">
                                                    @*disabled="disabled"*@
                                                    <option value=""> Supplier will be select automatic </option>
                                                </select>
                                                <span asp-validation-for="CommonSupplierFK" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group hidden">
                                                <label asp-for="ReceivedDate" class="control-label"></label>
                                                <input asp-for="ReceivedDate" class="form-control datefield" placeholder="Received Date " type="text" disabled="disabled" />
                                                @*<span asp-validation-for="ReceivedDate" class="text-danger"></span>*@
                                            </div>
                                            <div class="form-group hidden" id="Storeddl">
                                                <label class="control-label">Store Name</label>
                                                <select asp-for="CommonStoreFK" asp-items="Model.StoreList" class="form-control" disabled="disabled">
                                                    <option value=""> Select Store Name </option>
                                                </select>
                                                <span asp-validation-for="CommonStoreFK" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Remarks" class="control-label"></label>
                                                <input asp-for="Remarks" class="form-control" placeholder="Remarks" disabled="disabled" />
                                                <span asp-validation-for="Remarks" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="hidden">
                                    <div class="modal-footer">
                                        <button asp-action="StoreIn" type="submit" id="btnsave" class="btn btn-success fa fa-edit"> Change Challan Number </button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <form asp-action="">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="table-responsive">
                                        <table id="CustomerGrid" class="table table-striped text-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>SL No</th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Name)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.Description)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.StockType)
                                                    </th>
                                                    <th class="">
                                                        @Html.DisplayNameFor(model => model.PurchaseQuantity)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.RemainingQty)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DamagedQty)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.ReceivedQty)
                                                    </th>
                                                    <th class="">
                                                        @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.FixAsset)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.BinDefine)
                                                    </th>
                                                    <th class="hidden">
                                                        @Html.DisplayNameFor(model => model.Remarks)

                                                        @Html.DisplayNameFor(model => model.WarrentyDate)

                                                        @Html.DisplayNameFor(model => model.ItemIDFK)

                                                        @Html.DisplayNameFor(model => model.IPOFK)

                                                        @Html.DisplayNameFor(model => model.CommonSupplierFK)

                                                        @Html.DisplayNameFor(model => model.CommonStoreFK)

                                                        @Html.DisplayNameFor(model => model.StoreBinFK)

                                                        @Html.DisplayNameFor(model => model.CommonCategoryFK)

                                                        @Html.DisplayNameFor(model => model.CommonSubCategoryFK)

                                                        @Html.DisplayNameFor(model => model.IsActive)
                                                    
                                                        @Html.DisplayNameFor(model => model.CID)
                                                  
                                                        @Html.DisplayNameFor(model => model.ChallanNo)
                                                
                                                        @Html.DisplayNameFor(model => model.ChallanDate)
                                                  
                                                        @Html.DisplayNameFor(model => model.ReceivedDate)
                                                    </th>
                                                    <th class="hidden">Action</th>
                                                </tr>
                                            </thead>
                                            @{int sl = 0;}
                                            <tbody>
                                                @for (var i = 0; i < Model.DataLists.Count; i++)
                                                {
                                                <tr>
                                                    <td>
                                                        @(++sl).
                                                    </td>
                                                    <td>
                                                        @Model.DataLists[i].Name
                                                    </td>
                                                    <td>
                                                        @Model.DataLists[i].Description
                                                    </td>
                                                    <td>
                                                        @Model.DataLists[i].StockType
                                                    </td>
                                                    <td>
                                                        @Model.DataLists[i].PurchaseQuantity
                                                    </td>
                                                    <td>
                                                        @Model.DataLists[i].RemainingQty
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].DamagedQty, new { htmlAttributes = new { @class = "thonepx" } })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedQty, new { htmlAttributes = new { @class = "thonepx" } })
                                                    </td>
                                                    <td>
                                                        @Model.DataLists[i].UnitName
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].FixAsset)
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].BinDefine)
                                                        <a id="@Model.DataLists[i].ItemIDFK" onclick="addBinInfo(this, '@Model.DataLists[i].Name', @Model.DataLists[i].ReceivedQty)" class="linkPointer" data-toggle="modal" data-target="#addBinModal" title="Edit" data-placement="top">
                                                            Define
                                                        </a>
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Description)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Common_ColorFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Common_Size)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonUnitFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Name, new { htmlAttributes = new { @class = "threepx", @readonly = "readonly" } })

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].StockType)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].PurchaseQuantity)

                                                        @Html.HiddenFor(modelItem => Model.DataLists[i].Store_RequisitionSlaveFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].RemainingQty)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].DamagedQty)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedQty)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CID)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].ChallanNo)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].ChallanDate)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedDate)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Remarks)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].WarrentyDate)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].ItemIDFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].IPOFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonSupplierFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonStoreFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].StoreBinFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonCategoryFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonSubCategoryFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].UnitPrice)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].TotalPrice)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Procurement_PurchaseOrderSlaveFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Merchandising_StyleSlaveFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Merchandising_StyleFK)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].IsActive)

                                                        @Html.EditorFor(modelItem => Model.DataLists[i].StoreInType) 
                                                    </td>
                                                    <td class="hidden">
                                                        <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Edit</a> |
                                                        <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Delete</a>
                                                    </td>

                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                    <div>
                                        <div class="modal-footer">
                                             <button asp-action="SaveAllItemSlave" asp-route-id="@Model.ID" asp-route-id2="@Model.CommonStoreFK" id="SaveAllItem" type="submit" class="btn btn-success fa fa-save" disabled="disabled"> Save All Item </button> &nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="box box-success">
                                    <div class="box-header custom bg-success" id="generalHead">
                                        <h4>
                                            Item Wise Store Information:
                                        </h4>
                                    </div>
                                    <div class="box-body">
                                        <form asp-action="">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="table-responsive">
                                                <table id="tableX_wrapper" class="table table-striped text-nowrap">
                                                    <thead>
                                                        <tr>
                                                            <th>SL No</th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.CID)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.ChallanNo)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.ChallanDate)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.ReceivedDate)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Name)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.Description)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.StockType)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.Remarks)
                                                            </th>
                                                            <th class="">
                                                                @Html.DisplayNameFor(model => model.PurchaseQuantity)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.RemainingQty)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.DamagedQty)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.ReceivedQty)
                                                            </th>
                                                            <th class="">
                                                                @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                            </th>

                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.WarrentyDate)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.ItemIDFK)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.IPOFK)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.CommonSupplierFK)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.CommonStoreFK)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.StoreBinFK)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.CommonCategoryFK)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.CommonSubCategoryFK)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.FixAsset)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.BinDefine)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.IsActive)
                                                            </th>
                                                            <th class="hidden">Action</th>
                                                        </tr>
                                                    </thead>
                                                    @{int ssl = 0;}
                                                    <tbody>
                                                        @for (var i = 0; i < Model.DataListsReceived.Count; i++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @(++ssl).
                                                                </td>
                                                                <td>
                                                                    @Model.DataListsReceived[i].Name
                                                                </td>
                                                                <td>
                                                                    @Model.DataListsReceived[i].Description
                                                                </td>
                                                                <td>
                                                                    @Model.DataListsReceived[i].StockType
                                                                </td>
                                                                <td>
                                                                    @Model.DataListsReceived[i].PurchaseQuantity
                                                                </td>
                                                                <td>
                                                                    @Model.DataListsReceived[i].RemainingQty
                                                                </td>
                                                                <td>
                                                                    @Model.DataListsReceived[i].DamagedQty
                                                                </td>
                                                                <td>
                                                                    @Model.DataListsReceived[i].ReceivedQty
                                                                </td>
                                                                <td>
                                                                    @Model.DataListsReceived[i].UnitName
                                                                </td>


                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].Name, new { htmlAttributes = new { @class = "threepx", @readonly = "readonly" } })
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].StockType)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].PurchaseQuantity)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].RemainingQty)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].DamagedQty)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].ReceivedQty)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].CID)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].ChallanNo)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].ChallanDate)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].ReceivedDate)
                                                                </td>

                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].Remarks)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].WarrentyDate)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].CommonUnitFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].ItemIDFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].IPOFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].CommonSupplierFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].CommonStoreFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].StoreBinFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].CommonCategoryFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].CommonSubCategoryFK)
                                                                </td>

                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].Common_ColorFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].Common_Size)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].Procurement_PurchaseOrderSlaveFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].Merchandising_StyleSlaveFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].Merchandising_StyleFK)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].UnitPrice)
                                                                </td>
                                                                <td class="hidden">
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].TotalPrice)

                                                                </td>
                                                                <td>
                                                                    @{ if (Model.DataListsReceived[i].FixAsset)
                                                                        {
                                                                            <span> Yes </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span> No </span>
                                                                        }
                                                                    }
                                                                </td>
                                                                <td>
                                                                    @{ if (Model.DataListsReceived[i].BinDefine)
                                                                        {
                                                                            <span> Yes </span>
                                                                        }
                                                                        else
                                                                        {
                                                                            <span> No </span>
                                                                        }
                                                                    }
                                                                </td>
                                                                <td class="hidden">
                                                                    @*<a class="details" href="javascript:;">View</a>*@
                                                                    @Html.EditorFor(modelItem => Model.DataListsReceived[i].IsActive)
                                                                </td>

                                                                <td class="hidden">
                                                                    <a asp-action="Delete" asp-route-id="@Model.DataListsReceived[i].ID"> Edit </a> |
                                                                    <a asp-action="Delete" asp-route-id="@Model.DataListsReceived[i].ID"> Delete </a>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-model -->

            <div class="modal fade" id="addBinModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog" style="width: 60%;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">&times;</button>
                            <h5 class="modal-title"><b>Add BIN Number</b></h5>
                        </div>
                        <div class="modal-body box-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Item Name</label>
                                        <input asp-for="ID" class="form-control hidden" />
                                        <input asp-for="Name" class="form-control" disabled="disabled" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 hidden">
                                    <div class="form-group">
                                        <label class="control-label">Received Qty</label>
                                        <input asp-for="ReceivedQty" class="form-control" type="text" disabled="disabled" />
                                        <span asp-validation-for="ReceivedQty" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">BIN Number</label>
                                        <select asp-for="StoreBinFK" asp-items="ViewBag.BinList" class="form-control">
                                            <option value="0"> Select BIN Number </option>
                                        </select>
                                        <span asp-validation-for="StoreBinFK" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Remarks</label>
                                        <input asp-for="Remarks" class="form-control" type="text" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal"> Close</button>
                            <button id="btnBinAdd" asp-action="AddBinByItem" type="submit" class="btn btn-success fa fa-save" data-dismiss="modal">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">

    </div>
</div>

<style type="text/css">
    .threepx {
        width: 400px;
    }

    .thonepx {
        width: 100px;
    }
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function() {

            var count = @Model.DataLists.Count;
            for (var id = 0; id < count; ++id) {

                $('#DataLists_' + id + '__ChallanNo').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__ChallanDate').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__ReceivedDate').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__Name').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__StockType').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__Remarks').prop('checked', true).prop('readonly', true);

                $('#DataLists_' + id + '__RemainingQty').prop('checked', true).prop('readonly', true);
                $("#SaveAllItem").removeAttr("disabled");
            }
        });
        var id = 0;
        var remQty = 0;
        var qty = 0;
        function addBinInfo(e,name, qty) {
            if (e != null) {
                //$(".modal-body input select").val("");
                $("#ID").val(e.id);
                $("#Name").val(name);
                $("#ReceivedQty").val(qty);

                $("table tr").click(function() {
                    id = this.rowIndex - 1;

                });
            }
        }
    //$("table tr").keyup(function () {
    //    id = this.rowIndex - 1;
    //    remQty = parseFloat($('#DataLists_' + id + '__RemainingQty').val());
    //    var recQty = parseFloat($('#DataLists_' + id + '__ReceivedQty').val());
    //    qty = remQty - recQty;


    //    if (recQty < 0 || qty < 0 || remQty < recQty) {
    //        alert("You can not received Less then 0 Qty Or purchase qty getter then remaining qty " + remQty);
    //        $('#DataLists_' + id + '__ReceivedQty').val(remQty);
    //        $("#SaveAllItem").attr("disabled", "disabled");
    //    } else {
    //        $("#SaveAllItem").removeAttr("disabled");
    //        return false;
    //    }
    //});


    $("table tr").keyup(function () {
        id = this.rowIndex - 1;
        remQty = parseFloat($('#DataLists_' + id + '__RemainingQty').val());
        var recQty = parseFloat($('#DataLists_' + id + '__ReceivedQty').val());
        var damQty = parseFloat($('#DataLists_' + id + '__DamagedQty').val());
        qty = remQty - recQty;


        if (damQty < 0 || qty < 0 || remQty < damQty) {
            alert("You can not received Less then 0 Qty Or damaged qty getter then remaining qty " + remQty);
            $('#DataLists_' + id + '__DamagedQty').val(0);
            $("#SaveAllItem").attr("disabled", "disabled");
        } else {
            $("#SaveAllItem").removeAttr("disabled");
            return false;
        }

    });


       // $("#btnBinAdd").onClick(function (e) {
        $("#btnBinAdd").click(function() {
            $.ajax({
                type: "GET",
                url: "/Store/AddBinByItem?id=" +
                    $("#ID").val() +
                    "&binId=" +
                    $("#StoreBinFK :selected").val() +
                    "&remarks=" +
                    $("#Remarks").val() +
                    "&qty=" +
                    $("#ReceivedQty").val(),
                datatype: "Json",

                success: function(data) {
                    if (data) {
                        alert("Data Saved Successfully");
                        var value = $("#StoreBinFK :selected").val();
                        $("#Store_BinFK option[value = " + value + "]").remove();

                        $('#DataLists_' + id + '__BinDefine').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__ChallanNo').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__ChallanDate').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__ReceivedDate').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__Name').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__StockType').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__Remarks').prop('checked', true).prop('readonly', true);

                        //$('#DataLists_' + id + '__RemainingQty').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__DamagedQty').prop('checked', true).prop('readonly', true);
                        //$('#DataLists_' + id + '__ReceivedQty').prop('checked', true).prop('readonly', true);

                    }
                }
            });
        });
    </script>
}