﻿
@{
    ViewData["Title"] = "Store Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdId = "tdId";
   // var tdReqId = "tdReqId";
    var tdDescription = "tdDescription";
    var tdStatus = "tdStatus";

    var SRStatus = Model.AuthorizationStatus;


    var SRStoreName = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRStoreName = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRStoreName = "(Sewing) :";
    }
    else if (Model.CommonStoreFK == 4)
    {
        SRStoreName = "(Ironing) :";
    }
    else if (Model.CommonStoreFK == 5)
    {
        SRStoreName = "(Packing) :";
    }
    else if (Model.CommonStoreFK == 6)
    {
        SRStoreName = "(Finishing) :";
    }
    else if (Model.CommonStoreFK == 8)
    {
        SRStoreName = "(Knitting) :";
    }


}
@model Erp.Core.Services.Store.VMStoreRequisition
@using (Html.BeginForm("StoreRequisition", "Store", FormMethod.Post, new { id = "StoreRequisition", @class = "formValidator", onreset = "resetDDL();" }))
{
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success">
                    <h4> Store Requisition Approval @SRStoreName </h4>
                </div>
                <div class="box-header">
                    &nbsp;&nbsp;
                    @{ if (Model.Status == Erp.Core.Services.SRStatusEnum.Closed)
                        {
                            <h3><label> @Model.AuthorizationStatus SR:</label></h3>
                        }
                        else
                        {
                            <div style="text-align:center;">
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.Draft)/@Model.CommonStoreFK" title="Draft"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                    {
                                        <span class="badge badge-light"> Draft : @Model.DraftStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-light-blue"> Draft : @Model.DraftStatusCount</span>
                                    }


                                </a>
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.Submitted)/@Model.CommonStoreFK" title="Submitted"
                                   data-placement="top">


                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.Submitted)
                                    {
                                        <span class="badge badge-light"> Submitted : @Model.SubmittedStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-light-blue"> Submitted : @Model.SubmittedStatusCount</span>
                                    }


                                </a>
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.PrimaryApproved)/@Model.CommonStoreFK" title="Primary Approved"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.PrimaryApproved)
                                    {
                                        <span class="badge badge-light"> Primary Approved: @Model.PrimaryStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-blue"> Primary Approved: @Model.PrimaryStatusCount</span>
                                    }

                                </a>
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.FinalApproved)/@Model.CommonStoreFK" title="Final Approved"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.FinalApproved)
                                    {
                                        <span class="badge badge-light"> Final Approved: @Model.FinalStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-blue"> Final Approved: @Model.FinalStatusCount</span>
                                    }

                                </a>
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.ProcurementApproved)/@Model.CommonStoreFK" title="Procurement Approved"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.ProcurementApproved)
                                    {
                                        <span class="badge badge-light"> Procurement Approved: @Model.ProcurementStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-blue"> Procurement Approved: @Model.ProcurementStatusCount</span>
                                    }

                                </a>
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.Hold)/@Model.CommonStoreFK" title="Hold"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.Hold)
                                    {
                                        <span class="badge badge-light"> Hold: @Model.HoldStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-yellow"> Hold: @Model.HoldStatusCount</span>
                                    }

                                </a>
                                <br />
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.PartialPOCreated)/@Model.CommonStoreFK" title="Partial PO Created"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.PartialPOCreated)
                                    {
                                        <span class="badge badge-light"> Partial SR Created: @Model.PartialPOStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-orange"> Partial SR Created: @Model.PartialPOStatusCount</span>
                                    }

                                </a>
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.FullPOCreated)/@Model.CommonStoreFK" title="Full PO Created"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.FullPOCreated)
                                    {
                                        <span class="badge badge-light"> Full SR Created: @Model.FullPOStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-lime"> Full SR Created: @Model.FullPOStatusCount</span>
                                    }

                                </a>
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.InspectionDone)/@Model.CommonStoreFK" title="Inspection Done"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.InspectionDone)
                                    {
                                        <span class="badge badge-light"> Inspection Done: @Model.InspectionStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-teal"> Inspection Done: @Model.InspectionStatusCount</span>
                                    }

                                </a>
                                <a class="linkPointer" href="~/Store/StoreRequisition/@((int)Erp.Core.Services.SRStatusEnum.GoodsReceived)/@Model.CommonStoreFK" title="Goods Received"
                                   data-placement="top">
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.GoodsReceived)
                                    {
                                        <span class="badge badge-light"> Goods Received: @Model.GoodsReceivedStatusCount</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-green"> Goods Received: @Model.GoodsReceivedStatusCount</span>
                                    }

                                </a>
                            </div>
                        }
                    }


                </div>

                <div class="box-body">
                    <!--Body Will by Start Here-->
                    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })
                    @Html.HiddenFor(model => model.SRActionId, new { Value = "", id = "SRActionId" })
                    @Html.HiddenFor(model => model.CID, new { Value = "", id = "txtReqId" })
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })



                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped text-nowrap">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th class="hidden"></th>
                                    <th>Requisition No</th>
                                    @*<th>Requisition No</th>*@
                                    <th>Created By</th>
                                    <th>Created Date</th>
                                    @*<th>Item(s)</th>*@
                                    <th>Note</th>
                                    <th>From</th>
                                    <th>To</th>
                                    <th>Status</th>
                                    @if (Model.Status == Erp.Core.Services.SRStatusEnum.Closed)
                                    {
                                        <th>Closed/Cancelled By</th>
                                    }

                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }
                            <tbody>
                                @foreach (var item in Model.DataList)
                                {

                                    <tr>
                                        <td>@(++sl)</td>
                                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                        <td>
                                            @*~/Store/StoreRequisitionDetails/@item.ID/@Model.CommonStoreFK*@
                                            <a asp-action="StoreRequisitionDetails" asp-controller="Store" asp-route-id="@item.ID" asp-route-id2="@Model.CommonStoreFK" target="_blank" title="Print SR">
                                                <label class="col-form-label" style="cursor:pointer;"> @item.CID </label>
                                            </a>
                                        </td>
                                        @*<td id="@tdReqId@item.ID">@item.CID</td>*@
                                        <td id="'tdCreatedBy'@item.ID">@item.CreatedBy</td>
                                        <td id="'tdCreatedDate'@item.ID">@item.CreationDate.ToString("yyyy-MM-dd")</td>
                                        @*<td colspan="2" id="'tdItemNames'@item.ID">@item.ItemNames</td>*@
                                        <td id="@tdDescription@item.ID">@item.Description</td>
                                        <td>@item.VMStoreToName</td>
                                        <td>@item.VMStoreFromName</td>
                                        <td id="@tdStatus@item.ID">@item.AuthorizationStatus</td>
                                        @if (Model.Status == Erp.Core.Services.SRStatusEnum.Closed)
                                        {
                                            <td id="'tdClosedBy'@item.ID">@item.VMClosedByUserName</td>
                                        }
                                        <td>
                                            @{ if (item.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                                {


                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Submit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Submit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Submit"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                    </a>

                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                    </a>

                                                }
                                                else if (item.Status == Erp.Core.Services.SRStatusEnum.Submitted)
                                                {
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.PrimaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.PrimaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Primary Approve"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.UndoSubmit),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.UndoSubmit)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Undo Submit"
                                                       data-placement="top">
                                                        <i class="fa fa-undo" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else if (item.Status == Erp.Core.Services.SRStatusEnum.PrimaryApproved)
                                                {
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.FinalApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.FinalApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Final Approve"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.UndoPrimaryApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.UndoPrimaryApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                       data-placement="top">
                                                        <i class="fa fa-undo" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else if (item.Status == Erp.Core.Services.SRStatusEnum.FinalApproved)
                                                {
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.ProcurementApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.ProcurementApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Procurement Approve"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.UndoFinalApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.UndoFinalApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                       data-placement="top">
                                                        <i class="fa fa-undo" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else if (item.Status == Erp.Core.Services.SRStatusEnum.ProcurementApproved)
                                                {
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.UndoProcurementApprove),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.UndoProcurementApprove)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Un Approve"
                                                       data-placement="top">
                                                        <i class="fa fa-undo" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Hold),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Hold)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Hold"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-pause" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Cancel),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Cancel)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Cancel"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-ban-circle" aria-hidden="true"></i>
                                                    </a>
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.Close),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.Close)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Close"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else if (item.Status == Erp.Core.Services.SRStatusEnum.Closed)
                                                {
                                                    @*<a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,13);" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Re Open"
                                                           data-placement="top">
                                                            <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                                                        </a>*@
                                                }
                                                else if (item.Status == Erp.Core.Services.SRStatusEnum.Hold)
                                                {
                                                    <a id="@item.ID" onclick="menuinfo(this);itemActionInfo(@item.ID,4,@((int)Erp.Core.Services.SRActionEnum.ReOpen),'@Erp.Core.Services.BaseFunctionalities.GetEnumDescription(Erp.Core.Services.SRActionEnum.ReOpen)');" class="linkPointer" data-toggle="modal" data-target="#itemActionModal" title="Re-Open"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i>
                                                    </a>
                                                }
                                            }
                                            @{ if (item.Status == Erp.Core.Services.SRStatusEnum.Draft)
                                                {
                                                    <a id="@item.ID" class="linkPointer" href="~/Store/CreateSRProduction/@item.ID/@Model.CommonStoreFK" title="View & Edit Detail"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a id="@item.ID" class="linkPointer" href="~/Store/StoreRequisitionDetails/@item.ID/@Model.CommonStoreFK" title="View Detail"
                                                       data-placement="top">
                                                        <i class="glyphicon glyphicon-zoom-in" aria-hidden="true"></i>
                                                    </a>
                                                }
                                            }
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="itemActionModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Store Requisition</b></h5>

                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to <label id="lblSRActionName"></label>?</h3>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnDelete" class="deleteId btn btn-primary"><i class="glyphicon glyphicon-check"></i> Confirm</button>
                </div>
            </div>
        </div>
    </div>
}


@section scripts {

    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
            @*$(".datePicker").datepicker('setDate','@System.DateTime.Now.ToString("yyyy-MM-dd")');*@
        });

        function resetDDL() {

            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html("<i class='fa fa-floppy-o'></i>&nbsp;Save");

            $('.ddlReset').val('').trigger('change');
            $('#StoreRequisition').bootstrapValidator("resetForm", true);

        }

        function menuinfo(elem) {
            if (elem !== null) {

                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html("<i class='fa fa-edit'></i>&nbsp;Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#txtRequisitionId').val($('#tdReqId' + r).text().trim());
                if ($('#tdInspectionRequired' + r).text().trim() == "True") {
                    $("#chkInspectionRequired").prop("checked", true);
                }


                $('#txtRequisitionDate').datepicker('setDate', $('#tdRequisitionDate' + r).text().trim());
                $('#txtDescription').val($('#tdDescription' + r).text().trim());


                $("#ddlSupplier > option").each(function (ddlIndex, ddlItem) { $(ddlItem).attr("selected", false);});

                $('.ddlReset').trigger('change');


                @*$.ajax({
                    type: "GET",
                    url: "@Url.Action("PreferredSupplierListGet","Store")",
                    datatype: "Json",
                    data: { id: $('#hidId').val() },
                    success: function(data) {
                        //
                        if (data === typeof (Array)) {
                            var items = "";

                            $("#ddlSupplier > option").each(function(ddlIndex, ddlItem) {
                                //
                                var exists = $.grep(data,
                                    function(item, index) { return ddlItem.value == item.vmSupplierFK });
                                if (exists && exists.length > 0) {
                                    $(ddlItem).attr("selected", "selected");
                                }
                            });
                            $('.ddlReset').trigger('change');
                        }
                    }
                });*@
            }
        }

        function itemActionInfo(id, actionId, prActionId, prActionName) {

            if (id !== null && actionId !== null && prActionId !== null ) {
                $('#hidId').val(id);
                $('#ActionId').val(actionId);
                $('#SRActionId').val(prActionId);
                $("#lblSRActionName").html(prActionName);
            }
        }
        $("#btnClose").click(function (e) {
            e.preventDefault();
            $('#StoreRequisition').trigger("reset");
        });
    </script>
}


