﻿@model Erp.Core.Services.Store.VmStoreGeneral
@{
    ViewData["Title"] = "Create Store";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var tdDepartmentId = "tdDepartmentId";
    var tdId = "tdId";
    var td1 = "td1";
    var td2 = "td2";
    var td3 = "td3";
    var td4 = "td4";
}

<form asp-action="StoreAddorUpdate" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="box-header custom bg-success">
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-success">
                <div class="box-header custom bg-success">
                    <h4> Create Store </h4>
                </div>

                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="box-body">
                            <div class="box-body">
                                <!--Body Will by Start Here-->
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.ID, new { Value = "", id = "hidId" })
                                @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "ActionId" })

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="HRMS_BusinessUnitFK" class="control-label"></label>
                                            <select asp-for="HRMS_BusinessUnitFK" asp-items="@Model.BusinessUnitList" class="form-control" required>
                                                <option value=""> Select One </option>
                                            </select>
                                            <span asp-validation-for="HRMS_BusinessUnitFK" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="HRMS_UnitFK" class="control-label"></label>
                                            <select asp-for="HRMS_UnitFK" asp-items="@Model.UnitList" class="form-control" required>
                                                <option value=""> Select One </option>
                                            </select>
                                            <span asp-validation-for="HRMS_UnitFK" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="User_DepartmentFK" class="control-label"></label>
                                            <select asp-for="User_DepartmentFK" asp-items="@Model.DepartmentList" class="form-control" required>
                                                <option value=""> Select One </option>
                                            </select>
                                            <span asp-validation-for="User_DepartmentFK" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="Common_StoreTypeFK" class="control-label"></label>
                                            <select asp-for="Common_StoreTypeFK" asp-items="@Model.StoreTypeList" class="form-control" required>
                                                <option value=""> Select One </option>
                                            </select>
                                            <span asp-validation-for="Common_StoreTypeFK" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Store Name:</label>
                                            @Html.TextBoxFor(model => model.StoreName, new { id = "txt1", placeholder = "Store Name", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.StoreName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Location:</label>
                                            @Html.TextBoxFor(model => model.Location, new { id = "txt2", placeholder = "Location", @class = "form-control", required = "true", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="message-text" class="col-form-label">Description:</label>
                                            @Html.TextBoxFor(model => model.Description, new { id = "txt3", placeholder = "Description", @class = "form-control", autocomplete = "off" })
                                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                        @*<label for="message-text" class="col-form-label" style="color: white;width: 100%;">Action:</label>*@
                                        <button type="submit" id="btnSave" class="btn btn-success col-lg-1 col-md-2 col-sm-2 fa fa-save" style="margin-right: 5px"> Add </button>
                                        <button type="button" id="btnClose" class="btn btn-warning col-lg-1 col-md-2 col-sm-2 fa fa-close" data-dismiss="modal"> Cancel </button>&nbsp;&nbsp;

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="box box-success">
                    <div class="box-header custom bg-success">
                        <h4>Store List</h4>
                    </div>
                </div>

                <div class="box-body">
                    <!--Body Will by Start Here-->
                    <div class="table-responsive">
                        <table id="tableX" class="table table-striped text-nowrap">
                            <thead>
                                <tr class="bg-success">
                                    <th>SL</th>
                                    <th class="hidden"></th>
                                    <th class="hidden"></th>
                                    <th>Department</th>
                                    <th>Store Name</th>
                                    <th>Location</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            @{int sl = 0;
                            }

                            <tbody>
                                @foreach (var item in Model.DataList)
                                {
                                    <tr>
                                        <td>@(++sl)</td>
                                        <td id="@tdId@item.ID" class="hidden">@item.ID</td>
                                        <td class="hidden">
                                            <input type="hidden" id="@tdDepartmentId@item.ID" value="@item.User_DepartmentFK" />
                                        </td>
                                        <td id="@td4@item.ID">@item.Department</td>
                                        <td id="@td1@item.ID">@item.StoreName</td>
                                        <td id="@td2@item.ID">@item.Location</td>
                                        <td id="@td3@item.ID">@item.Description</td>

                                        <td>
                                            <a id="@item.ID" onclick="menuinfo(this);" class="linkPointer hidden" title="Edit" data-placement="top">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                            <a onclick="deleteItemInfo(@item.ID);" class="linkPointer" data-toggle="modal" data-target="#deleteModal" title="Delete" data-placement="top">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<form asp-action="StoreAddorUpdate" class="formValidator">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="box-header custom bg-success">
    </div>
  
    @Html.HiddenFor(model => model.ID, new { Value = "", id = "hdId" })
    @Html.HiddenFor(model => model.ActionId, new { Value = "", id = "hdActionId" })
    <div class="modal fade" id="deleteModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-success">
                    <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                        &times;
                    </button>
                    <h5 class="modal-title"><b>Item Delete</b></h5>
                </div>
                <div class="modal-body">
                    <div style="text-align:center">
                        <h3>Are you sure to delete?</h3>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btncloseandreset" class="btn btn-warning fa fa-close" data-dismiss="modal"> Cancel </button>
                    <button type="submit" id="btnsave" class="btn btn-primary fa fa-trash-o"> Delete </button>&nbsp;&nbsp;&nbsp;
                </div>
            </div>
        </div>
    </div>
</form>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.formValidator').bootstrapValidator();
        });
        function menuinfo(elem) {
            if (elem !== null) {
                var r = elem.id;
                $('#hidId').val(r);
                $('#ActionId').val(2);
                $('#btnSave').html(" Update");
                $('#hidId').val($('#tdId' + r).text().trim());
                $('#User_DepartmentFK').val($('#tdDepartmentId' + r).val().trim()).trigger('change');
                $('#User_DepartmentFK').prop("disabled", true);
                $('#txt1').val($('#td1' + r).text().trim());
                $('#txt2').val($('#td2' + r).text().trim());
                $('#txt3').val($('#td3' + r).text().trim());
                //$('#txt3').val($('#td3' + r).text().trim());
            }
        }
        function deleteItemInfo(id) {
            
            if (id !== null) {

                $('#hdId').val(id);
                $('#hdActionId').val(3);
            }
        }
        function resetDDL() {
            $('#hidId').empty();
            $('#ActionId').val(1);
            $('#btnSave').html(" Add");

            $('.ddlReset').val('').trigger('change');
            $('#Store').bootstrapValidator("resetForm", true);

        }
        $("#btnClose").click(function (e) {
            e.preventDefault();
            $('#Store').trigger("reset");
            $('#User_DepartmentFK').prop("disabled", false);
        });

        $("#HRMS_BusinessUnitFK").change(function (e) {           
            $.ajax({
                type: "GET",
                url: "@Url.Action("UnitListGetByBuIdAsync")",
                datatype: "Json",
                data: { id: $("#HRMS_BusinessUnitFK :selected").val() },
                success: function (data) {
                    
                    if (data) {
                        $("#HRMS_UnitFK").empty();
                        $("#HRMS_UnitFK").append("<option value='' selected> Select One </option>");
                        $(data).each(function (index, item) {
                            $("#HRMS_UnitFK").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });

        $("#HRMS_UnitFK").change(function (e) {           
            $.ajax({
                type: "GET",
                url: "@Url.Action("DepartmentListGetByUIdAsync")",
                datatype: "Json",
                data: { id: $("#HRMS_UnitFK :selected").val() },
                success: function (data) {

                    if (data) {
                        $("#User_DepartmentFK").empty();
                        $("#User_DepartmentFK").append("<option value='' selected> Select One </option>");
                        $(data).each(function (index, item) {
                            $("#User_DepartmentFK").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
        });
    </script>
}
