﻿@model Erp.Core.Services.Store.VmStoreOut

@{
    ViewData["Title"] = "Store-Out";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var SRStoreName = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRStoreName = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRStoreName = "(Sewing) :";
    }
    else if (Model.CommonStoreFK == 4)
    {
        SRStoreName = "(Ironing) :";
    }
    else if (Model.CommonStoreFK == 5)
    {
        SRStoreName = "(Packing) :";
    }
    else if (Model.CommonStoreFK == 6)
    {
        SRStoreName = "(Finishing) :";
    }
    else if (Model.CommonStoreFK == 8)
    {
        SRStoreName = "(Knitting) :";
    }

}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store-Out Information @SRStoreName
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box-body">
                        <div class="row">
                            <form asp-action="StoreOut">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="box-header custom bg-success">
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="StoreInType" class="control-label"></label>
                                                <select asp-for="StoreInType" asp-items="Model.StoreOutTypeList" class="form-control" required>
                                                    <option value=""> Select Store-In Type </option>
                                                </select>
                                                <span asp-validation-for="StoreInType" class="text-danger"></span>
                                            </div>
                                            <div class="">
                                                <input asp-for="InternalChallanNumber" class="form-control hidden" id="hdChallanNumber" />
                                                <input asp-for="CommonStoreName" class="form-control hidden" id="hdCommonStoreName" />
                                                <input asp-for="CommonStoreNameTo" class="form-control hidden" id="hdCommonStoreNameTo" />
                                                <input asp-for="Store_GeneralInFK" class="form-control hidden" id="hdCommonStoreToFK" />

                                                <input asp-for="IpoNumber" class="form-control hidden" id="hdIpoNumber" />
                                                <input asp-for="CommonSupplierName" class="form-control hidden" id="hdCommonSupplierName" />
                                            </div>
                                            <div class="form-group hidden" id="Storeddl">
                                                <label class="control-label">Store Name (Transfer From)</label>
                                                <select asp-for="CommonStoreFK" asp-items="Model.StoreList" class="form-control">
                                                    <option value=""> Select Store Name </option>
                                                </select>
                                                <span asp-validation-for="CommonStoreFK" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" id="ChallanNotxt">
                                                <label asp-for="ChallanNo" class="control-label"></label>
                                                <input asp-for="ChallanNo" class="form-control" placeholder="Challlan Number" id="ChallanNotx" />
                                                <span asp-validation-for="ChallanNo" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group hidden" Id="ChallanNoddl">
                                                <label class="control-label">Store Requisition</label>
                                                <select asp-for="IPOFK" asp-items="Model.IsrList" class="form-control">
                                                    <option value="-1"> Select Store Requisition </option>
                                                </select>
                                                <span asp-validation-for="IPOFK" class="text-danger"></span>
                                            </div>
                                            <div class="form-group" id="SupplierChallanddl">
                                                <label class="control-label"> Supplier Challan</label>
                                                <select asp-for="StoreChallanFK" asp-items="Model.SupplierChallanList" class="form-control searchingDropdown ">
                                                    <option value="-1"> Select Challan Number </option>
                                                </select>
                                            </div>
                                            <div class="form-group " id="Supplierddl">
                                                <label asp-for="CommonSupplierFK" class="control-label"></label>
                                                <select asp-for="CommonSupplierFK" asp-items="Model.SupplierList" class="form-control searchingDropdown ">
                                                    <option value=""> Supplier will be select automatic </option>
                                                </select>
                                                <span asp-validation-for="CommonSupplierFK" class="text-danger"></span>
                                            </div>
                                            <div class="form-group hidden" id="StoreToddl">
                                                <label class="control-label">Store Name (Transfer To)</label>
                                                <select asp-for="Store_GeneralInFK" asp-items="Model.StoreList" class="form-control">
                                                    <option value=""> Select Store Name </option>
                                                </select>
                                                <span asp-validation-for="Store_GeneralInFK" class="text-danger"></span>
                                            </div>

                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="Remarks" class="control-label"></label>
                                                <input asp-for="Remarks" class="form-control" placeholder="Remarks" />
                                                <span asp-validation-for="Remarks" class="text-danger"></span>
                                            </div>
                                            <div class="form-group hidden">
                                                <label asp-for="ReceivedDate" class="control-label"></label>
                                                <input asp-for="ReceivedDate" class="form-control datefield" value="@ViewBag.Datetoday" placeholder="Received Date " />
                                                <span asp-validation-for="ReceivedDate" class="text-danger"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                        @*<label for="message-text" class="col-form-label" style="color: white; width: 100%;">Action:</label>*@
                                        <button asp-action="StoreOutAdd" asp-route-id="0" asp-route-id2="@Model.CommonStoreFK" type="submit" id="add" class="btn btn-success col-lg-1 col-md-2 col-sm-2 fa fa-plus"> Add </button>&nbsp;&nbsp;&nbsp;
                                        <button asp-action="StoreOutSaleReturn" asp-route-id="@Model.CommonStoreFK" type="submit" id="addSaleReturn" class="btn btn-success col-lg-1 col-md-2 col-sm-2 fa fa-plus hidden"> Add </button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </form>
                        </div>
                        <br />

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box box-success">
                        <div class="box-header custom bg-success" id="generalHead">
                            <h4>
                                Store-Out Item List:
                            </h4>
                        </div>
                        <div class="box-body">
                            <form asp-action="">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="table-responsive">
                                    <table id="tableX" class="table table-striped text-nowrap">
                                        <thead>
                                            <tr class="bg-success">
                                                <th>SL No</th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CID)
                                                </th>
                                                <th class="">
                                                    @Html.DisplayNameFor(model => model.ChallanNo)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.ChallanDate)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.ReceivedDate)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.WarrentyDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Name)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Description)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.StockType)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Remarks)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.RemainingQty)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.DamagedQty)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ReceivedQty)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.ItemIDFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.IPOFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonSupplierFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonStoreFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.StoreBinFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonCategoryFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonSubCategoryFK)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.FixAsset)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.BinDefine)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.IsActive)
                                                </th>
                                                <th class="hidden"></th>
                                            </tr>
                                        </thead>
                                        @{int sl = 0;}
                                        <tbody>
                                            @for (var i = 0; i < Model.DataLists.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @(++sl).
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CID)
                                                    </td>
                                                    <td class="">
                                                        <a>
                                                            @Html.DisplayFor(modelItem => Model.DataLists[i].ChallanNo)
                                                        </a>
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].ChallanDate)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].ReceivedDate)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].WarrentyDate)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].Name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].Description)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].StockType)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].Remarks)
                                                    </td>
                                                    <td>
                                                        @Math.Round(@Model.DataLists[i].RemainingQty)
                                                        @*@Html.DisplayFor(modelItem => Model.DataLists[i].RemainingQty)*@
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].DamagedQty)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].ReceivedQty)
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].UnitName)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonUnitFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].ItemIDFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].IPOFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonSupplierFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonStoreFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].StoreBinFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonCategoryFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonSubCategoryFK)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].FixAsset)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].BinDefine)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].IsActive)
                                                    </td>
                                                    <td class="hidden">
                                                        <a asp-action="StoreAddorUpdate" asp-route-id="@Model.DataLists[i].ID">Edit</a> |
                                                        <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Delete</a>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(document).ready(function () { });

        $("#StoreInType").change(function () {

            if ($("#StoreInType").val() == "2") {

                $("#ChallanNotxt").addClass("hidden");
                $("#IPOtxt").addClass("hidden");
                $("#Supplierddl").addClass("hidden");
                $("#SupplierChallanddl").addClass("hidden");
                $('#addSaleReturn').addClass("hidden");

                $('#add').removeClass("hidden");
                $("#ChallanNoddl").removeClass("hidden");
                $("#StoreToddl").removeClass("hidden");
                $("#Storeddl").removeClass("hidden");

                $('#Supplierddl').val(-1).trigger('change');
                $('#IPOFK').val(-1).trigger('change');



            } else {

                $("#ChallanNotxt").removeClass("hidden");
                $("#IPOtxt").removeClass("hidden");
                $("#Supplierddl").removeClass("hidden");
                $("#SupplierChallanddl").removeClass("hidden");
                $('#addSaleReturn').removeClass("hidden");

                $('#add').addClass("hidden");
                $("#ChallanNoddl").addClass("hidden");
                $("#StoreToddl").addClass("hidden");
                $("#Storeddl").addClass("hidden");

                $('#Supplierddl').val(-1).trigger('change');
                $('#IPOFK').val(-1).trigger('change');
            }

        });
        $("#IPOFK").change(function () {
            var selectedISR = $(this).children("option:selected").text();
            $("#hdChallanNumber").val(selectedISR);
            var id = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "/Store/GetStoreIdsByChallanId?id=" + id,
                datatype: "Json",

                success: function (data) {
                    if (data) {
                        var ids = data.split('_');
                        debugger;
                        $('#CommonStoreFK').val(ids[0]).prop('disabled', true);
                        $('#Store_GeneralInFK').val(ids[1]).prop('disabled', true);

                        var name = $('#CommonStoreFK').children("option:selected").text();
                        var nameTo = $('#Store_GeneralInFK').children("option:selected").text();

                        $('#hdCommonStoreName').val(name);
                        $('#hdCommonStoreNameTo').val(nameTo);
                        $('#hdCommonStoreToFK').val(ids[1]);

                    }
                }
            });
        });

        $("#StoreChallanFK").change(function () {
            var id = $(this).children("option:selected").val();
            var ipo = $(this).children("option:selected").text();
            $("#hdIpoNumber").val(ipo);

            $.ajax({
                type: "GET",
                url: "/Store/GetSupplierIdBySupplierChallanID?id=" + id,
                datatype: "Json",

                success: function (data) {
                    if (data) {

                        $('#CommonSupplierFK').val(data).prop('disabled', true);
                        var supplierName = $('#CommonSupplierFK').children("option:selected").text();
                        $("#hdCommonSupplierName").val(supplierName);
                    }
                }
            });
        });

    </script>
}
