﻿@model Erp.Core.Services.Store.VmStoreIn

@{
    ViewData["Title"] = "Store Details";
    Layout = "~/Views/Shared/_Layout.cshtml";


}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Store-In Information For New Purchase(Main)
                </h4>
            </div>
            <div class="box-body">
                <form asp-action="">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="table-responsive">
                        <table class="table table-striped text-nowrap">
                            <thead>
                                <tr>

                                    <th>

                                        Item Name
                                    </th>

                                    <th>
                                        Stock Type
                                    </th>
                                    <th>
                                        PO Qty
                                    </th>
                                    <th>
                                        Remaining Qty
                                    </th>
                                    <th>
                                        Damaged Qty
                                    </th>
                                    <th>
                                        Received Qty
                                    </th>
                                    <th>
                                        Asset
                                    </th>
                                    <th>
                                        Bin Define
                                    </th>

                                </tr>
                            </thead>


                            <tbody>
                                <tr>
                                    <td>
                                        <input type="text" name="Item" value="SJ Grey Melange" class="form-control" readonly />

                                    </td>
                                    <td>
                                        <input type="text" name="Stock Type" value="Production" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input type="number" name="POQty" value="500" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input type="number" name="RemainingQty" value="500" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input type="number" name="DamagedQty" value="0.00" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="number" name="ReceivedQty" value="0.00" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="text" name="Item" value="SJ Navy" class="form-control" readonly />

                                    </td>
                                    <td>
                                        <input type="text" name="Stock Type" value="Production" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input type="number" name="POQty" value="500" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input type="number" name="RemainingQty" value="500" class="form-control" readonly />
                                    </td>
                                    <td>
                                        <input type="number" name="DamagedQty" value="0.00" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="number" name="ReceivedQty" value="0.00" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                    <td>
                                        <input type="checkbox" />
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <div class="modal-footer">

                            <button asp-action="SaveAllItem" id="SaveAllItem" type="submit" class="btn btn-success fa fa-save" disabled="disabled"> Save All Item </button> &nbsp;&nbsp;&nbsp;
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h4>
                    Item Wise Store Information:
                </h4>
            </div>
            <div class="table-responsive">
                <table class="table table-striped text-nowrap">
                    <thead>
                        <tr>
                            <th>SL.</th>
                            <th>
                                Item Name
                            </th>

                            <th>
                                Stock Type
                            </th>
                            <th>
                                PO Qty
                            </th>
                            <th>
                                Remaining Qty
                            </th>
                            <th>
                                Damaged Qty
                            </th>
                            <th>
                                Received Qty
                            </th>
                            <th>
                                Asset
                            </th>
                            <th>
                                Bin Define
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>SJ Grey Melange</td>
                            <td>Production</td>
                            <td>500</td>
                            <td>500</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>No</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>SJ Navy</td>
                            <td>Production</td>
                            <td>500</td>
                            <td>500</td>
                            <td>0.00</td>
                            <td>0.00</td>
                            <td>No</td>
                            <td>Yes</td>
                        </tr>

                    </tbody>
                </table>
            </div>

         
        </div>
    </div>
</div>



