﻿@model Erp.Core.Services.Store.VmStoreAssetRegister

@{
    ViewData["Title"] = "Store Asset Register";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var SRSaveText = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRSaveText = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRSaveText = "(Sewing) :";
    }
}

<style type="text/css">
    input {
        width: 100px;
    }
</style>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Asset Register Information @SRSaveText
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box-body">
                        <form asp-action="StoreIn">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="box-header custom bg-success">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="StoreGeneralFK" class="control-label"></label>
                                            <select asp-for="StoreGeneralFK" asp-items="Model.StoreList" class="form-control " disabled="disabled">
                                                <option value="-1"> Select Store Name </option>
                                            </select>
                                            <span asp-validation-for="StoreGeneralFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CommonModelFK" class="control-label"></label>
                                            <select asp-for="CommonModelFK" asp-items="Model.ModelList" class="form-control searchingDropdown" disabled="disabled">
                                                <option value="-1"> Select Molel Name </option>
                                            </select>
                                            <span asp-validation-for="CommonModelFK" class="text-danger"></span>
                                        </div>

                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="RawItemFK" class="control-label"></label>
                                            <select asp-for="RawItemFK" asp-items="Model.RawItemList" class="form-control searchingDropdown" disabled="disabled">
                                                <option value="-1"> Select Item Name </option>
                                            </select>
                                            <span asp-validation-for="RawItemFK" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Remarks" class="control-label"></label>
                                            <input asp-for="Remarks" class="form-control" placeholder="Remarks" disabled="disabled" />
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label asp-for="CommonBrandFK" class="control-label"></label>
                                            <select asp-for="CommonBrandFK" asp-items="Model.BrandList" class="form-control searchingDropdown" disabled="disabled">
                                                <option value="-1"> Select Brand Name </option>
                                            </select>
                                            <span asp-validation-for="CommonBrandFK" class="text-danger"></span>
                                        </div>

                                        <div class="form-group hidden">
                                            <label asp-for="ReceivedDate" class="control-label"></label>
                                            <input asp-for="ReceivedDate" class="form-control datefield" value="@ViewBag.Datetoday" placeholder="Received Date " type="text" disabled="disabled" />

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row hidden">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                    <button asp-action="StoreAssetRegister" type="submit" id="btnsave" class="btn btn-success fa fa-plus"> Change Asset Register </button>&nbsp;&nbsp;&nbsp;
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="box box-success">
                        <div class="box-header custom bg-success" id="generalHead">
                            <h4>
                                Asset Register List
                            </h4>
                        </div>

                        <form asp-action="SaveAllRegisterItem">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="box-body">
                                <div class="table-responsive">
                                    <table id="tableXX" class="table table-striped text-nowrap">
                                        <thead>
                                            <tr class="bg-success">
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CID)
                                                </th>
                                                <th class="btn-success">
                                                    @Html.DisplayNameFor(model => model.ItemSLNO)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.ItemName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.LotQty)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.UnitPrice)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CommonBrandName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CommonModelName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CommonUnitName)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.StockInFk)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.RawItemFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.MinPrice)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.Status)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonBrandFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonModelFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.CommonDepartmentFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.EmployeeFK)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.ReceivedDate)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.LifeTime)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Remarks)
                                                </th>
                                                <th class="hidden">
                                                    @Html.DisplayNameFor(model => model.IsActive)
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @for (var i = 0; i < Model.DataLists.Count; i++)
                                            {
                                                <tr>
                                                    <td>
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CID)
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].ItemSLNO)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].ItemName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].LotQty)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].UnitPrice)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonBrandName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonModelName)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => Model.DataLists[i].CommonUnitName)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].LotQty)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].UnitPrice)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].StockInFk)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].RawItemFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].MinPrice)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Status)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonUnitFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonBrandFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonModelFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].CommonDepartmentFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].EmployeeFK)
                                                    </td>
                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedDate)
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].LifeTime)
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].Remarks)
                                                    </td>

                                                    <td class="hidden">
                                                        @Html.EditorFor(modelItem => Model.DataLists[i].IsActive)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="modal-footer">
                                        <button asp-action="SaveAllRegisterItem" id="saveRegItem" type="submit" class="btn btn-success fa fa-save" disabled="disabled"> Save All Item </button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.box-model -->

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    var count = @Model.DataLists.Count;
    for (var id = 1; id <= count; ++id) {
        var name = '@ViewBag.Name';
        var row = id - 1;
        $('#DataLists_' + row + '__ItemSLNO').val(name + "/" + id).prop('readonly', true);
        $("#saveRegItem").removeAttr("disabled");
    }

        $("#ChallanNo").change(function() {
            var id = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "/Store/GetStoreIdByChallanID?id=" + id,
                datatype: "Json",

                success: function(data) {
                    if (data) {
                        $('#CommonStoreFK').val(data).prop('disabled', true);
                        var name = $('#CommonStoreFK').children("option:selected").text();
                        
                        $('#hdCommonStoreName').val(name);
                    }
                }
            });
        });

        $("table tr").keyup(function () {
            topId = this.rowIndex - 1;
            itemSerialNumber = $('#DataLists_' + topId + '__CID').val();

            for (var id = topId-1; id >= 0; --id) {

                itemSerialExits = $('#DataLists_' + id + '__CID').val();

                if (itemSerialNumber == itemSerialExits) {

                    alert("You can not received " + itemSerialNumber + " Item, Already Exits ");
                    $('#DataLists_' + topId + '__CID').val("");

                } else {

                    //alert('hi');
                    //$.ajax({
                    //    type: "GET",
                    //    url: "/Store/GetSupplierIdBySupplierChallanID?id=" + id,
                    //    datatype: "Json",

                    //    success: function (data) {
                    //        if (data) {

                    //            topId = this.rowIndex - 1;
                    //            itemSerialNumber = $('#DataLists_' + topId + '__CID').val();
                    //            

                    //            for (var id = topId - 1; id >= 0; --id) {

                    //                itemSerialExits = $('#DataLists_' + id + '__CID').val();

                    //                if (itemSerialNumber == itemSerialExits) {

                    //                    alert("You can not received " + itemSerialNumber + " Item, Already Exits ");
                    //                    $('#DataLists_' + topId + '__CID').val("");
                    //                }
                    //            }
                    //        }
                    //    }
                    //});
                }
            }
        });

        //function GetdataFromDb() {
        //    $.ajax({
        //        type: "GET",
        //        url: "/Store/GetSupplierIdBySupplierChallanID?id=" + id,
        //        datatype: "Json",

        //        success: function (data) {
        //            if (data) {

        //                topId = this.rowIndex - 1;
        //                itemSerialNumber = $('#DataLists_' + topId + '__CID').val();
        //                

        //                for (var id = topId - 1; id >= 0; --id) {

        //                    itemSerialExits = $('#DataLists_' + id + '__CID').val();

        //                    if (itemSerialNumber == itemSerialExits) {

        //                        alert("You can not received " + itemSerialNumber + " Item, Already Exits ");
        //                        $('#DataLists_' + topId + '__CID').val("");
        //                    }
        //                }
        //            }
        //        }
        //    })
        //}

    </script>

}