﻿@model Erp.Core.Services.Store.VmStoreOut

@{
    ViewData["Title"] = "Store-Out Information:";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var SRSaveText = "(Main) :";
    var SRStoreName = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRStoreName = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRStoreName = "(Sewing) :";
    }
    else if (Model.CommonStoreFK == 4)
    {
        SRStoreName = "(Ironing) :";
    }
    else if (Model.CommonStoreFK == 5)
    {
        SRStoreName = "(Packing) :";
    }
    else if (Model.CommonStoreFK == 6)
    {
        SRStoreName = "(Finishing) :";
    }
    else if (Model.CommonStoreFK == 10)
    {
        SRStoreName = "(Knitting) :";
    }
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store-Out Information @SRStoreName
                </h1>
            </div>
            <!-- /.box-header -->
            <div class="row" id="createForm">
                <div class="col-lg-12 col-md-12 col-sm-12">


                    <form asp-action="StoreOut">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="box-header custom bg-success">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Store Requisition</label>
                                        <input asp-for="InternalChallanNumber" class="form-control" disabled="disabled" />
                                        <span asp-validation-for="InternalChallanNumber" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Remarks" class="control-label"></label>
                                        <input asp-for="Remarks" class="form-control" placeholder="Remarks" disabled="disabled" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Store Name (Transfer From)</label>
                                        <input asp-for="CommonStoreName" class="form-control" disabled="disabled" />
                                        <span asp-validation-for="CommonStoreName" class="text-danger"></span>
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Store Name (Transfer To)</label>
                                        <input asp-for="CommonStoreNameTo" class="form-control" disabled="disabled" />
                                        <span asp-validation-for="CommonStoreNameTo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                @*<label for="message-text" class="col-form-label" style="color: white;width: 100%;">Action:</label>*@
                                <button asp-action="StoreOut" type="submit" id="btnsave" class="btn btn-success col-lg-2 col-md-2 col-sm-2 fa fa-edit"> Change Store Requisition </button>&nbsp;&nbsp;&nbsp;
                            </div>
                        </div>
                        <div class="box-footer"></div>
                    </form>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="box box-success">
                                <div class="box-header custom bg-success" id="generalHead">
                                    <h4>
                                        Store-Out Item List:
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <form asp-action="" asp-controller="">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="table-responsive">
                                            <table id="tableX_" class="table table-striped text-nowrap">
                                                <thead>
                                                    <tr class="bg-success">
                                                        <th><label class="form-control col-md-1" style="width: 35px;"> <input type="checkbox" id="MainCheckbox" onchange="$('.checkBoxClass').prop('checked', $(this).is(':checked'));" /> </label> </th>

                                                        <th>SL No</th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StyleName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Name)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ChallanNo)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StockType)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.StoreAvailableQty)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.RequisitionQuantity)
                                                        </th>
                                                        <th>
                                                            SR Remaining Qty
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.DamagedQty)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ReceivedQty)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                        </th>

                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.Store_StockOutMasterFK)
                                                            @Html.DisplayNameFor(model => model.Common_RawItemFK)
                                                            @Html.DisplayNameFor(model => model.CID)
                                                            @Html.DisplayNameFor(model => model.ChallanDate)
                                                            @Html.DisplayNameFor(model => model.ReceivedDate)
                                                            @Html.DisplayNameFor(model => model.Description)
                                                            @Html.DisplayNameFor(model => model.Remarks)
                                                            @Html.DisplayNameFor(model => model.WarrentyDate)
                                                            @Html.DisplayNameFor(model => model.CommonUnitFK)
                                                            @Html.DisplayNameFor(model => model.ItemIDFK)
                                                            @Html.DisplayNameFor(model => model.IPOFK)
                                                            @Html.DisplayNameFor(model => model.CommonSupplierFK)
                                                            @Html.DisplayNameFor(model => model.Store_GeneralOutFK)
                                                            @Html.DisplayNameFor(model => model.Store_GeneralInFK)
                                                            @Html.DisplayNameFor(model => model.StoreBinFK)
                                                            @Html.DisplayNameFor(model => model.CommonCategoryFK)
                                                            @Html.DisplayNameFor(model => model.CommonSubCategoryFK)
                                                            @Html.DisplayNameFor(model => model.FixAsset)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.BinDefine)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.IsActive)
                                                        </th>
                                                        <th class="hidden">Action</th>
                                                    </tr>
                                                </thead>
                                                @{int sl = 0;}
                                                <tbody>
                                                    @for (var i = 0; i < Model.DataLists.Count; i++)
                                                    {
                                                        <tr>
                                                            <td class="bg-success"> <label class="form-control" style="width: 35px;"> <input asp-for="@Model.DataLists[i].IsForSave" type="checkbox" class="checkBoxClass" id="Checkbox@(i)" /></label></td>
                                                            <td>
                                                                @(++sl).
                                                            </td>
                                                            <td>
                                                                @Model.DataLists[i].StyleName
                                                            </td>
                                                            <td>
                                                                @Model.DataLists[i].Name
                                                            </td>
                                                            <td>
                                                                @Model.DataLists[i].ChallanNo
                                                            </td>
                                                            <td>
                                                                @Model.DataLists[i].StockType
                                                            </td>
                                                            <td>
                                                                @Math.Round(@Model.DataLists[i].StoreAvailableQty)
                                                            </td>
                                                            <td>
                                                                @Math.Round(@Model.DataLists[i].RequisitionQuantity)
                                                            </td>
                                                            <td>
                                                                @Math.Round(@Model.DataLists[i].RemainingQty)
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].DamagedQty, new { @class = "col-md-8" })
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedQty, new { @class = "col-md-2" })
                                                            </td>
                                                            <td>
                                                                @Model.DataLists[i].UnitName
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Common_ColorFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Common_Size)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonUnitFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Merchandising_StyleFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Merchandising_StyleSlaveFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Procurement_PurchaseOrderSlaveFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Store_RequisitionSlaveFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CID)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Common_RawItemFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Store_StockOutMasterFK)

                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ChallanNo)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ChallanDate)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ReceivedDate)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Description)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Remarks)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].StoreAvailableQty)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].RequisitionQuantity)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].RemainingQty)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].WarrentyDate)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonUnitFK)

                                                                @Html.EditorFor(modelItem => Model.DataLists[i].ItemIDFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].IPOFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonSupplierFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonStoreFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Store_GeneralOutFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].Store_GeneralInFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].StoreBinFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].CommonSubCategoryFK)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].FixAsset)
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].UnitPrice)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].BinDefine)
                                                                <a id="@Model.DataLists[i].ItemIDFK" onclick="addBinInfo(this, '@Model.DataLists[i].Name', @Model.DataLists[i].ReceivedQty)" class="linkPointer" data-toggle="modal" data-target="#addBinModal" title="Edit" data-placement="top">
                                                                    Define
                                                                </a>
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.EditorFor(modelItem => Model.DataLists[i].IsActive)
                                                            </td>
                                                            <td class="hidden">
                                                                <a asp-action="StoreOutAdd" asp-route-id="@Model.DataLists[i].ID">Edit</a> |
                                                                <a asp-action="Delete" asp-route-id="@Model.DataLists[i].ID">Delete</a>
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="modal-footer">                                          
                                            <button asp-action="SaveAllItemStoreOut" asp-route-Id="0" asp-route-id2="@Model.CommonStoreFK" id="SaveAllItemStoreOut" type="submit" class="btn btn-success fa fa-save" disabled="disabled" onclick=" if (!$('.checkBoxClass').filter(':checked') || $('.checkBoxClass').filter(':checked').length <= 0) { alert('Select at-least one Item!'); return false; }"> Store Out All Item</button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.box-model -->

            <div class="modal fade" id="addBinModal" data-toggle="modal" data-backdrop="static" data-keyboard="false" role="dialog">
                <div class="modal-dialog" style="width: 60%;" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">&times;</button>
                            <h5 class="modal-title"><b>Add BIN Number</b></h5>
                        </div>
                        <div class="modal-body box-body">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Item Name</label>
                                        <input asp-for="ID" class="form-control hidden" />
                                        <input asp-for="Name" class="form-control" disabled="disabled" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 hidden">
                                    <div class="form-group">
                                        <label class="control-label">Received Qty</label>
                                        <input asp-for="ReceivedQty" class="form-control" type="text" disabled="disabled" />
                                        <span asp-validation-for="ReceivedQty" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">BIN Number</label>
                                        <select asp-for="StoreBinFK" asp-items="ViewBag.BinList" class="form-control">
                                            <option value="0"> Select BIN Number</option>
                                        </select>
                                        <span asp-validation-for="StoreBinFK" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Remarks</label>
                                        <input asp-for="Remarks" class="form-control" type="text" />
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning fa fa-close" data-dismiss="modal"> Close</button>
                            <button id="btnBinAdd" asp-action="AddBinByItem" type="submit" class="btn btn-success fa fa-save" data-dismiss="modal">&nbsp;&nbsp;&nbsp;Save</button>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog" style="display: none">

    </div>
</div>


<style type="text/css">
    .threepx {
        width: 400px;
    }
</style>
@section Scripts
    {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    /**/
    /**/
    @*@{await Html.RenderPartialAsync("_DatepickerPartial");}*@
    /**/
    /**/
    <script type="text/javascript">
        $(document).ready(function () {
            var count = @Model.DataLists.Count;
            for (var id = 0; id < count; ++id) {
                $('#DataLists_' + id + '__ChallanNo').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__ChallanDate').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__ReceivedDate').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__Name').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__StockType').prop('checked', true).prop('readonly', true);
                $('#DataLists_' + id + '__Remarks').prop('checked', true).prop('readonly', true);

                $('#DataLists_' + id + '__RemainingQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__DamagedQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__ReceivedQty').prop('checked', true).prop('readonly', true);
                //$('#DataLists_' + id + '__BinDefine').prop('checked', true).prop('readonly', true);
                $("#SaveAllItemStoreOut").removeAttr("disabled");
            }
        });
        var id = 0;
        var storeAvailQty = 0;
        var remQty = 0;
        var qty = 0;
        function addBinInfo(e,name, qty) {
            if (e != null) {
                //$(".modal-body input select").val("");
                $("#ID").val(e.id);
                $("#Name").val(name);
                $("#ReceivedQty").val(qty);

                $("table tr").click(function() {
                    id = this.rowIndex - 1;
                });
            }
        }
        $("table tr").keyup(function () {
            id = this.rowIndex - 1;
            storeAvailQty = parseFloat($('#DataLists_' + id + '__StoreAvailableQty').val());
            remQty = parseFloat($('#DataLists_' + id + '__RemainingQty').val());
            var recQty = parseFloat($('#DataLists_' + id + '__ReceivedQty').val());
            qty = remQty - recQty;

            if (storeAvailQty < recQty || recQty == 0 || qty < 0 || remQty < recQty) {
                alert("You can not store out 0 qty or getter then Store Available or SR Remaining Qty " + remQty);
                $('#DataLists_' + id + '__ReceivedQty').val(remQty);
                $("#SaveAllItemStoreOut").attr("disabled", "disabled");
            }
            else {
                $("#SaveAllItemStoreOut").removeAttr("disabled");
                return false;
            }
        });
        $("#btnBinAdd").click(function(){
            $.ajax({
                type: "GET",
                url: "/Store/AddBinByItem?id=" + $("#ID").val() + "&binId=" + $("#StoreBinFK :selected").val() + "&remarks=" + $("#Remarks").val() + "&qty=" + $("#ReceivedQty").val(),
                datatype: "Json",

                success: function (data) {
                    if (data) {
                        alert("Data Saved Successfully");
                        var value = $("#StoreBinFK :selected").val();
                        $("#Store_BinFK option[value = " + value + "]").remove();

                        $('#DataLists_' + id + '__BinDefine').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__ChallanNo').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__ChallanDate').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__ReceivedDate').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__Name').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__StockType').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__Remarks').prop('checked', true).prop('readonly', true);

                        $('#DataLists_' + id + '__RemainingQty').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__DamagedQty').prop('checked', true).prop('readonly', true);
                        $('#DataLists_' + id + '__ReceivedQty').prop('checked', true).prop('readonly', true);

                    }
                }
            });
        });
        $("#StoreInType").change(function () {

            if ($("#StoreInType").val() == "2") {
                $("#ChallanNoddl").removeClass("hidden");
                $("#ChallanNotxt").addClass("hidden");
                $('#IPOFK').val(-1).trigger('change');
                $("#IPOFK").prop('disabled', true);

                $("#Storeddl").removeClass("hidden");
                $("#Supplierddl").addClass("hidden");
                $('#Supplierddl').val(-1).trigger('change');

            } else {

                $("#ChallanNoddl").addClass("hidden");
                $("#ChallanNotxt").removeClass("hidden");
                $("#IPOFK").prop('disabled', false);

                $("#Supplierddl").removeClass("hidden");
                $("#Storeddl").addClass("hidden");
                $('#Supplierddl').val(-1).trigger('change');
            }

        });
        $("#ChallanNo").change(function () {

            var selectedCountry = $(this).children("option:selected").text();
            $("#ChallanNotx").val(selectedCountry);
        });

    </script>
}
