﻿@model Erp.Core.Services.Store.VmStoreInMaster

@{
    ViewData["Title"] = "Store-In Information For New Purchase ";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //var SRSaveText = "(Main) :";
    var SRStoreName = "(Main) :";
    @if (Model.CommonStoreFK == 1)
    {
        SRStoreName = "(Cutting) :";
    }
    else if (Model.CommonStoreFK == 3)
    {
        SRStoreName = "(Sewing) :";
    }
    else if (Model.CommonStoreFK == 4)
    {
        SRStoreName = "(Ironing) :";
    }
    else if (Model.CommonStoreFK == 5)
    {
        SRStoreName = "(Packing) :";
    }
    else if (Model.CommonStoreFK == 6)
    {
        SRStoreName = "(Finishing) :";
    }
    else if (Model.CommonStoreFK == 8)
    {
        SRStoreName = "(Knitting) :";
    }

    int sl = 0;
    int ssl = 0;
}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

        @if (Model.CommonStoreFK == 0)
        {
            <div class="box box-success">

                <div class="box-header custom bg-success" id="generalHead">
                    <h1>
                        Store-In Information For New Purchase @SRStoreName
                    </h1>
                </div>
                <!-- /.box-header -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">

                        <div class="box-body">
                            <div class="row">
                                <form asp-action="StoreInMaster">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="box-header custom bg-success">
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-4">

                                                <div class="form-group" id="IPOFKddl">
                                                    <label asp-for="PurchaseOrderFK" class="control-label"></label>
                                                    <select asp-for="PurchaseOrderFK" asp-items="Model.PoList" class="form-control searchingDropdown " required>
                                                        <option value=""> Select Purchase Order </option>
                                                    </select>
                                                    <span asp-validation-for="PurchaseOrderFK" class="text-danger"></span>
                                                </div>


                                                <div class="form-group">
                                                    <label asp-for="ChallanDate" class="control-label"></label>
                                                    @*@Html.EditorFor(modelItem => Model.ChallanDate, new { htmlAttributes = new { @class = "form-control col-md-12" } })*@
                                                    <input asp-for="ChallanDate" class="form-control" placeholder="Challan Date" />
                                                    <span asp-validation-for="ChallanDate" class="text-danger"></span>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="Suplierddl">
                                                    <input type="hidden" asp-for="Common_SupplierFK" />
                                                    <input type="hidden" asp-for="StoreInType" value="New" />
                                                    <label asp-for="CommonSupplierFK" class="control-label"></label>
                                                    <select asp-for="CommonSupplierFK" asp-items="Model.SupplierList" class="form-control searchingDropdown ">
                                                        <option value=""> Supplier will be select automatic </option>
                                                    </select>
                                                    <span asp-validation-for="CommonSupplierFK" class="text-danger"></span>
                                                </div>
                                                <div class="form-group">
                                                    <label asp-for="Remarks" class="control-label"></label>
                                                    <input asp-for="Remarks" class="form-control" placeholder="Remarks" />
                                                    <span asp-validation-for="Remarks" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-group" id="ChallanNotxt">
                                                    <label asp-for="ChallanNo" class="control-label"></label>
                                                    <input asp-for="ChallanNo" class="form-control" placeholder="Challlan Number" id="ChallanNotx" />
                                                    <span asp-validation-for="ChallanNo" class="text-danger"></span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                            <button asp-action="SaveMasterItem" asp-route-id="@Model.CommonStoreFK" type="submit" id="btnsave" class="btn btn-success col-lg-1 col-md-2 col-sm-2  fa fa-plus"> Add </button>&nbsp;&nbsp;&nbsp;
                                            <button asp-action="StoreInInternal" asp-route-id="@Model.CommonStoreFK" type="submit" id="btnsaveInternal" class="btn btn-success col-lg-2 col-md-2 col-sm-2  fa fa-plus hidden"> Add Internal Challan </button>&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="box">
                                    <div class="box-header custom bg-success" id="generalHead">
                                        <h4>
                                            Store-In Master List:
                                        </h4>
                                    </div>
                                    <div class="box-body">
                                        <form asp-action="">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="table-responsive">
                                                <table id="tableX" class="table table-striped text-nowrap">
                                                    <thead>
                                                        <tr class="bg-success">
                                                            <th>SL No</th>

                                                            <th>
                                                                @Html.DisplayNameFor(model => model.StyleName)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.CID)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.ChallanDate)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.PurchaseOrder)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.SupplierName)
                                                            </th>
                                                            <th>
                                                                @Html.DisplayNameFor(model => model.ChallanNo)
                                                            </th>
                                                            <th class="hidden">
                                                                Action
                                                            </th>


                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.ID)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.ReceivedDate)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.Description)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.StockType)
                                                            </th>
                                                            <th class="hidden">
                                                                @Html.DisplayNameFor(model => model.StoreInType)
                                                            </th>
                                                        </tr>
                                                    </thead>

                                                    <tbody>
                                                        @if (Model != null)
                                                        {
                                                            bool headStyle = true; var headId = "";
                                                            @for (var i = 0; i < Model.DataListsMasterNew.Count; i++)
                                                            {
                                                                @*@if (Model.DataListsMasterNew[i].StyleName != headId)
                                                                    {
                                                                        headId = Model.DataListsMasterNew[i].StyleName;
                                                                        <tr>
                                                                            <td colspan="12" style="width:95px; background-color:#9e9fa1 !important; color:white;">@headId</td>
                                                                        </tr>
                                                                        headStyle = false;
                                                                    }*@

                                                                <tr>
                                                                    <td>
                                                                        @(++sl).
                                                                    </td>

                                                                    @*@if (Model.DataListsMasterNew[i].StyleName != headId)
                                                                        {
                                                                            headId = Model.DataListsMasterNew[i].StyleName;
                                                                            <td >
                                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].StyleName)
                                                                            </td>
                                                                            headStyle = false;
                                                                        }
                                                                        else
                                                                        {
                                                                            <td> </td>
                                                                        }*@
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].StyleName)
                                                                    </td>

                                                                    <td class="">
                                                                        <a href="~/Store/StoreInSlave/@Model.DataListsMasterNew[i].ID/@Model.CommonStoreFK">
                                                                            @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].CID)
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].ChallanDate)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].PurchaseOrder)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].SupplierName)
                                                                    </td>
                                                                    <td class="">
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].ChallanNo)
                                                                    </td>
                                                                    <td class="hidden">
                                                                        @*<a asp-action="Delete" asp-route-id="@Model.DataListsMasterNew[i].ID" class="red-text"><i class="fa fa-edit"></i> Edit </a> |*@
                                                                        <a asp-action="Delete" asp-route-id="@Model.DataListsMasterNew[i].ID" class="red-text"><i class="fa fa-list-alt"></i> Details </a>
                                                                        <a asp-action="Delete" asp-route-id="@Model.DataListsMasterNew[i].ID" class="red-text"><i class="fa fa-trash "></i> Delete </a>
                                                                    </td>


                                                                    <td class="hidden">
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].ID)
                                                                    </td>
                                                                    <td class="hidden">
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].ReceivedDate)
                                                                    </td>
                                                                    <td class="hidden">
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].Description)
                                                                    </td>
                                                                    <td class="hidden">
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].StockType)
                                                                    </td>
                                                                    <td class="hidden">
                                                                        @Html.DisplayFor(modelItem => Model.DataListsMasterNew[i].StoreInType)
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
        <br />
        <div class="box box-success">
            <div class="box-header custom bg-success" id="generalHead">
                <h1>
                    Store-In Information For Internal Challan @SRStoreName
                </h1>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">

                    <div class="box-body">
                        <div class="row">
                            <form asp-action="StoreInMaster">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="box-header custom bg-success">
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <div class="form-group" id="IPOFKddl">
                                                <label asp-for="Store_GeneralFK" class="control-label"></label>
                                                <select asp-for="Store_GeneralFK" asp-items="Model.StoreList" class="form-control" required>
                                                    <option value=""> Select Store Name </option>
                                                </select>
                                                <span asp-validation-for="Store_GeneralFK" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Remarks" class="control-label"></label>
                                                <input asp-for="Remarks" class="form-control" placeholder="Remarks" />
                                                <span asp-validation-for="Remarks" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group" id="Suplierddl">
                                                <input type="hidden" asp-for="ChallanNo" />
                                                <input type="hidden" asp-for="StoreInType" value="Internal" />
                                                <label asp-for="ChallanNoFK" class="control-label"></label>
                                                <select asp-for="ChallanNoFK" asp-items="Model.ICList" class="form-control searchingDropdown " required>
                                                    <option value=""> Challan No will be select automatic </option>
                                                </select>
                                                <span asp-validation-for="ChallanNoFK" class="text-danger"></span>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label asp-for="ReceivedDate" class="control-label"></label>
                                                <input asp-for="ReceivedDate" class="form-control" placeholder="Challan Date" />
                                                <span asp-validation-for="ReceivedDate" class="text-danger"></span>
                                            </div>
                                            <div class="form-group hidden">
                                                <label asp-for="ChallanDate" class="control-label"></label>
                                                <input asp-for="ChallanDate" class="form-control" placeholder="Challan Date" />
                                                <span asp-validation-for="ChallanDate" class="text-danger"></span>
                                            </div>

                                            @*<div class="form-group" id="ChallanNotxt">
                                                    <label asp-for="ChallanNo" class="control-label"></label>
                                                    <input asp-for="ChallanNo" class="form-control" placeholder="Challlan Number" id="ChallanNotx" />
                                                    <span asp-validation-for="ChallanNo" class="text-danger"></span>
                                                </div>*@

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-9 col-md-offset-7 col-sm-offset-5">
                                        <button asp-action="SaveMasterItem" asp-route-id="@Model.CommonStoreFK" type="submit" id="btnsave" class="btn btn-success col-lg-1 col-md-2 col-sm-2  fa fa-plus"> Add </button>&nbsp;&nbsp;&nbsp;
                                        <button asp-action="StoreInInternal" asp-route-id="@Model.CommonStoreFK" type="submit" id="btnsaveInternal" class="btn btn-success col-lg-2 col-md-2 col-sm-2  fa fa-plus hidden"> Add Internal Challan </button>&nbsp;&nbsp;&nbsp;
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="box">
                                <div class="box-header custom bg-success" id="generalHead">
                                    <h4>
                                        Store-In Master List:
                                    </h4>
                                </div>
                                <div class="box-body">
                                    <form asp-action="">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="table-responsive">
                                            <table id="tableX" class="table table-striped text-nowrap">
                                                <thead>
                                                    <tr class="bg-success">
                                                        <th>SL No</th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.StyleName)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.CID)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.ReceivedDate)
                                                        </th>
                                                        <th>
                                                            @Html.DisplayNameFor(model => model.Store_GeneralFK)
                                                        </th>
                                                        <th>
                                                            <label class="form-control-label">Internal Challan</label>
                                                        </th>

                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.ReceivedDate)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.Description)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.StockType)
                                                        </th>
                                                        <th class="hidden">
                                                            @Html.DisplayNameFor(model => model.StoreInType)
                                                        </th>
                                                        <th class="hidden">
                                                            Action
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @for (var i = 0; i < Model.DataListsMasterInternal.Count; i++)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @(++ssl).
                                                            </td>
                                                            <td class="">
                                                                <a href="~/Store/StoreInSlave/@Model.DataListsMasterInternal[i].ID/@Model.CommonStoreFK">
                                                                    @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].CID)
                                                                </a>
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].ReceivedDate)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].StoreName)
                                                            </td>
                                                            <td class="">
                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].ChallanNo)
                                                            </td>
                                                            <td class="hidden">
                                                                <a asp-action="Delete" asp-route-id="@Model.DataListsMasterInternal[i].ID" class="red-text"><i class="fa fa-edit"></i> Edit </a> |
                                                                <a asp-action="Delete" asp-route-id="@Model.DataListsMasterInternal[i].ID" class="red-text"><i class="fa fa-list-alt"></i> Details </a>
                                                                <a asp-action="Delete" asp-route-id="@Model.DataListsMasterInternal[i].ID" class="red-text"><i class="fa fa-trash "></i> Delete </a>
                                                            </td>

                                                            <td class="hidden">
                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].ID)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].ChallanDate)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].Description)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].StockType)
                                                            </td>
                                                            <td class="hidden">
                                                                @Html.DisplayFor(modelItem => Model.DataListsMasterInternal[i].StoreInType)
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () { });
        //$("#StoreInType").change(function () {
        //    //$("#IPOFK").prop('disabled', false);
        //    $("#btnsaveInternal").addClass("hidden");
        //    $("#btnsave").removeClass("hidden");
        //    //if ($("#StoreInType").val() == "1") {
        //    //    $("#ChallanNoddl").addClass("hidden");
        //    //    $("#ChallanNotxt").removeClass("hidden");
        //    //    $("#IPOFK").prop('disabled', false);
        //    //    $("#Suplierddl").removeClass("hidden");
        //    //    $("#Storeddl").addClass("hidden");
        //    //    $("#ChallanDate").prop('disabled', false);
        //    //} else {
        //    //    $("#ChallanNoddl").removeClass("hidden");
        //    //    $("#ChallanNotxt").addClass("hidden");
        //    //    $('#IPOFK').val(-1).trigger('change');
        //    //    $("#IPOFK").prop('disabled', true);
        //    //    $("#Storeddl").removeClass("hidden");
        //    //    $("#Suplierddl").addClass("hidden");
        //    //}
        //});
        $("#ChallanNoFK").change(function () {
            var selectedCountry = $(this).children("option:selected").text();
            $("#ChallanNo").val(selectedCountry);

            //var challanId = $(this).children("option:selected").val();
            //$("#hdChallanNo").val(challanId);

            //$("#btnsaveInternal").removeClass("hidden");
            //$("#btnsave").addClass("hidden");
        });

        $("#PurchaseOrderFK").change(function () {
            var id = $(this).children("option:selected").val();
            $.ajax({
                type: "GET",
                url: "/Store/GetSupplierIdByChallanID?id=" + id,
                datatype: "Json",

                success: function (data) {
                    debugger;
                    if (data) {

                        $('#Common_SupplierFK').val(data);
                        $('#CommonSupplierFK').val(data);
                        $("#CommonSupplierFK").trigger('change');
                        $('#CommonSupplierFK').val(data).attr("disabled", "disabled");
                    }
                }
            });
        });


         $("#Store_GeneralFK").change(function (e) {

            $.ajax({
                type: "GET",
                url: "@Url.Action("GetChallanByStoreID")",
                datatype: "Json",
                data: { id: $("#Store_GeneralFK :selected").val() },
                success: function (data) {

                    if (data) {
                        $("#ChallanNoFK").empty();
                        $("#ChallanNoFK").append("<option value=''> Please Select </option>");

                        $(data).each(function (index, item) {
                            $("#ChallanNoFK").append("<option value='" + item.value + "'>" + item.text + "</option>");
                        });
                    }
                }
            });
         });


    </script>
}